<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.create_post').html_safe%></h3>
  <div id="description">
		<p><%=t('help_createpost.part1').html_safe%></p>
		<p><%=t('help_createpost.part2').html_safe%> </p>		
		<p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/post_tab.png" alt="Post tab"></center></span></p>				      
		<p><%=t('help_createpost.part3').html_safe%> </p>
		<p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/new_post.png" alt="New post"></center></span> </p>		
		<p><%=t('help_createpost.part4').html_safe%><br>
		<%=t('help_createpost.part5').html_safe%> <br>
		<%=t('help_createpost.part6').html_safe%> <br>
		<%=t('help_createpost.part7').html_safe%> <br>
		<%=t('help_createpost.part8').html_safe%> <br>
		<%=t('help_createpost.part9').html_safe%> </p>
		<p><img src="/images/help/<%= I18n.locale.to_s %>/advanced_editor.png" alt="Advanced editor" height="307" width="550"><br></p>
		<ul><%=t('help_createpost.part10').html_safe%> <br> 
		<%=t('help_createpost.part11').html_safe%> <br>
		<%=t('help_createpost.part12').html_safe%> <br>
		<%=t('help_createpost.part13').html_safe%> <br>
		<%=t('help_createpost.part14').html_safe%> </ul></p>												
		<p><%=t('help_createpost.part15').html_safe%> </p>		
	</div>
</div> 