<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.create_post')%></h3>
  <div id="description">
		<p><%=t('help_createpost.part1')%></p>
		<p><%=t('help_createpost.part2')%> </p>		
		<p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/post_tab.png" alt="Post tab"></center></span></p>				      
		<p><%=t('help_createpost.part3')%> </p>
		<p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/new_post.png" alt="New post"></center></span> </p>		
		<p><%=t('help_createpost.part4')%><br>
		<%=t('help_createpost.part5')%> <br>
		<%=t('help_createpost.part6')%> <br>
		<%=t('help_createpost.part7')%> <br>
		<%=t('help_createpost.part8')%> <br>
		<%=t('help_createpost.part9')%> </p>
		<p><img src="/images/help/<%= I18n.locale.to_s %>/advanced_editor.png" alt="Advanced editor" height="307" width="550"><br></p>
		<ul><%=t('help_createpost.part10')%> <br> 
		<%=t('help_createpost.part11')%> <br>
		<%=t('help_createpost.part12')%> <br>
		<%=t('help_createpost.part13')%> <br>
		<%=t('help_createpost.part14')%> </ul></p>														
		<p><%=t('help_createpost.part15')%> </p>		
	</div>
</div>             
