<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.create_space').html_safe%></h3>
  <div id="description">
    <p><%=t('help_createspace.part1').html_safe%></p>
    <p><%=t('help_createspace.part2', :url=>home_path).html_safe%> <br>
    <%=t('help_createspace.part3',:url=>new_space_path).html_safe%> <br>
    <%=t('help_createspace.part4').html_safe%> <br>
    <%=t('help_createspace.part5').html_safe%> <br>
    <%=t('help_createspace.part6').html_safe%> </p>
    <span><center><img src="/assets/help/<%= I18n.locale.to_s %>/create_space.png" alt="space"></center></span><br>
  </div>
</div>
