<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.export_program')%></h3>
  <div id="description">
		<p><%=t('help_export.part1')%></p>
		<p><%=t('help_export.part2')%></p>
		<p><%=t('help_export.part3')%></p>
		<p><%=t('help_export.part4')%></p>
		<span><center><img src="/images/help/<%= I18n.locale.to_s %>/export.png" alt="space"></center></span><br>
		<p><%=t('help_export.part5')%></p>
		<span><img src="/images/help/<%= I18n.locale.to_s %>/scorm_moodle.png" alt="space" width=620 height=400></span><br>
	</div>
</div>             
