<% content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>


<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.about_vcc')%></h3>
  <div id="description">
		<p><%=t('help_index.part1')%></p>
		<p><%=t('help_index.part2')%></p>		      
		<p><%=t('help_index.part3', :tnc08=>"http://globalplaza.org/spaces/terena/events/tnc-2008?show_agenda=true",:tnc09=>"http://globalplaza.org/spaces/terena/events/tnc-2009?show_agenda=true",:tnc10=>"http://globalplaza.org/spaces/terena/events/tnc-2010?show_agenda=true")%>
		<%=t('help_index.part4', :india=>"http://globalplaza.org/spaces/global/events/belief-ii-6choice-india-symposium?show_agenda=true",:brazil=>"http://globalplaza.org/spaces/belief-ii/events/4th-belief-international-symposium-plenary?show_agenda=true",:southafrica=>"http://globalplaza.org/spaces/global/events/5th-belief-symposium?show_agenda=true")%>
		<%=t('help_index.part5', :egee08=>"http://globalplaza.org/spaces/egee/events/egee08?show_agenda=true",:egee05=>"http://globalplaza.org/spaces/egee/events/5th-egee-user-forum?show_agenda=true",:morfeo=>"http://globalplaza.org/spaces/morfeo-project/events/3-asamblea-del-proyecto-morfeo?show_agenda=true")%></p>
		<p><%=t('help_index.part6',:url=>signup_path)%></p>
		<span><center><img src="images/frontpage/video_1_happy.jpg" alt="videos online" ALIGN="middle"/></center></span><br>
		<p><%=t('help_index.part7',:create=>new_space_path)%></p>
		<p><%=t('help_index.part8', :web_global=>"http://www.global-project.eu", :isabel=>"http://isabel.dit.upm.es/mediawiki/index.php/Isabel_v5_Quick_Guide",:create=>new_space_path,:url=>signup_path)%></p>							
  </div>
</div>	              

