<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.join_space')%></h3>
  <div id="description">
		<p><%=t('help_join_space.part1')%></p>
		<p><%=t('help_join_space.part2', :url=>"search_event")%></p>
		<p><%=t('help_join_space.part3')%></p>				
		<p><img src="/images/help/<%= I18n.locale.to_s %>/join_space.png"></p>
		<p><%=t('help_join_space.part4')%></p>
		<p><%=t('help_join_space.part5')%></p>		
		<p><img src="/images/help/<%= I18n.locale.to_s %>/join_request.png"></p>						      
	</div>
</div>             
