<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.logging')%></h3>
  <div id="description">
		<p><%=t('help_logging.part1', :url=>login_path).html_safe%></p>		      
                <span><center><img src="/images/help/<%= I18n.locale.to_s %>/login.png" alt="login"></center></span><br>
		<p><%=t('help_logging.part2').html_safe%> </p>
		<span><center><img src="/images/help/<%= I18n.locale.to_s %>/openid.png"></center></span><br>
		<p><%=t('help_logging.part3', :url=>lost_password_path).html_safe%></p>
	</div>
</div>             
