<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.new_doc').html_safe%></h3>
  <div id="description">
		<p><%=t('help_newdoc.part1').html_safe%></p>
		<p><%=t('help_newdoc.part2').html_safe%> </p>		
		<p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/new_document.png" alt="new document"></center></span></p>				      
		<p><%=t('help_newdoc.part3').html_safe%> <br>
		<%=t('help_newdoc.part4').html_safe%> </p>
		<p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/add_document.png" alt="add document"></center></span> <br>		
		<%=t('help_newdoc.part5').html_safe%> <br>
		<%=t('help_newdoc.part6').html_safe%> <br>
		<%=t('help_newdoc.part7').html_safe%> </p>
	</div>
</div>             
