<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.new_doc')%></h3>
  <div id="description">
		<p><%=t('help_newdoc.part1')%></p>
		<p><%=t('help_newdoc.part2')%> </p>		
		<p><span><center><img src="/images/help/new_document.png" alt="new document"></center></span></p>				      
		<p><%=t('help_newdoc.part3')%> </p>
		<p><span><center><img src="/images/help/add_document.png" alt="add document"></center></span> <br>		
		<%=t('help_newdoc.part4')%> <br>
		<%=t('help_newdoc.part5')%> <br>
		<%=t('help_newdoc.part6')%> <br>
		<%=t('help_newdoc.part7')%> </p>
	</div>
</div>             
