<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.create_VM').html_safe%></h3>
  <div id="description">
    <p><%=t('help_createVM.part1').html_safe%></p>
                <p><span><center><img src="/assets/help/<%= I18n.locale.to_s %>/create_VM.png"></center></span></p>
    <p><%=t('help_createVM.part2').html_safe%></p>
    <p><span><center><img src="/assets/help/<%= I18n.locale.to_s %>/VM.png"></center></span></p>
                <p><%=t('help_createVM.part3',:agenda=>"define_agenda").html_safe%></p>
                <p><img src="/assets/help/<%= I18n.locale.to_s %>/VM_created.png" height="488" width="610"></p>

  </div>
</div>
