<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.participation')%></h3>
  <div id="description">
		<p><%=t('help_participation.part1')%></p>		      
		<p><%=t('help_participation.part2')%></p>
		<p><%=t('help_participation.part3')%></p>	      
		<p><%=t('help_participation.part4')%></p>
	</div>
</div>             
