<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.search_event')%></h3>
  <div id="description">
		<p><%=t('help_createspace.part1')%></p>		      
		<p><%=t('help_createspace.part2', :url=>home_path)%> <br>
		<%=t('help_createspace.part3',:url=>new_space_path)%> <br>		      
		<%=t('help_createspace.part4')%> <br>
		<%=t('help_createspace.part5')%> <br>		      
		<%=t('help_createspace.part6')%> </p>
		<span><center><img src="/images/help/<%= I18n.locale.to_s %>/create_space.png" alt="space"></center></span><br>
	</div>
</div>             
