<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.search_global')%></h3>
  <div id="description">
		<p><%=t('help_search_global.part1')%></p>
		<p><%=t('help_search_global.part2')%>
		<span><center><img src="/images/help/<%= I18n.locale.to_s %>/search.png" alt="space"></center></span>		
		<%=t('help_search_global.part3')%><br>
		<%=t('help_search_global.part4')%><br>
		<%=t('help_search_global.part5')%></p>		
		<p><%=t('help_search_global.part6')%>
		<span><center><img src="/images/help/<%= I18n.locale.to_s %>/advanced_search.png" alt="space"></center></span>		
		<%=t('help_search_global.part7')%><br>
		<%=t('help_search_global.part8')%><br>
		<%=t('help_search_global.part9')%><br>
		<%=t('help_search_global.part10')%><br>
		<%=t('help_search_global.part11')%><br>
		<%=t('help_search_global.part12')%></p>										
	</div>
</div>             
