.centralized
  %h1.title= t('.hello')
  .subtitle= t('.subtitle')

%p= t('.content', name: @user.name, email: @user.email).html_safe

.info-block
  .info-block-section= @subject
  .info-block-section= @text
