<script type="text/javascript">
  $(document).ready(function () {
    $("#invite_members_tokens").tokenInput("/invite/invite_room.json", { 
      crossDomain: false,
      theme: 'facebook',
      preventDuplicates: true
    });
  });
</script>

<div class="webconf-rooms">
  <h3> <%= t('webconference.invite_webconference') %> </h3>
</div>

<%= form_for(:invite, :url => sendinvite_invite_path) do |f| %>

  <div class="webconf-rooms">
    <span class="text"><%= t('invite_people.room') %><span class="red_c"><%= @room_name %></span></span>
    <div class="clearer"></div>
    <br>
    <div class="webconference-url"> <%= @room_url%> </div>
    <div class="clearer"></div>
    <br>
    <span class="text"><span class="red_c"><%= t('invite_people.member.other') %></span></span>
    <div class="clearer"></div>
    <div>
      <span class="text"><%= f.label :members_tokens, t('invite_people.name.one') %></span>
	    <%= f.text_field :members_tokens, :size =>45 %>
    </div>
    <div class="clearer"></div>
    <br>
    <div>
      <%= f.check_box :im_check %>
      <%= "Internal Message" %> 
      <%= f.check_box :email_check %>
      <%= "E-mail" %>
    </div>
    <br>
    <span class="text"><span class="red_c"><%= t('invite_people.member.non.other') %></span></span>
    <div class="clearer"></div>
    <div>
    <span class="text"><%= f.label :email_tokens, t('invite_people.email.other') %></span>
	    <%= f.text_field :email_tokens, :size =>45 %>
    </div>
    <div class="clearer"></div>
    <br>
    <span class="text"><span class="red_c"> <%= t('invite_people.message.one') %> </span></span>
    <div class="clearer"></div>
    <%= f.text_area :message, :id=> "text_message", :size=> "56x5" %>
    <div class="clearer"></div>
    <button type="submit" class="small_button pale_button bigbluebutton_button rounded_button"><%=t('button.ok')%></button>
  </div>

<% end %>
