<script type="text/javascript">
  $(document).ready(function () {
    $("#invite_members_tokens").tokenInput("/invite/invite_room.json", {
      crossDomain: false,
      theme: 'facebook',
      preventDuplicates: true,
      searchDelay: 200,
      hintText: "<%= t('invite_people.users.hint') %>",
      noResultsText: "<%= t('invite_people.users.no_results') %>",
      searchingText: "<%= t('invite_people.users.searching') %>"
    });
  });
</script>

<div class="modal-title">
  <% if @type == "webconference" %>
    <%= t('webconference.invite_webconference') %>
  <% elsif @type == "event" %>
    <%= t('event.invite_event', :event_name => @event.name) %>
  <% end %>
</div>

<div id="webconference_invite_dialog" class="modal-content">

  <% if @type == "webconference" %>
    <div class="header">
      <div class="label"><%= t('invite_people.room_name') %></div>
      <div class="value"><span><%= @room.name %></span></div>
      <div class="label"><%= t('home.webconference.your_url') %></div>
      <div class="value">
        <%= text_field_tag "room_invite_url", join_webconf_url(@room), :disabled => true %>
      </div>
      <div class="clippy">
        <%= clippy(:id => "room_invite_url", :bg_color => "#FFFFFF").html_safe %>
      </div>
    </div>
  <% end %>

  <%= form_for(:invite, :url => sendinvite_invite_path) do |f| %>
    <%= f.hidden_field :type, :value => @type %>

    <div class="block">
      <h3><%= t('invite_people.mconf_users') %></h3>

      <%= f.label :members_tokens, t('invite_people.names') %>
      <span class="tip">(<%= t('invite_people.names_tip') %>)</span><br/>
      <%= f.text_field :members_tokens %>

      <%= t('invite_people.notify_by') + ':' %>
      <%= f.check_box :im_check, :checked => 'checked' %>
      <%= t('invite_people.internal_message') %>
      <%= f.check_box :email_check, :checked => 'checked'  %>
      <%= t('invite_people.email.one') %>
   </div>

    <div class="block">
      <h3><%= t('invite_people.other_people') %></h3>

      <%= f.label :email_tokens, t('invite_people.email.other') %>
      <span class="tip">(<%= t('invite_people.emails_tip') %>)</span><br/>
      <%= f.text_field :email_tokens, :size => 76 %>
    </div>

    <div class="block">
      <% if @type != "event" %>
        <h3><%= t('invite_people.message') %> </h3>

        <%= f.text_area :message, :id=> "text_message", :size=> "64x5" %>
      <% end %>
      <% if @type == "webconference" %>
        <%= f.hidden_field :room_name, :value => @room.name %>
        <%= f.hidden_field :room_url, :value => join_webconf_url(@room) %>
      <% elsif @type == "event" %>
        <%= f.hidden_field :event_id, :value => @event.id %>
      <% end %>
    </div>

    <div class="submit">
      <button type="submit" class="basic_button blue_button">
        <%=t('invite_people.send_invitations')%>
      </button>
    </div>

  <% end %>

</div>
