<%= content_for :sidebar do%>
  <%if params[:reply_to] %>
    <%= render :partial => "reply_private_message", :locals => { :previous_message =>  PrivateMessage.find(params[:id])}%>
  <%end%>
<%end%>

<h3><%=sanitize(@show_message.title)%></h3>

<p>
  <%if @show_message.sender_id.present?%>
           <%= link_logotype(User.find(@show_message.sender_id), :size => 96, :title=>User.find(@show_message.sender_id).name).html_safe%> <%=@is_receiver ? "Received" : "Sent"%> <%=time_ago_in_words(@show_message.created_at)%> ago
  <%end%>
        <% if @is_receiver -%>
    <%if @show_message.sender_id.present?%>
      <%= link_to image_tag("ui/icons/arrow-rotate-anticlockwise.png", :alt => t('reply') ).html_safe, user_message_path(params[:user_id],@show_message, :reply_to => true), :title => t('reply') unless params[:reply_to]%>
    <%end%>
    <%= link_to image_tag("ui/icons/cross.png", :alt => t('delete.one') ).html_safe, user_message_path(params[:user_id],@show_message, :private_message => {:deleted_by_receiver => true}), :confirm => t('delete.confirm', :element => @show_message.title), :method => :delete, :title => t('delete.one') %>
  <%else%>
    <%= link_to image_tag("ui/icons/cross.png", :alt => t('delete.one') ).html_safe, user_message_path(params[:user_id],@show_message, :private_message => {:deleted_by_sender => true}), :confirm => t('delete.confirm', :element => @show_message.title), :method => :delete, :title => t('delete.one') %>
  <% end -%>
</p>

<p><%= sanitize(auto_link(simple_format(@show_message.body)))%></p>

<%= link_to t('back_to_inbox'), user_messages_path(params[:user_id])%>


