.centralized
  %h1.title= t('.message.hello')
  .subtitle= t('.message.subtitle')

%p= t('.message.header', sender: @invitation.sender.name, email_sender: @invitation.sender.email, room: @invitation.room_name).html_safe

%h2= t('.message.how_to')
%p= t('.message.how_to_text').html_safe

= render "shared/invitation_email"

-# %h2= t('.message.did_you_know')
-# %p
-#   = t('.message.did_you_know_text').html_safe
-#   %span= mail_to Site.current.smtp_receiver
