<table>
	<tr>
 <td>Login:</td><td> <%= @user.login%> </td><td>Email Notifications</td></tr>
<tr><td>Email:</td><td> <%= @user.email%></td></tr>
<tr><td>Email 2:</td><td><%= @user.email2%></td></tr>
<tr><td>Email 3:</td><td><%= @user.email3%></td></tr>
<tr><td>Your Interests, Tags: <%= @user.tag_list if @user.tag_list%></td></tr>


</table>
<%= link_to 'Edit' , edit_space_user_profile_path(@space.id, @user.id)%>