<div id="contenedor_div">
<div id="my_account">
		<p><span class="login_account"></span><%= t('login') %>: <%= @user.login%></p>
 		<p> <span class="email_account"></span><%= t('email.one') %>: <%= @user.email%></p>
		<p> <span class="interests_account"></span><%= t('your_interests_tags') %>: <%= @user.tag_list if @user.tag_list%></p>
		<p> <span class="notifications_account"></span><%= t('email.notifications') %></p>
	</div>
<div id="editar" class="margin-up">
	<%if current_user.superuser? || @user==current_user%>	
	<%= button_to t('edit') , edit_user_path(@user), :method => :get%>
	<%end%>
</div>
</div>