<p><label for="organization">Organization</label><br/>
<%= f.text_field :organization %></p>

<p><label for="phone">Phone</label><br/>
<%= f.text_field :phone %></p>

<p><label for="mobile">Mobile</label><br/>
<%= f.text_field :mobile %></p>

<p><label for="fax">Fax</label><br/>
<%= f.text_field :fax%></p>

<p><label for="address">Address</label><br/>
<%= f.text_field :address %></p>

<p><label for="city">City</label><br/>
<%= f.text_field :city %></p>

<p><label for="zipcode">Zipcode</label><br/>
<%= f.text_field :zipcode%></p>

<p><label for="province">Province</label><br/>
<%= f.text_field :province %></p>

<p><label for="country">Country</label><br/>
<%= f.text_field :country %></p>

<%= f.logo :title => 'Avatar' %>
