
<%content_for :sidebar do %>
  <div class="profile-box">
	<div id="title">
	 <h3 class="item_title"><span><%=@user.name%></span> <%= t('is_member_of') %>:</h3>
	</div>
	<div id="profile_content">
		<%= @user_spaces.empty? ? @user.name + t("space.does_not_belong") : ""%>
		<%for space in @user_spaces do%>
			<div class="space_item"><%= space.authorize?([:read , :content], :to => current_user) ? link_logo(space, :size => 'h64', :title=> space.name): logotype(space, :size => 'h64')%></div>
		<%end%>
	</div>
  </div>
<%end%>

<div class="profile-box">
  <div id="title">	
	<h3 class="item_title"><%= t('personal_information') %></h3> 
  </div>
  <div id="profile_content">
	  <div class="logo">
	  	<%=logo(@user, :size => 48)%>
	  </div>
	  <div class="vcard" id="card">
	    <ul class="adr">	  
		  <li class="fn n"><span class="person_title"><%= t('name.one') %>: </span><%=@user.full_name%></li>
	 	  <li class="street-address"><span class="person_title"><%= (t('address') + ":")if (@profile.address.present?) %> </span> <%= @profile.address%></span></li>
		  <li class="locality"><span class="person_title"><%= (t('city')+ ":")%> </span><%= @profile.city%></li>
		  <li class="region"><span class="person_title"><%= (t('province')+ ":")if (@profile.province.present?) %> </span><%= @profile.province%></span></li>
		  <li class="country-name"><span class="person_title"><%= (t('country')+ ":") %> </span><%= @profile.country%></li>
		  <li class="postal-code"><span class="person_title"><%= (t('zipcode')+ ":")if (@profile.zipcode.present?) %> </span> <%= @profile.zipcode%></span></li>
		</ul>
		<div class="telecommunications">
		  <div id="contact_line"><span class="bold"><%=t("contact_information")%></span></div>
		  <ul>
		    <li class="type"><span class="person_title"><%=t("phone") if (@profile.phone.present?)%><%= "/" if (@profile.fax.present? and @profile.phone.present?)%><%="Fax" if (@profile.fax.present?)%><%= ": " if (@profile.fax.present? or @profile.phone.present?)%></span><%= @profile.phone%><%= " / " if (@profile.fax.present? and @profile.phone.present?)%><%=@profile.fax%></li>
		    <!--<li class="type"><span class="value"><%= @profile.mobile%></span></li>-->
		    <li class= "org"><span class="person_title"><%=(t("organization") + ":") if (@profile.organization.present?)%></span> <%= @profile.organization%></li>
		    <li class="email"><span class="person_title"><%= t('e-mail.one') %>: </span><a class="value" href="mailto:<%= @user.email %>"><%= @user.email %></a></li>
		  </ul>
		</div>
		<%if current_user.superuser? || @user==current_user%>
		  <%= button_to t('edit_profile'), edit_user_profile_path(@user) ,:method => :get %>  
		<%end%> 
	  </div>
  </div>
</div>
<div class="profile-box">
  <div id="title">
  	<div id="help2" title="<%= t('information.information3')%>"></div>
	<h3 class="item_title"> <%=t('recent.activity')%> </h3>
  </div>
  <div id="profile_content">
  	  <%= @latest_posts.empty? ? "The User doesn't have any recent activity" : "" %>
	  <% for post in @latest_posts -%>
		<%=render :partial => "posts/profile_post", :locals => { :post =>  post, :selected_post => false} %> 
	  <%end%>
  </div>	
</div>
