 <h4 class="title"><%=@user.full_name%> profile (Hcard)</h4>

 <div class="vcard" id="card">
 	
	<%=link_logo(@user)%>
	
	<span class="fn n"><%=@user.full_name%></span>
   
 	<div class="adr">
 			
		 <p class="street-address"> <%= @profile.address%> </p>
		 <p class="locality"> <%= @profile.city%></p>
		 <span class="region" title="<%= @profile.province%>"><%= @profile.province%></span>
		 <span class="postal-code"> <%= @profile.zipcode%></span>
		
		 <p class="country-name"><%= @profile.country%></p>
 
 	</div>
	
  	
	<div class="telecommunications">
		
		 <span class="tel"> Work
		 	<span class="type">Phone/Fax:</span><span class="value"><%= @profile.phone%><%= " / " if @profile.fax != ""%><%=@profile.fax%></span>
		 </span><br/>
		 <span class="type">Mobile</span>: <span class="value"><%= @profile.mobile%></span>
		 <p class= "org">Organization: <%= @profile.organization%></p>
		 <p class="email">Email: <a class="value" href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
	 
	 </div>

</div>

<br/>
<%if current_user.superuser? || @user==current_user%>
<%= button_to 'Edit', edit_user_profile_path(@user) ,:method => :get %>  
<%end%>
<!--<div class="type">
 			<abbr class="geo" title="40.546157;-3.636475">Work</abbr>
		 	</div>
	    	-->
			<!--<div class="type">
 			<abbr class="geo" title="40.546157;-3.636475">Work</abbr>
		 	</div>
		-->
