
<%content_for :sidebar do %>
  <div>
	<h3 class="item_title"><span><%=@user.name%></span><%= @user_spaces.nil? ? " doesn't belong to any space" : " is member of : "%></h3>
		<%for space in @user_spaces do%>
			<p><%= space.authorizes? ([:read , :Content], :to => current_user) ? link_logotype(space, :size => 48) : logotype(space, :size => 48)%></p>
		<%end%>
  </div>
<%end%>

<div class="profile-box">
  <div id="title">	
	<h3 class="item_title">Personal Information</h3> 
  </div>
  <div id="profile_content">
	  <div class="logo">
	  	<%=logo(@user, :size => 48)%>
	  </div>
	  <div class="vcard" id="card">
	    <ul class="adr">	  
		  <li class="fn n">Name<span><%=@user.full_name%></span></li>
	 	  <li class="street-address"> <%= @profile.address%></span></li>
		  <li class="locality"> <%= @profile.city%></span></li>
		  <li class="country-name"><%= @profile.country%></span></li>
		  <li class="region"><%= @profile.province%></span></li>
		  <li class="postal-code"> <%= @profile.zipcode%></span></li>
		</ul>
		<div class="telecommunications">
		  <ul>
		    <li class="type">Phone/Fax:<span class="value"><%= @profile.phone%><%= " / " if @profile.fax != ""%><%=@profile.fax%></span></li>
		    <li class="type">Mobile: <span class="value"><%= @profile.mobile%></span></li>
		    <li class= "org">Organization: <%= @profile.organization%></li>
		    <li class="email">Email: <a class="value" href="mailto:<%= @user.email %>"><%= @user.email %></a></li>
		  </ul>
		</div>
		<%if current_user.superuser? || @user==current_user%>
		  <%= button_to 'Edit', edit_user_profile_path(@user) ,:method => :get %>  
		<%end%> 
	  </div>
  </div>
</div>
<div class="profile-box">
  <div id="title">
	<h3 class="item_title"> Recent activity </h3>
  </div>
  <div id="profile_content">
  	  <%= @latest_posts.nil? ? "The User doesn't have recent activity" : "" %>
	  <% for post in @latest_posts -%>
		<%=render :partial => "posts/profile_post", :locals => { :post =>  post, :selected_post => false} %> 
	  <%end%>
  </div>	
</div>
