
<div class="profile-box">
  <div id="title">
    <div id="help" title="<%= h(t('profile.private_description')) %>"></div>
    <h3 class="item_title"><%= t('profile.private') %></h3> 
  </div>

  <div id="profile_content">
	  	
      <ul>
      	<li><span class="person_title"><%= t('profile.visibility') + ":" %> <%= t( 'profile.visibility_' + (Profile::VISIBILITY[@profile.visibility]).to_s ) %></span></li>
        <li><span class="person_title"><%= (t('address') + ":") if (@profile.address.present?) %> </span> <span class="street-address"><%= @profile.address%></span></li>
        <li><span class="person_title"><%= (t('zipcode')+ ":")if (@profile.zipcode.present?) %> </span> <span class="postal-code"><%= @profile.zipcode%></span></li>
        <li><span class="person_title"><%=(t("phone.landline") + ":") if (@profile.phone.present?)%></span><span class="tel"><span class="value"><%= @profile.phone%></span></span></li>
        <li><span class="person_title"><%=(t("phone.mobile") + ":") if (@profile.mobile.present?)%></span> <span class="tel"><span class="value"><%= @profile.mobile%></span></span></li>
        <li><span class="person_title"><%=(t("fax") + ":") if (@profile.fax.present?)%></span> <span class="tel"><span class="value"><%= @profile.fax%></span></span></li>
        <li><span class="person_title"><%= t('e-mail.one') %>: </span><span class="email"><a class="value" href="mailto:<%= @user.email %>"><%= @user.email %></a></span></li>
        <li><span class="person_title"><%=(t("skype") + ":") if (@profile.skype.present?)%></span> <%=( link_to @profile.skype, "callto://"+@profile.skype )if (@profile.skype.present?)%></li>
        <li><span class="person_title"><%=(t("im") + ":") if (@profile.im.present?)%></span> <%= @profile.im%></li>
      </ul>

  </div>
</div>
