<div class="title margin-up">
  <h3 class="item_title"><%= t('contact_information') %></h3> 
</div>

<div id="profile_content">
  <div class="profile_content_item">	
    <%if (@profile.phone.present?) || (@profile.mobile.present?) || (@profile.fax.present?)%>
		<ul><li><h4><%=t('phone.plural')%></h4></li></ul>
		<ul>
      <li><span class="category"><%=(t("phone.one") + ":") if (@profile.phone.present?)%></span><span class="tel data"><span class="value"><%= @profile.phone%></span></span></li>
      <li><span class="category"><%=(t("phone.mobile") + ":") if (@profile.mobile.present?)%></span> <span class="tel data"><span class="value"><%= @profile.mobile%></span></span></li>
      <li><span class="category"><%=(t("fax") + ":") if (@profile.fax.present?)%></span> <span class="tel data"><span class="value"><%= @profile.fax%></span></span></li>
    </ul>
		<%end%>
    <ul><li><h4><%= t('internet.ppal') %></h4></li></ul>
		<ul>
			<li><span class="category"><%= t('e-mail.one') %>: </span><span class="email data"><a class="value" href="mailto:<%= @user.email %>"><%= @user.email %></a></span></li>
      <li><span class="category"><%=(t("skype") + ":") if (@profile.skype.present?)%></span><span class="data"><%=( link_to @profile.skype, "callto://"+@profile.skype )if (@profile.skype.present?)%></span></li>
      <li><span class="category"><%=(t("im") + ":") if (@profile.im.present?)%></span><span class="data"><%= @profile.im%></span></li>
    </ul>
  </div>
</div>