
<div class="profile-box">
  <div id="title">
    <div id="help" title="<%= t('profile.public_description') %>"></div>
    <h3 class="item_title"><%= t('profile.public') %></h3> 
  </div>
  <div id="profile_content">
	  <div class="logo">
	  	<%=logo(@user, :size => 48)%>
	  </div>
	  
      <ul>
		<li><span class="person_title"><%= t('name.one') %>: </span><span class="fn n"> <span class="honorific-prefix"><%= @profile.prefix%></span><span class="given-name"> <%=@user.full_name%></span></span></li>
		<li><span class="person_title"><%= (t('city')+ ":") if (@profile.city.present?) %> </span><span class="locality"><%= @profile.city%></span></li>
		<li><span class="person_title"><%= (t('province')+ ":")if (@profile.province.present?) %> </span><span class="region"><%= @profile.province%></span></li>
		<li><span class="person_title"><%= (t('country')+ ":")if (@profile.country.present?) %> </span><span class="country-name"><%= @profile.country%></span></li>
		<li><span class="person_title"><%= (t('description')+ ":")if (@profile.description.present?) %> </span> <%= @profile.description%></li>
        <li><span class="person_title"><%=(t("organization") + ":") if (@profile.organization.present?)%></span> <span class= "org"><%= @profile.organization%></span></li>
		<li><span class="person_title"><%=(t("url") + ":") if (@profile.url.present?)%></span> <span class= "url"><%=( link_to @profile.url, @profile.url, :target => "_blank") if (@profile.url.present?)%></span></li>
      </ul>
  </div>
</div>