<%content_for :sidebar do %>
<div id="profile_right">
  <% if @profile.authorize? :read, :to => current_user %>
    <%= render :partial=>'profiles/private_hcard'%>
  <% end %>
  <div id="profile_spaces">
	  <%= render :partial => 'profiles/user_spaces', :locals => {:show_user =>@user, :title=>"#{@user.name} #{t('is_member_of')}"} %>
  </div>
</div>
<%end%>

<div id="profile_left">
  <div class="profile_logo">
    <%=logo(@user, :size => '128')%>
  </div>
	
  <%if @profile.authorize? :update, :to => current_user%>
      <div class="button_wrapper">
        <%= link_to t('edit_profile'),edit_user_profile_path(@user)%>
      </div>    
  <%end%>
	
  <span class="adr">
    <%= render :partial=>'profiles/public_hcard'%>
  </span>
 
</div>

<div class="profile_center">
	<!--
	<div class="button_wrapper grey_bar">
	  <%=link_to ("<span>" + t('edit_profile') + "</span>"),edit_user_profile_path(@user), {:class=>"grey_button basic_button",:title => t('event.view_agenda')} %>
	  <%=link_to ("<span>" + "write a message" + "</span>"), "#", {:id=>"view_repo", :class=>"grey_button basic_button",:title => t('event.view_repo')} %>
	</div>
  -->
  <div class="title">
  	<h3 class="item_title">
  		<div id="help2" title="<%= h(t('information.information3'))%>"></div>
			<%=t('recent.activity')%> </h3>
  </div>
  <div id="profile_content">
    <% @latest_posts = [] # TODO %>
  	  <%if @latest_posts.empty?%>
			 <p class="nothing"><%=t('user.noactivity', :user=>@user.name)%></p>
			<%end%> 
	  <% for post in @latest_posts -%>
		  <%=render :partial => "posts/profile_post", :locals => { :post =>  post, :selected_post => false} %> 
	  <%end%>
  </div>	
</div>
