<%= content_for :sidebar do %>
<div id="profile_right">
  <div id="profile_spaces">
          <%= render :partial => 'profiles/user_spaces', :locals => {:show_user =>@user, :title=>"#{t('space.other')}"} %>
  </div>
</div>
<%end%>

<div id="profile_left">
        <div class="profile_logo">
          <%=logo(@user, :size => '128').html_safe%>
        </div>

  <ul class="first_options">
    <%="<li> #{link_to t('edit_profile'), edit_user_profile_path(@user)} </li>".html_safe if @profile.authorize? :update, :to => current_user%>
        <%="<li> #{link_to t('vCard.export'), user_profile_path(@user,:format => 'vcf')} </li>".html_safe if @profile.authorize? :update, :to => current_user%>
    <%="<li> #{link_to t('message.private.new'), new_user_message_path(:user_id => current_user.to_param, :receiver => @user.id), :id => 'new_private_message_link'} </li>".html_safe if ((@user != current_user) && (current_user != Anonymous.current))%>
  </ul>

  <span class="adr">
    <%= render :partial=>'profiles/public_hcard'%>
  </span>

  <% if @profile.authorize? :read, :to => current_user %>
    <%= render :partial=>'profiles/private_hcard'%>
  <% end %>

        <ul class="last_options">
          <li><%=link_to "Block user", "#" if @user != current_user %></li>
                <li><%=link_to "Report spam user", "#" if @user != current_user %></li>
  </ul>

</div>

<div class="profile_center">
  <div id="flash_div" class="success" style="display:none"></div>
  <% flash.each do |name, msg| %>
    <div class="<%= name %>"><%= msg %></div>
  <% end %>
  <div class="title">
        <h3 class="item_title">
                <div id="help2" title="<%= h(t('information.information3'))%>"></div>
                        <%=t('recent.activity')%> </h3>
  </div>
  <div id="profile_content">
          <%if @recent_activity.empty?%>
      <p class="nothing"><%=t('user.noactivity', :user=>@user.name)%></p>
                <%end%>
          <% @recent_activity.each do |content| -%>
                  <% case content
         when Post -%>
          <%= render :partial => "posts/unified_post" , :locals => {:thread => content.reload, :extended => false} %>
      <% when Event -%>
          <%= render :partial => "events/unified_event", :locals => {:event => content.reload} %>
      <% when Attachment -%>
          <%= render :partial => "attachments/unified_attachment", :locals =>{:attachment => content.reload} if content.post.blank?%>
    <% else -%>
      <div><%=t('unknown_content', :content => content.class)%></div>
    <% end -%>
          <%end%>
                <%= will_paginate @recent_activity %>
  </div>
</div>
