-# Note: this view can be seen by the user himself or by an admin.
-#   The page and the strings have to look good in both cases.


= page_title t('.title', name: @user.full_name)

= content_for :sidebar do
  = render 'shared/user_card', user: @user, editing: true

  .sidebar-top-action-button
    = link_to t('.view_your_profile'), user_profile_path(@user), class: "btn btn-default"

  - if can?(:update, @profile)
    .sidebar-top-action-button
      = link_to t('.vcard.export'), user_profile_path(@user, format: 'vcf'), class: "btn btn-default"
      = simple_form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true, :method => :put } do |f|
        = link_to '#profile_vcard', :"data-open-file" => true, :class => "btn btn-default" do
          = icon_help t(".vcard.tooltip")
          = t('.vcard.use')
        = f.input :vcard, :as => :file, :id => 'profile_vcard'
        = f.submit :id => 'profile-vcard-submit'

  - if @profile.logo_image.blank? && current_site.use_gravatar?
    .using-gravatar.tooltipped{ title: t('.explain_gravatar') }= t('.using_gravatar')

= simple_form_for @profile, :url => user_profile_path(@user), :html => { :class => 'single-column' } do |f|
  = render :partial => 'form', :locals => { :f => f, :user => @user }
