<% content_for :headers do%>
  <%= javascript_include_tag 'jquery.filestyle','jquery.jcrop' %>
<%end%>

<% content_for :javascript do%>
  <%= render :partial => 'logos/crop_logo.js.erb',
             :locals => { :url_form   => precrop_user_avatar_path(@profile.user),
                          :aspect_ratio => Avatar::ASPECT_RATIO
                        } %>
<% end %>

<% content_for :sidebar do  %>
   <div id="update_logo" class="update_logo">
    <%if @profile.logo%>
      <h3><%= t('avatar.current') %></h3>
      <p><%=logo(@profile.logo, :size => 64)%></p>
      <%end%>
		<h3><%=@profile.logo ? t('avatar.select_new') : t('avatar.select') %></h3>
    <% form_for @profile.logo || Avatar.new, :url => [@profile.user, @profile.logo || :avatar], :html => { :multipart => true, :method => :put} do |f| %>
      <p><%= f.file_field :media, :id => 'logo_media' %></p>		
      <div class="margin-up"><button type="submit" class="basic_button blue_button"><%=t("button.update")%></button></div>
    <%end%>
  </div>
  
  <div id="upload_vcard" class="margin-up">
	<h3><%=t("vCard.use")%></h3>
    <% form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true, :method => :put } do |f| %>
		<p><%= file_field 'vcard_file', 'data' %></p>

		<div class="margin-up"><button type="submit" class="basic_button blue_button"><%=t("button.update")%></button></div>
	<% end %>
  </div> 
  
<% end %>

<div id="edit_profile" class="blue_title"><h3><%= t('edit_your_profile') %></h3></div>

<%= error_messages_for :profile %>

<% form_for @profile, :url => user_profile_path(@user) , :html => { :multipart => true } do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>
<div class="margin-up">
  <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
</div>
<% end %>

<div id="for_lightbox" style="display:none"></div>
