<% content_for :headers do%>
  <%= javascript_include_tag 'jquery.filestyle','jquery.jcrop' %>
<%end%>

<% content_for :javascript do%>
  <%= render :partial => 'avatars/crop_avatar.js.erb' %>
<% end %>

<% content_for :sidebar do  %>
   <div id="update_avatar">
    <%if @profile.logo%>
      <h3><%= t('avatar.current') %></h3>
      <p><%=logo(@profile.logo, :size => 64)%></p>
      <%end%>
		<h3><%=@profile.logo ? t('avatar.select_new') : t('avatar.select') %></h3>
    <% form_for :avatar, :url => user_avatar_path(@profile.user), :html => { :multipart => true, :method => :put} do |f| %>
      <p><%= f.file_field :media %></p>		
      <div class="margin-up"><button type="submit"><%=t("button.update")%></button></div>
    <%end%>
  </div>
<% end %>

<div id="edit_profile" class="blue_title"><h3><%= t('edit_your_profile') %></h3></div>

<%= error_messages_for :profile %>

<% form_for @profile, :url => user_profile_path(@user) , :html => { :multipart => true } do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>
<div class="margin-up">
  <button type="submit"><%=t("button.update")%></button>
</div>
<% end %>

<div id="for_lightbox" style="display:none"></div>
