-# Note: this view can be seen by the user himself or by an admin.
-#   The page and strings have to look good in both cases.

= render_page_title t('.title')

= content_for :sidebar do
  #profile-in-sidebar
    %ul
      %li
        = link_to t('.view_your_profile'), user_profile_path(current_user)
    #edit-profile-current-logo
      = logo_image(@user, :size => '128', :class => 'profile-logo logo logo-uploadable')
      - if @profile.logo_image.blank? && current_site.use_gravatar?
        .using-gravatar.tooltipped{ title: t('.explain_gravatar') }= t('.using_gravatar')
    %ul
      #profile-logo-uploader.file-uploader{:'data-endpoint' => update_logo_user_profile_path(@user, :format => :json), :'data-accept' => supported_image_formats.join(','), :'data-max-size' => max_upload_size }
      %li
        = simple_form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true, :method => :put } do |f|
          = link_to t('.vcard.use'), '#profile_vcard', :"data-open-file" => true
          = icon_help t(".vcard.tooltip")
          = f.input :vcard, :as => :file, :id => 'profile_vcard'
          = f.submit :id => 'profile-vcard-submit'
      %li= link_to t('.vcard.export'), user_profile_path(@user, :format => "vcf")

= simple_form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true, :class => 'single-column' } do |f|
  = render :partial => 'form', :locals => { :f => f, :user => @user }
