<div id="yui-main">
<div class="yui-b main_column">
<% rounded(:class => "tips") do %>
<h1 class="title">Editing profile</h1>

<%= error_messages_for :profile %>

<% form_for :profile, :url => user_profile_path(current_user.id, {:space_id => @space.id}), :html => {:method => :put} do |f| %>


<%= render :partial => 'form', :locals => { :f => f } %>

        	<%= submit_tag 'Update' %><%= link_to 'Back', user_profile_path(current_user.id, {:space_id => @space.id})%>
<% end %>
<% end %>
</div>
</div>

<%= render :partial=>'shared/sidebar_profile'%>