<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
  <%= render :partial => 'logos/crop_logo.js.erb',
             :locals => { :form_id => 'form_update_avatar',
                          :url_form => precrop_user_avatar_path(@profile.user),
                          :container_id => 'for_lightbox',
                          :aspect_ratio => Avatar::ASPECT_RATIO_S } %>

  $("#vcard_export").click(function(){
    window.location.href = "<%= user_profile_path(@user,:format => "vcf") %>";
  });

});
</script>
<% end %>

<%= content_for :"page-header" do %>
  <%= render :partial => 'layouts/page_title', :locals => { :page_title => t('edit_your_profile') } %>
<% end %>

<%= content_for :sidebar do  %>
  <div id="edit_profile_sidebar">
    <%if @profile.logo%>
      <div class="profile_logo">
        <%=logo(@user, :size => '128').html_safe%>
      </div>
      <ul class="first_options">
        <li id="change_pic"><%=t('change_pic')%></li>
        <li id="vcard_use"><%=t('vCard.use') %></li>
        <li id="vcard_export"><%=t('vCard.export') %></li>
      </ul>
    <%else%>
      <ul class="first_options">
        <li id="change_pic"><%=t('avatar.upload')%></li>
        <li id="vcard_use"><%=t('vCard.use') %></li>
        <li id="vcard_export"><%=t('vCard.export') %></li>
      </ul>
    <%end%>

    <div id="update_logo" class="update_logo" style="display:none">
      <h3 class="blue"><%=@profile.logo ? t('avatar.select_new') : t('avatar.select') %></h3>
      <%= form_for @profile.logo || Avatar.new, :url => [@profile.user, @profile.logo || :avatar], :html => { :multipart => true, :method => :put, :id => 'form_update_avatar' } do |f| %>
        <p><%= f.file_field :media, :id => 'logo_media' %></p>
        <div class="margin-up">
          <button type="submit" class="basic_button blue_button"><%=t("save")%></button>
          <input type="button" value="<%=t('cancel')%>" class="close_pic basic_button blue_button"/>
        </div>
      <%end%>
    </div>

    <div id="upload_vcard" style="display:none">
      <h3><%=t("vCard.upload")%> <%=image_tag("icons/help.png",:title=>t("tooltip.vcard"),:size=>"16x16",:class=>"tooltipped upwards rightwards",:style=>"cursor:pointer")%></h3>
      <p class="sidebar_info2"><%=t("vCard.message")%></p>
      <%= form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true, :method => :put } do |f| %>
        <p><%= f.file_field 'vcard' %></p>
        <div class="margin-up">
          <button type="submit" class="basic_button blue_button"><%=t("save")%></button>
          <input type="button" value="<%=t('cancel')%>" class="close_vcard basic_button blue_button"/>
        </div>
      <% end %>
    </div>

  </div>
<% end %>

<div id="flash_div" class="success" style="display:none"></div>

<% flash.each do |name, msg| %>
  <div class="<%= name %>"><%= msg %></div>
<% end %>

<%= error_messages_for :profile %>

<%= form_for @profile, :url => user_profile_path(@user) , :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="profile_save_ch">
    <button type="submit" class="basic_button blue_button"><%=t("save")%></button>
  </div>
  <div class="profile_save_ch">
    <%= link_to ("<span>" + t('cancel') + "</span>").html_safe, user_profile_path(@user),:class => "basic_button blue_button", :id=>"cancel_profile"%>
  </div>
<% end %>

<div id="for_lightbox" style="display:none"></div>
