= render_page_title t('edit_your_profile')

= content_for :sidebar do
  #profile-in-sidebar
    %ul
      %li
        = link_to "View your profile", user_profile_path(current_user)
    #logo_image
      = logo_image(@profile, :size => '128', :class => 'profile-logo')
    %ul
      %li
        = simple_form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true, :class => 'form-for-crop' } do |f|
          = link_to t('change_pic'), '#profile_logo_image', :"data-open-file" => true
          = f.input :logo_image, :as => :file
      %li
        = simple_form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true, :method => :put } do |f|
          = link_to t('vCard.use'), '#profile_vcard', :"data-open-file" => true
          = icon_help t("tooltip.vcard")
          = f.input :vcard, :as => :file
      %li= link_to t('vCard.export'), user_profile_path(@user, :format => "vcf")

= simple_form_for @profile, :url => user_profile_path(@user), :html => {:multipart => true, :class => 'single-column'} do |f|
  = render :partial => 'form', :locals => { :f => f, :user => @user }
