-# Note: this view can be seen by the user himself or by an admin.
-#   The page and the strings have to look good in both cases.

- if can?(:update, @profile)
  = content_for :page_header_extra do
    = link_to t('.view_your_profile'), user_profile_path(@user), class: "btn btn-default"
    = link_to t('.vcard.export'), user_profile_path(@user, format: 'vcf'), class: "btn btn-default"
    = simple_form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true, :method => :put } do |f|
      = link_to '#profile_vcard', :"data-open-file" => true, :class => "btn btn-default" do
        = icon_help t(".vcard.tooltip")
        = t('.vcard.use')
      = f.input :vcard, :as => :file, :id => 'profile_vcard'
      = f.submit :id => 'profile-vcard-submit'

= render_page_title t('.title', name: @user.full_name)

= content_for :sidebar do
  #profile-in-sidebar
    #edit-profile-current-logo
      = logo_image(@user, :size => '128', :class => 'profile-logo logo logo-uploadable')
    #profile-logo-uploader.file-uploader{:'data-endpoint' => update_logo_user_profile_path(@user, :format => :json), :'data-accept' => 'image/*', :'data-max-size' => max_upload_size }

= simple_form_for @profile, :url => user_profile_path(@user), :html => { :class => 'single-column' } do |f|
  = render :partial => 'form', :locals => { :f => f, :user => @user }
