<% content_for :headers do%>
  <%= javascript_include_tag 'jquery.filestyle','jquery.jcrop' %>
<%end%>

<% content_for :javascript do%>
  <%= render :partial => 'avatars/crop_avatar.js.erb' %>
<% end %>

<% content_for :sidebar do  %>
   <div id="update_avatar">
    <%if @profile.logo%>
      <h3>Current Avatar</h3>
      <p><%=logo(@profile.logo, :size => 64)%></p>
      <%end%>
		<h3><%=@profile.logo ? "Select New Avatar" : "Select Avatar"%></h3>
    <% form_for :avatar, :url => user_avatar_path(@profile.user), :html => { :multipart => true, :method => :put} do |f| %>
      <p><%= f.file_field :media %></p>		
      <div class="margin-up"><%= image_submit_tag "buttons/update.png" %></div>
    <%end%>
  </div>
<% end %>

<div id="edit_profile" class="blue_title"><h3>Edit your profile</h3></div>

<%= error_messages_for :profile %>

<% form_for @profile, :url => user_profile_path(@user) , :html => { :multipart => true } do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <%= image_submit_tag 'buttons/update.png' %>
<% end %>

<div id="for_lightbox" style="display:none"></div>