<% content_for :headers do%>
  <%= javascript_include_tag 'jquery.filestyle','jquery.jcrop' %>
<%end%>

<% content_for :javascript do%>
  <%= render :partial => 'avatars/crop_avatar.js.erb' %>
<% end %>

<% content_for :sidebar do  %>
   <div id="update_avatar">
    <h3>Select Avatar</h3>
    <% form_for :avatar, :url => user_avatar_path(@profile.user), :html => { :multipart => true } do |f| %>
      <p><%= f.file_field :media %></p>
      <p><%= f.submit "Create" %></p>
    <%end%>
  </div>
<% end %>


<div class="blue_title"><h3>New profile</h3></div>

<%= error_messages_for :profile %>

<% form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<div id="for_lightbox" style="display:none"></div>

