<% content_for :headers do%>
  <%= javascript_include_tag 'jquery.filestyle','jquery.jcrop' %>
<%end%>

<% content_for :javascript do%>
  <%= render :partial => 'avatars/crop_avatar.js.erb' %>
<% end %>

<% content_for :sidebar do  %>
   <div id="update_avatar">
    <h3><%= t('avatar.select') %></h3>
    <% form_for :avatar, :url => user_avatar_path(@profile.user), :html => { :multipart => true } do |f| %>
      <p><%= f.file_field :media %></p>
      <div class="margin-up">
      	<%=image_submit_tag("buttons/update.png")%>
      </div>
    <%end%>
  </div>
<% end %>


<div class="blue_title"><h3><%= t('profile',:count=>1) %></h3></div>

<%= error_messages_for :profile %>

<% form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="margin-up">
    <%= image_submit_tag 'buttons/create.png' %>
  </div>
<% end %>

<div id="for_lightbox" style="display:none"></div>
