= content_for :page_header_extra do
  .selectable-buttons.btn-group{:"data-toggle" => 'buttons-radio'}
    = link_to t('recent.activity'), "#tab-recent-activity", :class => 'btn active'
    = link_to t('space.other'), "#tab-spaces", :class => 'btn'
= render_page_title @user.full_name

= content_for :sidebar do
  #profile-in-sidebar
    #edit-profile-current-logo
      = logo_image(@user, :size => '128', :class => 'profile-logo')
    %ul
      - if can?(:update, @profile)
        %li= link_to t('edit_profile'), edit_user_profile_path(@user)
        %li= link_to t('.vcard.export'), user_profile_path(@user,:format => 'vcf')

    = render :partial => 'profiles/public_hcard'
    - if can?(:show, @profile)
      = render :partial => 'profiles/private_hcard'

.selectable-buttons-target
  #tab-recent-activity
    = render 'users/recent_activity', :content => @recent_activities
  #tab-spaces
    #users-user-spaces.content-block
      .content-block-header
        %h3= t('space.other')
      .content-block-middle
        = render 'users/user_spaces', :user => @user, :spaces => @user_spaces
