= content_for :"page-title-extra" do
  .selectable-buttons.btn-group{:"data-toggle" => 'buttons-radio'}
    = link_to t('recent.activity'), "#tab-recent-activity", :class => 'btn active'
    = link_to t('space.other'), "#tab-spaces", :class => 'btn'
= render_page_title t('profile.header_title')

= content_for :sidebar do
  #profile-in-sidebar
    = logo(@user, :size => '128', :class => 'profile-logo').html_safe
    %ul
      - if @profile.authorize? :update, :to => current_user
        %li= link_to t('edit_profile'), edit_user_profile_path(@user)
        %li= link_to t('vCard.export'), user_profile_path(@user,:format => 'vcf')
      - if ((@user != current_user) && (current_user != Anonymous.current))
        %li= link_to t('message.private.new'), new_user_message_path(:user_id => current_user.to_param, :receiver => @user.id), :class => 'open-modal'

    = render :partial => 'profiles/public_hcard'
    - if @profile.authorize? :read, :to => current_user
      = render :partial => 'profiles/private_hcard'

.selectable-buttons-target
  #tab-recent-activity
    = render 'users/recent_activity', :content => @recent_activity
  #tab-spaces
    #users-user-spaces.content-block
      .content-block-header
        %h3= t('space.other')
      = render 'users/user_spaces', :user => @user
