= simple_form_for resource, as: resource_name, url: user_session_path do |f|
  = f.input :login, :label => t('.email_or_login'), :required => true, :autofocus => true
  = f.input :password, :label => t('.password'), :required => true
  - if devise_mapping.rememberable?
    .remember-me= f.input :remember_me, as: :boolean, wrapper: :bootstrap3
  = f.button :wrapped, :value => t(".login")
