-# TODO: works with ssl?
= simple_form_for(resource, :as => resource_name, :url => user_session_path, :html => { :class => 'form-inline' }) do |f|
  = f.input :email, :label => t('login.email_or_login'), :required => true, :autofocus => true
  = f.input :password, :label => t('login.password'), :required => true
  = f.button :submit, t("login.one"), :class => "btn"
  .remember-me
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
    -# = check_box_tag 'remember_me'
    -# %label{:for => "remember_me"}= t('remember_me')
