= simple_form_for(resource, :as => resource_name, :url => user_session_path, :html => { :class => 'form-inline single-column' }) do |f|
  = f.input :login, :label => t('.email_or_login'), :required => true, :autofocus => true
  = f.input :password, :label => t('.password'), :required => true
  .remember-me
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
  - if Site.current.ldap_enabled?
    .ldap-authentication
      .input
        = check_box_tag :ldap_auth, '', params[:ldap_auth], :id => 'ldap_authentication'
        = label_tag :ldap_authentication, t('.ldap_authentication')
  = f.button :wrapped, :value => t(".login")
