<div id="login_div" class="blue_title">
	<div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%>Virtual Conference Centre</span></div>
  	<div class="form">
          <% form_tag session_url(:protocol => current_site.protocol) do -%>
			<!--<div id="login_label"><h3>Enter your Email and Password</h3></div>-->
			<div id="openid-logo" <%='style="display:none;"' unless request.xhr? %>>
			  <h3>Do you have an OpenID? </h3>
			  <%=link_to image_tag ("open-id-logos/openid4.png",:size=>"h64"),"javascript:openid()"%> <span class="person_title"> or use your email...</span>
			</div>
			<div id="openid_form" <%='style="display:none;"' if request.xhr? %> >
              <% form_tag session_url(:protocol => current_site.protocol) do -%>
 	  			<div id="openid_label"><h3>Enter your OpenID <%= text_field_tag 'openid_identifier', params[:openid_identifier] %><%= submit_tag 'Log in'%></h3></div>
    		  <% end -%>
  		    </div>	  		
			<div>
		  		<label for="login">Email or full name</label><br/>
		  		<%= text_field_tag 'login', params[:login] %>
	  		</div>
	  		<div>
	  			<label for="password">Password</label><br/>
	    		<%= password_field_tag 'password' %>
	  		</div>
	  		<div>
	  			<label for="remember_me">Remember me:</label><%= check_box_tag ('remember_me') %>
	  		</div>
    		<div class="button">
				<%= submit_tag 'Log in'%>
				<span><%= link_to 'Register now', signup_path, :class => "login_lightbox_link" %> |  <%= link_to 'Have you lost your password?', lost_password_path, :class => "login_lightbox_link" %></span>
			</div>

    	<% end -%>



	</div>
</div>
