<div id="login_div" class="blue_title">
  <div id="lightbox-logo"><span><%= image_tag("mconf_logo_small.png",:class=>"icon")%><%= t('vcc') %></span></div>
  <div class="form">
    <%= form_tag session_url(:protocol => current_site.protocol), :class => "login_form" do -%>
      <div>
        <label for="login"><%= t('login.email_or_login') %></label><br/>
        <%= text_field_tag 'login', params[:login] %>
      </div>
      <div>
        <label for="password"><%= t('login.password') %></label><br/>
        <%= password_field_tag 'password' %>
      </div>
      <div>
        <label for="remember_me"><%= check_box_tag ('remember_me') %> <%= t('remember_me') %></label>
      </div>
      <div class="button">
        <button type="submit" class="basic_button blue_button"><%=t("login.one")%></button>
      </div>
    <% end -%>
  </div>

  <% if current_site.shib_enabled? %>
    <div id="shib-login">
      <span><%= t('cafe.login_page.description') %></span>
      <%= link_to(image_tag("logos/cafe-logo.jpg"), shib_login_path) %>
      <span><%= t('read_more') %>:</span>
      <ul>
        <li><%= link_to(t('cafe.login_page.terms_of_service'), terms_cafe_path) %></li>
        <li><%= link_to(t('cafe.login_page.more_about_cafe'), "http://www.rnp.br/servicos/cafe.html") %></li>
      </ul>
    </div>
  <% end %>

  <div class="other-links">
    <span>
      <%= link_to t('register_now'), signup_path %> |
      <%= link_to t('user.lost_password'), lost_password_path %> |
      <%= link_to t('user.resend_confirmation_email.link'), resend_confirmation_path %>
    </span>
  </div>
</div>
