= render_page_title t('login.one')

#login-wrapper
  = render :partial => 'login_form'
  %ul.extra-links
    %li= link_to t("register.one"), signup_path
    - unless current_site.shib_enabled?
      %li= link_to t('cafe.login'), shibboleth_path
    %li= link_to t("user.lost_password"), lost_password_path
    %li= link_to t("user.resend_confirmation_email.link"), resend_confirmation_path

