= page_title t('.title')

#headline
  %h1= t('.headline')
  %h3= t('.headline2')

#login-wrapper
  %h1= t('.title')
  = render partial: 'sessions/login_form'
  = render partial: 'shared/social_login'
