.thread.thread-user.thread-no-hover.user-wrapper.user-simple{:class => "#{cycle("thread-even" , "thread-odd")}"}
  - user = participant.owner
  .logo-in-thread
    = raw link_logo_image(user, :size => '32', :title => user.name, :url => main_app.user_path(user), :class => 'logo logo-user')

  %ul.management-links

    - if can? :destroy, @participant
      = link_to event_participant_path(@event, participant), :data => { :confirm => t('mweb_events.participants.index.disable_confirm') }, :method => :delete do
        = icon_delete(:alt => t('mweb_events.participants.index.disable'), :title => t('mweb_events.participants.index.disable'))

  .user-text
    = link_to main_app.user_path(user), :class => 'user-name' do
      = "#{user.full_name} (#{user.username}, #{user.email})".html_safe

    %span.user-category
      = user_category(user)
