= render "mweb_events/events/title"

= content_for :sidebar do
  = link_to t('.back_to_event'), @event, :class => "btn btn-block"
  = render 'mweb_events/events/invite_button'

%h3= t(".title")

- if @participants.count > 0

  - for participant in @participants
    - if participant.owner
      = render :partial => 'participant', :locals => { :participant => participant }
    - else
      = render :partial => 'guest_participant', :locals => { :participant => participant }

  - nav = page_navigation_links @participants
  - unless nav.nil?
    .content-block-footer= nav

- else
  = t('.no_participants')
