<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%= render :partial => 'manage/menu' %>

<div id="manage">
  <%= render 'form' %>
  <br/>
  <%= link_to t('back'), bigbluebutton_servers_path, :class => 'basic_button small_button pale_button' %>
  <%= link_to t('show'), @server, :class => 'basic_button small_button pale_button' %>
</div>
