<div id="terms_draft"><%=t('terms.draft').html_safe%></div>

<div id="privacy_title">
  <h1><%= t('privacy.title').html_safe %>
</div>

<div id="privacy_body">
  <div class="privacy_paragraph"><%=t('privacy.paragraph_1').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_2').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_3').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_4').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_5').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_6').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_7').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_8').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_9').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_10').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_11').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_12').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_13').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_14').html_safe%></div>
  <div class="privacy_paragraph"><%=t('privacy.paragraph_15').html_safe%></div>
</div>
