<% div_for source do -%>
  <div class="source-title">
    <ul class="group_links">
      <%sourcetitle = first_words(sanitize(source.title.to_s), 50)%>
      <li><%= link_to "Import as #{ source.target.pluralize }", import_space_source_path(space, source), :title => t('import') if space.authorize?([ :create, :content ], :to => current_user ) %></li>
      <li><%= link_to image_tag("icons/pencil.png", :alt => t('edit'), :class=>"icon" ), edit_space_source_path(@space, source), {:title => t('edit'), :class => "edit_source_link"} if space.authorize?([ :create, :content ], :to => current_user)%></li>
      <li><%= link_to image_tag("icons/cancel.png", :alt => t('delete.one'), :class=>"icon" ), space_source_path(@space, source),{:method => :delete, :title => t('delete.one'), :confirm => t('delete.confirm', :element => sourcetitle) } if space.authorize?([ :create, :content ], :to => current_user)%></li>
    </ul>
    <h3><%= t('title') %>: <%= sourcetitle%></h3>
  </div>
  <div class="source-content">
    <ul class="source-entries">
      <% source.entries.first(3).each do |entry| %>
      <% link = entry.links.select{ |l| l.rel == 'alternate' && l.type == 'text/html' }.first %>
      <li class="source-entry"><%= link_to_if link, sanitize(entry.title.to_s), link.href %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

