<%= stylesheet_link_tag 'blog' %>
<p>
  <b>Name:</b>
  <%=h blog.name %>
 
</p>

<% for post in blog.container_posts %>
  <%@article = Article.find(post.content_id) %>
  <% if post.content_type == "Article" && post.public_read == true%>
 
    <div id="title"><%= post.title %></div> 
	<div id="text"> <p><%= Article.find(post.content_id).body%></p> </div>
    <div id="author"> articulo creado por <%= User.find(post.agent_id).login %>
	| <%= Article.find(post.content_id).created_at.to_s(:short)%></div>
	<div id="link">
		<%= link_to 'New Comment', new_article_comment_path(@article)%>
		<%= link_to 'Comments', article_comments_url(@article)%>
	<%= @article.container_posts.size %>
	
	
	</div>
  <%end%>
<% end %>
<%= link_to 'New article', new_blog_article_path(@content)%>
<%= link_to 'Back', space_url(@container) %>