.header_image
  = image_tag URI.join(root_url, "assets/mailer/assign_cancelation.png"), size: '494x263'
%p.header_message
  = t('.message.hello', name: @user.name).html_safe

%p.content
- if @user.trial_expires_at && (@user.trial_expires_at > Time.now)
  = t('.message.trial_expires', date: format_date(@user.trial_expires_at, :long, false)).html_safe
- else
  = t('.message.main_text').html_safe

%p= t('.message.see_you_again')