.header_image
  = image_tag "mailer/registration.png", size: '494x263'
%p.header_message
  = t('.message.hello', name: @user.name).html_safe

%p.content
  = t('.message.introduction_1').html_safe

%p.mail_title
  = t('.message.sub_title_beggining').html_safe

%p.content
  = t('.message.link', url: join_webconf_url(@user.username)).html_safe

- attendee_key = @user.bigbluebutton_room.attendee_key
- if attendee_key.present?
  %p.content
    = t('.message.webconf', participant_password: attendee_key).html_safe

  %p.mail_title
    = t('.message.allow_particip').html_safe

  %p.content
    = t('.message.participants').html_safe

  %p.info-block
    = t('.message.password', participant_password: attendee_key).html_safe

%p.content
  = t('.message.attention').html_safe

%p.mail_title
  = t('.message.functionality').html_safe

%p.content
  = t('.message.end').html_safe

%p.content
  .box_image
    = image_tag "mailer/personalization.png", size: '100x100'
    .text_ident
      = t('.message.sub_title_go_beyond').html_safe
    = t('.message.more').html_safe

