<%content_for :headers do%>
  <%= javascript_include_tag 'jquery-ui' %>
<%end%>

<%content_for :javascript do%>

	change_advanced_params = function(selected){
	  switch (selected) {
      case "spaces":
         $("#advanced_params").html("");
         break;
      case "events":
         $("#advanced_params").html("<%=escape_javascript("
           <h3>#{t('search.between_dates.events')}</h3>
           <label class='bold blue'>#{t('from')}</label> <input type='date' name='start_date' class= 'datepicker'> <label class='bold blue'>#{t('to')}</label> <input type='date' name='end_date' class= 'datepicker'>
         ")%>");
         $(".datepicker").datepicker();
         break;
       case "videos":
         $("#advanced_params").html("<%=escape_javascript("
           <h3>#{t('search.between_dates.videos')}</h3>
           <label class='bold blue'>#{t('from')}</label> <input type='date' name='start_date' class= 'datepicker'> <label class='bold blue'>#{t('to')}</label> <input type='date' name='end_date' class= 'datepicker'>
         ")%>");
         $(".datepicker").datepicker();
         break;
		  case "users":
			   $("#advanced_params").html("");
				 break;
      case "attachments":
			   $("#advanced_params").html("<%=escape_javascript("
           <h3>#{t('search.between_dates.attachments')}</h3>
           <label class='bold blue'>#{t('from')}</label> <input type='date' name='start_date' class= 'datepicker'> <label class='bold blue'>#{t('to')}</label> <input type='date' name='end_date' class= 'datepicker'>
         ")%>");
         $(".datepicker").datepicker();
				 break;
			case "posts":
         $("#advanced_params").html("<%=escape_javascript("
           <h3>#{t('search.between_dates.posts')}</h3>
           <label class='bold blue'>#{t('from')}</label> <input type='date' name='start_date' class= 'datepicker'> <label class='bold blue'>#{t('to')}</label> <input type='date' name='end_date' class= 'datepicker'>
         ")%>");
				 $(".datepicker").datepicker();
				 break;
			default:
			  $("#advanced_params").html("");
      }
	};
	
	$("#search_type").change(function() {
	  change_advanced_params($("#search_type option:selected").text());
	});

  change_advanced_params($("#search_type option:selected").text());	
	
<%end%>

<% form_tag(@space.nil? ? search_all_path : space_search_all_path(@space), :method => 'get') do %>

  <%if @space.nil?%>
    <h3>
    	<%=t('search.in')%>
			<%=select_tag "space_id", options_for_select(["Any space"] + ((logged_in? ? current_user.spaces : []) | Space.public.all).map{|s| [s.name, s.permalink]}, "Any space")%>
	  </h3>
  <%else%>
    <h3><%=t('searching_in')%> <%=@space.name%>.<%=link_to t('search.switch'), search_all_path(:advanced => true)%></h3>
  <%end%>

 
	<label class="bold blue"><%=t('find_in')%></label>
  <%=select_tag "type", options_for_select(["all", "spaces", "posts", "events", "videos", "users", "attachments"], params[:type]), :id => 'search_type'%>
	<label class="bold blue"><%=t('the_string')%></label>
	<%= text_field_tag 'query',(params[:query] ? params[:query] :  '' ), :id => 'search_text_field'%>
  <%=hidden_field_tag 'advanced', true%>
  <button type="submit" class="blue_button basic_button"><%=t("button.go")%></button>
	
	<div id="advanced_params"></div>

<% end %>
