<div class="attachment_search">	
	<%if @attachments == []%>
		<h3 class="empty"><%= t('attachment.other') %>: <%= t('attachment.found.none') %></h3>
	<%else%>
		<%if @attachments.size == 1%>
	  	<h3><%= t('attachment.other') %>: <%= t('attachment.found.one') %></h3>
		<%else%>
		  <h3><%= t('attachment.other') %>: <%= t('attachment.found.other', :size => @attachments.size) %></h3>
		<%end%>
		<%= render :partial => 'attachments/doc_table', :locals => {:interactive => false} %>
	<%end%>	
</div>
