
<div class="event_search" id="event_search">    
  <%if @events == []%>
		<h3 class="empty"><%= t('event.other') %>: <%= t('event.found.none') %></h3>
	<% elsif @events.size == 1%>
		<h3><%= t('event.other') %>: <%= t('event.found.one') %></h3>
		<% @events.each do |event| %>  
			<%= render :partial => event %>
		<% end %>
	<%else%>
		<h3><%= t('event.other') %>: <%= t('event.found.other', :size => @events.size) %></h3>
	  <%if @space.nil?%>
			<% @events.each do |event| %>
			  <% @space = event.space %>
	      <%= render :partial => event %>
			<% end %>
			<% @space = nil %>
		<%else%>
			<% @events.each do |event| %>
	        <%= render :partial => event %>
	      <% end %>
			<%end%>
	<%end%>
</div>
