
<%= content_for :javascript do  %>
        var title1 = "<%=escape_javascript(t('search.dots'))%>"
        $("#search_text_field").click(function(){
          if(this.value == title1){
            this.value="";
          }
        });

          $("#search_text_field").blur(function(){
          if(this.value == ""){
            this.value= title1;
          }
        });

<%end%>

<div id="subtexto_busqueda">
  <ul class="menu1">
    <li>
      <%=link_to t('help'), help_path, { :id => "header_help" } %>
    </li>
        <li> | </li>
    <li>
      <div id="browse_select">
        <%=link_to t("find.browse"), '#', {:id=>"browse_select",:class => "browse_select"} %>
        <ul id="browse_menu" style="display:none">
          <li><%= link_to image_tag("icons/group.png",:class=>"icon",:size=>"16x16") + "  " + t("space.other"), spaces_path %></li>
        </ul>
      </div>
    </li>

  </ul>
</div>
