<% content_for :search do  %>
  <% form_tag(search_posts_path(@space), :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
    <%= image_submit_tag "icons/magnifier.png", :class=>'go'%>
  <% end %>
<% end %>

<div>
		<%if @posts == []%>
	     	<h3>No posts found</h3>
		<%elsif @posts.size == 1%>	   
	     	<h3>1 post was found</h3>
     		<% @posts.each do |post| %>
      			<%=render :partial => "posts/found_post", :locals => { :post =>  post, :selected_post => false}%> 
    		<%end%>
	  <%else%>
        <h3 class="red"><%=@posts.size%> posts was found</h3>
     		<% @posts.each do |post| %>
     			<%=render :partial => "posts/found_post", :locals => { :post =>  post, :selected_post => false} %> 
     		<%end%>
		<%end%>	
</div>
