<div class="post_search oddposts">
	<%if @number_of_posts == 0%>
     	<h3 class="empty"><%= t('post.other') %>: <%= t('post.found.none') %></h3>
	<%elsif @number_of_posts == 1%>	   
   	<h3><%= t('post.other') %>: <%= t('post.found.one') %></h3>
 		<% @posts.each do |post| %>
  			<%=render :partial => "posts/found_post", :locals => { :post =>  post, :selected_post => false}%> 
		<%end%>
  <%else%>
    <h3 class="red"><%= t('post.other') %>: <%= t('post.found.other', :size => @number_of_posts) %></h3>
 		<% @posts.each do |post| %>

 			  <%=render :partial => "posts/found_post", :locals => { :post =>  post, :selected_post => false} %>

 		<%end%>
		<%if first_five%>
		  <div class="show-more">
		    <%=  link_to t('post.found.show_all'), search_posts_path(@space, :query => params[:query] ? params[:query] : "")%>
		  </div>
		<%else%>
		  <%= will_paginate @posts %>
		<%end%>
	<%end%>
</div>
