<% content_for :sidebar do  %>
  <%if params[:reply]%>
    <div id="add_new_reply">
      <%@parent_post = Post.find(params[:reply])%>	
      <%= render :partial => "posts/new_reply" %>
    </div>  
  <%else%>
    <div id="add_new_thread" >
      <%= render :partial => "posts/new_thread" %>
    </div>
  <%end%>  
<% end %>

<div>
	
	<br/>
		<%if @parents == []%>
	     	<p>No posts found</p>
	    <%else%> 
			<%if @parents.size == 1%>	   
	     		<h3>1 post was found</h3>
		 		<br/>
	     		<% @parents.each do |post| %>
	       			<%if post%>
	         			<%=show_post(post,@space,"edit","destroy")%> 
	       			<%end%>
         		<%end%>
	   		<%else%>
         		<h3 class="red"><%=@parents.size%> posts was found</h3>
		 		<br/>	
	     		<% @parents.each do |post| %>
	       			<%if post%>
	         			<%=show_post(post,@space,"edit","destroy")%> 
	       			<%end%>
         		<%end%>
			<%end%>
		<%end%>	
</div>
