
<h2 class="title separador"> Users</h2>
	
<div class="contenido_search">
	<br/>
	
	 <%if @users == []%>
	   		<p class="red">No users found</p>
	   		<br/>
	   <%else%>
			<%if @users.size == 1%>
	   			<h3 class="red">1 user was found</h3>
				<br/>
				<% if current_user.superuser %>	
					<%= render :partial =>'users/manage_users'%>	
				<% else %>
					<div class="col_public"><%=generate_user_table%></div>
					<%for user in @users%>
	    				<div class="user_public"><%=show_list_user(user)%></div>
    				<%end%>
		    	<%end%>
	   		<%else%>
	   			<h3 class="red"><%=@users.size%> users were found</h3>
				<br/>
	   			<% if current_user.superuser %>	
					<%= render :partial =>'users/manage_users'%>	
				<% else %>
					<div class="col_public"><%=generate_user_table%></div>
					<%for user in @users%>
	    				<div class="user_public"><%=show_list_user(user)%></div>
    				<%end%>
		    	<%end%>
	   		<%end%>
		<%end%>	
</div>
<br/>

