<div class="event_search">    
  <%if @videos == []%>
		<h3 class="empty"><%= t('video.other') %>: <%= t('video.found.none') %></h3>
	<% elsif @videos.size == 1%>
		<h3><%= t('video.other') %>: <%= t('video.found.one') %></h3>
		<% @videos.each do |video| %>  
			<%= render :partial => 'video', :locals => { :entry =>  video} %>
		<% end %>
	<%else%>
		<h3><%= t('video.other') %>: <%= t('video.found.other', :size => @videos.size) %></h3>
			<% @videos.each do |video| %>
			  <%= render :partial => 'video', :locals => { :entry =>  video} %>
			<% end %>
	<%end%>
</div>
