<% videos = @videos.paginate(:page => params[:page],:per_page => 5) %>

<div class="event_search">    
  <%if @videos == []%>
		<h3 class="empty"><%= t('video.other') %>: <%= t('video.found.none') %></h3>
	<% elsif @videos.size == 1%>
		<h3><%= t('video.other') %>: <%= t('video.found.one') %></h3>
		<% videos.each do |video| %>  
			<%= render :partial => 'video', :locals => { :entry =>  video} %>
		<% end %>
	<%else%>
		<h3><%= t('video.other') %>: <%= t('video.found.other', :size => @videos.size) %></h3>
			<% videos.each do |video| %>
			  <%= render :partial => 'video', :locals => { :entry =>  video} %>
			<% end %>
	    <%if first_five%>
        <div class="show-more">
          <%=link_to t('post.found.show_all'), search_all_path(:type => 'videos', :query => params[:query])%> 
        </div>
      <%else%>
        <%= will_paginate videos %>
    <%end%>
	<%end%>
</div>
