<% menu(:events) %>
<%content_for :headers do%>
  <%= javascript_include_tag 'jquery-ui' %>
<%end%>

<% content_for :search do  %>
  <% form_tag(search_events_path(@space), :method => 'get') do %>
      <%= text_field_tag 'query',(params[:query] ? params[:query] :  t('search.events_') )%>
    <%= image_submit_tag "buttons/search.png"%>
  <% end %>
	<div id="advanced">
	     <%= link_to t('advanced'), advanced_search_events_path(@space) %>
   </div>
<% end %>

<% content_for :javascript do %>
$(".no_javascript_1").after(
  "<div class='javascript'> <input type='date' name='start_date' class= 'datepicker' ><br/></div> "  
);
$(".no_javascript_1").remove();
$(".no_javascript_2").after(
  "<div class='javascript'> <input type='date' name='end_date' class= 'datepicker' ><br/></div> "  

);
$(".no_javascript_2").remove();
$(".datepicker").datepicker();

	$("#query").click(function(){
	  if(this.value == "Search Events..."){
		  this.value="";
		}
	});

<%end%>
<div id="search">
	<h4><%= t('search.events.advanced') %></h4> <%= t('search.explanation') %>
	
  <% form_tag(search_events_path(@space)) do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= image_submit_tag "buttons/search.png"%>
  
   <% end %>
   

<%= t('search.events.title') %>
 <% form_tag(search_events_path(@space)) do %>
      <%= text_field_tag :title, params[:title] %>
	  <%= image_submit_tag "buttons/search.png"%>

 <% end %>

 <%= t('search.events.description') %>
 <% form_tag(search_events_path(@space)) do %>
      <%= text_field_tag :description, params[:description] %>
	  <%= image_submit_tag "buttons/search.png"%>
 
 <% end %>
  
<%= t('search.between_dates') %>
<% form_tag(search_events_path(@space)) do %>
     
     	<div class="no_javascript_1">
	  		<%= t('from') %> <%=select_date Date.today, :prefix => "time1",:order => [:day, :month, :year],:include_blank => true%>
      </div>
		 <div class="no_javascript_2">    
     		<%= t('to') %> <%=select_date Date.today, :prefix => "time2", :order => [:day, :month, :year],:include_blank => true%> 
		 </div>
	  <%= image_submit_tag "buttons/search.png"%><br>
 <% end %>


</div>
