<% content_for :javascript do %>
$(".no_javascript_1").after(
  "<div class='javascript'> <input type='date' name='start_date' class= 'datepicker' ><br/></div> "  
);
$(".no_javascript_1").remove();
$(".no_javascript_2").after(
  "<div class='javascript'> <input type='date' name='end_date' class= 'datepicker' ><br/></div> "  

);
$(".no_javascript_2").remove();
$(".datepicker").datepicker();
<%end%>
<div id="search">
	<h4> Search</h4> (in title, description and tags with exactly words)
	
  <% form_tag(search_events_path(@space)) do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= submit_tag 'Search'%>
  
   <% end %>
   

Search by Event's Title
 <% form_tag(search_events_path(@space)) do %>
      <%= text_field_tag :title, params[:title] %>
	  <%= submit_tag 'Search'%><br>

 <% end %>

 Search in Event's Description
 <% form_tag(search_events_path(@space)) do %>
      <%= text_field_tag :description, params[:description] %>
	  <%= submit_tag 'Search'%><br>
 
 <% end %>
  
You can search here between two dates
<% form_tag(search_events_path(@space)) do %>
     
     	<div class="no_javascript_1">
	  		From <%=select_date Date.today, :prefix => "time1",:order => [:day, :month, :year],:include_blank => true%>
      </div>
		 <div class="no_javascript_2">    
     		To <%=select_date Date.today, :prefix => "time2", :order => [:day, :month, :year],:include_blank => true%> 
		 </div>
	  <%= submit_tag 'Search'%><br>
 <% end %>


</div>