<% menu(:events) %>
<%content_for :headers do%>
  <%= javascript_include_tag 'jquery-ui' %>
<%end%>

<% content_for :search do  %>
  <%= render :partial => 'events/search' %>
<% end %>

<% content_for :javascript do %>
$(".no_javascript_1").after(
  "<div class='javascript'> <input type='date' name='start_date' class= 'datepicker' ></div> "  
);
$(".no_javascript_1").remove();
$(".no_javascript_2").after(
  "<div class='javascript'> <input type='date' name='end_date' class= 'datepicker' ></div> "  

);
$(".no_javascript_2").remove();
$(".datepicker").datepicker();

	title = "<%=t('event.search')%>"
	$("#query").click(function(){
	  if(this.value == title){
		  this.value="";
		}
	});
	
	$("#query").blur(function(){
	  if(this.value == ""){
		  this.value=title;
		}
	});

<%end%>
<div id="advanced_search">
  <h3 class="blue"><%= t('search.events.advanced') %></h3>

  <%= t('search.explanation') %>
  <% form_tag(@space.nil? ? search_events_path : space_search_events_path(@space), :method => 'get') do %>
      <%= text_field_tag :query, params[:query]%>
      <button type="submit" class="blue_button basic_button"><%=t("button.go")%></button>  
   <% end %>
   

 <%= t('search.events.title') %>
 <% form_tag(@space.nil? ? search_events_path : space_search_events_path(@space), :method => 'get') do %>
      <%= text_field_tag :title, params[:title] %>
	  <button type="submit" class="blue_button basic_button"><%=t("button.go")%></button>
 <% end %>

 <%= t('search.events.description') %>
 <% form_tag(@space.nil? ? search_events_path : space_search_events_path(@space), :method => 'get') do %>
      <%= text_field_tag :description, params[:description] %>
	  <button type="submit" class="blue_button basic_button"><%=t("button.go")%></button> 
 <% end %>
  
  <%= t('search.between_dates') %>
  <% form_tag(@space.nil? ? search_events_path : space_search_events_path(@space), :method => 'get') do %>
     
     	<div class="no_javascript_1">
	  		<%= t('from') %> <%=select_date Date.today, :prefix => "time1",:order => [:day, :month, :year],:include_blank => true%>
      </div>
		 <div class="no_javascript_2">    
     		<%= t('to') %> <%=select_date Date.today, :prefix => "time2", :order => [:day, :month, :year],:include_blank => true%> 
		 </div>
	  <button type="submit" class="blue_button basic_button"><%=t("button.go")%></button><br>
 <% end %>


</div>
