<% menu(:home) %>

<% content_for :javascript do%>
	title = "<%=t('search.dots')%>"
	$("#query").click(function(){
	  if(this.value == title){
		  this.value="";
		}
	});
	
	$("#query").blur(function(){
	  if(this.value == ""){
		  this.value= title;
		}
	});

<%end%>

<% content_for :search do  %>
  <% form_tag(@space.nil? ? search_all_path : space_search_all_path(@space), :method => 'get') do %>
      <%= text_field_tag 'query',(params[:query] ? params[:query] :  t('search.dots') )%>
      <button type="submit" class="blue_button basic_button"><%=t("button.go")%></button>
  <% end %>
<%end%>


<h2 class="search-results blue"><%= t('search.results') %></h2>

<%= render :partial =>'events'%>

<%= render :partial =>'users'%>

<%= render :partial =>'posts', :locals => {:first_five => true}%>

<%= render :partial => 'attachments'%>

