

	
	<div id="yui-main">
<div class="yui-b main_column">
	
<% rounded(:class => "tips") do %>
<br/>


	
<h2 class="title separador">Events</h2>
<br/>
<div class="contenido_search">
<% if @events == []%>
		<p class="red">No events found</p>
	<% else%>
		<% if @events.size == 1%>
			<h3 class="red"> 1 event was found</h3>
		<%else%>
			<h3 class="red"> <%= @events.size%> events were found</h3>
    			<%if @events.size != 0%>
					<!--genera la tabla de eventos-->
       				<%=generate_event_table%>	
	   
	  				<% @events.each do |event| %>  
							<%=show_event(event)%> <!--muestra cada uno de los eventos-->
					<% end %>
				<% end %>
		<%end%>
<%end%>       		
</div>
<br/>
<br/>


<div class="user_search">
	   <h2 class="title separador"> Users</h2>
	   <div class="contenido_search">
	   <br/>
	   <%if @users == []%>
	   		<p class="red">No users found</p>
	   		<br/>
	   <%else%>
	   		<% if current_user.superuser %>	
				<%= render :partial =>'users/manage_users'%>	
			<% else %>
				<div class="col_public"><%=generate_user_table%></div>
				<%for user in @users%>
	    			<div class="user_public"><%=show_list_user(user)%></div>
    			<%end%>
		    <%end%>
	   <%end%>
	   </div>

</div>

<br/>

<div class="post_search">
	<h2 class="title separador"> Posts</h2>
	<br/>
	<div class="contenido_search">
	   <%if @articles == []%>
	   <p class="red">No posts found</p>
	   <%else%>
	
	 <% @articles.each do |article| %>
	 <%if article%>
	 <%=show_article(article.entry,@space,"edit","destroy")%> 
	 <%end%>
<%end%>
<%end%>
	</div>
</div>

<%end%>
<div id="show_event">
		</div>
   </div>
   
</div>

<%= render :partial =>'shared/sidebar'%>