#invoice-wrapper
  .modal-header
    = modal_close_button
    %h3= t('.title', date: format_date(@invoice.due_date, :month_year, false))
  .modal-body
    %h3= t('.total_price')
    .field
      %span.field-value.total= @invoice.total_as_string

    %h3= t('.detailed_price')
    .field
      %span.field-title= t('.cost_base')
      %span.field-value.price= @invoice.full_price_as_string

    - value_data = @invoice.generate_invoice_value

    - if value_data[:discounts][:users].present?
      .field
        %span.field-title= t('.discount_users')
        %span.field-value.discount= @invoice.users_discount_as_string
        %span.field-value.discount-text= t('.users_percent', percent: (value_data[:discounts][:users]*100).to_i , qty: @invoice.user_qty)

    - if value_data[:discounts][:days].present?
      .field
        %span.field-title= t('.discount_days')
        %span.field-value.discount= @invoice.days_discount_as_string
        %span.field-value.discount-text= t('.days_percent', percent: (value_data[:discounts][:days]*100).to_i, days: @invoice.days_consumed)

    -#%h3= t('.invoice_data')
    -#.field
    -#  %span.field-title= t('.users_ammount')
    -#  %span.field-value.data= @invoice.user_qty

    -#- if value_data[:discounts][:days].present?
    -#  .field
    -#    %span.field-title= t('.days_consumed')
    -#    %span.field-value.data= @invoice.days_consumed

    -# .field
    -#   %span.field-title= t('.invoice_status')
    -#   %span.field-value= t(".status.#{invoice.flag_invoice_status}")
    .field.buttons
      = link_to report_user_invoice_path(@invoice.subscription.user_id, @invoice.id), class: 'btn btn-default' do
        = t('.report')

      - if @invoice.invoice_url.present?
        .pay-btn
          = link_to @invoice.invoice_url, class: 'btn btn-default' do
            = t('.pay')
      - else
        .pay-btn.disabled
          = t('.disabled_pay')
