#social-login-section
  - if (Rails.application.config.omniauth_google_key.present? && Rails.application.config.omniauth_google_secret.present?) || (Rails.application.config.omniauth_facebook_key.present? && Rails.application.config.omniauth_facebook_secret.present?)
    %h3= t('.social_login')
  - if Rails.application.config.omniauth_google_key.present? && Rails.application.config.omniauth_google_secret.present?
    #google-login
      = link_to user_omniauth_authorize_path(:google_oauth2) do
        = icon_google :class => "tooltipped", :title => t(".social_google")
      
  - if Rails.application.config.omniauth_facebook_key.present? && Rails.application.config.omniauth_facebook_secret.present?
    #facebook-login
      = link_to user_omniauth_authorize_path(:facebook) do
        = icon_facebook :class => "tooltipped", :title => t(".social_facebook")