<script type="text/javascript">

function ajax_request() {
  $.ajax({
    url: "<%= running_bigbluebutton_server_room_url(@server, @room, :format => 'json') %>",
    dataType: 'json',
    error: function(xhr_data) {
      $("#meeting_status").html("<request error>.");
      setTimeout(function() { ajax_request(); }, 10000);
    },
    success: function(xhr_data) {
      if (xhr_data.running == 'false') {
        $("#meeting_status").html("<%= t('rooms.not_running') %>");
      } else {
        $("#meeting_status").html("<%= t('rooms.running') %>");
      }
      setTimeout(function() { ajax_request(); }, 10000);
    },
    contentType: 'application/json'
  });
}

$(document).ready(function(){
  ajax_request();
});

</script>

<div id="rooms_invitation">

  <div class="title">
    <span><%= t('rooms.invite.msg1') %><%= @room.name %></span>
    <p class="status"><%= t('rooms.invite.status') %><span id="meeting_status">-</span> (<a href="javascript:ajax_request();"><%= t('rooms.refresh') %></a>)</p>
  </div>

  <%= form_tag join_bigbluebutton_server_room_path(@server, @room) do %>

    <div class="field">
      <%= t('rooms.invite.name') %><br />
      <% if bigbluebutton_user.nil? %>
        <%= text_field_tag "user[name]", "", :size => 30 %> <span class="obs"><%= t('rooms.invite.name_enter') %></span>
      <% else %>
        <%= text_field_tag "user[name]", bigbluebutton_user.name, :size => 30 %> <span class="obs"><%= t('rooms.invite.name_enter') %></span>
      <% end %>
    </div>
    <div class="field">
      <%= t('rooms.invite.password') %><br />
      <% if @room.private %>
        <%= password_field_tag "user[password]", "", :size => 30 %> <span class="obs"><%= t('rooms.invite.password_role') %></span>
      <% else %>
        <%= password_field_tag "user[password]", @room.attendee_password, :size => 30 %> <span class="obs"><%= t('rooms.invite.password_role') %></span><br/>
        <span class="obs2"><%= t('rooms.invite.password_filled') %></span>
      <% end %>
    </div>
    <div class="submit_area">
      <button type="submit" class="basic_button medium_button orange_pale_button"><%=t('join')%></button>
    </div>
  <% end %>

</div>
