<script type="text/javascript">

function ajax_request() {
  $.ajax({
    url: "<%= running_bigbluebutton_server_room_url(@server, @room, :format => 'json') %>",
    dataType: 'json',
    error: function(xhr_data) {
      $("#meeting_status").html("<request error>.");
      setTimeout(function() { ajax_request(); }, 10000);
    },
    success: function(xhr_data) {
      if (xhr_data.running == 'false') {
        $("#meeting_status").html("not running.");
      } else {
        $("#meeting_status").html("running!");
      }
      setTimeout(function() { ajax_request(); }, 10000);
    },
    contentType: 'application/json'
  });
}

$(document).ready(function(){
  ajax_request();
});

</script>

<h1><%= t('rooms.invite.msg1') %><%= @room.name %></h1>

<p id="error"><%= flash[:error] %></p>

<p><%= t('rooms.invite.msg2') %><span id="meeting_status">-</span> (<a href="javascript:ajax_request();">refresh</a>)</p>
<p><%= @room.name %><%= t('rooms.invite.msg3') %></p>

<%= form_tag join_bigbluebutton_server_room_path(@server, @room) do %>

  <div class="field">
    <%= t('rooms.invite.msg4') %><br />
    <%= text_field_tag "user[name]", "" %>
  </div>
  <div class="field">
    <%= t('rooms.invite.msg5') %><br />
    <%= text_field_tag "user[password]", "" %>
  </div>
  <br/>
  <button type="submit" class="basic_button small_button orange_pale_button"><%=t('join')%></button>
<% end %>
