.certificate-pending
  .modal-header
    %h2= t('.title')

  %h4.description.certificate-login-error
    = t('.description', name: params[:name])

  .error-links
    %h4
      %span= t('.error')

    %ul
      %li= link_to t('.contact'), new_feedback_path

      %span= t('or')

      %li= link_to t('.back_to_home'), root_path
