<html>
  <head>
    <script type="text/javascript" language="javascript" src="ijabbar/ijabbar.nocache.js"></script>
		<%= javascript_include_tag 'jquery', 'jquery.ba-urlinternal.min.definition', 'jquery.ba-hashchange.min', 'jquery.ba-bbq.min', 'jquery.url.packed', 'jquery.ba-resize.min', 'jquery.vcc' %>

    <script type="text/javascript" charset="utf-8">
      function getUrlInAnchor(url) {
        var anchor = $.url.setUrl(url).attr("anchor");
        //var anchor = $.url.parse( window.location.href );
        var anchorUrl;
        if ( anchor ) {
          // "url=/spaces?space_id=my" -> "/spaces?space_id=my"
          anchorUrl = anchor.slice(anchor.search(/url=/)+4, anchor.length); 
        }
        return anchorUrl;
      }
    </script>

    <% if not current_user.chat_activation %>
    <script type="text/javascript" charset="utf-8">
      var destinationUrl = getUrlInAnchor(window.location.href);
      window.location.replace(destinationUrl);
    </script>
    <% end %>

    <script>
      var ijab_port = <%= @current_site_jab_port %>;
      var ijab_domain = "<%= @current_site_jab_domain %>";
      var ijab_httpbind = "<%= @current_site_jab_httpbind %>";
      var ijab_servertype = "EJabberd";<!-- EJabberd,Openfire,Others-->
      var ijab_rostermode = "All";<!-- All,Online,None -->
      var ijab_debug = false;
      var ijab_enableLoginBox = false;
      var ijab_autoLogin = true;
      var ijab_auto_user = "<%=current_user.login%>";
      var ijab_auto_password = "SID";
      var ijab_anonymous_prefix = "";
      var ijab_reconnect_count = 3;
			var ijab_vcc_session_cookie = "<%=ActionController::Base.session_options[:key]%>";
    </script>

    <script type="text/javascript">
    	// Load jquery.ba-urlinternal.min.definition into jQuery
      baUrlInternal(jQuery);
			
			// Config some variables
      var iframeSelector = "#main_iframe";
      var contentIframeSelector = "#site";

      var absoluteBaseUrlApp = "<%=root_url%>";
      var absoluteInitPage = "<%=@init_url%>";
			// Set urlInternalHost to detect internal/external links with ba-urlinternal library
      $.urlInternalHost( absoluteBaseUrlApp );
			
      // Change height iframe to fix to content into iframe 
      function resizeIframe() {
        var siteHeight = $(iframeSelector).contents().find(contentIframeSelector).height();
        if ( siteHeight < $(window).height() ) {
          $(iframeSelector).height( "100%" );
        } else {
          $(iframeSelector).height( siteHeight );
        }
      }

      // Override the current url anchor and return it
      function getUrlWithNewAnchor(url) {
        var newAnchor = $.url.setUrl(url).attr("relative");

        var currentUrl = window.location.href;
        var newUrl = $.param.fragment( currentUrl, newAnchor, 2 );
        return newAnchor;
      }

      function isEqualsToCurrentUrl(urlToCompare) {
        var urlIframe = $(iframeSelector).contents().attr("location").href;
        var relativeUrlIframe = $.url.setUrl(urlIframe).attr("relative");
        
        var relativeUrlToCompare = $.url.setUrl(urlToCompare).attr("relative");
        
        return ( relativeUrlIframe == relativeUrlToCompare );
      }

      function skipIframe(aLink) {
        $(aLink).attr("target", "_top");
      }

      // Search all links in iframe and prepare them
      function prepareLinks() {
				// When click in a external link, go out from iframe/chat
        $(iframeSelector).contents().find("a:urlExternal").click(function(){
          skipIframe(this);
        });

        // When click in logout link, go out from iframe/chat
        $(iframeSelector).contents().find("#logout_link").click(function(){
          skipIframe(this);
        });

        // When click in a internal URL
        var linksWithoutEvents;
        // If children page has loaded jQuery, be careful because links can already have associated click events
        if ($(iframeSelector)[0].contentWindow.jQuery != null) {
					// Load jquery.ba-urlinternal.min.definition into jQuery children page
          baUrlInternal($(iframeSelector)[0].contentWindow.jQuery);
					// Set urlInternalHost to detect internal/external links with ba-urlinternal library
          $(iframeSelector)[0].contentWindow.jQuery.urlInternalHost( absoluteBaseUrlApp );
          var internalLinks = $(iframeSelector)[0].contentWindow.jQuery("a:urlInternal");

          linksWithoutEvents = $.map(internalLinks, function(element, index) {
            var elementWithData = internalLinks.filter(function(i){return (i==index) });
            var event_data = elementWithData.data("events");
            var onclick_data = elementWithData.attr("onclick");
            // return element if NO event.click AND NO code in onclick attribute
            return ( (event_data == null || event_data.click == null)
                    && (onclick_data == null)) ? element : null;
          });
        } else {
          linksWithoutEvents = $(iframeSelector).contents().find("a:urlInternal");
        }

        // When click all internal links that has no events attached
				// change url anchor
        $(linksWithoutEvents).click(function(){
          // Copy URL from clicked link to anchor in window.location
          var hrefTo = $(this).attr("href");

          var newUrl = getUrlWithNewAnchor(hrefTo);

					$.param.fragment.noEscape( ",/?=" );
          $.bbq.pushState({ url: newUrl });
        });
      }

      $(document).ready(function(){

        // When window trigger resize event -> run resizeIframe function 
        //$(window).bind("resize", resizeIframe);

        // When iframe is loaded
        $(iframeSelector).load(function(){
          resizeIframe();
          prepareLinks();
					// When iframe load comes from redirect (not from click link) (eg. space selector) anchor will not change
					// Then we must change it 
          if (!isEqualsToCurrentUrl(getUrlInAnchor(window.location.href))) {
            var iframeLocation = $(iframeSelector).contents().attr("location").href;
            var relativeIframeLocation = $.url.setUrl( iframeLocation ).attr("relative");
						$.param.fragment.noEscape( ",/?=" );
            $.bbq.pushState({ url: relativeIframeLocation });
          }
					// Bind a resize event to iframe content, then if iframe content height is dynamically changed
					// Iframe height will be adjusted
					$(iframeSelector).contents().find(contentIframeSelector).bind('resize', resizeIframe);
        });

        $(window).bind( "hashchange", function(e) {
          // If NO anchor -> go to initPage and modify URL anchor
          // If anchor AND anchor == iframe.src -> do nothing.
          // If anchor AND anchor != iframe.src -> URL in anchor is copied to src.iframe
          var newUrl = "";
          var anchorUrl = getUrlInAnchor(window.location.href);
					
          if ( anchorUrl ) {
            // If anchor match with iframe.src do nothing
            // If it is different, set iframe.src with url in anchor
            if (!isEqualsToCurrentUrl(anchorUrl)) {
              //$(iframeSelector).attr("src", anchorUrl);
              $(iframeSelector).contents().attr("location").href = anchorUrl;
            }
          } else {
            if (!isEqualsToCurrentUrl(absoluteInitPage)) {
              //$(iframeSelector).attr("src", absoluteInitPage);
              $(iframeSelector).contents().attr("location").href = absoluteInitPage;
            }
						// Anycase -> set anchor to init page
            var relativeInitPage = $.url.setUrl( absoluteInitPage ).attr("relative");
            $.bbq.pushState({ url: relativeInitPage });
          }
        });

        $(window).trigger( "hashchange" );

        // Wait a few seconds to load all needed libraries and login into chat
        setTimeout(function(){iJab.login(ijab_auto_user,"")}, 2000);

        // When unload the page logout from chat
        $(document).unload(function() {
          iJab.logout();
        });

      });
    </script>
  </head>

  <style>
    body{margin:0px;width:100%;}
    #main_iframe{width:100%;border:none;padding-bottom:40px;height:auto;}
  </style>

  <body>
    <iframe id="main_iframe" src="" scrolling="no">
      <p>No IFrame Support</p>
    </iframe>
  </body>
</html> 

