<p>
  <b>Title</b><br/>
  <%= form.text_field :title, :size => 50 %>
</p>

<p>
  <b>Text</b><br/>
  <%= fckeditor_textarea(:article, :text, :toolbarSet => 'Simple', :width => '685px', :height => '400px') %> 
</p>

<%= render :partial => 'attach' %>


<p><label for="keywords">Tags:</label>
<%= text_field_tag 'tags', @article.tag_list   %></p>
	
<%= render :partial => "permissions_form" -%>
