<p>
  <b>Title</b><br/>
  <%= text_field_tag :title, params[:title], :size => 50 %>
</p>

<p>
	<%if params[:container_type] == 'spaces'%>
 
</p>
<% end%>

<%= render :partial => "articles/form2" %>


<% if logged_in? && @entry.tag_list  %>
	<p><label for="keywords">Tags:</label>
<%= text_field_tag 'tags', @entry.tag_list   %></p>
	
      <% else %>
	  
	  <p><label for="keywords">Tags</label>
<%= text_field_tag 'tags'   %></p>
	
<%end%>

<%= render :partial => "articles/permissions_form", :object => form -%>
