<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
<h1>Edit <%= @entry.content.class.to_s %></h1>

<% unless error_messages_for(:entry).blank? && error_messages_for(:content).blank? -%>
<div class="errors">
  <%= error_messages_for :entry %>
  <%= error_messages_for :content %>
</div>
<% end -%>

<% form_for(:entry, :url => space_article_path(@space,@entry.content), :html => {:multipart => true , :method => :put }) do |f| -%>

  <%= render :partial => "articles/form", :object => f  %>

  <%= submit_tag "Update" %>

<% end -%>


<% end -%>
</div>
</div>
<%= render :partial =>'shared/sidebar'%>
