
<div id="yui-main">
	<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
	<div class= "paginate"><h1 class="title"><%= name_format(@title, 40, "") %></h1></div>
	
	<div id="paginata">
	<span class= "expand"> <%=link_to ("see expanded view", space_articles_path(@space, :expanded=>true))-%> </span>
	</div>
	<div class="paginata2">
	<form name="get_page" method="get">
	<select id="page_id" class= "elegido" onchange="change_per_page('<%=@space.name%>')" selected="<%=params[:per_page]%>">
		<!--<%for valor in [10,25,50,100]%>
		<%if valor== params[:per_page]%>
			<option value="<%=valor%>"  selected="selected">Entries Shown: <%=valor%> </option>
		<%else%>
			<option value="<%=valor%>" class="noelegido">Entries Shown: <%=valor%> </option>
		<%end%>
		<%end%>
		-->
		<option value=""> Entries shown </option>
		<option value="10">10</option>
		<option value="25">25</option>
		<option value="50">50</option>
		<option value="100">100</option>

	</select>
	</form>
	
	</div>	
	<br/><br/> 
	<% for article in @articles -%>
	<%if article.entry.parent_id == nil%>
	
		<div class="contenido_main">
    	<%=show_article(article.entry,@space,"edit","destroy")%> 
		</div>
	<% end -%>
	<% end -%>
	<%= will_paginate @articles %>
	<% end -%>
	
</div>
</div>
<%= render :partial =>'shared/sidebars'%>
