
<div id="yui-main">
	<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
	<div class= "paginate"><h1 class="title"><%= @title %></h1></div>
	<%= will_paginate @articles %>
	<div id="paginata">
	<span class= "expand"> <%=link_to ("expanded view", space_articles_path(@space, :expanded=>true))-%> </span>
	</div>
	<div id="paginata2">
	<form name="get_page" method="get">
	<select id="page_id" onchange="change_per_page('<%=@space.name%>')" selected="<%@page_id%>">
		<option value=""> Entries shown </option>
		<option value="10">10</option>
		<option value="25">25</option>
		<option value="50">50</option>
		<option value="100">100</option>
	</select>
	</form>
	
	</div>
	<br/><br/> 
	<% for article in @articles -%>
	<%if article.entry.parent_id == nil%>
	
		<div class="contenido_main">
    	<%=show_article(article.entry,@space,"edit","destroy")%> 
		</div>
	<% end -%>
	<% end -%>
	<% end -%>

</div>
</div>
<%= render :partial =>'shared/sidebars'%>
