<h1>
	<%= @title %> 
    from
	
</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% for post in @posts -%>
  <tr>
    <td><%=sanitize post.title %></td>
    <td><%= link_to 'Show', post_url(post) %></td>
    <td><%= link_to 'Edit', edit_post_url(post) %></td>
    <td><%= link_to 'Destroy', post_url(post), :confirm => 'Are you sure?', :method => :delete %></td>
	
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New article', new_article_path %>
