
<div id="yui-main">
<div class="yui-b main_column">
	
<h1 class="title"><%= @title %></h1>

<% for post in @posts -%>
<% rounded(:class => "tips") do %>
	<div class="contenido_main">
    <% user = User.find(post.agent_id)%>
	 
    Post :: <%=link_to(sanitize(post.title), space_article_path(@space, post.content)) %> (<%= get_number_children_comments(post) %>), at <%= post.created_at.strftime("%d-%m-%Y") %> by <%= User.find(post.agent_id).login unless user.profile%><%= user.profile.name if user.profile%> <%= user.profile.lastname if user.profile%> Tags: <%=post.tag_list%> <br>

	<%@attachment_children = get_attachment_children(post)%>
	<%for children in @attachment_children -%>
		<%= render :partial =>'attachments/attachment' , :locals => {:children => children}%>
	  <%end%>
  	Description: <%= post.description%><br>
	
<%= link_to 'Edit',edit_space_article_path(@space, post.content) %>
   <%= link_to 'Destroy', space_article_path(@space, post.content), :confirm => 'Are you sure?', :method => :delete %>
   <%= link_to 'Comments', "#{ space_article_path(post.container,post.content)}#comments" %>

	



<br />
</div>
<% end -%>
<% end -%>
<%if @space.id == 1%>
<% for post in @public_posts%>
<% rounded(:class => "tips") do %>
<div class="contenido_main">

    <% user = User.find(post.agent_id)%>
	
    <%= post.content.class %>:: <%=link_to(sanitize(post.title), space_article_path(@space, post.content)) %> %> (<%= post.container_posts.size %>), at <%= post.created_at.strftime("%d-%m-%Y") %> by <%= user.profile.name if user.profile%> <%= user.profile.lastname if user.profile%> || Tags:  <br>
        
  	Description: <%= post.description%><br>
	
<%= link_to 'Edit', edit_space_article_path(@space, post.content) %>
   <%= link_to 'Destroy', post_url(post), :confirm => 'Are you sure?', :method => :delete %>
   <%= link_to 'Comments', "#{ post_path(post) }#comments" %>



<% end -%>	
<br />
</div>

<% end -%>
<% end -%>
</div>
</div>
<%= render :partial =>'shared/sidebars'%>
