<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
	<div class="contenido_main">
		
<p>
  <b>Title:</b>
  <%=sanitize @article.title %>
</p>

<% unless @article.text.blank? %>
<p>
  <b>Description:</b>
  <%=sanitize @article.text %>
</p>
<% end %>

<% unless @article.tag_list.blank? %>
<p>
  <b>Tags:</b>
  <%= @article.tag_list %>
</p>
<% end %>
	<%for children in @attachment_children -%>
	  <%if children.content_type == "Attachment"%>
		<%= render :partial =>'attachments/attachment' , :locals => {:children => children}%>
		<br/>
	  <%end%>
	  <%end%>

<br>

<div id="button_inline">
		<%= button_to_function 'New Comment', "new Element.toggle('new_comment_form');"%>
		<%if @article.authorizes?(current_user, :edit)%>
	 	<%= button_to 'Edit', edit_space_article_path(@space, @article), :method => :get %>
		<%end%> 
		<%= button_to 'Back', space_articles_path(@space), :method => :get %>
		</div>
		<%end%>
</div>

<div id="new_comment_form" style="display: none;">
<% rounded(:class => "tips") do %>
<%if @errors==true%>
	<% unless error_messages_for(:content).blank? && error_messages_for(:entry_).blank?  -%>
<div class="errors">
  <%= error_messages_for :content %>
  <%= error_messages_for :entry_ %>
</div>
<% end -%>
<%end%>
  <%parent_id = @article.entry.id%>
  <% @article = nil %>
  <% form_for(:article, :url => space_articles_path(@space), :html => { :multipart => true }) do |f|-%>
<p>
    <b>Title</b><br />
    <%= f.text_field :title %>
    </p>
    <p>
      <b>Text</b><br />
      <%= fckeditor_textarea(:article, :text, :toolbarSet => 'Simple', :width => '100%', :height => '400px') %>
    </p>
	 <%@comment = true%>
	 <%= render :partial => 'articles/attach', :objetc => @comment %>
    <%= hidden_field_tag 'tag[add_tag]', "" %>
	<%= hidden_field_tag 'entry[parent_id]', parent_id.to_s %>
	<%= hidden_field_tag 'comment', true %>
    <%= submit_tag "Create" %>
	
  <% end -%>
  <%end%>
</div>

<%if @errors == true%>
<script language="JavaScript">
	new Element.toggle('new_comment_form');
</script>
<%@errors = false%>
<%end%>

<% div_for :comment_children do %>
  <h2>Comments</h2>

  <%= render :partial => "articles/comment", :collection => @comment_children %>

<% end if @comment_children.any? -%>


</div>
</div>
<%= render :partial =>'shared/sidebar'%>
