<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
	<div class="contenido_main">
		
<%= link_to_function 'New Comment', "new Element.toggle('new_comment_form'); document.location = '#new_comment_form'" %> |
<%= link_to 'Edit', edit_space_article_path(@space, @content) %> |
<%= link_to 'Back', space_articles_path(@container) %>
<p>
  <b>Title:</b>
  <%=sanitize @post.title %>
</p>

<% unless @post.description.blank? %>
<p>
  <b>Description:</b>
  <%=sanitize @post.description %>
</p>
<% end %>

<% unless @post.tag_list.blank? %>
<p>
  <b>Tags:</b>
  <%= @post.tag_list %>
</p>
<% end %>
<!--
<%@post_children = @post.children%>
-->
	<%for children in @attachment_children -%>
	  <%if children.content_type == "Attachment"%>
		<%= render :partial =>'attachments/attachment' , :locals => {:children => children}%>
	  <%end%>
<!--
	 <%end%>
-->


<br>
<%= link_to_function 'New Comment', "new Element.toggle('new_comment_form');" %> |
<%= link_to 'Edit', edit_space_article_path(@space, @content) %> |
<%= link_to 'Back', space_articles_path(@container) %>
</div>
<%end%>
<div id="new_comment_form" style="display: none;">
<%if @errors==true%>
	<% unless error_messages_for(:content).blank? && error_messages_for(:post_).blank?  -%>
<div class="errors">
  <%= error_messages_for :content %>
  <%= error_messages_for :post_ %>
</div>
<% end -%>
<%end%>
  <% @content = Article.new() %>
  <% form_for(:post, :url => space_articles_path(@post.container), :html => { :multipart => true }) do -%>

    <b>Title</b><br />
    <%= text_field_tag :title %>
    </p>
    <p>
      <b>Text</b><br />
      <%= fckeditor_textarea(:content, :text, :toolbarSet => 'Simple', :width => '100%', :height => '400px') %>
    </p>
	 <%= render :partial => 'articles/attach' %>
    <%= hidden_field_tag 'tag[add_tag]', "" %>
	<%= hidden_field_tag 'post[parent_id]', @post.id.to_s %>
    <%= submit_tag "Create" %>
  <% end -%>
</div>

<%if @errors == true%>
<script language="JavaScript">
	new Element.toggle('new_comment_form');
</script>
<%@errors = false%>
<%end%>

<% div_for :comment_children do %>
  <h2>Comments</h2>
 <!--
  <%for comment in @post_children -%>
	  <%if comment.content_type == "CMS::Text"%>
		<%= render :partial =>'posts/comment' , :locals => {:comment => comment}%>
	  <%end%>
<%end%>
-->

  <%= render :partial => "articles/comment", :collection => @comment_children %>

<% end if @comment_children.any? -%>


</div>
</div>
<%= render :partial =>'shared/sidebar'%>
