<div id="contact_form">
  <p class="error"><b><%= flash[:notice] %></b></p>
  <% form_tag( :action => :index ) do %>
    <table>
	<tr>
	    <td>
                <label><%= t('name.one') %>:</label>
            </td>
	</tr>
	<tr>
            <td>
                <%= text_field_tag :name, params[:name], :size => 25 %>
            </td>
	</tr>
	<tr>
	    <td>
                <label><%= t('email.one') %>:</label>
            </td>
	</tr>
	<tr>
	    <td>
                <%= text_field_tag :email, params[:email],
                :size => 25 %>
            </td>
	</tr>
	<tr>
	    <td>
                <label><%= t('phone_optional') %>:</label>
            </td>
	</tr>
	<tr>
	    <td>
                <%= text_field_tag :phone, params[:phone],
                :size => 25 %>
            </td>
	</tr>
	<tr>
	    <td>
                <label><%= t('message') %>:</label>
            </td>
	</tr>
	<tr>
            <td>
                <%= text_area_tag :message, params[:message],
                :size => "45x10" %>
            </td>
	</tr>
	<tr>
            <td>
                <%= submit_tag t('send'), :class => "send" %>
            </td>
	</tr>
</table>
</div>
<% end %>

