<div id="contact_form">
  <p class="error"><b><%= flash[:notice] %></b></p>
  <% form_tag( :action => :index ) do %>
    <table>
	<tr>
	    <td>
                <label>name:</label>
            </td>
	</tr>
	<tr>
            <td>
                <%= text_field_tag :name, params[:name], :size => 25 %>
            </td>
	</tr>
	<tr>
	    <td>
                <label>email:</label>
            </td>
	</tr>
	<tr>
	    <td>
                <%= text_field_tag :email, params[:email],
                :size => 25 %>
            </td>
	</tr>
	<tr>
	    <td>
                <label>phone:(optional)</label>
            </td>
	</tr>
	<tr>
	    <td>
                <%= text_field_tag :phone, params[:phone],
                :size => 25 %>
            </td>
	</tr>
	<tr>
	    <td>
                <label>message:</label>
            </td>
	</tr>
	<tr>
            <td>
                <%= text_area_tag :message, params[:message],
                :size => "45x10" %>
            </td>
	</tr>
	<tr>
            <td>
                <%= submit_tag "Send", :class => "send" %>
            </td>
	</tr>
</table>
</div>
<% end %>

