<html>
<body>

<%= t('invitation.to_space', :username => @user.login, :space => @space.name) %><br/><br/>

<%= t('invitation.to_accept', :url => space_invitation_url(@space, @invitation, :host => Site.current.domain)) %><br/>

<%= t('invitation.info_space', :space_url => @space.permalink) %><br/><br/>

<%= t('e-mail.kind_regards') %><br/><br/>

<%= @invitation.introducer.login%><br/>
<%= @invitation.introducer.email %><br/>
<%= @invitation.introducer.organization%><br/>

</body>
</html>
