<html>
<body>
<%= t('e-mail.dear', :name => @name) %><br/><br/>

<%= t('password.to_reset', :url => @url) %><br/><br/>

<%= t('e-mail.copy_link', :url => @url) %><br/><br/>

<%= t('e-mail.kind_regards') %><br/><br/>

<%= t('e-mail.vcc_team') %><br/>
<%= @contact_email %><br/>

</body>
</html>
