#webconference-invite-email
  .header
    = t('.message.header', :sender => @from.full_name, :email_sender => @from.email).html_safe

  - unless @title.blank?
    .invite-title= @title
  - unless @message.blank?
    .invite-message= @message

  .mail-event-block
    - unless @starts_on.nil?
      .field
        %label= t('.message.start') + ':'
        %span= @starts_on.to_formatted_s(:rfc822)
    - unless @ends_on.nil?
      .field
        %label= t('.message.end') + ':'
        %span= @ends_on.to_formatted_s(:rfc822)
    .field
      %label= t('.message.join') + ':'
      %span= join_webconf_url(@room)
    - if @room.private
      .field
        %label= t('.message.password') + ':'
        %span= @room.attendee_password
