<html>
  <body>
    <%= t('invite.email_msg1') %><br/><br/>

    <%= t('invite.email_msg2') %><%= @user_name %><%= t('invite.email_msg3') %><br/>
    <%= t('invite.email_msg4') %><%= @room_name %><br/><br/>

    <%= t('invite.email_msg5') %><br/>
    <%= t('invite.email_msg6') %><%= @room_url %><br/><br/>

    <%= t('invite.email_msg7') %><%= @user_name %><%= t('invite.email_msg8') %><br/><br/>

    <%= @text %>
  </body>
</html>

