	<% rounded() do %>
<% @page_title = "Readers"-%>

<h1>Feed Readers</h1>
<br/>

Each reader included in the Space will produce posts related to the feed. Deleting a reader will delete also all the posts of the feed.

<br/>
<br/>


<% for reader in @readers %>
		
<table>
	<tr>		
	<%=reader.url%>
    <%= link_to "show", space_reader_path(@space, reader) %>
    <%= link_to "edit", edit_space_reader_path(@space, reader) %>
	<%= link_to "delete", space_reader_path(@space, reader), :confirm => 'This will delete the Reader from this Space. Are you sure?', :method => :delete %>
</tr>
</table>
<% end %>
<br/>
<br/>
<br />

<%= link_to 'New reader', new_space_reader_path(@space) %>
<%end%>

<%= render :partial =>'shared/sidebar_users'%>