<div id="terms_draft"><%=t('terms.draft').html_safe%></div>

<div id="terms_title">
  <h1><%= t('terms.title').html_safe %>
</div>

<div id="terms_body">
  <div class="terms_paragraph"><%=t('terms.paragraph_1').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_2').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_3').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_4').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_5').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_6').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_7').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_8').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_9').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_10').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_11').html_safe%></div>
  <div class="terms_paragraph"><%=t('terms.paragraph_12').html_safe%></div>
</div>
