#space-admin-tabs.page-tabs
  .btn-group{ :"data-toggle" => "buttons-radio" }
    = link_to t('.general_options'), edit_space_path(@space), spaces_admin_menu_select_if(:main, :class => "btn btn-small")
    = link_to t('.news'), space_news_index_path(@space), spaces_admin_menu_select_if(:news, :class => "btn btn-small")
    = link_to t('.invite'), new_space_join_request_path(@space), spaces_admin_menu_select_if(:invite, :class => "btn btn-small", :title => t('invitation.add_more'))
    = link_to t('.admissions'), space_join_requests_path(@space), spaces_admin_menu_select_if(:admissions, :class => "btn btn-small")
    = link_to t('.users'), user_permissions_space_path(@space), spaces_admin_menu_select_if(:users, :class => "btn btn-small")
    = link_to t('.webconf_options'), webconference_options_space_path(@space), spaces_admin_menu_select_if(:webconference_options, :class => "btn btn-small")
