<div  class="button_wrapper grey_bar">
  <%= link_to ("<span>" + t('user.other') + "</span>").html_safe, edit_space_path(@space), :class => "basic_button small_button show_inv" %>  
  <%= 
    #link_to ("<span>" + t('group.other') + "</span>").html_safe, space_groups_path(@space, :admin => true), :class => "basic_button small_button show_inv" 
  %>
  <%= link_to ("<span>" + t('admission.other') + "</span>").html_safe, space_admissions_path(@space), :class => "basic_button small_button show_inv" %>  
  <%= 
    #link_to ("<span>" + t('space.group_invitation.button') + "</span>").html_safe, edit_space_path(@space, :group_invitation => @space), {:class=>"basic_button small_button show_inv",:title => t('space.group_invitation.message_title')} 
  %>
  <%= link_to ("<span>" + t('invitation.title') + "</span>").html_safe, edit_space_path(@space, :new_invitations => @space), {:class=>"basic_button small_button show_inv",:title => t('invitation.add_more')} %>  
  <%= 
    #link_to image_tag("icons/feed.png",:id=>"feeds_link",:class=>"icon left-align",:alt=> t('RSS'),:title=> t('RSS')), space_news_index_path(@space, :format => :atom) 
  %>
  <%= link_to ("<span>" + t('news.other').upcase + "</span>").html_safe, space_news_index_path(@space), :class => "basic_button small_button" %>
  <%=
    #link_to ("<span>" + t('source.other') + "</span>").html_safe, space_sources_path(@space), :class => "basic_button small_button" 
  %>
</div>
