<div  class="button_wrapper grey_bar">
	<%=link_to ("<span>" + t('user.other') + "</span>"), edit_space_path(@space), {:id=>"show_notif", :class=>"grey_button basic_button"} %>
	<%=link_to ("<span>" + t('group.other') + "</span>"), space_groups_path(@space, :admin => true), {:id=>"show_notif", :class=>"grey_button basic_button"} %>
  <%=link_to ("<span>" + t('admission.other') + "</span>"), space_admissions_path(@space), {:id=>"show_notif", :class=>"grey_button basic_button"} %>
  <%=link_to(image_tag("icons/feed.png",:class=>"icon",:alt=> t('RSS'),:title=> t('RSS')), space_news_index_path(@space, :format => :atom)) %>
  <%=link_to t('news.other').upcase, space_news_index_path(@space), :class => params[:controller]== "news" ? "selected" : "" %>
  <%=link_to t('source.other'), space_sources_path(@space), :class => params[:controller]== "sources" ? "selected" : "" %>
</div>
