<div  class="button_wrapper grey_bar">
	<%=link_to ("<span>" + t('user.other') + "</span>"), edit_space_path(@space), :class=>"grey_button basic_button show_inv" %>
	<%=link_to ("<span>" + t('group.other') + "</span>"), space_groups_path(@space, :admin => true), :class=>"grey_button basic_button show_inv" %>
  <%=link_to ("<span>" + t('admission.other') + "</span>"), space_admissions_path(@space), :class=>"grey_button basic_button show_inv" %>
  <%=link_to (image_tag("icons/feed.png",:class=>"icon",:alt=> t('RSS'),:title=> t('RSS')), space_news_index_path(@space, :format => :atom)) %>
  <%=link_to ("<span>" + t('news.other').upcase + "</span>"), space_news_index_path(@space), :class => "grey_button basic_button" %>
  <%=link_to ("<span>" + t('source.other') + "</span>"), space_sources_path(@space), :class => "grey_button basic_button" %>
</div>
