= content_for :page_menu do
  %ul
    %li{ spaces_admin_menu_select_if(:main) }
      = link_to t('.general_options'), edit_space_path(@space)
    - if can?(:manage_join_requests, @space)
      %li{ spaces_admin_menu_select_if(:invite) }
        = link_to t('.invite'), invite_space_join_requests_path(@space)
      %li{ spaces_admin_menu_select_if(:admissions) }
        = link_to t('.admissions'), space_join_requests_path(@space)
    - if can?(:user_permissions, @space)
      %li{ spaces_admin_menu_select_if(:users) }
        = link_to t('.users'), user_permissions_space_path(@space)
