.user
  %ul.group_links
    %li
      = link_to new_my_message_path(:receiver => user.id), :class => 'open-modal' do
        = icon_message
    %li
      = link_to permission_path(permission), options_for_tooltip(t('user.delete_from_space'), :confirm => t('are_you_sure'), :method => :delete) do
        = icon_delete

  %div
    = raw(link_logo_image(user, :size => '32', :url => user_path(user), :title => user.name))

  .user_data
    = form_for :permission, :url => permission_path(permission), :html => { :method => :put} do |f|
      = hidden_field_tag 'update_groups'
      %ul.main_text
        %li
          %label{:for => "name"}
            = t('name.one') + ":"
          %spam.unified_user
            = sanitize(user.full_name)
        %li
          %label{:for => "admin"}
            = t('role.one') + ":"
          - if @space.is_last_admin?(user)
            = t("admin.one")
          - else
            - role_name_id = @roles.collect {|p| [ t("space.performances.#{p.name.underscore}"), p.id ]}
            = select "performance", "role_id", role_name_id, {:selected => permission.role_id}, {:id => "role_select_#{permission.id}",:class=>"small-font"}
      = submit_tag t('update'), :id=> "update_button_#{permission.id}"
