#edit-space
  %h3= t('space.configuration')

  .right-column
    #edit-space-current-logo
      = logo_image(@space, :size => '168x128', :class => 'logo')
    = simple_form_for @space, :html => { :multipart => true, :class => 'form-for-crop', :'data-crop-target-image' => '#edit-space-current-logo' } do |f|
      = link_to t('.change_logo'), '#space_logo_image', :'data-open-file' => true
      = f.input :logo_image, :as => :file, :id => 'space_logo_image'

  = simple_form_for @space, :url => space_path, :html => { :method => :put, :multipart => true, :class => 'single-column' } do |f|
    .left-column
      = f.input :name
      = f.input :description, :as => :text, :input_html => { :rows => 5 }
      = f.input :public
      %h3= t('.webconf_options')
      = f.simple_fields_for :bigbluebutton_room do |bbb_room|
        = bbb_room.input :attendee_password, :as => :showable_password
        = bbb_room.input :moderator_password, :as => :showable_password

    = f.button :wrapped, :value => t("_other.update")
