<%= content_for :headers do%>
  <%= javascript_include_tag 'jquery.jeditable', 'jquery.filestyle','jquery.jcrop' %>
<%end%>

<%= content_for :javascript do %>

  $("#jedit_form #public_checkbox").livequery('click', function(event) {
    if ($(this).is(':checked')) {
      $("#private_check").hide();
      $('#moderatorPW').attr('disabled', true);
      $('#attendeePW').attr('disabled', true);
    }
    else{
      $("#private_check").show();
      $('#moderatorPW').removeAttr('disabled');
      $('#attendeePW').removeAttr('disabled');
    }
  });

  $("#nonjavascript_form").remove();
  $("#jedit_form").show();

  edit_description = function(){
    $('#space_description').click();
    $('#edit_description_icon').hide();
  };

  $('#space_description').editable('<%=space_path(@space, :format => 'js')%>', {
    method : 'PUT',
    type : 'textarea',
    cancel    : '<%= t('cancel')%>',
    submit    : '<%= t('ok')%>',
    tooltip   : '<%= t('space.clic')%>',
    name : 'space[description]',
    onblur : 'ignore',
    width : 185,
    height : 90,
    submitdata : {authenticity_token: "<%=form_authenticity_token()%>"},
    callback : function(value, settings) {
      $('#edit_description_icon').show();
    },
    onreset : function() {
      $('#edit_description_icon').show();
    }
  });

  edit_moderatorPW = function(){
    $('#space_moderatorPW').show();
    $('#space_moderatorPW').click();
    $('#edit_moderatorPW_icon').hide();
  };

  $('#space_moderatorPW').editable('<%=space_path(@space, :format => 'js')%>', {
    method : 'PUT',
    cancel    : '<%= t('cancel')%>',
    submit    : '<%= t('ok')%>',
    tooltip   : '<%= t('space.clic')%>',
    name : 'space[bigbluebutton_room_attributes][moderator_password]',
    onblur: 'ignore',
    width : 185,
    submitdata : {
      authenticity_token: "<%=form_authenticity_token()%>",
      "space[bigbluebutton_room_attributes][id]": <%= @space.bigbluebutton_room.id %>
    },
    callback : function(value, settings) {
      $('#space_moderatorPW').hide();
      $('#edit_moderatorPW_icon').show();
    },
    onreset : function() {
      $('#space_moderatorPW').hide();
      $('#edit_moderatorPW_icon').show();
    }
  });

  edit_attendeePW = function(){
    $('#space_attendeePW').show();
    $('#space_attendeePW').click();
    $('#edit_attendeePW_icon').hide();
  };

  $('#space_attendeePW').editable('<%=space_path(@space, :format => 'js')%>', {
    method : 'PUT',
    cancel    : '<%= t('cancel')%>',
    submit    : '<%= t('ok')%>',
    tooltip   : '<%= t('space.clic')%>',
    name : 'space[bigbluebutton_room_attributes][attendee_password]',
    onblur : 'ignore',
    width : 185,
    submitdata : {
      authenticity_token: "<%=form_authenticity_token()%>",
      "space[bigbluebutton_room_attributes][id]": <%= @space.bigbluebutton_room.id %>
    },
    callback : function(value, settings) {
      $('#space_attendeePW').hide();
      $('#edit_attendeePW_icon').show();
    },
    onreset : function() {
      $('#space_attendeePW').hide();
      $('#edit_attendeePW_icon').show();
    }
  });

  $("#public_checkbox").click(function () {
    var val = $(this).is(":checked");
    $.post("<%=space_path(@space)%>",{
      _method: "put", authenticity_token: "<%=form_authenticity_token()%>", 'space[public]': val
    });
  });

  $("#repository_checkbox").click(function () {
    var val = $(this).is(":checked");
    $.post("<%=space_path(@space)%>",{
      _method: "put", authenticity_token: "<%=form_authenticity_token()%>", 'space[repository]': val
    },function(data){
      eval(data);
    },
    "script"
    );
  });

  $("#edit_space_button").click(function(){
    $("form#edit_logo_form").submit();
  });

  <% render :partial => 'logos/crop_logo.js.erb',
             :locals => { :url_form => edit_space_url(@space),
                          :form_id => 'form_update_avatar',
                          :container_id => 'for_lightbox',
                          :aspect_ratio => Logo::ASPECT_RATIO_S } %>


  edit_logo_fun = function(){
    $('div#update_logo').show();
    $('#logo_preview').hide();
    //
    //$("#selected_logo_image").hide();
    $(".user").fadeOut("slow",function(){$("#edit_logo_menu").fadeIn("slow");$("#default_space_images").fadeIn("slow");});
    closeTextLogo();
    closeUploadLogo();
  };

<%end%>

<div id="space-conf">

<h3 class="center"><%=t('space.configuration')%></h3>

<div id="nonjavascript_form">
  <%= form_for @space, :html => { :multipart => true} do |f| %>
  <p>
    <label for="name"><%=t('name.one')%>:</label>
    <%= f.text_field :name %>
  </p>
  <p>
    <label for="description"><%=t('description')%>:</label><br/>
    <%= f.text_area :description%>
  </p>
  <p>
    <label for="public"><%=t('space.allow_public_access')%>:</label>
    <%= check_box("space", "public")%>
  </p>
  <p>
    <label for="repository"><%=t('event.repository.enabled')%>:</label>
    <%= check_box("space", "repository")%>
  </p>
  <div class="margin-up">
    <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
  </div>
  <% end %>
  <h3><%=t('space.logo')%></h3>
  <%= form_for :logo, :url => space_logo_path(@space.id),:html => { :multipart => true } do |f| %>
  <div><%= f.file_field :media %></div>
  <div class="margin-up">
    <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
  </div>
  <%end%>
</div>

<%= form_for :space, :url => space_path(@space), :html => { :method => 'put'} do |f| %>
    <%= f.label :name, :class => 'bold' %>
    <%= f.text_field :name %>
    <%= f.submit t('space.change_name'), :confirm => t('space.change_name_warning'), :id => "button-rename-space" %>
<% end %>

<br>

<div id="jedit_form" style="display:none">
  <ul>
    <li>
      <div>
        <label for="description" class="bold"><%=t('description')%>:</label><br/>
        <span id="space_description"><%=@space.description%></span>
        <%= link_to_function image_tag("icons/pencil.png", :alt => t('edit'), :title=>t('space.edit_description'),:class=>"icon" ), "edit_description()", :id => "edit_description_icon"%>
      </div>
    </li>
    <li>
      <div>
        <label for="public"class="bold"><%=t('space.allow_public_access')%></label>
        <%= check_box_tag "space[public]", true, @space.public?, :id => "public_checkbox"%>
      </div>
    </li>
    <li id="private_check" class="<%= "hide_fields" if @space.public? %>">
      <div>
        <span class="bold"><%= t('space.edit.webconference_passwords') %></label><br/>
        <label for="moderatorPW"><%=t('moderatorPW')%></label>
        <%= link_to_function image_tag("icons/pencil.png", :alt => t('edit'),:title=>t('space.moderatorPW'), :class=>"icon" ), "edit_moderatorPW()", :id => "edit_moderatorPW_icon"%>
        <span id="space_moderatorPW" class="hide"><%= @space.bigbluebutton_room.moderator_password %></span>
        <br/>
        <label for="attendeePW"><%=t('attendeePW')%></label>
        <%= link_to_function image_tag("icons/pencil.png", :alt => t('edit'),:title=>t('space.attendeePW'), :class=>"icon" ), "edit_attendeePW()", :id => "edit_attendeePW_icon"%>
        <span id="space_attendeePW" class="hide"><%= @space.bigbluebutton_room.attendee_password %></span>
      </div>
    </li>
    <li>
      <div>
        <label for="repository"class="bold"><%=t('event.repository.enabled')%></label>
        <%= check_box_tag "space[repository]", false, @space.repository?, :id => "repository_checkbox"%>
      </div>
    </li>

    <li>
      <div id="logo_preview">
        <label for="public" class="bold"><%=t('space.clic_logo')%>:</label>
        <%= link_to_function logo(@space, :size => 'h128').html_safe, "edit_logo_fun()", :id => "edit_logo"%>
      </div>

      <div id="update_logo" style="display:none">
        <%= form_for @space,  :html => {:method => :put,:id =>"edit_logo_form", :multipart => true, :name => "space_edit_form"} do |f| %>
        <label for="public" class="bold">
          <%=t('space.logo_selected.default_message') %>
        </label>
        <%= hidden_field "space","image",:value => "", :name => "space[default_logo]" %>
        <%= hidden_field "space","rand_value",:value => "", :name => "space[rand_value]" %>
        <%=image_tag logo_image_path(@space, :size => 'h128').to_s, {:id=> "selected_logo_image",:class => "default_space_logo",:title => "Click to choose a default image",:size => "160x122"} %>
        <input type="button" id="edit_space_button" value="<%=t("space.update_logo") %>" class="basic_button blue_button"/>
        <% end %>
      </div>
    </li>

    <li><%= link_to t('space.delete'), space_path(@space), :confirm => t('are_you_sure'), :method => :delete,:title => t('space.delete'), :class=>"bold" %></li>
  </ul>
</div>
</div>

<div id="for_lightbox" style="display:none"></div>
</div>
