<div class="user">
	<p>
		<%= link_to "Send a message", space_users_path(@space, :send_message => user.id)%>
		<%= link_to image_tag("ui/icons/cross.png", :alt => "Delete user from space" ), space_performance_path(@space, performance), :confirm => 'Are you sure?', :method => :delete,:title => "Delete user from space" %>
	</p>
  <%=link_logo(user, :size => 72)%>
	<% form_for :performance, :url => performance_path(performance), :html => { :method => :put} do |f| %>
	  <%=hidden_field_tag 'update_groups'%>
		<label for="name">Name: </label><%=sanitize(user.full_name) %><br />
		<label for="admin">Admin: </label><%=select "performance", "role_id", @roles.collect {|p| [ p.name, p.id ]}, :selected => performance.role_id %><br />
		<label for="groups">Groups: </label>
		<%for group in @space.groups.select{|g| g.users.include?(user)} do %>
		  <%= check_box_tag "groups_to_delete[]", group.id, true %><%= label("checkbox",sanitize(group.name))%>
		<%end%>
		<br />
		<%unless @space.groups.select{|g| !g.users.include?(user)}.empty?%>
			<label for="addToGroup">Add to Group: </label>
			<%=select "groups_to_add", "id", @space.groups.select{|g| !g.users.include?(user)}.collect {|g| [ g.name, g.id ]}, {:selected => performance.role_id, :include_blank => true} %>
		<% end %>
		<%= submit_tag "Update" %> 
	<% end %>	
</div>
