<p><label for="name">Name</label><br/>

<%= f.text_field :name %></p>

<p><label for="description">Description</label><br/>

<%if @space_new != nil%>
	<%= fckeditor_textarea(:space_new, :description, :toolbarSet => 'Simple', :width => '685px', :height => '400px') %></p>
<%else%>
	<%= fckeditor_textarea(:space, :description, :toolbarSet => 'Simple', :width => '685px', :height => '400px') %></p>
<%end%>

<%if @space_thumbnail%>
<div id= "image_logo"><%=image_tag(space_logotype_path(@space, :thumbnail => @space_thumbnail)) if @space_thumbnail%>
<%= link_to_function 'Remove', "hide_logotype('space logotype')" %>
</div>
<%= hidden_field_tag "delete_thumbnail", false %>
<%end%>
<% fields_for :logotype do |attach| -%>
	    <p>
		<%if @space_thumbnail%>
	    <label for="attachment">Change the logo image:</label>
    	<%else%>
		<label for="attachment">Upload a logo image:</label>
		<%end%>
		<%= attach.file_field :uploaded_data %>
  		</p>
<% end -%>

<p><label for="public">Public Access</label> <%= check_box("space", "public")%></p>