<div id="last_news">
	<%if @news_to_show.nil? %>
	  <p><%= t('news.none_to_show') %></p>
	<%else%>
	<div class="news-wrapper">
      <div class="news-title">
  	    <p class="unified_news"><%=sanitize(@news_to_show.title)%></p>
		<span class="updated"><%= t('updated_time_ago', :time => time_ago_in_words(@news_to_show.updated_at)) %></span>
      </div>
	  <div class="news-content">
	    <p class="grey"><%=sanitize(auto_link(@news_to_show.text))%></p>
	  </div>
    </div>
	<div id="news_navigation_div">	  
	    <%= link_to t('previous'), space_path(@space, :news_position => @news_position-1),:id => "previous_news", :class => "news_navigation_link read_more_link" if @news_position>0%>
	    <%=("<span class='blue'> | </span>") if @news_position>0%>
		<%= link_to t('next'), space_path(@space, :news_position => @news_position+1), :id => "next_news", :class => "news_navigation_link read_more_link" if @news_position + 1 < @news.size %>
	</div>
	<%end%>
</div>