#latest-news.content-block
  .content-block-header
    = image_tag("icons/newspaper.png")
    %h3= t('latest_news')
    = help_icon t("tooltip.latest_news")
    = image_tag('icons/loading-16x16.gif', :class => 'loading-icon') # TODO: move to helper
  .content-block-middle
    .news-title.clearfix
      %h4= sanitize(@news_to_show.title)
      %span.updated-at= t('updated_time_ago', :time => time_ago_in_words(@news_to_show.updated_at))
    .news-content
      %p= sanitize(auto_link(@news_to_show.text))
  .content-block-footer
    - if @news_position > 0
      = link_to t('previous'), space_path(@space, :news_position => @news_position-1), :remote => true, :class => "latest-news-navigation-link"
    - if @news_position + 1 < @news.size
      = link_to t('next'), space_path(@space, :news_position => @news_position+1), :remote => true, :class => "latest-news-navigation-link"
