#latest-posts.content-block
  .content-block-header
    = icon_comments()
    %h3
      = link_to t('post.latest'), space_posts_path(@space)

  .content-block-middle
    - if @latest_posts.empty?
      %span= t('post.none_recent')
    - else
      - for post in @latest_posts
        .post-wrapper
          .logo-in-thread
            - if post.author
              = link_logo_image(post.author, :size => '32', :url => user_path(post.author), :title => post.author.name, :class => "logo logo-user")
            - else
              = empty_logo_image(:user, :size => '32', :class => "logo logo-user")
          .post-title-wrapper
            = link_to(first_words(post.title, 40), space_post_path(@space, post), :class => 'post-title')
            %span= t('by')
            - if post.author
              = link_to(post.author.name, user_path(post.author), :class => 'post-author')
            - else
              %span.post-author= t('_other.user.removed')
            %span.updated-at= t('updated_time_ago', :time => time_ago_in_words(post.updated_at))
          .post-text
            = first_words(strip_tags(post.text), 100)

  .content-block-footer.content-block-footer-fancy
    = link_to t('read_more'), space_posts_path(@space)
