#latest-users.content-block
  .content-block-header
    = image_tag("icons/user.png")
    %h3
      = link_to t('user.recent_join'), space_users_path(@space)

  .content-block-middle
    - for user in @lastest_users
      .user-wrapper
        .logo-in-thread
          = link_logo(user, :size => 32, :url => user_path(user), :title => user.name).html_safe
        = link_to sanitize(user.full_name), user_path(user), :class => 'user-name'
        %span.user-organization= sanitize(user.organization)

  .content-block-footer
    = link_to t('read_more'), space_users_path(@space) if space.authorize?([:read, :performance], :to => current_user)
