#latest-news-content
  .content-block-content-wrapper
    .news-title
      %h4= sanitize(@news_to_show.title)
      %span.updated-at= t('updated_time_ago', :time => time_ago_in_words(@news_to_show.updated_at))
      = render_clearer
    .news-content
      %p= sanitize(auto_link(@news_to_show.text))
  .content-block-footer
    = link_to t('previous'), space_path(@space, :news_position => @news_position-1), :id => "previous_news", :class => "latest-news-navigation-link" if @news_position > 0
    = link_to t('next'), space_path(@space, :news_position => @news_position+1), :id => "next_news", :class => "latest-news-navigation-link" if @news_position + 1 < @news.size
