#public-spaces.content-block
  .content-block-header
    %h3= t('space.public.other')
  .content-block-middle.clearfix
    - @public_spaces.each do |space|
      - is_member = @user_spaces.include?(space)
      %div{:class => "space-item space-list #{is_member ? 'my-space' : 'not-my-space'}", :name => space.permalink}
        = render "unified_space", :space => space, :is_member => is_member

#private-spaces.content-block
  .content-block-header
    %h3= t('space.private')
  .content-block-middle.clearfix
    - @private_spaces.each do |space|
      - is_member = @user_spaces.include?(space)
      %div{:class => "space-item space-list #{is_member ? 'my-space' : 'not-my-space'}", :name => space.permalink}
        = render "unified_space", :space => space, :is_member => is_member
