-# locals:
-#   spaces (array of Space)
-#   user_spaces (array of Space): the spaces to which the user belongs
-#   compact (boolean): show a compact version of the view

- compact ||= false

- if spaces.count > 0

  #spaces.list-container.list-tablefied
    - if !compact
      .resource-filter-container.list-item-header
        .resource-filter-with-text
          = t('.filter_count_with_text', :count => "<span class=\"resource-filter-count\">#{spaces.count}</span>".html_safe, :value => "<span class=\"resource-filter-value\"></span>".html_safe).html_safe
        .resource-filter-without-text
          = t('.filter_count_empty', :count => spaces.count)

    - spaces.each do |space|
      - unless space.nil?
        - is_member = user_spaces && user_spaces.include?(space)
        = render "spaces/list_item", space: space, is_member: is_member, compact: compact

    - if is_paginated?(spaces)
      - nav = page_navigation_links spaces
      - unless nav.nil?
        .content-block-footer= nav
