<div id="new_invitation_div">
  <h3><%= t('invitation.title') %></h3>

  <%= error_messages_for :object => (@invitations || []) %>

  <% form_for [ space, Invitation.new ] do |f| %>
    <div>
    <%= f.label :email, t('e-mail.other') %> <%= t('e-mail.commas')%><br />
    <%= f.text_field :email,:class=>"small-font main_text" %>
    </div>

    <div class="margin-up">
    <%= f.label :role, t('role.one') %>
    <%= f.select :role_id, Space.roles.map{|r| [ r.name, r.id ]}, {:selected=> Space.role("User").id },:class=>"small-font"%>
    </div>

    <div class="margin-up">
      <button type="submit" class="basic_button blue_button"><%=t('button.invite')%></button>
    </div>
  <% end %>
</div>