<% content_for :javascript do%>

    expand_news_<%=@news_to_show.id%> = function(){
       $("#collapsed_news_<%=@news_to_show.id%>").hide();
       $("#expanded_news_<%=@news_to_show.id%>").show();      
    }
	
    collapse_news_<%=@news_to_show.id%> = function(){
       $("#expanded_news_<%=@news_to_show.id%>").hide();
       $("#collapsed_news_<%=@news_to_show.id%>").show();  
  }
<%end%>

<div class="<%=cycle("even_thread" , "odd_thread")%> news_cloud news_padding">
	<%if @news_to_show.nil? %>
	  <p><%=t('news.home.zero')%></p>
	<%else%>
	  <div>
	      <div class="div-logo">  
	        <%=link_logo(@space, :size =>'w48', :url => space_path(@space), :title=>@space.name)%>
	      </div>	     
            <div class="news-home-title">
              <%=image_tag("icons/newspaper.png", :title => t('news.home.one', :space=>@space.name))%>
  	      <span><b><%=link_to(sanitize(@news_to_show.title), space_path(@space)) %></b></span>
  	      <span class="updated"> Updated <%=time_ago_in_words(@news_to_show.updated_at)%> ago</span>
            </div>
	    <div id="news-text" class="news-content">
	      <%if @news_to_show.text.size < 500 %>
 		 <div class="news_text">
 		   <%=sanitize(auto_link(@news_to_show.text))%>
		 </div>
	      <%else%>
                <div id="collapsed_news_<%=@news_to_show.id%>">
                   <%=sanitize(first_words(auto_link(@news_to_show.text),500))%>
                   <%=link_to t('more>>'), "javascript:expand_news_#{@news_to_show.id}()"%>
	        </div>
                <div id="expanded_news_<%=@news_to_show.id%>" style="display:none">
     	          <div class="news_text">
                    <%=sanitize(auto_link(@news_to_show.text))%>
                    <%=link_to "collapse", "javascript:collapse_news_#{@news_to_show.id}()"%>
		  </div>
                </div>
              <%end%>
	    </div>
          </div>
	<%end%>
</div>
