
<div id="create_space">
	<div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%>Virtual Conference Centre</span></div>
	<div class="form">
          <% form_for :space, :url => spaces_url(:protocol => current_site.protocol) do |f|%>

		<%unless logged_in?%>
		<div id="left">
			<div class="options">
				<ul>
				  <li class="title">Register or Log-in first:</li>
			  	  <li><%=link_to "Login", new_space_path(), :id => "create_and_login_link", :class=>"#{'selected' unless params[:register]}"%></li>
				  <li> | </li>
			      <li><%=link_to "Register", new_space_path(:register => true), :id => "create_and_register_link", :class=>"#{'selected' if params[:register]}"%></li>
				</ul>
			</div>
			
			<%if params[:register]%>
			  <%= render :partial => 'register_fields' %>
			<%else%>	
		  	  <%= render :partial => 'login_fields' %>
		  	<%end%>
		</div>		
		
		<div id="right">
		<%end%>
		
			<div><span class="title">Create your space</span></div>
			<div>
		   		<label for="name">Name</label><br/>
				<%= f.text_field :name %>
			</div>
		
			<div>
		  		<label for="description">Description</label><br/>
		   		<%= f.text_area(:description,:class=>"area") %>
			</div>
		
			<div>
		   		<label for="public">Public space</label><%= f.check_box(:public) %>
			</div>
			
			<div id='check_mail'>
		   		<label for="mailing_list">Mailing List</label><%= check_box_tag(:mail) %>
			</div>
			
			<div id='mail_group'>
		   		<label for="e-mail_group">vcc-<%=f.text_field(:mailing_list, :size =>10, :maxlength=>25 )%>@dit.upm.es</label>
			</div>
			
			<%= submit_tag "Create" %>
		
		<%unless logged_in?%>
		</div>
		<%end%>
		<%end%>
	</div>
</div>
