
<div id="create_space" class="create_space_blinking">
	<div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%><%= t('vcc') %></span></div>
	<div class="form">
          <% form_for :space, :url => spaces_url(:protocol => current_site.protocol) do |f|%>

		<%unless logged_in?%>
		<div id="left">
			<div class="options">
				<ul>
				  <li class="title"><%= t('login_or_register') %>:</li>
			  	  <li><%=link_to t('login'), new_space_path(), :id => "create_and_login_link", :class=>"#{'selected' unless params[:register]}"%></li>
				  <li> | </li>
			      <li><%=link_to t('register.one'), new_space_path(:register => true), :id => "create_and_register_link", :class=>"#{'selected' if params[:register]}"%></li>
				</ul>
			</div>
			
			<%if params[:register]%>
			  <%= render :partial => 'register_fields' %>
			<%else%>	
		  	  <%= render :partial => 'login_fields' %>
		  	<%end%>
		</div>		
		
		<div id="right">
		<%end%>
		
			<div><span class="title"><%= t('space.create_own') %></span></div>
			<div>
		   		<label for="name"><%= t('name.one') %></label><br/>
				<%= f.text_field :name %>
			</div>
		
			<div>
		  		<label for="description"><%= t('description') %></label><br/>
		   		<%= f.text_area(:description,:class=>"area") %>
			</div>
		
			<div>
		   		<%= f.check_box(:public) %><label for="public"><%= t('space.public.one') %></label>
			</div>
			<div>
		   		<%= f.check_box(:repository) %><label for="repository"><%= t('repository.enable') %></label>
			</div>
			
			<div id='check_mail' class="check_mail_blinking">
		   		<%= check_box_tag(:mail) %><label for="mailing_list"><%= t('mailing_list') %></label>
			</div>
			
			<div id='mail_group' class="mail_group_blinking">
		   		<label for="e-mail_group">vcc-<%=f.text_field(:mailing_list, :size =>10, :maxlength=>25 )%>@dit.upm.es</label>
			</div>
			
			<button type="submit" class="blue_button basic_button"><%=t("button.create")%></button>
	
		<%unless logged_in?%>
		</div>
		<%end%>
		<%end%>
	</div>
</div>
