	<% content_for :javascript do%>	
	
	//$("#" + ($("#space_image").val()).replace(".","")).css('background-color','#FFA903');

selectDefaultImage = function(image){
	
	//$("#" + ($("#space_image").val()).replace(".","")).css('background-color','#FFFFFF');
	//$("#" + image.replace(".","")).css('background-color','#FFA903');
	$("#space_image").attr('value', image);
	$("#selected_logo_image").attr('src', "/images/default_space_logos/" + image);

	//alert( $("#space_image").val() );
}
$("#selected_logo_image").attr('src', "/images/default_space_logos/" + ($("#space_image").val()));
closeUploadLogo = function(){
	$("#default_upload_logo").hide("slow");	
	 $("#open_upload_logo_link").show();
	 $("#close_upload_logo_link").hide();
}
closeTextLogo = function(){
	$("#default_text_logo").hide("slow");	
	 $("#open_text_logo_link").show();
	 $("#close_text_logo_link").hide();
}
closeGallery  = function (){
	 $("#default_space_images").hide("slow");
	 $("#open_gallery_link").show();
	 $("#close_gallery_link").hide();
}

openGallery  = function (){
	 $("#default_space_images").show("slow");
	 $("#close_gallery_link").show();
	 $("#open_gallery_link").hide();
}
openUploadLogo  = function (){
	$("#default_upload_logo").show("slow");
	//$("#selected_logo_image").attr('src', "/images/default_space_logos/1grav32.jpg");
	$("#open_upload_logo_link").hide();
	$("#close_upload_logo_link").show();	
}

openTextLogo = function(){
	$("#default_text_logo").show("slow");	
	 $("#open_text_logo_link").hide();
	 $("#close_text_logo_link").show();
	//for i in 1..5
    //	create_auto_logo "Global Plaza Project", i
    //end
}

	var dateTime = new Date();


$("#generate_text_logo_button").livequery('click',function(){

	//$("#space_text_logo").attr('value', "/images/default_space_logos/1grav32.jpg");
	//alert( ($("#space_text_logo").val()) );
	//$('#disco').load('../../ver_discos/ver/'+$("#song_author_id").val());
	//$('#generated_text_logos').('generate);
	//alert('Load was performed.');
	//$.get('/spaces/new', function(data) {
	
	var rand = dateTime.getHours() + "" + dateTime.getMinutes() + "" + dateTime.getSeconds() + "" + dateTime.getMilliseconds();  
	
	//alert(rand);

	$.get('/logos/new?text='+ ($("#space_text_logo").val()) + '&rand_name=' + rand , function(data) {
  		$('#generated_text_logos').html(data);
	});





	
});

$("#create_space_button").livequery('click',function(){

    // Validate name
    var name = ($('#space_name').val());
    if (name == "") {
	   $("#error_name").show();
	  var destination_add = $('#new_space_anchor').offset().top;
      $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_add}, 1100, function() {
        window.location.hash = '#new_space_anchor';
      });
    }else{
		$("#error_name").hide();
	} 
			
    // Validate description
    var description = ($('#space_description').val());
    if (description == "") {
	  $("#error_description").show();
	  var destination_add = $('#new_space_anchor').offset().top;
      $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_add}, 1100, function() {
        window.location.hash = '#new_space_anchor';
      });
	}else{
		$("#error_description").hide();
	} 
	
	if ((name != "") && (description != "")) {
		document.forms["space_new_form"].submit();
	}
	
	
 });

	<% end %>
	
	
	
<div id="create_space" class="create_space_blinking">
<a id="new_space_anchor" name="new_space_anchor" ></a>
	<div class="form">
    <% form_for :space, :html => {:method => :post, :multipart => true, :name => "space_new_form"}, :url => spaces_url(:protocol => current_site.protocol) do |f|%>

		  <%unless logged_in?%>
		    <div id="left">
          <div class="options">
				    <ul>
				      <li class="title"><%= t('login_or_register') %>:</li>
			  	    <li><%=link_to t('login'), new_space_path(), :id => "create_and_login_link", :class=>"#{'selected' unless params[:register]}"%></li>
				      <li> | </li>
              <li><%=link_to t('register.one'), new_space_path(:register => true), :id => "create_and_register_link", :class=>"#{'selected' if params[:register]}"%></li>
				    </ul>
          </div>
			
          <%if params[:register]%>
            <%= render :partial => 'register_fields' %>
          <%else%>	
            <%= render :partial => 'login_fields' %>
          <%end%>
        </div>		
		
		    <div id="right">
		  <%end%>
		
			<div><span class="title"><%= t('space.create_own') %></span></div>
			<div>
		   	<label for="name" id= "space_name_label"><%= t('name.one') %></label><br/>
			<div class='error' id="error_name" style="display:none" ><%= escape_javascript(t('space.name_none'))%></div>
				<%= f.text_field :name %>
			</div>
		
			<div>
		  	<label for="description" id= "space_description_label"><%= t('description') %></label><br/>
			<div class='error' id="error_description" style="display:none" ><%= escape_javascript(t('space.description_none'))%></div>
		   	<%= f.text_area(:description,:class=>"area") %>
			</div>
		
			<div>
		   	<%= f.check_box(:public) %><label for="public"><%= t('space.public.one') %></label>
			</div>
			<div>
		   	<%= f.check_box(:repository) %><label for="repository"><%= t('repository.enable') %></label>
			</div>
			
			<div id='check_mail' class="check_mail_blinking">
		   	<%= check_box_tag(:mail) %><label for="mailing_list"><%= t('mailing_list.associate') %></label>
			</div>
			

			<div id='mail_group' class="mail_group_blinking" style="display:none">
		 	  	<label for="e-mail_group">vcc-<%=f.text_field(:mailing_list_for_group, :size =>10, :maxlength=>25 )%>@dit.upm.es</label>
			</div>
			
				
            <% 
				@files = Dir.entries("public/images/default_space_logos/")
			    images_for_row = 5 # number of images per row
				images_now = 1
				@files.delete(".")
				@files.delete("..")
				selected = rand(@files.length)
 			%>
			
			<%= hidden_field "space","image",:value => @files[selected].to_s, :name => "space[default_logo]" %>
		<div class="button_wrapper grey_bar">
			<%=link_to ("<span>" + t('space.logo_selected.open_gallery') + "</span>"), 'javascript:closeTextLogo();closeUploadLogo();openGallery();', { :class=>"grey_button basic_button show_inv",:title => t('space.logo_selected.open_gallery')} %>
			<%=link_to ("<span>" + t('space.logo_selected.text_logo') + "</span>"), 'javascript:closeUploadLogo();closeGallery();openTextLogo();', { :class=>"grey_button basic_button show_inv",:title => t('space.logo_selected.text_logo')} %>
			<%=link_to ("<span>" + t('space.logo_selected.upload_logo') + "</span>"), 'javascript:closeTextLogo();closeGallery();openUploadLogo();', { :class=>"grey_button basic_button show_inv",:title => t('space.logo_selected.upload_logo')} %>
						
		</div>
		
			
			<br>
			
			<div id='default_upload_logo' style="display:none">
				EDU ES GAY
			</div>
			
			<div id='default_text_logo' style="display:none">
				
 	           <label for="logo_text" id= "space_logo_text_label">
                	<%= t('space.logo_selected.enter_text') %>	
            	</label>
            	<br/>
            	<%= f.text_field :text_logo %>
				<input type="button" id="generate_text_logo_button" value="<%=t("space.logo_selected.generate_logo") %>" class="basic_button blue_button"/>
				
				<div id = "generated_text_logos">PITOP</div>
				
			</div>
						
			<div id='default_space_images' style="display:none">
			
			
			<%
	         for file in @files
				
					images_now+= 1
			%>
			<%=link_to (image_tag "default_space_logos/" + file.to_s, {:id=> ( file.to_s.gsub('.','') ),:class => "default_space_logo",:title => "Click to choose a default image",:size => "100x76"}), 'javascript:selectDefaultImage("' + ( file.to_s ) + '");' %>	
						
   			<%	if images_now > images_for_row %>
						<br>
						<% images_now=1;
					end %>				
				<% end %>
			</div>
           <!-- QUITAR 
		   <button id = "Acreate_space_button" type="submit" class="blue_button basic_button">
                <%=t("button.create") %>
            </button>-->
			<br><input type="button" id="create_space_button" value="<%=t("button.create") %>" class="basic_button blue_button"/>
		  <%unless logged_in?%>
		  </div>
		  <%end%>
    <%end%>
	</div>
</div>

<% content_for :sidebar do%>	
	   <div id="import_icalendar" class="import_icalendar margin-up">
       	 <h3><%=t('space.logo_selected.default_message') %></h3>
    <div id = "selected_logo" >
        <center><%=image_tag "default_space_logos/", {:id=> "selected_logo_image",:class => "default_space_logo",:title => "Click to choose a default image",:size => "100x76"} %></center>
    </div>
	    <div style="padding-left:4px">
		<%=link_to I18n.t('space.logo_selected.open_gallery'), 'javascript:closeTextLogo();closeUploadLogo();openGallery();',{:id=> "open_gallery_link"} %>
        <%=link_to I18n.t('space.logo_selected.close'), 'javascript:closeGallery();',{:id=> "close_gallery_link", :style=>'display:none'} %>
        <br>
        <%=link_to I18n.t('space.logo_selected.text_logo'), 'javascript:closeUploadLogo();closeGallery();openTextLogo();',{:id=> "open_text_logo_link"} %>
        <%=link_to I18n.t('space.logo_selected.close'), 'javascript:closeTextLogo();',{:id=> "close_text_logo_link", :style=>'display:none'} %>
        <br>
        <%=link_to I18n.t('space.logo_selected.upload_logo'), 'javascript:closeTextLogo();closeGallery();openUploadLogo();',{:id=> "open_upload_logo_link"} %>
        <%=link_to I18n.t('space.logo_selected.close'), 'javascript:closeUploadLogo();',{:id=> "close_upload_logo_link", :style=>'display:none'} %>

		</div>
	
      </div>



	<% end %>