<div class="<%=cycle("even_thread" , "odd_thread")%>">
	<%if @news_to_show.nil? %>
	  <p>No news to show</p>
	<%else%>
	  <div>
	    <div class="news-title">
	      <div class="div-logo">  
	        <%=link_logo(@space, :size =>'w48', :url => space_path(@space), :title=>@space.name)%>
	      </div>
	      <b><%= t('news.item_in_home', :space=>@space.name) %></b>
	    </div>
            <div class="news-title">
  	      <span class="person_title"><%=link_to(sanitize(@news_to_show.title), space_path(@space)) %></span>
  	      <span class="updated"> Updated <%=time_ago_in_words(@news_to_show.updated_at)%> ago</span>
            </div>
	    <div class="news-content">
	      <p><%=sanitize(auto_link(@news_to_show.text))%></p>
	    </div>
          </div>
	<%end%>
</div>
