	<div id="login_on_create_form">
    <%fields_for :user do |user|%>
      <div>
      	<label for="login">Username</label><br/>
		<%= user.text_field :login %></div>  
	  <div>
	  	<label for="email">Email</label><br/>
		<%= user.text_field :email %></div>	
	  <div>
	  	<label for="Password">Password</label><br/>
		<%= user.password_field 'password' %></div>
      <div>
      	<label for="Confirm Password">Confirm Password</label><br/>
		<%= user.password_field 'password_confirmation' %></div>
      <div id="captcha"><%= show_simple_captcha(:object=> :user) %> </div>
      <%= hidden_field_tag "register", params[:register] if params[:register]%>
    <% end %>
  </div>