	<div id="login_on_create_form">
    <%fields_for :user do |user|%>
      <div><%= user.text_field :login %><label for="login">Username</label></div>  
	  <div><%= user.text_field :email %><label for="email">Email</label></div>	
	  <div><%= user.password_field 'password' %><label for="Password">Password</label></div>
      <div><%= user.password_field 'password_confirmation' %><label for="Confirm Password">Confirm Password</label></div>
      <div id="captcha"><%= show_simple_captcha(:object=> :user) %> </div>
      <%= hidden_field_tag "register", params[:register] if params[:register]%>
    <% end %>
  </div>