	<div id="login_on_create_form">
    <%fields_for :user do |user|%>
      <div>
      	<label for="login"><%= t('username') %></label><br/>
		<%= user.text_field :login %></div>  
	  <div>
	  	<label for="email"><%= t('e-mail.one') %></label><br/>
		<%= user.text_field :email %></div>	
	  <div>
	  	<label for="Password"><%= t('password.one') %></label><br/>
		<%= user.password_field 'password' %></div>
      <div>
      	<label for="Confirm Password"><%= t('password.confirm') %></label><br/>
		<%= user.password_field 'password_confirmation' %></div>
      <div id="captcha"><%= show_simple_captcha(:object=> :user) %> </div>
      <%= hidden_field_tag "register", params[:register] if params[:register]%>
    <% end %>
  </div>
