= content_for :sidebar do

  #space-sidebar
    = render :partial => 'spaces/sidebar_join_links'

    = render :partial => 'spaces/sidebar_notifications'

    = render_sidebar_content_block('sidebar-webconference', :active => @webconf_room.is_running?) do
      .content-block-header
        = icon_in_progress if @webconf_room.is_running?
        %h4= t('webconference.one')
      .content-block-middle
        .description
          - if @webconf_room.is_running?
            %span= t('.webconference.currently_running', :count => @webconf_room.participant_count)
          - else
            %span= t('.webconference.attendees.nobody')
        .buttons
          = render 'spaces/sidebar_webconf_buttons', :room => @webconf_room

      .content-block-footer
        = link_to t('view_more'), webconference_space_path(@space)

    - if mod_enabled?("events")
      = render_sidebar_content_block('sidebar-upcoming-events') do
        .content-block-header
          %h4=  t('.upcoming_events')
          = icon_help t("tooltip.upcoming"), :class => 'leftwards'
          = icon_event()
        .toolbar
          %span.event-timezone
            = "(#{t('timezone.one')}: #{user_timezone})"
        .content-block-middle
          = render 'space_events/sidebar_events_simple', :events => @space.upcoming_events(5)
        .content-block-footer
          = link_to(t('read_more'), space_events_path(@space))

    = render_sidebar_content_block("sidebar-space-admins") do
      .content-block-header
        %h4= t('user.administrators')
        = icon_help t("tooltip.admin"), :class => 'leftwards'
      .content-block-middle
        - @space.admins.each do |user|
          = render :partial => 'users/simple_user', :locals => { :user => user }

    - if user_signed_in? && can?(:leave, @space)
      = render :partial => 'spaces/sidebar_leave_space'
