= content_for :sidebar do

  #space-sidebar
    = render :partial => 'spaces/sidebar_join_links'

    = render_sidebar_content_block('sidebar-webconference', :active => @webconf_room.is_running?) do
      .content-block-header
        = in_progress_icon if @webconf_room.is_running?
        %h3= t('webconference.one')
        = help_icon t("tooltip.bigbluebutton_space"), :class => 'leftwards'
      .content-block-middle.clearfix
        .description
          - if @webconf_room.is_running?
            %span= t('webconference.currently_running', :count => @webconf_room.participant_count)
          - else
            %span= t('webconference.nobody.one_line')
        .buttons
          - if user_signed_in?
            - webconf_join_link = join_space_room_path(@space, @webconf_room)
          - else
            - webconf_join_link = invite_space_room_path(@space, @webconf_room)
          = link_to t('button.join'), webconf_join_link, :class => 'btn btn-primary btn-small webconf-start-link'
          - if user_signed_in?
            = webconf_mobile_icon_link(join_mobile_space_room_path(@space, @webconf_room))
          - else
            = webconf_mobile_icon_link(false)
      .content-block-footer
        = link_to t('view_more'), space_webconference_path(@space)

    = render_sidebar_content_block('sidebar-upcoming-events') do
      .content-block-header
        %h3
          = link_to t('event.upcoming.other'), space_events_path(@space)
        = help_icon t("tooltip.upcoming"), :class => 'leftwards'
        = image_tag("icons/date.png")
      .content-block-middle
        %span.event-timezone
          = "(#{t('timezone.one')}: GMT#{Time.zone.formatted_offset})"
        = render 'events/sidebar_event_wrapper', :events => @space.upcoming_events(5)
      .content-block-footer
        = link_to feed_icon, space_events_path(@space, :format => :atom)
        = link_to(t('read_more'), space_events_path(@space))

    = render_sidebar_content_block("sidebar-space-admins") do
      .content-block-header
        %h3= t('user.administrators')
        = help_icon t("tooltip.admin"), :class => 'leftwards'
      .content-block-middle
        - @space.admins.each do |user|
          = render :partial => 'users/simple_user', :locals => { :user => user }

    = render_sidebar_content_block('sidebar-pageviews') do
      %span.value= @space.unique_pageviews
      %span= t('space.statistics.views')
      = help_icon t("tooltip.num_views"), :class => 'leftwards'

    - if user_signed_in? && @space.users.include?(current_user) && !(@space.is_last_admin?(current_user))
      = render :partial => 'spaces/sidebar_leave_space'
