-# Locals:
-#   room (BigbluebuttonRoom): the target webconf room

-# Note: There's a lot happening in this view. The url of the links, texts and state of the buttons
-# depend on several factors: user logged? user can create the meeting? is meeting running?
-# so that are several possible combinations. Be careful changing it!
-# TODO: integration tests for this view would be incredibly useful

- can_create = user_signed_in? && can?(:create_meeting, room)
- running = room.is_running?

-# join button
.btn-group.webconf-join-group

  - if can_create
    - if running
      = link_to t('.join'), join_bigbluebutton_room_path(room), :class => "btn webconf-join-link btn-success"
      - if can?(:end, room)
        = link_to t('.end'), end_bigbluebutton_room_path(room, :redir_url => space_path(room.owner)), options_for_tooltip(t('.end_tooltip'), :confirm => t('are_you_sure'), :class => 'btn btn-danger')
    - else
      -# only show the options dialog if the user can record and the record flag is not automatically set
      - if can?(:record_meeting, @room) && !Site.current.webconf_auto_record
        = link_to t('.start'), join_options_bigbluebutton_room_path(room), :class => "btn open-modal btn-primary", :'data-modal-width' => 'small'
        = link_to join_bigbluebutton_room_path(room), options_for_tooltip(t(".fast_start"), :class => "btn btn-primary webconf-join-link") do
          = icon_webconf_start()
      - else
        = link_to t('.start'), join_bigbluebutton_room_path(room), :class => "btn webconf-join-link btn-primary"

  - else
    -# anonymous or non members
    - if running
      - if user_signed_in?
        = link_to t('.join'), join_bigbluebutton_room_path(room), :class => "btn btn-success webconf-join-link"
      - else
        = link_to t('.join'), invite_bigbluebutton_room_path(room), :class => "btn btn-success"
    - else
      = link_to t('.start'), "", :class => "btn btn-primary disabled webconf-not-allowed-create"

-# button with options when full-featured or with "login from mobile" when restricted
.btn-group

  - if can_create
    -# people that can create a meeting have access to all options in the room in a dropdown
    .btn.dropdown-toggle{ :"data-toggle" => "dropdown", :href => "#" }
      = t('.options')
      .caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to join_mobile_bigbluebutton_room_path(room), :class => "webconf-join-mobile-link", :'data-modal-width' => 'small' do
          %span= t('.join_mobile_full')
      %li.divider
      %li= link_to t('.invite'), invitation_bigbluebutton_room_path(room), :class => 'open-modal'
      -# only show the options dialog if the user can record and the record flag is not automatically set
      - if can?(:record_meeting, @room) && !Site.current.webconf_auto_record
        %li= link_to t('.preferences'), join_options_bigbluebutton_room_path(room), :class => "open-modal", :'data-modal-width' => 'small'

  - else
    -# anonymous or non members see only the button to join from mobile
    - if !user_signed_in?
      = link_to "#", :class => "btn webconf-join-mobile-link disabled login-to-enable" do
        %span= t('.join_mobile')
    - elsif !running
      = link_to "#", :class => "btn webconf-join-mobile-link disabled webconf-not-allowed-create" do
        %span= t('.join_mobile')
    - else
      = link_to join_mobile_space_room_path(@space, @webconf_room), :class => "btn webconf-join-mobile-link", :'data-modal-width' => 'small' do
        %span= t('.join_mobile')
