-# locals:
-#  space (Space)
-#  show_join_request (boolean): show link to a join request (if it exists)

- show_join_request ||= false

.list-thumbnail.space-container.space-thumbnail{class: [!space.approved? && 'space-waiting-moderation']}
  .list-logo
    - space_logo = logo_image(space, :size => "84x64", :title => space.name)
    = link_to space_path(space) do
      = space_logo
  .list-description
    = icon_waiting_moderation if !space.approved?

    = link_to first_words(space.name, 30), space_path(space), :title => space.name, :class => "list-title"

    - if space.public?
      .resource-visibility.small.public
        = icon_space_public
        = t(".public")
    - else
      .resource-visibility.small.private
        = icon_space_private
        = t(".private")

    - show_members = true
    - if show_join_request
      - jr = space.pending_join_request_or_invitation_for(current_user)
      - if jr
        - show_members = false
        - if jr..is_invite?
          = link_to t(".reply_invitation"), space_join_request_path(space, jr)
        - else
          = link_to t(".view_join_request"), space_join_request_path(space, jr)
    - if show_members
      %span= t('_other.members', :count => space.users.size)
