.tag-list

  - space.tags.first(5).each do |tag|
    .label.label-tag
      = link_to_tag(tag)

  - if space.tags.count > 5
    %span.more-tags.hidden
      - space.tags[5..-1].each do |tag|
        .label.label-tag
          = link_to_tag(tag)

    .label.label-tag-less.hidden
      = link_to "#", class: 'toggle-tags' do
        = t('_other.less_tags')
    .label.label-tag-more
      = link_to "#", class: 'toggle-tags' do
        = t('_other.more_tags', :count => (space.tags.count - 5))
