-# Locals:
-#   static_links:
-#     If false or not set will add statuc href attributes to the tags.
-#     Otherwise uses ParamsMerge to just add the tag to the current search.

- static_links = defined?(static_links) ? static_links : false

#space-tags

  - space.tags.first(5).each do |tag|
    .label.label-tag
      - if static_links
        = link_to tag, link_for_tag(params.merge(tag: tag.name))
      - else
        = link_to tag, '#', data: { qstring: "tag+=#{tag}", "qstring-sep": "," }

  - if space.tags.count > 5
    %span.more-tags.hidden
      - space.tags[5..-1].each do |tag|
        .label.label-tag
          - if static_links
            = link_to tag, link_for_tag(params.merge(tag: tag.name))
          - else
            = link_to tag, '#', data: { qstring: "tag+=#{tag}", "qstring-sep": "," }

    .label.label-tag-less.hidden
      = link_to "#", class: 'toggle-tags' do
        = t('_other.less_tags')
    .label.label-tag-more
      = link_to "#", class: 'toggle-tags' do
        = t('_other.more_tags', :count => (space.tags.count - 5))
