// Locals:
//   space (Space): the target space
//   full (boolean): show the expanded content?

- full = set_default(local_assigns, :full, true)
- cls = full ? '' : 'simplified'

= content_for :page_header do
  #space-title{ class: cls }
    .current-page-logo
      .current-page-logo-content
        = link_to space_path(space) do
          = logo_image(space, :size => "336x256", :title => space.name)
    .current-page-title
      - if space.name.size > 60
        .main-title.small-title
          = link_to space_path(space) do
            = sanitize(first_words(space.name, 60))
      - else
        .main-title
          = link_to space_path(space) do
            = sanitize(space.name)
      - if space.public
        .resource-visibility.public
          = icon_space_public
          = t(".public")
      - else
        .resource-visibility.private
          = icon_space_private
          = t(".private")
      - if user_signed_in? && space.users.include?(current_user)
        %span.user-is-member
          = icon_is_member
          = t(".is_member")

      - if current_site.require_space_approval? && !@space.approved?
        .resource-waiting-tooltip
          = icon_waiting_moderation
          = t("_other.not_approved.text")
          - if can?(:approve, @space)
            - link = link_to(t('.manage_to_approve'), manage_spaces_path(q: @space.name))
            = ("(" + link + ")").html_safe

      .sub-title
        -# = sanitize(first_words(space.description, 150))
        = sanitize(space.description)

  = content_for :page_menu do
    = render partial: 'spaces/menu'
