-# Locals:
-#   space (Space): the target model
-#   is_member (boolean): Whether the current user is a member of the space or not
-#   extended (boolean): show extended information
-#   show_join_request (boolean): show link to a join request (if it exists)

- extended ||= false
- show_join_request ||= false

- unless space.nil?
  = content_tag(:div, :name => space.permalink, :class => "#{'space-waiting-moderation' if !space.approved?} thread space-container thread-space #{cycle("thread-even" , "thread-odd")} space-item") do

    .logo-in-thread
      = link_logo_image(space, :size => '84x64', :"data-placement" => 'bottom', :class => "logo logo-space")

    .thread-content
      .thread-title
        %span
          = link_to sanitize(space.name), space_path(space)

        - if extended
          - if is_member
            %span.is-member= t('.user_is_member')
        .space-description
          - if space.public
            .resource-visibility.small.public
              = icon_space_public
              = t(".public")
              = t('.with_members', :count => space.users.size)
          - else
            .resource-visibility.small.private
              = icon_space_private
              = t(".private")
              = t('.with_members', :count => space.users.size)

          - if current_site.require_space_approval? && !space.approved?
            .space-waiting-moderation.resource-visibility.small
              = icon_waiting_moderation
              = t("_other.not_approved.text")

      .thread-text
        - if extended
          = sanitize(auto_link(space.description))
        - if show_join_request
          - jr = space.pending_join_request_or_invitation_for(current_user)
          - if jr
            = icon_join_request
            - if jr.is_invite?
              = link_to t(".reply_invitation"), space_join_request_path(space, jr)
            - else
              = link_to t(".view_join_request"), space_join_request_path(space, jr)
