- unless space.nil?
  = content_tag(:div, :name => space.permalink, :class => "thread thread-space #{cycle("thread-even" , "thread-odd")} space-item #{@user_spaces.include?(space) ? 'my-space' : 'not-my-space'}") do
    .logo-in-thread
      = link_logo_image(space, options_for_tooltip(sanitize(space.name), :size => '84x64', :"data-placement" => 'bottom', :class => "logo logo-space"))

    .thread-content
      - if space.users.include?(current_user)
        %span.is-member.label= t('.user_is_member')
      .thread-title
        %h3
          = link_to sanitize(space.name), space_path(space)
        .thread-text
          = sanitize(auto_link(space.description))
