-# Locals:
-#   space (Space): the target model
-#   is_member (boolean): Whether the current user is a member of the space or not

- unless space.nil?
  = content_tag(:div, :name => space.permalink, :class => "thread thread-space #{cycle("thread-even" , "thread-odd")} space-item #{is_member ? 'my-space' : 'not-my-space'}") do
    .logo-in-thread
      = link_logo_image(space, options_for_tooltip(sanitize(space.name), :size => '84x64', :"data-placement" => 'bottom', :class => "logo logo-space"))

    .thread-content
      .thread-title
        - if is_member
          %span.is-member= t('.user_is_member')
        %span
          = link_to sanitize(space.name), space_path(space)
      .thread-text
        = sanitize(auto_link(space.description))
