= content_tag(:div, :name => space.permalink, :class => "thread #{cycle("thread-even" , "thread-odd")} space-item #{@user_spaces.include?(space) ? 'my-space' : 'not-my-space'}") do
  - if space.nil?
    %p= t('space.none_to_show')
  - else
    .logo-in-thread
      = link_logo(space, options_for_tooltip(sanitize(space.name), :size => 'h64', :"data-placement" => 'bottom')).html_safe

    .thread-content
      .thread-title
        %h3
          = link_to sanitize(space.name), space_path(space)
        .thread-text
          = sanitize(auto_link(space.description))
