-# Locals:
-#   space (Space): the target model
-#   is_member (boolean): Whether the current user is a member of the space or not

- unless space.nil?
  = content_tag(:div, :name => space.permalink, :class => "thread thread-space #{cycle("thread-even" , "thread-odd")} space-item") do
    .logo-in-thread
      -# note: can't be can?(:read, space) because we want the link even for non-members
      - if user_signed_in? || space.public
        = link_logo_image(space, options_for_tooltip(sanitize(space.name), :size => '84x64', :"data-placement" => 'bottom', :class => "logo logo-space"))
      - else
        .register-to-view-space
          = logo_image(space, :size => '84x64', :"data-placement" => 'bottom', :class => "logo logo-space")

    .thread-content
      .thread-title
        - if is_member
          %span.is-member= t('.user_is_member')
        %span
          - if user_signed_in? || space.public
            = link_to sanitize(space.name), space_path(space)
          - else
            %span{:title => space.name}= sanitize(space.name)
        .space-description
          - if space.public
            .resource-visibility.small.public
              = icon_space_public
              = t(".public")
              = t('.with_members', :count => space.users.count)
          - else
            .resource-visibility.small.private
              = icon_space_private
              = t(".private")
              = t('.with_members', :count => space.users.count)
      .thread-text
        = sanitize(auto_link(space.description))
