<title>Add User to the Space</title>

<%= javascript("add_user",@space.id.to_s) %>
<%= stylesheet_link_tag 'draganddrop' %>

<h1>Add Users to the Space</h1>
<input type="hidden" id="buttons_to_show" value="admin">

<div id="exampleContainer" style="width:540px;background-color:#ffffff;padding-bottom:8px;">

<div id="dragBox"">
   <span class="catHeader">Users</span>
   <div class="listBox" id="nameList"></div>
</div>
<div id="users_search">
	<%= render :partial=> '/users/search2' %>
</div>
<div id="adv_search">
	</div>

<div id="WasteBox">
	<span class="catHeader">Bin</span>
   <div class="wasteBin" id="wasteBin">
   <%= image_tag "/images/papelera.png", :id => "papelera", :alt => "bin", :class => "bin"  %>
   </div>
</div>
<% form_for @space, :url => space_path(@space.id), :html => {:method => :put, :name=>"user_space_form"} do |f| -%>
<%for role in CMS::Role.find_all_by_type(nil)%>
	<div id="<%=role.name+1.to_s%>">
	   <span class="catHeader"><%=role.name%></span>
	   <div class="listBox" id="<%=role.name%>">
	   <%i=0%>
	   <%for user in @space.agents_with_role(role.id)%>
	   		<div id="user_<%=role.name+i.to_s%>"><%=user.login%></div>
			<%i=i+1%>
	   <%end%>
	   </div>
	</div>
	<input type="hidden" name="<%=role.name%>" value="" />
<%end%>

<div id="Botonera">
    <input type="button" name="Confirm" value="Confirm" style="width: 100px;" onClick=sendData()>
    <input type="button" name="Back" value="Back" style="width: 100px;" onClick=document.location="/spaces">
</div>



</div>
<% end %>
