<title>Add Users to the Space</title>

<h1>Include registered users</h1>

<br/>
<div id="select_users">
<%= select 'users',
           'user_id',
           User.find(:all).collect { |u| [ u.login, u.id ] },
           {},
           { :multiple => true,
             :size     => 10 } %>
</div>

<div id="buttons_register">
	<%= link_to "Register as Admin",{ :controller=>'spaces', :action=>'register_user', :container_id => @space.id, :role => "Admin"}, {:class => "secund"} %><br/>
	<%= link_to "Register as User", :controller=>'spaces', :action=>'register_user', :container_id => @space.id, :role => "User", :class => "secund" %><br/>
	<%= link_to "Register as Invited", :controller=>'spaces', :action=>'register_user', :container_id => @space.id, :role => "Invited", :class => "secund" %>
</div>

<div id="search_users">			 
<h4> Search</h4> </span>
<br>	
 <span> <% form_tag({:controller=> 'users',:action => :search_users2}, :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= submit_to_remote 'Search', 'Search', :url=>{:controller=> 'users',:action => :search_users2}%>
      <input type="button" name="Reset" value="Reset" style="width: 100px;" onClick="fillAllUsers()">
  </span>
  <br> <%= link_to_remote 'Search Users by Interests' , {:url=>{:controller => 'users', :action=>'organization'}}%>

<% end %>
</div>
<div id="adv_search">
	
</div>

	
