- page_title t('.title', name: @space.name)
- spaces_menu_at :admin
= render 'spaces/sidebar', space: @space, editing: true

- spaces_admin_menu_at :main
= render 'spaces/admin_tabs'

#edit-space.row-fluid

  #edit-space-options
    = simple_form_for @space, html: { method: :put, class: 'single-column' } do |f|
      = f.input :slug , disabled: true
      = f.input :name
      = f.input :description, as: :text, input_html: { rows: 5 }
      = f.input :tag_list, input_html: { value: @space.tag_list.join(ActsAsTaggableOn.delimiter), data: { sep: ActsAsTaggableOn.delimiter } }
      = f.input :repository
      = f.input :public, label: t('.public')
      = f.button :wrapped, value: t("_other.save")

  #edit-space-other-options.alert.alert-danger.alert-clean
    %h4= t('.other_options')
    %span= t('.delete_space')
    = link_to t('.yes_delete'), disable_space_path(@space), data: { confirm: t(".delete_confirmation") }, method: :delete, class: 'danger-text'

  #edit-space-other-options.alert.alert-info.alert-clean
    %h4= t(".webconference_room_options.title")
    %span= t(".webconference_room_options.description")
    = link_to t(".webconference_room_options.click_here"), user_edit_bigbluebutton_room_path(@space.bigbluebutton_room), class: "open-modal"
