- spaces_menu_at :admin
= render :partial => 'spaces/menu'

- spaces_admin_menu_at :main
= render :partial => 'admin_tabs'

#edit-space
  .right-column
    #edit-space-current-logo
      = logo_image(@space, :size => '168x128', :class => 'logo')
    = simple_form_for @space, :html => { :multipart => true, :class => 'form-for-crop', :'data-crop-target-image' => '#edit-space-current-logo' } do |f|
      = link_to t('.change_logo'), '#space_logo_image', :'data-open-file' => true
      = f.input :logo_image, :as => :file, :id => 'space_logo_image', :input_html => {:accept => 'image/*'}

  = simple_form_for @space, :html => { :method => :put, :class => 'single-column' } do |f|
    .left-column
      = f.input :name
      = f.input :permalink , :disabled => true
      = f.input :description, :as => :text, :input_html => { :rows => 5 }
      = f.input :repository
      = f.input :public, :label => t('.public')

    = f.button :wrapped, :value => t("_other.save")

  #edit-space-other-options
    %h3= t('.other_options')
    .alert.alert-danger
      %span= t('.delete_space')
      = link_to t('.yes_delete'), disable_space_path(@space), :data => { :confirm => t(".delete_confirmation") }, :method => :delete, :class => 'btn btn-small btn-danger'
