- page_title t('spaces.admin_tabs.general_options'), in: @space.name

= render "spaces/title", space: @space, full: false

- spaces_menu_at :admin
= render partial: 'spaces/menu'

#page-menu.with-sub-menu
  = content_for :page_menu

- spaces_admin_menu_at :main
= render partial: 'admin_tabs'

#edit-space.row-fluid

  #edit-space-options
    = simple_form_for @space, html: { method: :put, class: 'single-column' } do |f|
      = f.input :name, autofocus: true
      = f.input :permalink , disabled: true
      = f.input :description, as: :text, input_html: { rows: 5 }
      = f.input :repository
      = f.input :public, label: t('.public')
      = f.button :wrapped, value: t("_other.save")

  #edit-space-logo
    .logo-wrapper
      = logo_image(@space, size: "336x256", class: 'logo', title: @space.name)
      #space-logo-uploader.file-uploader{:'data-endpoint' => update_logo_space_path(@space, format: :json), :'data-accept' => 'image/*', :'data-max-size' => space_max_image_size }

  #edit-space-other-options.alert.alert-danger.alert-clean
    %h4= t('.other_options')
    %span= t('.delete_space')
    = link_to t('.yes_delete'), disable_space_path(@space), data: { confirm: t(".delete_confirmation") }, method: :delete, class: 'danger-text'

  #edit-space-other-options.alert.alert-info.alert-clean
    %h4= t(".webconference_room_options.title")
    %span= t(".webconference_room_options.description")
    = link_to t(".webconference_room_options.click_here"), user_edit_bigbluebutton_room_path(@space.bigbluebutton_room), class: "open-modal"
