<% menu :admin %>

<%= content_for :sidebar do %>
  <%= render :partial => 'edit_space' %>
<% end %>

<%= render :partial => 'admin_tabs' %>

<%if params[:new_invitations]%>
   <%=render :partial => 'new_invitation', :locals => {:checked_users => Array.new} %>
<%
  #elsif params[:group_invitation]
%>
  <%=
    #render :partial => 'group_invitation'
  %>
<%else%>
  <div>
    <% for performance in @performances -%>
      <%= render :partial => 'edit_performance', :locals => {:performance => performance, :user => performance.agent} %>
    <% end -%>
  <%= render :partial => 'precrop_logo' %>


  </div>
<%end%>
