<% content_for :sidebar do %>
  <%= render :partial => 'edit_space' %>
	NEWS
<% end %>

<div>
	<ul>
		<li><%=link_to "All"%></li>
		<li><%=link_to "Groups"%></li>
		<li><%=link_to "Admission"%></li>
	</ul>
</div>
<div>
	<% for performance in @performances -%>
    <%= render :partial => 'edit_performance', :locals => {:performance => performance, :user => performance.agent} %>    
  <% end -%>
</div>