- spaces_menu_at :admin
= content_for :menu do
  = render :partial => 'spaces/menu'

= content_for :sidebar do
  = render :partial => 'edit_space'

= render :partial => 'admin_tabs'

- if params[:new_invitations]
  = render :partial => 'new_invitation', :locals => {:checked_users => Array.new}
- else
  - for permission in @permissions
    = render :partial => 'edit_user_permission', :locals => {:permission => permission, :user => permission.user}
  = render :partial => 'precrop_logo'