#edit-webconference-recording

  .modal-header
    = modal_close_button
    %h3= t('.title')

  = simple_form_for @recording, :html => { :class => "single-column" } do |f|
    .modal-body
      = hidden_field_tag :redir_url, @redir_url
      = f.input :description, :autofocus => true
    .modal-footer.form-actions
      = f.button :wrapped, t("save"), :class => "btn btn-primary", :cancel_modal => true
