= content_for :page_header_subtitle do
  = t('.subtitle')
= render_page_title t('.title')

- @objects = params[:my_spaces] ? @user_spaces : @spaces

= content_for :sidebar do

  .sidebar-top-action-button
    - if user_signed_in?
      = link_to t('.create_new_space'), new_space_path, :class => "btn btn-primary btn-large btn-block"
    - else
      - if current_site.registration_enabled?
        = link_to t('register.one'), register_path, :class => "btn btn-success btn-large btn-block"
      - else
        = link_to t('_other.login'), login_path, :class => "btn btn-success btn-large btn-block"

  = render_sidebar_content_block('space-description-wrapper') do
    .content-block-middle
      %p= t('space.index.select_at_left')
    - @objects.each do |space|
      - has_access = user_signed_in? || space.public
      .content-block-middle{:id => "#{space.permalink}-description", :style => "display:none;"}
        .space-logo-wrapper
          - if has_access
            = link_logo_image(space, :size => '168x128', :title => sanitize(space.name), :class => "logo logo-space")
          - else
            = logo_image(space, :size => '168x128', :title => sanitize(space.name), :class => "logo logo-space")
        - if has_access
          = link_to space_path(space) do
            %h3.name= sanitize(space.name)
        - else
          %h3.name= sanitize(space.name)
        %p.description= sanitize(first_words(space.description, 400))
        %p.details
          - if space.users.include?(current_user)
            %span.is-member= t('space.index.user_is_member')
          %span= t('space.member_count', :count => space.users.count)
          %span= t('space.post_count', :count => space.posts.count)
          - if mod_enabled?("events")
            %span= t('space.event_count', :count => space.events.count)
        - if has_access
          %p.action-links
            = link_to t('more'), space_path(space)

#space-filter-wrapper
  .view-types
    .btn-group{ :"data-toggle" => "buttons-radio" }
      = link_to spaces_path(:view => 'thumbnails'), :class => "tooltipped btn btn-small #{'active' if params[:view] == 'thumbnails'}" do
        = t('.list_format.thumbnails')
      = link_to spaces_path(:view => 'list', :my_spaces => params[:my_spaces]), :class => "tooltipped btn btn-small #{'active' if params[:view] == 'list'}" do
        = t('.list_format.list')

  .btn-group{ :"data-toggle" => "buttons-radio" }
    = link_to spaces_path(:view => params[:view]), :id => "show-spaces-all", :class => "btn #{'active' unless params[:my_spaces]}", :type => "button" do
      = t('space.index.filters.all')
    - if user_signed_in?
      = link_to spaces_path(:view => params[:view], :my_spaces => true), :id => "show-spaces-mine", :class => "btn #{'active' if params[:my_spaces]}", :type => "button" do
        = t('space.index.filters.my_spaces')
    = hidden_field_tag :space_filter_text

- if params[:view] == 'list'
  = render "spaces/list_view", :spaces => @objects, :user_spaces => @user_spaces, :extended => true
- else
  #spaces.content-block
    .content-block-middle.clearfix
      = render "spaces/thumbnail_view", :spaces => @objects, :user_spaces => @user_spaces

- nav = page_navigation_links @objects
- unless nav.nil?
  .content-block-footer= nav
