<% content_for :javascript do  %>
  
	$("#space_filter").show();

	$("input#Public").click(function(){
	  $("#public_spaces").slideToggle("slow");
	});
	
	$("input#Private").click(function(){
    $("#private_spaces").slideToggle("slow");
  });
	
	$("#space_name_filter").keyup(function(){
	  var filter_text = this.value.toLowerCase();
    $("div.space_item").each(function() {
        if($(this).attr("name").toLowerCase().search(filter_text)>=0){
          $(this).css("display","inline");
      }else{
          $(this).hide();
      }
      });
	});
	
	title = "<%=t('search.space.dots')%>";
	$("#space_name_filter").click(function(){
	  if(this.value == title){
		  this.value="";
		}
	});

	$("#space_name_filter").blur(function(){
	  if(this.value == ""){
		  this.value= title;
		}
	});
	
  $(".space_item").hover(
	  function () {
		    var route = "div#" + $(this).attr("name");
				$("#space_description div").hide();
				$(route).show();
				
      }, 
      function () {

      }
    );
  
	
	/*
  $(".unautorized form").submit(function(){
	  var route = $(this).attr("action");
    $.post(route,
            {authenticity_token: "<%=form_authenticity_token()%>"},
            function(data){
						  eval(data);
            }
          );
		return false;
  });
	*/
	
	$(".unautorized a").fancybox({
    'hideOnContentClick' : false
  });
	
	
	 <%if params[:filter]%>
    $("#space_name_filter").keyup();
  <%end%>
	
<% end %>


<% content_for :sidebar do  %>
  <div class="join">
    <h2><%= t('start_now!') %></h2>
	<p><%= t('space.create_own') %><br/><%= t('share_participate_discuss') %></p>
	<%=link_to "<button class='create-space'>"+t("space.create_own")+"</button>",new_space_path(), :class => "new_space_link"%> 
  </div>
  <div id="space_description">
  	<% for space in @spaces %>
		  <div style="display:none;" id="<%=space.permalink%>" >
			  <%= render :partial=> "space_description", :locals => {:space => space}%>
		  </div>
		<%end%>
  </div>
<% end %>

<% @page_title = "Spaces"-%>

<div id="space_filter" style="display:none">
  <%=text_field_tag 'space_name_filter',(params[:filter] ? params[:filter] :  t('search.space.dots'))%>
  <%= check_box_tag t('public'), "public", true %><%= label_tag t('public') %>  <%= check_box_tag t('private'), "private" , true%><%= label_tag t('private') %>
</div>

<div id = "private_spaces" class="space-box">

  <div id="title"><h3 class="item_title"><%= t('space.private') %></h3></div>
  <div id="space_content">
	<% for space in @private_spaces %>
	  <% unless space.authorize?(:read, :to => current_agent) %>
	    <div class="space_item unautorized" name="<%=space.permalink%>">
              <%=link_logo(space, :size =>'w48', :url => new_space_join_request_path(space), :title=>space.name)%>
			</div>
		<% else %>
		  <div class="space_item" name="<%=space.permalink%>"><%=link_logo (space, :size=> 'w48', :title => space.name)%></div>
		<% end %>
	<% end %>
  </div>
</div>

<div id = "public_spaces" class="space-box">

  <div id="title"><h3 class="item_title"><%= t('space.public.other') %></h3></div>
  <div id="space_content">
  <% for space in @public_spaces %>
    <div class="space_item" name="<%=space.permalink%>"><%=link_logo (space, :size=> 'w48', :title => space.name)%></div>
  <% end %>
  </div>
</div>

<div id="lightbox_join_content" style="display:none"></div>
