= render_page_title t('space.all')

= content_for :sidebar do

  .sidebar-top-action-button
    - if user_signed_in?
      = link_to t('space.create_own'), new_space_path, :class => "btn btn-primary btn-large btn-block"
    - else
      = t('getting_started')
      = link_to t('register.one'), register_path, :class => "btn btn-primary"

  = render_sidebar_content_block('space-description-wrapper') do
    .content-block-middle
      %p= t('space.index.select_at_left')
    - @spaces.each do |space|
      .content-block-middle{:id => "#{space.permalink}-description", :style => "display:none;"}
        .space-logo
          = link_logo_image(space, :size => '160x128', :title => sanitize(space.name))
        = link_to space_path(space) do
          %h3= sanitize(space.name)
        %p.description= sanitize(space.description)
        %p.details
          - if space.users.include?(current_user)
            %span.is-member= t('space.index.user_is_member')
          %span= t('space.member_count', :count => space.users.count)
          %span= t('space.post_count', :count => space.posts.count)
          %span= t('space.event_count', :count => space.events.count)
        %p.action-links
          = link_to t('more'), space_path(space)

#space-filter-wrapper
  .view-types
    .btn-group{ :"data-toggle" => "buttons-radio" }
      = link_to spaces_path(:view => 'thumbnails'), :class => "tooltipped btn btn-small #{'active' if params[:view] == 'thumbnails'}" do
        = t('.list_format.thumbnails')
      = link_to spaces_path(:view => 'list'), :class => "tooltipped btn btn-small #{'active' if params[:view] == 'list'}" do
        = t('.list_format.list')

  .btn-group{ :"data-toggle" => "buttons-radio" }
    = button_tag t('space.index.filters.all'), :id => "show-spaces-all", :class => "btn active", :type => "button"
    - if user_signed_in?
      = button_tag t('space.index.filters.my_spaces'), :id => "show-spaces-mine", :class => "btn", :type => "button"
    = button_tag t('space.index.filters.filter'), :id => "show-spaces-filter", :class => "btn", :type => "button"
    = text_field_tag 'space-filter-text', params[:filter], :placeholder => t('search.space.dots')

- if params[:view] == 'list'
  = render "list_view"
- else
  = render "thumbnail_view"
