= content_for :"page-header" do
  = render_page_title t('space.other')

= content_for :sidebar do
  = render_sidebar_content_block('space-description-wrapper') do
    .content-block-middle
      %p= t('space.index.select_at_left')
    - @spaces.each do |space|
      .content-block-middle{:id => "#{space.permalink}-description", :style => "display:none;"}
        .space-logo
          = link_logo(space, :size => 'h128', :title => sanitize(space.name)).html_safe
        %h3= sanitize(space.name)
        %p.description= sanitize(space.description)
        %p.details
          %span= t('space.member_count', :count => space.actors.count)
          %span= t('space.post_count', :count => space.posts.count)
          %span= t('space.event_count', :count => space.events.count)

#space-filter-wrapper
  = radio_button_tag "show-spaces", "all", true
  = label_tag t('space.all'), nil, :for => "show-spaces_all"
  - if logged_in?
    = radio_button_tag "show-spaces", "mine", false
    = label_tag t('space.my_spaces'), nil, :for => "show-spaces_mine"
  = radio_button_tag "show-spaces", "filter", false
  = text_field_tag 'space-filter-text', params[:filter], :placeholder => t('search.space.dots')
  .action-button
    - if logged_in?
      = link_to t('space.create_own'), new_space_path, :class => "button orange"
    - else
      = t('getting_started')
      = link_to t('register.one'), signup_path, :class => "button orange"

#public-spaces.content-block
  .content-block-header
    %h3= t('space.public.other')
  .content-block-middle
    - @public_spaces.each do |space|
      %div{:class => "space-item #{@user_spaces.include?(space) ? 'my-space' : 'not-my-space'}", :name => space.permalink}
        = link_logo(space, :size => 'h64', :title => sanitize(space.name), :class => 'tooltipped-label downwards').html_safe
  = render_clearer

#private-spaces.content-block
  .content-block-header
    %h3= t('space.private')
  .content-block-middle
    - @private_spaces.each do |space|
      - unless space.authorize?(:read, :to => current_agent)
        .space-item.not-my-space{:name => space.permalink}
          = link_logo(space, :size => 'h64', :url => new_space_join_request_path(space), :title => sanitize(space.name), :class => 'tooltipped-label downwards').html_safe
      - else
        %div{:class => "space-item #{@user_spaces.include?(space) ? 'my-space' : 'not-my-space'}", :name => space.permalink}
          = link_logo(space, :size => 'h64', :title => sanitize(space.name), :class => 'tooltipped-label downwards').html_safe
  = render_clearer
