<% # TODO: remove javascript to independent js files %>
<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

  var title = "<%=escape_javascript(t('search.space.dots'))%>";
  $("#space_name_filter").click(function(){
    if(this.value == title){
      this.value="";
    }
  });
  $("#space_name_filter").blur(function(){
    if(this.value == ""){
      this.value= title;
    }
  });

<%if params[:space_id]=="my"%>
   $("input#spaces_my").click();
<%end%>

<%if params[:filter]%>
  $("#space_name_filter").keyup();
<%end%>

});
</script>
<% end %>

<%= content_for :sidebar do %>


  <!--<div class="sidebar-spacer"></div>-->

  <%= render_sidebar_content_block('space-description-wrapper') do %>
    <div class="content">
      <div class="content-block-middle">
        <p><%= t('space.index.select_at_left') %></p>
      </div>
    </div>
    <% for space in @spaces %>
      <div class="content" style="display:none;" id="<%= space.permalink %>-description">
        <div class="content-block-middle">
          <div class="space-logo">
            <%= link_logo(space, :size => 'h128', :title => sanitize(space.name)).html_safe %>
          </div>
          <h3><%= sanitize(space.name) %></h3>
          <p class="description"><%= sanitize(space.description) %></p>
          <p class="details">
            <span><%= t('space.member_count', :count => space.actors.count) %></span>
            <span><%= t('space.post_count', :count => space.posts.count) %></span>
            <span><%= t('space.event_count', :count => space.events.count) %></span>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<div id="space-filter">
  <%= radio_button_tag "show-spaces", "filter", true %>
  <%= text_field_tag 'space-name-filter', (params[:filter] ? params[:filter] : t('search.space.dots')) %>
  <% if logged_in? %>
    <%= radio_button_tag "show-spaces", "all", false %>
    <%= label_tag t('space.all'), nil, :for => "show-spaces_all" %>
    <%= radio_button_tag "show-spaces", "mine", false %>
    <%= label_tag t('space.my_spaces'), nil, :for => "show-spaces_mine" %>
  <% end %>

  <div class="action-button">
    <% if logged_in? %>
      <%= link_to t('space.create_own'), new_space_path, :class => "button orange"%>
    <% else %>
      <%= t('getting_started') %>
      <%= link_to t('register.one'), signup_path, :class => "button orange" %>
    <% end %>
  </div>

</div>

<div class="content-block" id="public-spaces">
  <div class="content-block-header">
    <h3><%= t('space.public.other') %></h3>
  </div>
  <div class="content-block-middle">
    <% @public_spaces.each do |space| %>
      <div class="space-item <%= @user_spaces.include?(space) ? 'my-space' : 'not-my-space' %>" name="<%= space.permalink %>">
        <%= link_logo(space, :size => 'h64', :title => sanitize(space.name), :class => 'tooltipped-label downwards').html_safe %>
      </div>
    <% end %>
  </div>
  <%= render_clearer %>
</div>

<div class="content-block" id="private-spaces">
  <div class="content-block-header">
    <h3><%= t('space.private') %></h3>
  </div>
  <div class="content-block-middle">
    <% @private_spaces.each do |space| %>
      <% unless space.authorize?(:read, :to => current_agent) %>
        <div class="space-item not-my-space" name="<%= space.permalink %>">
          <%= link_logo(space, :size => 'h64', :url => new_space_join_request_path(space), :title => sanitize(space.name), :class => 'tooltipped-label downwards').html_safe %>
        </div>
      <% else %>
        <div class="space-item <%= @user_spaces.include?(space) ? 'my-space' : 'not-my-space' %>" name="<%=space.permalink%>">
          <%= link_logo(space, :size => 'h64', :title => sanitize(space.name), :class => 'tooltipped-label downwards').html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= render_clearer %>
</div>
