
<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
<% @page_title = "Spaces"-%>
&nbsp;
<h1>Spaces</h1>

<table>
  <tr>
	<td class=headerDay align=center>Name</td>
	<%if logged_in?%>
	<td class=headerDay align=center>Action</td>
	<%end%>
  </tr>

<% for space in @spaces %>
  <tr>
  	<td>
		<%= space.name%>
	</td>
    <td>
    	<% if logged_in? %>
          <% if true #space.authorizes?(current_user, :edit)%>
            <%= link_to space.name, edit_space_path(space)%>
            <%= link_to 'Add Users', new_space_user_path(space, {:by_email => true}) %>
            <%= link_to 'Groups' ,space_groups_path(space)%>
            <%= link_to 'Delete', space, :confirm => 'This will delete all the Space. Are you sure?', :method => :delete %>
          <%end%>
        <%else%>
	  <%space.name%><!-- lo he tocado para que no salga 2 veces el nombre-->
	<%end%>
	 </td>
  </tr>
<% end %>
<br>

</table>

<br />

<% if logged_in? && space.authorizes?(current_user, :edit)%>
	<%= link_to 'New space', new_space_path %>
<%end%>

<%end%>
</div>
</div>
<%= render :partial =>'shared/sidebar'%>
