= content_for :page_header_subtitle do
  = t('.subtitle')
= render_page_title t('.title')

= content_for :sidebar do

  - if user_signed_in? && can?(:create, Space)
    .sidebar-top-action-button
      = link_to t('.create_new_space'), new_space_path, :class => "btn btn-primary btn-large btn-block"

  - elsif !user_signed_in?
    .sidebar-top-action-button
      - if current_site.registration_enabled?
        = link_to t('register.one'), register_path, :class => "btn btn-success btn-large btn-block"
      - else
        = link_to t('_other.login'), login_path, :class => "btn btn-primary btn-large btn-block"

  = render_sidebar_content_block('space-description-wrapper') do
    .content-block-middle
      %p= t('space.index.select_at_left')
    - @spaces.each do |space|
      - has_access = user_signed_in? || space.public
      .content-block-middle{:id => "#{space.permalink}-description", :style => "display:none;"}
        .space-logo-wrapper
          - if has_access
            = link_logo_image(space, :size => '168x128', :title => sanitize(space.name), :class => "logo logo-space")
          - else
            = logo_image(space, :size => '168x128', :title => sanitize(space.name), :class => "logo logo-space")
        - if has_access
          = link_to space_path(space) do
            %h3.name= sanitize(space.name)
        - else
          %h3.name= sanitize(space.name)
        %p.description= sanitize(first_words(space.description, 400))
        %p.details
          - if space.users.include?(current_user)
            %span.is-member= t('space.index.user_is_member')
          %span= t('space.member_count', :count => space.users.size)
          %span= t('space.post_count', :count => space.posts.size)
          - if mod_enabled?("events")
            %span= t('space.event_count', :count => space.events.size)
        - if has_access
          %p.action-links
            = link_to t('more'), space_path(space)

#space-filter-wrapper
  .view-types
    .btn-group{ :"data-toggle" => "buttons-radio" }
      = link_to spaces_path(params.merge(view: 'thumbnails')), :class => "tooltipped btn btn-small #{'active' if params[:view] == 'thumbnails'}" do
        = t('.list_format.thumbnails')
      = link_to spaces_path(params.merge(view: 'list')), :class => "tooltipped btn btn-small #{'active' if params[:view] == 'list'}" do
        = t('.list_format.list')

  .btn-group{ :"data-toggle" => "buttons-radio" }
    = link_to spaces_path(params.merge(my_spaces: nil)), :id => "show-spaces-all", :class => "btn #{'active' unless params[:my_spaces]}", :type => "button" do
      = t('space.index.filters.all')
    - if user_signed_in?
      = link_to spaces_path(params.merge(my_spaces: true)), :id => "show-spaces-mine", :class => "btn #{'active' if params[:my_spaces]}", :type => "button" do
        = t('space.index.filters.my_spaces')
    = hidden_field_tag :space_filter_text

#space-order-wrapper
  = t('space.index.order.order_by') + ':'
  .btn-group{ :"data-toggle" => "buttons-radio" }
    = link_to spaces_path(params.merge(order: 'relevance')), class: "tooltipped btn btn-mini #{'active' if params[:order] == 'relevance'}", title: t('space.index.order.relevance_tip') do
      = t('space.index.order.relevance')
    = link_to spaces_path(params.merge(order: 'abc')), class: "btn btn-mini #{'active' if params[:order] == 'abc'}" do
      = t('space.index.order.alphabetic')

- if params[:view] == 'list'
  = render "spaces/list_view", :spaces => @spaces, :user_spaces => @user_spaces, :extended => true
- else
  #spaces.content-block
    .content-block-middle.clearfix
      = render "spaces/thumbnail_view", :spaces => @spaces

- nav = page_navigation_links @spaces
- unless nav.nil?
  .content-block-footer= nav
