<% @page_title = "Spaces"-%>
&nbsp;
<h1>Spaces</h1>

<table>
  <tr>
	<td class=headerDay align=center>Name</td>
	<td class=headerDay align=center>Description</td>
	<td class=headerDay align=center>Action</td>
  </tr>

<% for space in @spaces %>
  <tr>
  	<td>
		<%= text_field("space", "name", :value=>space.name, :readonly => false) %>
	</td>
	<td>
		<%= text_field("space", "description", :value=>space.description, :readonly => false) %>
	</td>
    <td>
    <%= link_to 'Add Users', add_user_path(space) %>
  	<%= link_to 'Edit', edit_space_path(space) %>
    <%= link_to 'Delete', space, :confirm => 'This will delete all the Space. Are you sure?', :method => :delete %>
    
	<%= link_to 'Groups' ,show_groups_path(:container_id => space.id, :container_type => :spaces)%>
    </td>
  </tr>
<% end %>
<br>

</table>

<br />

<%= link_to 'New space', new_space_path(:container_id => @space.id) %>