= content_for :sidebar do
  = render_sidebar_content_block('space-description-wrapper') do
    .content-block-middle
      %p= t('space.index.select_at_left')
    - @spaces.each do |space|
      .content-block-middle{:id => "#{space.permalink}-description", :style => "display:none;"}
        .space-logo
          = link_logo(space, :size => 'h128', :title => sanitize(space.name)).html_safe
        = link_to space_path(space) do
          %h3= sanitize(space.name)
        %p.description= sanitize(space.description)
        %p.details
          - if !space.users.include?(current_user)
            %span.is_member= t('space.index.user_is_member')
          %span= t('space.member_count', :count => space.actors.count)
          %span= t('space.post_count', :count => space.posts.count)
          %span= t('space.event_count', :count => space.events.count)
        %p.action-links
          = link_to t('more'), space_path(space)

#space-filter-wrapper
  .action-button
    - if user_signed_in?
      = link_to t('space.create_own'), new_space_path, :class => "btn btn-info"
    - else
      = t('getting_started')
      = link_to t('register.one'), register_path, :class => "btn btn-primary"

  .btn-group{ :"data-toggle" => "buttons-radio" }
    = button_tag t('space.index.filters.all'), :id => "show-spaces-all", :class => "btn active"
    - if user_signed_in?
      = button_tag t('space.index.filters.my_spaces'), :id => "show-spaces-mine", :class => "btn"
    = button_tag t('space.index.filters.filter'), :id => "show-spaces-filter", :class => "btn"
    = text_field_tag 'space-filter-text', params[:filter], :placeholder => t('search.space.dots')

#public-spaces.content-block
  .content-block-header
    %h3= t('space.public.other')
  .content-block-middle.clearfix
    - @public_spaces.each do |space|
      %div{:class => "space-item #{@user_spaces.include?(space) ? 'my-space' : 'not-my-space'}", :name => space.permalink}
        = link_logo(space, :size => 'h64', :title => sanitize(space.name), :class => 'tooltipped-label downwards').html_safe

#private-spaces.content-block
  .content-block-header
    %h3= t('space.private')
  .content-block-middle.clearfix
    - @private_spaces.each do |space|
      - unless space.authorize?(:read, :to => current_user)
        .space-item.not-my-space{:name => space.permalink}
          = link_logo(space, :size => 'h64', :url => new_space_join_request_path(space), :title => sanitize(space.name), :class => 'tooltipped-label downwards').html_safe
      - else
        %div{:class => "space-item #{@user_spaces.include?(space) ? 'my-space' : 'not-my-space'}", :name => space.permalink}
          = link_logo(space, :size => 'h64', :title => sanitize(space.name), :class => 'tooltipped-label downwards').html_safe
