<% content_for :javascript do  %>
  
	$("#space_filter").show();

	$("input#public").click(function(){
	  $("#public_spaces").slideToggle("slow");
	});
	
	$("input#private").click(function(){
    $("#private_spaces").slideToggle("slow");
  });
	
	$("#space_name_filter").keyup(function(){
	  var filter_text = this.value.toLowerCase();
    $("div.space_item").each(function() {
        if($(this).attr("name").toLowerCase().search(filter_text)>=0){
          $(this).css({ display:"inline"})
      }else{
          $(this).hide();
      }
      });
	});
	
	$("#space_name_filter").click(function(){
	  if(this.value == "Space filter..."){
		  this.value="";
		}
	});

  $(".space_item").hover(
	  function () {
		    var route = "div#" + $(this).attr("name");
				$("#space_description div").hide();
				$(route).show();
				
      }, 
      function () {

      }
    );
  
  $(".unautorized form").submit(function(){
	  var route = $(this).attr("action");
    $.post(route,
            {authenticity_token: "<%=form_authenticity_token()%>"},
            function(data){
						  eval(data);
            }
          );
		return false;
  });
	
	 <%if params[:filter]%>
    $("#space_name_filter").keyup();
  <%end%>
	
<% end %>


<% content_for :sidebar do  %>
  <div class="join">
    <h2>Start now!</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <%=link_to image_tag("buttons/create-space.png"),new_space_path(), :class => "new_space_link"%>  
  </div>
  <div id="space_description">
  	<% for space in @spaces %>
		  <div style="display:none;" id="<%=space.permalink%>" >
			  <%= render :partial=> "space_description", :locals => {:space => space}%>
		  </div>
		<%end%>
  </div>
<% end %>

<% @page_title = "Spaces"-%>

<div id="space_filter" style="display:none">
  <%=text_field_tag 'space_name_filter',(params[:filter] ? params[:filter] :  "Space filter...")%>
  <%= check_box_tag "public","public",true%><%= label_tag "public"%>  <%= check_box_tag "private","private",true%><%= label_tag "private" %>
</div>

<div id = "private_spaces">

  <h3>Private Spaces</h3>

	<% for space in @private_spaces %>
	  <% unless space.authorizes?(:read, :to => current_agent) %>
	    <div class="space_item unautorized" name="<%=space.permalink%>">
			  <% form_tag join_space_path(space) do %>
          <%= image_submit_tag(logo_path (space, :size=> 48, :title => space.name, :alt => space.name))%>
        <% end %>
			</div>
		<% else %>
		  <div class="space_item" name="<%=space.permalink%>"><%=link_logo (space, :size=> 48, :title => space.name, :alt => space.name)%></div>
		<% end %>
	<% end %>
</div>

<div id = "public_spaces">

  <h3>Public Spaces</h3>

  <% for space in @public_spaces %>
    <div class="space_item" name="<%=space.permalink%>"><%=link_logo (space, :size=> 48, :title => space.name, :alt => space.name)%></div>
  <% end %>
</div>

<div id="lightbox_content" style="display:none"></div>