- spaces_menu_at :admin
= render :partial => 'spaces/menu'
= render :partial => 'spaces/admin_tabs'

#admission
  %h3= t('join_request.pending.other')
  - if @space.pending_join_requests.any?
    - last_request = @space.pending_join_requests.last
    - @space.pending_join_requests.each do |jr|
      - unless jr.candidate.nil? || jr.candidate.disabled
        %div{:class => "reqs #{'last' if (jr==last_request)}"}
          .reqs-item
            .invitation-logo
              = raw(link_logo(jr.candidate, :url => user_path(jr.candidate),:size=>32, :title=>jr.candidate.name))
            .invitation-content
              %span.unified_user= link_to(sanitize(jr.candidate.name),user_path(jr.candidate),:class=>"unified_user")
              .float
                = simple_form_for [@space, jr], :url => update_space_join_request_path(@space.id, jr) do |f|
                  %label.main_text
                    = t('role.one')
                    \:
                  = select "join_request", "role", Space.roles.map { |r| [ r.name, r.id ] },  :selected => default_role , :class=> "main_text"
                  = f.hidden_field :accepted, :value => true
                  = f.hidden_field :processed, :value => true
                  = f.submit "Accept",:class=>"main_text"
              .float
                = simple_form_for [@space, jr], :url => update_space_join_request_path(@space.id, jr) do |f|
                  = f.hidden_field :processed, :value => true
                  = f.submit "Deny",:class=>"main_text"
  - else
    %p.main_text= t('join_request.not_pending.other')
  %h3= t('invitation.pending.other')
  - if @space.pending_invitations.any?
    = render :partial => 'invitation', :collection => @space.pending_invitations
  - else
    %p.main_text= t('invitation.not_pending.other')