-# // fancy box to crop the image
-# <%= render :partial => 'logos/crop_logo', :formats => [:js],
-#            :locals => { :form_id => 'select_logo_form',
-#                         :url_form => logos_path({ :upload => :yes}),
-#                         :container_id => 'resultado',
-#                         :aspect_ratio => Logo::ASPECT_RATIO_S,
-#                         :crop_size => 188,
-#                         :on_success => 'onCropLogoFormSuccess' } %>

= render_page_title t('space.create_own')

#create-space
  - @files = get_default_logo_files
  - selected = rand(@files.length)

  .left-column
    = simple_form_for @space, :html => {:method => :post, :multipart => true}, :url => spaces_url(:protocol => current_site.protocol) do |f|
      #new-space-basic-info
        = f.hidden_field "rand_value"
        = f.input :name, :label => t('name.one')
        = f.input :description, :as => :text, :label => t('description')
        = f.input :public, :hint => t("tooltip.public_space")
      #new-space-webconf-area
        %h3= t('space.create.webconf_options')
        = f.fields_for :bigbluebutton_room do |r|
          = r.input :attendee_password, :as => :showable_password, :label => t('activerecord.attributes.spaces.attendee_password')
          = r.input :moderator_password, :as => :showable_password, :label => t('activerecord.attributes.spaces.moderator_password')
      = hidden_field "space", "image", :value => "/assets/default_space_logos/" + @files[selected].to_s, :name => "space[default_logo]"
      = f.button :submit, t("button.create"), :class => 'bordered'

  .right-column

    #selected-logo.content-block
      .content-block-header
        %h3= t('space.logo_selected.default_message')
        = help_icon t("tooltip.update_logo")
      .content-block-middle
        = image_tag ("/assets/default_space_logos/" + @files[selected].to_s), { :id => "selected-logo-image", :size => "160x122"}
        %ul.selectable-buttons
          %li= link_to t('space.logo_selected.open_gallery'), '#logos-gallery'
          %li= link_to t('space.logo_selected.text_logo'), '#logos-text'
          %li= link_to t('space.logo_selected.upload_logo'), '#logos-upload'

    #logo-selection-options.selectable-buttons-target

      #logos-upload
        = simple_form_for :logo, :html => {:method => :post, :id => "select_logo_form", :multipart => true, :class => "form-for-crop"}, :url => {:controller => :logos, :action => :new, :upload => :yes} do |f|
          = link_to t("space.logo_selected.upload_logo_text"), '#logo_media', :"data-open-file" => true
          = f.input :media, :as => :file
          = f.hidden_field "rand"

      #logos-text
        %span= t('space.logo_selected.enter_text')
        = text_field_tag :text_logo, nil, :id => "logos-text-input"
        = button_tag t("space.logo_selected.generate_logo"), :id => "logos-text-submit", :class => "bordered"
        #logos-text-generated

      #logos-gallery
        %ul
          - for file in @files
            %li= link_to (image_tag "/assets/default_space_logos/" + file.to_s, { :size => "100x76"}), '#'
