	<% rounded() do %>
<h1>New Space</h1>

<%= error_messages_for :space %>

<% form_for(@space_new,:html => { :multipart => true }) do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
	 <%= link_to 'Back', spaces_path%>  </p>
<% end %>

<% end %>

<%= render :partial =>'shared/sidebar'%>