<% # TODO: remove javascript to independent js files %>
<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

// fancy box to crop the image
<%= render :partial => 'logos/crop_logo.js.erb',
           :locals => { :form_id => 'select_logo_form',
                        :url_form => logos_path({ :upload => :yes}),
                        :container_id => 'resultado',
                        :aspect_ratio => Logo::ASPECT_RATIO_S,
                        :crop_size => 188,
                        :on_success => 'onCropLogoFormSuccess' } %>

});
</script>
<% end %>



<div id="create_space" class="create_space_blinking">
  <a id="new_space_anchor" name="new_space_anchor" ></a>
  <div class="form">
    <%= form_for @space, :html => {:method => :post, :multipart => true, :name => "space_new_form", :id => "space_new_form"}, :url => spaces_url(:protocol => current_site.protocol) do |f|%>
    <%= f.hidden_field "rand_value" %>
    <%unless logged_in?%>
    <div id="left">
      <div class="options">
        <ul>
          <li class="title"><%= t('login_or_register') %>:</li>
          <li><%=link_to t("login.one"), new_space_path(), :id => "create_and_login_link", :class=>"#{'selected' unless params[:register]}"%></li>
          <li> | </li>
          <li><%=link_to t('register.one'), new_space_path(:register => true), :id => "create_and_register_link", :class=>"#{'selected' if params[:register]}"%></li>
        </ul>
      </div>

      <%if params[:register]%>
      <%= render :partial => 'register_fields' %>
      <%else%>
      <%= render :partial => 'login_fields' %>
      <%end%>
    </div>

    <div id="right">
      <%end%>
      <%if logged_in?%>
      <div><span class="title"><%= t('space.create_own') %></span></div>
      <div>
        <label for="name" id= "space_name_label"><%= t('name.one') %></label><br/>
        <div class='error' id="error_name" style="display:none" ><%= escape_javascript(t('space.name_none'))%></div>
        <%= f.text_field :name %>
      </div>

      <div>
        <label for="description" id= "space_description_label"><%= t('description') %></label><br/>
        <div class='error' id="error_description" style="display:none" ><%= escape_javascript(t('space.description_none'))%></div>
        <%= f.text_area(:description,:class=>"area") %>
      </div>

      <div>
        <%= f.check_box :public, :id => "public" %><label for="public"><%= t('space.public.one') %></label>
        <%=image_tag("icons/help.png",:title=>t("tooltip.public_space"), :size=>"16x16",:class=>"icon tooltipped upwards",:style=>"cursor:pointer")%>
      </div>

      <div id="new_space_webconf_area">
        <h3><%= t('space.create.webconf_options') %></h3>
        <%= f.fields_for :bigbluebutton_room do |r| %>
        <div class="field">
          <%= r.label :moderator_password, t('activerecord.attributes.spaces.moderator_password') %>
          <%= r.password_field :moderator_password, :id => "moderatorPW" %>
          <%= check_box_tag 'hideMPW' %><%= t('show_question') %>
        </div>
        <div class="field">
          <%= r.label :attendee_password, t('activerecord.attributes.spaces.attendee_password') %>
          <%= r.password_field :attendee_password, :id => "attendeePW" %>
          <%= check_box_tag 'hideAPW' %><%= t('show_question') %>
        </div>
        <% end %>
      </div>
      <%
         @files = Dir.entries("app/assets/images/default_space_logos/")
         images_for_row = 5 # number of images per row
         images_now = 1
         @files.delete(".")
         @files.delete("..")
         selected = rand(@files.length)
      %>

      <%= hidden_field "space","image",:value => "/assets/default_space_logos/" + @files[selected].to_s, :name => "space[default_logo]" %>

      <br>


      <div id='default_text_logo' style="display:none">

        <label for="logo_text" id= "space_logo_text_label">
          <%= t('space.logo_selected.enter_text') %>
        </label>
        <br/>
        <%= f.text_field :text_logo %>
        <input type="button" id="generate_text_logo_button" value="<%=t("space.logo_selected.generate_logo") %>" class="basic_button blue_button"/>

        <div id = "generated_text_logos"></div>

      </div>

      <div id='default_space_images' style="display:none">


        <%
           for file in @files
           images_now+= 1
        %>
        <%=link_to (image_tag "/assets/default_space_logos/" + file.to_s, {:id=> ( file.to_s.gsub('.','') ),:class => "default_space_logo",:title => "Click to choose a default image",:size => "100x76"}), 'javascript:selectDefaultImage("' + ( file.to_s ) + '");' %>

        <% if images_now > images_for_row %>
        <br>
        <% images_now=1;
           end %>
        <% end %>
      </div>


      <%unless logged_in?%>
    </div><%end%>
    <%end%>
    <%end%>
    <%if logged_in?%>
    <div id="default_upload_logo" style="display:none">
      <%= form_for :logo, :html => {:method => :post, :id =>"select_logo_form", :multipart => true, :name => "space_new_form"}, :url => {:controller => :logos, :action => :new, :upload => :yes} do |f| %>
      <%= t("space.logo_selected.upload_logo_text")%><br>
      <%= f.file_field :media, :class=>"file file1 basic_button blue_button" %>

      <%= f.hidden_field  "rand" %>
      <input id="upload_logo_button" type="submit" class = "basic_button blue_button" value="<%=t("space.logo_selected.upload_text")%>" /><% end %>
      <div id="resultado">
      </div>
    </div>

    <br><input type="button" id="create_space_button" value="<%=t("button.create") %>" class="basic_button blue_button"/>
    <%end%>
  </div>
</div>


<%= content_for :sidebar do %>
<%if logged_in?%>
<div id="space_logo" class="space_logo">
  <h3><%=t('space.logo_selected.default_message') %> <%=image_tag("icons/help.png",:title=>t("tooltip.update_logo"),:size=>"16x16",:class=>"icon tooltipped upwards",:style=>"cursor:pointer")%></h3>
  <div id="selected_logo" style="padding-bottom:10px;">
    <center>
      <%=image_tag "/assets/default_space_logos/", {:id=> "selected_logo_image",:class => "default_space_logo",:title => "Click to choose a default image",:size => "160x122"} %>
    </center>
  </div>
</div>

<ul class="first_options">
  <li><%=link_to t('space.logo_selected.open_gallery'), 'javascript:closeTextLogo();closeUploadLogo();openGallery();', { :class=>"show_inv tooltip1",:title => t('space.logo_selected.open_gallery')} %></li>
  <li><%=link_to t('space.logo_selected.text_logo'), 'javascript:closeUploadLogo();closeGallery();openTextLogo();', { :class=>"show_inv",:title => t('space.logo_selected.text_logo')} %></li>
  <li><%=link_to t('space.logo_selected.upload_logo'), 'javascript:closeTextLogo();closeGallery();openUploadLogo();', { :class=>"show_inv",:title => t('space.logo_selected.upload_logo')} %></li>
</ul>

<% end %>
<% end %>
