- spaces_menu_at :home
= render :partial => 'spaces/menu'

- unless @current_events.empty?
  #current-events.content-block
    .content-block-header
      %h3= t('event.now')
    .content-block-middle
      - for event in @current_events do
        .current-event
          .event-title
            = image_tag("icons/date.png")
            = link_to(event.name, space_event_path(@space,event))
          .event-date
            = event.start_date.to_formatted_s(:short)
            = "-"
            = event.end_date.to_formatted_s(:short)
            = "(#{t('GMT')} #{Time.zone.formatted_offset})"

.content-block
  .content-block-header
    %h3= t('space.description')
  .content-block-middle
    = @space.description

- if @news_to_show
  = render :partial => 'latest_news'

= render :partial => 'latest_posts'

= render :partial => 'latest_users'
