- page_title @space.name

- spaces_menu_at :home

= render :partial => 'spaces/menu'

- if mod_enabled?("events") && !@current_events.empty?
  #events-current.content-block.event-block.events-hapenning-now
    .content-block-header
      %h3= t('.events_now')
    .content-block-middle
      - for event in @current_events do
        = render :partial => "mweb_events/events/unified_event", :locals => { :event => event }

.content-block
  .content-block-header
    %h3= t('space.description')
  .content-block-middle
    = @space.description

- if @news_to_show
  = render :partial => 'latest_news'

= render :partial => 'latest_posts'

= render :partial => 'latest_users'
