	
<div id="yui-main">
<div class="yui-b main_column"><% rounded(:class => "tips") do %>
	
<title>Add Users to the Space by Email</title>
<script>
	function register_admin(){
		document.invite_user_form.user_role.value = "Admin";
		document.invite_user_form.submit();
	}
	
	function register_user(){
		document.invite_user_form.user_role.value = "User";
		document.invite_user_form.submit();
	}
	
	function register_invited(){
		document.invite_user_form.user_role.value = "Invited";
		document.invite_user_form.submit();
	}

</script>
<h1>Add Users to the Space by Email</h1>
<% form_tag({:controller=>"spaces", :action=>"add_user_new"}, {:name=>'invite_user_form',:style => "display: inline;"}) do  %>
	<p><label for="emails">Emails</label><br/>
<%= text_area 'invitation', :email%>
<input type=hidden name="user_role" id="user_role" value="Invited"/><br>


				<%= link_to "Register as Admin",{},:onclick=>"register_admin()", :class => "secund" %><br/>
				<%= link_to "Register as User",{},:onclick=>"register_user()", :class => "secund" %><br/>
				<%= link_to "Register as Invited",{},:onclick=>"register_invited()", :class => "secund" %><br/>		
			
<%end%>
<%end%>

</div>
</div>



<div class="yui-b sidebar">
		<% rounded(:class => "tips") do %>
			 
				<h4> Search</h4> </span>
				<br>	
				 <span> <% form_tag({:controller=> 'users',:action => :search_users2, :container_type =>:space, :container_id=>@space.id}, :method => 'get') do %>
				      <%= text_field_tag :query, params[:query] %>
					  <%= submit_to_remote 'Search', 'Search', :url=>{:controller=> 'users',:action => :search_users2, :container_type =>:space, :container_id=>@space.id}%>
				      <%= submit_to_remote 'Reset', 'Reset', :url=>{:controller=> 'users',:action => :reset_search, :container_type =>:space, :container_id=>@space.id}%>
				  </span>
				  <br> <%= link_to_remote 'Search Users by Interests' , {:url=>{:controller => 'users', :action=>'organization', :container_type =>:space, :container_id=>@space.id}}%>
				  <br>
				<% end %>			
		<%end%>
<div id="adv_search">		
</div>
</div>