<% content_for :search do  %>
  <% form_tag(search_users_path(@space), :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
      <button>Search</button>
  <% end %>
<%end%>

<% content_for :sidebar do  %>
  <div id="join"><button>Join this Space</button></div>
	<h3>About <em><%=@space.name%></em></h3>
	<p><%=image_tag("test_small.jpg",:align=>"left")%><%= sanitize(space.description) if space.description.present? %></p>
	<div id="latest_users">
        <h5><%=image_tag("icons/date.png",:class=>"icon")%> Incoming Events</h5>
  <ul>
  <% for event in @incoming_events -%>
    <li class="event">
        <strong><%=sanitize(event.title)%></strong><br/>
		<%=event.start_date.to_formatted_s(:short)%> - <%=event.end_date.to_formatted_s(:short)%>
    </li>
  <% end -%>
  </ul>
        <%= link_to "Read more", space_events_path(@space), :class => "read_more_link" if space.authorizes?([:read, :content], :to => current_user) %>
  </div>
<% end %>

<div id="latest_posts">
        <h3><%=image_tag("icons/comment.png")%> Latest Posts</h3>
  <% for post in @lastest_posts -%>
    <div class="post">
        <p><strong><%=sanitize(post.title)%></strong><span class="updated"> Updated <%=time_ago_in_words(post.updated_at)%> ago</span></p>
    </div>
  <% end -%>
        <%= link_to "Read more", space_posts_path(@space), :class => "read_more_link" if space.authorizes?([:read, :content], :to => current_user)%>
</div>

<div id="latest_users">
        <h3><%=image_tag("icons/user.png")%> Latest Users</h3>
  <% for user in @lastest_users -%>
    <div class="user">
    	<%if space.authorizes?([:read, :performance],:to=> current_user) or current_user.fellows.include?(post.author)%>
				<p><%= link_logotype(user, :size => 48, :url => user_profile_path(user)) %></p>
			<%else%>
				<p><%=logotype(user, :size=>48)%> <%=user.name%></p>
			<%end%>        
    </div>
  <% end -%>
    <%= link_to "Read more", space_users_path(@space), :class => "read_more_link" if space.authorizes?([:read, :performance], :to => current_user)%>
</div>

	
	
