<% menu(:home) %>

<% content_for :javascript do  %>
  $(".news_navigation_link").livequery("click", function(){
	  var route = $(this).attr("href");
		$(this).attr("href","#")
	  $.get(route,
            {authenticity_token: "<%=form_authenticity_token()%>"},
            function(data){
              $("#last_news").replaceWith(data);
            }
          );
	});
	
	$("#join_form").submit(function(){
    var route = $(this).attr("action");
    $.post(route,
            {authenticity_token: "<%=form_authenticity_token()%>"},
            function(data){
              eval(data);
            }
          );
    return false;
  });
	
<% end %>

<% content_for :search do  %>
  <% form_tag(search_all_path(@space), :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
      <%= image_submit_tag "buttons/search.png"%>
  <% end %>
<%end%>

<% content_for :sidebar do  %>
  <div id="join">
  <% if space.users.include?(current_user)%>
		<%= link_to image_tag("buttons/leave-space2.png", :alt => "Leave space" ), space_performance_path(@space, @performance), :method => :delete,:title => "Leave space" %>
  <%else%>
	  <% form_tag join_space_path(space), :id => "join_form" do %>
      <%= image_submit_tag("buttons/join-space.png") %>
    <% end %>
  </div>
  <% end %>
  <div class="space-desc">

	  <h3>About <em><%=@space.name%></em></h3>

	<p><%=logo(@space, :size =>48, :align => "left")%>
	<%= sanitize(space.description) if space.description.present? %></p>
  </div>	
	<div id="inc-events">
        <h3><%=image_tag("icons/date.png",:class=>"icon")%> Incoming Events</h3>

 <ul>  
  <% for event in @incoming_events -%>
    <li class="event">
        <h5><%=sanitize(event.title)%></strong></h5>
		<p class="small-font"><%=event.start_date.to_formatted_s(:short)%> - <%=event.end_date.to_formatted_s(:short)%></p>
    	<%=link_to "", space_event_path(@space,event),:class=>"box-link"%>
    </li>
  <% end -%>
 </ul> 
 <div class="read_more">
   <%= link_to "Read more", space_events_path(@space), :class => "read_more_link" if space.authorizes?([:read, :content], :to => current_user) %>
 </div>
  </div>
<% end %>

<div id="latest_news">

        
  <% if @news_to_show %>
	  <h3><%=image_tag("icons/information.png")%> Latest News</h3>
    <%= render :partial => 'last_news' %>
  <% end %>
        
</div>

<div id="latest_posts">
        <h3><%=image_tag("icons/comment.png")%> Latest Posts</h3>
  <% for post in @lastest_posts -%>
    <div class="post">
        <p><strong><%=sanitize(post.title)%></strong><span class="updated"> Updated <%=time_ago_in_words(post.updated_at)%> ago</span></p>
		<a href="" class="box-link"></a>
    </div>
  <% end -%>
      <div class="read_more"> 
	    <%= link_to "Read more", space_posts_path(@space), :class => "read_more_link" if space.authorizes?([:read, :content], :to => current_user)%>
	  </div>
</div>

<div id="latest_users">
  <h3><%=image_tag("icons/user.png")%> Latest Users</h3>
  <% for user in @lastest_users -%>
    <div class="user">
    	<%if space.authorizes?([:read, :performance],:to=> current_user) or current_user.fellows.include?(post.author)%>
			<div><%=logo(user, :size=>32)%></div>
				<div>
				  <ul>
				    <li class="u_name"><strong><%=sanitize(user.full_name)%></strong></li>
				    <li class="small-font"><%=sanitize(user.organization) %></li>
				  </ul>
				 </div>
				 <%=link_to "", user_profile_path(user),:class=>"box-link"%>
			<%else%>
				<p><%=logotype(user, :size=>32)%> <%=user.name%></p>
			<%end%>        
    </div>
  <% end -%>
  <div class="read_more">
    <%= link_to "Read more", space_users_path(@space), :class => "read_more_link" if space.authorizes?([:read, :performance], :to => current_user)%>
  </div>
</div>

<div id="lightbox_content" style="display:none"></div>
	
	
