- spaces_menu_at :home

// Starting the sidebar code
= content_for :sidebar do

  = render :partial => 'sidebar_join_links'

  = render_sidebar_content_block('sidebar-webconference', :active => @bbb_room.is_running?) do
    .content-block-header
      - if @bbb_room.is_running?
        = image_tag('icons/in_progress-16x16.gif', :class => 'in-progress-icon')
      %h3= t('webconference.one')
      = help_icon t("tooltip.bigbluebutton_space"), :class => 'leftwards'
    .content-block-middle
      .description
        - if @bbb_room.is_running?
          %span= t('webconference.currently_running', :count => @bbb_room.participant_count)
        - else
          %span= t('webconference.nobody.one_line')
      .buttons
        - if logged_in?
          - webconf_join_link = join_space_room_path(space, @bbb_room)
        - else
          - webconf_join_link = invite_space_room_path(space, @bbb_room)
        = link_to t('button.join'), webconf_join_link, :class => 'button green webconf-start-link'
        - if logged_in?
          = webconf_mobile_icon_link(join_mobile_space_room_path(space, @bbb_room))
        - else
          = webconf_mobile_icon_link(false)
        = render_clearer
    .content-block-footer
      = link_to t('view_more'), space_webconference_path(space)

  = render_sidebar_content_block('sidebar-upcoming-events') do
    .content-block-header
      = image_tag("icons/date.png")
      %h3
        = link_to t('event.upcoming.other'), space_events_path(@space)
      = help_icon t("tooltip.upcoming"), :class => 'leftwards'
    .content-block-middle
      %span.event-timezone
        (#{t('timezone.one')}: GMT#{Time.zone.formatted_offset})
      = render 'events/sidebar_event_wrapper', :events => @upcoming_events
    .content-block-footer
      = link_to feed_icon, space_events_path(@space, :format => :atom)
      = link_to(t('read_more'), space_events_path(@space)) if space.authorize?([:read, :content], :to => current_user)

  = render_sidebar_content_block("sidebar-space-admins") do
    .content-block-header
      %h3= t('user.administrators')
      = help_icon t("tooltip.admin"), :class => 'leftwards'
    .content-block-middle
      - admins = space.actors(:role => 'Admin')
      - admins.each do |admin|
        .admin-wrapper
          .logo-in-thread
            = link_logo(admin, :size => 32, :url => user_path(admin), :title => admin.name).html_safe
          .admin-text
            = link_to sanitize(admin.full_name), user_path(admin), :class => "admin-name"
            %span.admin-organization= sanitize(admin.organization)

  - if logged_in? && space.users.include?(current_user) && !(space.is_last_admin?(current_user))
    = render_sidebar_content_block do
      = render :partial => 'sidebar_leave_space'

  = render_sidebar_content_block('sidebar-pageviews') do
    %span.value= @space.unique_pageviews
    %span= t('statistics.space_views')
    = help_icon t("tooltip.num_views"), :class => 'leftwards'


// Starting the content in the middle of the page...

// TODO: This block below should be tested
- if !@current_events.empty?
  .content-block
    %ul
      %li
        %h3= link_to t('event.now'), space_events_path(@space)
      - for event in @current_events do
        %li.margin-up
          %h3
            = image_tag("icons/date.png",:class=>"icon")
            = link_to(event.name,space_event_path(@space,event),:class=>"unified_event")
        %li
          %span.small-font.main_text
            = event.start_date.to_formatted_s(:short)
            \- #{event.end_date.to_formatted_s(:short)} (#{t('GMT')} #{Time.zone.formatted_offset} )

.content-block
  .content-block-header
    %h3= t('space.description')
  .content-block-middle
    = @space.description

- if @news_to_show
  = render :partial => 'latest_news'

= render :partial => 'latest_posts'

= render :partial => 'latest_users'
