<% spaces_menu_at :home %>

<% # TODO: remove javascript to independent js files %>
<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

  $(".latest-news-navigation-link").livequery("click", function(){
    var route = $(this).attr("href");
    $(this).attr("href","#")
    $.get(route,
          {authenticity_token: "<%=form_authenticity_token()%>"},
          function(data){
            $("#latest-news-content").replaceWith(data);
          }
    );
  });

  title = "<%=escape_javascript(t('search.dots'))%>";
  $("#query").click(function(){
    if(this.value == title){
      this.value= "";
    }
  });
  $("#query").blur(function(){
    if(this.value == ""){
      this.value= title;
    }
  });

});
</script>
<% end %>

<%= content_for :sidebar do  %>
  <%= render :partial => 'sidebar_join_links' %>

  <%= render_sidebar_content_block('sidebar-webconference', :active => @bbb_room.is_running?) do %>
    <h3>
      <%= t('webconference.one') %>
      <%= help_icon t("tooltip.bigbluebutton_space"), :class => 'leftwards' %>
    </h3>
    <div class="content-block-content-wrapper">
      <div class="description">
        <% if @bbb_room.is_running? %>
          <span><%= t('webconference.currently_running', :count => @bbb_room.participant_count) %></span>
        <% else %>
          <span><%= t('webconference.nobody.one_line') %></span>
        <% end %>
      </div>
      <div class="buttons">
        <% if logged_in? %>
          <% webconf_join_link = join_space_room_path(space, @bbb_room) %>
        <% else %>
          <% webconf_join_link = invite_space_room_path(space, @bbb_room) %>
        <% end %>

        <%= link_to t('button.join'), webconf_join_link, :class => 'button green webconf-start-link' %>
        <% if logged_in? %>
          <%= webconf_mobile_icon_link(join_mobile_space_room_path(space, @bbb_room)) %>
        <% else %>
          <%= webconf_mobile_icon_link(false) %>
        <% end %>
        <%= render_clearer %>
      </div>
    </div>
    <div class="content-block-footer">
      <%= link_to t('view_more'), space_webconference_path(space) %>
    </div>
  <% end %>

  <%= render_sidebar_content_block('sidebar-upcoming-events') do %>
    <h3>
      <%= image_tag("icons/date.png") %>
      <%= link_to t('event.upcoming.other'), space_events_path(@space) %>
      <%= help_icon t("tooltip.upcoming"), :class => 'leftwards' %>
    </h3>
    <div class="content-block-content-wrapper">
      <% if @upcoming_events.empty? %>
        <p><%= t('event.upcoming.none') %></p>
      <% else %>
        <span class="event-timezone">
          (<%= t('timezone.one') %>: <%= Time.zone.formatted_offset %>)
        </span>
        <% for event in @upcoming_events %>
          <div class="event-wrapper">
            <%= link_to sanitize(event.title), space_event_path(@space, event), :class => "event-title" %>
            <span class="event-date">
              <%= "#{event.start_date.to_formatted_s(:short)} - #{event.end_date.to_formatted_s(:short)}".html_safe %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="content-block-footer">
      <%= link_to feed_icon, space_events_path(@space, :format => :atom)  %>
      <%= link_to(t('read_more'), space_events_path(@space)) if space.authorize?([:read, :content], :to => current_user) %>
    </div>
  <% end %>

  <%= render_sidebar_content_block("sidebar-space-admins") do %>
    <h3>
      <%=t('user.administrators')%>
      <%= help_icon t("tooltip.admin"), :class => 'leftwards' %>
    </h3>
    <div class="content-block-content-wrapper">
      <% admins = space.actors(:role => 'Admin') %>
      <% admins.each do |admin| %>
        <div class="admin-wrapper">
          <div class="admin-logo">
            <%= link_logo(admin, :size => 32, :url => user_path(admin), :title => admin.name).html_safe %>
          </div>
          <div class="admin-text">
            <%= link_to sanitize(admin.full_name), user_path(admin), :class => "admin-name" %>
            <span class="admin-organization"><%= sanitize(admin.organization) %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if space.users.include?(current_user) && logged_in? %>
    <%= render_sidebar_content_block do %>
      <%= render :partial => 'sidebar_leave_space' %>
    <% end %>
  <% end %>

  <%= render_sidebar_content_block('sidebar-pageviews') do %>
    <div id="content-block-content-wrapper">
      <span class="value"><%= @space.unique_pageviews %></span>
      <span><%=t('statistics.space_views')%></span>
      <%= help_icon t("tooltip.num_views"), :class => 'leftwards' %>
    </div>
  <% end %>

<% end %>

<% if !@current_events.empty? %>
  <div class="content-block">
    <ul>
      <li><h3><%=link_to t('event.now'), space_events_path(@space)%></h3></li>
      <%for event in @current_events do%>
        <li class="margin-up">
          <h3><%=image_tag("icons/date.png",:class=>"icon")%> <%=link_to(event.name,space_event_path(@space,event),:class=>"unified_event")%></h3>
        </li>
        <li>
          <span class='small-font main_text'><%= event.start_date.to_formatted_s(:short)%> - <%=event.end_date.to_formatted_s(:short)%> (<%= t('GMT') %> <%=Time.zone.formatted_offset%> )</span>
        </li>
      <%end%>
    </ul>
  </div>
<% end %>

<div class="content-block">
  <h3><span><%= t('space.description') %></span></h3>
  <div class="content-block-content-wrapper">
    <%= @space.description %>
  </div>
</div>

<% if @news_to_show %>
  <div id="latest-news" class="content-block">
    <h3>
      <span>
        <%= image_tag("icons/newspaper.png")%>
        <%= t('latest_news') %>
        <%= help_icon t("tooltip.latest_news"), :class => 'leftwards' %>
      </span>
    </h3>
    <%= render :partial => 'latest_news' %>
  </div>
<% end %>

<div class="content-block">
  <h3>
    <span>
      <%= image_tag("icons/comment.png") %>
      <%= link_to t('post.latest'), space_posts_path(@space) %>
    </span>
  </h3>
  <%= render :partial => 'latest_posts' %>
</div>

<div class="content-block">
  <h3>
    <span>
      <%= image_tag("icons/user.png") %>
      <%= link_to t('user.recent_join'), space_users_path(@space) %>
    </span>
  </h3>
  <%= render :partial => 'latest_users' %>
</div>

<!--<div id="lightbox_content" style="display:none"></div>-->
