- spaces_menu_at :home
= render :partial => 'spaces/menu'

// TODO: This block below should be tested
- unless @current_events.empty?
  .content-block
    %ul
      %li
        %h3= link_to t('event.now'), space_events_path(@space)
      - for event in @current_events do
        %li.margin-up
          %h3
            = image_tag("icons/date.png",:class=>"icon")
            = link_to(event.name,space_event_path(@space,event),:class=>"unified_event")
        %li
          %span.small-font.main_text
            = event.start_date.to_formatted_s(:short)
            \- #{event.end_date.to_formatted_s(:short)} (#{t('GMT')} #{Time.zone.formatted_offset} )

.content-block
  .content-block-header
    %h3= t('space.description')
  .content-block-middle
    = @space.description

- if @news_to_show
  = render :partial => 'latest_news'

= render :partial => 'latest_posts'

= render :partial => 'latest_users'
