- page_title t('spaces.admin_tabs.webconf_options'), :in => @space.name

- spaces_menu_at :admin
= render :partial => 'spaces/menu'

- spaces_admin_menu_at :webconference_options
= render :partial => 'admin_tabs'

#webconference-options
  = simple_form_for @space, :html => { :method => :put, :class => 'single-column' } do |f|
    = f.simple_fields_for :bigbluebutton_room do |bbb_room|
      = bbb_room.input :private, as: :boolean
      = bbb_room.input :attendee_key, :as => :showable_password
      = bbb_room.input :moderator_key, :as => :showable_password
      - unless @space.bigbluebutton_room.dial_number.blank?
        = bbb_room.input :dial_number, as: :string, disabled: true
        - welcome_msg = t("bigbluebutton_rails.rooms.default_welcome_msg_dial_number", :name => "%%CONFNAME%%", :voice_number => "%%DIALNUM%%")
      - else
        - welcome_msg = t("bigbluebutton_rails.rooms.default_welcome_msg", :name => "%%CONFNAME%%")
      = bbb_room.input :welcome_msg, :as => :text, :placeholder => welcome_msg
      = bbb_room.input :default_layout do
        = bbb_room.select :default_layout, @space.bigbluebutton_room.available_layouts_for_select, :include_blank => t('.layout_empty_option')
      = bbb_room.input :presenter_share_only, :as => :boolean
      = bbb_room.input :auto_start_video, :as => :boolean
      = bbb_room.input :auto_start_audio, :as => :boolean

    = f.button :wrapped, :value => t("_other.save")
