- page_title t('spaces.menu.webconference'), :in => @space.name

= render "spaces/title", space: @space, full: false

- spaces_menu_at :webconference
= render :partial => 'spaces/menu'

#page-menu.with-sub-menu
  = content_for :page_menu

- spaces_webconference_menu_at :access
= render :partial => 'webconference_tabs'

= render "shared/webconference_join", room: @space.bigbluebutton_room

.content-block
  .content-block-header
    = icon_users()
    %h3
      = t('.attendees.people_in_the_room')
      = "(#{@webconf_room.participant_count})"
  .content-block-middle
    - if @webconf_room.participant_count == 0
      = t('.attendees.nobody')
    - else
      #webconference-all-users
        %h4= t('.attendees.all_users') + ":"
        - @webconf_room.attendees.each_with_index do |attendee, i|
          - if attendee.role == :moderator
            = icon_user title: t("_other.moderator")
          %span
            - unless i == @webconf_room.attendees.count-1
              = "#{attendee.full_name}, "
            - else
              = attendee.full_name
      %h4= t('.attendees.registered_users') + ":"
      - @webconf_attendees.each do |user|
        = render :partial => 'users/simple_user', :locals => { :user => user }

#space-recordings.content-block
  .content-block-header
    %h3
      = icon_recording
      = t('.recordings.title')
  - if @meetings.count > 0
    #space-recordings-list-wrapper.content-block-middle
      = render :partial => 'shared/recording_list', :locals => { :meetings => @meetings, :show_authors => true }
  - else
    %span= t('.recordings.no_recordings')
  .content-block-footer.content-block-footer-fancy
    .content-block-footer-middle
      = link_to t('.recordings.view_all'), recordings_space_path(@space)
