- page_title t('spaces.menu.webconference'), :in => @space.name

= render "spaces/title", space: @space, full: false

- spaces_menu_at :webconference
= render :partial => 'spaces/menu'

#page-menu
  = content_for :page_menu

#webconference-description.content-block
  .content-block-header
    %h3= t('.webconference.description.header')
  .content-block-middle
    - if @webconf_room.is_running? && can?(:end, @webconf_room)
      .end-meeting
        = link_to t('.end'), end_bigbluebutton_room_path(@webconf_room, :redir_url => my_home_path), options_for_tooltip(t('.end_tooltip'), :data => { :confirm => t('are_you_sure') }, :class => 'btn btn-small btn-danger')

    - cls = @webconf_room.is_running? ? "running" : "not-running"
    .description-text{ :class => cls }
      - status = @webconf_room.is_running? ? t('_other.webconference.running') : t('_other.webconference.not_running')
      = t('.webconference.description.text', :status => status).html_safe

= render "shared/webconference_join", room: @space.bigbluebutton_room

.content-block
  .content-block-header
    = icon_users()
    %h3
      = t('.webconference.attendees.people_in_the_room')
      = "(#{@webconf_room.participant_count})"
  .content-block-middle
    - if @webconf_attendees.count == 0
      = t('.webconference.attendees.nobody')
    - else
      - @webconf_attendees.each do |user|
        = render :partial => 'users/simple_user', :locals => { :user => user }

#space-recordings.content-block
  .content-block-header
    %h3= t('.webconference.recordings.title', count: @recordings.count)
  - if @recordings.count > 0
    #space-recordings-list-wrapper.content-block-middle
      = render :partial => 'shared/recording_list', :locals => { :recordings => @recordings, :show_authors => true }
  - else
    %span= t('.webconference.recordings.no_recordings')
  .content-block-footer.content-block-footer-fancy
    .content-block-footer-middle
      = link_to t('.webconference.recordings.view_all'), recordings_space_path(@space)
