-# Locals:
-#   activity (RecentActivity)

.logo-in-thread
  - if activity.trackable.nil?
    = logo_image_removed(size: '84x64')
  - else
    = link_logo_image(activity.owner, size: '84x64', url: space_path(activity.trackable), class: 'logo logo-space-activity')

.thread-content
  = formatted_time_ago activity.updated_at

  .thread-title
    = icon_attachment
    - if activity.recipient.present?
      - link = user_path(activity.recipient)
      = link_to activity.recipient.name, link
    - else
      = activity_translate('other.someone')
    = activity_translate(activity.key, name: link_to_trackable(activity.trackable, activity.trackable_type))
    = link_to activity.owner.name, space_attachments_path(activity.owner)
