-# Locals:
-#   activity (RecentActivity)

- attachment = activity.trackable
- space = activity.owner
- user = activity.recipient

.logo-in-thread
  - if activity.trackable.nil?
    = logo_image_removed(size: '84x64')
  - else
    = link_logo_image(activity.owner, size: '84x64', url: space_path(activity.trackable), class: 'logo logo-space-activity')

.thread-content
  = formatted_time_ago activity.created_at

  .thread-description
    = icon_attachment
    - if user.present?
      = link_to user.name, user_path(user)
    - else
      = removed_activity_resource_tag(activity.parameters[:username], "User")

    = activity_translate(activity.key, name: link_to_trackable(activity.trackable, activity.trackable_type, activity.parameters))
    = link_to space.name, space_attachments_path(space)
