-# Locals:
-#   activity (RecentActivity)

- attachment = activity.trackable
- space = activity.owner
- user = activity.recipient

.logo-in-thread
  - if activity.trackable.nil?
    = logo_image_removed(size: '84x64')
  - else
    = link_logo_image(activity.owner, size: '84x64', url: space_path(activity.trackable), class: 'logo logo-space-activity')

.thread-content
  = formatted_time_ago activity.updated_at

  .thread-title
    = icon_attachment
    - if user.present?
      = link_to user.name, user_path(user)
    - elsif activity.parameters[:username].present? # user deleted, but name was in the activity parameters
      = activity.parameters[:username]
    - else # user deleted and no name is the activity (may happen on old version databases)
      = activity_translate('other.someone')

    - if attachment.present?
      - filename = link_to(attachment.title, space_attachment_path(space, attachment))
    - elsif activity.parameters[:filename].present?
      - filename = activity.parameters[:filename]
    -else
      - filename = t('activities.attachment.deleted')

    = activity_translate(activity.key, name: filename)
    = link_to space.name, space_attachments_path(space)
