-# Locals:
-#   activity (RecentActivity)

.logo-in-thread
  - if activity.trackable.nil?
    = logo_image_removed(size: '84x64')
  - else
    = link_logo_image(activity.owner, size: '84x64', url: space_path(activity.owner), class: 'logo logo-space-activity')

.thread-content
  = formatted_time_ago activity.updated_at

  .thread-title
    = icon_event
    - if activity.recipient.present?
      = link_to activity.parameters[:username], user_path(activity.recipient)
    - else
      = activity.parameters[:username]

    = activity_translate(activity.key, name: link_to_trackable(activity.trackable, activity.trackable_type, activity.parameters))
    = link_to_trackable activity.owner, activity.owner_type
