-# Locals:
-#   activity (RecentActivity)

- if activity.owner_type == "Space"
  -# we get what we can from the data in the recent activity, but the space isn't there, so
  -#   we have to load it
  - space = Space.find_by_id(activity.owner_id)

  .logo-in-thread
    = link_logo_image(space, size: '84x64', url: space_path(space), class: 'logo logo-space')

  .thread-content
    = formatted_time_ago activity.created_at

    .thread-title
      = icon_join_request
      - if activity.parameters.has_key?(:username) and activity.parameters.has_key?(:candidate_id)
        - link = user_path_from_id(activity.parameters[:candidate_id])
        - if link.nil?
          = activity.parameters[:username]
        - else
          = link_to activity.parameters[:username], link
      - else
        = activity_translate('other.someone')
      - if activity.parameters.has_key?(:introducer_id) and activity.parameters.has_key?(:introducer)
        - name = activity.parameters[:introducer]
        - link = user_path_from_id(activity.parameters[:introducer_id])
        - if !activity.trackable.nil? and activity.trackable_type == 'JoinRequest' and
          - activity.trackable.request_type == JoinRequest::TYPES[:no_accept]
          = activity_translate("join_request.no_accept", introducer: name, introducer_url: link)
        - else
          = activity_translate("join_request.invite_with_introducer", introducer: name, introducer_url: link)
      - else
        = activity_translate(activity.key)
      = link_to_trackable activity.trackable, activity.trackable_type
