-# Locals:
-#   activity (RecentActivity)

- if activity.owner_type == "Space"
  -# we get what we can from the data in the recent activity, but the space isn't there, so
  -#   we have to load it
  - space = Space.find_by(id: activity.owner_id)

  .logo-in-thread
    = link_logo_image(space, size: '84x64', url: space_path(space), class: 'logo logo-space-activity')

  .thread-content
    = formatted_time_ago activity.created_at

    .thread-description
      = icon_join_request

      - if activity.recipient.present?
        = link_to activity.parameters[:username], user_path_from_id(activity.parameters[:candidate_id])
      - else
        = removed_activity_resource_tag(activity.parameters[:username], "User")

      - if !['join_request.accept', 'join_request.decline'].include?(activity.key) && activity.parameters.has_key?(:introducer_id) && activity.parameters.has_key?(:introducer)

        - introducer_name = activity.parameters[:introducer]
        - link = user_path_from_id(activity.parameters[:introducer_id])
        - if activity.trackable.present? && activity.trackable_type == 'JoinRequest' && activity.trackable.request_type == JoinRequest::TYPES[:no_accept]
          = activity_translate("join_request.no_accept_1")
          - if link.present?
            = link_to introducer_name, link
          - else
            = removed_activity_resource_tag(introducer_name, "User")
          = activity_translate("join_request.no_accept_2")
        - else
          = activity_translate("join_request.invite_with_introducer_1")
          - if link.present?
            = link_to introducer_name, link
          - else
            = removed_activity_resource_tag(introducer_name, "User")
          = activity_translate("join_request.invite_with_introducer_2")

      - else
        = activity_translate(activity.key)

      = link_to_trackable activity.trackable, activity.trackable_type, activity.parameters
