-# Locals:
-#   activity (RecentActivity)

.logo-in-thread
  = link_logo_image(activity.owner, :size => '84x64', :url => space_path(activity.owner), :class => 'logo logo-space')

.thread-content
  .thread-updated-at= t('updated_time_ago', :time => time_ago_in_words(activity.updated_at))

  .thread-title
    = icon_news
    = link_to activity.parameters[:username], user_path(activity.parameters[:user_id])
    = activity_translate(activity.key, :name => link_to_trackable(activity.trackable, activity.trackable_type))
    = link_to_trackable activity.owner, activity.owner_type
