-# Locals:
-#   activity (RecentActivity)

.logo-in-thread
  - if activity.trackable.nil?
    = logo_image_removed(size: '84x64')
  - else
    = link_logo_image(activity.trackable, size: '84x64', url: space_path(activity.trackable), class: 'logo logo-space-activity')

.thread-content
  = formatted_time_ago activity.created_at

  .thread-description
    - if activity.key.match(/leave$/)
      = icon_leave_space

    -# we purposely don't say who approved the space
    - if activity.key.match(/approved/)
      = activity_translate('other.admin')

    - else
      - if activity.parameters.has_key?(:username) && activity.recipient.present?
        = link_to activity.parameters[:username], user_path(activity.recipient)
      - else
        = removed_activity_resource_tag(activity.parameters[:username], "User")

    = activity_translate(activity.key)
    = link_to_trackable activity.trackable, activity.trackable_type, activity.parameters
