-# Locals:
-#   activity (RecentActivity)

.logo-in-thread
  = link_logo_image(activity.trackable, size: '84x64', url: space_path(activity.trackable), class: 'logo logo-space')

.thread-content
  = formatted_time_ago activity.updated_at

  .thread-title
    - if activity.key.match(/leave$/)
      = icon_leave_space
    - elsif activity.key.match(/accept$/)
      = icon_join_space
    - if activity.parameters.has_key?(:username) and activity.recipient.present?
      - link = user_path(activity.recipient)
      - if link.nil?
        = activity.parameters[:username]
      - else
        = link_to activity.parameters[:username], link
    - else
      = activity_translate('other.someone')
    = activity_translate(activity.key)
    = link_to_trackable activity.trackable, activity.trackable_type
