.thread-content
  .thread-text
    = link_to activity.parameters[:username], user_path(activity.parameters[:user_id])
    = activity_translate(activity.key)
    = link_to_trackable activity.trackable, activity.trackable_type

    = t('date.at')
    %span.thread-updated-at= t('updated_time_ago', :time => time_ago_in_words(activity.updated_at))
