-# Locals:
-#   activity (RecentActivity)

.logo-in-thread
  = link_logo_image(activity.trackable, :size => '84x64', :url => space_path(activity.trackable), :class => 'logo logo-space')

.thread-content
  .thread-updated-at= t('updated_time_ago', :time => time_ago_in_words(activity.updated_at))

  .thread-title
    - if activity.key.match(/leave$/)
      = icon_leave_space
    - elsif activity.key.match(/join$/)
      = icon_join_space
    - if activity.parameters.has_key?(:username) and activity.parameters.has_key?(:user_id)
      - link = user_path_from_id(activity.parameters[:user_id])
      - if link.nil?
        = activity.parameters[:username]
      - else
        = link_to activity.parameters[:username], link
    - else
      = activity_translate('other.someone')
    = activity_translate(activity.key)
    = link_to_trackable activity.trackable, activity.trackable_type
