#admission
  %h1= t('join_request.pending.other')
  - if @space.pending_join_requests.any?
    - @space.pending_join_requests.each do |jr|
      - unless jr.candidate.nil? || jr.candidate.disabled
        %div{:class => "thread #{cycle('thread-even','thread-odd')}"}
          .logo-in-thread
            = link_logo_image(jr.candidate, :size => '32', :url => user_path(jr.candidate), :title => jr.candidate.name, :class => "logo logo-user")
          .thread-content
            .thread-title
              = link_to(sanitize(jr.candidate.name),user_path(jr.candidate),:class=>"unified_user")
              .thread-text
                = simple_form_for [@space, jr], :url => space_join_request_path(@space, jr), :html => { :class => "first-form" } do |f|
                  .label
                    = t('role.one')
                  = select :join_request, :role_id, Space.roles.map { |r| [ r.name, r.id ] }, :selected => default_role.id
                  = f.hidden_field :accepted, :value => true
                  = f.hidden_field :processed, :value => true
                  = f.submit "Accept", :class => "btn btn-small"
                = simple_form_for [@space, jr], :url => space_join_request_path(@space, jr) do |f|
                  = f.hidden_field :processed, :value => true
                  = f.submit "Deny", :class => "btn btn-small btn-deny"
  - else
    %p.main_text= t('join_request.not_pending.other')
  %h1= t('invitation.pending.other')
  - if @space.pending_invitations.any?
    = render :partial => 'invitation', :collection => @space.pending_invitations
  - else
    %p.main_text= t('invitation.not_pending.other')
