<div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%>Virtual Conference Centre > Join</span></div>

<div id="join_form">


<%if !space.public?%>
  <p class="note"><%= space.name %> <%= t('space.is_private') %></p>
<%end%>

<%if logged_in?%>
  <% form_tag space_join_requests_path(space) do %>
    <button type="submit" class="blue_button basic_button"><%=t('join_request.send')%></button>
  <% end %>
<%else%>
  <p class="note"><%= t('join_request.not_logged_in') %></p>
	<% form_tag space_join_requests_path(space) do %>
	    <div class="options">
			<ul>
		      <li><%= link_to t('login'), space_join_requests_path(space), {:class => "join_and_login_link", :name => space.permalink} %></li>
		      <li> | </li>
			  <li><%= link_to t('register.one'), new_space_join_request_path(:register => true), {:class => "join_and_register_link", :name => space.permalink}  %></li>
		    </ul>
		</div>
	    <div class="margin-up">
	      <%fields_for :user do |user|%>
	        <label for="email"><%= t('e-mail.one') %></label><br/>
	        <%= user.text_field :email %><br/>
	
	        <label for="Password"><%= t('password.one') %></label><br/>
	        <%= user.password_field 'password' %><br/>
	
	        <%if params[:register]%>
	          <label for="Confirm Password"><%= t('password.confirm') %></label><br/>
	          <%= user.password_field 'password_confirmation' %><br/>
	          <label for="login"><%= t('name.full') %></label><br/>
	          <%= user.text_field :login %><br/>
	          <div id="captcha"><%= show_simple_captcha(:object=> :user) %> </div>
	          <%= hidden_field_tag "register", params[:register] if params[:register]%>
	        <%end%>
	        <%end%>
	  </div>		
	  <div class="margin-up">
	    <button type="submit" class="blue_button basic_button"><%=t('join_request.send')%></button>
	  </div>
	<% end %>
<%end%>
</div>
