#questions
  #more_invitations
    #invitations_title
      %h3.blue= t('invitation.message_title')

    = simple_form_for(:join_request, :url => space_join_requests_path, :html => { :multipart => true, }) do |f|

      #selected_users
        %label.bold{:for => "selected_users", :style => "display: none;"}
          = t('invitation.will_invite')
      #user_filter.margin-up{:style => "display: none;"}
        %label.bold{:for => "User filter"}= t('user.filter')
        %br/
        = text_field_tag :user_selector,'', :size => 25

      %a#show_all_users_link{:href => "javascript:show_all_users()"}= t('invitation.show_all_users')
      %a#hide_all_users_link{:href => "javascript:hide_all_users()"}= t('invitation.hide_all_users')
      %a#select_all_users_link{:href => "javascript:select_all_users()"}= t('invitation.select_all_users')
      %a#deselect_all_users_link{:href => "javascript:deselect_all_users()"}= t('invitation.deselect_all_users')

      #unselected_users
        - for user in @users
          .user_checkbox
            = check_box_tag "invitation_ids[]", user.id, @checked_users.include?(user.id.to_s)
            = label("checkbox",sanitize(user.full_name))
            %br/

      .margin-up
        %label.bold{:for => "e-mails"}
          = t('user.invite_email')
          = t('email.commas')
          \:
        = text_field_tag :invitation_mails

      .margin-up
        %label.bold
          = t('invitation.role_label')
        = select "join_request", "role_id", Space.roles.map { |r| [ r.name, r.id ] },  :selected => default_role.id , :class=> "main_text"

      .margin-up
        %label.bold{:for => "message"}
          = t('invitation.label')

        %textarea#invite_msg{:name => "invite_msg", :style => "display:none"}
        .grey_bar
          %p= '\'' + t('name.one') + '\','
          %b
            = t('invitation.to_space', :username => current_user.full_name, :space => @space.name)
          %br/
          = f.text_area :comment, :placeholder => t('invitation.personal')
          %br/
          = t('invitation.to_accept_space')
          %br/
          = t('invitation.info_space', :space_url => space_url(@space)).html_safe
          %br/
          = t('email.kind_regards')
          %br/
          = current_user.full_name
          %br/
          = current_user.email
          %br/
          = current_user.organization
          %br/
        %p
          * #{t('invitation.legend.name')}
          %br/
          * #{t('invitation.legend.URL')}

      .margin-up
        %input#send_invitation_button{:type => "submit", :value => t("button.send")}/