- if user_signed_in?
  #lightbox-logo
    %span
      = image_tag("mconf_logo_small.png",:class=>"icon")
      = t('.title', :space => space.name)
  - if !space.public?
    %p.note
      = space.name
      = t('space.is_private')
  #questions
    #more_join_requests
      %div
        %h3.blue= t('.message_title')
      = simple_form_for(:join_request, :url => space_join_requests_path(space), :html => { :multipart => true }) do |f|
        .margin-up
          %label.bold{:for => "message"}
            = t('.label')
            \:
          .grey_bar
            - if user_signed_in?
              %p= t('.ask_subject', :candidate => current_user.full_name, :space => @space.name).html_safe
            - else
              %p= t('.asked_anonymous', :space => @space.name)
            = f.text_area :comment, :placeholder => t('.personal')
        .margin-up
          %input#send_join_request_button.basic_button.blue_button{:type => "submit", :value => t("button.send")}
- else
  - if !space.public?
    %p.note
      = space.name
      = t('space.is_private')
  %p.note= t('.not_logged_in')