<%if user_signed_in?%>

  <div id="lightbox-logo"><span><%= image_tag("mconf_logo_small.png",:class=>"icon")%><%= t('join_request.new.title', :space => space.name) %></span></div>

  <%if !space.public?%>
    <p class="note"><%= space.name %> <%= t('space.is_private') %></p>
  <%end%>

  <div id="questions">
    <div id="more_join_requests">
      <div>
        <h3 class="blue"><%=t('join_request.message_title')%></h3>
      </div>

      <%= form_for(:join_request, :url => { :action => "create" }, :html => { :multipart => true, :name => "join_request_edit_form"}) do |f| -%>

        <div class="margin-up">
          <label for="message" class="label_izquierda bold"><%= t('join_request.label') %>:</label>

          <div class="grey_bar">

            <%if current_user != Anonymous.current %>
              <p><%= t('join_request.ask_subject', :candidate => current_user.full_name, :space => @space.name).html_safe %></p>
            <%else%>
              <p><%= t('join_request.asked_anonymous', :space => @space.name) %></p>
            <%end%>

            <%= f.text_area :comment, :placeholder => t('join_request.personal') %>

          </div>

        </div>

        <div class="margin-up">
          <input type="submit" class="basic_button blue_button" id="send_join_request_button" value="<%=t("button.send")%>" />
          <input type="submit" class="basic_button blue_button" id="wait_join_request_button" value="<%=t("button.sending")%>" />
        </div>
      <% end %>
    </div>
  </div>

<%else%>

  <%if !space.public?%>
    <p class="note"><%= space.name %> <%= t('space.is_private') %></p>
  <%end%>
  <p class="note"><%= t('join_request.not_logged_in') %></p>

<%end%>
