%div{:class => "thread #{cycle('thread-even','thread-odd')}"}
  .logo-in-thread
    = link_logo_image(jr.candidate, :size => '32', :url => user_path(jr.candidate), :title => jr.candidate.name, :class => "logo logo-user")
  .thread-content
    .thread-actions
      - target = jr.candidate ? jr.candidate.name : jr.email
      - if (can?(:accept, jr))
        = link_to t('_other.decline'), decline_space_join_request_path(@space, jr), method: :post, class: "btn btn-danger btn-small", data: { confirm: t('.decline_confirmation') }
        %span.separator= t('or')
        = simple_form_for [@space, jr], url: accept_space_join_request_path(@space, jr), method: :post do |f|
          = f.submit t('_other.accept'), :class => "btn btn-success btn-small"
          %span= t('join_requests.index.accept_as').downcase
          - roles = Space.roles.map { |r| [ r.translated_name, r.id ] }
          = select :join_request, :role_id, roles, :selected => default_role.id

    .thread-title
      = link_to sanitize(jr.candidate.name), user_path(jr.candidate)
      .user-email
        = "(#{jr.candidate.username}, #{jr.candidate.email})"
    .thread-text
      - unless jr.comment.blank?
        %span= t('join_requests.index.user_message') + ':'
        %span= "\"#{jr.comment}\""
