#join-requests-invitation
  %h3= t('.title', :name => @space.name)
  .invitation-comment
    = t('.comment', :name => @join_request.introducer.full_name)
    .content= @join_request.comment
  .action-buttons
    - unless user_signed_in? && @space.users.include?(current_user)
      - target = @join_request.candidate ? @join_request.candidate.name : @join_request.email
      - if can?(:accept, @join_request)
        = simple_form_for [@space, @join_request], :url => space_join_request_path(@space, @join_request) do |f|
          = f.submit t('.accept'), :class => "btn btn-success"
          = f.hidden_field :accepted, :value => true
          = f.hidden_field :processed, :value => true

        = simple_form_for [@space, @join_request], :url => space_join_request_path(@space, @join_request) do |f|
          = f.submit t('.decline'), :class => 'btn btn-danger'
          = f.hidden_field :accepted, :value => false
          = f.hidden_field :processed, :value => true

    - else
      = t('.already_accepted')
