#join-requests-invitation
  %h3= t('.title', :name => @space.name)
  .action-buttons
    - target = @join_request.candidate ? @join_request.candidate.name : @join_request.email
    - if can?(:accept, @join_request)
      = simple_form_for [@space, @join_request], :url => space_join_request_path(@space, @join_request) do |f|
        = f.submit t('.accept'), :class => "btn btn-success"
        = f.hidden_field :accepted, :value => true
        = f.hidden_field :processed, :value => true
    - if can?(:destroy, @join_request)
      = link_to t('.deny'), space_join_request_path(@space, @join_request), :confirm => t('.deny_confirmation', :user => target), :method => :delete, :title => t('.deny'), :class => 'btn btn-danger'
