= simple_form_for [@event, @participant], :html => { :class => "single-column" } do |f|
  .form-inputs
    - if current_user.present?
      = f.input :email, :readonly => true, :autofocus => true, :input_html => { :value => current_user.email }
    - else
      = f.input :email, :autofocus => true
    - unless current_user.present?
      = captcha_tags

  = f.button :submit, t(".submit"), :class => "pull-left btn btn-primary"
