
<%unless params[:admin]%>	
	<div id="results_count">
		<h3><%= t('groups_and_results', :size => @groups.size) %></h3>	
	</div>
<%end%>

	<% for group in @groups -%>
		<div class="group">
			<ul class="group_links">
				<%if @space.users.include?(current_user) || current_user.superuser?%>
					<li><%= link_to t('send_message'), space_groups_path(@space, :send_message => group.users), :title => t('group.send_message') %></li>
					<!--<li><a>e-mail</a></li>-->
					<li><%= link_to t('join'), space_group_path(@space, group, :add_user => current_user.id), :title => t('group.join'), :method => :put if @space.users.include?(current_user) && !group.users.include?(current_user)%></li>
					<li><%= link_to t('edit'), edit_space_group_path(@space, group, :admin => params[:admin]) if @space.authorize?([:manage, :group], :to => current_user)%></li>
					<li><%= link_to t('delete.one'), space_group_path(@space, group, :admin => params[:admin]), :title => t('group.delete'), :confirm => t('delete.confirm'), :method => :delete, :class => 'delete_group' if @space.authorize?([:manage, :group], :to => current_user)%></li>
				<%end%>	
			</ul>
			<h3><%=sanitize(first_words(group.name,40))%><br/>
			<%= t('group.mailing_list') +  mail_to(sanitize("vcc-#{group.mailing_list}@dit.upm.es")) if group.users.include?(current_user) && group.mailing_list.present?%></h3>
			<% for user in group.users.sort {|x,y| x.name <=> y.name } -%>
				<%= render :partial => 'users/simple_user', :object=> user %>
			<% end -%>
		</div>
	<% end -%>
	<% unless @users_without_group.empty? -%>
		<div class="group">
			<h3><%= t('user.without_group') %></h3>
			<% for user in @users_without_group -%>
				<%= render :partial => 'users/simple_user', :object=> user %>
			<% end -%>
		</div>
	<% end -%>