
<%unless params[:admin]%>	
	<div id="results_count">
		<h3>Groups, <%=@groups.size%> results</h3>	
	</div>
<%end%>

	<% for group in @groups -%>
		<div class="group">
			<ul class="group_links">
				<%if @space.users.include?(current_user) || current_user.superuser?%>
					<li><%= link_to 'Send a Message', space_groups_path(@space, :send_message => group.users) %></li>
					<!--<li><a>e-mail</a></li>-->
					<li><%= link_to 'Join', space_group_path(@space, group, :add_user => current_user.id), :method => :put if @space.users.include?(current_user) && !group.users.include?(current_user)%></li>
					<li><%= link_to 'Edit', edit_space_group_path(@space, group, :admin => params[:admin]) if @space.authorizes?([:manage, :group], :to => current_user)%></li>
					<li><%= link_to 'Delete', space_group_path(@space, group, :admin => params[:admin]), :confirm => "Are you sure?", :method => :delete, :class => 'delete_group' if @space.authorizes?([:manage, :group], :to => current_user)%></li>
				<%end%>	
			</ul>
			<h3><%=sanitize(group.name)%></h3>
			<% for user in group.users.sort {|x,y| x.name <=> y.name } -%>
				<%= render :partial => 'users/simple_user', :object=> user %>
			<% end -%>
		</div>
	<% end -%>
	<% unless @users_without_group.empty? -%>
		<div class="group">
			<h3>People without group</h3>
			<% for user in @users_without_group -%>
				<%= render :partial => 'users/simple_user', :object=> user %>
			<% end -%>
		</div>
	<% end -%>