<% content_for :javascript do %>
	$(".delete_group").submitWithAjax();
<%end%>
	
	<div id="results_count">
		<h3>Groups, <%=@groups.size%> results</h3>	
	</div>
	<% for group in @groups -%>
		<div class="group">
			<ul class="group_links">
				<li><%= link_to 'Send a Message', space_groups_path(@space, :send_message => group.users) %></li>
				<li><a>e-mail</a></li>
				<li><a>Join</a></li>
				<li><%= link_to 'Edit', edit_space_group_path(@space, group) %></li>
				<li><%= link_to 'Delete', space_group_path(@space, group), :confirm => "Are you sure?", :method => :delete, :class => 'delete_group' %></li>
			</ul>
			<h4><%=sanitize(group.name)%></h4>
			<% for user in group.users.sort {|x,y| x.name <=> y.name } -%>
				<%= render :partial => 'users/simple_user', :object=> user %>
			<% end -%>
		</div>
	<% end -%>
	<% unless @users_without_group.empty? -%>
		<div class="group">
			<ul class="group_links">
				<li><a>Send a message</a></li>
				<li><a>e-mail</a></li>
			</ul>
			<h4>People without group</h4>
			<% for user in @users_without_group -%>
				<%= render :partial => 'users/simple_user', :object=> user %>
			<% end -%>
		</div>
	<% end -%>