
<% @page_title = "Editing a group in the Space"%>
<%= error_messages_for :group %>

<title>Add Users to the Group</title>

<br/>

<% rounded() do %>
	<div >
			<span>Users in the space</span>
			<div>
				<%= select 'users',
				           'id',
				           @users.collect { |u| [ u.login, u.id ] },
				           {},
				           { :multiple => true,
				             :size     => 10,
						 	 :style => "width: 170px" } %>
			</div>
			
			<div>
				<%= link_to_function "Add to the Group","add_to_the_group()"%><br/>
			</div>			
		</div>
<%end%>

<% rounded() do %>
<div>

    <% form_tag(space_group_path(@space, @group),{:method => :put, :name=>'create_group_form',:style => "display: inline;", :onsubmit=>"selectAllOptions();"} ) do %>

		<%= render :partial => 'form_groups'%>
		
	
	<%end%>
</div>
<br/><br/><br/>
<%end%>	

<%= render :partial =>'shared/sidebar_users'%>