<%if params[:admin]%>
  <% menu :admin %>
<%else%>
  <% menu :people %>
<%end%>

<% content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<% content_for :sidebar do  %>
  <%if params[:send_message]%>
    <%= render :partial => 'private_messages/new_private_message', :locals => { :checked_users =>  params[:send_message]} %>
  <%elsif @space.authorize?([:manage, :group], :to => current_user)%>
    <%= render :partial => 'create_group', :locals=> {:group => @editing_group} %>
  <%end%>
<% end %>

<%if params[:admin]%>
  <%=render :partial => "spaces/admin_tabs"%>
<%else%>

	<div id="list_by_groups_selected" class="group_links">
	  <span><%= t('list_by') %>: </span>
	  <%= link_to t('name.other'), space_users_path(@space), { :id => 'names_link' } %>
		<span class="selected"><%= t('group.other') %></span>
	</div>

<%end%>

<div id="list_by_groups" >
  <%= render :partial => 'list' %>
</div>