<%if params[:admin]%>
  <% menu :admin %>
<%else%>
  <% menu :people %>
<%end%>

<% content_for :javascript do %>
  <%= render :partial => 'users/jquery_users_search' %>
	
	$(".check_mail input:mail").livequery("click", function(){
  if($(this).attr("checked")){
		$(".mail_group").show();
	}
	else{
	 $(".mail_group").hide();	 
	}
});
	
<% end %>

<% content_for :search do  %>
  <%= render :partial => 'users/search' %>
<%end%>

<% content_for :sidebar do  %>
  <%if params[:send_message]%>
    <%= render :partial => 'private_messages/new_private_message', :locals => { :checked_users =>  params[:send_message]} %>
  <%elsif @space.authorizes?([:manage, :group], :to => current_user)%>
    <%= render :partial => 'create_group', :locals=> {:group => @editing_group} %>
  <%end%>
<% end %>

<%if params[:admin]%>
  <%=render :partial => "spaces/admin_tabs"%>
<%else%>

	<div id="list_by_groups_selected" class="group_links">
	  <span>List by: </span>
	  <%= link_to 'Names', space_users_path(@space), { :id => 'names_link' } %>
		<span class="selected">Groups</span>
	</div>

<%end%>

<div id="list_by_groups" >
  <%= render :partial => 'list' %>
</div>