<div id="yui-main">
<div class="yui-b main_column">
	<% @page_title = "Groups" %>
<% rounded(:class => "tips") do %>
<h3 class="title">Groups in the space <%=@space.name%></h3>

<%if @groups.length==0%><br>
<%= "No Groups defined" %><br>

<%end%>
<% for group in @groups%>

<%= link_to group.name, edit_space_group_path(@space,group)%>  
<%= link_to_remote 'Members', {:url => formatted_space_group_path(@space,group, 'js'), :method => :get}%>    
<%= link_to 'Delete' , space_group_path(@space,group),:method => :delete, :confirm => 'Are you sure?'%>

 <br>
<br><%end%>

<%end%>

<div id="group_details">
	
</div>


</div>
</div>
<%= render :partial =>'shared/sidebar_users'%>