<% @page_title = "Groups" %>
<% rounded() do %>
<h3>Groups in the space <%=name_format(@space.name, 55, "")%></h3>

<%if @groups.length==0%><br>
<%= "No Groups defined" %><br>

<%end%>
<br/>
<% for group in @groups%>

<%= link_to group.name, edit_space_group_path(@space,group)%>  
<%= link_to_remote 'Members', {:url => formatted_space_group_path(@space,group, 'js'), :method => :get}%>    
<%= link_to 'Delete' , space_group_path(@space,group),:method => :delete, :confirm => 'Are you sure?'%>

 <br>
<br><%end%>

<%end%>

<div>
	
</div>



<%= render :partial =>'shared/sidebar_users'%>