<% @page_title = "Create a new group in the Space"%>
<%= error_messages_for :group %>
	
<title>Add Users to the Group</title>

<br/>


<% rounded() do %>
	<div>
			<span>Users in the space</span>
			<div>
				<%= select 'users',
				           'id',
				           @users.collect { |u| [ u.login, u.id ] },
				           {},
				           { :multiple => true,
				             :size     => 10,
						 	 :style => "width: 170px" } %>
			</div>
			
			<div>
				<%= link_to_function "Add to the Group","add_to_the_group()"%><br/>
			</div>			
		</div>
<%end%>

<% rounded() do %>
<div>

	<%# form_tag({:controller=> 'groups',:action => "create", :container_type =>:space, :container_id=>@space.id},{:name=>'create_group_form',:style => "display: inline;", :method => 'put', :onsubmit=>"selectAllOptions();"} ) do %>
    <% form_tag(space_groups_path(@space),{:method => :post, :name=>'create_group_form',:style => "display: inline;", :onsubmit=>"selectAllOptions();"} ) do %>
		<%= render :partial => 'form_groups'%>
		

   
   <%end%>
</div>
<br/><br/><br/>
<%end%>

<%= render :partial =>'shared/sidebar_users'%>