<div class="user">
  <%if detailed_user.authorize?([:read, :profile],:to=> current_user) && current_user != detailed_user %>
		<ul class="user-actions">
			<li><%= link_to t('user.private_message'), space_users_path(@space, :send_message => detailed_user.id)%></li>
			<li><%=mail_to(detailed_user.email,t('user.e-mail'))%></li>
		</ul>
  <%end%>
    <div><%= detailed_user.authorize?([:read, :profile],:to=> current_user) ? link_logo(detailed_user, :size => 32, :url => user_profile_path(detailed_user), :title=>detailed_user.name) : logo(detailed_user, :size => 32, :title=>detailed_user.name) %></div>
	<div class="user_data">
	  	<ul>
	    <li class="person_title"><%=detailed_user.authorize?([:read, :profile],:to=> current_user) ? link_to(highlight(detailed_user.full_name, @query), user_profile_path(detailed_user)) : sanitize(highlight(detailed_user.full_name, @query)) %></li>	
	    <li class="small-font"><%=sanitize(highlight(detailed_user.organization,@query)) %></li>
	    <li class="small-font"><%=sanitize(detailed_user.city) %><%= "," unless detailed_user.city.blank? or detailed_user.country.blank? %> <%=sanitize(detailed_user.country) %></li>
	  </ul>
	</div>
</div>
