<div class="user">
	<ul class="user-actions">
		<li><%= link_to "Private message", space_users_path(@space, :send_message => detailed_user.id) if current_user != detailed_user%><br /></li>
		<li><%=mail_to(detailed_user.email,"e-mail")%></li>
	</ul>
    <div><%=link_logo(detailed_user, :size => 32)%></div>
	<div>
	  	<ul>
	    <li><strong><%=sanitize(detailed_user.full_name) %></strong></li>	
	    <li class="small-font"><%=sanitize(detailed_user.organization) %></li>
	    <li class="small-font"><%=sanitize(detailed_user.city) %>, <%=sanitize(detailed_user.country) %></li>
	  </ul>
	</div>
</div>
