<div class="user">
	<p>
		<a>Send a message</a><br />
		<a>e-mail</a>
	</p>
        <%=image_tag(icon_image(detailed_user, :size => 72))%>
	<h5><%=sanitize(detailed_user.name + " " + detailed_user.lastname) %></h5>
	<%=sanitize(detailed_user.organization) %><br />
	<%=sanitize(detailed_user.city) %>, <%=sanitize(detailed_user.country) %>
</div>
