<div class="user">
	<p>
		<a>Send a message</a><br />
		<a>e-mail</a>
	</p>
	<%=image_tag("legacy/avatar.png")%>
	<h5><%=detailed_user.name %> <%=detailed_user.lastname %></h5>
	<%=detailed_user.organization %><br />
	<%=detailed_user.city %>, <%=detailed_user.country %>
</div>