<div><label for="email"><%=t('user.email')%></label><br/>
<%= f.text_field :email %></div>

<% if @agent.needs_password? -%>

<div><label for="password"><%=t('user.password')%></label><br/>
<%= f.password_field :password %></div>

<div><label for="password_confirmation"><%=t('user.confirm_password')%></label><br/>
	<%= f.password_field :password_confirmation%></div>
 
<% end -%>

<div><label for="login"><%=t('user.full_name')%></label><br/>
<%= f.text_field :login %></div>

