<div><label for="email">Email</label><br/>
<%= f.text_field :email %></div>

<% if @agent.needs_password? -%>

<div><label for="password">Password</label><br/>
<%= f.password_field :password %></div>

<div><label for="password_confirmation">Confirm Password</label><br/>
	<%= f.password_field :password_confirmation%></div>
 
<% end -%>

<div><label for="login">Full name</label><br/>
<%= f.text_field :login %></div>

<div><label for="timezone">Timezone</label><br/>
<%= f.time_zone_select :timezone, nil, :include_blank => true %></div><br/>

<div><label for="expanded_post">View expanded posts</label>
<%= f.check_box :expanded_post, {}, true,false %></div><br/>

<div><label for="notification">Notifications</label><br/>
<%= f.radio_button  :notification, "1"%> Email
<%= f.radio_button  :notification, "2"%> Private message
 </div><br/>
