<%= content_for :javascript do %>

  // http://dense13.com/blog/2009/05/03/converting-string-to-slug-javascript/
  function string_to_slug(str) {
    str = str.replace(/^\s+|\s+$/g, ''); // trim
    str = str.toLowerCase();

    // remove accents, swap ñ for n, etc
    var from = "ãàáäâẽèéëêĩìíïîõòóöôũùúüûñçć·/_,:;!";
    var to   = "aaaaaeeeeeiiiiiooooouuuuuncc-------";
    for (var i=0, l=from.length ; i<l ; i++) {
      str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
    }

    str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
      .replace(/\s+/g, '-') // collapse whitespace and replace by -
      .replace(/-+/g, '-'); // collapse dashes

    return str;
  }

  function updateWebconfRoomLink() {
    login = $("#user_login").val();
    if (login.match(/[^a-z0-9-]/g) || login.trim() === "")
      link = '<%= t("user.enter_a_valid_user_id").html_safe %>';
    else
      link = "<%= webconf_link_base() %>/" + login;
    $("#webconf-room-link .link").text(link);
  }

 $('img.tooltip_user_id').qtip({
   content: '<%=t("tooltip.user_id")%>',
   position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });

 $('img.tooltip_new_password').qtip({
   content: '<%=t("user.new_password_tip")%>',
   position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });

  $(".more_information a").fancybox({
    'hideOnContentClick' : false,
    'frameWidth' : 250,
    'frameHeight' : 500
  });

  $("#user__full_name").bind("input keyup", function() {
    $("#user_login").attr("value", string_to_slug($(this).attr("value")));
    updateWebconfRoomLink();
  });

  $("#user_login").bind("input keyup", function() {
    updateWebconfRoomLink();
  });

  updateWebconfRoomLink();
<% end %>

<% if logged_in? %>
  <% if @shib_user %>
    <div id="edit_account_user_federated">
      <div class="more_information"><%= link_to t('user.edit.federated.see_your_data'), shib_info_path %></div>
      <span class="title"><%= t('user.edit.federated.title') %></span><br/>
      <span><%= t('user.edit.federated.your_idp', :idp => @shib_provider) %></span><br/>
      <span><%= t('user.edit.federated.restrictions') %></span><br/>
    </div>
  <% end %>
<% end %>

<div><label for="email"><%=t('user.email')%></label><br/>
<% if @shib_user %>
  <%= f.text_field :email, :disabled => true %>
<% else %>
  <%= f.text_field :email %>
<% end %>
</div>

<% if f.object.new_record? # User is not registered yet, ask for a full_name %>
  <div>
    <label for="full_name"><%=t('user.full_name')%></label><br/>
    <%= f.text_field :_full_name %>
  </div>
<% end -%>

<div id="userid">
  <label for="login"><%=t('user.id')%></label><br/>
  <%= f.text_field :login %> <%=image_tag("icons/help.png",:title=>"",:size=>"16x16",:class=>"tooltip_user_id icon",:style=>"cursor:pointer")%>
  <div id="webconf-room-link">
    <span><%= t("user.your_webconf_room_is") %> </span>
    <span class="link"></span>
  </div>
</div>

<% if f.object.needs_password? -%>
  <% if logged_in? %>
    <div>
      <label for="password"><%=t('user.new_password')%></label><br/>
      <%= f.password_field :password %> <%=image_tag("icons/help.png",:title=>"",:size=>"16x16",:class=>"tooltip_new_password icon",:style=>"cursor:pointer")%>
    </div>
    <div>
      <div><label for="password_confirmation"><%=t('user.new_password_confirmation')%></label><br/>
      <%= f.password_field :password_confirmation%></div>
    </div>
  <% else %>
    <div>
      <label for="password"><%=t('user.password')%></label><br/>
      <%= f.password_field :password %>
    </div>
    <div>
      <div><label for="password_confirmation"><%=t('user.password_confirmation')%></label><br/>
      <%= f.password_field :password_confirmation%></div>
    </div>
  <% end %>
<% end -%>
