<div><label for="email">Email</label><br/>
<%= f.text_field :email %></div>

<% if @agent.needs_password? -%>

<div><label for="password">Password</label><br/>
<%= f.password_field :password %></div>

<div><label for="password_confirmation">Confirm Password</label><br/>
	<%= f.password_field :password_confirmation%></div>
 
<% end -%>

<div><label for="login">Full name</label><br/>
<%= f.text_field :login %></div>

<div><label for="timezone">Timezone</label><br/>
<%= f.time_zone_select :timezone, nil, :include_blank => true %></div>
