<div id="login_div"  class="blue_title">
  <div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%><%=t('vcc')%></span></div>
  <div class="form">
  <%= form_tag url_for(:action => 'lost_password') do %>
    <span class="info"><%=t('user.password_info')%></span></br>
    <%= text_field_tag :email, "", :size => 30 %>
    <button id="missing_pswd" type="submit" class="basic_button blue_button"><%=t('user.request_password')%></button>
  <% end %>
  </div>
</div>
