<div id="login_div"  class="blue_title">
  <div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%><%=t('vcc')%></span></div>
  <div class="form">
  <% form_tag url_for(:action => 'lost_password') do %>
      <span class="info"><%=t('user.password_info')%></span>
      <%= text_field_tag :email, "", :size => 25 %>
    <%= submit_tag t('user.request_password') %>
    <!-- <div><input onclick=document.location="/" type="button" value="Back" /></div>-->
  <% end %>
  <div class="options margin-up">
    <ul>
      <li><%=t('can_also')%> </li>
      <li><%= link_to t('login'), login_path, :class => "login_lightbox_link" %></li>
      <li>|</li>
      <li><%= link_to t('register_now'), signup_path, :class => "login_lightbox_link" %></li>
    </ul>
  </div>
  </div>

</div>