<div id="login_div"  class="blue_title">
	<div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%>Virtual Conference Centre</span></div>
	<div class="form">
	<% form_tag url_for(:action => 'lost_password') do %>
	    <span class="info">Enter the email address you used to create your account</span>
	    <%= text_field_tag :email, "", :size => 25 %>
		<%= submit_tag 'Request Password' %>
	  <!-- <div><input onclick=document.location="/" type="button" value="Back" /></div>-->
	<% end %>
	<div class="options margin-up">
		<ul>
			<li>Or you can also: </li>
			<li><%= link_to 'Log in', login_path, :class => "login_lightbox_link" %></li>
			<li>|</li>
	 		<li><%= link_to 'Register NOW!', signup_path, :class => "login_lightbox_link" %></li>
		</ul>
	</div>
	</div>

</div>