<% @page_title = "User List" -%>



<table id="people_table">

  
<tr>
<td class="cabecera"> Name</td>
<td class="cabecera"> Lastname</td>
<td class="cabecera"> <%= 'Login' %></td>
<td class="cabecera"> Super</td>
<!--
<td class="cabecera"> Disabled</td>
-->
<td class="cabecera"> Email</td>
<!--
<td class="cabecera"> Account Confirmed</td>
-->
<td class="cabecera"> Reset Password</td>

</tr>

<% 
@odd_or_even_user = 0 
for user in @users 
    @odd_or_even_user = 1 - @odd_or_even_user
-%>

<tr>
<td class=" first1 ListUser<%= @odd_or_even_user %>"><%= link_to name_format(user.profile.name,15,""), user_profile_path(user) if user.profile%></td>
<td class="ListUser<%= @odd_or_even_user %>"><%= link_to name_format(user.profile.lastname,18,""), user_profile_path(user) if user.profile%></td>
<td class="ListUser<%= @odd_or_even_user %>"><%= link_to name_format(user.login,18,""), user_path(user) %></td>
<td class="ListUser<%= @odd_or_even_user %>"><%=replace_image(user.superuser)  %></td>
<!--
<td class="ListUser<%= @odd_or_even_user %>"><%= replace_image(user.disabled) %></td>
-->
<td class="ListUser<%= @odd_or_even_user %>"><%= mail_to(user.email,name_format(user.email,25,"")) %></td>
<!--
<td class="ListUser<%= @odd_or_even_user %>"><%= replace_image(user.active?) %></td>
-->
<td class="ListUser<%= @odd_or_even_user %>"><%= link_to image_tag("/images/key2.png",:border=>0), forgot_path(:email => sanitize(user.email)), :title => "Reset Password", :confirm => "This action will send an email to the user \""+ h(user.login) +"\" in order to reset his password.\n Are you sure?" %></td>
<td class="lateral first"><%= link_to image_tag("/images/edit22.png",:border=>0), edit_space_user_path(@space,user), :title=>"Edit User" %></td>
<td class="lateral first last"><%= link_to image_tag("/images/delete22.png",:border=>0), user_path(user), :method => :delete, :confirm => "This action will delete the user \""+ h(user.login) +"\".\n Are you sure?", :title=>"Delete User" %></td>
</tr>

<% end -%>

</table>




<br/>

