-# = page_title t('.title')

- profile_page = is_on_page('users', ['show', 'edit', 'edit_data', 'password_edit', 'update'])
- subscription_page = is_on_page('subscriptions', ['show', 'edit', 'new', 'create'])
- invoice_page = is_on_page('invoices', ['index'])

= content_for :sidebar_menu do
  %ul

    %li{ :class => "#{'active' if profile_page}" }
      = link_to user_path(@user) do
        - if profile_page
          = icon_sidebar_arrow
        %span= t('.profile')

    - if (can?(:show, @user.subscription) && can?(:edit, @user.subscription)) || @user == current_user
      %li{ :class => "#{'active' if subscription_page}" }
        = link_to new_user_subscription_path(@user) do
          - if subscription_page
            = icon_sidebar_arrow
          - if @user.subscription.present?
            %span= t('.subscription')
          - else
            %span= t('.subscription_create')

    - if @user.subscription.present?
      -if can?(:index, @user.subscription.invoices)
        %li{ :class => "#{'active' if invoice_page}" }
          = link_to user_invoices_path(@user) do
            - if invoice_page
              = icon_sidebar_arrow
            %span= t('.invoice')


