-# = page_title t('.title')

- profile_page = is_on_page('users', ['show', 'edit', 'edit_data', 'password_edit', 'update'])
- subscription_page = is_on_page('subscriptions', ['show', 'edit'])
/ - invoice_page = is_on_page('invoice')

= content_for :sidebar_menu do
  %ul

    %li{ :class => "#{'active' if profile_page}" }
      = link_to user_path(@user) do
        - if profile_page
          = icon_sidebar_arrow
        = t('.profile')

    %li{ :class => "#{'active' if subscription_page}" }
      = link_to new_subscription_path do
        - if subscription_page
          = icon_sidebar_arrow
        = t('.subscription')

    / %li{ :class => "#{'active' if invoice_page}" }
    /   = link_to site_path do
    /     - if invoice_page
    /       = icon_sidebar_arrow
    /     = t('.invoice')
