- paginate = true if paginate.nil?

-# locals:
-#   content (array of models)
-#   items_per_page (integer)
-#   paginate (boolean)

- for activity in content
  - name = activity.trackable_type.underscore
  - classes = "single-activity thread thread-#{name} #{cycle('thread-even' , 'thread-odd')}"
  - if activity.trackable.nil?
    .removed-object{ :class => classes }
      = render :partial => "public_activity/#{name}", :locals => { :activity => activity }
  - else
    = div_for(activity.trackable, :class => classes) do
      = render :partial => "public_activity/#{name}", :locals => { :activity => activity }
