-# locals: content, items_per_page

#users-recent-activity.content-block

  .content-block-header
    %h3= t('recent.activity')
    = info_icon t('recent_activity.tooltip')
    -# TODO: enable these options below
    -# #recent-activity-options
    -#   = t('show') + ":"
    -#   = home_menu_checkbox "posts"
    -#   = label_tag t('post.other')
    -#   = home_menu_checkbox "events"
    -#   = label_tag t('event.other')
    -#   = home_menu_checkbox "news"
    -#   = label_tag t('news.other')
    -#   = home_menu_checkbox "attachments"
    -#   = label_tag t('attachment.other')
    -#   - [15, 30, 50].each do |per_page|
    -#     = link_to_unless items_per_page.to_i == per_page, per_page, path_for_home(:per_page => per_page)
    -#   = t('per_page')

  #users-recent-activity-content.content-block-middle
    - if content.empty?
      = t('recent_activity.empty')
    - else
      - for interval in intervals(content) do
        - unless interval[:contents].empty?
          %span.interval-title= interval[:name]
        - interval[:contents].each do |item|
          - case item
          - when Post
            = render "posts/unified_post", :thread => item.reload, :extended => false, :show_author => true
          - when Event
            = render "events/unified_event", :event => item.reload
          - when News
            = render "news/unified_news", :news => item.reload
          - when Attachment
            - item = item.reload
            - if item.post.blank?
              = render "attachments/unified_attachment", :attachment => item, :show_author => true
    -# TODO: use js to change the pages
    - unless content.empty?
      .content-block-footer
        = page_navigation_links content
