<% # TODO: remove javascript to independent js files %>
<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

title = "<%=t('user.search')%>"
$("#query").click(function(){
  if(this.value == title){
    this.value="";
  }
});

$("#query").blur(function(){
  if(this.value == ""){
    this.value= title;
  }
});

});
</script>
<% end %>

<%= form_tag(search_users_path(@space), :method => 'get') do %>
    <%= text_field_tag 'query',(params[:query] ? params[:query] :  t('user.search'))%>
    <button type="submit" class="basic_button blue_button"><%=t("button.go")%></button>
<% end %>
