-# locals:
-#  user (User)
-#  spaces (array of Space)

- if spaces.empty?
  %p
    = t('home.no_spaces', :link => spaces_path).html_safe

- else
  .user-spaces
    - spaces.each do |space|
      %li.user-space-wrapper
        .user-space
          .space-logo
            - space_logo = logo(space, :size => "h96", :title => space.name).html_safe
            - if user.ability.can?(:read, space)
              = link_to space_path(space) do
                = space_logo
            - else
              = space_logo
          .description-box
            - if user.ability.can?(:read, space)
              = link_to first_words(space.name, 20), space_path(space), :title => space.name, :class => "space-title"
            - else
              %span{:title => space.name, :class => "space-title"}= first_words(space.name, 20)
            .description
              %span= t('members', :count => space.actors.count)
              - if space.public
                %span.visibility.public
                  %i.icon-eye-open
                  = t(".public")
              - else
                %span.visibility.private
                  %i.icon-lock
                  = t(".private")
