	
<div id="yui-main">
<div class="yui-b main_column"><% rounded(:class => "tips") do %>
	
<title>Add Users to the Space by Email</title>
<script>
	function register_admin(){
		document.invite_user_form.user_role.value = "Admin";
		document.invite_user_form.submit();
	}
	
	function register_user(){
		document.invite_user_form.user_role.value = "User";
		document.invite_user_form.submit();
	}
	
	function register_invited(){
		document.invite_user_form.user_role.value = "Invited";
		document.invite_user_form.submit();
	}

</script>

<div class="contenido_main">

<p>To add new users enter one or several email addresses separated by " ", "," or ";" and register them
<% form_tag (space_users_path(@space.id),  {:name=>'invite_user_form',:style => "display: inline;", :method => :post}) do  %>
	<div id='text_area'>
<%= text_area 'invitation', :email, :size => "30x5"%>
<input type=hidden name="user_role" id="user_role" value="Invited"/><br>
<input type=hidden name="by_email" id="by_email" value="true"/>
</div>

<div id='register_buttons'>
				<%= link_to_function "Register as Admin", :onclick=>"register_admin()", :class => "secund" %><br/>
				<%= link_to_function "Register as User",:onclick=>"register_user()", :class => "secund" %><br/>
				<%= link_to_function "Register as Invited",:onclick=>"register_invited()", :class => "secund" %><br/>	
				</div>	


			<%end%>
			
			
			<div id="note">
				
				<p>For example: "John Silver "<"jsilver@example.com">", jct@dit.es; Aaron aaron@example.net
				and click on 'Register as User' will regsiter those 3 email addresses as members of the space and will send
				and validation email to them.</p>
				</div>
<%end%>
</div>
</div>
</div>


<!--
# TODO esto lo he quitado, no entiendo la funcionalidad
<div class="yui-b sidebar">
		<% rounded(:class => "tips") do %>
			 
				<div id="search_container2">


	<img src="/images/magnify2.png"></img><h4 class="title"> Search Users</h4>
		
				<br>	
				 <span> <% form_tag(search_users_path(@space.id), :method => 'get') do %>
				      <%= text_field_tag :query, params[:query] %>
					  <%= link_to 'Search', search_users_path(:space_id => @space.id), :method => :get%>
				      %= submit_to_remote 'Reset', 'Reset', :url=>{:controller=> 'users',:action => :reset_search, :container_type =>:space, :container_id=>@space.id}%>
				  </span>
				  <br> %= link_to_remote 'Search Users by Interests' , {:url=>{:controller => 'users', :action=>'organization', :container_type =>:space, :container_id=>@space.id}}%>
				  <br>
				<% end %>			
		<%end%>
		</div>
<div id="adv_search">		
</div>
</div>

-->
<%= render :partial =>'shared/sidebar_users'%>