
<%= error_messages_for 'user' %>

<div id="edit_account" class="blue_title"><h3><%= t('user.edit_account')%></h3></div>
<% form_for :user, :url => user_path(@user), :html => {:method => :put} do |f| -%>


<%= render :partial => 'form' , :locals => { :f => f } %>

<div id="edit_account" class="blue_title"><h3><%= t('preferences')%></h3></div>

<div>
  <h5><%=t("post.show_expanded_pref")%></h5>
  <%= f.check_box :expanded_post, {}, true,false %>
  <label for="expanded_post"><%= t('user.view_expanded_posts')%></label>
</div><br/>

<div>
<h5><%= t('user.notifications')%></h5>
<%= f.radio_button  :notification, "1"%> <%=t('user.by_email')%>
<%= f.radio_button  :notification, "2"%> <%=t('user.by_private_message')%>
</div><br/>

<% if logged_in? && current_user.superuser==true && @user.id != current_user.id %>
<p><label for="superuser"><%=t('user.admin')%></label><br/>
<%= f.check_box("superuser", {}, "true", "false") %></p>

<p><label for="disabled"><%=t('user.disable')%></label><br/>
<%= f.check_box("disabled", {}, "true", "false") %></p>
<% end -%>


<%= submit_tag t('user.save') %>
        		  
<% end -%>





