<h3 class="dialog_title">
  <%= t('bbb_room.edit') %>
</h3>

<div id="edit-bbb-room">
  <%= form_for(current_user.bigbluebutton_room, :url => user_path, :html => { :method => :put, :multipart => true }) do |f| %>
    <%= hidden_field_tag :bbb_room, "1" %>
    <div id="priv_check">
      <p>
        <%= f.label :name, t('bbb_room.private') %>:
        <%= f.check_box :private, :id => "private" %>
      </p>
    </div>
    <div id="passwords" class="<%= "hide_fields" unless @priv %>">
      <dl>
        <dt>
          <%= f.label :moderator_password, t('bbb_room.moderatorPW') %>:
        </dt>
        <dd>
          <%= f.text_field :moderator_password, :id=> "moderatorPW" %>
        </dd>
        <dt>
          <%= f.label :attendee_password, t('bbb_room.attendeePW') %>:
        </dt>
        <dd>
          <%= f.text_field :attendee_password, :id=> "attendeePW" %>
        </dd>
      </dl>
    </div>
    <div id="site_button" class="margin-up float_right">  
      <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
    </div>
  <%end%>
</div>
