
<%= error_messages_for 'user' %>

<h1 class="title">Editing account</h1>
<% form_for :user, :url => user_path(@user), :html => {:method => :put} do |f| -%>


<%= render :partial => 'form' , :locals => { :f => f } %>
<% if logged_in? && current_user.superuser==true && @user.id != current_user.id %>
<p><label for="superuser">Admin</label><br/>
<%= f.check_box("superuser", {}, "true", "false") %></p>

<p><label for="disabled">Disable</label><br/>
<%= f.check_box("disabled", {}, "true", "false") %></p>
<% end -%>


        	<%= submit_tag 'Save User' %>
        		  
<% end -%>





