<%= content_for :"page-header" do %>
  <%= render_page_title t('user.edit_account') %>
<% end %>

<%= simple_form_for user, :url => user_path(user.login_changed? ? user.login_was : user), :html => {:method => :put} do |f| -%>

  <% if logged_in? %>
    <% if @shib_user %>
      <div id="edit_account_user_federated">
        <div class="more_information"><%= link_to t('user.edit.federated.see_your_data'), shibboleth_info_path, :class => 'open-modal' %></div>
        <span class="title"><%= t('user.edit.federated.title') %></span><br/>
        <span><%= t('user.edit.federated.your_idp', :idp => @shib_provider) %></span><br/>
        <span><%= t('user.edit.federated.restrictions') %></span><br/>
      </div>
    <% end %>
  <% end %>

  <%= render :partial => 'form' , :locals => { :f => f } %>
  <div class="margin-up"><button type="submit" class="blue_button basic_button"><%=t('save')%></button></div>
<% end -%><br/>

<div id="edit_account" class="blue_title"><h3><%= t('preferences')%></h3></div>

<%= form_for :user, :url => user_path(@user), :html => {:method => :put} do |f| -%>

  <div id="timezone"><label for="timezone"><%=t('user.timezone')%><%=image_tag("icons/help.png",:title=>t("tooltip.timezone"),:size=>"16x16",:class=>"icon tooltipped upwards rightwards",:style=>"cursor:pointer")%></label><br/>
  <%= f.time_zone_select :timezone, nil, :include_blank => true%></div><br/>

  <div>
    <h5><%=t("post.show_expanded_pref")%></h5>
    <%= f.check_box :expanded_post, {}, true,false %>
    <label for="expanded_post"><%= t('user.view_expanded_posts')%></label>
  </div><br/>

  <div>
    <h5><%= t('user.notifications')%></h5>
    <%= f.radio_button  :notification, "1"%> <%=t('user.by_email')%>
    <%= f.radio_button  :notification, "2"%> <%=t('user.by_private_message')%>
  </div><br/>

  <% if logged_in? && current_user.superuser==true && @user.id != current_user.id %>
    <p><%= f.check_box :superuser %><label for="superuser"> <%=t('user.admin')%></label></p>
  <% end -%>

  <button type="submit" class="blue_button basic_button"><%=t('save') %></button>
<% end -%>





