= page_title @user.full_name

= content_for :navbar_menu do
  = render "my/navbar_menu", user_spaces: @user_spaces

= content_for :sidebar do
  .sidebar-title= t('.title')

= content_for :sidebar_menu do
  = render :partial => 'users/menu'

.container-fluid
  .btn.btn-default.dropdown-toggle{ data: { toggle: 'dropdown' } }
    = logo_image(current_user, class: "logo-user")
  %ul.dropdown-menu.dropdown-menu-right
    %li= upload_logo_controls(@user)
    %li= link_to t('.remove_picture'), remove_logo_user_path(@user), method: "post"

  .resource-card.resource-user

    .resource-data
      .field
        %span.field-value.title= t('.public_profile')
        = simple_form_for @user, url: user_path(@user) do |f|
          = f.simple_fields_for :profile do |p|
            = p.input :full_name, :required => true, :disabled => !can?(:update_full_name, @user)
            = p.input :organization
            = p.input :description, as: :text
            = p.input :url

        %span.field-value.title= t('.address')
        = simple_form_for @user, url: user_path(@user) do |f|
          = f.simple_fields_for :profile do |p|
            .form-group.select.optional.user_profile_country
              = p.input :country, wrapper: :label_only
              = p.country_select :country, { priority_countries: ["BR", "US"], include_blank: true }, { class: 'form-control' }
            = p.input :address
            = p.input :city
            = p.input :province
            = p.input :zipcode
            = p.input :phone
          = f.input :timezone, required: false do
            = f.collection_select :timezone, Mconf::DSTTimezone.all, :name, :dst_string, { include_blank: true }, { class: 'form-control' }

          =f.button :wrapped, :cancel => user_path, :value => t("_other.save"), class: "btn-default"
