	
<div id="yui-main">
<div class="yui-b main_column"><% rounded(:class => "tips") do %>
	
<title>Add Users to the Space</title>

<h1>Include registered users</h1>
<script>
	function register_admin(){
		document.register_user_form.user_role.value = "Admin";
		document.register_user_form.submit();
	}
	
	function register_user(){
		document.register_user_form.user_role.value = "User";
		document.register_user_form.submit();
	}
	
	function register_invited(){
		document.register_user_form.user_role.value = "Invited";
		document.register_user_form.submit();
	}

</script>
<br/>

	<% form_tag (space_users_path(@space),  {:name=>'register_user_form',:style => "display: inline;", :method => :post}) do %>
		<div id="add_usuarios">
			<div id="select_users_from_space" class="select_users">
				<%= select 'users',
				           'id',
				           User.find(:all).collect { |u| [ u.login, u.id ] },
				           {},
				           { :multiple => true,
				             :size     => 10 } %>
				<input type=hidden name="user_role" id="user_role" value="Invited"/>
				<input type=hidden name="from_app" id="from_app" value="true"/>
			</div>
			<%end%>
			
			<div id="buttons_register">
				<%if @space.authorizes?(current_user, [:create , :Performance]) && (@space.has_role_for?(current_user, :name => 'Admin') || current_user.superuser == true)%>
				<%= link_to_function "Register as Admin", "register_admin()", :class => "secund" %><br/>
				<%end%>
				<%if @space.authorizes?(current_user, [:create , :Performance]) %>
				<%= link_to_function "Register as User",:onclick=>"register_user()", :class => "secund" %><br/>
				<%= link_to_function "Register as Invited",:onclick=>"register_invited()", :class => "secund" %><br/>		
				<%end%>
			</div>
			
		</div>
<%end%>


<% rounded(:class => "tips") do %>

<div id="space_users">

	<div id="admin_users">
		<% form_tag(space_user_path(@space, current_user.id),  {:name=>'remove_admin_form',:style => "display: inline;", :method => :delete})  do %>
		<span>Role: Admin</span>
		<div id="admin_users_select" class="select_users">
			<%= select 'users',
			           'id',
			           @space.get_users_with_role("Admin").collect { |u| [ u.login, u.id ] },
			           {},
			           { :multiple => true,
			             :size     => 10 } %>
		    <input type=hidden name="user_role" id="user_role" value="Admin"/>
			<input type=hidden name="remove_from_space" id="remove_from_space" value="true"/>
		</div>	
		<%if @space.authorizes?(current_user, [:delete , :Performance])%>
		<div class="buttons_remove">
			<%= link_to_function "Remove",:onclick=>"document.remove_admin_form.submit()", :class => "secund" %><br/>	
		</div>
		<%end%>
		<%end%>
	</div>

	<div id="users_users">
		<% form_tag(space_user_path(@space, current_user.id),  {:name=>'remove_user_form',:style => "display: inline;", :method => :delete})  do %>
		<span>Role: User</span>
		<div id="users_users_select" class="select_users">
			<%= select 'users',
			           'id',
			           @space.get_users_with_role("User").collect { |u| [ u.login, u.id ] },
			           {},
			           { :multiple => true,
			             :size     => 10 } %>
		    <input type=hidden name="user_role" id="user_role" value="User"/>
			<input type=hidden name="remove_from_space" id="remove_from_space" value="true"/>
		</div>	
		<%if @space.authorizes?(current_user, [:delete , :Performance])%>
		<div class="buttons_remove">
			<%= link_to_function "Remove",:onclick=>"document.remove_user_form.submit()", :class => "secund" %><br/>	
		</div>
		<%end%>
		<%end%>
	</div>

	<div id="invited_users">
		<% form_tag(space_user_path(@space, current_user.id),  {:name=>'remove_invited_form',:style => "display: inline;", :method => :delete})  do %>
		<span>Role: Invited</span>
		<div id="invited_users_select" class="select_users">
			<%= select 'users',
			           'id',
			           @space.get_users_with_role("Invited").collect { |u| [ u.login, u.id ] },
			           {},
			           { :multiple => true,
			             :size     => 10 } %>
		    <input type=hidden name="user_role" id="user_role" value="Invited"/>
			<input type=hidden name="remove_from_space" id="remove_from_space" value="true"/>
		</div>	
		<%if @space.authorizes?(current_user, [:delete , :Performance])%>
		<div class="buttons_remove">
			<%= link_to_function "Remove",:onclick=>"document.remove_invited_form.submit()", :class => "secund" %><br/>	
		</div>
		<%end%>
		<%end%>
	</div>

</div>

<%end%>

</div>
</div>


<!--
# TODO esto lo he quitado, no entiendo la funcionalidad
<div class="yui-b sidebar">
		<% rounded(:class => "tips") do %>
			 <div id="search_container2">


	<img src="/images/magnify2.png"></img><h4 class="title"> Search</h4>
		
				
				<br>	
				 <span> <% form_tag(search_users_path(@space.id), :method => 'get') do %>
				      <%= text_field_tag :query, params[:query] %>
					  <%= link_to 'Search', search_users_path(@space.id), :method => :get%>
				      %= submit_to_remote 'Reset', 'Reset', :url=>{:controller=> 'users',:action => :reset_search, :container_type =>:space, :container_id=>@space.id}%>
				  </span>
				  <br> %= link_to_remote 'Search Users by Interests' , {:url=>{:controller => 'users', :action=>'organization', :container_type =>:space, :container_id=>@space.id}}%>
				  <br>
				<% end %>			
		<%end%>
		</div>
<div id="adv_search"></div>
</div>

-->
<%= render :partial =>'shared/sidebar_users'%>