<% content_for :sidebar do  %>
	<div id="Create_new_group">
		<h3>Create new group</h3>
    </div>  
<% end %>

<div id="list_by">
	<span>List by <span>
	<% if params[:list_by] == "groups" -%>
		Groups
		<%= link_to 'Names', space_users_path(@space) %>
	<% else -%>
		<%= link_to 'Groups', space_users_path(@space, :list_by => 'groups') %>
		Name
	<% end -%>
</div>

<% if params[:list_by] == "groups" -%>
	<div id="results_count">
		<h3>Groups, <%=@groups.size%> results</h3>	
	</div>
	<% for group in @groups -%>
		<div class="group">
			<ul class="group_links">
				<li><a>Send a message</a></li>
				<li><a>e-mail</a></li>
				<li><a>Join</a></li>
			</ul>
			<h4><%=group.name%></h4>
			<% for user in group.users -%>
				<div class="user">
					<p>
						<a>Send a message</a><br />
						<a>e-mail</a>
					</p>
					<%=image_tag("legacy/avatar.png")%>
					<h5><%=user.name %> <%=user.lastname %></h5>
					<%=user.organization %><br />
					<%=user.city %>, <%=user.country %>
				</div>
			<% end -%>
		</div>
	<% end -%>
	
<% else -%>
	<div id="results_count">
		<h3>People, <%=@users.size%> results</h3>	
	</div>
	<% for user in @users -%>
		<div class="user">
			<p>
				<a>Send a message</a><br />
				<a>e-mail</a>
			</p>
			<%=image_tag("legacy/avatar.png")%>
			<h5><%=user.name %> <%=user.lastname %></h5>
			<%=user.organization %><br />
			<%=user.city %>, <%=user.country %>
		</div>
		
	<% end -%>
<% end -%>
