<%= content_for :sidebar do  %>
  <%= render :partial => 'spaces/sidebar_join_links' %>

  <%if params[:send_message]%>
    <%= render :partial => 'private_messages/new_private_message', :locals => { :checked_users =>  params[:send_message]} %>
  <%end%>
<% end %>

<div id="list_by_names_selected" class="group_links" >
  <span><%= t('user.list_by')%>: </span>
  <span class="selected"><%= t('name.other')%></span>
  <%=
    #link_to t('group.other'), space_groups_path(@space), { :id => 'groups_link' }
  %>
</div>

<div id="list_by_name" >
  <%= render :partial => 'list' %>
</div>

