<% menu :people %>
<% content_for :javascript do %>
	<%= render :partial => 'list_javascript' %>
	$("#users_search").livequery('keyup', function() {
    var filter_text = this.value.toLowerCase();
    $("div.user").each(function() {
        if($(this).text().toLowerCase().search(filter_text)>=0){
          $(this).slideDown("slow");
      }else{
          $(this).slideUp("slow");
      }
      });
  });
<% end %>

<% content_for :search do  %>
  <%= render :partial => 'search' %>
<%end%>

<% content_for :sidebar do  %>
  <%if @space.authorizes?([:manage, :group], :to => current_user)%>
  <%if params[:send_message]%>
	  <%= render :partial => 'private_messages/new_private_message', :locals => { :checked_users =>  params[:send_message]} %>
	<%else%>
	  <%= render :partial => 'groups/create_group', :locals=> {:group => @editing_group} %>
	<%end%>
	<%else%>
    	<%if logged_in? && space.public?%>
		  <% form_tag join_space_path(space), :id => "join_form" do %>
	      <%= image_submit_tag("buttons/join-space.png") %>
	    <% end %>
		<%else%>
		  <%=link_to image_tag("buttons/join-space.png", :alt => "Join space"), join_space_path(space), :class => "fancybox_link"%>
		<%end%>
		
		<div class="space-desc">
			<h3>About <em><%=@space.name%></em></h3>
			<p><%=image_tag(logo_path(@space, :size =>48), :align => "left")%>
			<%= sanitize(space.description) if space.description.present? %></p>
  		</div>			
	<%end%> 
<% end %>

<div id="list_by_names_selected" class="group_links" >
	<span>List by: </span>
	<span class="selected">Names</span>
	<%= link_to 'Groups', space_groups_path(@space), { :id => 'groups_link' } %>
</div>

<div id="list_by_groups_selected" class="group_links" style="display: none;">
	<span>List by: </span>
	<%= link_to 'Names', space_users_path(@space), { :id => 'names_link' } %>
	<span class="selected">Groups</span>
</div>

<div id="list_by_groups" style="display: none;">
	<%= render :partial => 'groups/list' %>
</div>
<div id="list_by_name" >
	<%= render :partial => 'list' %>
</div>

