<% content_for :search do  %>
  <% form_tag(search_users_path(@space), :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= image_submit_tag "legacy/magnify2.png", :class=>'go'%>
  <% end %>
<%end%>

<% content_for :sidebar do  %>
	<% if params[:edit_group] %>
		<% group = @groups.find(params[:edit_group]) %>
		<%= render :partial => 'edit_group', :locals=> {:group => group} %>
	<% else %>
		<%= render :partial => 'create_group' %>
	<% end %>  
<% end %>

<div id="list_by">
	<span>List by </span>
	<% if params[:list_by] == "groups" -%>
		Groups
		<%= link_to 'Names', space_users_path(@space) %>
	<% else -%>
		<%= link_to 'Groups', space_users_path(@space, :list_by => 'groups') %>
		Name
	<% end -%>
</div>

<% if params[:list_by] == "groups" -%>
	<%= render :partial => 'list_by_groups' %>
<% else -%>
	<%= render :partial => 'list_by_name' %>
<% end -%>
