- page_title t('spaces.menu.users'), in: @space.name

= render "spaces/title", space: @space, full: false

- spaces_menu_at :users
= render partial: 'spaces/menu'

#page-menu
  = content_for :page_menu

#user-list.content-block
  .content-block-header
    %h3= t('user.index.user_list.header', :count => @users.size)
  .content-block-middle.row-fluid
    - for user in @users
      .user-on-index
        = render :partial => 'users/detailed_user', :locals => { :user => user }
