= render_page_title t('register.one')

#register-wrapper
  = render :partial => 'signup_form'
  .extra-links
    .comments
      %span= t('register.confirmation')

    %h3= t('other_options')
    %ul
      %li= link_to t("login.one"), login_path
      - unless current_site.shib_enabled?
        %li= link_to t('cafe.login'), shibboleth_path
