= render_page_title t('register.one')

#register-wrapper
  = render :partial => 'signup_form'
  .comments
    %span= "* " + t('mandatory_field')
    %span= t('register.confirmation')
  %ul.extra-links
    %li= link_to t("login.one"), login_path
    - unless current_site.shib_enabled?
      %li= link_to t('cafe.login'), shibboleth_path
