= page_title @user.full_name

= content_for :navbar_menu do
  = render "my/navbar_menu", user_spaces: @user_spaces

= content_for :sidebar do
  .sidebar-title= t('.title')

= content_for :sidebar_menu do
  = render :partial => 'users/menu'

.container-fluid
  #profile-logo

  .resource-card.resource-user

    .resource-data
      .field
        %span.field-value.name= @user.name
        %span.field-value= @user.email
        - if can?(:update_full_name, @user) or can?(:update_password, @user)
          %span.border
        .btn-group
          - if can?(:update_full_name, @user)
            %span.link= link_to t('.data'), edit_data_user_path(@user), class: "btn btn-default"
          - if can?(:update_password, @user)
            %span.link= link_to t('.password'), password_edit_user_path(@user), class: "btn btn-default"

  - unless @user_spaces.empty?
    #user-spaces
      %h3= t('.user_spaces')
      = render 'users/user_spaces', user: @user, spaces: @user_spaces, compact: true
