= page_title @user.full_name

= content_for :sidebar do
  = render 'shared/user_card', user: @user

.container-fluid
  .profile-info
    .content-block-middle
      = render :partial => 'users/public_hcard'
      - if can?(:show, @profile)
        = render :partial => 'users/private_hcard'
  .profile-spaces

    .content-block-header
      %h3= t('profile.spaces')

    .content-block-middle
      = render 'users/user_spaces', user: @user, spaces: @user_spaces
