= page_title @user.full_name

= content_for :navbar_menu do
  = render "my/navbar_menu", user_spaces: @user_spaces

= content_for :sidebar do
  .sidebar-title= t('.title')

= content_for :sidebar_menu do
  = render :partial => 'users/menu'

#content-strip.container-fluid
  = logo_image(@user, class: "logo-user")

  .user-profile
    %span.name= @user.name
    %span= @user.profile.organization
    %span= @user.email
    %span.description= @user.profile.description
    - if can?(:update_full_name, @user) || can?(:update_password, @user)
      .profile-options
        - if can?(:update_full_name, @user)
          = link_to t('.data'), edit_data_user_path(@user), class: "btn btn-default"
        - if can?(:update_password, @user)
          = link_to t('.password'), password_edit_user_path(@user), class: "btn btn-default"

  - unless @user_spaces.blank?
    #user-spaces
      %h3= t('.user_spaces')
      = render 'users/user_spaces', user: @user, spaces: @user_spaces, compact: true
