<div id="yui-main">
<div class="yui-b main_column">
<% rounded(:class => "tips") do %>
<li>
<ul> Login: <%= @user.login%> </ul>
<ul>Email: <%= @user.email%></ul>
<ul>Eamil 2:<%= @user.email2%></ul>
<ul>Email 3:<%= @user.email3%></ul>
<ul>Your Interests, Tags: <%= @user.tag_list if @user.tag_list%></ul>
</li>

<%= link_to 'Edit' , edit_user_path(@user)%>
<%end%>
</div>
</div>
<%= render :partial =>'shared/sidebar_users'%>