= page_title @user.full_name

= content_for :navbar_menu do
  = render "my/navbar_menu", user_spaces: @user_spaces

= content_for :sidebar_menu do
  %ul
    %li{class: 'active'}= link_to "Perfil", user_path(@user)
    %li= link_to "Segurança", my_meetings_path
    %li= link_to "Dados da assinatura", my_meetings_path
    %li= link_to "Pagamentos", my_meetings_path

.container-fluid
  #profile-logo

  .resource-card.resource-user

    .resource-data
      .field
        %span.field-value.name= @user.name
        %span.field-value= @user.email

  - unless @user_spaces.empty?
    #user-spaces
      %h3= t('.user_spaces')
      = render 'users/user_spaces', user: @user, spaces: @user_spaces, compact: true
