.thread.thread-user.user-wrapper.user-simple.user-disabled{:class => "#{cycle("thread-even" , "thread-odd")}", :id => "user-#{user.permalink}"}
  .logo-in-thread
    = raw logo_image(user, :size => '32', :title => user.name, :class => 'logo logo-user')

  %ul.management-links
    = link_to enable_user_path(user), :data => { :confirm => t('.enable_confirm') }, :method => :post do
      = icon_enable(:alt => t('.enable'), :title => t('.enable'))
    = render 'manage/destroy_user', user: user

  .user-text
    %span.user-name
      - words = params[:q].try(:split)
      = Mconf::Highlighter.highlight(user.full_name, words)
      = "(#{Mconf::Highlighter.highlight(user.username, words)}, #{Mconf::Highlighter.highlight(user.email, words)})".html_safe
