.thread.thread-space.space-wrapper.space-simple.space-disabled{:class => "#{cycle("thread-even" , "thread-odd")}"}
  .logo-in-thread
    = raw logo_image(space, :size => '84x64', :title => space.name, :class => 'logo logo-space')

  %ul.management-links
    = link_to enable_space_path(space), :data => { :confirm => t('.enable_confirm') }, :method => :post do
      = icon_enable(:alt => t('.enable'), :title => t('.enable'))
    = render 'manage/destroy_space', :space => space

  .space-text
    %span.space-name
      = Mconf::Highlighter.highlight(space.name, params[:q].try(:split))
