.thread.thread-user.user-wrapper.user-simple.user-disabled{:class => "#{cycle("thread-even" , "thread-odd")}", :id => "user-#{user.permalink}"}
  .logo-in-thread
    = raw logo_image(user, :size => '32', :title => user.name, :class => 'logo logo-user')

  %ul.management-links
    = link_to enable_user_path(user), :data => { :confirm => t('.enable_confirm') }, :method => :post do
      = icon_confirm(:alt => t('.enable'), :title => t('.enable'))

  .user-text
    %span.user-name
      = highlight(sanitize(user.full_name), params[:q])
      = "(#{highlight(user.username, params[:q])}, #{highlight(user.email, params[:q])})".html_safe
