<div class="user enabled role_#{Site.current.role_for(user).name}">
  <ul class="group_links">
    <%= link_to(edit_user_path(user)) do %>
      <%= image_tag("icons/pencil.png", :alt => t('edit'), :title => t('edit')) %><% end %>
    <%= link_to(user_path(user), :confirm => t('are_you_sure'), :method => :delete) do %>
      <%= image_tag("icons/cancel.png", :alt => t('disable'), :title => t('user.disable')) %><% end %>
  </ul>
  <div>
    <%= raw(link_logo(user, :size => 32, :url => user_path(user), :title=>user.name)) %>
  </div>
  <div class="user_data">
    <% if performance.nil? -%>
      <%= form_for :performance, :url => site_performances_path do |f| -%>
        <ul>
          <li class="main_text">
            <%=t('name.one')%>:
            <span class="unified_user">
              <%= sanitize(link_to(user.name, user_path(user))) %>
            </span>
          </li>
          <li class="main_text">
            <%= t('user.category') %>: <%= user.superuser? ? t('user.admin') : t('user.normal_user') %>
          </li>
        </ul>
      <% end -%>
    <% else -%>
      <%= form_for :performance, :url => site_performance_path(performance.id), :html => { :method => :put} do |f| -%>
        <ul>
          <li class="main_text">
            <%=t('name.one')%>:
            <span class="unified_user">
              <%= sanitize(link_to(user.name, user_path(user))) %>
            </span>
          </li>
        </ul>
      <% end -%>
    <% end -%>
  </div>
</div>
