.thread.thread-space.space-wrapper.space-simple{:class => "#{cycle("thread-even" , "thread-odd")}"}
  .logo-in-thread
    = link_logo_image(space, options_for_tooltip(sanitize(space.name), :size => '84x64', :class => "logo logo-space"))

  %ul.management-links
    = link_to (edit_space_path(space)) do
      = icon_edit(:alt => t('.edit'), :title => t('.edit'))

    = link_to disable_space_path(space), :confirm => t('.disable_confirm'), :method => :delete do
      = icon_disable(:alt => t('.disable'), :title => t('.disable'))
    = render 'manage/destroy_space', :space => space

  .thread-title
    = link_to space_path(space), :class => 'space-name' do
      = highlight(sanitize(space.name), params[:q])
  %span.space-description
    = sanitize(first_words(space.description, 100))
