.thread.thread-user.user-wrapper.user-simple{:class => "#{cycle("thread-even" , "thread-odd")}"}
  .logo-in-thread
    = raw link_logo_image(user, :size => '32', :title => user.name, :url => user_path(user), :class => 'logo logo-user')

  %ul.management-links
    - if current_site.require_registration_approval?
      - if user.approved?
        = link_to disapprove_user_path(user), :method => :post, :confirm => t('.disapprove_confirm') do
          = icon_disapprove(:alt => t('.disapprove'), :title => t('.disapprove'))
      - else
        = link_to approve_user_path(user), :method => :post, :confirm => t('.approve_confirm') do
          = icon_approve(:alt => t('.approve'), :title => t('.approve'))
    = link_to (edit_user_path(user)) do
      = icon_edit(:alt => t('.edit'), :title => t('.edit'))
    = link_to user_path(user), :confirm => t('.disable_confirm'), :method => :delete do
      = icon_delete(:alt => t('.disable'), :title => t('.disable'))

  .thread-title
    = link_to user_path(user), :class => 'user-name' do
      = highlight(sanitize(user.full_name), params[:q])
    %span.user-email
      = "(#{highlight(user.username, params[:q])}, #{highlight(user.email, params[:q])})".html_safe
  .user-text
    %span.user-category
      = user_category(user)
