<%content_for :javascript do%>
  $("#aaaarole_submit_button_<%=user.id%>").remove();

  $("#aaaarole_select_<%=user.id%>").livequery('change', function(){
    val = $(this).val();
		<%if performance.nil? -%>
      $.post("<%=site_performances_path%>",{
          authenticity_token: "<%=form_authenticity_token()%>",
          'performance[role_id]': val,
					'performance[agent]' : user, 
          },
          function(data){eval(data);}
        );
      });
		<% else -%>
		  $.post("<%=site_performance_path(performance.id)%>",{
          _method: "put", authenticity_token: "<%=form_authenticity_token()%>",
          'performance[role_id]': val 
          },
          function(data){eval(data);}
        );
      });
		<% end -%>
  
<%end%>


<div class="user enabled role_#{Site.current.role_for(user).name}">
  <ul class="group_links">
    <%=link_to image_tag("icons/cancel.png", :alt => t('disable'), :title => t('user.disable')), user_path(user), :confirm => 'Are you sure?', :method => :delete%>
  </ul>
  <div>
    <%=link_logo(user, :size => 32, :url => user_profile_path(user), :title=>user.name)%>
  </div>
	<div>
	  <% if performance.nil? -%>
		  <% form_for :performance, :url => site_performances_path do |f| -%>
	      <ul>
	        <li class="bold"><%=t('name.one')%>: <strong><%=sanitize(user.full_name) %></strong></li>
	        <li class="bold">
	        	<%=t('role.one')%>: <strong><%=t('none')%></strong>
				<%=select "performance", "role_id", [t('role.add')] + @site_roles.collect {|p| [ p.name, p.id ]}, {:id => "role_select_#{user.id}",:class=>"small-font"} %>
			  <%= hidden_field_tag 'performance[agent]', "user-#{user.id}"%>
			  <%= submit_tag t('add'), :id=> "role_submit_button_#{user.id}"%>				
			</li>
	      </ul>
 
	    <% end -%>
    <% else -%>
      <% form_for :performance, :url => site_performance_path(performance.id), :html => { :method => :put} do |f| -%>
        <ul>
          <li class="bold"><%=t('name.one')%>: <strong><%=sanitize(user.full_name) %></strong></li>
          <li class="bold">
          	<%=t('role.one')%>: <strong><%=performance.role.name %></strong>
			<%=select "performance", "role_id", [t('role.change')] + @site_roles.collect {|p| [ p.name, p.id ]}, {}, {:id => "role_select_#{user.id}",:class=>"small-font"} %></li>
			<%= submit_tag t('change'), :id=> "role_submit_button_#{user.id}"%>
			<strong> <%=t('or')%> </strong><%= link_to t('delete.one'), site_performance_path(performance.id), :method => :delete %>
        </ul>
        
				 
		  <% end -%>
		<% end -%>
  </div>
</div>