.thread.thread-user.user-wrapper.user-simple{:class => "#{cycle("thread-even" , "thread-odd")}", :id => "user-#{user.permalink}"}
  .logo-in-thread
    = raw link_logo_image(user, :size => '32', :title => user.name, :url => user_path(user), :class => 'logo logo-user')

  %ul.management-links

    = link_to (edit_user_path(user)) do
      = icon_edit(:alt => t('.edit'), :title => t('.edit'))

    - if !user.confirmed?
      = link_to confirm_user_path(user), :data => { :confirm => t('.confirm_confirm') },  :method => :post do
        = icon_confirm_user(:alt => t('.confirm'), :title => t('.confirm'))

    - unless user.superuser  # prevent admins from disabling and unapproving themselves
      - if current_site.require_registration_approval?
        = approval_links :user, user

      = link_to disable_user_path(user), :data => { :confirm => t('.disable_confirm') }, :method => :delete do
        = icon_disable(:alt => t('.disable'), :title => t('.disable'))
      = render 'manage/destroy_user', user: user

  .thread-title
    - words = params[:q].try(:split)
    = link_to user_path(user), :class => 'user-name' do
      = Mconf::Highlighter.highlight(user.full_name, words)
    %span.user-email
      = "(#{Mconf::Highlighter.highlight(user.username, words)}, #{Mconf::Highlighter.highlight(user.email, words)})".html_safe
    %span.user-category
      = user_category(user)
