.thread.thread-space.space-wrapper.space-simple{:class => "#{cycle("thread-even" , "thread-odd")}", :id => "space-#{space.permalink}"}
  .logo-in-thread
    = link_logo_image(space, options_for_tooltip(sanitize(space.name), :size => '84x64', :class => "logo logo-space"))

  %ul.management-links
    = link_to (edit_space_path(space)) do
      = icon_edit(:alt => t('.edit'), :title => t('.edit'))

    - if space.require_approval? || !space.approved?
      = approval_links :space, space

    = link_to disable_space_path(space), :data => { :confirm => t('.disable_confirm') }, :method => :delete do
      = icon_disable(:alt => t('.disable'), :title => t('.disable'))
    = render 'manage/destroy_space', :space => space

  .thread-title
    = link_to space_path(space), :class => 'space-name' do
      = Mconf::Highlighter.highlight(space.name, params[:q].try(:split))

  .space-description
    = Mconf::Highlighter.highlight(sanitize(space.description), params[:q].try(:split))

    - if !space.approved?
      .resource-waiting-moderation-tooltip
        = icon_waiting_moderation
        = t("_other.not_approved.text")
  
    = render :partial => "spaces/space_tags", :locals => { :space => space }

