-# locals:
-#  recordings (array of BigbluebuttonRecording)

.list-container.list-tablefied.container-fluid
  .resource-filter-container.list-item-header
    .total-recording-size
      = t('.total_size')
      .label.label-default= human_file_size(@totalSize)
    .resource-filter-with-text
      = t('.filter_count_with_text', :count => "<span class=\"resource-filter-count\">#{recordings.count}</span>".html_safe, :value => "<span class=\"resource-filter-value\"></span>".html_safe).html_safe
    .resource-filter-without-text
      = t('.filter_count_empty', count: recordings.count)
  - for recording in recordings
    = render partial: 'recording_item', locals: { recording: recording }

- if recordings.count > 0
  - nav = page_navigation_links recordings
  - unless nav.nil?
    .content-block-footer= nav
