-# locals:
-#  spaces (array of Space)

.list-container.list-tablefied.container-fluid
  .resource-filter-container.list-item-header
    .resource-filter-with-text
      = t('.filter_count_with_text', :count => "<span class=\"resource-filter-count\">#{spaces.count}</span>".html_safe, :value => "<span class=\"resource-filter-value\"></span>".html_safe).html_safe
    .resource-filter-without-text
      = t('.filter_count_empty', :count => spaces.count)
  - for space in spaces
    = render partial: 'space_item', locals: { space: space }

- if spaces.count > 0
  - nav = page_navigation_links spaces
  - unless nav.nil?
    .content-block-footer= nav
