#manage

  .page-tools-menu.container-fluid
    .search-words
      = text_field_tag :spaces_filter_text, params[:q], :placeholder => t('.filter_name'), :'data-load-url' => manage_spaces_path, :'data-target' => '#space-list', :'data-filter' => '#filter-total', :class => 'form-control resource-filter'
    - if can?(:create, Space)
      .search-filters
        = link_to t('.new_space'), new_space_path, class: 'btn btn-primary btn-new-space'

    .search-filters
      - ['approved', 'disabled'].each do |field|
        .search-filter-option
          = check_box_tag :"users_filter_#{field}_true", true, params[field] == 'true', 'data-attr-filter': field, class: 'resource-filter-field checkbox'
          %label{ for: "users_filter_#{field}_true" }= t(".#{field}_true")
          = check_box_tag :"users_filter_#{field}_false", false, params[field] == 'false', 'data-attr-filter': field, class: 'resource-filter-field checkbox'
          %label{ for: "users_filter_#{field}_false" }= t(".#{field}_false")

  #space-list
    = render :partial => 'spaces_list', :locals => { :spaces => @spaces }
