= render :partial => 'menu'

#manage

  .page-tabs.page-tabs-full
    %label{ :for => 'spaces_filter_text' }= t('.filter_results')
    = text_field_tag :spaces_filter_text, params[:q], :placeholder => t('.filter_name'), :'data-load-url' => manage_spaces_path(:partial => 1), :'data-target' => '#space-list', :class => 'resource-filter'

  %p#filter-text
    = t('.filter_count_html')

  #space-list
    = render :partial => 'spaces_list', :locals => { :spaces => @spaces }
