<% content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%content_for :javascript do%>
  $("#manage_space_filter").show();
	
	$("input#disabled").click(function(){
    $("div.disabled").slideToggle("slow");
  });
  
  $("input#enabled").click(function(){
    $("div.enabled").slideToggle("slow");
  });
	
<%end%>

<%content_for :sidebar do%>
	<div id="manage_space_filter" style="display:none">
		<h3 class="blue">Show spaces:</h3>
	  <%= check_box_tag "enabled","enabled",true%><%= label_tag t("enabled")%><br />
		<%= check_box_tag "disabled","disabled",true%><%= label_tag t("disabled") %>
	</div>
<%end%>



<%= render :partial => 'menu' %>

<div id="manage">  
  <div "spaces">
    <%for space in @spaces%>
		  <%if space.disabled?%>
        <%= render :partial => 'disabled_space', :locals => {:space => space}  %>
			<%else%>
			  <%= render :partial => 'enabled_space', :locals => {:space => space} %>
			<%end%>
    <%end%> 
  </div>
</div>