= render :partial => 'menu'

#manage

  .page-tabs.page-tabs-full
    .search-words
      - if can?(:create, Space)
        = link_to t('.new_space'), new_space_path, class: 'btn btn-primary btn-new-space'
      = text_field_tag :spaces_filter_text, params[:q], :placeholder => t('.filter_name'), :'data-load-url' => manage_spaces_path, :'data-target' => '#space-list', :'data-filter' => '#filter-total', :class => 'resource-filter'

    .search-filters.clearfix
      - ['approved', 'disabled'].each do |field|
        .search-filter-option
          = check_box_tag :"users_filter_#{field}_true", true, params[field] == 'true', 'data-attr-filter': field, class: 'resource-filter-field checkbox'
          %label{ for: "users_filter_#{field}_true" }= t(".#{field}_true")
          = check_box_tag :"users_filter_#{field}_false", false, params[field] == 'false', 'data-attr-filter': field, class: 'resource-filter-field checkbox'
          %label{ for: "users_filter_#{field}_false" }= t(".#{field}_false")

    - if !params[:tag].nil?
      .search-tags
        = t('_other.filtered_tags')
        - params[:tag].split(ActsAsTaggableOn.delimiter).each do |tag|
          .label.label-tag
            = link_to tag, manage_spaces_path(make_tag_params(tag)), class: "tooltipped", title: t("_other.remove_tag")

  #space-list
    = render :partial => 'spaces_list', :locals => { :spaces => @spaces }
