#manage

  .page-tools-menu.container-fluid
    .search-words
      = text_field_tag :users_filter_text, params[:q], placeholder: t('.filter_name_or_username'), 'data-load-url' =>  manage_users_path, :'data-target' => '#users-list', :'data-filter' => '#filter-total', class: 'form-control resource-filter'
    .search-filters
      - ['admin', 'approved', 'disabled', 'can_record'].each do |field|
        .btn-group.search-filter-option
          = link_to "#", class: "btn btn-default btn-sm #{'active' if params[field] == 'true'}", type: "button", 'data-attr-filter': field, 'data-attr-value': true do
            = t(".#{field}_true")
          = link_to "#", class: "btn btn-default btn-sm #{'active' if params[field] == 'false'}", type: "button", 'data-attr-filter': field, 'data-attr-value': false do
            = t(".#{field}_false")

      = link_to t('.new_user'), new_user_path, class: 'open-modal btn btn-primary btn-new-user'

  #users-list
    = render partial: 'users_list', locals: { :users => @users }
