-# Small hack to have a resource set when the user loads the form for the first time
-# For some reason `resource` is nil and then the labels won't be correct
- user = resource.nil? ? User.new : resource

= simple_form_for user, as: resource_name, url: registration_path(resource_name) do |f|
  = disable_autocomplete_for('user[username]')
  = disable_autocomplete_for('user[password]', 'password')
  = f.hidden_field :locale, value: I18n.locale
  = f.fields_for :profile do |p|
    = p.input :full_name, required: true, autofocus: true
  = f.input :email, required: true
  -# = f.input :username, required: true, wrapper: :horizontal_input_group do
  -#   - if webconf_url_prefix.length <= 35
  -#     - prepend_text = webconf_url_prefix
  -#   - else
  -#     - prepend_text = "/#{webconf_path_prefix}"
  -#   = content_tag :span, prepend_text, class: "input-group-addon"
  -#   = f.input_field :username, class: "form-control"
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  .field-group
    = captcha_tags
  .form-accept-terms.field-group
    = label_tag :terms, t('.terms', register: t(".register")).html_safe
  = captcha_tags theme: 'dark'
  = f.button :wrapped, :value => t(".register"), :class => "btn-primary"
