= page_title t('.title')
- sessions_menu_at :register

#headline
  %h1= t('.headline')
  %h3= t('.headline2')

#register-wrapper
  %h1= t('.title')
  = render partial: 'signup_form'
  = render partial: 'shared/social_login'
