<% menu(:videos) %>

<% content_for :javascript do  %>
	
<% end %>

<% content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<% content_for :sidebar do  %>
  <%= render :partial => 'sidebar' %>
<% end %>


<div class="single_event">
 
	  	
  <div class="event_image">
	  <% if space && space.id!=nil%>
    <div id="logo">
	  <%= link_logo(space, :size => "h64", :title=>space.name) %>
	</div>
  <%else%>
    <div id="vcc-logo">
	  <%= link_to image_tag("vcc-logo-transparente1.png",:size=>"192x68"), root_path %>
	</div>
  <% end %>
  </div>
  <p> <%=h space.description %> </p>
</div>



<div id="event_recordings" class="margin-up">
  
  <div id="recordings_title"><h3 class="blue"><%=t('event.recording.one')%></h3></div>
    <div id="recordings_content">	  
    	
	  <div id="videos">
	    <div class="video_full">
	      <%if @display_entry%>
		  	 <p> Display entry </p>
	        <%=@display_entry.video_player%>
	      <%end%>
	  </div>  
      		
	  <div id="share_insert">
	    <span class="share">Share</span> <span class="insert">Insert</span>
	
		<div id="url_share" class="url_share" style="display:none">
	      <%unless @space.public?%>
	        <%=t('event.recording.notice')%><br/>
	      <%end%>
	        
		  <div class="video_share"><span><%=t('event.recording.share')%></span></div>       
	        <form>
	          <span class="only_url"><%=t('url_plain')%>:</span>
			</form>
	      </div>
	      
		  <div id="embed_share" class="url_share" style="display:none">
	        <%unless @space.public?%>
	          <%=t('event.recording.notice')%><br/>
	        <%end%>
	      <div class="video_share"><span><%=t('event.recording.insert')%></span></div>       
	        <form>
	          <span class="only_url"><%=t('event.embed')%>:</span>
			</form>
	      </div>
	  </div>
      			
      <div class="video-bar"> 	
	    <div class="video_properties">
		  <div class="video_title">
		    <%if @display_entry%>
			  <span><%=@display_entry.title%></span>
			<%end%>
          </div>
		  
		  <div class="video_users">  
		    <%if @display_entry%>
			  <%=t('agenda.entry.speakers')%>: <span class="unified_user"><%=entry_speakers(@display_entry)%></span>
		    <%end%>
		  </div>
	      <div>
	        <%if @display_entry%>
	          <%=t('agenda.entry.description')%>: <span class="main_text"><%=@display_entry.description %></span>
	        <%end%>
	      </div>
          		  
		  <div class="video_attachments">
		    <%if @display_entry%>
			  <%=t('agenda.entry.documents')%>:
			  <% @display_entry.attachments.each  do |a| %>
			    <%=image_tag("icons/attach.png", :class=>"icon")%>            
		        <%= link_to(a.filename , space_attachment_path(@space,a, :format => a.format!))%>
		      <%end %>
			<%end%>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>