= content_for :page_menu do
  %ul
    %li{ bbb_server_admin_menu_select_if(:index) }
      = link_to t('.view_server_list'), bigbluebutton_servers_path
    %li{ bbb_server_admin_menu_select_if(:room_list) }
      = link_to t('.view_room_list'), bigbluebutton_rooms_path
    %li{ bbb_server_admin_menu_select_if(:recording_list) }
      = link_to t('.view_recording_list'), bigbluebutton_recordings_path
    %li{ bbb_server_admin_menu_select_if(:playback) }
      = link_to t('.view_playback_type_list'), bigbluebutton_playback_types_path
    %li{ bbb_server_admin_menu_select_if(:new_server) }
      = link_to t('.new_server'), new_bigbluebutton_server_path
    %li{ bbb_server_admin_menu_select_if(:new_room) }
      = link_to t('.new_room'), new_bigbluebutton_room_path
