<%if (!@today_events || @today_events.empty?) && (!@tomorrow_events || @tomorrow_events.empty?) && (!@coming_events || @coming_events.empty?)%>
<%= "No Coming events" %>
<%else %>
	<%if !@today_events.empty?%>
		<h2><%= t('event.today') %></h2>
			<% @today_events.each do |event| %>
				<div class="summary">
					<%if event.start_date.future?%>
    				  <%=show_resume_event(event)%> <!--muestra cada uno de los eventos-->
					<%end%>
				</div>
			<%end %>
		<br/>
	<%end %>
	<%if !@tomorrow_events.empty?%>
		<h2><%= t('event.tomorrow') %></h2>
			<% @tomorrow_events.each do |event| %>
				<div class="summary">
    				<%=show_resume_event(event)%> <!--muestra cada uno de los eventos-->
				</div>
			<%end %>
		<br/>
	<%end %>
	<%if !@coming_events.empty?%>
		<h2><%= t('event.coming') %></h2>
			<% @coming_events.each do |event| %>
				<div class="summary">
    				<%=show_resume_event(event)%> <!--muestra cada uno de los eventos-->
				</div>
			<%end %>
		<br/>
	<%end %>
	
<%end %>