- if recording.available
  %ul.thread-recording-playback
    %li
      %span.playback-unavailable= t('.unavailable')
      = icon_help(t('.unavailable_tip'))
- else
  - if recording.playback_formats.size > 0
    %ul.thread-recording-playback
      - recording.playback_formats.each do |playback|
        %li
          = link_to playback.name, playback.url, :class => 'playback-link open-new-window'
          %span.small-date= "(#{distance_of_time(playback.length_in_secs)})"
  - else
    %ul.thread-recording-playback
      %li
        %span.thread-playback-processing= t('.processing_dots')
        = icon_help(t('.processing_tip'))
