-# Locals:
-#   recordings (Array of Recording)
-#   show_authors (boolean): show who created the recording?
-#   redir_to (string): where to redirect back to when e.g. deleting a recording

-# TODO: #1087 show only recordings that are published

- show_authors = set_default(local_assigns, "show_authors", false)
- redir_to = set_default(local_assigns, "redir_to", "")

.table-wrapper
  %table.recording-list.table.table-hover
    %thead
      %tr
        - if show_authors
          %th.col-sm-2.meeting-date-col= t(".started_at")
          %th.col-sm-1.rec-author-col= t(".created_by")
          %th.col-sm-4.rec-description-col= t(".description")
          %th.col-sm-2.rec-duration-col= t(".duration")
          %th.col-sm-2.rec-status-col= t(".status")
          %th.col-sm-1.rec-playback-col= t(".playback_links")
          - total_columns = 6
        - else
          %th.meeting-date-col= t(".started_date")
          %th.meeting-time-col= t(".started_time")
          %th.rec-duration-col= t(".duration")
          %th.rec-description-col= t(".description")
          %th.rec-status-col= t(".status")
          %th.rec-playback-col= t(".playback_links")
          %th.options-col
          - total_columns = 6
    %tbody
      - if meetings.count <= 0
        %tr
          %td{ colspan: total_columns }= t('.no_meetings')
      - else
        -# %tr.table-observation-row
        -#   %td{ colspan: total_columns }= t('.delay_warning')
        - meetings.each do |meeting|
          - recording = meeting.recording

          - cls = "shadowed"
          - cls = recording.present? ? cls : "#{cls} not-recorded"
          %tr{ class: cls }
            %td.meeting-date-column
              - user_time_zone = Mconf::Timezone.user_time_zone(current_user).name
              - m_create = format_date_with_timezone(meeting.create_time, :long, user_time_zone)
              - m_date = format_date_with_timezone(meeting.create_time, :short, user_time_zone, false)

              - if recording
                - rec_create = format_date_with_timezone(recording.start_time, :long, user_time_zone)
                - rec_end = format_date_with_timezone(recording.end_time, :long, user_time_zone)
                .meeting-date{ :title => t('.started_at_desc_with_rec', meeting_start: m_create, rec_start: rec_create, rec_end: rec_end) }
                  = m_date
              - else
                .meeting-date{ :title => t('.started_at_desc', meeting_start: m_create) }
                  = m_date

            %td.meeting-time-column
              - user_time_zone = Mconf::Timezone.user_time_zone(current_user).name
              - m_create = format_time_with_timezone(meeting.create_time, user_time_zone)
              .meeting-date
                = m_create

            - if show_authors
              %td.rec-author-column
                - unless meeting.creator_id.nil?
                  - user = User.find_by(id: meeting.creator_id)
                  .recording-author
                    - unless user.nil?
                      = link_to user.full_name, user_path(user)
                    - else
                      %span= t('_other.user.removed')

            - if recording.present?
              -# To get the creator from the recording instead of meeting:
              -# - action = recording.room.owner_type == "User" ? :user_show : :space_show
              -# - if can?(action, recording)
              -#   - metaUser = recording.metadata.all.select{ |m| m.name == BigbluebuttonRails.configuration.metadata_user_id.to_s }.first

              %td.rec-duration-column
                .duration
                  = distance_of_time_in_words_to_now(Time.now + recording.duration, include_seconds: false, scope: 'datetime.distance_in_words', two_words_connector: " ")

              %td.rec-description-column
                - if recording.description.blank?
                  .description= t('.no_description')
                - else
                  .description= recording.description

              %td.thin.rec-status-column
                - if recording.available?
                  - if recording.published?
                    - if recording.playback_formats.size > 0
                      = icon_visibility(title: t('.published'))
                    -else
                      = icon_processing(title: t('.processing_tip'))
                  - else
                    = icon_visibility_private(title: t('.unpublished'))
                - else
                  = icon_broken(title: t('.unavailable_tip'))

              %td.rec-playback-column
                = render partial: 'shared/recording_playback', locals: { recording: recording }

              %td.thin.options-column
                .dropdown.recording-playback-options
                  %a.dropdown-toggle{ href: '#', data: { toggle: "dropdown" } }= icon_options_dots
                  %ul.dropdown-menu.dropdown-menu-right
                    %li
                      - if recording.room.owner_type == "User"
                        - if can?(:user_edit, recording)
                          = link_to edit_my_recording_path(recording), class: "tooltipped open-modal" do
                            = t('.edit')
                      - else
                        - if can?(:space_edit, recording)
                          = link_to space_edit_recording_path(recording.room.owner, recording), class: "tooltipped open-modal" do
                            = icon_edit
                            = t('.edit')
                    %li
                      - if recording.published?
                        = link_to unpublish_bigbluebutton_recording_path(recording, redir_url: redir_to), data: { confirm: t('are_you_sure') }, method: :post do
                          = t('.private')
                      - else
                        = link_to publish_bigbluebutton_recording_path(recording, redir_url: redir_to), data: { confirm: t('are_you_sure') }, method: :post do
                          = t('.publish')
                    %li
                      = link_to bigbluebutton_recording_path(recording, redir_url: redir_to), data: { confirm: t('.destroy_confirm') }, method: :delete do
                        = t('.delete')

            - else
              %td.rec-duration-column
                .duration
                  - duration = meeting.duration
                  - if duration.present?
                    - duration = duration/1000
                    = distance_of_time_in_words_to_now(Time.now + duration, include_seconds: false, scope: 'datetime.distance_in_words', two_words_connector: " ")
                  - else
                    = t('.no_duration')
              %td.rec-description-column.not-recorded{ :colspan => "4" }= t('.not_recorded')
              - span = show_authors ? 3 : 2
