-# Locals:
-#   recordings (Array of Recording)
-#   show_authors (boolean): show who created the recording?

- show_authors = true if show_authors.nil?

#my-webconference-recordings-list
  - if recordings.count <= 0
    = t('.no_recordings')

  - else
    - recordings.each do |recording|
      - metaUser = recording.metadata.all.select{ |m| m.name == BigbluebuttonRails.metadata_user_id.to_s }.first

      - action = recording.room.owner_type == "User" ? :user_show : :space_show
      - if can?(action, recording)

        .thread.thread-no-logo{:class => cycle('thread-even' , 'thread-odd'), :id => "rec-#{recording.id}"}
          .thread-content

            %ul.thread-action-links.visible-on-hover{ :"data-hover-tracked" => "rec-#{recording.id}" }
              - if recording.room.owner_type == "User"
                - if can?(:user_edit, recording)
                  %li= link_to t('_other.edit').downcase, edit_my_recording_path(recording), :class => "open-modal"
              - else
                - if can?(:space_edit, recording)
                  %li= link_to t('_other.edit').downcase, space_edit_recording_path(recording.room.owner, recording), :class => "open-modal"

            .thread-title
              .thread-updated-at
                = t('.created')
                = t('updated_time_ago', :time => time_ago_in_words(recording.created_at))
              = icon_recording
              - if recording.description.blank?
                %span.recording-description= t('.no_description')
              - else
                %span.recording-description= recording.description

            .thread-subtitle
              .recording-date
                = t('.started_at') + ": #{format_date(recording.start_time)}"

            .thread-subtitle
              = render :partial => 'shared/recording_duration', :locals => { :recording => recording }

            - if show_authors
              .thread-subtitle
                - unless metaUser.nil?
                  - user = User.find_by_id(metaUser.content)
                  - unless user.nil?
                    .recording-author
                      = t('.created_by') + ':'
                      = link_to user.full_name, user_profile_path(user)

            .thread-subtitle
              = render :partial => 'shared/recording_playback', :locals => { :recording => recording }
