-# Locals:
-#   recordings (Array of Recording)
-#   show_authors (boolean): show who created the recording?
-#   redir_to (string): where to redirect back to when e.g. deleting a recording

-# TODO: #1087 show only recordings that are published

- show_authors = set_default(local_assigns, "show_authors", true)
- redir_to = set_default(local_assigns, "redir_to", "")

%table.recording-list.table.table-hover
  %thead
    %tr
      - if show_authors
        %th.col-sm-2.meeting-date-col= t(".started_at")
        %th.col-sm-2.rec-author-col= t(".created_by")
        %th.col-sm-4.rec-description-col= t(".description")
        %th.col-sm-3.rec-playback-col= t(".playback_links")
        %th.col-sm-1.rec-playback-col
      - else
        %th.col-sm-2.meeting-date-col= t(".started_at")
        %th.col-sm-5.rec-description-col= t(".description")
        %th.col-sm-4.rec-playback-col= t(".playback_links")
        %th.col-sm-1.rec-playback-col
  %tbody
    - if meetings.count <= 0
      %tr
        - if show_authors
          %td{ :colspan => "5" }= t('.no_meetings')
        - else
          %td{ :colspan => "4" }= t('.no_meetings')
    - else
      - meetings.each do |meeting|
        - recording = meeting.recording

        %tr

          %td.meeting-date-col
            - if recording
              .meeting-date{ :title => t('.started_at_desc_with_rec', meeting_start: format_date(meeting.create_time, :long), rec_start: format_date(recording.start_time, :long), rec_end: format_date(recording.end_time, :long)) }
                = format_date(meeting.create_time)
            - else
              .meeting-date{ :title => t('.started_at_desc', meeting_start: format_date(meeting.create_time, :long)) }
                = format_date(meeting.create_time)

          - if show_authors
            %td.rec-author-col
              - unless meeting.creator_id.nil?
                - user = User.find_by(id: meeting.creator_id)
                .recording-author
                  - unless user.nil?
                    = link_to user.full_name, user_profile_path(user)
                  - else
                    %span= t('_other.user.removed')

          - if recording.present?
            -# To get the creator from the recording instead of meeting:
            -# - action = recording.room.owner_type == "User" ? :user_show : :space_show
            -# - if can?(action, recording)
            -#   - metaUser = recording.metadata.all.select{ |m| m.name == BigbluebuttonRails.configuration.metadata_user_id.to_s }.first

            %td.rec-description-col
              - if recording.description.blank?
                %span= t('.no_description')
              - else
                %span= recording.description

            %td.rec-playback-col
              = render :partial => 'shared/recording_playback', :locals => { :recording => recording }

            %td.rec-actions-col
              -# Edit description button
              - if recording.room.owner_type == "User"
                - if can?(:user_edit, recording)
                  = link_to icon_edit, edit_my_recording_path(recording), class: "tooltipped open-modal", title: t('.edit')
              - else
                - if can?(:space_edit, recording)
                  = link_to icon_edit, space_edit_recording_path(recording.room.owner, recording), class: "tooltipped open-modal", title: t('.edit')

              - if recording.available?
                - if recording.published?
                  = link_to unpublish_bigbluebutton_recording_path(recording, redir_url: redir_to), :data => { :confirm => t('are_you_sure') }, :method => :post do
                    = icon_unpublish(:alt => t('.unpublish'), :title => t('.unpublish'))
                - else
                  = link_to publish_bigbluebutton_recording_path(recording, redir_url: redir_to), :data => { :confirm => t('are_you_sure') }, :method => :post do
                    = icon_publish(:alt => t('.publish'), :title => t('.publish'))

              = link_to bigbluebutton_recording_path(recording, redir_url: redir_to), :data => { :confirm => t('.destroy_confirm') }, :method => :delete do
                = icon_delete(:alt => t('.delete'), :title => t('.delete'))

          - else
            - if show_authors
              %td.rec-not-recorded-col{ :colspan => "4" }= t('.not_recorded')
            - else
              %td.rec-not-recorded-col{ :colspan => "3" }= t('.not_recorded')
