- unless recording.available
  %ul.thread-recording-playback
    %li
      %span.playback-unavailable= t('.unavailable')
      = icon_help(t('.unavailable_tip'))
- else
  - if recording.playback_formats.size > 0
    %ul.thread-recording-playback
      - show_duration = true
      - recording.playback_formats.ordered.each do |playback|
        - if playback.visible?
          %li
            = link_to_playback(recording, playback)
            - if show_duration
              %span.small-date= "(#{t('.duration')}: #{distance_of_time(playback.length_in_secs)})"
              - show_duration = false
  - else
    %ul.thread-recording-playback
      %li
        %span.thread-playback-processing= t('.processing_dots')
        = icon_help(t('.processing_tip'))
