<div class="yui-b sidebar">

<% rounded(:class => "tips") do %>
<h1 class="title_sidebar"><%= t('about_me') %></h1>

<%end%>

<% rounded(:class => "tips") do %>
<h1 class="title_sidebar"><%= t('my_friends') %></h1>


<%end%>
<% rounded(:class => "tips") do %>
<h1 class="title_sidebar"><%= t('space.member_of') %></h1>
 
<%if @user.stages.length== 0%><br>

<%= t('space.subscribed_to_none') %>
<%else%>
<% for space in @user.stages%>
<br><%=link_to name_format(space.name, 16,""), space_path(space), :title => space.name%>
<%end%>
<%end%>

<%end%>
	
<% rounded() do %>	
<%= render :partial=>'shared/tag_cloud'%>
<%end%>
	
<% rounded(:class => "tips") do %>
<%= link_to 'Ask for Resources', contact_mail_machines_path%>


<%end%>
<% rounded(:class => "tips") do %>
	<div class="logo_sidebar"><%=link_to(image_tag("logo_sidebar.png"),"http://#{Site.current.domain}")%> </div>
	<div class="bandera"></div>
	<%end%>	
</div>
