<div class="yui-b sidebar">

<% rounded(:class => "tips") do %>
<!--
  <%= 
    #render :partial=> 'shared/search_all'
  %>
-->
	<%end%>
		
	<% rounded(:class => "tips") do %>
	<div id="sidebar_news"><div class="rss"><%=link_to(image_tag("rss.png"),formatted_space_posts_path(@space,:atom))%> </div><h4 class="title_sidebar" ><%= t('latest_news') %></h4><br/>
	<%=render :partial =>'shared/latest_news'%>
	</div>
	<%end%>
	
	<% rounded() do %>	
	<%= render :partial=>'shared/tag_cloud'%>
	<%end%>
	
	<% rounded(:class => "tips") do %>
	<div id="sidebar_events"><div class="rss"><%=link_to(image_tag("rss.png"),formatted_space_events_path(@space,:atom))%></div><h4 class="title_sidebar"><%= t('latest_events') %></h4><br/>
	<%=render :partial =>'shared/events_coming'%>
	</div>
	<%end%>	
		
	<% rounded(:class => "tips") do %>
	<div class="logo_sidebar"><%=link_to(image_tag("logo_sidebar.png"),"http://#{Site.current.domain}")%> </div>
	<div class="bandera"></div>
	<%end%>	
	
	
</div>
