// Locals:
//   editing (boolean): show/hide controls to edit the logo

- editing ||= false

.resource-card.user
  .resource-logo
    - cls = editing ? 'editing' : ''
    = logo_image(user, size: '300', title: user.name, class: cls)

    = upload_logo_controls(@user) if editing

    - if user.superuser?
      .label.superuser-label.tooltipped{ title: t('_other.user.administrator') }
        = t('_other.user.admin')

  .data
    %span.data-main{ title: user.name }= user.name
    %span.data-other{ title:user.email }= user.email
    - unless user.profile.organization.blank?
      %span.data-other{ title: user.profile.organization }= user.profile.organization
