// Locals:
//   room (BigbluebuttonRoom): the target conference room

- running = room.is_running?
- active_cls = running ? "active" : ""

#webconference-room.content-block
  .content-block-header
    %h3= "Web conference room"

  .content-block-middle

    #webconference-room-url
      = copyable_field 'invite-url-text', join_webconf_url(room), readonly: true

    -# .webconference-types.row
    -#   .col-xs-4.col-md-4
    -#     .webconference-type
    -#       .row
    -#         .col-xs-5.col-sm-12.col-md-6
    -#           -# %i.fa.fa-gears.icon-awesome.webconference-icon
    -#           = image_tag "icons/meeting-one-to-one.png", class: "webconference-icon"
    -#         .col-xs-5.col-sm-12.col-md-6
    -#           .title
    -#             = "Small meetings"
    -#           .subtitle
    -#             = "(one-to-one)"
    -#   .col-xs-4.col-md-4
    -#     .webconference-type.selected
    -#       %i.fa.fa-check.icon-awesome.icon-selected{ :title => "Conference type currently selected" }
    -#       .configuration-options
    -#         = link_to edit_my_room_path, :class => 'open-modal btn btn-primary btn-xs', :'data-modal-width' => 'small' do
    -#           = icon_options
    -#           = "Configure"
    -#       .row
    -#         .col-xs-5.col-sm-12.col-md-6
    -#           -# %i.fa.fa-envelope.icon-awesome.webconference-icon
    -#           = image_tag "icons/meeting-many-to-many.png", class: "webconference-icon"
    -#         .col-xs-5.col-sm-12.col-md-6
    -#           .title
    -#             = "Meetings"
    -#           .subtitle
    -#             = "(many-to-many)"

    -#   .col-xs-4.col-md-4
    -#     .webconference-type
    -#       .row
    -#         .col-xs-5.col-sm-12.col-md-6
    -#           -# %i.fa.fa-user.icon-awesome.webconference-icon
    -#           = image_tag "icons/meeting-one-to-many.png", class: "webconference-icon"
    -#         .col-xs-5.col-sm-12.col-md-6
    -#           .title
    -#             = "Webinar"
    -#           .subtitle
    -#             = "(one-to-many)"


  - cls = running ? "in-progress" : ""
  #webconference-start{ :class => cls }

    .webconference-buttons
      = link_to invitation_bigbluebutton_room_path(room), class: "btn btn-default open-modal tooltipped", title: "Send invitations for meetings in this room" do
        = icon_invitation
      = link_to user_edit_bigbluebutton_room_path(room), class: "open-modal btn btn-default tooltipped", title: "Configure this room before creating a meeting" do
        = icon_options
      - if room.owner.class == Space
        - recordings_link = meetings_space_path(room.owner)
      - else
        - recordings_link = my_meetings_path
      = link_to recordings_link, class: "btn btn-default tooltipped", title: "View the list of recordings for this room" do
        = icon_list

    .webconference-label
      - if running
        %span
          = icon_in_progress
          = "There's a meeting in progress!"

    .webconference-status

      -# = link_to edit_my_room_path, :class => 'open-modal btn btn-default' do
      -#   = icon_options
      - if running
        - if can?(:end, room)
          -# TODO: redirect to the space if it's a space room
          = link_to t('.end'), end_bigbluebutton_room_path(room, :redir_url => my_home_path), options_for_tooltip(t('.end_tooltip'), :data => { :confirm => t('are_you_sure') }, :class => 'btn btn-danger')
        = link_to t('.join'), join_bigbluebutton_room_path(room), :class => "btn webconf-join-link btn-success"
      - else
        -# only show the options dialog if the user can record and the record flag is not automatically set
        -# - if can?(:record_meeting, room) && !current_site.webconf_auto_record
        -#   = link_to t('.start'), join_options_bigbluebutton_room_path(room), :class => "btn btn-small open-modal btn-primary", :'data-modal-width' => 'small'
        -#   = link_to join_bigbluebutton_room_path(room), options_for_tooltip(t(".fast_start"), :class => "btn btn-small btn-primary webconf-join-link") do
        -#     = icon_webconf_start
        -# - else
        = link_to t('.start'), join_bigbluebutton_room_path(room), :class => "btn webconf-join-link btn-success"
      -# = link_to invitation_bigbluebutton_room_path(room), :class => "btn btn-default open-modal" do
      -#   = icon_list
