%ul.nav.nav-tabs.nav-stacked.content-block-container
  %li= link_to t('.view_server_list'), bigbluebutton_servers_path
  %li= link_to t('.view_room_list'), bigbluebutton_rooms_path
  %li= link_to t('.view_recording_list'), bigbluebutton_recordings_path
  %li= link_to t('.view_playback_type_list'), bigbluebutton_playback_types_path
  %li= link_to t('.new_server'), new_bigbluebutton_server_path
  %li= link_to t('.new_room'), new_bigbluebutton_room_path
