// Locals:
//   room (BigbluebuttonRoom): the target conference room
- can_create = user_signed_in? && can?(:create_meeting, room)
- running = room.is_running?
- active_cls = running ? "active" : ""

#webconference-room.content-block
  .content-block-header
    %h3= t('.title')

  .content-block-middle

    #webconference-room-url
      = clipboard_copy_field 'invite-url-text', join_webconf_url(room), readonly: true

  - cls = running ? "in-progress" : ""
  #webconference-start{ :class => cls }

    .webconference-buttons
      - if can_create
        = link_to invitation_bigbluebutton_room_path(room), class: "btn btn-default open-modal tooltipped", title: t('.invite_tip') do
          = icon_invitation
        = link_to user_edit_bigbluebutton_room_path(room), class: "open-modal btn btn-default tooltipped", title: t('.configure_tip') do
          = icon_options
      - else
        = link_to invitation_bigbluebutton_room_path(room), class: "btn btn-default open-modal tooltipped disabled", title: t('.must_member') do
          = icon_invitation
        = link_to user_edit_bigbluebutton_room_path(room), class: "open-modal btn btn-default tooltipped disabled", title: t('.must_member') do
          = icon_options
      - if room.owner.class == Space
        - meetings_link = meetings_space_path(room.owner)
      - else
        - meetings_link = my_meetings_path
      = link_to meetings_link, class: "btn btn-default tooltipped", title: t('.meeting_list_tip') do
        = icon_list

    .webconference-status
      .webconference-label
        - if running
          %span
            = t('.meeting_in_progress')

      -# = link_to edit_my_room_path, :class => 'open-modal btn btn-default' do
      -#   = icon_options
      - if running
        - if can?(:end, room)
          -# TODO: redirect to the space if it's a space room
          = link_to t('.end'), end_bigbluebutton_room_path(room, :redir_url => my_home_path), options_for_tooltip(t('.end_tooltip'), :data => { :confirm => t('are_you_sure') }, :class => 'btn btn-danger')
        = link_to t('.join'), join_bigbluebutton_room_path(room), :class => "btn webconf-join-link btn-success"
      - else
        -# only show the options dialog if the user can record and the record flag is not automatically set
        -# - if can?(:record_meeting, room) && !current_site.webconf_auto_record
        -#   = link_to t('.start'), join_options_bigbluebutton_room_path(room), :class => "btn btn-small open-modal btn-primary", :'data-modal-width' => 'small'
        -#   = link_to join_bigbluebutton_room_path(room), options_for_tooltip(t(".fast_start"), :class => "btn btn-small btn-primary webconf-join-link") do
        -#     = icon_webconf_start
        -# - else
        - if can_create
          = link_to t('.start'), join_bigbluebutton_room_path(room), :class => "btn webconf-join-link btn-success"
        - else
          = link_to t('.start'), join_bigbluebutton_room_path(room), :class => "btn webconf-join-link btn-success tooltipped disabled", title: t('.must_member')
      -# = link_to invitation_bigbluebutton_room_path(room), :class => "btn btn-default open-modal" do
      -#   = icon_list
