#doc_table.main_text
  - interactive = interactive.nil? ? true : interactive

  - if @attachments.empty?
    %table
      %tbody
        %tr
          %td
            = t('.no_attachments')

  - else
    %table.table.table-striped.attachments.ui-collection{:cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th
          %th
            = t('file')
          %th
            = t('author')
          %th
            = t('updated')
          %th
            = t('actions')

      - @attachments.each_with_index do |attachment, i|
        = render 'single_attachment', :attachment => attachment, :i => i
