/ TODO: REMOVE JS CODE FROM HERE
:javascript
  $("#attachment_edit_tags").fcbkcomplete({
    cache: true,
    filter_case: false,
    filter_hide: false,
    firstselected: true,
    filter_selected: true,
    maxshownitems: 4,
    newel: true
  });
#doc_action.edit_tags
  %h1
    = t('tag.edit')
  .doc_action_content
    = form_for prepare_for_form(@attachment), :html => { :multipart => true, :method => :put } do |f|
      = hidden_field_tag 'format', 'html'
      %span{ :class => "bold" }
        = t('attachment.file')
      %span
        = @attachment.filename
      .margin-up
        %span{ :class => "bold" }
          = t('tags')
      %input{ :id => "attachment_tags", :type => "hidden", :value => "", :multiple => "multiple", :name => "attachment[_tags][]" }
      %select{ :id => "attachment_edit_tags", :multiple => "multiple", :name => "attachment[_tags][]" }
        = options_for_select_with_class_selected(@space.tags.map{ |t| t.name }, attachment.tags.map{|t| t.name}).html_safe
      .margin_up
        %button{ :class => "basic_button blue_button", :type => "submit" }
          = t('button.update')
    %end
