#doc_action{ :class => "new_version margin-up", :rel=> "new_version" }
  #new_version_label
    %h1{ :class => "bold blue top" }
      = t('version.new')
    = form_for prepare_for_form(Attachment.new, :version_parent_id => @attachment.id), :html => { :multipart => true} do |f|
      .new_doc_content
        = f.hidden_field :version_parent_id
        = f.file_field :uploaded_data, :id => "upload_field", :size => 12
      %span
        = t('attachment.upload_with_post')
        = check_box_tag "add_post", "with_post", attachment.post_title.present? || attachment.post_text.present?
      #with_post{ :style => ("display:none" if !(attachment.post_title.present? || attachment.post_text.present?)) }
        = f.label :post_title, t('title')
        = f.text_field :post_title, :rows => 1, :cols => 23
        = f.label :post_text, t('text')
        = f.text_area :post_text, :rows => 5, :cols => 25
      #button_submit.margin_up{ :style => "display:none" }
        %button{ :type => "submit", :class => "basic_button blue_button" }
          = t("button.update")
