<%content_for :javascript do%>

  $("#mixed_filter").show();

  filter_title = function(s){
	  $("tr.ui-collection-result").each(function() {
		  if($(this).children("td.attachment-name").children("a").text().toLowerCase().search(s.toLowerCase())>=0){
        $(this).css("display","");
	    }else{
	      $(this).hide();
	    }
    });
	};
	
	filter_author = function(s){
    $("tr.ui-collection-result").each(function() {
      if($(this).children("td.attachment-author").children("a").text().toLowerCase().search(s.toLowerCase())>=0){
        $(this).css("display","");
      }else{
        $(this).hide();
      }
    });
  };
	
	filter_any = function(s){
    $("tr.ui-collection-result").each(function() {
		  show_row = $(this).children("td.attachment-name").children("a").text().toLowerCase().search(s.toLowerCase())>=0
			              || $(this).children("td.attachment-author").children("a").text().toLowerCase().search(s.toLowerCase())>=0;
			if(show_row){
        $(this).css("display","");
      }else{
        $(this).hide();
      }	
		});
	};
	
	filter_type = function(type){
	  if(type==""){
		  $("tr.ui-collection-result").show();
		  return;
		}
	  $("tr.ui-collection-result").each(function() {
      if($(this).children("td.attachment-name").attr("rel")==type){
        $(this).css("display","");
      }else{
        $(this).hide();
      }
    });
	}
	
	$("#title_filter").livequery('keyup', function() {
	  filter_title(this.value);
	});
	
	$("#author_filter").livequery('keyup', function() {
    filter_author(this.value);
  });
	
	$("#any_field_filter").livequery('keyup', function() {
    filter_any(this.value);
  });
	
	$("#type_filter").livequery('change', function() {
    filter_type($(this).val());
  });
	
	$("#mix_filter").livequery('change', function() {
    $(".mixed_alternative").hide();
		$("tr.ui-collection-result").css("display","");
		$("#" + $(this).val()).val("").show();
  });
  
<%end%>

<div id="mixed_filter" style="display:none">
	<label class="bold blue"><%=t('find_in')%></label><br/>
	<select id="mix_filter">
		<option value="any_field_filter"><%=t('any_field')%></option>
		<option value="author_filter"><%=t('author')%></option>
		<option value="type_filter"><%=t('type')%></option>
		<option value="title_filter"><%=t('title')%></option>
	</select>
	<%=text_field_tag :any_field,'', :id => "any_field_filter", :class => "mixed_alternative" %>
	<%=text_field_tag :title,'', :id => "title_filter", :class => "mixed_alternative", :style => "display:none" %>
	<%=text_field_tag :author,'', :id => "author_filter", :class => "mixed_alternative", :style => "display:none" %>
	<select id="type_filter" class="mixed_alternative" style="display:none">
		<option value="" id="blank_option"><%=t('all')%></option> 
	 	<%@attachments.select{|a| a.mime_type.present?}.map{|a| a.mime_type.to_sym.to_s}.uniq.each do |type|%>
		  <option value="<%=type%>"><%=type%></option>  
		<%end%>
  </select>
</div>
