%tr{:class => "attachment ui-collection-result #{can?(:delete, attachment) ? 'can_delete' : ''}"}
  %td.attachment-selector
    %input.attachment_checkbox{id: "#{i}", name: i, type: "checkbox", value: i}
  %td.attachment-name
    = link_to attachment.title, attachment.attachment_url
  %td.attachment-author
    = link_to attachment.author.full_name, users_path(attachment.author)
  %td.attachment-updated
    %span{title: attachment.created_at}
      = attachment.created_at
  %td.attachment-actions
    = link_to attachment.attachment_url, :class => 'no-dot' do
      %i.tooltipped.icon-awesome.icon-download-alt.icon-mconf-download.icon{"data-original-title" => "Download", "data-placement" => "top"}
    - if can? :delete, attachment
      = link_to [@space, attachment], :rel => 'nofollow', :'data-confirm' => t('.delete'), :'data-method' => 'delete' do
        %i.tooltipped.icon-awesome.icon-remove-sign.icon-mconf-delete.icon.can_delete{"data-original-title" => "Delete", "data-placement" => "top"}