- # TODO remove it from here
:javascript
  hide_table = function(){
    $("#doc_repository").parent().html(I18n.t('repository.loading'));
  }

#tag_filter{ :style => "display:none" }
  .tag_filter_content
    %label{ :class => "bold" }
      =@tags.present? ? t('tag.selected', :count => @tags.size) : t('tag.filter')
    %select{ :id => "attachment_tags_filter", :multiple => "multiple", :name => "tags[]" }
      = options_for_fcbkcomplete(@attachments.map(&:tags).flatten.compact.uniq,:id,:name,@tags).html_safe
  #tag_used_list.tag_filter_content
    %span
      %label{ :class => "bold" }
        = t("popularity")
      = help_icon(t("tooltip.tag_by"),:size=>"16x16" ,:style=>"cursor:pointer")
      %label{ :class => "bold" }
        = t("popularity")
      |
      =link_to "#{t 'abc'}", "", :class => "tag_list_abc_order"
    %ul
      - tag_count(@attachments, @tags, :order => "popularity").each do |t|
        %li
          =link_to "#{t[:tag].name}(#{t[:count]})", path_for_attachments({:add_tag => t[:tag].id}), :class => "add_tag_filter"
  #tag_abc_list.tag_filter_content{ :style => "display:none" }
    %span
      %label{ :class => "bold" }
        = t('tags_by')
      = help_icon(t("tooltip.tag_by"), :size=>"16x16", :style=>"cursor:pointer")
      =link_to "#{t 'popularity'}", "", :class => "tag_list_used_order"
      |
      %label{ :class => "bold" }
        = t("abc")
    %ul
      - tag_count(@attachments, @tags, :order => "abc").each do |t|
        %li
          = link_to "#{t[:tag].name}(#{t[:count]})", path_for_attachments({:add_tag => t[:tag].id}), :class => "add_tag_filter"
  #tag_collapsed_list.tag_filter_content{ :style => "display:none" }
    %span
      %label{ :class => "bold" }
        =t 'tags_by'
      = link_to "#{t 'popularity'}", "", :class => "tag_list_used_order"
      |
      =link_to "#{t 'abc'}", "", :class => "tag_list_abc_order"
