<%content_for :javascript do %>
 
 $("#attachment__tags").fcbkcomplete({
			cache: true,
            filter_case: false,
            filter_hide: true,
            firstselected: true,
            filter_selected: true,
            maxshownitems: 4,
			newel: true
			
	});



<%end%>

<div id="add_new_doc">	

<h3><%=t('document.add') %></h3>
<%form_for attachment, :html => { :multipart => true} do |f|%>
  <div id="cabinet">
  <%= file_field_tag :uploaded_data , :class=>"file_1"%>
</div>
<br/>
<h4><%=t('tag.new')%></h4>
 
<div id=tags><%= select(:attachment, :_tags, attachment.space.tags.map{|u| u.name}, {}, {:multiple=>"multiple"})%></div>

  <!--<%= image_submit_tag "buttons/create.png" %>-->
  <br/>
  <br/>
  
   <button type="submit"><%=t("button.upload")%></button>
<%end%>
</div>
