<div id="doc_action" rel="new_doc">
	<%if attachment.authorize?(:create,:to => current_user)%>
	
	<div id="add_document_label" class="button_wrapper"><%=link_to "<span>" + t('document.add')+ "</span>", space_attachments_path(@space), :class => "big_button orange_button"%></div>
	<div id="add_new_doc">	
	
	<h3 class="blue bold ten">Add new document</h3>
	<%form_for(prepare_for_form(@attachment || Attachment.new), :html => { :multipart => true}) do |f|%>
	  <div id="cabinet">
	    <%= f.file_field :uploaded_data, :class=>"file_1", :size=>"15"%>
	  </div>
	  <br/>
	  <h4><%=t('tag.new')%></h4>
	 
	  <div id=tags><%= select(:attachment, :_tags, @space.tags.map{|u| u.name}, {}, {:multiple=>"multiple"})%>
	  
	  </div>

	  <br/>
	  <h4><%=t('attachment.upload_with_post')%><%= check_box_tag "add_post", "with_post", attachment.post_title.present? || attachment.post_text.present?%></h4>
    <div id="with_post" <%="style=\"display:none\"" if !(attachment.post_title.present? || attachment.post_text.present?)%>>
      <%= f.label :post_title, t('title') %><br/>
      <%= f.text_field :post_title%>
      <%= f.label :post_text, t('text') %><br/>
      <%= f.text_area :post_text, :rows => 5, :cols=>25%>
    </div>
	  
    <button type="submit"><%=t("button.upload")%></button>
	<%end%>
	
	<div id="hide"><%=t('hide')%></div>
	</div>
	<%end%>
</div>