<h1><%= @title %></h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% for entry in @entries -%>
  <tr>
    <td><%=sanitize entry.title %></td>
    <td><%= link_to 'Show', article_url(entry) %></td>
    <td><%= link_to 'Edit', edit_article_url(entry) %></td>
    <td><%= link_to 'Destroy', entries_url, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New attachment', new_attachment_path %>
