<% spaces_menu_at :repository %>
<%= render :partial => 'spaces/menu' %>

<% # TODO: remove javascript to independent js files %>
<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  <%= render :partial => 'repository_javascript', :formats => [:js] %>
});
</script>
<% end %>

<%= content_for :sidebar do%>
  <div class="tag_filter_wrapper">
    <h3 class="blue"><%=t('repository.search')%> <%=image_tag("icons/help.png",:title=>t("tooltip.doc_search"),:size=>"16x16",:class=>"icon tooltipped upwards",:style=>"cursor:pointer")%></h3>
    <div class="tag_filter_content">
      <%= render :partial => 'mixed_filter' %>
    </div>

    <%= render :partial => 'tag_filter' %>

  </div>

  <%if attachment.errors.any?%>
    <%= render :partial => 'upload_form' %>
  <%else%>
    <div id="doc_action"></div>
  <%end%>
<%end%>



<div id="enable_javascript"><%=t('repository.need_javascript')%></div>
<div id ="doc_repository">
  <%= render :partial => 'multiple_actions' %>
  <%= render :partial => 'doc_table' %>
</div>
