<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.fcbkcomplete','jquery.ba-url' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %>
<%end%>

<% content_for :javascript do%>

  //Upload form
  $("input#add_post").livequery("click",function(){
    $("#with_post").slideToggle("slow");
  });

  
  expand_new_doc_form = function(){
	  $("#add_new_doc").show();
    $("#add_document_label").hide();
		$.setFragment({ "action" : "expanded"});
  };
  
  collapse_new_doc_form = function(){
    $("#add_document_label").show();
    $("#add_new_doc").hide();
		$.setFragment({ "action" : ""});
  };
  
	$("#attachment__tags").fcbkcomplete({
			cache: true,
            filter_case: false,
            filter_hide: true,
            firstselected: true,
            filter_selected: true,
            maxshownitems: 4,
            newel: true,
            complete_opts: true
		});

	<%if attachment.new_record? && attachment.errors.any?%>
	  expand_new_doc_form();
	<%elsif attachment.errors.any?%>
	  $("#attachment_new_version_tags").fcbkcomplete({
	    cache: true,
	          filter_case: false,
	          filter_hide: false,
	          firstselected: true,
	          filter_selected: true,
	          maxshownitems: 4,
	    newel: true     
	  });
	<%else%>
	  collapse_new_doc_form();
	<%end%>
	
	    

  $("#add_document_label").livequery("click",expand_new_doc_form);
  $("#hide").livequery("click",collapse_new_doc_form);


// Document repository navigation

  ajax_new_version = function(){
    $("#doc_action").html("<p><%=escape_javascript(t('form.loading'))%></p>");
    $.getScript("<%=space_attachments_path(@space)%>/" + $.fragment().doc_info + "/edit");
  };
  ajax_doc_new = function(){
    $("#doc_action").html("<p><%=escape_javascript(t('form.loading'))%></p>");
    $.getScript("<%=new_space_attachment_path(@space)%>");
  };
  
  ajax_doc_info = function(){
    $("#doc_info").html("<h3><%=escape_javascript(t('attachment.info'))%></h3><p><%=escape_javascript(t('attachment.loading'))%></p>");
    $.getScript("<%=space_attachments_path(@space)%>/" + $.fragment().doc_info + "?version=" + $.fragment().version); 
  };

  $("#enable_javascript").hide();

  $("a.doc_show").livequery("click", function() {
    $.setFragment({ "doc_info" : $.queryString(this.href).doc_info, "version" : $.queryString(this.href).version, "action": ""});
    return false;
  });
	
  $("a.new_version").livequery("click", function() {
    $.setFragment({ "action" : "new_version"});
    return false;
  });
  $("a.new_doc").livequery("click", function() {
    $.setFragment({ "action" : "expanded", "doc_info" : "", "version" : ""});
    return false;
  });
  
  $.fragmentChange(true);
	
  $(document).bind("fragmentChange", function() {
    
		//Doc info form
		if ($.fragment().doc_info){
		  if($("div#doc_info").attr("rel") != $.fragment().doc_info + "-" + $.fragment().version){
		    ajax_doc_info();
		  }
		}else{
		  if($("div#doc_info").attr("rel")!=""){
		    $("div#doc_info").html("<%=escape_javascript("<p>#{t('attachment.not_selected')}</p>")%>");
			$("div#doc_info").attr("rel","");
		  }
		}
		
		//Upload form
		if ($.fragment().action=="new_version") {
		  if($("div#doc_action").attr("rel")!="new_version"){
		    ajax_new_version();
		  }
		}else{
		  if($("div#doc_action").attr("rel")!="new_doc"){
	      ajax_doc_new();
	    }
			if ($.fragment().action=="expanded"){
	      expand_new_doc_form();
	    }else{
	      collapse_new_doc_form();
	    } 
		}
		
 
  });
  
  if ($.fragment().doc_info) {
    ajax_doc_info();
  };

  if ($.fragment().new_version) {
    ajax_new_version();
  };


  $("a.table_params").livequery("click",function(){
    $(this).attr("href",$.fragment(this.href,$.fragment(document.location.href)));
	});

	
	
//Filter_tag
add_tag = function (){
  tags_array = tags_array();
  if($.queryString(document.location.href).tags != tags_array.join(",")){
	  hide_table();
    location.href=$.queryString(document.location.href, { "tags" : tags_array.join(",")});
  }
};

rm_tag = function (item){
  tags_array = tags_array();
  tags_array.splice(tags_array.indexOf(item._value), 1);
  if($.queryString(document.location.href).tags != tags_array.join(",")){
	  hide_table();
    location.href=$.queryString(document.location.href, { "tags" : tags_array.join(",")});
  }
};

tags_array = function(){
  array = new Array($("#attachment_tags_filter option.selected").size());
  i = 0
  $("#attachment_tags_filter option.selected").each(function(){
    array[i] = this.value;
    i++;
  });
  return array;
};

hide_table = function(){
  $("#doc_repository").html("<%=escape_javascript(t('repository.loading'))%>");
}

$("#attachment_tags_filter").fcbkcomplete({
  cache: true,
  filter_case: false,
  filter_hide: true,
  firstselected: true,
  filter_selected: true,
  maxshownitems: 4,
  newel: false,
  complete_opts: true,
  onremove: "rm_tag",
  onselect: "add_tag"
  
 });
 
 $(".add_tag_filter").click(function(){
   hide_table();
 });
 
 //Edit attachment tags
 $("a#edit_attachment_tags").livequery("click",function(){
   $.getScript("<%=space_attachments_path(@space)%>/" + $.fragment().doc_info + "/edit_tags");
   return false;
 });

<% end %>

<% content_for :search do  %>
   <%= render :partial => 'search' %>
<%end%>

<%content_for :sidebar do%>
  <%= render :partial => 'doc_info' %>
	<%if attachment.new_record? && attachment.errors.any?%>
	  <%= render :partial => 'upload_form' %>
	<%elsif attachment.errors.any?%>
	  <%= render :partial => 'new_version_form' %>
	<%else%>
    <%= render :partial => 'upload_form' %>
	<%end%>
<%end%>

<div id="enable_javascript">Please, active javascript to enjoy document repository</div>
<div id ="doc_repository">
	<%= render :partial => 'doc_filter' %>
	<%= render :partial => 'doc_table' %>
</div>
