- spaces_menu_at :repository
= include_gon
= render :partial => 'spaces/menu'

= content_for :sidebar do
  .tag_filter_wrapper
  - if attachment.errors.any?
    = render :partial => 'upload_form'
  - else
    #doc_action
#enable_javascript
  = t('repository.need_javascript')
#doc_repository
  .tag_filter_content
    %h3{ :class => "blue" }
      = t('repository.search')
      = help_icon(t('tooltip.doc_search'), :size => "16x16", :class => "icon")
  = render :partial => 'mixed_filter'
  = render :partial => 'multiple_actions'
  = render :partial => 'doc_table'
