<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.fcbkcomplete','jquery.ba-url' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %>
<%end%>

<% content_for :javascript do%>
  <%= render :partial => 'repository_javascript.js' %>
<% end %>

<% content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%content_for :sidebar do%>
	<%if attachment.new_record? && attachment.errors.any?%>
	  <%= render :partial => 'upload_form' %>
	<%elsif attachment.errors.any?%>
	  <%= render :partial => 'new_version_form' %>
	<%else%>
		<%= render :partial => 'upload_form' %>
	<%end%>
	
	<div class="tag_filter_wrapper">
		<h3 class="blue">Document Search:</h3>
		<div class="tag_filter_content">
			<%= render :partial => 'mixed_filter' %>
		</div>
		<div class="tag_filter_content">
      <%= render :partial => 'event_filter' %>
    </div>
		<div class="tag_filter_content">
			<%= render :partial => 'tag_filter' %>
		</div>
	</div>
    <div class="margin-up"><%= render :partial => 'doc_info' %></div>
<%end%>

<% menu(:repository) %>

<div id="enable_javascript">Please, active javascript to enjoy document repository</div>
<div id ="doc_repository">
	<%= render :partial => 'doc_table' %>
</div>
