<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.fcbkcomplete','jquery.ba-url' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %>
<%end%>

<% content_for :javascript do%>
  <%= render :partial => 'repository_javascript.js' %>
<% end %>

<% content_for :search do  %>
   <%= render :partial => 'search' %>
<%end%>

<%content_for :sidebar do%>
  <%= render :partial => 'doc_info' %>
	<%if attachment.new_record? && attachment.errors.any?%>
	  <%= render :partial => 'upload_form' %>
	<%elsif attachment.errors.any?%>
	  <%= render :partial => 'new_version_form' %>
	<%else%>
    <%= render :partial => 'upload_form' %>
	<%end%>
<%end%>

<div id="enable_javascript">Please, active javascript to enjoy document repository</div>
<div id ="doc_repository">
	<%= render :partial => 'tag_filter' %>
	<%= render :partial => 'mixed_filter' %>
	<%= render :partial => 'doc_table' %>
</div>
