= render :partial => 'manage/menu'

= content_for :sidebar do
  = render 'custom_bigbluebutton_recordings/recording_links', :recording => @recording

%h1= t('.editing_recording')
= render 'custom_bigbluebutton_recordings/form', :editing => true, :recording => @recording
