<div id="actions_full">
  <div id="actions_title">
    <h3><%=t("action.other")%></h3>
  </div>
  <div class="actions_sidebar">
    <ul>
      <li>
        <%=link_to t('event.edit'), edit_space_event_path(@space, @event) %>
      </li>
      <%if @event.future? || @event.is_happening_now?%>
        <li>
          <%= link_to t('invitation.title'), inviteroom_invite_path(:type => "event", :event => @event.id), :id => 'invite_event' %>
        </li>
      <%end%>
      <li>
        <%= link_to t('event.notification.button'),sendnotification_invite_path(:event_id => @event.id) %>
      </li>
      <% if @event.authorize?(:start, :to => current_user) && !@event.is_in_person? && @event.is_happening_now?%>
        <li><%=link_to t('event.start'), start_space_event_path(@space, @event), :method => :post %></li>
      <% end %>
    </ul>
  </div>
</div>
