<div id="events_content">
  <h3><%= t('event.upcoming.other') %></h3> 
	  <%if @first_upcoming_events.empty?%>
      <p><%= t('event.upcoming.none') %></p>
	  <%else%>
	    <%for event in @first_upcoming_events%>
	      <%= render :partial => event %>
	    <%end%>
		<div class="group_links">
         <%=link_to t('event.upcoming.show'), space_events_path(@space, :show => "upcoming_events"), {:class => 'upcoming_link event_navigation'}%>
       </div>	
	  <%end%>
  
  <br />
  <br />
	

  <h3>
  	
	<div class="group_links"> 
    <%if params[:order_by_time]%>
      <%=link_to image_tag("icons/arrow_down.png") + "order DESC", space_events_path(@space), {:class => 'past_link event_navigation'}%>  
    <%else%>
      <%=link_to image_tag("icons/arrow_up.png") + "order ASC", space_events_path(@space, :order_by_time => "ASC"), {:class => 'past_link event_navigation'}%>
    <%end%>
  </div><%= t('event.past.other') %></h3>
	 
	  <%if @last_past_events.empty?%>
	    <p><%= t('event.past.none') %></p>
	  <%else%>
	    <%for event in @last_past_events%>
	      <%= render :partial => event %>
	    <%end%>
			<div class="group_links">
        <%=link_to t('event.past.show'), space_events_path(@space, :show => "past_events"), {:class => 'past_link event_navigation'}%> 
      </div>  	
	  <%end%>
  </div>