<div id="streaming_url" class="margin-up main_text">
  <div id="streaming_title">
  	<h3 class="blue">  	 		  
	    <div><%=image_tag("right.png",:class=>"jqueryToggle")%><%=image_tag("down.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
		  <%=t('event.streaming.title')%>: <%=@event.get_session_now.title if @event.has_session_now?%>
    </h3>
  </div>
	
  <div id="streaming_content">   
		<%if @event.has_session_now?%>
			<div class="button_wrapper"><!-- hay que repasar muy bien las condiciones-->
	      <div class="on_live"><span>Live!</span></div> 
	      <%if (@event.is_virtual? && @event.is_happening_now? && @event.web_interface?) || @event.is_in_person?%>
	        <%=link_to ("<span>" + t('join') + "</span>"), space_event_path(@space, @event, :show_participation => true), {:id=>"view_streaming", :class=>"grey_button basic_button",:title => t('event.view_participation')} %>
	      <%elsif @event.is_virtual? && @event.web_interface?%>
	        <%=link_to ("<span>" + t('join') + "</span>"), space_event_path(@space, @event, :show_participation => true), {:id=>"view_streaming", :class=>"grey_button basic_button disabled_button",:title => t('event.view_participation_disabled')} %>
	      <%end%>
	    </div>
		  <%= @event.streaming(640, 480)%>
		<%else%>
		  <div class="video_wrapper">
	        <%=image_tag("visor_video.png")%>
			<span><%=t('event.note.streaming')%></span>
		  </div>				
		<%end%>
  </div>
  
</div>
