<div id="streaming_url" class="margin-up main_text">
  <div id="streaming_title">
  	<h3 class="blue">  	 		  
	    <div><%=image_tag("right.png",:class=>"jqueryToggle")%><%=image_tag("down.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
		  <%=t('event.streaming.title')%>: <%=@event.get_session_now.title if @event.has_session_now?%>
    </h3>
  </div>
	
  <div id="streaming_content">
		<%if @event.has_session_now?%>
      <%if request.env['HTTP_USER_AGENT'] =~ /iPad/ %>
        <%= @event.streaming(640, 480, 'ipad')%>
      <%else%>
  			<div class="button_wrapper"><!-- hay que repasar muy bien las condiciones-->
  	      <div class="on_live"><span>Live!</span></div> 
  	        <%=link_to ("<span>" + t('join_cam') + "</span>"), space_event_path(@space, @event, :show_participation => true), {:id=>"view_streaming", :class=>"grey_button basic_button",:title => t('event.view_participation')} %>
  	    </div>
  		  <%= @event.streaming(640, 480, 'flash')%>
  		<%end%>
		<%else%>
		  <div class="video_wrapper">
	        <%=image_tag("visor_video.png")%>
			<span><%=t('event.note.streaming')%></span>
		  </div>				
		<%end%>
  </div>
	
  <%if @event.description != ""%>  
    <%= render :partial => "events/event_description" %>
  <%end%>
  
</div>
