<% content_for :javascript do %>
  $(document).ready(function() {
  	$("#new_reply").effect("highlight", {color:"#F5DF51"}, 3000);
  })
<% end %>

<div id="connection_info" class="margin-up">
  <div class="connection_title"><h3><%= t('event.connection.info') %></h3></div>
  <div class="connection_content">
  	<%if @event.web_interface%>

    	<h5><%= t('event.connection.web') %>:</h5>
	    <span><%=link_to space_event_url(@space, @event), space_event_url(@space, @event)%></span>

	<%end%>
	<%if @event.isabel_interface%>

    	<h5><%= t('event.connection.isabel') %>:</h5>
	    <span>isabel://master.dit.upm.es</span>

	<%end%>
	<%if @event.sip_interface%>

    	<h5><%= t('event.connection.sip') %>:</h5>
	    <span>mcux.dit.upm.es</span>

	<%end%>
  </div>
</div>
