<% if @event.uses_conference_manager?%>
    <div id="share_insert">
	    <h3><%= t('event.connection.info') %></h3>
		<span class="share"><%=t('event.recording.share')%></span>
		<span class="insert"><%=t('event.recording.insert')%></span>
		<span class="isabel">Isabel</span>
		<%if @event.cm_event.enable_sip?%>
		  <span class="sip">Sip</span>
		<%end%>
		<div id="url_share" class="url_share" style="display:none">
	        <%unless @space.public?%>
	          <%=t('event.streaming.notice')%><br/>
	        <%end%>
	        <div class="video_share"><span><%=t('event.recording.share')%></span></div>       
	        <form>
	          <span class="only_url"><%=t('url_plain')%>:</span>
	          <input type="text" onclick="javascript:this.form.video_link.focus();this.form.video_link.select();" value="<%=space_event_url(@space, @event) %>" name="video_link"></input>
	        </form>
	   </div>
	   
	   <div id="embed_share" class="url_share" style="display:none">
	        <%unless @space.public?%>
	          <%=t('event.streaming.notice')%><br/>
	        <%end%>
	        <div class="video_share"><span><%=t('event.recording.insert')%></span></div>       
	        <form>
	          <span class="only_url"><%=t('event.embed')%>:</span>
	          <input type="text" onclick="javascript:this.form.video_embed.focus();this.form.video_embed.select();" value="<%=h shared_embed_streaming(@event)%>" name="video_embed"></input>
	        </form>
	   </div>
	   
	   <div id="url_isabel" class="url_share" style="display:none">
	        <%unless @space.public?%>
	          <%=t('event.streaming.notice')%><br/>
	        <%end%>
	        <div class="video_share"><span><%=t('event.connection.isabel')%></span></div>       
	        <form>
	          <span class="only_url"><%=t('url_plain')%>:</span>			  		
	          <input type="text" onclick="javascript:this.form.video_link.focus();this.form.video_link.select();" value="<%=@event.isabel_url=="isabel://" ? t('event.connection.wait'):@event.isabel_url %>" name="video_link"></input>
	        </form>
	   </div>
	 <%if @event.cm_event.enable_sip?%>   
	   <div id="url_sip" class="url_share" style="display:none">
	        <%unless @space.public?%>
	          <%=t('event.streaming.notice')%><br/>
	        <%end%>
	        <div class="video_share"><span><%=t('event.connection.sip')%></span></div>       
	        <form>
	          <span class="only_url"><%=t('url_plain')%>:</span>
	          <input type="text" onclick="javascript:this.form.video_link.focus();this.form.video_link.select();" value="<%=@event.sip_url %>" name="video_link"></input>
	        </form>
	   </div>
	 <%end%>   
	</div>


<%else%>
  <%unless @event.vc_mode == Event::VC_MODE.index(:in_person)%>
	   <strong><span><%= t('event.error.cm_connection')%></span></strong>
	<%end%> 
<%end%>