<div id="change_logo_form_div" style="display:none">


<div class="blue_border_down">
	<h3>
  		Change logo: <%=link_to "Close", 'javascript:closeLogoFormDiv();' %>
	</h3>
</div>




<div id='default_text_logo' style="display:none">
    <label for="logo_text" id= "space_logo_text_label">
        <%= t('space.logo_selected.enter_text') %>
    </label>
    <br/>
    <%= text_field :event,:text_logo %>
    <input type="button" id="generate_text_logo_button" value="<%=t("space.logo_selected.generate_logo") %>" class="basic_button blue_button"/>
    <div id = "generated_text_logos">
    </div>
</div>
<div id='default_space_images' style="display:none">
	<label>Chose one logo from the gallery</label><br>
    <%	
	images_for_row = 5 # number of images per row
	images_now = 1
    for file in @files
    images_now+= 1 %>
    <%=link_to (image_tag "default_event_logos/" + file.to_s, {:id=> ( file.to_s.gsub('.','') ),:class => "default_space_logo",:title => "Click to choose a default image",:size => "64x64"}), 'javascript:selectDefaultImage("' + ( file.to_s ) + '");' %>
    <%	if images_now > images_for_row %>
    <br>
    <% images_now=1;
    end %>
    <% end %>
</div>
<div id="default_upload_logo" style="display:none">
    <% form_for :logo,  :html => {:method => :post,:id =>"select_logo_form", :multipart => true, :name => "space_new_form"}, :url => {:controller => :logos, :action => :new, :upload => :yes} do |f| %>
    <label><%= t("space.logo_selected.upload_logo_text") %></label>
    
    <%= f.file_field :media, :class=>"file file1 basic_button blue_button" %>
    <%= f.hidden_field  "rand" %>
	<br>
    <input id ="upload_logo_button" type="submit" class = "basic_button blue_button" value="<%=t("space.logo_selected.upload_text")%>" /><% end %>
    <div id = "resultado">
    </div>
	<br>
</div>
</div>






