<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.fcbkcomplete' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %>
<%end%>

<% content_for :javascript do %>  
  
	$("#organizers_name").fcbkcomplete({
    cache: true,
    filter_case: false,
    filter_hide: true,
    firstselected: true,
    filter_selected: true,
    maxshownitems: 4
  });
  
  $(document).ready(function() {
  	$("#change-event").effect("highlight", {color:"#F5DF51"}, 3000);
  });
<% end %>

<div id="change-event">

  <div id="help" title="<%=h(t('event.help.edit'))%>"></div>
  <h3><%= t('event.edit') %></h3>

<% form_for([@space,event], :html => { :multipart => true}) do |f| -%>
  <%= f.error_messages %>				
  <div>
    <strong><span>1. <%= t('event.basic_info')%></span></strong><br/>
    <label for="Name"><%= t('name.one')%>:</label>
    <%= f.text_field :name, :size =>25  %>
  </div>
  
  <div>
	<label for="Description"><%= t('description') %>:</label>
	<%=f.text_area :description  %>
  </div>
  
  <div>
    <label for="Organizer"><%= t('organizer') %>:</label>
    <select id="organizers_name" multiple="multiple" name="organizers[name][]">
      <%=options_for_select_with_class_selected(@space.users.map{|u| u.login}, event.organizers.map{|u| u.login})%>
    </select>
  </div>
  <div>
    <label for="Location"><%= t('event.location') %>:</label>
    <%= f.text_field :location, :size =>25  %>
  </div>
   <div class="margin-up">
     <strong><span>2. <%= t('event.select_date')%></span></strong>	
   </div>
  <%if (@event.vc_mode == Event::VC_MODE.index(:in_person)) || @event.agenda.agenda_entries.empty?%>
  <div id="expanded_date" class="javascript">
    <div class="no_javascript">
    <ul>
      <li><%= t('date.start') %></li>
	  <li><%=f.datetime_select :start_date%></li>
   	  <li><%= t('date.end') %></li>
	  <li><%=f.datetime_select :end_date%></li>
	</ul>
    </div>
  </div>
	<%end%>
  <%unless @event.vc_mode == Event::VC_MODE.index(:in_person)%>
	  <div id="extra-info">
	    <div class="margin-up">
	      <strong><span>3. <%= t('event.enable.participation')%></span></strong>	
	    </div>
	    <div class="checkbox_event">
		  <%=f.check_box :isabel_interface,:class=>"icon", :checked => @event.isabel_interface?%>
		  <label for="enable_isabel" class="label_izquierda" ><%= t('event.enable.isabel') %></label>
		</div>
		<div class="checkbox_event">
		  <%=f.check_box :web_interface,:class=>"icon", :checked => @event.web_interface?%>
		  <label for="enable_isabel" class="label_izquierda" ><%= t('event.enable.web') %></label>
		</div>
		<div class="checkbox_event">
		  <%=f.check_box :sip_interface,:class=>"icon", :checked => @event.sip_interface?%>
		  <label for="enable_isabel" class="label_izquierda" ><%= t('event.enable.sip') %></label>
		</div>
	  </div>
  <%end%>
  
  <!--
  <div class="margin-up">
    <span class ="without_javascript bold">3. <%= t('user.invite') %>:</span>
    <span class ="javascript bold" style="display:none">3. <%= link_to(t('user.invite'),"#expanded_invite",:id=>"toggle_invite") %>:</span></strong>
  </div> 
	
       <div id="already_invited_users">
	 <%unless @invited_candidates.empty? && @invited_emails.empty?%>  
	 <%= t('user.invited') %>:<br/>
	   <% for event_inv in @invited_candidates %>
	 	<%=event_inv.candidate.name%>
	   <%end%>
	   <% for event_inv in @invited_emails %>
	 	<%=event_inv.email%>
	   <%end%>
	 <%end%>
      </div>
   <div id="selected_users">
    <label for="selected_users" style="display: none;"><%= t('event.to') %>:</label>
  </div>
  
      
  <div id="user_filter" class="margin-up" style="display: none;">
    <label for="User filter"><%= t('user.filter') %></label><br/>
    <%= text_field_tag :user_selector,'', :size => 25 %>
  </div>
  <div id="unselected_users"> 
  <% for user in @users_in_space_not_invited -%>
      <div class=user_checkbox>
        <%= check_box_tag "event[ids][]", user.id, false %><%= label("checkbox",sanitize(user.full_name))%><br />
      </div>
  <%end%>
  </div>
	
	
	<%if current_user.superuser? or @space.role_for?(current_user, :name => 'Admin')%>
	  
	   
	  <div class="margin-up">
	    <label for="e-mails" class="label_izquierda" ><%= t('user.invite_email') %> <%= t('e-mail.commas') %>:</label>
			<%= f.text_area :mails%>
		</div>	
	<%else%>
	 <div>
	       	
	 </div>	
	<%end%>
        <div class="margin-up">
	  <label for="message" class="label_izquierda"><%= t('invitation.label') %>:</label>
	  <textarea id="invite_msg" name="event[invite_msg]"><%= t('invitation.message',:space=>@space.name,:url=>"'url'",:username=>current_user.login,:useremail=>current_user.email,:userorg=>current_user.organization) %></textarea>
	  <p>* <%= t('invitation.legend') %></p>
	</div>	
	
	<div>
  </div>
  -->
	<div class="margin-up">
	  <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
	</div>  	

<% end %>
</div>
