= hidden_field "event", "image", :value => "", :name => "event[default_logo]"
= f.input :rand_value, :as => :hidden
= f.input :name, :label =>  t('name.one')
= f.input :description, :label => t('description'), :as => :text, :input_html => { :rows => 14 }
= f.input :location, :label => t('event.location')
= f.input :start_date, :label => t('event.time.start'), :as => :datetime, :start_year => Time.zone.now.year, :order => [:day, :month, :year], :minute_step => Agenda::SLOT_VALUES[1], :default => Agenda.next_time_slot_for_drop_down
= f.input :end_date, :label => t('event.time.end'), :as => :datetime, :start_year => Time.zone.now.year, :order => [:day, :month, :year], :minute_step => Agenda::SLOT_VALUES[1], :default => Agenda.next_time_slot_for_drop_down + 2.hours
