<%div_for(event) do%>
  <div class="<%= (!event.start_date.future? && event.end_date.future?) ? 'single_event current_single_event' : 'single_event'%>">
    <ul class="group_links">
    	<li><%=link_to(image_tag("icons/exclamation.png", :alt => "Report Spam",:class=>"icon"), spam_lightbox_space_event_path(@space,event),{:name => event.id, :class => 'spam_link', :title => "Report Spam"}) if logged_in? && event.spam != true%> </li>
      	<li><%=link_to image_tag("icons/comments-add.png",:alt => "reply",:class=>"icon" ), space_event_path(@space,event,:reply_to =>event.id),{:name => event.id, :class => 'reply_to_link', :title => "Add a new comment"}if @space.authorize?([:create, :content],:to => current_user)%></li>
		<li><%=link_to image_tag("./icons/pencil.png", :alt => "edit",:class=>"icon") , space_event_path(@space, event, :edit_event => event), :title => "edit" if event.authorize?(:update, :to => current_user) %></li>
	    <li><%=link_to image_tag("./icons/cancel.png", :alt => "delete",:class=>"icon") , space_event_path(@space, event),{:method => :delete, :title => "delete",:confirm => "are you sure?"} if event.authorize?(:delete, :to => current_user) %></li>
    </ul>
    <p class="event_name"><%=image_tag("icons/date.png",:class=>"icon")%> <%=link_to sanitize(highlight(event.title,@query)), space_event_path(@space, event)%><span class="updated"> <%= t('created_time_ago', :time => sanitize(time_ago_in_words(event.created_at))) %></span></p>
    <ul>
    <%if event.start_date.to_date == event.end_date.to_date %>
		<li class="date"><%=sanitize(event.start_date.to_date.to_formatted_s(:short))%> <%=event.start_date.to_time.to_formatted_s(:time)%> - <%=event.end_date.to_time.to_formatted_s(:time)%> (GMT <%= Time.zone.formatted_offset%>)</li>
		<%else%>
		  <li class="date"><%=sanitize(event.start_date.to_formatted_s(:short))%> - <%=sanitize(event.end_date.to_formatted_s(:short))%> (GMT <%= Time.zone.formatted_offset%>)</li>
		<%end%>
		<li class="author"> <%= t('organizer') %>: <%=event.author.authorize?([:read, :profile],:to=> current_user) ? link_to(highlight(event.author.name,@query),user_profile_path(event.author)): sanitize(highlight(event.author.name,@query))%></li>
		<%if event.isabel_event%>
			<li class=""><%= t('event.held_with') %> <%= link_to t('Isabel'), 'http://isabel.dit.upm.es'%></li>
		<%elsif event.marte_event && (event.end_date > Time.now)%>
			<li class=""><%= t('event.follow') %> <%= link_to t('online'), space_event_path(@space, event, :show_conference => true)%></li>
		<%end%>
				
		<%if event.posts.size ==1%>
			<li> This Event has <%= link_to (event.posts.size.to_s + " comment", space_event_path(@space,event))%></li>
		<%elsif event.posts.size > 1%>
			<li> This Event has <%= link_to (event.posts.size.to_s + " comments", space_event_path(@space,event))%></li>
		<%end%>
		<li> Description: <%=sanitize(auto_link(simple_format(highlight(event.description,@query))))%></li>
    </ul>
 </div>
  <%end%>