<% content_for :headers do %>
  <%= javascript_include_tag 'jquery.filestyle','jquery.jcrop' %>
<%end %>

<% content_for :javascript do %>
  <%= render :partial => 'logos/crop_logo.js.erb',
    :locals => { :url_form   => precrop_space_event_logo_path(@event.space, @event),
    :aspect_ratio => EventLogo::ASPECT_RATIO_S
    } %>
        
<% end %>

<div class="<%= event.is_happening_now? ? 'single_event current_single_event' : 'single_event'%>">
  <ul class="group_links">
    <li>
      <%=link_to(image_tag("icons/exclamation.png", :alt => t('spam.report'),:class=>"icon"), spam_lightbox_space_event_path(@space,event),{:name => event.id, :class => 'spam_link', :title => t('spam.report')}) if logged_in? && event.spam != true %>
    </li>
    <!--<li>
      <%=link_to image_tag("icons/comments-add.png",:alt => t('reply'),:class=>"icon" ), space_event_path(@space,event,:reply_to =>event.id),{:name => event.id, :class => 'reply_to_link', :title => t('comment.add_new')}if @space.authorize?([:create, :content],:to => current_user) %>
    </li>-->
    <li>
      <%=link_to(image_tag("icons/pencil.png", :alt => t('event.edit'),:class=>"icon") , edit_space_event_path(@space, event), :title => t('event.edit')) if event.authorize?(:update, :to => current_user) %>
    </li>
    <li>
      <%=link_to(image_tag("icons/cancel.png", :alt => t('delete.one'),:class=>"icon") , space_event_path(@space, event),{:method => :delete, :title => t('delete.one'),:confirm => t('delete.confirm', :element => event.title)}) if event.authorize?(:delete, :to => current_user) && !event.is_happening_now?%>
    </li>
  </ul>
  <div class="event_image">
    <%if @event.logo %>
      <div class="event_logo">
        <%=logo(@event.logo, {:size => 64, :title=>t('logo.click_to_change')}) %>
      </div>
    <%elsif @event.has_date? %>
      <div class="event_date_image">
        <div class="event_day">
          <%= sanitize(event.start_date.strftime("%d")) %>
        </div>
        <div class="event_month">
          <%= localize(event.start_date, :format => "%b") %>
        </div>
        <div class="event_hour">
          <%= event.get_formatted_hour %>
        </div>
      </div>
	<%else%>
		  <div class="event_date_image">
            <div class="event_day"></div>
          </div>
    <%end %>
  </div>
  <p>
    <%=link_to sanitize(highlight(event.title,@query)), space_event_path(@space, @event),:class=>"unified_event" %> <span class="updated"><%=t('created_time_ago', :time => sanitize(time_ago_in_words(@event.created_at))) %></span>
  </p>
  
  <%if @event.agenda.has_past_session_with_video? && params[:show_video]%>
    <div class="video_cloud">
	  <%=link_to t('event.recording.cloud_back'), space_event_path(@space, @event, :show_agenda => true),:class=>"cloud_button" %> 
    </div>
  <%elsif @event.agenda.has_past_session_with_video?%>
    <div class="video_cloud">
	  <%=link_to t('event.recording.cloud'),space_event_path(@space, @event, :show_video => @event.agenda.first_video_entry_id),:class=>"cloud_button"%>
    </div>
  <%end%>
  
  <ul>
    <li class="main_date logo_padding">
      <%= t('when') %>: <%=@event.get_formatted_date %>
    </li>
    <%if event.location %>
      <li class="main_text logo_padding">
        <%= t('where') %>: <%=sanitize(@event.location) %>
      </li>
    <%end %>
      <li class="main_text logo_padding">
        <%= t('organizer') %>:<%isfirst=true %>

        <%event.organizers.each do |org| %>
          <%if isfirst %>
            <%isfirst=false %>
          <%else %>
          ,<%end %>
          <%=link_to(highlight(org.name,@query),user_path(org),:class=>"unified_user")%>
        <%end %>
      </li>
	  <li class="main_text logo_padding">
        <%= t('event.features') %>: 
		<%isfirst=true %>
		<%if @event.has_streaming? || @event.is_in_person? %>		  
		  <%unless @event.is_happening_now? || @event.is_in_person? %>
		    <%=t('event.view_streaming')%>
		  <%else%>
		    <%=link_to t('event.view_streaming'),space_event_path(@space, @event, :show_streaming => true)%>
		  <%end%>
		  <%isfirst=false %>
		<%end%>
		<%if @event.web_interface? %>
		  <%if isfirst %>
            <%isfirst=false %>
          <%else %>
          ,<%end %>
		  <%unless @event.is_happening_now? || @event.is_in_person? %>
		    <%=t('event.view_participation')%>
		  <%else%>
		    <%=link_to t('event.view_participation'), space_event_path(@space, @event, :show_participation => true)%>
		  <%end%>		     
		<%end%>
		<%if @event.agenda.has_past_session_with_video?%>
		  <%if isfirst %>
            <%isfirst=false %>
          <%else %>
          ,<%end %>
		  <%=link_to ("<span>" + t('event.view_recordings') + "</span>"), space_event_path(@space, @event, :show_video => @event.agenda.first_video_entry_id)%>
	    <%elsif @event.agenda.has_entries_with_video? %>
		  ,<%=t('event.view_recordings')%>  
		<%end%>		  
      </li>
  </ul>
</div>

<%if @event.future?%>
  <%= render :partial => "connection_info"%>
<%end%>

<div id="jar">	
	<%if @event.agenda.present? %>
		<%unless params[:show_video] || params[:show_streaming] || params[:show_participation] %>
      <%= render :partial => "event_description" %>
		<%end %>
	<%end %>
</div>
