<%= div_for(event) do%>
  <div class="<%= event.is_happening_now? ? 'single_event current_single_event' : 'single_event'%>">
    <ul class="group_links">
      <li><%=link_to(image_tag("icons/exclamation.png", :alt => t('spam.report'),:class=>"icon"), spam_lightbox_space_event_path(event.space,event),{:name => event.id, :class => 'spam_link', :title => t('spam.report')}) if logged_in? && event.spam != true%> </li>
 		  <li><%=link_to(image_tag("icons/pencil.png", :alt => t('edit'),:class=>"icon") , edit_space_event_path(event.space, event), :title => t('edit')) if event.authorize?(:update, :to => current_user) %></li>
	    <li><%=link_to(image_tag("icons/cancel.png", :alt => t('delete.one'),:class=>"icon") , space_event_path(event.space, event),{:method => :delete, :title => t('delete.one'),:confirm => t('delete.confirm', :element => event.title)}) if event.authorize?(:delete, :to => current_user) && !event.is_happening_now? %></li>
    </ul>
    
	  <a class="event_image" href="<%=space_event_path(event.space, event)%>">
      <div class="event_image">
        <%if event.logo%>
          <div class="event_logo">
            <%=logo(event.logo, :size => 64).html_safe%>
          </div>
        <%elsif event.has_date?%>
          <div class="event_date_image">
            <div class="event_day"> <%= sanitize(event.start_date.strftime("%d")) %> </div>
            <div class="event_month"> <%= localize(event.start_date, :format => "%b")%> </div>
            <div class="event_hour"> <%= event.get_formatted_hour %> </div>
          </div>
		    <%else%>
				  <div class="event_date_image">
		      </div>
        <%end%>
      </div>
		</a>
    
    <p class="event_title">
      <!--<%=image_tag("icons/date.png",:class=>"icon")%>-->
      <%=link_to sanitize(highlight(event.title,params[:query])), space_event_path(event.space, event),:class=>"unified_event"%>
    </p>
    
    <ul>
    
      <li class="main_text">
        <%= t('when')%>: <span class="main_date"><%=event.get_formatted_date%></span>
      </li>
  
      <%if event.location%>
      <li class="main_text">
        <%= t('where')%>: <%=sanitize(event.location)%>
      </li>
      <%end%>
      
      <li class="main_text">
        <%= t('organizer') %>: 
        <%isfirst=true%>
        <%event.organizers.each do |org|%>
          <%if isfirst%>
            <%isfirst=false%>
          <%else%>
            ,
          <%end%>
          <%=link_to(highlight(org.name,params[:query]),user_path(org),:class=>"unified_user")%>
        <%end%>
      </li>
      
    </ul>
		
  </div>
<%end%>
