
	
  <div class="<%= (!event.start_date.future? && event.end_date.future?) ? 'single_event current_single_event' : 'single_event'%>">
    <ul class="group_links">
      <li><%=link_to(image_tag("icons/exclamation.png", :alt => t('spam.report'),:class=>"icon"), spam_lightbox_space_event_path(@space,event),{:name => event.id, :class => 'spam_link', :title => t('spam.report')}) if logged_in? && event.spam != true%> </li>
      <li><%=link_to image_tag("icons/comments-add.png",:alt => t('reply'),:class=>"icon" ), space_event_path(@space,event,:reply_to =>event.id),{:name => event.id, :class => 'reply_to_link', :title => t('comment.add_new')}if @space.authorize?([:create, :content],:to => current_user)%></li>
      <li><%=link_to(image_tag("icons/pencil.png", :alt => t('edit'),:class=>"icon") , space_event_path(@space, event, :edit_event => event), :title => t('edit')) if event.authorize?(:update, :to => current_user) %></li>
      <li><%=link_to(image_tag("icons/cancel.png", :alt => t('delete.one'),:class=>"icon") , space_event_path(@space, event),{:method => :delete, :title => t('delete.one'),:confirm => t('delete.confirm', :element => event.title)}) if event.authorize?(:delete, :to => current_user) %></li>
    </ul>
    
		
      <div class="event_image">
        <%if @event.logo%>
	  <div class="event_logo">
	    <%=logo(@event.logo, {:size => 64, :title=>t('logo.click_to_change')})%>
	  </div>
	<%else%>
	  <div class="event_date_image">
	    <div class="event_day"> <%= sanitize(event.start_date.strftime("%d")) %> </div>
	    <div class="event_month"> <%= localize(event.start_date, :format => "%b")%> </div>
	    <div class="event_hour"> <%= event.get_formatted_hour %> </div>
          </div>
	<%end%>
      </div>
    
    <p>
      <%=link_to sanitize(highlight(event.title,@query)), space_event_path(@space, event),:class=>"unified_event"%> <span class="updated"> <%= t('created_time_ago', :time => sanitize(time_ago_in_words(@event.created_at))) %></span>
    </p>
    
    <ul>
    
      <li class="main_date">
        <%= t('when')%>: <%=@event.get_formatted_date%>
      </li>
  
      <%if event.location%>
      <li class="main_text">
        <%= t('where')%>: <%=sanitize(@event.location)%>
      </li>
      <%end%>
      
      <li class="main_text">
        <%= t('organizer') %>:
        <%isfirst=true%>
        <%event.organizers.each do |org|%>
          <%if isfirst%>
            <%isfirst=false%>
          <%else%>
            ,
          <%end%>
          <%=org.authorize?([:read, :profile],:to=> current_user) ? link_to(highlight(org.name,@query),user_profile_path(org),:class=>"unified_user"): ("<span class='unified_user'>" + sanitize(highlight(org.name,@query) + "</span>"))%>
        <%end%>
        </li>
	</ul>	
	</div>	
      
      <div id="buttons_event">
        <%if event.authorize?(:update, :to => current_user) %>
          <button id="change_logo" class="create_space"><%=t('event.logo.button')%></button>
          <%=link_to t('event_invitation.new.other'), space_event_path(@space, @event, :new_invitations => @event), {:id=>"show_inv", :class=>"create_space rounded",:title => t('invitation.add_more')} %>
        <%end%>
        </div>
      
  <div id="event_description_wrapper">
  	<div id="event_description_line">
   	  <%= link_to_function (image_tag("icons/pencil.png", :alt => t('edit'),:title=>t('event.description.edit'), :class=>"icon" ), "edit_description()", :id => "edit_description_icon") if event.authorize?(:update, :to => current_user) %>
 	  <h3 id="event_description_title" class="blue"><%= t('description') %></h3>
  	</div>

	<div class="main_text" id="event_description_content">
	  <%if @event.description==""%>
	    <%if !event.authorize?(:update, :to => current_user)%>
	      <%=t('event.description.none')%>
	    <%end%>
	  <%else%>
	    <%=sanitize(auto_link(simple_format(@event.description)))%>
	  <%end%>
	</div>

	<div id="event_description_content_pure" style="display:none"><%=@event.description%></div>
  </div>
      
    
  
	
	<% content_for :headers do%>
	  <%= javascript_include_tag 'jquery.filestyle','jquery.jcrop' %>
	<%end%>
	
	<% content_for :javascript do%>
	  <%= render :partial => 'logos/crop_logo.js.erb',
               :locals => { :url_form   => precrop_space_event_logo_path(@event.space, @event),
                            :aspect_ratio => EventLogo::ASPECT_RATIO 
                          } %>
	<% end %>
		
