-# Locals:
-#   event (Event)

.content-block
  .content-block-header

    %h2
      - if event.is_happening_now?
        = icon_in_progress
      - else
        = icon_event()
      = icon_spam() if event.spam
      %span= event.title

  .content-block-middle

    .thread.thread-no-hover
      .thread-content.thread-content-full{ :id => "parent_event_#{event.id}" }

        -# TODO: this exact block is used in events/_event, could be in a partial
        %ul.thread-action-links{ :"data-hover-tracked" => "parent_event_#{event.id}" }
          - if can?(:update, event)
            %li= link_to t('edit').downcase, edit_space_event_path(event.space, event), { :name => event.id, :title => t('edit') }
          - if can?(:destroy, event)
            %li= link_to t('remove').downcase, space_event_path(event.space, event), { :method => :delete, :title => t('delete.one'), :confirm => t('delete.confirm', :element => event.title) }
          - if user_signed_in? && event.spam != true
            %li= link_to t('spam.default').downcase, spam_report_space_event_path(event.space,event), { :name => event.id, :title => t('spam.report') }

        .logo-in-thread
          = render :partial => "event_logo", :locals => { :event => event }

        .thread-text
          .thread-updated-at
            = t('created_time_ago', :time => sanitize(time_ago_in_words(event.created_at)))
          .event-description-date
            = t('.when') + ':'
            = event.get_formatted_date
            - unless event.location.blank?
              .event-description-location
                = t('.where') + ':'
                = sanitize(event.location)
            .event-description-organizer
              = t('.organizers') + ':'
              - orgs = []
              - event.organizers.each do |org|
                - orgs.push link_to org.name, user_path(org)
              = orgs.join(', ').html_safe

.content-block
  .content-block-header
    %h3= "Event description"
  .content-block-middle
    = simple_format(event.description)
