<% content_for :javascript do%>

<%if @event.authorize?(:update, :to => current_user)%> 
  $('#streaming_url_value').editable('<%=space_event_path(@space, @event)%>',{
        method : 'PUT',
	tooltip   : '<%= t('dblclick')%>',
        cancel    : '<%= t('cancel')%>',
        submit    : '<%= t('ok')%>',
        indicator : '<img src="ui/icons/accept.png" />',
        placeholder: '<%=t("event.streaming.none")%> <%=link_to_function t('event.streaming.add'), "edit_streaming()", :id => "add_streaming_link"%>',
        type      : 'textarea',
        name : 'event[other_streaming_url]',
	width : 635,
	height: 150,
	event     : "dblclick",
        submitdata : {authenticity_token: "<%=form_authenticity_token()%>"},
   });
	 
   $('#streaming_url_value form input').livequery("blur",function(){
     $('#edit_streaming_icon').show();
   });
   
   edit_streaming = function(){
     $('#streaming_url_value').dblclick();
   };
<%end%>


<%end%>
   
<div id="streaming_url" class="margin-up main_text">
  <%if @event.vc_mode==Event::VC_MODE.index(:in_person) %>
    <%= link_to_function (image_tag("icons/pencil.png", :alt => t('edit'),:title=>t('event.streaming.edit'), :class=>"icon" ), "edit_streaming()", :id => "edit_streaming_icon") if @event.authorize?(:update, :to => current_user) %>
  <%end %>
  <div id="streaming_title">
  	<h3 class="blue">
		  <%if @event.past?%>
			 <div><%=image_tag("down.png",:class=>"jqueryToggle")%><%=image_tag("right.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
			 <%=t("event.player")%>  		
			<%elsif @event.is_happening_now?%>
			  <div><%=image_tag("right.png",:class=>"jqueryToggle")%><%=image_tag("down.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
			  <%=t('event.video_part')%>
			<%else%>
        <div><%=image_tag("right.png",:class=>"jqueryToggle")%><%=image_tag("down.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
				<%=t('event.streaming.title')%>
			<%end%>
    </h3>
	</div>
  <div id="streaming_content">
    <%unless @event.vc_mode == Event::VC_MODE.index(:in_person)%>

      <%if @event.past?%>        
        <%= @event.player%>
				<%if @event.authorize?(:update, :to => current_user)%>
				  <%=link_to("Edit Video","#")%>
				<%end%>
				<%= @event.editor%>        
      <%end%>
      <%if @event.is_happening_now?%>				 
		    <!--<%if @event.web_interface? && !@event.streaming%>-->
				<!--  <%= @event.web%>
				<%else%>-->
          <%if @event.web_interface?%>
				    <%=link_to("participate in the conference","#")%>
				  <%end%>
          <%= @event.streaming%>
				<!--<%end%>-->
		  <%end%>
			<%if @event.future?%>         
        <div class="video_wrapper">
        	<%=image_tag("visor_video.png")%>
					<span>Video streaming will be available at the time of the event</span>
        </div>        
      <%end%>

    <%end%> 
  </div>
</div>
