<% content_for :javascript do%>

<%if @event.authorize?(:update, :to => current_user)%> 
  $('#streaming_url_value').editable('<%=space_event_path(@space, @event)%>',{
        method : 'PUT',
	tooltip   : '<%= t('dblclick')%>',
        cancel    : '<%= t('cancel')%>',
        submit    : '<%= t('ok')%>',
        indicator : '<img src="ui/icons/accept.png" />',
        placeholder: '<%=t("event.streaming.none")%> <%=link_to_function t('event.streaming.add'), "edit_streaming()", :id => "add_streaming_link"%>',
        type      : 'textarea',
        name : 'event[other_streaming_url]',
	width : 635,
	height: 150,
	event     : "dblclick",
        submitdata : {authenticity_token: "<%=form_authenticity_token()%>"},
   });
	 
   $('#streaming_url_value form input').livequery("blur",function(){
     $('#edit_streaming_icon').show();
   });
   
   edit_streaming = function(){
     $('#streaming_url_value').dblclick();
   };
<%end%>


<%end%>

  
<div id="streaming_url" class="margin-up main_text">
  <%if @event.vc_mode==Event::VC_MODE.index(:in_person) %>
    <%= link_to_function (image_tag("icons/pencil.png", :alt => t('edit'),:title=>t('event.streaming.edit'), :class=>"icon" ), "edit_streaming()", :id => "edit_streaming_icon") if @event.authorize?(:update, :to => current_user) %>
  <%end %>
  <div id="streaming_title">
  	<h3 class="blue">
		  <%if @event.past?%>
			 <div><%=image_tag("down.png",:class=>"jqueryToggle")%><%=image_tag("right.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
			 <%=t("event.player")%>  		
			<%elsif @event.is_happening_now?%>
			  <div><%=image_tag("right.png",:class=>"jqueryToggle")%><%=image_tag("down.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
				<%if @event.web_interface? && !@event.has_streaming?%>
				  <%=t('event.video_part')%>
				<%else%>
				  <%=t('event.streaming.title')%> & <%=t('event.video_part')%>
				<%end%>
			<%else%>
        <div><%=image_tag("right.png",:class=>"jqueryToggle")%><%=image_tag("down.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
				<%=t('event.streaming.title')%> & <%=t('event.video_part')%>
			<%end%>
    </h3>
	</div>
  <div id="streaming_content">
    <%unless @event.vc_mode == Event::VC_MODE.index(:in_person)%>

      <%if @event.past?%>        
        <%= @event.player%>
				<%if @event.authorize?(:update, :to => current_user)%>
				  <%=link_to("Edit Video","#")%>
				  <%= @event.editor%>   
				<%end%>				     
      <%end%>
			
      <%if @event.is_happening_now?%>				 
		    <%if @event.web_interface? && !@event.has_streaming?%>
				  <%= @event.web%>
			<%else%>
				  <%if @event.web_interface? && !params[:web_client]%>
				    <%=link_to("participate",space_event_path(@space, @event, :web_client=>true))%>
					<%= @event.streaming(640, 385)%>
				  <%elsif @event.web_interface? && params[:web_client]%>
				    <%=link_to("close",space_event_path(@space, @event))%>
					<%= @event.web%>
				  <%else%>
				    <%= @event.streaming(640, 385)%>
				  <%end%>                  
		    <%end%>
		  <%end%>
			
	  <%if @event.future?%>         
      		<%if @event.agenda.agenda_entries.empty?%>
			  <%=t('event.help.define2')%>
			<%elsif @event.has_streaming?%>
              <div class="video_wrapper">
                <%=image_tag("visor_video.png")%>
                <%if @event.web_interface?%>
				  <span><%=t('event.note.both')%></span>
			    <%else%>
				  <span><%=t('event.note.streaming')%></span>
			    <%end%>
              </div>
			<%elsif @event.web_interface?%>
              <div class="video_wrapper">
                <%=image_tag("visor_video.png")%>
                <span><%=t('event.note.participation')%></span>
              </div>
			<%else%>
				  	<%=t('event.note.none')%>		  
			<%end%>
				      
      <%end%>

    <%end%> 
  </div>
</div>
