<!--[form:event]-->

<div>
<label for="event_name" class="label_izquierda"><%= t('event.one') %>:</label>
<%= form.text_field :name  %>
</div>

<!--
ver selector en antigua vista
-->

<div>
   <%=form.calendar_date_select(:start_date)%>
   <%=form.calendar_date_select(:end_date)%>
</div>

<br/>

<p><img src="/assets/expand.gif" alt="Show Div" style="cursor:pointer;" onclick="showContent(this);" /><%= t('advanced') %></p>

<div style="display:none;">
  <div>
    <label for="event_place" class="label_izquierda" ><%= t('place') %>:</label>
    <%=form.text_field :place, :size => 30  %>
  </div>
  <div>
    <label for="event_description" class="label_izquierda" ><%= t('description') %>:</label>
    <%=form.text_field :description, :size => 50  %>
  </div>
  <div>
    <label for="event_isabel_event" class="label_izquierda" ><%= t('event.Isabel') %>:</label>
    <%=form.check_box :isabel_event  %>
  </div>
  <div>
    <label for="event_public_read" class="label_izquierda" ><%= t('public') %>:</label>
    <%=form.check_box :public_read  %>
  </div>
  <div>
    <label for="event_keywords"><%= t('keywords') %>:</label>
    <%= text_field_tag 'tags', @event.tag_list  %>
  </div>
</div>



<!--[eoform:event]-->
