<% # TODO: remove javascript to independent js files %>
<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

  $("#send_group_invitation_button").livequery('click',function(){

    // Build invitation message by putting its parts together

    // Changing the new line characters to <br/>
    var personal_msg = ($('#invite_personal').val()).replace(/\n/g,'<br/>');
    <%if @event.start_date%>
      <%if @space.public%>
        var ending = "<%= escape_javascript(t('event.group_invitation.message_public_with_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('\'event_date\'', @event.start_date.strftime("%A %B %d at %H:%M:%S")).gsub('event_url',space_event_url(@event.space,@event)).html_safe)%>"
      <%else%>
        var ending = "<%= escape_javascript(t('event.group_invitation.message_private_with_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:register_url=>register_url,:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('\'event_date\'', @event.start_date.strftime("%A %B %d at %H:%M:%S")).gsub('event_url',space_event_url(@event.space,@event)).html_safe)%>"
      <%end%>
    <%else%>
      <%if @space.public%>
        var ending = "<%= escape_javascript(t('event.group_invitation.message_public_without_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('event_url',space_event_url(@event.space,@event)).html_safe)%>"
      <%else%>
        var ending = "<%= escape_javascript(t('event.group_invitation.message_private_without_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:register_url=>register_url,:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('event_url',space_event_url(@event.space,@event)).html_safe)%>"
      <%end%>
    <%end%>
    var complete_msg = personal_msg + '<br/><br/>' + ending + "<%= escape_javascript(t('email.spam_invitation', :contact => Site.current.email, :feedback => "http://" + Site.current.domain.to_s + new_feedback_path())) %><br/><br/>";

    $('#group_invitation_msg').text(complete_msg);

    document.forms["group_invitation_edit_form"].submit();
  });

});
</script>
<% end %>

<div id="email_invitations">
  <%= form_for([@space,event], :html => { :multipart => true, :name => "group_invitation_edit_form"}) do |f| -%>
    <div class="event_invitations_message margin-up">
      <label for="e-mails" class="bold"><%= t('user.group_invite_email') %></label>
      <%= f.text_field :group_invitation_mails %>
      <div id="event_invitations_note">*<%= t('email.commas') %></div>
    </div>

    <%= f.text_field :group_inv_sender_id, :style => 'display:none', :value => current_user.id %>
    <%= f.text_field :invited_unregistered, :style => 'display:none', :value => true %>

    <div class="margin-up">
      <div id="invitations_title" class="blue_border_down">
        <h3 class="blue"><%= t('invitation.label') %></h3>
      </div>
      <div class="event_invitations_message">
        <div class="margin-up">
          <label for="message" class="bold"><%= t('invitation.personal') %></label>
          <textarea style="display:none" id="group_invitation_msg" name="event[group_invitation_msg]"></textarea>
          <textarea id="invite_personal"></textarea>
          <div id="event_invitations_note">*<%= t('optional') %></div>
        </div>

        <div class="margin-up">
          <%if @event.start_date%>
            <%if @space.public%>
              <%= t('event.group_invitation.message_public_with_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('\'event_date\'', @event.start_date.strftime("%A %B %d at %H:%M:%S")).gsub('event_url',space_event_url(@event.space,@event)).html_safe%>
            <%else%>
              <%= t('event.group_invitation.message_private_with_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:register_url=>register_url,:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('\'event_date\'', @event.start_date.strftime("%A %B %d at %H:%M:%S")).gsub('event_url',space_event_url(@event.space,@event)).html_safe%>
            <%end%>
          <%else%>
            <%if @space.public%>
              <%= t('event.group_invitation.message_public_without_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('event_url',space_event_url(@event.space,@event)).html_safe%>
            <%else%>
              <%= t('event.group_invitation.message_private_without_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:register_url=>register_url,:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('event_url',space_event_url(@event.space,@event)).html_safe%>
            <%end%>
          <%end%>
        </div>

        <div class="margin-up">
          <input type="button" id="send_group_invitation_button" value="<%=t("button.send")%>" />
        </div>

      </div>
    </div>
  <% end %>
</div>
