= tag :meta, :property => "og:site_name", :content => "MwebEvents"
= tag :meta, :property => "og:title", :content => @event.name
= tag :meta, :property => "og:url", :content => @event.full_url
= tag :meta, :property => "og:type", :content => "mconf:event"
= tag :meta, :property => "og:image", :content => ""