<ul>
	<%if current_user.superuser || @event.authorize?(:update, :to => current_user) %>
	  <li><%=link_to t('invitation.add_more'), space_event_path(@space, @event, :new_invitations => @event), {:id=>"show_inv", :title => t('invitation.add_more')} %></li>
	  <li> | </li>
	  <li><%=link_to t('streaming.add_url'), space_event_path(@space, @event), {:title => t('streaming.add_url')} %></li>
	  <li> | </li>
	  <li><%=link_to t('avatar.upload'), space_event_path(@space, @event), {:title => t('avatar.upload')} %></li>
	  <li> | </li>
	  <li><%=link_to t('agenda.upload'), space_event_path(@space, @event), {:title => t('agenda.upload')} %></li>
	  <li> | </li>
	<%end%>
	<li><%=link_to t('comment.add'), space_event_path(@space, @event), {:id=>"add_comment", :title => t('comment.add')} %></li>
	<%if @space.public %>
	  <li> | </li>
	  <li><%=link_to t('export_widget'), "#"%></li>
	<%end%>
</ul>