<h3>New Event</h3>

<% form_for(:event, :url => space_events_path(@space), :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages %>				
  <div>
    <label for="Name">Name:</label>
    <%= f.text_field :name, :size =>25  %>
  </div>
  <div>
	<label for="Description">Description:</label>
	<%=f.text_area :description, :class => "span-6"  %>
  </div>
	<div class="no_javascript">
	  Start Date <%=f.datetime_select :start_date, :class => "span-5"  %><br/>
    Start Hour <br/> <%=f.datetime_select :end_date, :class => "span-5"  %><br/>
	</div>
	<div class="javascript", style="display: none;">
	Start Date <input type="date" name="event[start_date]" class= "datepicker" /><br/>
  Start Hour <br/> <input type="time" name="start_hour" class="timepicker" /><br/>
  End Date <br/> <input type="date" name="event[end_date]" class="datepicker" />
  End Hour <br/> <input type="time" name="end_hour" class="timepicker" />	
	</div>
	
	
	  

  	<p>
  	<%= f.submit "Create" %>
  	</p>
<% end %>

