<div id="change-event">
<h3>Create new Event</h3>

<% form_for(:event, :url => space_events_path(@space), :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages %>				
  <div>
    <label for="Name">Name:</label>
    <%= f.text_field :name, :size =>25  %>
  </div>
  <div>
	<label for="Description">Description:</label>
	<%=f.text_area :description%>
  </div>
	<div class="no_javascript">
	<ul>
		<li>Start Date</li>
		<li><%=f.datetime_select :start_date%></li>
		<li>End Date</li>
		<li><%=f.datetime_select :end_date%></li>
	</ul>
	</div>
	<div class="checkbox_event">
		<%=f.check_box :isabel_event,:class=>"icon" %>
		<label for="isabel_event" class="label_izquierda" >Isabel event:</label>
	</div>
	<div class="checkbox_event">
		<%=f.check_box :marte_event,:class=>"icon"  %>
		<label for="marte_event" class="label_izquierda" >Online event:</label>
	</div>
	<div class="margin-up">
	<%= image_submit_tag "buttons/create.png" %>
	</div>
<% end %>
</div>


