<% content_for :javascript do%>
  <%= render :partial => 'toggle_view'%>
  template = "<%= t('user.invitation.message') %>\n<%= t('user.invitation.sign',:username=>current_user.login) %>";
  $("#event_name").blur(function(){
    replace_invitation();
  });
  
  function replace_invitation(){
    if(edited_msg==true)
      return;
	
    invitation_text = template;
    if($("#event_name").val()!=""){
     invitation_text = invitation_text.replace('event_name',$("#event_name").val());
    }
   if($("#start_datepicker").val()!=""){
     invitation_text = invitation_text.replace('event_date',$("#start_datepicker").val() + " at " + $("#start_timepicker").val());
   }  
   $("#invite_msg").val(invitation_text);
  };
  
  
  //we detect the user editing the invitation message
  old_text = "";
  edited_msg = false;
  $("#invite_msg").focus(function(){
    old_text = $("#invite_msg").val();
  });
  
  $("#invite_msg").blur(function(){
    if( $("#invite_msg").val() != old_text)
	{
	  edited_msg = true;
	}
  });
<%end%>

<% content_for :headers do  -%>
  <%= javascript_include_tag 'user_filter'%>
<% end -%>

<div id="change-event">
<h3><%= t('event.create') %></h3>

<% form_for(:event, :url => space_events_path(@space), :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages %>				
  <div>
    <label for="Name"><%= t('name.one')%>:</label>
    <%= f.text_field :name, :size =>25  %>
  </div>
  <div>
	<label for="Description"><%= t('description') %>:</label>
	<%=f.text_area :description%>
  </div>

  <!--<div class="margin-up">
	<span> <%= t('event.steps') %></span>
  </div>-->  
  <div class="margin-up">
  <strong><span>1. <%= t('event.select_date')%></span></strong>	
  </div>
  <div id="expanded_date">
	<div class="margin-up">
	  <span><%= t('timezone.one') %>: <%=Time.zone%></span>
	</div>
	<div class="no_javascript">
	  <ul>
		<li><%= t('date.start') %></li>
		<li><%=f.datetime_select :start_date%></li>
		<li><%= t('date.end') %></li>
		<li><%=f.datetime_select :end_date%></li>
	  </ul>
	</div>
  </div>

  <div class="margin-up">
  <strong><span>2. 	<%= t('mark_checkbox')%> </span></strong>
  </div>
  <div id="expanded_online">
	<div class="checkbox_event">
	  <%=f.check_box :isabel_event,:class=>"icon" %>
	  <label for="isabel_event" class="label_izquierda" ><%= t('event.Isabel') %></label>
	  <%=f.check_box :marte_event,:class=>"icon"  %>
	  <label for="marte_event" class="label_izquierda" ><%= t('event.online') %></label>
	</div>
	<!--<div class="checkbox_event">
	  <%=f.check_box :marte_event,:class=>"icon"  %>
	  <label for="marte_event" class="label_izquierda" ><%= t('event.online') %></label>
	</div>-->
  </div>
  
  <div class="margin-up">
  	<strong><span class ="without_javascript">3. <%= t('user.invite') %>:</span></strong>
    <strong><span class ="javascript" style="display:none">3. <%= link_to(t('user.invite'),"#expanded_invite",:id=>"toggle_invite") %>:</span></strong>
  </div>
  
  <div id="expanded_invite">
	  <!--<div class="margin-up">
	    <span><%= t('user.invite_from_space_by_email') %></span>
	  </div>-->
	  <div id="selected_users">
	    <label for="selected_users" style="display: none;">To:</label>
	  </div>
	  <div id="user_filter" class="margin-up" style="display: none;">
	    <label for="User filter"><%= t('user.filter') %></label><br/>
	    <%= text_field_tag :user_selector,'', :size => 25 %>
	  </div>
	  <div id="unselected_users"> 
	  <% for user in @space.users -%>
	      <div class=user_checkbox>
	        <%= check_box_tag "event[ids][]", user.id, checked_users.include?(user.id.to_s) %><%= label("checkbox",sanitize(user.full_name))%><br />
	      </div>
	  <%end%>
	  </div>
		
		
		<%if current_user.superuser? or @space.role_for?(current_user, :name => 'Admin')%>
		  <div class="margin-up">
		    <label for="e-mails" class="label_izquierda"><%= t('user.invite_email') %> <%= t('email.commas') %>:</label>
				<%= f.text_area :mails%>
		  </div>	
		<%end%>	
	<div class="margin-up">
	  <label for="message" class="label_izquierda"><%= t('user.invitation.label') %>:</label>
	  <textarea id="invite_msg" name="event[invite_msg]"><%= t('user.invitation.message') %> &#13<%= t('user.invitation.sign',:username=>current_user.login) %></textarea>
	  <p>* <%= t('user.invitation.legend') %></p>
	</div>
</div>
	<div class="margin-up">
	 <button type="submit"><%=t("button.create")%></button>
	</div>
<% end %>
</div>


