<% content_for :javascript do%>

  $("#send_invitation_button").livequery('click',function(){ 

    // Build invitation message by putting its parts together
    
		var header = "<%= '<p>\'' + escape_javascript(t('name.one')) + '\',</p>'%>";
		// Changing the new line characters to <br/>
		var personal_msg = ($('#invite_personal').val()).replace(/\n/g,'<br/>');
    <%if @event.start_date%>
      <% start_date = I18n.l(@event.start_date, :format => '%A %B %d %H:%M:%S%')%>
      var ending = "<%= escape_javascript(t('invitation.message_with_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:url=>'\'' + t('url_plain') + '\'',:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('\'event_date\'', start_date).gsub('event_url',space_event_url(@event.space,@event)))%>"
    <%else%>
      var ending = "<%= escape_javascript(t('invitation.message_without_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:url=>'\'' + t('url_plain') + '\'',:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('event_url',space_event_url(@event.space,@event)))%>"
    <%end%>
    var complete_msg = header + personal_msg + '<br/><br/>' + ending + "<%= escape_javascript(t('e-mail.spam_invitation', :contact => Site.current.email, :feedback => "http://" + Site.current.domain.to_s + new_feedback_path())) %><br/><br/>";
    
		$('#invite_msg').text(complete_msg);

    document.forms["invitation_edit_form"].submit();   
  });
	
<%end%>

<div id="questions">
	<div id="more_invitations">
	  <div id="invitations_title">
	  	<h3 class="blue"><%=t('event_invitation.message_title')%></h3>
	  </div>
	  <% form_for([@space,event], :html => { :multipart => true, :name => "invitation_edit_form"}) do |f| -%>
		  <div id="selected_users">
		    <label for="selected_users" style="display: none;" class="label_izquierda bold"><%=t('event_invitation.will_invite')%>:</label>
		  </div>
		  <div id="user_filter" class="margin-up" style="display: none;">
		    <label for="User filter" class="bold"><%= t('user.filter') %></label><br/>
		    <%= text_field_tag :user_selector,'', :size => 25 %>
		  </div>
		  <a href="javascript:show_all_users()" id="show_all_users_link"><%=t('invitation.show_all_users')%></a> 
		  <a href="javascript:hide_all_users()" id="hide_all_users_link"><%=t('invitation.hide_all_users')%></a> 
		  <a href="javascript:select_all_users()" id="select_all_users_link"><%=t('invitation.select_all_users')%></a>  
		  <a href="javascript:deselect_all_users()" id="deselect_all_users_link"><%=t('invitation.deselect_all_users')%></a>
		  
		  <div id="unselected_users"> 
		    <% for user in @space.users -%>
		      <div class="user_checkbox">
		        <%= check_box_tag "event[ids][]", user.id, checked_users.include?(user.id.to_s) %><%= label("checkbox",sanitize(user.full_name))%><br />
		      </div>
		    <%end%>
		  </div>
			
			
			<%if current_user.superuser? or @space.role_for?(current_user, :name => 'Admin')%>
			  <div class="margin-up">
			    <label for="e-mails" class="label_izquierda bold"><%= t('user.invite_email') %> <%= t('e-mail.commas') %>:</label>
					<%= f.text_field :mails %>
			  </div>	
			<%end%>

      <%= f.text_field :invit_introducer_id, :style => 'display:none', :value => current_user.id %>

      <div class="margin-up">
        <label for="message" class="label_izquierda bold"><%= t('invitation.label') %>:</label>
        <textarea style="display:none" id="invite_msg" name="event[invite_msg]"></textarea>
        <div class="grey_bar">
          <p><%= '\'' + t('name.one') + '\','%></p>
          <textarea id="invite_personal"><%= t('invitation.personal') %></textarea>
          <%if @event.start_date%>
            <% start_date = I18n.l(@event.start_date, :format => '%A %d %b %Y %H:%M') %>
            <%= t('invitation.message_with_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:url=>'\'' + t('url_plain') + '\'',:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('\'event_date\'', start_date).gsub('event_url',space_event_url(@event.space,@event))%>
          <%else%>
            <%= t('invitation.message_without_start_date.' + (Event::VC_MODE[@event.vc_mode]).to_s ,:space=>@space.name,:url=>'\'' + t('url_plain') + '\'',:username=>current_user.full_name,:useremail=>current_user.email,:userorg=>current_user.organization).gsub('\'event_name\'',@event.name).gsub('event_url',space_event_url(@event.space,@event))%>
          <%end%>
        </div>
        <p>* <%= t('invitation.legend.name') %><br/>
        * <%= t('invitation.legend.URL') %></p>
      </div>
			
			<div class="margin-up">
				<input type="button" id="send_invitation_button" value="<%=t("button.send")%>" />
			</div>
	  <% end %>
	</div>
</div>
