<% content_for :headers do  -%>
  <%= javascript_include_tag 'user_filter'%>
<% end -%>

<div id="change-event">
<h3>Create new Event</h3>

<% form_for(:event, :url => space_events_path(@space), :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages %>				
  <div>
    <label for="Name">Name:</label>
    <%= f.text_field :name, :size =>25  %>
  </div>
  <div>
	<label for="Description">Description:</label>
	<%=f.text_area :description%>
  </div>
	 <div>
    Timezone: <%=Time.zone%>
  </div>
	<div class="no_javascript">
	<ul>
		<li>Start Date</li>
		<li><%=f.datetime_select :start_date%></li>
		<li>End Date</li>
		<li><%=f.datetime_select :end_date%></li>
	</ul>
	</div>
	<div class="checkbox_event">
		<%=f.check_box :isabel_event,:class=>"icon" %>
		<label for="isabel_event" class="label_izquierda" >Isabel event:</label>
	</div>
	<div class="checkbox_event">
		<%=f.check_box :marte_event,:class=>"icon"  %>
		<label for="marte_event" class="label_izquierda" >Online event:</label>
	</div>
	
	 <div id="selected_users">
    <label for="selected_users" style="display: none;">To:</label>
  </div>
  <div id="user_filter" style="display: none;">
    <label for="User filter">User filter</label><br/>
    <%= text_field_tag :user_selector,'', :size => 25 %>
  </div>
  <div id="unselected_users"> 
  <% for user in @space.users -%>
      <div class=user_checkbox>
        <%= check_box_tag "event[ids][]", user.id, checked_users.include?(user.id.to_s) %><%= label("checkbox",sanitize(user.full_name))%><br />
      </div>
  <%end%>
  </div>
	
	
	<%if current_user.superuser? or @space.role_for?(current_user, :name => 'Admin')%>
	  <div>
	    <label for="e-mails" class="label_izquierda" > Invite people from Email (separated by commas):</label>
			<%= f.text_area :mails%>
		</div>	
	<%else%>
	 <div>
	       	
	 </div>	
	<%end%>	
	<div>
  </div>
	<div class="margin-up">
	 <%= image_submit_tag "buttons/create.png" %>
	</div>
<% end %>
</div>


