.content-block-header
  %h3= t('.title')

.content-block-middle
  - if user_signed_in? && can?(:read, @space) && !@event.past?
    #events-participants-confirm
      - if @event.participants.map(&:user).include?(current_user)
        %span= t('.will_attend')
        - link_say_yes = space_event_participant_path(@space, @event, get_participant(@event,current_user), :participant => { :attend => true })
        - link_say_no = space_event_participant_path(@space, @event, get_participant(@event,current_user), :participant => { :attend => false })
        - if will_user_participate?(@event, current_user)
          = link_to link_say_yes, :method => :put, :class => 'btn btn-success active' do
            = icon_check
            = t('_other.yes_')
          = link_to t('_other.no_'), link_say_no, :method => :put, :class => 'btn'
        - else
          = link_to t('_other.yes_'), link_say_yes, :method => :put, :class => 'btn'
          = link_to link_say_no, :method => :put, :class => 'btn btn-danger active' do
            = icon_check
            = t('_other.no_')
      - else
        %span= t('.will_attend')
        = link_to t('_other.yes_'), space_event_participants_path(@space, @event, :participant => { :attend => true }), :method => :post, :class => "btn"
        = link_to t('_other.no_'), space_event_participants_path(@space, @event, :participant => { :attend => false }), :method => :post, :class => "btn"

  #events-participants-attending
    .subtitle
      %h4= t('.attending') + ':'
      .view-as-links
        - unless params[:list_attendees]
          = link_to space_event_path(@space, @event, :list_attendees => true) do
            = icon_list
            = t('.view_as_list')
        - else
          = link_to space_event_path(@space, @event) do
            = icon_picture
            = t('.view_as_thumbs')
    - if @attendees.empty?
      %span= t(".none_attending")
    - else
      - unless params[:list_attendees]
        .attendee-thumbs
          .thread
            - for participant in @attendees
              = link_logo_image(participant.user, options_for_tooltip(participant.user.name, :size => '32', :url => user_path(participant.user), :class => 'logo logo-in-thread'))
      - else
        .attendee-list
          - list = []
          - for participant in @attendees
            - list.push link_to(participant.user.name, user_path(participant.user))
          = list.join(', ').html_safe

  - if @not_attendees.count > 0
    #events-participants-not-attending
      .subtitle
        %h4= t('.not_attending') + ':'
        .view-as-links
          - unless params[:list_not_attendees]
            = link_to space_event_path(@space, @event, :list_not_attendees => true) do
              = icon_list
              = t('.view_as_list')
          - else
            = link_to space_event_path(@space, @event) do
              = icon_picture
              = t('.view_as_thumbs')

      - unless @not_attendees.empty?
        - unless params[:list_not_attendees]
          .attendee-thumbs
            .thread
              - for participant in @not_attendees
                = link_logo_image(participant.user, options_for_tooltip(participant.user.name, :size => '32', :url => user_path(participant.user), :class => 'logo logo-in-thread'))
        - else
          .attendee-list
            - list = []
            - for participant in @not_attendees
              - list.push link_to(participant.user.name, user_path(participant.user))
            = list.join(', ').html_safe
