<%= content_for :javascript do%>
  $(".links a").attr("href", "#");

  /*jquery for assistants div*/
  $(".list_assistants").livequery('click',function () {
    $("#assistants_lite").hide();
                $("#all_assistants").hide();
    $("#assistants_list").show();
                return false;
  });

         $(".more_assistants").livequery('click',function () {
    $("#assistants_lite").hide();
                $("#assistants_list").hide();
    $("#all_assistants").show();
    return false;
  });

         $(".less_assistants").livequery('click',function () {
           $("#all_assistants").hide();
           $("#assistants_list").hide();
     $("#assistants_lite").show();

    return false;
  });


          /*jquery for no-assistants div*/
  $(".list_no_assistants").livequery('click',function () {
    $("#no_assistants_lite").hide();
    $("#all_no_assistants").hide();
    $("#no_assistants_list").show();
    return false;
  });

   $(".more_no_assistants").livequery('click',function () {
    $("#no_assistants_lite").hide();
    $("#no_assistants_list").hide();
    $("#all_no_assistants").show();
    return false;
  });

   $(".less_no_assistants").livequery('click',function () {
     $("#all_no_assistants").hide();
     $("#no_assistants_list").hide();
     $("#no_assistants_lite").show();

    return false;
  });

           /*jquery for no-responding div*/
  $(".list_no_responding").livequery('click',function () {
    $("#no_responding_lite").hide();
    $("#all_no_responding").hide();
    $("#no_responding_list").show();
    return false;
  });

   $(".more_no_responding").livequery('click',function () {
    $("#no_responding_lite").hide();
    $("#no_responding_list").hide();
    $("#all_no_responding").show();
    return false;
  });

   $(".less_no_responding").livequery('click',function () {
     $("#all_no_responding").hide();
     $("#no_responding_list").hide();
     $("#no_responding_lite").show();

    return false;
  });

<%end%>


<div id="assistance_info">
        <div id="assistance_title"><h3><%= t('event.assistance_title') %></h3></div>
        <%if logged_in?%>
        <div id="assistance_status">
          <%if @event.participants.map(&:user).include?(current_user)%>
                  <h5><%= t('event.will_attend') %></h5>
                  <%if get_user_state(@event,current_user) %>
                    <div class="event_options">
                          <div class="option">
                            <button id="choice"><%=t('agree')%></button>
                                <span id="tick"></span>
                          </div>
                          <div class="option">
                            <%=link_to ("<button>"+t('deny')+"</button>").html_safe, space_event_participant_path(@space,@event,get_participant(@event,current_user),:participant => {:attend => false}),:method => :put, :class => "participant" %>
                          </div>
                        </div>
                  <%else%>
                    <div class="event_options">
                          <div class="option">
                                <%=link_to ("<button>"+t('agree')+"</button>").html_safe, space_event_participant_path(@space,@event,get_participant(@event,current_user),:participant => {:attend => true}),:method => :put, :class => "participant" %>
                          </div>
                          <div class="option">
                            <button id="choice"><%=t('deny')%></button>
                                <span></span>
                          </div>
                        </div>
                  <%end%>
                <%else%>
                  <%if @space.authorize?([:read, :content], :to => current_user) && logged_in? && !@event.past?%>
                        <h5><%= t('event.will_attend') %></h5>
                          <div class="event_options">
                                <%=link_to ("<button>"+t('agree')+"</button>").html_safe, space_event_participants_path(@space,@event,:participant => {:attend => true}),:method => :post, :class => "participant" %>
                            <%=link_to ("<button>"+t('deny')+"</button>").html_safe, space_event_participants_path(@space,@event,:participant => {:attend => false}),:method => :post, :class => "participant" %>
                      </div>
                  <%end%>
          <%end%>
        </div>
        <%end%>
        <div id='asisstants'>
                <%if @assistants.empty?%>
                  <div id="assistants_lite">
                        <h5><%= t('user.assist') %></h5>
                        <span class="sidebar_text"><%=t("event.assistants_none")%></span>
                  </div>
                <%end%>
                <%unless @assistants.empty?%>
                  <div id="assistants_lite" <%= 'style="display: none;"'.html_safe if params[:all_assistants] or params[:list_assistants]%> >
                                <h5><%= t('user.assist') %></h5>
                          <%for participant in @assistants.first(12)%>
                              <%=link_to logo(participant.user, {:size=>32, :title=> participant.user.name }).html_safe, user_path(participant.user)%>
                                <%end%>
                                <div class="links">
                                  <%=link_to t('show_list_version>>'), space_event_path(@space,@event, :list_assistants => true),:class => "list_assistants"%>
                                  <%=link_to t('more>>'), space_event_path(@space,@event, :all_assistants => true),:class => "more_assistants" if @assistants.size > 6%>
                                </div>
                        </div>

                        <div id="all_assistants" <%= 'style="display: none;"'.html_safe unless params[:all_assistants]%>>
                                <h5><%= t('user.assist') %></h5>
                            <%for participant in @assistants%>
                                <%=link_to logo(participant.user, {:size=>32, :title=> participant.user.name }).html_safe, user_path(participant.user)%>
                            <%end%>
                                        <div class="links">
                                         <%=link_to t('show_list_version>>'), space_event_path(@space,@event, :list_assistants => true),:class => "list_assistants"%>
                                         <%=link_to t('collapse>>'), space_event_path(@space,@event), :class => "less_assistants"%>
                                        </div>
                        </div>

                  <div id="assistants_list" <%= 'style="display: none;"'.html_safe unless params[:list_assistants]%>>
                        <h5><%= t('user.assist') %></h5>
                    <ul>
                        <%for participant in @assistants%>
                        <li><%=link_to participant.user.name, user_path(participant.user)%></li>
                    <%end%>
                        </ul>
                        <div class="links">
                          <%=link_to t('photos_view>>'), space_event_path(@space,@event), :class => "less_assistants"%>
                        </div>
                  </div>
          <%end%>
        </div>
        <div id="no-assistants">
                <%unless @no_assistants.empty?%>
                        <div id="no_assistants_lite" <%= 'style="display: none;"'.html_safe if params[:all_no_assistants] or params[:list_no_assistants]%> >
                                <h5><%= t('user.not_assist') %></h5>
                          <%for participant in @no_assistants.first(12)%>
                            <%if participant.user%>
                             <%=link_to logo(participant.user, {:size=>32, :title=> participant.user.name }).html_safe, user_path(participant.user)%>
                                <%else%>
                                  <%=image_tag("avatars/undefined.png", :title=> participant.email )%>
                            <%end%>
                          <%end%>
                          <div class="links">
                                  <%=link_to t('show_list_version>>'), space_event_path(@space,@event, :list_no_assistants => true), :class => "list_no_assistants"%>
                                  <%=link_to t('more>>'), space_event_path(@space,@event, :all_no_assistants => true), :class => "more_no_assistants" if @no_assistants.size > 6%>
                          </div>
                        </div>

                        <div id="all_no_assistants" <%= 'style="display: none;"'.html_safe unless params[:all_no_assistants]%>>
                    <h5><%= t('user.not_assist') %></h5>
                      <%for participant in @assistants%>
                          <%=link_to logo(participant.user, {:size=>32, :title=> participant.user.name }).html_safe, user_path(participant.user)%>
                      <%end%>
                                        <div class="links">
                                         <%=link_to t('show_list_version>>'), space_event_path(@space,@event, :list_no_assistants => true), :class => "list_no_assistants"%>
                                         <%=link_to t('collapse>>'), space_event_path(@space,@event), :class => "less_no_assistants"%>
                                        </div>
                  </div>

                  <div id="no_assistants_list" <%= 'style="display: none;"'.html_safe unless params[:list_no_assistants]%>>
                        <h5><%= t('user.not_assist') %></h5>
                    <ul>
                        <%for participant in @no_assistants%>
                        <li><%=link_to participant.user.name, user_path(participant.user)%></li>
                    <%end%>
                        </ul>
                                <div class="links">
                                  <%=link_to t('photos_view>>'), space_event_path(@space,@event), :class => "less_no_assistants"%>
                                </div>
                  </div>
                <%end%>
        </div>

        <div id="no_responding">
                <%if current_user.superuser? or @space.role_for?(current_user, :name => 'Admin') or @event.authorize?([:update], :to=>current_user) %>
                  <div id="no_responding_lite" <%= 'style="display: none;"'.html_safe if params[:all_no_responding] or params[:list_no_responding]%>>
                                <%if !@not_responding_candidates.empty? or !@not_responding_emails.empty? %>
                                 <h5><%= t('user.not_confirmed') %></h5>
                                <%end%>
                                <%if !@not_responding_candidates.empty?%>
                            <%for event_inv in @not_responding_candidates.first(6)%>
                                <%=link_to logo(event_inv.candidate, {:size=>32, :title=> event_inv.candidate.name }).html_safe, user_path(event_inv.candidate)%>
                            <%end%>
                                <%end%>
                                <%if !@not_responding_emails.empty? and @not_responding_candidates.size < 5 %>
                            <%for event_inv in @not_responding_emails.first(6 -@not_responding_candidates.size) %>
                                <%=image_tag("avatars/undefined.png", :title=> event_inv.email )%>
                            <%end%>
                          <%end%>
                                <%if !@not_responding_candidates.empty? or !@not_responding_emails.empty? %>
                <div class="links">
                  <%=link_to t('show_list_version>>'), space_event_path(@space,@event, :list_no_responding => true), :class => "list_no_responding"%>
                  <%=link_to t('more>>'), space_event_path(@space,@event, :all_no_responding => true), :class => "more_no_responding" if (@not_responding_candidates.size + @not_responding_emails.size)  > 6%>
                </div>
              <%end%>
                        </div>

                          <div id="all_no_responding" <%= 'style="display: none;"'.html_safe unless params[:all_no_responding]%>>
                            <%if !@not_responding_candidates.empty? or !@not_responding_emails.empty? %>
                             <h5><%= t('user.not_confirmed') %></h5>

                            <%end%>
                            <%if !@not_responding_candidates.empty?%>
                              <%for event_inv in @not_responding_candidates%>
                                  <%=link_to logo(event_inv.candidate, {:size=>32, :title=> event_inv.candidate.name }).html_safe, user_path(event_inv.candidate)%>
                              <%end%>
                            <%end%>
                            <%if !@not_responding_emails.empty?%>
                              <%for event_inv in @not_responding_emails%>
                                  <%=image_tag("avatars/undefined.png", :title=> event_inv.email )%>
                              <%end%>
                            <%end%>
                                        <%if !@not_responding_candidates.empty? or !@not_responding_emails.empty? %>
                   <div class="links">
                      <%=link_to t('show_list_version>>'), space_event_path(@space,@event, :list_no_responding => true), :class => "list_no_responding"%>
                      <%=link_to t('more>>'), space_event_path(@space,@event), :class => "less_no_responding"%><br/>
                   </div>
              <%end%>
                  </div>

                  <div id="no_responding_list" <%= 'style="display: none;"'.html_safe unless params[:list_no_responding]%>>
                        <%if !@not_responding_candidates.empty? or !@not_responding_emails.empty? %>
                      <h5><%= t('user.not_confirmed') %></h5>
                    <%end%>
                    <%if !@not_responding_candidates.empty?%>
                      <ul>
                          <%for event_inv in @not_responding_candidates%>
                          <li><%=link_to event_inv.candidate.name, user_path(event_inv.candidate)%></li>
                          <%end%>
                          </ul>
                    <%end%>
                        <%if !@not_responding_emails.empty?%>
                      <ul>
                          <%for event_inv in @not_responding_emails%>
                        <li><%=event_inv.email%></li>
                      <%end%>
                          </ul>
                        <%end%>
                        <%if !@not_responding_candidates.empty? or !@not_responding_emails.empty? %>
                          <div class="links">
                    <%=link_to t('photos_view>>'), space_event_path(@space,@event) , :class => "less_no_responding"%>
                  </div>
                        <%end%>
                  </div>
                <%end%>
        </div>
</div>
