 <h3>Past Events</h3>
        <span id="yesterday_text"<%= 'style="display: none;"' if params[:day] != 'yesterday' %>><%="Today and Yesterday past events (#{@today_and_yesterday_events.size})"%> |</span>
        <span id="yesterday_events_link"<%= 'style="display: none;"' if params[:day] == 'yesterday' %>><%=link_to "Today and Yesterday past events (#{@today_and_yesterday_events.size})" , space_events_path(@space, :show => "past_events", :day => "yesterday"),{:title => "Today Events", :id => "yesterday_link"}%> |</span>
        <span id="last_week_text"<%= 'style="display: none;"' if params[:day] != 'last_week' %>><%="Last 7 days (#{@last_week_events.size})"%> |</span>
        <span id="last_week_events_link"<%= 'style="display: none;"' if params[:day] == 'last_week' %>><%=link_to "last 7 days (#{@last_week_events.size})", space_events_path(@space, :show => "past_events", :day => "last_week" ),{:title => "the events in the last 7 days", :id => "last_week_link"}%> |</span>
        <span id="last_month_text"<%= 'style="display: none;"' if params[:day] != 'last_month' %>><%="Last Month (#{@last_month_events.size})"%> |</span>
        <span id="last_month_events_link" <%= 'style="display: none;"' if params[:day] == 'last_month' %>><%=link_to "last Month (#{@last_month_events.size})", space_events_path(@space, :show => "past_events" , :day =>"last_month"),{:title => "the events in the last 30 days", :id => "last_month_link"}%> |</span>
        <span id="all_past_text"<%= 'style="display: none;"' if (params[:day] == 'yesterday' or params[:day] == 'last_week' or params[:day] == 'last_month' ) %>><%="All Past (#{@all_past_events.size})"%> </span>
        <span id="all_past_events_link"<%= 'style="display: none;"' if (params[:day].nil? or (params[:day] != 'yesterday' and params[:day] != 'last_week' and params[:day] != 'last_month')) %>><%=link_to "All Past events (#{@all_past_events.size})", space_events_path(@space, :show => "past_events"),{:title => "All Past events", :id => "all_past_link"}%> <br/></span> 

  <div id="past_div">
  <div id="yesterday_events"<%= 'style="display: none;"' if params[:day] != 'yesterday'%>>
    
    <%if @today_and_yesterday_paginate_events.nil?%>
      <p> No yesterday and today past events</p>
    <%else%>
		  <%for event in @today_and_yesterday_paginate_events%>
        <%= render :partial => event %>
      <%end%>
		<div id="yesterday_paginate">	 
    	<%= will_paginate @today_and_yesterday_paginate_events%>
		</div>
		<%end%>  
  </div>
  
  <div id="last_week_events" <%= 'style="display: none;"' if params[:day] != 'last_week'%>> 
    
    <%if @last_week_paginate_events.nil?%>
      <p> No last week past events</p>
    <%else%>
      <%for event in @last_week_paginate_events%>
        <%= render :partial => event %>
      <%end%>
		<div id="last_week_paginate">	 
    	<%= will_paginate @last_week_paginate_events%>
		</div>
		<%end%>
  </div>
  
  <div id="last_month_events"<%= 'style="display: none;"' if params[:day] != 'last_month'%>>

	  <%if @last_month_paginate_events.nil?%>
      <p> No last month past events</p>
    <%else%>
      <%for event in @last_month_paginate_events%>
        <%= render :partial => event %>
      <%end%>
		<div id="last_month_paginate">		 
    	<%= will_paginate @last_month_paginate_events%>
		</div>
    <%end%>

  </div>
  
  <div id="all_past_events"<%= 'style="display: none;"' if (params[:day] == 'yesterday' or params[:day] == 'last_week' or params[:day] == 'last_month')%>>
    <%if @all_past_paginate_events.nil?%>
      <p> No past events</p>
    <%else%>
      <%for event in @all_past_paginate_events%>
        <%= render :partial => event %>
      <%end%> 
		<div id="all_past_paginate">	
    	<%= will_paginate @all_past_paginate_events%>
		</div>
    <%end%>
  </div>
	</div>