<div id="events_content">

  <h3><%= t('event.past.other') %></h3>
    <div id="past-events-men">
    	<%=link_to t('event.past.all', :size => @all_past_events.size), space_events_path(@space, :show => "past_events"),{:class => "#{!params[:day] ? 'date_link selected' : 'date_link'}"}%> |
        <%=link_to t('event.today_and_yesterday', :size => @today_and_yesterday_events.size), space_events_path(@space, :show => "past_events", :day => "yesterday"),{ :class => "#{params[:day] == 'yesterday' ? 'date_link selected' : 'date_link'}"}%> |
        <%=link_to t('event.last_7_days', :size => @last_week_events.size), space_events_path(@space, :show => "past_events", :day => "last_week" ),{:class => "#{params[:day] == 'last_week' ? 'date_link selected' : 'date_link'}"}%> |
        <%=link_to t('event.last_month', :size => @last_month_events.size), space_events_path(@space, :show => "past_events" , :day =>"last_month"),{:class => "#{params[:day] == 'last_month' ? 'date_link selected' : 'date_link'}"}%> |
      <%if params[:order_by_time]%>
        <%=link_to image_tag("icons/arrow_down.png") + "order DESC", space_events_path(@space, :show => params[:show], :day => params[:day]), {:class => 'past_link event_navigation'}%>  
      <%else%>
        <%=link_to image_tag("icons/arrow_up.png") + "order ASC", space_events_path(@space, :show => params[:show], :day => params[:day], :order_by_time => "ASC"), {:class => 'past_link event_navigation'}%>
      <%end%>
    </div>
  <div>
    <%if params[:day] == 'yesterday'%>
      <%= render :partial => 'events_group', :locals => {:events_group => @today_and_yesterday_paginate_events, :message => "No yesterday or today past events"} %>
    <%elsif params[:day] == 'last_week'%>
      <%= render :partial => 'events_group', :locals => {:events_group => @last_week_paginate_events, :message => "No last week events"} %>
    <%elsif params[:day] == 'last_month'%>
      <%= render :partial => 'events_group', :locals => {:events_group => @last_month_paginate_events, :message => "No last month events"} %>
    <%else%>
      <%= render :partial => 'events_group', :locals => {:events_group => @all_past_paginate_events, :message => "No past events"} %>
    <%end%>
  </div>
</div>