<div id="events_content">
  <h3>Past Events</h3>
    <div>
      <%=link_to "Today and yesterday(#{@today_and_yesterday_events.size})" , space_events_path(@space, :show => "past_events", :day => "yesterday"),{ :class => "#{params[:day] == 'yesterday' ? 'date_link selected' : 'date_link'}"}%> |
      <%=link_to "Last 7 days (#{@last_week_events.size})", space_events_path(@space, :show => "past_events", :day => "last_week" ),{:class => "#{params[:day] == 'last_week' ? 'date_link selected' : 'date_link'}"}%> |
      <%=link_to "Last Month (#{@last_month_events.size})", space_events_path(@space, :show => "past_events" , :day =>"last_month"),{:class => "#{params[:day] == 'last_month' ? 'date_link selected' : 'date_link'}"}%> |
      <%=link_to "All Past (#{@all_past_events.size})", space_events_path(@space, :show => "past_events"),{:class => "#{!params[:day] ? 'date_link selected' : 'date_link'}"}%> 
    </div>
  <div>
    <%if params[:day] == 'yesterday'%>
      <%= render :partial => 'events_group', :locals => {:events_group => @today_and_yesterday_paginate_events, :message => "No yesterday or today past events"} %>
    <%elsif params[:day] == 'last_week'%>
      <%= render :partial => 'events_group', :locals => {:events_group => @last_week_paginate_events, :message => "No last week events"} %>
    <%elsif params[:day] == 'last_month'%>
      <%= render :partial => 'events_group', :locals => {:events_group => @last_month_paginate_events, :message => "No last month events"} %>
    <%else%>
      <%= render :partial => 'events_group', :locals => {:events_group => @all_past_paginate_events, :message => "No past events"} %>
    <%end%>
  </div>
</div>