<%= content_for :search do %>
	$("#query").click(function(){
    if(this.value == "<%=t('event.search.dots')%>"){
      this.value="";
    }
  });

  $("#query").blur(function(){
    if(this.value == ""){
      this.value="<%=t('event.search.dots')%>";
    }
  });
<%end%>

<%= form_tag(@space.nil? ? search_events_path : space_search_events_path(@space), :method => 'get') do %>
   <%= text_field_tag  'query',(params[:query] ? params[:query] : t('event.search.dots') ) %>
   <button type="submit" class="basic_button blue_button"><%=t("button.go")%></button>
   <div id="advanced">
     <%= link_to t('advanced'), @space.nil? ? advanced_search_events_path : space_advanced_search_events_path(@space) %>
   </div>
 <% end %>