
<% rounded(:class => "tips") do %>
  <div class="vevent">
    <b>Event Information</b><br>

    <div class="summary">Name: 
	  <b><%=h(@event.name)%></b>
	</div>

    <%if @event.description!=nil && @event.description!=""%>
      Description:
	    <div class="description">
	  	  <b><%=h(@event.description)%></b>
		</div><br>
    <%end%>

    <%if @event.tag_list!=nil && @event.tag_list!=""%>
      Keywords:<b>
      	<%for tag in @event.tags %><br>
		  <%= link_to h(tag.name), search_by_tag_path(@space, tag.name), :method => :get  %>
        <%end%></b>		
    <%end%>
    <br/>
    
	<b>Event Start Date:</b> <%=@event.start_date.to_formatted_s(:short) %><br/>
	<b>Event End Date: </b><%=@event.end_date.to_formatted_s(:short) %><br/>
    <%=mail_to("enrique.barra@agora-2000.com","Contact Information " + image_tag("/images/email.png"))%>
	
    <div class="bot_right">
      <%if logged_in? && @event.authorizes?(current_user, :edit)%>
        <%#if !already_accomplished(event)
        #uncomment if you want an event in the past not to be editable
        %>				  
		<%= link_to image_tag("/images/calendar.png",:border=>0), formatted_space_event_path(@space, event, "ical"), :method => :get, :title=> "Export Ical"%> &nbsp;&nbsp;                                                            
		<%= link_to image_tag("/images/edit22.png",:border=>0), edit_space_event_path(@space, event), :method => :get, :title=>"Edit event" %>&nbsp;&nbsp;
        <%#end%>
		<%= link_to image_tag("/images/delete22.png",:border=>0), space_event_path(@space, event), :method => :delete,
                                         :confirm => "This action will delete the whole event, not only this datetime.\n Are you sure?", :title=>'Delete event' %>                     
	  <%end%><br>
	
	<%= link_to 'Hide', space_events_path(@space), :method => :get%>
	</div>
  </div>
<%end%>




