%p.summary
  = @event.summary


.summary-block

  %p
    %i.icon.icon-calendar-empty
    = t('.when')
    %i.icon.icon-info-sign.tooltipped.your-time-info{title: t('.your_time_info', time_zone: @time_zone.name)}

    - if @event.time_zone != @time_zone.name
      %i.icon.icon-info-sign.tooltipped.original-time-info{title: t('.original_time_info')}
      %i.icon.icon-exchange.tooltipped#change-dates{title: t('.change_dates_info')}

  .your-dates
    %p.summary-dates-indented
      %meta{:itemprop => "startDate", :content => @event.start_on_with_time_zone}
      %time{ :datetime => @event.start_on_with_time_zone }
        = t('.start_on')
        -# @time_zone is the current user or webstie timezone
        = formatted_date_in_time_zone(@event, @event.start_on, @time_zone.name)

    - if @event.end_on
      %p.summary-dates-indented
        %meta{:itemprop => "endDate", :content => @event.end_on_with_time_zone}
        %time{ :datetime => @event.end_on_with_time_zone }
          = t('.end_on')
          -# @time_zone is the current user or webstie timezone
          = formatted_date_in_time_zone(@event, @event.end_on, @time_zone.name)

  - if @event.time_zone != @time_zone.name
    .original-dates
      %p.observation.summary-dates-indented
        = t('.original_time')
      %p.summary-dates-indented
        = t('.start_on')
        = formatted_date_in_time_zone(@event, @event.start_on, @event.time_zone)

      %p.summary-dates-indented
        = t('.end_on')
        = formatted_date_in_time_zone(@event, @event.end_on, @event.time_zone)

.summary-block

  %p
    %i.icon.icon-map-marker
    = t('.where')

  - if !@event.address.blank? or (!@event.latitude.nil? && !@event.longitude.nil?)

    - if !@event.latitude.nil? && !@event.longitude.nil?
      .event-map{:'data-zoom' => Leaflet.max_zoom, :'data-latitude' => @event.latitude, :'data-longitude' => @event.longitude, :'data-layer' => Leaflet.tile_layer, :'data-address' => @event.address, :'data-attribution' => Leaflet.attribution }
        #map

    - if !@event.location.blank?
      %p{:itemprop=>"location", :itemtype=>"http://schema.org/Place"}
        = @event.location
        - if !@event.address.blank?
          |
          = @event.address

  - else
    %span.observation= t('.where_not_specified')

.summary-block

  %p
    %i.icon.icon-gears
    = t('.more_options')

  %ul.summary-options

    %li
      %a.calendar.summary-button{:href => event_path(@event, :format => 'ics')}
        %i.icon.icon-calendar
        = t('.calendar')

    -# %li
    -#   %a.contact.summary-button{:href => "#"}
    -#     %i.icon.icon-envelope
    -#     = t('.contact')

    -# %li
    -#   %a.rss.summary-button{:href => "#"}
    -#     %i.icon.icon-rss
    -#     = t('.rss')
