<div id="event_date">
	<span class="fondo_blanco">
<%@date_prev = @datetime -1%>
	<%= link_to (image_tag("back.png", :title=>"Previous Day"), space_events_path(@space, :date_start_day => @date_prev)) %>
	
 <%@array_of_arrays = format_array_events(@events) 
 the_colspan = @array_of_arrays.size + 1
 if @array_of_arrays.size==0
    the_colspan += 1
  end
 %>
	<%if logged_in? %>
		
           <%if !current_user.machines.empty?%>
             <%if @datetime>Date.today%>
		       <%session[:date_start_day] = @datetime%>
		     <%end%>
           <%end-%>
    	   </td>
		<%end-%>

		
		  <% if logged_in?%>
			  <% if current_user.machines.empty?%>
			   <%end%>
		  <%end%>
		  <span>Date: <%=@datetime.to_s%></span>
		
  <%@date_post = @datetime + 1%>
  <%= link_to (image_tag("next.png", :title=>"Next Day"), space_events_path(@space, :date_start_day => @date_post)) %>
  
</span>
</div>

<table id="hour_event_table">
 
  <tr>
     
     <td id="columna_horas">
     <%= render :partial => 'table_hours', :layout => false%>
     </td>        
     <%for i in 0..(@array_of_arrays.size-1)
        @mini_array_events = @array_of_arrays[i]%>
        <td id="soy">
        <%= render :partial => 'mini_table', :layout => false%>
        </td>
     <%end-%>
     <%if @array_of_arrays.size==0
        @mini_array_events = []-%>
        <td class="largo">
        <%= render :partial => 'mini_table', :layout => false%>
        </td>
     <%end-%>     
     
     </tr>
</table>
