<% last ||= false -%>

<div class="<%=cycle("even_thread" , "odd_thread")%> event_cloud <%='last' if last%>">

  <%= div_for(event, :class=>"event_padding") do %>
    <div class="div-logo">  
      <%= raw(link_logo(event.space, :size =>'w48', :url => space_path(event.space), :title=>event.space.name)) %>
    </div>  
    <div class="home_event">
      <ul class="group_links">
          <li><%=link_to(image_tag("icons/exclamation.png", :alt => t('spam.report'),:class=>"icon"), spam_lightbox_space_event_path(event.space,event),{:name => event.id, :class => 'spam_link', :title => t('spam.report')}) if logged_in? && event.spam != true%> </li>
                  <li><%=link_to(image_tag("icons/pencil.png", :alt => t('event.edit'),:class=>"icon") , edit_space_event_path(event.space, event), :title => t('event.edit')) if event.authorize?(:update, :to => current_user) %></li>
              <li><%=link_to image_tag("./icons/cancel.png", :alt => t('delete.one'),:class=>"icon") , space_event_path(event.space, event),{:method => :delete, :title => t('delete.one'),:confirm => t('delete.confirm', :element => event.title)} if event.authorize?(:delete, :to => current_user) %></li>
      </ul>
      <p><%=image_tag("icons/date.png",:class=>"icon", :title => t('event.home.one', :space=>event.space.name))%> <%=link_to sanitize(highlight(event.title,params[:query])), space_event_path(event.space, event),:class=>"unified_event"%><span class="updated"> <%= t('updated_time_ago', :time => sanitize(time_ago_in_words(event.updated_at))) %></span></p>
      <ul>
        <li class="main_date small-font"><%=event.get_formatted_date%></li>
        <% if event.posts.size == 1 %>
          <li><%= t('event.has') + ' '%><%= link_to event.posts.size.to_s + ' ' + t('comment.one'), space_event_path(event.space,event) %></li>
        <% elsif event.posts.size > 1 %>
          <li><%= t('event.has') + ' '%><%= link_to event.posts.size.to_s + ' ' + t('comment.other'), space_event_path(event.space,event) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
