= div_for(event, :class => "thread thread-event #{cycle("thread-even" , "thread-odd")}") do

  .logo-in-thread
    = link_logo_image(event.space, :size => '80x60', :url => space_path(event.space), :title => event.space.name, :class => "logo logo-space")

  .thread-content

    %ul.thread-action-links.visible-on-hover{ :"data-hover-tracked" => "event_#{event.id}" }
      - if can?(:update, event)
        %li= link_to t('edit').downcase, edit_space_event_path(event.space, event), :title => t('event.edit')
      - if can?(:destroy, event)
        %li= link_to t('remove').downcase, space_event_path(event.space, event), {:method => :delete, :title => t('delete.one'), :confirm => t('delete.confirm', :element => event.title) }
      - if user_signed_in? && event.spam != true
        %li= link_to t('spam.default').downcase, spam_report_space_event_path(event.space,event), { :name => event.id, :title => t('spam.report'), :class => "spam-report" }

    .thread-title
      = icon_event t('event.home.one', :space => event.space.name)
      = icon_spam() if event.spam
      = link_to sanitize(highlight(event.title, params[:query])), space_event_path(event.space, event)
      %span.thread-updated-at= t('updated_time_ago', :time => sanitize(time_ago_in_words(event.updated_at)))

    .thread-text
      %span= event.get_formatted_date
