<div id="event_recordings" class="margin-up">
	 
  <div id="recordings_title"><h3 class="blue">
	<%unless @event.vc_mode == Event::VC_MODE.index(:in_person)%>
	  <%if @event.past? %>
	    Past Event
	  <% elsif @event.is_happening_now? %>
	    Event Streaming
	  <% else %>
	    Future Event
	  <% end %>
	<% else %>
		No Streaming at meetings
	<% end %>
  </h3></div>

  <%if @event.vc_mode == Event::VC_MODE.index(:in_person)%> <!-- Only test... change to unless @event.vc_mode [...] -->
    <div id="streaming_live_content">
	      
      <%if @event.is_happening_now? %>
	  
        <div id="videos">
          
		  <%unless @event.vc_mode == Event::VC_MODE.index(:in_person)%> <!-- Only test... -->
		  <div class="video_full">
		      <%if @event.agenda.agenda_entries.empty?%>
		        <%=t('please')%><a href='#' id="add_first_entry"><%=t("event.help.define2")%></a> <%=t('event.help.define3')%>
		      <%elsif @event.web_interface? && !@event.has_streaming?%>
		        <%= @event.web%>
		      <%else%>
		        <%if @event.web_interface? && !params[:web_client]%>
  			      <%=link_to("participate",space_event_path(@space, @event, :web_client=>true))%>
			      <%= @event.streaming(640, 385)%>
			    <%elsif @event.web_interface? && params[:web_client]%>
			      <%=link_to("close",space_event_path(@space, @event))%>
			      <%= @event.web%>
			    <%else%>
			      <%= @event.streaming(640, 385)%>
		        <%end%>                  
		      <%end%>
          </div> 
		  <%end%> 
	
	    
          <div class="url_share">
            <%unless @space.public?%>
              <%=t('event.recording.notice')%><br/>
            <%end%>
            <div class="video_share"><span><%=t('event.recording.share')%></span></div>       
            <form>
              <span class="only_url"><%=t('url_plain')%>:</span>
              <input type="text" onclick="javascript:this.form.video_link.focus();this.form.video_link.select();" value="<%=space_event_url(@space, @event, :show_video=> @display_entry ? @display_entry.id : 0) %>" name="video_link"></input>
            </form>
          </div>
		
        </div>
  
	  <% else %>  
	  		
	    <div id="videos">
          <div class="video_full">
            <div class="video_wrapper">
	          <img src="/images/visor_video.png?1267540763" alt="Visor_video"/>
			  <% if @event.past? %>
			    <span>Past event. No streaming</span>
			  <% else %>
			  	<span>Web participation and streaming will be available at the time of the event</span>
			  <% end %>
		    </div>
          </div> 
	    </div>
			
	  <% end %>
    </div>
  <%end%>
</div>