<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.fcbkcomplete' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %>
<%end%>


<% content_for :javascript do%>
  <%= render :partial => "edit_new_javascript.js"%>	
<%end%>

<% content_for :sidebar do  %>
  <%= render :partial => "edit_new_sidebar"%> 
<%end%>

<% form_for(:event, :url => space_event_path(@space, @event), :html => {:method => :put, :multiple => "multiple" }) do |f| -%>

    <%= render :partial => "edit_new_form", :locals => {:f => f} %>

    <div class="margin-up">
	     <button type="submit" id="create_event_button" class="basic_button blue_button"><%=t("button.edit")%></button>
		 <button id="wait_create_event_button" class="basic_button blue_button"><%=t("button.editing")%></button>
	      <%= link_to "<span>" + t('cancel') + "</span>", space_events_path,:class => "basic_button blue_button", :id=>"cancel_event"%>
	 </div>
     
<% end %>