<% @page_title = "Edit an event" %>
<%if @array_times == nil
@array_times = @event.event_datetimes
end
if @array_participants == nil
@array_participants = @event.participants
end %>

<%= error_messages_for 'event' %>
<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
<h1>Editing event</h1>
<form action="/spaces/<%=@space.id%>/events/<%=@event.id%>" method="post" name='form_event'>
  <div style="margin:0;padding:0"><input name="_method" type="hidden" value="put" /></div>
  <%= render :partial => 'form' %>
  <h6> (*) Separated by commas</h6>
  <%end%>
  <% rounded(:class => "tips") do %>
  <h1>Times for this event</h1>
  <%if @array_times.size == 0%>
    <input name="los_indices"  type="hidden" value=1 /> 
  <%else%>
    <input name="los_indices"  type="hidden" value=<%=@array_times.size%> /> 
  <%end -%>
  
   <TABLE class=Event CELLPADING=5 CELLSPACING=0  WIDTH=100% >
  <tbody id="event_times">
  <TR class=bold_center><TD>Week Nº</TD><TD colspan=3>Time</TD></TR>
    <%@indice = 0%>
    <%for @datetime in @array_times%>
        <%= render :partial => 'form_datetimes_edit' %>
        <% @indice +=1 -%>
    <%end -%>
    <%if @array_times.size == 0%>
        <%= render :partial => 'form_datetimes_edit' %>
    <%end -%>  
  </tbody>
  </TABLE>
  <%end%>
  <% rounded(:class => "tips") do %>
  <h1>Event Participants</h1>
        <%= render :partial => 'form_participants' %>
  <br/>
  
  <% old_name = @event.get_xedl_filename %>
  <%= hidden_field_tag("old_name",value=old_name)%>
  
  <TABLE CELLPADING=5 CELLSPACING=0 BORDER=0 WIDTH=15% >
  <TR><TD align=center>
  <%= button_to_function 'Edit', 'validate_password_edit()' %>    
  </TD>  
  </form>
  <TD align=center>
  <input onclick=document.location="/" type="button" value="Back" />

  </TD></TR>
  </TABLE>
  <%end%>
  </div>
</div>

<%= render :partial =>'shared/sidebar'%>






