<%content_for :headers do %>
	<%= javascript_include_tag 'jquery.fcbkcomplete', 'jquery.filestyle','jquery.jcrop', 'jquery.wysiwyg' %>
	<%= stylesheet_link_tag "fcbkcomplete", "jquery.wysiwyg", :media => "screen, projection" %>
<%end %>

<% content_for :javascript do %>

  <%= render :partial => "edit_new_javascript.js" %>
	$("#event_image").attr('value', "");
	$("#cancel_event").fancybox({
	'scrolling'		     : 'no',
	'titleShow'		     : false,
	'hideOnContentClick' : false,
	'autoDimensions'	 : false,
	'width'              : 250,
	'height'             : 80
	});

<%end %>

<% content_for :sidebar do %>
  <%= render :partial => "edit_new_sidebar" %>
<%end %>

<div class="whyte_wrapper">

	<div style="display:none">
	  <script type="text/javascript">
	    function our_close(){
	      $.fancybox.close();
	    }
	  </script>
	  <div id="sure_form">
	    <%if params[:in_steps] %>
	      <div id="lightbox_advise"><%= t('event.cancel.lose') %></div>
        <div id="event_step_cancel_buttons">
					<%= link_to "<span>" + t('button.accept') + "</span>" , space_event_path(@space, @event),{:method => :delete, :class => "basic_button blue_button", :id=>"button_yes"} %>
	    <%else %>
	      <div id="lightbox_advise"><%= t('event.cancel.stop') %></div>
	      <div id="event_step_cancel_buttons">
	      	<%= link_to "<span>" + t('button.accept') + "</span>" , space_event_path(@space, @event),{:class => "basic_button blue_button", :id=>"button_yes"} %>
	    <%end %>
          <%= link_to "<span>" + t('button.cancel') + "</span>", "javascript:our_close();" ,:class => "basic_button blue_button", :id=>"button_no" %>
				</div>
	  </div>
	</div>
	
	<div id="for_lightbox" style="display:none">
	</div>

	<% @files = Dir.entries("public/images/default_event_logos/")
	@files.delete(".")
	@files.delete("..")
	%>
	
	<%= render :partial => "edit_new_logo"  %>
	
	<% form_for(:event, :url => space_event_path(@space, @event, :in_steps=>params[:in_steps]), :html => {:method => :put, :multiple => "multiple", :autocomplete=>"off" }) do |f| -%>
	  <%= f.hidden_field "rand_value" %>
	  <%= render :partial => "edit_new_form", :locals => {:f => f} %>
	
		<ul class="margin-up event_form_buttons">
	    <li>
	      <button type="submit" id="create_event_button" class="basic_button blue_button">
	        <%=params[:in_steps] ? t("button.next_program") : t("button.next_edit_program") %>
	      </button>
			</li>
	    <li>
	    	<button id="wait_create_event_button" class="basic_button blue_button">
	        <%=t("button.editing") %>
	      </button>
			</li>
	    <li><%= link_to "<span>" + t('cancel') + "</span>", "#sure_form",:class => "basic_button blue_button", :id=>"cancel_event" %></li>
	  </ul>

  <% end %>

<!--<div id="new_logo_hidden_form" style="display:solid">
    <label>
        upload your own logo
    </label>
    <br>
    <% form_for :logo,  :html => {:method => :post,:id =>"select_logo_form", :multipart => true, :name => "space_new_form"}, :url => {:controller => :logos, :action => :new, :upload => :yes} do |f| %>
    <%= t("space.logo_selected.upload_logo_text") %>
    <br>
    <%= f.file_field :media, :class=>"file file1 basic_button blue_button" %>
    <%= f.hidden_field  "rand" %>
    <br>
    <input id ="upload_logo_button" type="submit" class = "basic_button blue_button" value="<%=t("space.logo_selected.upload_text")%>" /><% end %>
    <div id = "resultado">
    </div>
</div>-->
</div>


