<% spaces_menu_at :events %>
<%= content_for :menu do %>
  <%= render :partial => 'spaces/menu' %>
<% end %>
<% atom_link_header(space, Event.new, :title => "#{ t 'event.other' } - #{ space.name }") %>

<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $(".event_navigation,.date_link,div.pagination a").livequery("click",function(){
    var route = $(this).attr("href");
    $.get(route,
      {authenticity_token: "<%=form_authenticity_token()%>"},
      function(data){
        $("#events_wrapper").replaceWith(data);
      }
    );
    return(false);
  });

  var theselect = "<%=escape_javascript(select_tag "ndays", options_for_select({ "1" => "1", "2" => "2", "3" => "3", "4" => "4", "5" => "5" },@event_to_edit.present? ? @event_to_edit.days.to_s : "1"))%>";
  $(".no_javascript").after(
    "<div class='javascript'><label><%=escape_javascript(t('date.start'))%></label> "
    + "<label><%=escape_javascript(t('days'))%></label><br/>"
    + "<input type='date' id='start_datepicker' name='event[start_date]' class= 'datepicker small-font' value='<%=escape_javascript( @event_to_edit.present? ? @event_to_edit.start_date.strftime("%d %b %Y") : DateTime.now.strftime("%d %b %Y")) %>'>"
    + theselect + "<br/>"
  );
  $(".no_javascript").remove();
});
</script>
<% end %>


<%= content_for :sidebar do  %>
    <%= render :partial => 'spaces/sidebar_join_links' %>

        <%if @space.authorize?([:create, :content],:to => current_user)%>

            <div class="button_wrapper">
              <%= link_to ("<span>" + t('event.create.title') + "</span>").html_safe, new_space_event_path,:class => "new_space_link big_button orange_button"%>
            </div>
            <div class="clearer"></div>

        <%end%>

        <div class="next-events margin-up">
      <div class="next-events-title">
        <h3>
          <%=image_tag("icons/information.png", :class=>"icon",:title=> t('information.information5'))%>
                  <%=t('event.upcoming.other_all')%>
        </h3>
      </div>
          <div class="next-events-section">
          <ul>
            <% Event.upcoming.select{|e| e.space.public? && e.space != @space}.first(3).each do |event| %>
          <li class="event">
            <%event_link="<span class='red'>" + h(sanitize(event.title)) + "</span> <br/> <span class='small-font unified_date'>" + event.start_date.to_formatted_s(:short) + " - " + event.end_date.to_formatted_s(:short) + "</span>"%>
            <%=link_to raw(event_link), space_event_path(event.space,event)%>
            <%=link_to "", space_event_path(event.space,event),:class=>"box-link"%>
          </li>
            <% end %>
      </ul>
          </div>

    </div>

<%end%>

<div id="events_wrapper">

        <div id="events_content">

          <%if !@current_events.empty?%>
            <div id="current_events">
              <h3><%= t('now_exclamation') %></h3>
              <%for event in @current_events%>
                <%= render :partial => event %>
              <%end%>
            </div>
          <%end%>

                <div class="group_links" id="events_links">
                  <%=link_to t('all'), space_events_path(@space), {:id => 'all_link', :class => "#{params[:show] ? 'event_navigation' : 'event_navigation event_selected'}"}%> |
                  <%=link_to t('undated'), space_events_path(@space, :show => "undated_events"), {:class => "#{params[:show] == 'undated_events' ? 'event_navigation undated_link event_selected' : 'event_navigation undated_link'}"}%> |
                  <%=link_to t('upcoming'), space_events_path(@space, :show => "upcoming_events"), {:class => "#{params[:show] == 'upcoming_events' ? 'event_navigation upcoming_link event_selected' : 'event_navigation upcoming_link'}"}%> |
                  <%=link_to t('past'), space_events_path(@space, :show => "past_events"), {:class => "#{params[:show] == 'past_events' ? 'event_navigation past_link event_selected' : 'event_navigation past_link'}"}%>
                </div>

                <%if params[:show] == 'past_events'%>
                                <%= render :partial => 'past_events' %>
                <%elsif params[:show] == 'upcoming_events' %>
                          <%= render :partial => 'upcoming_events' %>
            <%elsif params[:show] == 'undated_events' %>
                          <%= render :partial => 'undated_events' %>
                <%else%>
                          <%= render :partial => 'all_events' %>
                <%end%>
        </div>

</div>
