<% content_for :sidebar do  %>
  <%if params[:edit]%>
    <%@event = Event.find(params[:edit])%>
    <%=render :partial => 'edit_event'%>
  <%else%>
    <%= render :partial=> 'new_event'%>
  <%end%>
<%end%>

<%if params[:show] == "lastest_events"%>
   <div class="group_links">
     <%=link_to "Show all Latest Events", space_events_path(@space, :show => "lastest_events" )%><br/>
	</div> 	
    <div id="events">
	  <h3>Latest Events</h3>  
	
	  <%for event in @latest_events%>
	    <%= render :partial => event %>
	  <%end%>	
	  <%= will_paginate @latest_events%>
	</div>
	
<%elsif params[:show] == "past_events"%>
  <div class="group_links">
   <%=link_to "Show all Latest Events", space_events_path(@space, :show => "lastest_events")%><br/>
  </div> 	
   <div id="events">
	  <h3>Past Events</h3>  
	 	
	  <%for event in @past_events%>
	    <%= render :partial => event %>
	  <%end%>	
      <%= will_paginate @past_events%>
    </div>

<%elsif params[:show] == "coming_events"%>
    <div id="events"> 
	  <div class="group_links">  
		<%=link_to "Today (#{@today_events.size})" , space_events_path(@space, :show => "coming_events", :day => "today"),{:title => "Today Events"}%> |
		<%=link_to "within 7 days (#{@next_week_events.size})", space_events_path(@space, :show => "coming_events", :day => "next_week" ),{:title => "the events within 7 days"}%> |
		<%=link_to "within a Month (#{@next_month_events.size})", space_events_path(@space, :show => "coming_events" , :day =>"next_month"),{:title => "the events within 30 days"}%> |
		<%=link_to "All Coming (#{@all_coming_events.size})", space_events_path(@space, :show => "coming_events"),{:title => "All Coming events"}%> 
	  </div>
	  <h3><%= @title%></h3>
	  
	  <%for event in @coming_events%>
	    <%= render :partial => event %>
	  <%end%>
	  <br/><br/>
	  <div class="group_links">
	  <%=link_to "Show all Old Events", space_events_path(@space, :show => "past_events")%> | 
	  <%=link_to "Show all Coming Events", space_events_path(@space, :show => "coming_events")%><br/>
	  </div>	
	  <%= will_paginate @coming_events%>

	</div>
	
<%else%>
  <div id="events">
	   <div class="group_links">
	     <%=link_to "Show all Latest Events", space_events_path(@space, :show => "lastest_events")%><br/> 
	   </div>
	  <h3>Latest Events</h3>  

	
	  <%for event in @latest_events%>
	    <%= render :partial => event %>
	  <%end%>	

      <div class="group_links">
	    <%=link_to "Show all Old Events", space_events_path(@space, :show => "past_events")%> | 
		<%=link_to "Show all Coming Events", space_events_path(@space, :show => "coming_events")%><br/>
	  </div>	
	  <h3>Events Coming</h3> 
	  
	
	  <%for event in @incoming_events%>
	    <%= render :partial => event %>
	  <%end%>	
  </div>
<%end%>
