- spaces_menu_at :events
= content_for :menu do
  = render :partial => 'spaces/menu'
- atom_link_header(space, Event.new, :title => "#{ t 'event.other' } - #{ space.name }")

= content_for :sidebar do
  - if can?(:create_event, @space)
    = content_for :new_event do
      #new_event
        = link_to t('event.create.title'), new_space_event_path, :class => "btn btn-block"

#events_wrapper
  #events_content
    - if !@current_events.empty?
      #current_events
        %h3
          = t('now_exclamation')
        - for event in @current_events
          = render :partial => event

    #events_links.group_links
      = link_to t('all'), space_events_path(@space, :show => "all"), :id => 'all_link', :class => "btn #{'active' if params[:show] == 'all' or !params[:show]}"
      = link_to t('undated'), space_events_path(@space, :show => "undated_events"), :class => "btn #{'active' if params[:show] == 'undated_events'}"
      = link_to t('upcoming'), space_events_path(@space, :show => "upcoming_events"), :class => "btn #{'active' if params[:show] == 'upcoming_events'}"
      = link_to t('past'), space_events_path(@space, :show => "past_events"), :class => "btn #{'active' if params[:show] == 'past_events'}"

    - if params[:show] == 'past_events'
      = render :partial => 'past_events'
    - elsif params[:show] == 'upcoming_events'
      = render :partial => 'upcoming_events'
    - elsif params[:show] == 'undated_events'
      = render :partial => 'undated_events'
    - else
      = render :partial => 'all_events'