<div id="yui-main">
    <div class="yui-b main_column">
    	<% rounded(:class => "tips") do %>
			<h1>New event</h1>

			<% form_for(:event, :url => space_events_path(@space), :html => { :multipart => true }) do |f| -%>
  				<%= f.error_messages %>				
					<%= render :partial => "form", :object => f %>
  				<p>
    			<%= f.submit "Create" %>
  				</p>
			<% end %>

			<%= link_to 'Back', space_events_path(@space) %>
		<%end%>
	</div>
</div>

<%= render :partial =>'shared/sidebar'%>	