<%= content_for :sidebar do %>
  <%= render :partial => "edit_new_sidebar" %>
<%end %>

<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

<% if @event.id
     case @event.vc_mode
     when Event::VC_MODE.index(:telemeeting) %>
      $('#event_type_meeting').addClass('blue_selected');
      $('#check_meeting').show();
  <% when Event::VC_MODE.index(:teleclass) %>
      $('#event_type_class').addClass('blue_selected');
      $('#check_class').show();
  <% when Event::VC_MODE.index(:teleconference) %>
      $('#event_type_conference').addClass('blue_selected');
      $('#check_conference').show();
  <% when Event::VC_MODE.index(:in_person) %>
      $('#event_type_presential').addClass('blue_selected');
      $('#check_presential').show();
  <% end %>
<% else %>
  $('#event_type_presential').addClass('blue_selected');
  $('#check_presential').show();
<% end %>

<% unless @event.new_record? %>
  <%= render :partial => 'logos/crop_logo.js.erb',
        :locals => {
          :url_form => precrop_space_event_logo_path(@event.space, @event),
          :aspect_ratio => EventLogo::ASPECT_RATIO_S,
          :form_id => 'select_logo_form',
          :container_id => 'resultado',
          :crop_size => 188,
          :on_success => 'onCropLogoFormSuccess'
        } %>
<% end %>

});
</script>
<% end %>


<div class="whyte_wrapper">
  <div style="display:none">
    <div id="sure_form">
      <div id="lightbox_advise"><%= t('event.cancel.lose') %></div>
      <div id="event_step_cancel_buttons">
        <%= link_to "<span>" + t('button.accept') + "</span>", space_events_path,:class => "basic_button blue_button", :id=>"button_yes" %>
        <%= link_to "<span>" + t('button.cancel') + "</span>", "javascript:our_close();" ,:class => "basic_button blue_button", :id=>"button_no" %>
      </div>
    </div>
  </div>

  <div id="for_lightbox" style="display:none">
  </div>

  <% @files = Dir.entries("app/assets/images/default_event_logos/")
  @files.delete(".")
  @files.delete("..") %>

  <%= render :partial => "edit_new_logo" %>

  <%= form_for(:event, :url => space_events_path(@space), :html => { :multiple => "multiple", :autocomplete=>"off" }) do |f| -%>
    <%= f.hidden_field "rand_value" %>
    <%= render :partial => "edit_new_form", :locals => {:f => f} %>

    <ul class="margin-up event_form_buttons">
      <button type="submit" id="create_event_button" class="basic_button blue_button">
        <%=t("button.create") %>
      </button>

      <button id="wait_create_event_button" class="basic_button blue_button">
        <%=t("button.creating") %>
      </button>

      <%= link_to ("<span>" + t('cancel') + "</span>").html_safe, "#sure_form",:class => "basic_button blue_button", :id=>"cancel_event" %>
    </ul>
  <% end %>
    <!--
    <div id="new_logo_hidden_form" style="display:solid">
      <label>
        upload your own logo
      </label>
      <br>
      <%= form_for :logo,  :html => {:method => :post,:id =>"select_logo_form", :multipart => true, :name => "space_new_form"}, :url => {:controller => :logos, :action => :new, :upload => :yes} do |f| %>
      <%= t("space.logo_selected.upload_logo_text") %>
      <br>
      <%= f.file_field :media, :class=>"file file1 basic_button blue_button" %>
      <%= f.hidden_field  "rand" %>
      <br>
      <input id ="upload_logo_button" type="submit" class = "basic_button blue_button" value="<%=t("space.logo_selected.upload_text")%>" /><% end %>
      <div id = "resultado">
      </div>
    </div>
    -->
</div>
