<% @page_title = "Create a Meeting" %>
<% @is_new = true%>
<%if @array_times == nil
@array_times = @event.event_datetimes
end
if @array_participants == nil
@array_participants = @event.participants
end %>

<%= error_messages_for 'event' %>

<h1>New event</h1>

<form action=<%= @collection_path %> method="post" name='form_event'>
  <%= render :partial => 'form' %>
  <h6> (*) Separated by commas</h6>
  <h1>Times for this event</h1>
  <input name="los_indices"  type="hidden" value=1 />
  <TABLE class=Event CELLPADING=5 CELLSPACING=0 BORDER=1 WIDTH=100% >
  <tbody id="event_times">
  <TR class=bold_center><TD>Week Nº</TD><TD colspan=3>Time</TD></TR>
    <%@indice = 0%>
    <%for @datetime in @array_times%>
        <%= render :partial => 'form_datetimes_edit' %>
        <% @indice +=1 -%>
    <%end -%>
    <%if @array_times.size == 0%>
        <%= render :partial => 'form_datetimes_edit' %>
    <%end -%>      
  </tbody>
  </TABLE>
  <h1>Event Participants</h1>
  <TABLE class=Event CELLPADING=5 CELLSPACING=0 BORDER=1 WIDTH=100% >
  <tbody id="event_participants">
  <TR><TD>Participant</TD><TD>Connected to</TD><TD>Role</TD><TD>Site Configuration</TD><TD colspan=2>Description</TD></TR>
  <%@indice = 0%>
    <%for @participant in @array_participants%>        
        <%= render :partial => 'form_participants' %>
        <% @indice +=1 -%>
    <%end -%>
    <%if @array_participants.size == 0%>
        <%= render :partial => 'form_participants' %>
    <%end -%>    
  </tbody>
  
  </TABLE>
  <br/>

  <TABLE CELLPADING=5 CELLSPACING=0 BORDER=0 WIDTH=15% >
  <TR><TD align=center>
  <%= button_to_function 'Create', 'validate_password_edit()' %>    
  </TD>  
  </form>
  <TD align=center>
  <input onclick=document.location="/" type="button" value="Back" />

  </TD></TR>
  </TABLE>


