<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.fcbkcomplete', 'jquery.filestyle','jquery.jcrop', 'jquery.wysiwyg' %>
  <%= javascript_include_tag 'jquery.fancybox' %>
  <%= stylesheet_link_tag "fcbkcomplete", "jquery.wysiwyg", :media => "screen, projection" %>
  <%= stylesheet_link_tag "jquery.fancybox", :media => "screen, projection" %>
<%end%>


<% content_for :javascript do%>
  <%= render :partial => "edit_new_javascript.js"%>	
  
  $("#cancel_event").fancybox({
	'scrolling'		     : 'no',
	'titleShow'		     : false,
	'hideOnContentClick' : false,
	'autoDimensions'	 : false,
	'frameWidth'              : 250,
	'frameHeight'             : 80
  });
  
<%end%>

<% content_for :sidebar do  %>
  <%= render :partial => "edit_new_sidebar"%> 
<%end%>

<div style="display:none">
  <script type="text/javascript">
  	function our_close(){
		$.fn.fancybox.close();		
	}
  </script>
	
  <div id="sure_form">
  	<div id="lightbox_advise"><%= t('event.cancel.step1') %></div>
	<%= link_to "<span>" + t('button.accept') + "</span>", space_events_path,:class => "basic_button blue_button", :id=>"button_yes"%>
	<%= link_to "<span>" + t('button.cancel') + "</span>", "javascript:our_close();" ,:class => "basic_button blue_button", :id=>"button_no"%>
  </div>
</div>

<div id="for_lightbox" style="display:none"></div>

<% form_for(:event, :url => space_events_path(@space), :html => { :multiple => "multiple" }) do |f| -%>

    <%= render :partial => "edit_new_form", :locals => {:f => f} %>

    <div class="margin-up">
	     <button type="submit" id="create_event_button" class="basic_button blue_button"><%=t("button.next_program")%></button>
		 <button id="wait_create_event_button" class="basic_button blue_button"><%=t("button.creating")%></button>
	      <%= link_to "<span>" + t('cancel') + "</span>", "#sure_form",:class => "basic_button blue_button", :id=>"cancel_event"%>
	 </div>
     
  <% end %>