- spaces_menu_at :events
= content_for :menu do
  = render :partial => 'spaces/menu'
- atom_link_header(space, Event.new, :title => "#{ t 'event.other' } - #{ space.name }")


- @files = get_default_event_logo_files

.whyte_wrapper
  = render :partial => "edit_new_logo"
  = simple_form_for(:event, :url => space_events_path(@space), :html => { :multiple => "multiple", :autocomplete=>"off" }) do |f|
    = render :partial => "events_form", :locals => { :f => f }
    = f.button :submit, t('button.create'), :class => 'btn'

    = link_to t('cancel'), space_events_path, :class => "btn", :confirm => t('are_you_sure')
