
<div class="main_column">
	
	<% rounded(:class => "tips") do %>


	<% if @events== nil %>
	Please insert something in the search box
	<% else%>
	<h3> <%= @events.total_hits%> events were found</h3></td><tr>
	<%= link_to 'Previous page', { :page => @pages.current.previous, :query => @query} if @pages.current.previous %>
<%= pagination_links(@pages, :params => { :query=> @query }) %>
<%= link_to 'Next page', { :page => @pages.current.next, :query => @query} if @pages.current.next %>

	<table>
<tr>
	<td>Title</td>
	<td>Description</td>
	<td>Start Date</td>
	<td>Options</td>
	<td>Keywords</td>
	</tr>
	<tr>
		
		 <%end%>
		<% @events.each do |event| %>  
		<td>
			<%= link_to_remote ( event.highlight(@query, :field => :name, :num_excerpts => 1, :pre_tag => "<strong>", :post_tag => "</strong>")), { :url => { :action => 'show_summary', :id => event.id } }   %>
		</td>
		<td>
			 <%= event.highlight(@query, :field => :description, :num_excerpts => 1, :pre_tag => "<strong>", :post_tag => "</strong>") %>
     
		</td>
		<td> 
		<% i = 0%>
     	<% for dates in event.start_dates %>  
    [<%=  i %>] <%= event.start_dates[i] %>
<% i += 1%>
<%end%>
		</td>
				<td>
					<%if logged_in? && (current_user.events.include?(event) || current_user.superuser== true) %>
                				  
                <%session[:date_start_day]=@datetime%>
				 <%= link_to image_tag("/images/icalendar.gif",:border=>0), export_ical_path(event.id), :method => :get, :title=> "Export Ical"%> &nbsp;&nbsp; 
                                                 
           
				<%= link_to image_tag("/images/modify.gif",:border=>0), edit_event_path(event.id), :method => :get, :title=>"Edit event" %>&nbsp;&nbsp;
                <%#end%>
				<%= link_to image_tag("/images/delete.gif",:border=>0), event_path(event.id), :method => :delete,
                                         :confirm => "This action will delete the whole event, not only this datetime.\n Are you sure?", :title=>'Delete event' %>          
           
			<%end%>	
				</td>
		<td>
			 <%= event.highlight(@query, :field => :tag_list, :num_excerpts => 1, :pre_tag => "<strong>", :post_tag => "</strong>") %></li>
  
		</td>
		</tr>
		 <% end %>

 
	</table>
	
	 <%end%>
     
    		

<%= link_to 'Previous page', { :page => @pages.current.previous, :query => @query} if @pages.current.previous %>
<%= pagination_links(@pages, :params => { :query=> @query }) %>
<%= link_to 'Next page', { :page => @pages.current.next, :query => @query} if @pages.current.next %>

  </div>


<%= render :partial =>'shared/sidebar'%>

