
<div id="yui-main">
<div class="yui-b main_column">
	
	<% rounded(:class => "tips") do %>	
<div id="search">
	<h4> Search</h4> (in title, description and tags with exactly words)
	
  <% form_tag({:action => :search_events}, :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= submit_tag 'Search'%>
  
   <% end %>
   
   
You can make an <%= link_to_remote  'advanced search',{ :url => { :action => 'advanced_search' },  } %> or search by <%= link_to_remote  'title',{ :url => { :action => 'title' } } %>, by <%= link_to_remote  'description',{ :url => { :action => 'description' } } %> or by <%= link_to_remote  'dates',{ :url => { :action => 'dates' } } %> 
 </div> 
   <div id="advanced_search">

 </div>
 <%= link_to_remote 'Hide',{:url =>{ :action=> 'clean'}}%>
 


<%end%>

</div>
</div>

<%= render :partial=>'shared/sidebar'%>
  