<style type="text/css">@import url(/stylesheets/calendar-blue.css);</style>
<script type="text/javascript" src="/javascripts/jscalendar/calendar.js"></script>
<script type="text/javascript" src="/javascripts/jscalendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="/javascripts/jscalendar/calendar-setup.js"></script>
&nbsp;

<ul>

	<% if @events== nil %>
	Please insert something in the search box
	<% else%>
	<h3> <%= @events.total_hits%> events were found</h3></td><tr>
	<%= link_to 'Previous page', { :page => @pages.current.previous, :query => @query} if @pages.current.previous %>
<%= pagination_links(@pages, :params => { :query=> @query }) %>
<%= link_to 'Next page', { :page => @pages.current.next, :query => @query} if @pages.current.next %>

	<table class="search_results" border="1" frame="void" rules="groups" cellpadding="10">
<tr>
	<td>Title</td>
	<td>Description</td>
	<td>Start Date</td>
	<td>Options</td>
	<td>Keywords</td>
	</tr>
	<tr>
		<% @events.each do |event| %>  
		<td>
			<%= link_to_remote ( event.highlight(@query, :field => :name, :num_excerpts => 1, :pre_tag => "<strong>", :post_tag => "</strong>")), { :url => { :action => 'show_summary', :id => event.id } }   %>
		</td>
		<td>
			 <%= event.highlight(@query, :field => :description, :num_excerpts => 1, :pre_tag => "<strong>", :post_tag => "</strong>") %>
     
		</td>
		<td> 
		<% i = 0%>
     	<% for dates in event.start_dates %>  
    [<%=  i %>] <%= event.start_dates[i] %>
<% i += 1%>
<%end%>
		</td>
				<td>
					<%if logged_in? && (current_user.events.include?(event) || current_user.superuser== true) %>
                <%#if !already_accomplished(event)
                  #uncomment if you want an event in the past not to be editable
                  %>				  
                <%session[:date_start_day]=@datetime%>
				 <%= link_to image_tag("/images/icalendar.gif",:border=>0), export_ical_path(event.id), :method => :get, :title=> "Export Ical"%> &nbsp;&nbsp; 
                                                 
           
				<%= link_to image_tag("/images/modify.gif",:border=>0), edit_event_path(event.id), :method => :get, :title=>"Edit event" %>&nbsp;&nbsp;
                <%#end%>
				<%= link_to image_tag("/images/delete.gif",:border=>0), event_path(event.id), :method => :delete,
                                         :confirm => "This action will delete the whole event, not only this datetime.\n Are you sure?", :title=>'Delete event' %>          
           
			<%end%>	
				</td>
		<td>
			 <%= event.highlight(@query, :field => :tag_list, :num_excerpts => 1, :pre_tag => "<strong>", :post_tag => "</strong>") %></li>
  
		</td>
		</tr>
		 <% end %>

 
	</table>
	
	 <%end%>
     
    		
    </li>
	
    
	
     <ul>
     	
	<li> 
	  </ul>
	  
</ul>
<%= link_to 'Previous page', { :page => @pages.current.previous, :query => @query} if @pages.current.previous %>
<%= pagination_links(@pages, :params => { :query=> @query }) %>
<%= link_to 'Next page', { :page => @pages.current.next, :query => @query} if @pages.current.next %>
<input onclick=document.location="/search" type="button" value="Back" />
  

<TD class=filter_view>
<span>Filter view:&nbsp;
<%array_machines = []
array_machines << ["all",0]
array_machines += Machine.find(:all).collect {|r| [ h(r.name), h(r.id) ]}
-%>
<% form_tag ("/event/nil", {:name=>'form',:style => "display: inline;"}) do %>
<%= select("machine", "name", array_machines,{ :include_blank=>false }, { :onchange => "javascript:change_table()"})%>
<% end -%>
<script type="text/javascript">
document.form.machine_name.value = 0
</script>
</span>
</TD>
</TR>
<TR height=30%>
<TD valign="top">
<div id="calendar-container"></div>
<div id="solo_centrar">
<!--Server time: <%= Time.now.strftime("%H:%M")%>-->
<script type="text/javascript">
var currenttime = "<%=Time.now.strftime("%d/%m/%Y %H:%M:%S")%>";

var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
var serverdate=new Date(currenttime)

function padlength(what){
var output=(what.toString().length==1)? "0"+what : what
return output
}

function displaytime(){
serverdate.setSeconds(serverdate.getSeconds()+1)
var datestring=montharray[serverdate.getMonth()]+" "+padlength(serverdate.getDate())+", "+serverdate.getFullYear()
var timestring=padlength(serverdate.getHours())+":"+padlength(serverdate.getMinutes())+":"+padlength(serverdate.getSeconds())
document.getElementById("servertime").innerHTML=timestring+" "
}

window.onload=function(){
setInterval("displaytime()", 1000)
}
</script>

<p><b>Server Time:</b> <span id="servertime"></span></p>

</div>
</TD>
</TR>
<TR>
<TD valign="top">
<div id="event_summary">
	<div id="tagcloud">
  <%= render(:partial => "shared/tag_cloud", :object=> @cloud) %>
</div>
</TD>
</TR>
</TABLE>
<br />
<script type="text/javascript">
//configuración del calendario:   
  //the array with the dates to highlight:  
  <%=EventDatetime.array_calendar%>   
</script>
<%= javascript_include_tag("calendar_config") %>

<script type="text/javascript">
var calendar = Calendar.setup(
    {
      flat         : "calendar-container", // ID of the parent element
      flatCallback : dateChanged,           // our callback function  
      firstDay     : 1,
	  //showsTime    : true,
      dateStatusFunc : ourDateStatusFunc,
      date         : new Date    }
  );
</script>



