
<style type="text/css">@import url(/stylesheets/calendar-blue.css);</style>
<script type="text/javascript" src="/javascripts/jscalendar/calendar.js"></script>
<script type="text/javascript" src="/javascripts/jscalendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="/javascripts/jscalendar/calendar-setup.js"></script>
&nbsp;
<TABLE class=day WIDTH=100% BORDER=1 CELLSPACING=0 CELLPADDING=0>
<TR><TD width=100% rowspan=3 valign="top">
<div id="search">
	<h4> Search</h4> (in title, description and tags with exactly words)
	
  <% form_tag({:action => :search_events}, :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= submit_tag 'Search'%>
  
   <% end %>
   </div>
   
<%= link_to_remote  'Advanced Search',{ :url => { :action => 'advanced_search' } } %>   
   <div id="advanced_search">

 </div>
 
 <input onclick=document.location="/" type="button" value="Back" /> 
<TD class=filter_view>
<span>Filter view:&nbsp;
<%array_machines = []
array_machines << ["all",0]
array_machines += Machine.find(:all).collect {|r| [ h(r.name), h(r.id) ]}
-%>
<% form_tag ("/event/nil", {:name=>'form',:style => "display: inline;"}) do %>
<%= select("machine", "name", array_machines,{ :include_blank=>false }, { :onchange => "javascript:change_table()"})%>
<% end -%>
<script type="text/javascript">
document.form.machine_name.value = 0
</script>
</span>
</TD>
</TR>
<TR height=30%>
<TD valign="top">
<div id="calendar-container"></div>
<div id="solo_centrar">
<!--Server time: <%= Time.now.strftime("%H:%M")%>-->
<script type="text/javascript">
var currenttime = "<%=Time.now.strftime("%d/%m/%Y %H:%M:%S")%>";

var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
var serverdate=new Date(currenttime)

function padlength(what){
var output=(what.toString().length==1)? "0"+what : what
return output
}

function displaytime(){
serverdate.setSeconds(serverdate.getSeconds()+1)
var datestring=montharray[serverdate.getMonth()]+" "+padlength(serverdate.getDate())+", "+serverdate.getFullYear()
var timestring=padlength(serverdate.getHours())+":"+padlength(serverdate.getMinutes())+":"+padlength(serverdate.getSeconds())
document.getElementById("servertime").innerHTML=timestring+" "
}

window.onload=function(){
setInterval("displaytime()", 1000)
}
</script>

<p><b>Server Time:</b> <span id="servertime"></span></p>

</div>
</TD>
</TR>
<TR>
<TD valign="top">
<div id="event_summary">
	<div id="tagcloud">
  <%= render(:partial => "shared/tag_cloud", :object=> @cloud) %>
</div>
</div>
</TD>
</TR>
</TABLE>
<br />
<script type="text/javascript">
//configuración del calendario:   
  //the array with the dates to highlight:  
  <%=EventDatetime.array_calendar%>   
</script>
<%= javascript_include_tag("calendar_config") %>

<script type="text/javascript">
var calendar = Calendar.setup(
    {
      flat         : "calendar-container", // ID of the parent element
      flatCallback : dateChanged,           // our callback function  
      firstDay     : 1,
	  //showsTime    : true,
      dateStatusFunc : ourDateStatusFunc,
      date         : new Date    }
  );
</script>





  