<% menu :events %>
<% atom_link_header(space, Event.new) %>

<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.timeentry','jquery.mousewheel','jquery.filestyle', 'user_filter','jquery.ba-url' %>
  <%= javascript_include_tag 'jquery.jeditable', 'jquery.filestyle', 'jquery.fcbkcomplete' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %> 
<%end%>

<% content_for :javascript do %>	
  <%= render :partial => 'date_and_timepicker.js.erb' %>	
  <%= render :partial => 'agenda_entries/timepicker.js.erb' %>

	style_file_input();
	
	$("#event_description_title").click(function(){
	  $("#event_description_content").toggle("slow");
	  $("#event_description_title .jqueryToggle").toggle();
	});
	
	$("#agenda_title_partial").click(function(){
	  $("#agenda_content").toggle("slow");
	  $("#agenda_title_partial .jqueryToggle").toggle();
	});
	
	$("#repository_title").click(function(){
	  $("#repository_content").toggle("slow");
	  $("#repository_title .jqueryToggle").toggle();
	});
	
	$("#streaming_title").click(function(){
	  $("#streaming_content").toggle("slow");
	  $("#streaming_title .jqueryToggle").toggle();
	});
	
	<%if @event.future? && !@event.authorize?(:update, :to => current_user)%>
	  $("#streaming_content").hide();
	<%end%>
	
	$("#change_logo").click(function(){
	  $('#assistance_info').hide();
	  $('#new_reply').hide();	
	  $('#carrusel').hide();  
	  $("#update_logo").show();
	  $("#update_logo").effect("highlight", {color:"#F5DF51"}, 3000);
	});
	
	$(".event_image").click(function(){
	  $("#change_logo").click();
	});

	
   <%if event.authorize?(:update, :to => current_user)%> 
     $('#event_description_content form input').livequery("blur",function(){
       $('#edit_description_icon').show();
     });
   
     edit_description = function(){
       $('#event_description_content').dblclick();
     };	 
	 
	   $('#event_description_content').editable('<%=space_event_path(@space, @event)%>',{
        method : 'PUT',
	      tooltip   : '<%= t('dblclick')%>',
        cancel    : '<%= t('cancel')%>',
        submit    : '<%= t('ok')%>',
        indicator : '<img src="ui/icons/accept.png" />',
        placeholder: '<%=t("event.description.none")%> <%=link_to_function t('event.description.add'), "edit_description()", :id => "add_description_link"%>',
        type      : 'textarea',
        name : 'event[description]',
        width : 635,
	      height: 150,
	      event: "dblclick",
	      data: function(value, settings) {
            /* Convert <br> to newline. */
            var retval = value.replace(/<br[\s\/]?>/gi, '');
            retval = retval.replace(/<p[\s\/]?>/gi, '');
            retval = retval.replace(/<\/p[\s\/]?>/gi, '');
            return retval;
        },
        submitdata : {authenticity_token: "<%=form_authenticity_token()%>"},
     });	 
     
   <%end%>
   
   request_video = function(agenda_entry_id){
	   var route = "<%= space_event_agenda_agenda_entries_path(@space, @event) %>" + "/" + agenda_entry_id + "?embedded_video=true";
       $.get(route,{
          authenticity_token: "<%=form_authenticity_token()%>"
          }, function(data){ 		         
		      $("#video_preview" + agenda_entry_id).hide();
			  $("#video_hide" + agenda_entry_id).show();
		      $("#agenda_entry_video" + agenda_entry_id).html(data);
          });
	 };
	 
	 hide_video = function(agenda_entry_id){
	   $("#video_hide" + agenda_entry_id).hide();
	   $("#agenda_entry_video" + agenda_entry_id).html("");
	   $("#video_preview" + agenda_entry_id).show();	   
	 };
	 
	 $(".play_icon").livequery('click',function(){
	   $(this).siblings("a").click();

	 });
	 
	 request_video_in_recordings = function(agenda_entry_id){
	   var route = "<%=space_event_path(@space, @event)%>"+ "?show_video=" + agenda_entry_id;
	   document.location = route;
	   //var route = "<%= space_event_agenda_agenda_entries_path(@space, @event) %>" + "/" + agenda_entry_id;
       //$.get(route,{
       //   authenticity_token: "<%=form_authenticity_token()%>"
       //   }, function(data){ 		         
	   //	      $("#videos").html(data);
       //   });
	 };	 
	 
	 show_share_url = function(){
	   $('.url_share').show();
	 };
	 
	 $('#help_add_entry').click(function(){
	   $('#add_entry0').click();
	 });
<% end %>


<% content_for :sidebar do  %>
  <div id="full_sidebar">
  	<%if event.authorize?(:update, :to => current_user) %>
         <div id="update_logo" class="update_logo" style="display:none">
           <h3><%=@event.logo ? t('event.logo.select') : t('event.logo.new') %></h3>
           <% form_for :event_logo, :url => space_event_logo_path(@space, @event), :html => { :multipart => true, :method => :put} do |f| %>
             <div><%= f.file_field :media, :id => 'logo_media' %></div>   
             <div class="margin-up"><button type="submit" class="basic_button blue_button"><%=t("button.update")%></button></div>
           <%end%>
         </div>
     <%end%>
  	<%if params[:show_video]%>
	  <%= render :partial => "agendas/show_recordings_sidebar" %>
	<%else%>
      <%if @space.authorize?([:create, :content],:to => current_user)%>
  	    <%if params[:edit_event]%>
     	   <%=render :partial => 'edit_event', :locals => {:event => @event_to_edit}%>
	    <%elsif params[:edit_comment]%>
	       <%=render :partial => 'edit_comment', :locals => {:post => Post.find(params[:edit_comment])}%>	  
	    <%else%>
		  <%= render :partial => 'participants' %>
	      <%unless @event.vc_mode==Event::VC_MODE.index(:in_person)%>
		    <%= render :partial => 'connection_info'%>
		  <%end%>
  	    <%end%>
      <%end%>
	<%end%>    
  </div>  
<%end%>


<% content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

  <%= error_messages_for :agenda_entry %>

  <%if current_user==@event.author%>
    <div class="success">
		<strong><%=t('event.help.now')%></strong><br/>
		<ul id="event_help">
		<li><a href='#' id="help_add_entry"><%=t('event.help.define')%> <%=t('event.help.creating_entries')%> <%=t('event.help.in_agenda')%></a><br/></li>
		<li><%= link_to t('event.help.invite'), space_event_path(@space, @event, :new_invitations => @event), {:id=>"show_inv_link",:title => t('invitation.add_more')} %></li>
		<li><%= link_to_function t('event.help.description'), "edit_description()" %></li>		
		<li><%= link_to t('event.help.edit'), space_event_path(@space, event, :edit_event => event) %></li>
		</ul>
    </div>
  <%end%>

  <div id="event_card_show">
    <%= render :partial => "event_card_show" %>
  </div>

  <div id="for_lightbox" style="display:none"></div>

  <%if params[:new_invitations]%>
  
	 <%=render :partial => 'new_invitations', :locals => {:checked_users => Array.new} %>
	 
  <%elsif params[:show_repository]%>
     <div id="event_repo" class="margin-up">
	    <div id="repository_title">
	    	<h3 class="blue">
	    		<div><%=image_tag("down.png",:class=>"jqueryToggle")%><%=image_tag("right.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
				<%=t('event.repository.title')%>
			</h3>
		</div>
	    <div id="repository_content">
	      <span><%=t('event.repository.help')%></span>
	      <%= render :partial => "attachments/doc_table", :locals => {:interactive => false} %>
	    </div>
	  </div>
  
  <%elsif params[:show_video]%>
     <div id="event_recordings" class="margin-up">
	    <div id="recordings_title"><h3 class="blue"><%=t('event.recording.one')%></h3></div>
	    <div id="recordings_content">
	      <%= render :partial => "agendas/show_recordings" %>
	    </div>
	  </div>
  <%else%>

	  <%unless @event.past?%>
	    <%=render :partial => "external_streaming"%>
	  <%end%>
	
	  <%if @event.agenda.present?%>
	    <div id="agenda_full" class="margin-up">      
	      <div id="agenda_title">
	      	<%= link_to t('event.agenda.download'), generate_pdf_space_event_agenda_path(@space, @event), :method => :get,:class=>"group_links" %>
	      	<h3 id="agenda_title_partial" class="blue">
			    <div><%=image_tag("down.png",:class=>"jqueryToggle")%><%=image_tag("right.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
			    <%=t('agenda.title')%> 
			    <span class="main_text"><%= t('timezone.one') %>: <%=Time.zone%></span>
			</h3>
		  </div>
	      <div id="agenda_content">
	        <%= render :partial => "agendas/edit" %>
	      </div>
	    </div>
	  <%end%>	   	  	   
  <%end%>
 
<%unless @comments.empty?%> 
	<div>
		<h3 class="selector_title"><%= t('comment.other') %></h3>
		
			<% for post in @comments %>
				<%= render :partial => 'event_comment' , :locals => {:post => post}%>
		  <%end%>
				
				
			<%if @space.authorize?([:create, :content],:to => current_user)%>
					<div class="add-new-comment">
						<%=link_to t('comment.add_new'), space_event_path(@space, @event), { :title => t('comment.add_new') } %>
					</div>
			<%end%>
	
			<div id="paginate">
			      <%= will_paginate @comments%>
			</div>
	</div>
<%end%>
