<% menu :events %>
<% atom_link_header(space, Event.new) %>

<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.timeentry','jquery.mousewheel','jquery.filestyle' %>
<%end%>

<% content_for :javascript do %>
  <%= render :partial => 'date_and_timepicker.js.erb' %>
	
	style_file_input();
	
	$("#space_search").click(function(){
	  if(this.value == "Search Events..."){
		  this.value="";
		}
	});
<% end %>

<%if @space.authorizes?([:create, :content],:to => current_user)%>
	<% content_for :sidebar do  %>
  	<%if params[:edit_event]%>
    	<%@event = Event.find(params[:edit_event])%>
    	<%=render :partial => 'edit_event'%>
		<%elsif params[:edit_comment]%>
		  <%=render :partial => 'edit_comment', :locals => {:post => Post.find(params[:edit_comment])}%>
		<%else%>
		  <%=render :partial => 'new_comment', :locals => {:post => @event_to_show.post}%>
  	<%end%>
	<%end%>
<%end%>

<% content_for :search do  %>
  <% form_tag(search_events_path(@space)) do %>
     <%= text_field_tag 'space_search',(params[:query] ? params[:query] :  "Search Events...")%>
	   <%= image_submit_tag "buttons/search.png"%>
	   <div id="advanced">
	     <%= link_to 'Advanced', advanced_search_events_path(@space) %>
     </div>
   <% end %>
<%end%>

 
<div class="single_event">
    <ul class="group_links">
      <li><%=link_to image_tag("./icons/pencil.png", :alt => "edit") , space_event_path(@space,@event_to_show,:edit_event => @event_to_show), :title => "edit" if @event_to_show.authorizes?(:update, :to => current_user) %></li>
	  <li><%=link_to image_tag("./icons/cross.png", :alt => "delete") , space_event_path(@space, @event_to_show),{:method => :delete, :title => "destroy"} if @event_to_show.authorizes?(:delete, :to => current_user) %></li>
    </ul>
    <p><%=image_tag("icons/date.png",:class=>"icon")%> <strong><%=sanitize(@event_to_show.title)%></strong><span class="updated"> Updated <%=sanitize(time_ago_in_words(@event_to_show.updated_at))%> ago</span></p>
    <ul>
		<%if @event_to_show.start_date.to_date == @event_to_show.end_date.to_date %>
      <li class="date"><%=sanitize(@event_to_show.start_date.to_date.to_formatted_s(:short))%> <%=@event_to_show.start_date.to_time.to_formatted_s(:time)%> - <%=@event_to_show.end_date.to_time.to_formatted_s(:time)%></li>
    <%else%>
      <li class="date"><%=sanitize(@event_to_show.start_date.to_formatted_s(:short))%> - <%=sanitize(@event_to_show.end_date.to_formatted_s(:short))%></li>
    <%end%>
		<li class="author"> Organizer: <%=@event_to_show.author.authorizes?([:read, :profile],:to=> current_user) ? link_to(@event_to_show.author.name,user_profile_path(@event_to_show.author)): sanitize(@event_to_show.author.name)%></li>
		<%if @event_to_show.isabel_event%>
			<li class=""> This event will be held with <%= link_to 'Isabel', 'http://isabel.dit.upm.es'%></li>
		<%elsif @event_to_show.marte_event%>
			<li class=""> Follow this event  <%= link_to 'online', space_event_path(@space, @event_to_show, :show_conference => true)%></li>
		<%end%>
		
		<li> Description: <%=sanitize(@event_to_show.description)%></li>
    </ul>
 </div>

<h3>Comments</h3>

<% for post in @comments %>
  <%if current_user.fellows.include?(post.author) or space.authorizes?([:read, :performance],:to=> current_user)%>
  <div class="post-title">
    <h3><%= link_author(post, :size => 16, :url => user_profile_path(post.author)) %></h3>
  </div>
  <div class="group_links">
    <ul class="edit-post">
      <li><%=link_to(image_tag("icons/comment-edit.png", :alt => "edit comment"), space_event_path(@space, @event_to_show, :edit_comment=>post.id),{:name => post.id, :class => 'edit_post_link', :title => "edit comment"}) if post.authorizes?(:update, :to => current_user)%></li>
    </ul>
  </div>
  <%else%>
  <p><%=logo(post.author, :size=>16)%> <%=post.author.name%></p>
  <%end%>
	<div>
  <p>
   <%for attachment in post.attachments%>
      <%if attachment.post_thumbnail%>
        <%=image_tag(space_attachment_path(@space,attachment.post_thumbnail()))%>
      <%else%>
        <%=image_tag(logo_path(attachment, :size => 32))%> <%=attachment.get_size()%> <%= link_to("Download file  " , space_attachment_path(@space,attachment))%>
      <%end%> 
   <%end%>
   </p>
   <p>
   <%=sanitize(post.text)%>
   </p>
  </div>
<%end%>
<div id="paginate">
      <%= will_paginate @comments%>
</div>
