<% menu :events %>
<% atom_link_header(space, Event.new) %>

<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.timeentry','jquery.mousewheel','jquery.filestyle', 'user_filter' %>
<%end%>

<% content_for :javascript do %>	
  <%= render :partial => 'date_and_timepicker.js.erb' %>
	
	style_file_input();
	
	$("#query").click(function(){
	  if(this.value == "Search events..."){
		  this.value="";
		}
	});
	
<% end %>


<% content_for :sidebar do  %>
    <div id="full_sidebar">
      <%if @space.authorize?([:create, :content],:to => current_user)%>
  	 <%if params[:edit_event]%>
     	   <%=render :partial => 'edit_event', :locals => {:event => @event_to_edit}%>
	 <%elsif params[:edit_comment]%>
	   <%=render :partial => 'edit_comment', :locals => {:post => Post.find(params[:edit_comment])}%>
	 <%elsif params[:new_invitations]%>
	   <%=render :partial => 'new_invitations', :locals => {:checked_users => Array.new} %>
	 <%else%>
	   <%= render :partial => 'participants' %>
	   <%= render :partial => 'new_comment'%>
  	<%end%>
     <%end%>
   </div>
<%end%>


<% content_for :search do  %>
  <% form_tag(search_events_path(@space)) do %>
     <%= text_field_tag  'query',(params[:query] ? params[:query] : t('event.search') ) %>
	   <button type="submit"><%=t("button.go")%></button>
	   <div id="advanced">
	     <%= link_to t('advanced'), advanced_search_events_path(@space) %>
     </div>
   <% end %>
<%end%>

 
<%= render :partial => "event_card_show" %>

<%unless @comments.empty?%> 
	<div>
		<h3 class="selector_title"><%= t('comment.other') %></h3>
		
			<% for post in @comments %>
				<%= render :partial => 'event_comment' , :locals => {:post => post}%>
		  <%end%>
				
				
			<%if @space.authorize?([:create, :content],:to => current_user)%>
					<div class="add-new-comment">
						<%=link_to t('comment.add_new'), space_event_path(@space, @event), { :title => t('comment.add_new') } %>
					</div>
			<%end%>
	
			<div id="paginate">
			      <%= will_paginate @comments%>
			</div>
	</div>
<%end%>
