<% menu :events %>
<% atom_link_header(space, Event.new) %>

<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.timeentry','jquery.mousewheel','jquery.filestyle', 'user_filter','jquery.ba-url' %>
  <%= javascript_include_tag 'jquery.jeditable', 'jquery.filestyle', 'jquery.fcbkcomplete' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %> 
<%end%>

<% content_for :javascript do%>
  <%= render :partial => 'events_javascript.js' %>
<% end %>

<% content_for :sidebar do  %>

  <div id="full_sidebar">
   	<%if params[:show_video]%>
	   <%= render :partial => "agendas/show_recordings_sidebar" %>
	  <%else%>

      <%if @space.authorize?([:create, :content],:to => current_user)%>
  	   <%if params[:edit_event]%>
     	   <%=render :partial => 'edit_event', :locals => {:event => @event_to_edit}%>
	     <%elsif params[:edit_comment]%>
			   <%= render :partial => "posts/edit_post", :locals => { :post => Post.find(params[:edit_comment]) } %>	  
	     <%else%>
		     <%= render :partial => 'participants' %>
	       <%unless @event.vc_mode==Event::VC_MODE.index(:in_person)%>
		       <%= render :partial => 'connection_info'%>
		     <%end%>
  	   <%end%>
      <%end%>
	  <%end%>  
        
		<%if event.authorize?(:update, :to => current_user) %>
      <div id="update_logo" class="update_logo margin-up" style="display:none">
        <h3><%=@event.logo ? t('event.logo.select') : t('event.logo.new') %></h3>
	       <div class="logo_content">
					<% form_for :event_logo, :url => space_event_logo_path(@space, @event), :html => { :multipart => true, :method => :put} do |f| %>
	          <div><%= f.file_field :media, :id => 'logo_media' %></div>   
	          <div class="margin-up"><button type="submit" class="basic_button blue_button"><%=t("button.update")%></button></div>
	        <%end%>
				 </div>
      </div>
      <div id="import_icalendar" class="import_icalendar margin-up"  style="display:none" >
        <h3><%=t("icalendar.import") %></h3>
        <div class="icalendar_content">
					<p><%=t("icalendar.instruction") %></p>
					<% form_for @event.agenda, :url => space_event_agenda_path(@space, event),:html => { :multipart => true, :method => :post } do |f| %>
	          <%= f.file_field :icalendar_file %>
	          <div class="margin-up">
				<button type="submit" class="basic_button blue_button"><%=t("icalendar.add")%></button>
	          </div>
	        <% end %>
				</div>
      </div>
    <%end%>
	</div> 
   
<%end%>


<% content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

  <%= error_messages_for :agenda_entry %>

  <%if current_user==@event.author && !params[:show_repository] && !params[:show_video]%>
    <div class="success">
			<strong><%=t('event.help.now')%></strong><br/>
			<ul id="event_help">
				<li><a href='#' id="help_add_entry"><%=t('event.help.define')%> <%=t('event.help.in_agenda')%></a><br/></li>
				<li><%= link_to t('event.invite'), space_event_path(@space, @event, :new_invitations => @event), {:id=>"show_inv_link",:title => t('invitation.add_more')} %></li>
				<li><%= link_to_function t('event.help.description'), "edit_description()" %></li>		
				<li><%= link_to t('event.help.edit'), space_event_path(@space, event, :edit_event => event) %></li>
			</ul>
    </div>
  <%end%>

  <div id="event_card_show">
    <%= render :partial => "event_card_show" %>
  </div>

  <div id="for_lightbox" style="display:none"></div>

  <%if params[:new_invitations]%>
	 <%=render :partial => 'new_invitations', :locals => {:checked_users => Array.new} %>

  <%elsif params[:notification]%>
   <%=render :partial => 'notification', :locals => {:checked_attendants => Array.new} %>

  <%elsif params[:show_repository]%>
     <div id="event_repo" class="margin-up">
	    <div id="repository_title">
	    	<h3 class="blue">
	    		<div><%=image_tag("down.png",:class=>"jqueryToggle")%><%=image_tag("right.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
				<%=t('event.repository.title')%>
			</h3>
		</div>
	    <div id="repository_content">
	      <span><%=t('event.repository.help')%></span>
	      <%= render :partial => "attachments/doc_table", :locals => {:interactive => false} %>
	    </div>
	  </div>
  
  <%elsif params[:show_video]%>
     <div id="event_recordings" class="margin-up">
	    <div id="recordings_title"><h3 class="blue"><%=t('event.recording.one')%></h3></div>
	    <div id="recordings_content">
	      <%= render :partial => "agendas/show_recordings" %>
	    </div>
	  </div>
  <%else%>
      <%unless @event.vc_mode == Event::VC_MODE.index(:in_person)%>
	    <%unless (@event.past? && !@event.agenda.has_entries_with_video?) %>
	      <%=render :partial => "cm_streaming"%>
	    <%end%>
	  <%end%>
	  
	  <%if @event.agenda.present?%>
	    <div id="agenda_full" class="margin-up">      
	      <div id="agenda_title">
          <%= link_to t('event.agenda.download'), space_event_path(@space, @event, :format => :pdf), :class=>"group_links" %>
					<%= link_to t('icalendar.export'), space_event_path(@space, @event, :format => :ics), :class=>"group_links" %>
          <!-- <%=image_tag("pdf.png",:size => "30x30", :class=>"jqueryToggle")%>	-->

	      	<h3 id="agenda_title_partial" class="blue">
            <div><%=image_tag("down.png",:class=>"jqueryToggle")%><%=image_tag("right.png",:style=>"display:none",:class=>"jqueryToggle")%></div>
            <%=t('agenda.title')%> 
            <span class="main_text"><%= t('timezone.one') %>: <%=Time.zone%></span>
          </h3>
        </div>
	      <div id="agenda_content">
	        <%= render :partial => "agendas/edit" %>
	      </div>
	    </div>
	  <%end%>
		
  <%end%>
 
<%unless @comments.empty?%> 
	<div>
		<h3 class="selector_title"><%= t('comment.other') %></h3>
		
			<% for post in @comments %>
				<%= render :partial => 'event_comment' , :locals => {:post => post}%>
		  <%end%>
				
				
			<%if @space.authorize?([:create, :content],:to => current_user)%>
					<div class="add-new-comment">
						<%=link_to t('comment.add_new'), space_event_path(@space, @event), { :title => t('comment.add_new') } %>
					</div>
			<%end%>
	
			<div id="paginate">
			      <%= will_paginate @comments%>
			</div>
	</div>
<%end%>
