<% menu :events %>
<% atom_link_header(space, Event.new) %>

<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.timeentry','jquery.mousewheel','jquery.filestyle' %>
<%end%>

<% content_for :javascript do %>
  <%= render :partial => 'date_and_timepicker.js.erb' %>
	
	style_file_input();
	
	$("#query").click(function(){
	  if(this.value == "Search Events..."){
		  this.value="";
		}
	});
<% end %>

<%if @space.authorizes?([:create, :content],:to => current_user)%>
	<% content_for :sidebar do  %>
  	<%if params[:edit_event]%>
    	<%=render :partial => 'edit_event', :locals => {:event => @event_to_edit}%>
		<%elsif params[:edit_comment]%>
		  <%=render :partial => 'edit_comment', :locals => {:post => Post.find(params[:edit_comment])}%>
		<%else%>
		  <%=render :partial => 'new_comment'%>
  	<%end%>
	<%end%>
<%end%>

<% content_for :search do  %>
  <% form_tag(search_events_path(@space)) do %>
     <%= text_field_tag 'query',(params[:query] ? params[:query] :  "Search Events...")%>
	   <%= image_submit_tag "buttons/search.png"%>
	   <div id="advanced">
	     <%= link_to 'Advanced', advanced_search_events_path(@space) %>
     </div>
   <% end %>
<%end%>

 
<div class="single_event">
    <ul class="group_links">
    	<li><%=link_to image_tag("icons/comments-add.png",:alt => "comment" ), space_event_path(@space,@event),{:title => "Add a new comment"}if @space.authorizes?([:create, :content],:to => current_user)%></li>
      <li><%=link_to image_tag("./icons/pencil.png", :alt => "edit") , space_event_path(@space,@event,:edit_event => @event), :title => "edit" if @event.authorizes?(:update, :to => current_user) %></li>
	  	<li><%=link_to image_tag("./icons/cancel.png", :alt => "delete") , space_event_path(@space, @event),{:method => :delete, :title => "destroy"} if @event.authorizes?(:delete, :to => current_user) %></li>
    </ul>
    <p><%=image_tag("icons/date.png",:class=>"icon")%> <span class="event-name"><%=sanitize(@event.title)%></span><span class="updated"> Created <%=sanitize(time_ago_in_words(@event.created_at))%> ago</span></p>
    <ul>
		<%if @event.start_date.to_date == @event.end_date.to_date %>
      <li class="date"><%=sanitize(@event.start_date.to_date.to_formatted_s(:short))%> <%=@event.start_date.to_time.to_formatted_s(:time)%> - <%=@event.end_date.to_time.to_formatted_s(:time)%> (GMT <%= Time.zone.formatted_offset%>)</li>
    <%else%>
      <li class="date"><%=sanitize(@event.start_date.to_formatted_s(:short))%> - <%=sanitize(@event.end_date.to_formatted_s(:short))%> (GMT <%= Time.zone.formatted_offset%>)</li>
    <%end%>
		<li class="author"> Organizer: <%=@event.author.authorizes?([:read, :profile],:to=> current_user) ? link_to(@event.author.name,user_profile_path(@event.author)): sanitize(@event.author.name)%></li>
		<%if @event.isabel_event%>
			<li class=""> This event will be held with <%= link_to 'Isabel', 'http://isabel.dit.upm.es'%></li>
		<%elsif @event.marte_event && (@event.end_date > Time.now)%>
			<li class=""> Follow this event  <%= link_to 'online', space_event_path(@space, @event, :show_conference => true)%></li>
		<%end%>
		
		<li> Description: <%=sanitize(@event.description)%></li>
    </ul>
 </div>
<%unless @comments.empty?%> 
	<div>
		<h3 class="selector_title">Comments</h3>
		
			<% for post in @comments %>
				<%= render :partial => 'event_comment' , :locals => {:post => post}%>
		  <%end%>
				
				
			<%if @space.authorizes?([:create, :content],:to => current_user)%>
					<div class="add-new-comment">
						<%=link_to "add a new comment", space_event_path(@space,@event),{:title => "Add a new comment"}%>
					</div>
			<%end%>
	
			<div id="paginate">
			      <%= will_paginate @comments%>
			</div>
	</div>
<%end%>
