<%if params[:participation_by_ajax]%>
  <%if !user_signed_in?%>
      <p class="note"><%= t('register.and_participate_description') %></p>
	  <%= link_to "<span>" + t('register.and_participate') + "</span>",register_path("user[special_event_id]" => (@event.id).to_s) ,:class => "register_link"%>
	  <%= t('register.or_choose') + " " %>  <%= link_to t('register.back_to_streaming'),space_event_path(@space, @event, :show_streaming => true) %>
  <%elsif @event.is_virtual? && !@event.has_session_now?%>
      <div class="video_wrapper">
        <%=image_tag("visor_video.png")%>
		<span><%=t('event.note.participation')%></span>
	  </div>
  <%elsif @event.is_virtual? %>
      <%= @event.web current_user.login %>
  <%elsif (@event.other_participation_url== nil || @event.other_participation_url=="") && !@event.authorize?(:update, :to => current_user)%>
	  <%=t("event.participation.none")%>
  <%else%>
      <div id="participation_url_value"><%=@event.other_participation_url%></div>	 
  <%end%>
<%elsif params[:streaming_by_ajax]%>
    <%if @event.is_virtual? && !@event.has_session_now?%>
	  <div class="video_wrapper">
	    <%=image_tag("visor_video.png")%>
	    <span><%=t('event.note.streaming')%></span>
	 </div>
	<%elsif @event.is_virtual?%>
	   <%= @event.streaming(640, 480, 'flash')%>
	<%elsif (@event.other_streaming_url== nil || @event.other_streaming_url=="") && !@event.authorize?(:update, :to => current_user)%>
	    <%=t("event.streaming.none")%>
	<%else%>
	  <div id="streaming_url_value"><%=@event.other_streaming_url%></div>
	<%end%>
<%end%>