<% menu :events %>
<% atom_link_header(space, Event.new) %>

<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.timeentry','jquery.mousewheel','jquery.filestyle', 'user_filter','jquery.ba-url' %>
  <%= javascript_include_tag 'jquery.jeditable', 'jquery.filestyle', 'jquery.fcbkcomplete' %>
<%end%>

<% content_for :javascript do %>	
  <%= render :partial => 'date_and_timepicker.js.erb' %>	
  <%= render :partial => 'agenda_entries/timepicker.js.erb' %>

	style_file_input();
	
	$("#event_description_title").click(function(){
	  $("#event_description_content").toggle("slow");
	});
	
	$("#agenda_title").click(function(){
	  $("#agenda_content").toggle("slow");
	});
	
	$("#repository_title").click(function(){
	  $("#repository_content").toggle("slow");
	});
	
	$("#streaming_title").click(function(){
	  $("#streaming_content").toggle("slow");
	});
	
	<%if @event.future? && !@event.authorize?(:update, :to => current_user)%>
	  $("#streaming_content").hide();
	<%end%>
	
	$("#change_logo").click(function(){
	  $('#assistance_info').hide();
	  $('#new_reply').hide();
	  $('#questions').hide();
	  $("#update_logo").show();
	  $("#update_logo").effect("highlight", {color:"#F5DF51"}, 3000);
	});
	
	$(".event_image").click(function(){
	  $("#change_logo").click();
	});

	
   <%if event.authorize?(:update, :to => current_user)%> 
     $('#event_description_content').editable('<%=space_event_path(@space, @event)%>',{
        method : 'PUT',
	      tooltip   : '<%= t('dblclick')%>',
        cancel    : '<%= t('cancel')%>',
        submit    : '<%= t('ok')%>',
        indicator : '<img src="ui/icons/accept.png" />',
        placeholder: '<%=t("event.description.none")%> <%=link_to_function t('event.description.add'), "edit_description()", :id => "add_description_link"%>',
        type      : 'textarea',
        name : 'event[description]',
        width : 490,
	      height: 250,
	      event     : "dblclick",
	      data: function(value, settings) {
            /* Convert <br> to newline. */
            var retval = value.replace(/<br[\s\/]?>/gi, '');
            retval = retval.replace(/<p[\s\/]?>/gi, '');
            retval = retval.replace(/<\/p[\s\/]?>/gi, '');
            return retval;
        },
        submitdata : {authenticity_token: "<%=form_authenticity_token()%>"},
     });
	 
     $('#event_description_content form input').livequery("blur",function(){
       $('#edit_description_icon').show();
     });
   
     edit_description = function(){
       $('#event_description_content').dblclick();
     };	 
   <%end%>
   
   request_video = function(agenda_entry_id){
	   var route = "<%= space_event_agenda_agenda_entries_path(@space, @event) %>" + "/" + agenda_entry_id;
       $.get(route,{
          authenticity_token: "<%=form_authenticity_token()%>"
          }, function(data){ 		         
		      $("#video_preview" + agenda_entry_id).hide();
			  $("#video_hide" + agenda_entry_id).show();
		      $("#agenda_entry_video" + agenda_entry_id).html(data);
          });
	 };
	 
	 hide_video = function(agenda_entry_id){
	   $("#video_hide" + agenda_entry_id).hide();
	   $("#agenda_entry_video" + agenda_entry_id).html("");
	   $("#video_preview" + agenda_entry_id).show();	   
	 };
	 
	 $(".play_icon").click(function(){
	   $(this).siblings("a").click();
	 });
<% end %>


<% content_for :sidebar do  %>
  <div id="full_sidebar">
  	<%= render :partial => 'participants' %>
    <%if @space.authorize?([:create, :content],:to => current_user)%>
  	  <%if params[:edit_event]%>
     	 <%=render :partial => 'edit_event', :locals => {:event => @event_to_edit}%>
	  <%elsif params[:edit_comment]%>
	     <%=render :partial => 'edit_comment', :locals => {:post => Post.find(params[:edit_comment])}%>	  
	  <%else%>
	   <%= render :partial => 'new_comment'%>
  	  <%end%>
    <%end%>
     <%if event.authorize?(:update, :to => current_user) %>
       <div id="update_logo" class="update_logo" style="display:none">
         <h3><%=@event.logo ? t('event.logo.select') : t('event.logo.new') %></h3>
         <% form_for :event_logo, :url => space_event_logo_path(@space, @event), :html => { :multipart => true, :method => :put} do |f| %>
           <div><%= f.file_field :media, :id => 'logo_media' %></div>   
           <div class="margin-up"><button type="submit" class="basic_button blue_button"><%=t("button.update")%></button></div>
         <%end%>
       </div>
     <%end%>
  </div>
<%end%>


<% content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

  <%= error_messages_for :agenda_entry %>

  <div id="event_card_show">
  <%= render :partial => "event_card_show" %>
  </div>

  <div id="for_lightbox" style="display:none"></div>

  <%if params[:new_invitations]%>
  
	 <%=render :partial => 'new_invitations', :locals => {:checked_users => Array.new} %>
	 
  <%else%>

	  <%unless @event.past?%>
	    <%=render :partial => "external_streaming"%>
	  <%end%>
	
	  <%if @event.agenda.present?%>
	    <div id="agenda_full" class="margin-up">      
	      <div id="agenda_title"><h3 class="blue"><%=t('agenda.title')%> <span class="main_text"><%= t('timezone.one') %>: <%=Time.zone%></span></h3></div>
	      <div id="agenda_content">
	        <%= render :partial => "agendas/edit" %>
			<br><br>
			<%= link_to t('event.generate_pdf'), generate_pdf_space_event_agenda_path(@space, @event), :method => :get %>
	      </div>
	    </div>
	  <%end%>
	   
	  <div id="event_repo" class="margin-up">
	    <div id="repository_title"><h3 class="blue"><%=t('event.repository')%></h3></div>
	    <div id="repository_content">
	    	<%= render :partial => 'attachments/tag_filter' %>
	      <%= render :partial => "attachments/doc_table" %>
	    </div>
	  </div>
	  
  <%end%>
 
<%unless @comments.empty?%> 
	<div>
		<h3 class="selector_title"><%= t('comment.other') %></h3>
		
			<% for post in @comments %>
				<%= render :partial => 'event_comment' , :locals => {:post => post}%>
		  <%end%>
				
				
			<%if @space.authorize?([:create, :content],:to => current_user)%>
					<div class="add-new-comment">
						<%=link_to t('comment.add_new'), space_event_path(@space, @event), { :title => t('comment.add_new') } %>
					</div>
			<%end%>
	
			<div id="paginate">
			      <%= will_paginate @comments%>
			</div>
	</div>
<%end%>
