<%menu(:events)%>

<% content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<div id="stats_header">
  <div id="header_left">
    <div id="stats_title"><h3><%= t("event.stats.title1", :event=>@event.name)%></h3></div>
    <div class="main_text" id="stats_message">*<%= t("event.stats.message1")%></div>
  </div>
  <div class="button_wrapper" id="back_to_event_button">
	<%= link_to "<span>" + t('button.back_to_event') + "</span>", space_event_path(@space, @event),:class => "basic_button pale_button"%>
  </div>  
</div>

<br/>

<%=@event.webstats%>

<div class="button_wrapper">
	<%= link_to "<span>" + t('button.back_to_event') + "</span>", space_event_path(@space, @event),:class => "basic_button pale_button"%>
</div>