<div id="news_sidebar">

<h3><%= t('news.publish_home') %> <%=image_tag("icons/help.png",:title=>t("tooltip.news_item"),:size=>"16x16",:class=>"icon tooltipped upwards",:style=>"cursor:pointer")%></h3>

<%= form_for(News.new, :url => space_news_index_path(@space)) do |f| %>

  <p>
    <label for="title"><%= t('title') %>:</label><%= f.text_field :title, :class => "small_news_title" %>
  </p>

    <label for="text"><%= t('body') %>:</label><br/>
    <%= f.text_area :text, :class => "small_news_text"%>

  <div class="margin-up">
  <button type="submit" class="blue_button basic_button"><%=t('button.publish')%></button>
  </div>

  <%= link_to t('advanced_editor'), new_space_news_path(@space), :id => "big_new_news", :class => "extract_form" %>
  <%= image_tag("icons/help.png",:title=>t("tooltip.advanced_editor"),:size=>"16x16",:class=>"icon tooltipped upwards",:style=>"cursor:pointer")%>

<% end %>

</div>
