<div id="news_sidebar">

<%=link_to image_tag("arrow_right_up.png", :size=>"16x16",:title => t('show_advanced_editor')),  new_space_news_path(@space), :id => "big_new_news", :class => "extract_form" %>

<h3><%= t('news.publish_home') %></h3>

<% form_for(News.new, :url => space_news_index_path(@space)) do |f| %>
  
  <p>
    <label for="title"><%= t('title') %>:</label><%= f.text_field :title, :class => "small_news_title" %>
  </p>
  
    <label for="text"><%= t('description') %>:</label><br/>
    <%= f.text_area :text, :class => "small_news_text"%>

  <div class="margin-up">
	<%= image_submit_tag "buttons/create.png" %>
  </div>

<% end %>

</div>