.modal-header
  = modal_close_button
  %h3= t('news.publish_home')

= simple_form_for [@space, @news], :html => { :class => 'single-column' } do |f|
  .modal-body
    = f.input :title, :autofocus => true
    = f.input :text, :as => :text, :rows => 10
  .modal-footer
    = f.button :wrapped, t('_other.publish'), :class => "btn btn-primary", :cancel_modal => true
