%h1= t('news.publish_home')

= simple_form_for([@space, @news]) do |f|
  %label= t('title')
  = f.text_field :title
  %label= t('body')
  = f.text_area :text, :rows => 10
  .form-actions
    = f.submit :value => t('button.publish')
