<div id="news_big">

	<h3><%= t('news.publish_home') %></h3>
	
	<% form_for(:news, :url => space_news_index_path(@space)) do |f| %>
	  
	  <p>
	    <label for="title"><%= t('title') %>:</label><%= f.text_field :title, :class => "big_news_title" %>
	  </p>
	  
    <label for="text"><%= t('description') %>:</label><br/>
		<div id="big_textarea_div" >
      <%= f.text_area :text, :class => "big_news_text"%>
    </div>
		
	  <div class="margin-up">
		  <%= image_submit_tag "buttons/create.png" %>
	  </div>
	
	<% end %>

</div>