<div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%>Virtual Conference Centre > </span><%= t('news.publish_home') %></div>

<div id="news_big">

  <div id="feedback_form">
  	
	<!--<h3><%= t('news.publish_home') %></h3>-->
	
	<%= form_for(:news, :url => space_news_index_path(@space)) do |f| %>
	  
	  <div>
	    <label for="title"><%= t('title') %>:</label><br/>
		<%= f.text_field :title, :class => "big_news_title" %>
	  </div>

    <div class="margin-up"><label for="text"><%= t('body') %>:</label><br/></div>
	  
    <div id="big_textarea_div">
	  <%= f.text_area :text, :class => "big_news_text"%>
    </div>
		
	  <div class="margin-up">
	    <button class="blue_button basic_button" type="submit"><%=t("button.publish")%></button>
	  </div>
	
	<% end %>
  </div>
</div>