<div id="lightbox-logo"><span><%= image_tag("mconf_logo_small.png",:class=>"icon")%>Virtual Conference Centre > </span><%= t('news.edit') %></div>

<div id="news_big">

<!--<h3><%= t('news.edit') %></h3>-->

<div id="feedback_form">
	
<%= form_for(@edit_news, :url => space_news_path(@space, @edit_news)) do |f| %>
  
  <div>
    <label for="title"><%= t('title') %>:</label><br/>
	<%= f.text_field :title, :class => "big_news_title" %>
  </div>
  
  <div class=margin-up><label for="text"><%= t('description') %>:</label><br/></div>
  <div id="big_textarea_div" >
    <%= f.text_area :text, :class => "big_news_text"%>
  </div>
  <div class=margin-up>  
    <button class="blue_button basic_button" type="submit"><%=t("button.update")%></button>
	<%= link_to t('news.publish_another'), space_news_index_path(@space)%>
  </div>
<% end %>
</div>
</div>