- spaces_menu_at :admin
= render :partial => 'spaces/menu'

= content_for :sidebar do
  = render :partial => "form"

- spaces_admin_menu_at :news
= render :partial => 'spaces/admin_tabs'

- for news in @all_news
  = render 'unified_news', :news => news
