<% menu :admin %>
<% content_for :javascript do  %>
  $(".edit_news_link").livequery("click", function(){
    var route = $(this).attr("href");
    $(this).attr("href","#").addClass("clicked_edit_news_link");
    $.get(route,
            {authenticity_token: "<%=form_authenticity_token()%>"},
            function(data){
              $("#news_sidebar").replaceWith(data);
							$(".clicked_edit_news_link").attr("href",route).removeClass("clicked_edit_news_link");
            }
          );
  });
  
<% end %>

<% content_for :sidebar do %>
  <% if params[:edit_news]%>
	  <%= render :partial => 'edit_news' %>
	<% else %>
    <%= render :partial => 'create_news' %>
  <% end%>
<% end %>

<%= render :partial => 'spaces/admin_tabs' %>

<% for news in @news %>
  <div class="news-wrapper">
    <div class="news-title">
	  <ul class="group_links">
	  	<li><%=link_to image_tag("icons/pencil.png", :alt => "edit",:class=>"icon" ), edit_space_news_path(@space,news), {:title => "edit", :class => "edit_news_link"} if space.authorizes?(:update, :to => current_user)%></li>
		<li><%=link_to image_tag("icons/cancel.png", :alt => "delete",:class=>"icon" ), space_news_path(@space,news),{:method => :delete, :title => "delete" } if space.authorizes?(:delete, :to => current_user)%></li>
	  </ul>
  	  <h3>Title: <%=sanitize(first_words(news.title,50))%></h3>
    </div>
	<div class="news-content">
	  <p><%=sanitize(news.text)%></p>
	</div>
  </div>
<% end %>
