.content-block-wrapper
  .content-block
    #private-message-reply
      %h3
        = t('message.reply')
      = simple_form_for :private_message, :url => my_messages_path do |f|
        %label{:for => "To"}
          = t('message.to') + ": " + @receiver.name
        = f.hidden_field :parent_id, :value => @previous_message.id
        = f.hidden_field :receiver_id, :value => @previous_message.sender_id
        = f.input :title, :label => t('title'), :size => 25, :input_html => { :value => previous_message.title }
        = f.input :body, :as => :text, :label => t('body'), :input_html => { :value => '' }
        = f.button :submit, t('button.send'), :class => 'btn btn-primary'
