-# locals:
-#   private_message (PrivateMessage)
-#   target_user (User): user that is reading the message
-#   expanded (boolean)

- sender = User.with_disabled.find(private_message.sender_id)

.logo-in-thread
  = render 'user_logo', :user => sender

.thread-content
  - unless expanded
    %ul.thread-action-links.visible-on-hover{ :"data-hover-tracked" => "parent-#{private_message.id}" }
      %li= link_to t('open').downcase, message_path(private_message)
      - privatetitle = sanitize(private_message.title)
      %li= link_to t('remove').downcase, message_path(private_message, :private_message => {:deleted_by_receiver => true}), :data => { :confirm => t('delete.confirm', :element => privatetitle) }, :method => :delete, :title => t('delete.one')

  .thread-title
    - unless private_message.checked
      = icon_unread_message()
    - if private_message.sender_id.present?
      - if sender.disabled?
        %span.thread-author= sender.name
      - else
        = link_to(sender.name, user_path(sender), :class => "thread-author")

    = t('.wrote')

    = render 'message_title', expanded: expanded, private_message: private_message

  .thread-text
    = render 'message_text', expanded: expanded, private_message: private_message
