-# locals:
-#   private_message (PrivateMessage)
-#   target_user (User): user that is reading the message
-#   expanded (boolean)

- receiver = User.find_by_id_with_disabled(private_message.receiver_id)

.logo-in-thread
  - if receiver.disabled?
    = logo_image(receiver, :size => '32', :class => "logo logo-user")
  - else
    = raw(link_logo_image(receiver, :size => '32', :url => user_path(receiver), :title => receiver.username, :class => "logo logo-user"))

.thread-content
  - unless expanded
    %ul.thread-action-links.visible-on-hover{ :"data-hover-tracked" => "parent-#{private_message.id}" }
      - privatetitle = sanitize(private_message.title)
      %li= link_to t('open').downcase, my_message_path(private_message)
      %li= link_to t('remove').downcase, my_message_path(private_message, :private_message => {:deleted_by_sender => true}), :confirm => t('delete.confirm', :element => privatetitle), :method => :delete,:title => t('delete.one')

  .thread-title
    - unless private_message.checked
      = icon_unread_message({ :title => t("icons.unread_message_by_receiver") })
    - if expanded
      - sender = User.find_by_id_with_disabled(private_message.sender_id)
      - if sender.disabled?
        %span.thread-author= sender.name
      - else
        = link_to(sender.name, user_path(sender), :class => "thread-author")
    - else
      - if receiver.disabled?
        %span.thread-author= receiver.name
      - else
        = link_to(receiver.name, user_path(receiver), :class => "thread-author")
    = t('.wrote')
    - if expanded
      = sanitize(private_message.title)
    - else
      = link_to sanitize(private_message.title), my_message_path(private_message)
    %span.thread-updated-at
      - if Time.now.to_date == private_message.created_at.to_date
        = time_ago_in_words(private_message.created_at)
      - else
        = private_message.created_at.strftime("%d %b")

  .thread-text
    - if expanded
      = sanitize(auto_link(simple_format(private_message.body)))
    - else
      = sanitize(auto_link(simple_format(first_words(private_message.body, 100))))
