<h1><%= t('message.private.editing') %></h1>

<% form_for(@private_message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit t('update') %>
  </p>
<% end %>

<%= link_to t('show'), @private_message %> |
<%= link_to t('back'), private_messages_path %>
