- if params[:sent]
  - private_messages_menu_at :sent
- else
  - private_messages_menu_at :inbox

= render_page_title t('.title')
= render :partial => 'private_messages/menu'

- if @private_messages.blank?
  = t('message.private.none')

- else

  - @private_messages.each do |private_message|
    - cls = "thread #{cycle('thread-even', 'thread-odd')}"
    - cls = "#{cls} unread" unless private_message.checked
    .private-messages.thread{ :id => "parent-#{private_message.id}", :class => cls }
      - if params[:sent]
        = render :partial => "show_sent", :locals => { :private_message => private_message, :target_user => current_user, :expanded => false }
      - else
        = render :partial => "show_received", :locals => { :private_message => private_message, :target_user => current_user, :expanded => false }

  - if @private_messages.count > @page_size
    .content-block-footer
      = page_navigation_links @private_messages
