<% menu :inbox %>
<% content_for :javascript do  %>
  $(".message_link").attr('href', '#');
  $(".message_link").livequery('click', function() {
    $(this).parents(".message_div").find("div.message_content").toggle();
		if ($(this).parents(".message_div").hasClass("new")){
		  var route = "/users/<%=params[:user_id]%>/messages/" + $(this).parents(".message_div").attr("id")
		  $.post(route, { _method: "put", authenticity_token: "<%=form_authenticity_token()%>", 'private_message[checked]': "true" },  function(data){eval(data);}, "script");
	  }
  }); 
<%end%>

<% content_for :sidebar do  %>
  <%if params[:reply_to] %>
	  <%= render :partial => "reply_private_message", :locals => { :previous_message =>  PrivateMessage.find(params[:reply_to])}%>
	<%else%>
      <%= render :partial => "new_private_message", :locals => { :checked_users =>  Array.new}%>
	<%end%>
<%end%>
<div id="inbox-wrapper">
<ul id="inbox">
	<li><%=link_to t('message.incoming.other') ,user_messages_path(params[:user_id]),:class=>"#{!params[:sent_messages] ? 'selected' : ''}"  %></li> 
	<li><%=link_to t('message.sent.other') ,user_messages_path(params[:user_id],:sent_messages => true), :class=>"#{params[:sent_messages] ? 'selected' : ''}"  %></li>
</ul>	
</div>

<div id="show-posts">
<%if @private_messages.blank?%>
  <%= t('message.private.none') %>
<%else%>

	<% for private_message in @private_messages %>
	  <div <%if !params[:sent_messages] && !private_message.checked%>class="message_div new"<%else%>class="message_div"<%end%> id="<%=private_message.id%>">
		  <div class="message_header">
			<table><tbody>
			<tr>
				<% if params[:sent_messages] %>
					<%@receiver = User.find_with_disabled(private_message.receiver_id) %>
		      <td class="picture"><%= @receiver.disabled? ? logo(@receiver, :size => 32) : link_logo(@receiver,:size=>32, :url => user_profile_path(@receiver))%></td>
					<td class="name_date">
					  <span class="name"><%=@receiver.disabled? ? @receiver.name : link_to (@receiver.name, user_profile_path(@receiver))%></span>
					  <span class="date"><%=((Time.now.to_date == private_message.created_at.to_date) ? time_ago_in_words(private_message.created_at) + " ago" : private_message.created_at.strftime("%d %b"))%></span>
					</td> 
		    <% else%>
					<%@sender = User.find_with_disabled(private_message.sender_id)%>
			    <td class="picture"><%= @sender.disabled? ? logo(@sender, :size => 32) : link_logo(@sender,:size=>32, :url => user_profile_path(@sender), :title=>@sender.login)%></td>
					<td class="name_date">
						<span class="name"><%=@sender.disabled? ? @sender.name : link_to (@sender.name, user_profile_path(@sender))%></span>
					  <span class="date"><%=((Time.now.to_date == private_message.created_at.to_date) ? time_ago_in_words(private_message.created_at) + " ago" : private_message.created_at.strftime("%d %b"))%></span>
					</td>
		    <% end%>
					<td class="subject">
						<div>
							<span class="topic"><%= t('subject') %>: <%=link_to sanitize(private_message.title), user_message_path(params[:user_id], private_message), :class => "message_link"%></span>
							<!--<span><%= sanitize(private_message.body)%></span>-->							
						</div>
					</td>
					<td class="reply"><%=link_to image_tag("icons/comments-add.png", :alt => t('reply') ), user_messages_path(params[:user_id], :reply_to => private_message), :title => t('reply') unless params[:sent_messages]%></td>
		        <% if params[:sent_messages] %>
		          <td class="delete"><%= link_to image_tag("icons/cancel.png", :alt => t('delete.one') ), user_message_path(params[:user_id],private_message, :private_message => {:deleted_by_sender => true}), :confirm => t('delete.confirm'), :method => :delete,:title => t('delete.one') %></td>
		        <%else%>
		          <td class="delete"><%= link_to image_tag("icons/cancel.png", :alt => t('delete.one') ), user_message_path(params[:user_id],private_message, :private_message => {:deleted_by_receiver => true}), :confirm => t('delete.confirm'), :method => :delete,:title => t('delete.one') %></td>
		        <%end%>
			</tr>
			</tbody></table>
		  </div>
			<div class="message_content" style="display:none;">
			 	<p><%= sanitize(auto_link(simple_format(private_message.body)))%></p>
			</div>
		 	
		</div> 
	<% end %>
	<%= will_paginate @private_messages %>
<%end%>
</div>
