<% menu :inbox %>
<% content_for :javascript do  %>
  $(".message_link").attr('href', '#');
  $(".message_link").livequery('click', function() {
    $(this).parents(".message_div").find("div.message_content").toggle();
		if ($(this).parents(".message_div").hasClass("highlight")){
		  var route = "/users/<%=params[:user_id]%>/messages/" + $(this).parents(".message_div").attr("id")
		  $.post(route, { _method: "put", authenticity_token: "<%=form_authenticity_token()%>", 'private_message[checked]': "true" },  function(data){eval(data);}, "script");
	  }
  }); 
<%end%>

<% content_for :sidebar do  %>
  <%if params[:reply_to] %>
	  <%= render :partial => "reply_private_message", :locals => { :previous_message =>  PrivateMessage.find(params[:reply_to])}%>
	<%else%>
    <%= render :partial => "new_private_message", :locals => { :checked_users =>  Array.new}%>
	<%end%>
<%end%>

<%=link_to_if params[:sent_messages], "Incoming Messages" ,user_messages_path(params[:user_id])  %> | 
<%=link_to_unless params[:sent_messages], "Sent Messages" ,user_messages_path(params[:user_id],:sent_messages => true)  %>
<br/><br/>

<%if @private_messages.blank?%>
  There are not privates messages
<%else%>

	<% for private_message in @private_messages %>
	  <div <%if !params[:sent_messages] && !private_message.checked%>class="message_div highlight"<%else%>class="message_div"<%end%> id="<%=private_message.id%>">
		  <div class="message_header">
		    <% if params[:sent_messages] %>
          To <%= link_logotype(User.find(private_message.receiver_id))%> <%=((Time.now.to_date == private_message.created_at.to_date) ? time_ago_in_words(private_message.created_at) + " ago" : private_message.created_at.strftime("%d %b"))%> 
        <% else%>
          From <%= link_logotype(User.find(private_message.sender_id))%> <%=((Time.now.to_date == private_message.created_at.to_date) ? time_ago_in_words(private_message.created_at) + " ago" : private_message.created_at.strftime("%d %b"))%>
        <% end%>
				<%=link_to sanitize(private_message.title), user_message_path(params[:user_id], private_message), :class => "message_link"%>
				<%= link_to image_tag("ui/icons/arrow-rotate-anticlockwise.png", :alt => "reply" ), user_messages_path(params[:user_id], :reply_to => private_message), :title => "reply" unless params[:sent_messages]%>
        <% if params[:sent_messages] %>
          <%= link_to image_tag("ui/icons/cross.png", :alt => "delete" ), user_message_path(params[:user_id],private_message, :private_message => {:deleted_by_sender => true}), :confirm => 'Are you sure?', :method => :delete,:title => "destroy" %>
        <%else%>
          <%= link_to image_tag("ui/icons/cross.png", :alt => "delete" ), user_message_path(params[:user_id],private_message, :private_message => {:deleted_by_receiver => true}), :confirm => 'Are you sure?', :method => :delete,:title => "destroy" %>
        <%end%>
			</div>
			<div class="message_content" style="display:none;">
			 	<p><%= sanitize(private_message.body)%></p>
			</div>
		 	<br/>
		</div> 
	<% end %>
	<%= will_paginate @private_messages %>
<%end%>



