- if params[:sent_messages]
  - private_messages_menu_at :sent
- else
  - private_messages_menu_at :inbox

= render_page_title t('private_messages')
= render :partial => 'private_messages/menu'

= content_for :sidebar do
  - if params[:reply_to] 
    = render :partial => "reply_private_message", :locals => { :previous_message =>  PrivateMessage.find(params[:reply_to])}
  - else
    = render :partial => "new_private_message"

- if @private_messages.blank?
  = t('message.private.none')

- @private_messages.each do |private_message|
  %div.private-messages.thread{ :id => "parent-#{private_message.id}", :class => cycle('thread-even', 'thread-odd') }
    %div{:class => ("unread" unless private_message.checked)}
      - if params[:sent_messages]
        = render :partial => "show_sent", :locals => { :private_message => private_message }
      - else
        = render :partial => "show_received", :locals => { :private_message => private_message } 

.content-block-footer
  = page_navigation_links @private_messages unless @private_messages.empty?

