<%if request.xhr?%>
  <div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%><%= t('vcc') %></span></div>
<%else%>
  <h3 id="feedback_no_lightbox"><%= t('feedback.send_us') %></h3>
<%end%>

<%= form_for(:private_message, :url => user_messages_path(current_user)) do |f| %>
	<%= f.error_messages %>
	<div id="feedback_form">
		<p>
	    <label for="Title"><%= t('subject') %>:</label>
	    <%= f.text_field :title, :id=> "subject", :size =>25  %>
	  </p>
		<p>
	    <label for="Body"><%= t('body') %>:</label>
	    <%= f.text_area :body ,:id => "private_msg_textarea",:size=>"38x15" %>
	  </p>
	  <%= hidden_field_tag "private_message[receiver_id]", params[:receiver]%>
	  <button type="submit" class="basic_button blue_button"><%=t('button.send')%></button>

	</div>
<% end %>
