<h1><%= t('message.private.new') %></h1>

<% form_for(:private_message, :url => user_messages_path(current_user)) do |f| %>
	<%= f.error_messages %>
	<div>
    <label for="Title"><%= t('title') %>:</label>
    <%= f.text_field :title, :size =>25  %>
  </div>
	<br/>
	<div>
    <label for="Body"><%= t('body') %>:</label><br/>
    <%= f.text_area :body, :class => "span-6"  %>
  </div>
  <%= hidden_field_tag "private_message[receiver_id]", params[:receiver]%>
  <p>
    <%= image_submit_tag("buttons/send.png") %>
  </p>
<% end %>
