- if @is_receiver
  - private_messages_menu_at :inbox
- else
  - private_messages_menu_at :sent

- sender = User.with_disabled.find(@message.sender_id)

= render_page_title t('.title')
= render :partial => 'private_messages/menu'

= content_for :sidebar do
  = render :partial => "reply_private_message", :locals => { :reply_to => true, :previous_message => PrivateMessage.find(@message) }

- if @message.sender_id.present?
  .private-messages.thread{:id => "parent-#{@message.id}"}
    %ul.thread-action-links
      - if @is_receiver
        %li= link_to t('back_to_inbox').downcase, messages_path
      - else
        %li= link_to t('back_to_sent').downcase, messages_path(:sent => true)
      - if @is_receiver && @message.sender_id.present?
        %li= link_to t('remove').downcase, message_path(@message, :private_message => {:deleted_by_receiver => true}), :data => { :confirm => t('delete.confirm', :element => @message.title) }, :method => :delete, :title => t('remove')
      - else
        %li= link_to t('remove').downcase, message_path(@message, :private_message => {:deleted_by_sender => true}), :data => { :confirm => t('delete.confirm', :element => @message.title) }, :method => :delete, :title => t('remove')
    .logo-in-thread
      - if sender.disabled?
        = logo_image(sender, :size => '48', :class => "logo logo-user-big")
      - else
        = link_logo_image(sender,:size => '48', :url => user_path(sender), :title => sender.username, :class => "logo logo-user-big")
    .thread-content
      .thread-title
        - if @message.sender_id.present?
          - if sender.disabled?
            %span.thread-author= sender.name
          - else
            = link_to(sender.name, user_path(sender), :class => "thread-author")
      .thread-text
        = sanitize(@message.title)

    .message-body
      = sanitize(auto_link(simple_format(@message.body)))

- @previous_messages.each do |message|
  %div.private-messages.thread{:id => "parent-#{message.id}", :class => cycle('thread-odd', 'thread-even') }
    - if message.sender_id == current_user.id
      = render :partial => "show_sent", :locals => { :private_message => message, :target_user => current_user, :expanded => true }
    - else
      = render :partial => "show_received", :locals => { :private_message => message, :target_user => current_user, :expanded => true }
- unless @previous_messages.empty?
  .content-block-footer
    = page_navigation_links @previous_messages

.margin-up
