<% spaces_menu_at :webconference %>

<%= content_for :sidebar do  %>
  <%= render :partial => 'sidebar' %>
<% end %>

<div id="space_webconference_description">
  <div class="event_image"><%= image_tag("logos/bbb.png") %></div>
  <% status = @bbb_room.is_running? ? t('webconference.running')+"!" : t('webconference.not_running') %>
  <%= t('webconference.space.description', :status => status).html_safe %>

  <div class="url_share">
    <div class="video_share">
      <span><%= t('webconference.space.share') %></span>
    </div>
    <span class="only_url"><%= t('url_plain') %>: </span><span class="blue"><%= join_webconf_url(@bbb_room) %></span>
    <% if logged_in? %>
      <div class="invite_button">
        <%= link_to t('button.invite'), inviteroom_invite_path(:type => "webconference", :room => space.bigbluebutton_room.to_param), :class => 'button open-modal' %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <p class="main_text">
    <div class="people-connect-title">
      <h3 style="clear: both"><%=image_tag("icons/user.png")%> <%= t('webconference.title_people_conf') %> (<%= @bbb_room.participant_count %>)</h3>
    </div>
    <% @bbb_attendees.each do |user| %>
      <div><%= render :partial => 'users/detailed_user', :object => user %></div>
    <% end %>
  </p>
</div>
