<% menu(:webconference) %>

<%= content_for :javascript do  %>
  
 $('#sidebar img.tooltip_invite_people').qtip({
   content: '<%=t("tooltip.invite_people")%>',
         position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });

<% end %>

<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%= content_for :sidebar do  %>
  <%= render :partial => 'sidebar' %>
<% end %>

<div>
  <div class="webconference-url">
    <%= request.url %> 
  </div>

  <% if @bbb_enabled %>
    <div class="bigbluebutton_button_area">
      <%= link_to 'Join webconference', @bbb_info[:link], :class => 'big_button orange_button bigbluebutton_button' %>
    </div>
  <% else %>
    <div class="bigbluebutton_button_area">
      You must be a member<br />of this space to join the room.
    </div>
  <% end %>
</div>

<div class="clearer"></div>

<div>
  <% if @bbb_info[:running] %>
    <p class="main_text">

        <div class="people-connect-title">
          <h3 style="clear: both"><%=image_tag("icons/user.png")%> <%= t('webconference.people') %> (<%= @bbb_attendees.count.to_s %>)</h3>
        </div>
        <% @bbb_attendees.each do |user| %>
        <div class="user last">
          <div class="post-logo"><%=link_to logo(user, :size=>32, :title=>user.name).html_safe, user_path(user)%></div>
          <div>
            <ul>
              <li><%=link_to sanitize(user.full_name),user_path(user),:class=>"unified_user"%></li>
              <li><%=sanitize(user.organization)%></li>
            </ul>
          </div>
        </div>
        <% end %>

      </p>

    <% else %>
      <p class="main_text"><%= t('webconference.nobody_room.one') %></p>
    <% end %>
</div>
