<% menu(:webconference) %>

<%= content_for :javascript do  %>

 $('#sidebar img.tooltip_invite_people').qtip({
   content: '<%=t("tooltip.invite_people")%>',
         position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });

<% end %>

<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%= content_for :sidebar do  %>
  <%= render :partial => 'sidebar' %>
<% end %>

<div>
  <div class="webconference-url">
    <%= request.url %>
  </div>

  <% if @bbb_enabled %>
    <div class="bigbluebutton_button_area">
      <%= link_to t('button.join.other'), @bbb_info[:link], :class => 'big_button orange_button bigbluebutton_button' %>
    </div>
  <% else %>
    <div class="bigbluebutton_button_area">
      <%= "t('webconference.not_member')".html_safe %>
    </div>
  <% end %>
</div>

<div class="clearer"></div>

<div>
  <% if @bbb_info[:running] %>
    <p class="main_text">

        <div class="people-connect-title">
          <h3 style="clear: both"><%=image_tag("icons/user.png")%> <%= t('webconference.title_people_conf') %> (<%= @bbb_attendees.count.to_s %>)</h3>
        </div>
        <% @bbb_attendees.each do |user| %>
        <div>
		      <%= render :partial => 'users/detailed_user', :object => user %>		
        </div>
        <% end %>
      </p>

    <% else %>
      <p class="main_text"><%= t('webconference.nobody.one_line') %></p>
    <% end %>
</div>
