<% menu(:webconference) %>

<%= content_for :javascript do  %>

  $('#sidebar img.tooltip_invite_people').qtip({
    content: '<%=t("tooltip.invite_people")%>',
    position: {adjust: { screen: true }},
    show:  'mouseover',
    hide: { when: 'mouseout', fixed: true },
    style: 'mystyle'
  });

  $("a#invite_bbb_link").fancybox({
    'hideOnContentClick' : false,
    'frameWidth' : 450,
    'frameHeight' : 430
  });

  $("a#join_mobile_button").fancybox({
    'hideOnContentClick' : false,
    'frameWidth' : 250,
    'frameHeight' : 500
  });

<% end %>

<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<% end %>

<%= content_for :sidebar do  %>
  <%= render :partial => 'sidebar' %>
<% end %>

<div id="space_webconference_description">
  <div class="event_image"><%= image_tag("logos/bbb.png") %></div>
  <% status = @bbb_room.is_running? ? t('webconference.running')+"!" : t('webconference.not_running') %>
  <%= t('webconference.space.description', :status => status).html_safe %>

  <div class="url_share">
    <div class="video_share">
      <span><%= t('webconference.space.share') %></span>
    </div>
    <span class="only_url"><%= t('url_plain') %>: </span><span class="blue"><%= join_webconf_url(@bbb_room) %></span>
    <% if logged_in? %>
      <div class="invite_button">
        <%= link_to t('button.invite'), inviteroom_invite_path(:type => "webconference", :room => space.bigbluebutton_room.to_param), :id => 'invite_bbb_link', :class => 'basic_button' %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <p class="main_text">
    <div class="people-connect-title">
      <h3 style="clear: both"><%=image_tag("icons/user.png")%> <%= t('webconference.title_people_conf') %> (<%= @bbb_room.participant_count %>)</h3>
    </div>
    <% @bbb_attendees.each do |user| %>
      <div><%= render :partial => 'users/detailed_user', :object => user %></div>
    <% end %>
  </p>
</div>
