	
<div id="yui-main">
<div class="yui-b main_column"><% rounded(:class => "tips") do %>
	
<title>Invite Users to the Space by Email</title>
<script>
	function register_admin(){
		document.invite_user_form.role.value = "Admin";
		document.invite_user_form.submit();
	}
	
	function register_user(){
		document.invite_user_form.role.value = "User";
		document.invite_user_form.submit();
	}
	
	function register_invited(){
		document.invite_user_form.role.value = "Invited";
		document.invite_user_form.submit();
	}

</script>

<div class="contenido_main">

<p>To add new users enter one or several email addresses separated by " ", "," or ";" and register them
<% form_tag (space_invitations_path(@space),  {:name=>'invite_user_form',:style => "display: inline;", :method => :post}) do  %>
	<div id='text_area'>
<%= text_area_tag 'email_list', params[:email_list], :size => "30x5"%>
<input type=hidden name="role" id="role" value="Invited"/><br>
<input type=hidden name="by_email" id="by_email" value="true"/>
</div>

<div id='register_buttons'>
                                <%= link_to_function("Register as Admin", :onclick=>"register_admin()", :class => "secund") if @space.role_for?(current_agent, :name => 'Admin') || current_agent.superuser? %><br/>
				<%= link_to_function "Register as User",:onclick=>"register_user()", :class => "secund" %><br/>
				<%= link_to_function "Register as Invited",:onclick=>"register_invited()", :class => "secund" %><br/>	
				</div>	


			<%end%>
			
			
			<div id="note">
				
				<p>For example: "John Silver "<"jsilver@example.com">", jct@dit.es; Aaron aaron@example.net
				and click on 'Register as User' will regsiter those 3 email addresses as members of the space and will send
				and validation email to them.</p>
				</div>
<%end%>
</div>
</div>
</div>

<%= render :partial =>'shared/sidebar_users'%>
