<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.timeentry', 'jquery.fcbkcomplete' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %>  
<%end%>

<% content_for :javascript do%>

  // Code for several agenda entry views
	
	$('.title_name_and_hour').click(function(){
    $(this).parent().parent().children(".agenda_entry_description").toggle("slow");
  });
  
	// Removes brackets from attachment selectors to avoid problems with fcbkcomplete	
  $("#agenda_entry\\[attachment_attributes\\]__tags").livequery(function () {
	  $(this).attr("id","agenda_entryattachment_attributes__tags");
	}); 
  // Applies tags to the attachment
  $("#agenda_entryattachment_attributes__tags").livequery(function () {
	  $(this).fcbkcomplete({
      cache: true,
      filter_case: false,
      filter_hide: true,
      firstselected: true,
      filter_selected: true,
      maxshownitems: 4,
      newel: true,
      complete_opts: true
    });
	});	
	
  <%for i in (0..@event.days-1)%>
  
    $('#date<%=i%>').click(function(){
      <%for e in (0..@event.days-1)%>
        $('#date<%=e%>').removeClass("selected");
        $('#agenda_page<%=e%>').hide();
      <%end%>
      $(this).addClass("selected");
      $('#agenda_page<%=i%>').show();
    });
    
    $('#add_entry<%=i%>').click(function(){
      $('#add_entry<%=i%>').hide();
      //first we remove the rest of the edit divs in case the user has an open one
      $(".agenda_edit_entry").empty();
      var route = "<%= space_event_agenda_agenda_entries_path(@space, @event) %>" + "/new?day=" + <%=i%>;
      $.get(route,{
        authenticity_token: "<%=form_authenticity_token()%>"
        }, function(data){
          $('#add_entry<%=i%>').parent().append(data);
            
          <%= render :partial => 'agenda_entries/timepicker.js.erb' %>
          var destination_add<%=i%> = $('#new_entry_anchor').offset().top;
          $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_add<%=i%>}, 1100, function() {
            window.location.hash = '#new_entry_anchor';
          });
          
      });

    });
    
    $("input.agenda_new_close").livequery('click',function(){
      $(".agenda_new_entry").empty();
      $('#add_entry<%=i%>').show();
    });
       
  <%end%>

	
	
	// New agenda entry view

  $("#speakers_name").livequery(function () {
    $(this).fcbkcomplete({
      cache: true,
      filter_case: false,
      filter_hide: true,
      firstselected: true,
      filter_selected: true,
      maxshownitems: 4,
      newel: true
    });
  });  

	$("#add_entry_button").livequery('click',function(){
    // Validate title
    var title = ($('#agenda_entry_title').val());
    if (title == "") {
      
      $("#agenda_title_label").append(
        "<div class='error'><%= t('agenda.error.omit_title') %></div>"
      );
      
      var destination_add = $('#new_entry_anchor').offset().top;
      $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_add}, 1100, function() {
        window.location.hash = '#new_entry_anchor';
      });
      
    } else {
      document.forms["agenda_entry_new_form"].submit();
    }
    
  });
	
	
  // Edit agenda entry view
	
  $('.edit_entry').click(function(){
    var edit_entry_button = $(this);
    //first we remove the rest of the edit divs in case the user has an open one
    $(".agenda_edit_entry").empty();
    $(".agenda_new_entry").siblings("button").show();
    $(".agenda_new_entry").empty();
    var route = "<%= space_event_agenda_agenda_entries_path(@space, @event) %>" + "/" + edit_entry_button.attr("name") + "/edit";
    $.get(route,{
          authenticity_token: "<%=form_authenticity_token()%>"
          }, function(data){             
              edit_entry_button.parents(".agenda_entry").children(".agenda_entry_description").hide();
              edit_entry_button.parents(".agenda_entry").append(data);
	            <%= render :partial => 'agenda_entries/timepicker.js.erb' %>
	            $("input.agenda_edit_close").click(function(){
                edit_entry_button.parents(".agenda_entry").children(".agenda_entry_description").show();
                $(".agenda_edit_entry").empty();
              });
              var destination_edit = $('#edit_entry_anchor').offset().top;
              $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_edit}, 1100, function() {
                window.location.hash = '#edit_entry_anchor';
              });
    });
		
  });
	
  $("#speakers_name_edit").livequery(function () {
    $(this).fcbkcomplete({
      cache: true,
      filter_case: false,
      filter_hide: true,
      firstselected: true,
      filter_selected: true,
      maxshownitems: 4,
      newel: true
    });
  });

  $("#edit_entry_button").livequery('click',function(){
    // Validate title
		var title = ($('#agenda_entry_title').val());
		if (title == "") {
		  
			$("#agenda_title_label").append(
			  "<div class='error'><%= t('agenda.error.omit_title') %></div>"
			);
			
			var destination_edit = $('#edit_entry_anchor').offset().top;
      $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_edit}, 1100, function() {
        window.location.hash = '#edit_entry_anchor';
      });
			
		} else {
		  document.forms["agenda_entry_edit_form"].submit();
		}
		
  });


  // Show agenda entry view

  <%if params[:show_day] %>
     $('#date<%=params[:show_day]%>').addClass("selected");
    $('#agenda_page<%=params[:show_day]%>').show();
  <%else%>
    $('#date0').addClass("selected");
    $('#agenda_page0').show();
  <%end%>
	


/*
  // Record checkbox
  $('select').livequery(function(){
    $(this).filter(function() {
      return this.id.match('agenda_entry_(start|end)_time_');
    }).change(function(){

    var start_year = ($('#agenda_entry_start_time_1i').val());
	  var start_month = -1 + parseInt(($('#agenda_entry_start_time_2i').val()),10);
  	var start_day = ($('#agenda_entry_start_time_3i').val());
	  var start_hour = ($('#agenda_entry_start_time_4i').val());
	  var start_minute = ($('#agenda_entry_start_time_5i').val());
	  var start_seconds = 0;
	
	  var start_date = new Date(start_year,start_month,start_day,start_hour,start_minute,start_seconds); 
	
	  var end_year = ($('#agenda_entry_end_time_1i').val());
	  var end_month = -1 + parseInt(($('#agenda_entry_end_time_2i').val()),10);
	  var end_day = ($('#agenda_entry_end_time_3i').val());
	  var end_hour = ($('#agenda_entry_end_time_4i').val());
	  var end_minute = ($('#agenda_entry_end_time_5i').val());
	  var end_seconds = 0;
	
	  var end_date = new Date(end_year,end_month,end_day,end_hour,end_minute,end_seconds);
	
      var minutes_difference = (end_date - start_date) / 60000; 
	  if (minutes_difference < <%=AgendaEntry::MINUTES_NOT_EXCLUDED%>) {
	    $('#agenda_entry_record').attr('checked', 'true');
        $('#agenda_entry_record').attr('readonly', 'readonly');
	    $('#cannot_exclude').show();
	    $('#record_block').addClass('fade');
	  } else {
        $('#agenda_entry_record').removeAttr('readonly');
	    $('#cannot_exclude').hide();
	    $('#record_block').removeClass('fade');
	  }
	
    });
	
  });
  
  $('#agenda_entry_record').livequery('change',function(){
    if ($('#agenda_entry_record').attr('readonly')) {
      $('#agenda_entry_record').attr('checked', 'true');
    } 
  });
 */
  
<%end%>

  <%= render :partial => "agenda_entries/index"%>
  

