<% content_for :javascript do%>

  // Code for several agenda entry views
	
	// Removes brackets from attachment selectors to avoid problems with fcbkcomplete	
  $("#agenda_entry\\[attachment_attributes\\]__tags").livequery(function () {
	  $(this).attr("id","agenda_entryattachment_attributes__tags");
	}); 
  // Applies tags to the attachment
  $("#agenda_entryattachment_attributes__tags").livequery(function () {
	  $(this).fcbkcomplete({
      cache: true,
      filter_case: false,
      filter_hide: true,
      firstselected: true,
      filter_selected: true,
      maxshownitems: 4,
      newel: true,
      complete_opts: true
    });
	});	
	
	
  <%for i in (0..@event.days-1)%>
  
    $('#date<%=i%>').click(function(){
      <%for e in (0..@event.days-1)%>
        $('#date<%=e%>').removeClass("selected");
        $('#agenda_page<%=e%>').hide();
      <%end%>
      $(this).addClass("selected");
      $('#agenda_page<%=i%>').show();
    });
    
    $('#add_entry<%=i%>').livequery('click', function(){
      $('#add_buttons<%=i%>').hide();
      //first we remove the rest of the edit divs in case the user has an open one
      $(".agenda_edit_entry").empty();
      
			var route = "<%= space_event_agenda_agenda_entries_path(@space, @event) %>" + "/new?day=<%=i%>";
      $.getScript(route);
    });
     
	$('#add_divider<%=i%>').livequery('click', function(){
      $('#add_buttons<%=i%>').hide();
      //first we remove the rest of the edit divs in case the user has an open one
      $(".agenda_edit_entry").empty();
      
	  var route = "<%= space_event_agenda_agenda_dividers_path(@space, @event) %>" + "/new?day=<%=i%>&divider=true";
      $.getScript(route);
    });  
  <%end%>

	
    
    $("input.agenda_new_close").livequery('click',function(){
	  var id = $(this).attr('id');
	  $('#add_buttons'+ id).show();
      $(".agenda_new_entry").empty();
    });
	
	// New agenda entry view

  $("#speakers_name").livequery(function () {
    $(this).fcbkcomplete({
      cache: true,
      filter_case: false,
      filter_hide: true,
      firstselected: true,
      filter_selected: true,
      maxshownitems: 4,
      newel: true
    });
  });  

	$("#add_entry_button").livequery('click',function(){
    // Validate title
    var title = ($('#agenda_entry_title').val());
    if (title == "") {
      
      $("#agenda_title_label").append(
        "<div class='error'><%= escape_javascript(t('agenda.error.omit_title')) %></div>"
      );
      
      var destination_add = $('#new_entry_anchor').offset().top;
      $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_add}, 1100, function() {
        window.location.hash = '#new_entry_anchor';
      });
      
    } else {
      document.forms["agenda_entry_new_form"].submit();
    }
    
  });
  
  $("#add_divider_button").livequery('click',function(){
    // Validate title
    var title = ($('#agenda_divider_title').val());
    if (title == "") {
      
      $("#agenda_title_label").append(
        "<div class='error'><%= escape_javascript(t('agenda.error.omit_title_divider')) %></div>"
      );
      
      var destination_add = $('#new_entry_anchor').offset().top;
      $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_add}, 1100, function() {
        window.location.hash = '#new_entry_anchor';
      });
      
    } else {
      document.forms["agenda_divider_new_form"].submit();
    }
    
  });

	
	
  // Edit agenda entry view
	
  $('.edit_entry').livequery('click', function(){
    edit_entry_button = $(this);
	//first we remove the rest of the edit divs in case the user has an open one
    $(".agenda_edit_entry").empty();
	$(".agenda_edit_hours_entry").empty();
    $(".agenda_new_entry").siblings("button").show();
    $(".agenda_new_entry").empty();
	$(".newAttachment").empty();
	$("#add_button"+$(this).parent().siblings(".entry_day").val()).hide();
    var route = "<%= space_event_agenda_agenda_entries_path(@space, @event) %>" + "/" + edit_entry_button.attr("name") + "/edit";
    $.getScript(route);
  });
	
  $('.edit_divider').livequery('click', function(){
    edit_divider_button = $(this);
	//first we remove the rest of the edit divs in case the user has an open one
    $(".agenda_edit_entry").empty();
	$(".agenda_edit_hours_entry").empty();
    $(".agenda_new_entry").siblings("button").show();
    $(".agenda_new_entry").empty();
	$(".newAttachment").empty();
	$("#add_button"+$(this).parent().siblings(".entry_day").val()).hide();
    var route = "<%= space_event_agenda_agenda_dividers_path(@space, @event) %>" + "/" + edit_divider_button.attr("name") + "/edit";
    $.getScript(route);
  });
	
	
	// Edit hours in an agenda entry
	$('.edit_hours_entry').livequery('click', function(){
      edit_entry_button = $(this);
      //first we remove the rest of the edit divs in case the user has an open one
      $(".agenda_edit_entry").empty();
	  $(".agenda_edit_hours_entry").empty();
      $(".agenda_new_entry").empty();
	  $("#add_button"+$(this).parent().siblings(".entry_day").val()).hide();
      var route = "<%= space_event_agenda_agenda_entries_path(@space, @event) %>" + "/" + edit_entry_button.attr("name") + "/edit?hours=true";
      $.getScript(route);
  });
	
  $("#speakers_name_edit").livequery(function () {
    $(this).fcbkcomplete({
      cache: true,
      filter_case: false,
      filter_hide: true,
      firstselected: true,
      filter_selected: true,
      maxshownitems: 4,
      newel: true
    });
  });

  $("#edit_entry_button").livequery('click',function(){	
      // Validate title
	  var title = ($('#agenda_entry_title').val());
	  if (title == "") {		  
		$("#agenda_title_label").append("<div class='error'><%= escape_javascript(t('agenda.error.omit_title')) %></div>");			
	    var destination_edit = $('#edit_entry_anchor').offset().top;
        $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_edit}, 1100, function() {
          window.location.hash = '#edit_entry_anchor';
         });
	  } else {
		  document.forms["agenda_entry_edit_form"].submit();
	  }
  });

  $("#edit_divider_button").livequery('click',function(){	
      // Validate title
	  var title = ($('#agenda_divider_title').val());
	  if (title == "") {		  
		$("#agenda_title_label").append("<div class='error'><%= escape_javascript(t('agenda.error.omit_title_divider')) %></div>");			
	    var destination_edit = $('#edit_divider_anchor').offset().top;
        $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_edit}, 1100, function() {
          window.location.hash = '#edit_entry_anchor';
         });
	  } else {
		  document.forms["agenda_divider_edit_form"].submit();
	  }
  });

  // Show agenda entry view

  <%if params[:show_day] %>
     $('#date<%=params[:show_day]%>').addClass("selected");
    $('#agenda_page<%=params[:show_day]%>').show();
  <%else%>
    $('#date0').addClass("selected");
    $('#agenda_page0').show();
  <%end%>
	
  $('.title_name_and_hour').livequery('click', function(){
    $(this).parent().parent().children(".agenda_entry_description").toggle("slow");
  });
 
 $(".newAttachEvent").livequery('click',function () { 
  var new_id = new Date().getTime(); 
  $(this).before( eventAttachment.replace(/NEW_RECORD/g, new_id) );
	$(".newAttach2").show();

  // Applies tags to the attachment
  $("#agenda_entry_attachments_attributes_" + new_id + "__tags").fcbkcomplete({
      cache: true,
      filter_case: false,
      filter_hide: true,
      firstselected: true,
      filter_selected: true,
      maxshownitems: 4,
      newel: true,
      complete_opts: true
  }); 
}); 
  
  <%if @event.days > 1%>
    //after the page finishes loading we call for the other pages of the agenda
    $(window).bind('load', function() {
      var route = "<%= space_event_agenda_path(@space, @event, :page_shown=>params[:show_day]) %>";
      $.get(route,{
          authenticity_token: "<%=form_authenticity_token()%>"
          }, function(data){ 	
			$('#agenda_pages').append(data);	         
          });
    });
  <%end%>
  	
<%end%>

<div id="agenda_tabs">
  <ul>
    <%for i in (0..@event.days-1)%>
      <li id="date<%=i%>" class="date"><%=(@event.start_date+i.day).strftime("%A %d %b")%></li>
    <%end%>
  </ul>
</div>

<div id="agenda_pages">
  <%@days=[params[:show_day].to_i]%>
  <%=render :partial=> "agendas/show"%>
</div>
  

