<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.timeentry', 'jquery.fcbkcomplete' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %>  
<%end%>

<% content_for :javascript do%>
  
  $("input.agenda_new_close").click(function(){
    $('#new_agenda_entry').hide();
    str = "#add_entry" + $('#entry_day').val();
    $(str).show();
  });
  
  <%if @event.authorize?(:update, :to => current_user)%> 
    //it is important that this code is before the hiding of new_agenda_entry to function properly
    $("#speakers_name").fcbkcomplete({
	cache: true,
        filter_case: false,
        filter_hide: true,
        firstselected: true,
        filter_selected: true,
        maxshownitems: 4
    });
  <%end%>
  
  $('#new_agenda_entry').hide();
  $('#cannot_exclude').hide();
 
  $('.edit_entry').click(function(){
    var edit_entry_button = $(this);
    var route = "<%= space_event_agenda_agenda_entries_path(@space, @event) %>" + "/" + edit_entry_button.attr("name") + "/edit";
    $.get(route,{
          authenticity_token: "<%=form_authenticity_token()%>"
          }, function(data){             
              edit_entry_button.parents(".agenda_entry").children(".agenda_entry_description").hide();
              edit_entry_button.parents(".agenda_entry").append(data);
	      $('#cannot_exclude').hide();
	      <%= render :partial => 'agenda_entries/timepicker.js.erb' %>
	      $("input.agenda_edit_close").click(function(){
                $(this).parents(".agenda_edit_entry").hide();
                edit_entry_button.parents(".agenda_entry").children(".agenda_entry_description").show();
              });
              $("#speakers_name_edit").fcbkcomplete({
	        cache: true,
                filter_case: false,
                filter_hide: true,
                firstselected: true,
                filter_selected: true,
                maxshownitems: 4
	      });
    });
    $('#new_agenda_entry').hide();
    $('#add_entry').show();

  });

/*
  $('select').livequery(function(){
    $(this).filter(function() {
      return this.id.match('agenda_entry_(start|end)_time_');
    }).change(function(){

      var start_year = ($('#agenda_entry_start_time_1i').val());
	  var start_month = -1 + parseInt(($('#agenda_entry_start_time_2i').val()),10);
  	  var start_day = ($('#agenda_entry_start_time_3i').val());
	  var start_hour = ($('#agenda_entry_start_time_4i').val());
	  var start_minute = ($('#agenda_entry_start_time_5i').val());
	  var start_seconds = 0;
	
	  var start_date = new Date(start_year,start_month,start_day,start_hour,start_minute,start_seconds); 
	
	  var end_year = ($('#agenda_entry_end_time_1i').val());
	  var end_month = -1 + parseInt(($('#agenda_entry_end_time_2i').val()),10);
	  var end_day = ($('#agenda_entry_end_time_3i').val());
	  var end_hour = ($('#agenda_entry_end_time_4i').val());
	  var end_minute = ($('#agenda_entry_end_time_5i').val());
	  var end_seconds = 0;
	
	  var end_date = new Date(end_year,end_month,end_day,end_hour,end_minute,end_seconds);
	
      var minutes_difference = (end_date - start_date) / 60000; 
	  if (minutes_difference < <%=AgendaEntry::MINUTES_NOT_EXCLUDED%>) {
	    $('#agenda_entry_record').attr('checked', 'true');
        $('#agenda_entry_record').attr('readonly', 'readonly');
	    $('#cannot_exclude').show();
	    $('#record_block').addClass('fade');
	  } else {
        $('#agenda_entry_record').removeAttr('readonly');
	    $('#cannot_exclude').hide();
	    $('#record_block').removeClass('fade');
	  }
	
    });
	
  });
  
  $('#agenda_entry_record').livequery('change',function(){
    if ($('#agenda_entry_record').attr('readonly')) {
      $('#agenda_entry_record').attr('checked', 'true');
    } 
  });
 */
  
<%end%>

  <%= render :partial => "agenda_entries/index"%>
  
  <% if event.authorize?(:update, :to => current_user) %>
    <div id="new_agenda_entry">
      <%= render :partial => "agenda_entries/new"%>
    </div>
  <%end%>


