<div id="event_recordings" class="margin-up">
  <div id="recordings_title"><h3 class="blue"><%=t('event.recording.one')%></h3></div>
  <div id="recordings_content">	    	
	<div id="videos">
	  <div class="video_full">
	    <%if @display_entry%>
	      <%=@display_entry.video_player%>
	    <%end%>
	  </div>  
	
	    <div class="url_share">
	      <%unless @space.public?%>
	        <%=t('event.recording.notice')%><br/>
	      <%end%>
	      <div class="video_share"><span><%=t('event.recording.share')%></span></div>       
	      <form>
	        <span class="only_url"><%=t('url_plain')%>:</span>
	        <input type="text" onclick="javascript:this.form.video_link.focus();this.form.video_link.select();" value="<%=space_event_url(@space, @event, :show_video=> @display_entry ? @display_entry.id : 0) %>" name="video_link"></input>
	      </form>
	    </div>
	
	  <div class="video-bar"> 	
		  <div class="video_properties">
				<div class="video_title">
			  	<%if @display_entry%>
			      <span><%=@display_entry.title%></span>
			    <%end%>
					- <%=link_to(t('event.agenda.see'),space_event_path(@space, @event,:show_agenda => true), {:id=>"view_agenda"})%>    
		    </div>
			  <div class="video_users">  
			    <%if @display_entry%>
					  <%=t('agenda.entry.speakers')%>: <span class="unified_user"><%=entry_speakers(@display_entry)%></span>
		      <%end%>
			  </div>
        <div>
          <%if @display_entry%>
            <%=t('agenda.entry.description')%>: <span class="main_text"><%=@display_entry.description %></span>
          <%end%>
        </div>
			  <div class="video_attachments">
			  	<%if @display_entry%>
				  <%=t('agenda.entry.documents')%>:
					<% @display_entry.attachments.each  do |a| %>
				    <%=image_tag("icons/attach.png", :class=>"icon")%>            
		            <%= link_to(a.filename , space_attachment_path(@space,a, :format => a.format!))%>
		          <%end %>
				  <%end%>
			  </div>
		 </div>
	  </div>
		<%if @event.description != ""%>  
			<%= render :partial => "events/event_description" %>
		<%end%>
	</div>
  </div>
</div>
