<div id="videos">
  <div class="video_full">
    <%if @display_entry%>
      <%=@display_entry.embedded_video%>
    <%end%>
  </div>  
  <div class="video-bar">
    <div class="video_properties">  	
  	  <div class="video_title">
  	  	<%if @display_entry%>
  	      <%=@display_entry.title%>
		<%end%>     
	  </div>
	  <div class="unified_user">  
	    <%if @display_entry%>
          <%isfirst=true%>
          <%@display_entry.actors.each do |speaker|%>
             <%if isfirst%>
               <%isfirst=false%>
             <%else%>
               ,
             <%end%>
             <%=speaker.authorize?([:read, :profile],:to=> current_user) ? link_to(highlight(speaker.name,@query),user_profile_path(speaker),:class=>"unified_user"): ("<span class='unified_user'>" + sanitize(highlight(speaker.name,@query) + "</span>"))%>
           <%end%>
           <%if @display_entry.speakers && !@display_entry.speakers.empty?%>
             <%unless isfirst%>
               ,
             <%end%>
             <%= @display_entry.speakers %>
           <%end%>
		 <%end%>
	  </div>
	  <div class="video_attachments">
	  	<%if @display_entry%>
		  <% @display_entry.attachments.each  do |a| %>
            <%=image_tag(logo_image_path(a, :size => a.thumbnail_size)) %>
            <%=a.filename %>
          <%end %>
		<%end%>
	  </div>
    </div>
    <div class="share_video">
  	  <%=link_to_function t('event.recording.share'), "show_share_url()", :class=> "link_share" %>
    </div>
	<div class="url_share" style="display:none">
  	  <%unless @space.public?%>
  	    <%=t('event.recording.notice')%><br/>
	  <%end%>
  	  <span class="only_url"><%=t('url_plain')%>:</span> <%=space_event_url(@space, @event, :show_video=> @display_entry.id) %>
    </div>
  </div>  
</div>