<% content_for :headers do %>
  <%= javascript_include_tag 'fullcalendar' %>
  <%= stylesheet_link_tag "fullcalendar", :media => "screen, projection" %>
<% end %>

<% content_for :javascript do %>

  /* Event creation navigation */
  $("#wait_create_agenda_button").hide();
  $("#wait_create_agenda_button").attr('disabled', true);
  
  $("#create_agenda_button").click(function(){
    $("#create_agenda_button").hide();
    $("#wait_create_agenda_button").show();
  });
    
  $("#cancel_event").fancybox({
	'scrolling'		     : 'no',
	'titleShow'		     : false,
	'hideOnContentClick' : false,
	'autoDimensions'	 : false,
	'width'              : 250,
	'height'             : 80
  });
  

  /* JavaScript vars*/
	// Slot axis time (in minutes)
  slot = 15;

  /*
	   AJAX request to update an agenda entry
	*/
  updateEntry = function(entry,revertFunc){
	  //Remove notifications
    $(".notice").remove(); $(".success").remove(); $(".error").remove();

    //Hide qtips
		$('.qtip').remove();
			
    //Notify agenda is updating
    $("#main").prepend('<div class="notice"><%= escape_javascript(t('agenda.updating')) %></div>');
    //$(".notice").hide().slideDown('slow');
    
    //AJAX request
    $.post("<%= space_event_agenda_agenda_entries_path(@space,@event)%>/" + entry.id,
      {
        authenticity_token: "<%=form_authenticity_token()%>",
        _method: "put",
        'agenda_entry[start_time]': entry.start.toGMTString(),
        'agenda_entry[end_time]':entry.end.toGMTString()
      },
      function(data){
        //Revert if error
        if (!entry_updated){
          revertFunc();
        }
      },
      "script"
      );
	};

  calendar = $('#calendar').fullCalendar({
		header: {
		  left: '',
		  center: '',
	    right: ''
	  },
	  allDaySlot: false,
	  axisFormat: 'HH:mm',
	  slotMinutes: slot,
		year:<%= @agenda_day.strftime("%Y")%>,
		month:<%= @agenda_day.month-1 %>,
		date:<%= @agenda_day.strftime("%d")%>,
		minTime: '<%= @agenda.fullcalendar_start_time(@agenda_day) %>',
	  maxTime: '<%= @agenda.fullcalendar_end_time(@agenda_day)%>',
	  defaultView: 'agendaDay',
    editable: true,
		events: <%= @agenda.to_fullcalendar_json %>,
    eventDrop: function(entry,dayDelta,minuteDelta,allDay,revertFunc) {
			updateEntry(entry,revertFunc);
	  },
		eventResize: function(entry,dayDelta,minuteDelta,revertFunc) {
      updateEntry(entry,revertFunc);
    },
    eventRender: function(event, element) {

      /* Session supertitle*/
      if (event.supertitle != ''){
			  element.children("a").prepend("<span class=\"fc_session_title\">" + event.supertitle + "</span>");
			}

      /* Session description and speakers*/
		
		  // Calculate number of fields
		  var fields = 0;
			if (event.description != '') fields++;
			if (event.speakers != '') fields++;
			
			// Calculate number of lines
			var lines = (event.end - event.start)/(1000 * 60 * slot);
			
			// 1 or 2 lines
			if (lines < 3 && fields > 0){
			  var event_qtip_text = "";
				if (event.description != '') event_qtip_text += "<p class=\"event_qtip_title\"><span class=\"event_qtip_title\"><%=escape_javascript(t('agenda.entry.description'))%>:</span> " + event.description + "</p>";
				if (event.speakers != '') event_qtip_text += "<p class=\"event_qtip_title\"><span class=\"event_qtip_title\"><%=escape_javascript(t('agenda.entry.speakers'))%>:</span> " + event.speakers + "</p>"; 
				
				element.qtip({
				  content: event_qtip_text,
					position:{
					  corner:{
					    target: 'bottomRight',
						  tooltip: 'topRight'
							}
						} 
				});
			}else{ 
	      if (event.description != ''){
	        element.children("a").append("<span><%=escape_javascript(t('description'))%>: " + event.description + "</span>");
	      }
				if (event.speakers != ''){
	        element.children("a").append("<span><%=escape_javascript(t('agenda.entry.speakers'))%>: " + event.speakers + "</span>");
	      }
			}
    },
		eventClick: function( entry, jsEvent, view ) {
		  current_qtip =  $(this);
		  current_qtip.qtip({
         content: {
           text:
             '<p><a href=\"<%= space_event_agenda_agenda_entries_path(@space,@event)%>/' + entry.id + '/edit\"><%=escape_javascript(t('agenda.entry.edit'))%></a></p>' +	 
						 '<p>' +
						 '<%=link_to escape_javascript(t('agenda.entry.remove')), '', :class => "delete_entry" %>' + 
						 '<form class=\"delete_entry\" style=\"display:none;\" method=\"post\" action=\"<%=space_event_agenda_agenda_entries_path(@space,@event)%>/' + entry.id + '\">' +
             '<input type=\"hidden\" name=\"authenticity_token\" value=\"<%=form_authenticity_token()%>\" />' +
             '<input type=\"hidden\" name=\"_method\" value=\"delete\" />' +
             '</form>' +
						 '</p>',
           title: {
             text: entry.title
           }
         },
         show: { 
           ready:true,
           when: {
             event: 'click'
           }
         },
         hide: {
				   fixed:true,
           when: {
             event: 'unfocus'
           }
         },
				 position: {
				   target: $(this),
				   corner: 'center',
					 adjust:{
					   scroll: false
					 }
				 }
      });
		},
		select: function( startDate, endDate, allDay, jsEvent, view ){
		  current_qtip = $("#calendar");
			current_qtip.qtip({
         content: {
           text:
             '<form class=\"create_entry\" method=\"post\" action=\"<%=space_event_agenda_agenda_entries_path(@space,@event)%>\">' +
               '<input type=\"hidden\" name=\"authenticity_token\" value=\"<%=form_authenticity_token()%>\" />' +
               '<input type=\"hidden\" name=\"agenda_entry[start_time]\" value=\"' + startDate.toGMTString() + '\" />' +
               '<input type=\"hidden\" name=\"agenda_entry[end_time]\" value=\"' + endDate.toGMTString() + '\" />' +
               '<label id=\"agenda_title_label\" for=\"title\"><%=escape_javascript(t('title'))%></label>' +
               '<input type=\"text\" name=\"agenda_entry[title]\" id="qtip_title"/>' +
               '<button type=\"submit\" id="calendar_submit" class=\"basic_button blue_button\"><%=escape_javascript(t('create'))%></button>' +
             '</form>',
           title: {
             text: '<%=escape_javascript(t('agenda.entry.new'))%>'
           }
         },
         show: { 
           ready:true,
           when: {
             event: 'click'
           }
         },
         hide: {
				   fixed:true,
           when: {
             event: 'unfocus'
           }
         },
         position: {
           corner: 'center',
           adjust:{
             scroll: false
           }
         },
				 api: {
					 onHide: function(){
             calendar.fullCalendar('unselect');
						 current_qtip.qtip('destroy');
				   },
					 onShow: function(){
					   $("#qtip_title").focus();
					 }
				 }
      });
		},
		selectHelper:true,
		selectable:true,
		unselectAuto:false
  });
	
	$("form.create_entry").livequery('submit',function(){

	   //Remove notifications
    $(".notice").remove(); $(".success").remove(); $(".error").remove();
      
    //Notify agenda is updating
    $("#main").prepend('<div class="notice"><%= escape_javascript(t('agenda.entry.creating')) %></div>');
    
    //Close qtips
    current_qtip.qtip('hide');
	
		$.post($(this).attr('action'),
           $(this).serialize(),
           null,
            "script"
    );
		return false;
  });
	
	$("a.delete_entry").livequery('click', function(){

	  //Remove notifications
    $(".notice").remove(); $(".success").remove(); $(".error").remove();
      
    //Notify agenda is deleting
    $("#main").prepend('<div class="notice"><%= escape_javascript(t('agenda.entry.deleting')) %></div>');
    
    //Close qtips
    current_qtip.qtip('hide');
	
	  var form = $(this).parents(".qtip").find("form.delete_entry");
		
		$.post(form.attr('action'),
           form.serialize(),
           null,
            "script"
    );
    return false;
	});
	
<%end%>


<div style="display:none">
  <div id="sure_form">
  	<script type="text/javascript">
  	  function our_close(){
				$.fancybox.close();		
			  }
	  </script>
		<%if params[:in_steps]%>
		  <div id="lightbox_advise"><%= t('event.cancel.lose') %></div>
		  <%= link_to "<span>" + t('button.accept') + "</span>" , space_event_path(@space, @event),{:method => :delete, :class => "basic_button blue_button", :id=>"button_yes"}%>
		<%else%>
		  <div id="lightbox_advise"><%= t('event.cancel.stop') %></div>
		  <%= link_to "<span>" + t('button.accept') + "</span>" , space_event_path(@space, @event),{:class => "basic_button blue_button", :id=>"button_yes"}%>
		<%end%>
    <%= link_to "<span>" + t('button.cancel') + "</span>", "javascript:our_close();" ,:class => "basic_button blue_button", :id=>"button_no"%>
  </div>
</div>

<div class="whyte_wrapper">
	<div id="agenda_header">
		<h2 id="agenda_date" class="blue"><%=agenda_date(@event)%></h2>
		<h3 id="agenda_days"><%=edit_agenda_day_links(@event)%></h3>
	</div>
	
	<div id="agenda_calendar">
		<div id="calendar"></div>
	</div>
	
  <div class="margin-up">
     <%= link_to "<span>" + t('button.back') + "</span>", edit_space_event_path(@space, @event, :in_steps=>params[:in_steps]),:class => "basic_button blue_button", :id=>"back_event"%>
	 <%= link_to "<span>" + t('button.next_invite') + "</span>", space_event_path(@space, @event, :in_steps=>params[:in_steps], :step=>"3"),:class => "basic_button blue_button", :id=>"next_invite_event"%>
     <%= link_to "<span>" + t('cancel') + "</span>", "#sure_form",:class => "basic_button blue_button", :id=>"cancel_event"%>
  </div>	
</div>


