<select>
  <option value="/">Space 1</option>
  <option value="/">Space 2</option>
  <option value="/">Space 3</option>
</select>

<ul>
  <li><%=link_to "Home"%></li>
  <li><%=link_to "Posts"%></li>
  <li><%=link_to "Events"%></li>
  <li><%=link_to "People"%></li>
  <li><%=link_to "Admin"%></li>
</ul>

<div id="search">
  <%= text_field_tag :search %>
</div>
