<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= yield :title %></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
	  <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
	  <%= stylesheet_link_tag "style", :media => "screen, projection" %>
	  <%= stylesheet_link_tag "print", :media => "print" %>
    <!--[if IE]> 
      <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
    <![endif]-->
	<%= yield :headers%>
	</head>

	<body>
		<div id="header">
		  <div id="menu" class="container">
		    <%= render :partial => "ui/layouts/header" %>
		  </div>
		</div>

	  <div id="site" class="container showgrid">
		  <div id="navigation" class="span-24 last">
		    <%= render :partial => "ui/layouts/home_navigation" %>
		  </div>
		  
		  <div id="content" class="span-24 last">
		    <div id="main" class="span-18">
		      <%= yield %>
		    </div>
		    
		    <div id="sidebar" class="span-6 last">
		      <%= yield :sidebar %>
		    </div>
		  </div>
		  
		  <div id="footer" class="span-24 last">
		    <%= render :partial => "ui/layouts/footer" %>
		  </div>    
	  </div>
	</body>
</html>