<% content_for :sidebar do  %>
  <%= render :partial => 'invite_participants' %>  
<%end%>

<div class="invitation-box">
	<div id="title">
		<h3><%=t("event_invitation.title")%></h3>
	</div>
<div id="invitation_content">
	<div id="logo">
	  <%= link_logo(@space, :size => "h64", :title=>@space.name) %>
	</div>
	<div id="invitation_content_inside" class="left-align">
	  <h3 class="item_title"><%=image_tag("icons/date.png", :class=>"icon")%> <%= @event.name %></h3>
	  <p><span class="bold blue"><%=t("when")%>:</span> <%=sanitize(@event.start_date.to_date.to_formatted_s(:short))%> <%=t("at")%> <%=@event.start_date.to_time.to_formatted_s(:time)%> (GMT <%= Time.zone.formatted_offset%>)</p>
	  <p><span class="bold blue"><%= t('organizer') %>:</span> <%=sanitize(@event.author.name)%></p>
	  <p><span class="bold blue"><%=t("description")%>:</span> <%=@event.description%></p>
	</div>



<% form_for (:event_invitation, :url => "/event_invitations/" + @invitation.code, :html => {:method => :put}) do |f| %>
  <%= f.hidden_field :processed, :value => true %>
  <%= f.hidden_field :accepted, :value => true %>


<!--This is shown only in case the user is not authenticated or not registered -->
  <% unless authenticated? %>
    <% fields_for @candidate do |cf| %>
      <%= cf.error_messages %>

      <p class="note">
      	<%=t("event_invitation.clarify")%>
      </p>
	  <div class="vline">
		  <div class="margin-up">
	      <%= cf.label t('event_invitation.full_name') %><br />
	        <%= cf.text_field :login %>
	      </div>
		  
		  <div class="margin-up">
	      <%= cf.label t('event_invitation.email') %><br />
	        <%= cf.text_field :login,:value=>@invitation.email,:disabled=>true %>
	      </div>
	
	      <div class="margin-up">
	        <%= cf.label t('agent.authentication.password') %><br />
	        <%= cf.password_field :password %>
	      </div>
	
	      <div class="margin-up">
	        <%= cf.label t('agent.authentication.confirm_password') %><br />
	        <%= cf.password_field :password_confirmation %>
	      </div>
	  </div>
    <% end %>
  <% end %>

  <div id="accept_invitation">
  	<button type="submit"><%=t('invitation.accept')%></button>    
  </div>


<% form_for (:event_invitation, :url => "/event_invitations/" + @invitation.code, :html => {:method => :put}) do |f| %>

  <%= f.hidden_field :processed, :value => true %>
  <div id="discard_invitation">
  	<button type="submit"><%=t('invitation.discard')%></button>
  </div>
<% end %>

<% end %>


</div>
</div>

