<% content_for :sidebar do  %>
  <%= render :partial => 'invite_participants' %>  
<%end%>

<div class="invitation-box">
	<div id="title">
		<h3>Event Invitation</h3>
	</div>
<div id="invitation_content">
		  <h2 class="item_title">Space: <%= t 'invitation.show', :group => @invitation.group.name %></h2>
	    <%=@invitation.group.description%>
	  <h2 class="item_title">Event: <%= @event.name %></h2>
	    <%=@event.description%>
<% form_for @invitation do |f| %>
  <%= f.hidden_field :processed, :value => true %>
  <%= f.hidden_field :accepted, :value => true %>

  <% unless authenticated? %>
    <% fields_for @candidate do |cf| %>
      <%= cf.error_messages %>

      <p>
      <%= cf.label t('agent.authentication.login') %><br />
        <%= cf.text_field :login %>
      </p>

      <p>
        <%= cf.label t('agent.authentication.password') %><br />
        <%= cf.password_field :password %>
      </p>

      <p>
        <%= cf.label t('agent.authentication.confirm_password') %><br />
        <%= cf.password_field :password_confirmation %>
      </p>
    <% end %>
  <% end %>

  <div id="accept_invitation">
    <%= f.submit t('invitation.accept') %>
  </div>
<% end %>

<% form_for @invitation do |f| %>
  <%= f.hidden_field :processed, :value => true %>
  <div id="discard_invitation">
    <%= f.submit t('invitation.discard') %>
  </div>

<% end %>
</div>
</div>

