<% per_page_values = [15, 30, 50]%>
<div id="home_menu">  
  <div id="show">
    <%=t('show')%>:
    <%=home_menu_checkbox "posts"%><%= label_tag t('post.other')%>  <%=home_menu_checkbox "events" %><%= label_tag t('event.other') %><%=home_menu_checkbox "news" %><%= label_tag t('news.other')%><%=home_menu_checkbox "attachments" %><%= label_tag t('attachment.other')%>
		<% per_page_values.each do |per_page| %>
		  <%=link_to_unless @contents_per_page.to_i == per_page, per_page, path_for_home(:per_page => per_page)%>
		<% end %>
		<%=t('per_page')%>
  </div>
  <div id="help" title= "<%= h(t('information.information2'))%>"></div>
  	<h3><%=t('home.activity')%></h3>
</div>
