.left-column
  #user-info
    .user-avatar
      = # logo(current_user, :size => "96", :title => current_user.name).html_safe # LOGO-REMOVED
      = logo_image(:model => current_user, :size => '96', :title => current_user.name)
      - if current_user.superuser?
        = superuser_label
    .user-data
      %span.user-name= current_user.name
      %span.user-email= current_user.email
      %span= current_user.profile.organization unless current_user.profile.organization.nil?
    .user-links
      %ul
        %li.last
          = link_to user_path(current_user) do
            %i.icon.icon-user
            = t('profile.one')
        %li
          = link_to edit_user_path(current_user) do
            %i.icon.icon-wrench
            = t('account')
        %li
          = link_to activity_home_path do
            %i.icon.icon-list
            = t('.activity_list')

.right-column
  = render :partial => "webconference_room"
