<div class="content-block">

<% per_page_values = [15, 30, 50]%>
<div id="home_menu">
  <div class="arrow_take_box float_right_icon <%= 'hide' unless @update_act %>" style="margin-top: 7px;">
    <%= image_tag("icons/takeico.png", :class=>"icon",:title=> t('information.reduce')) %>
  </div>
  <div id="show" class="<%= "hide" unless @update_act %>">
    <%=t('show')%>:
    <%=home_menu_checkbox "posts"%><%= label_tag t('post.other')%>  <%=home_menu_checkbox "events" %><%= label_tag t('event.other') %><%=home_menu_checkbox "news" %><%= label_tag t('news.other')%><%=home_menu_checkbox "attachments" %><%= label_tag t('attachment.other')%>
    <% per_page_values.each do |per_page| %>
      <%=link_to_unless @contents_per_page.to_i == per_page, per_page, path_for_home(:per_page => per_page)%>
    <% end %>
    <%=t('per_page')%>
  </div>
  <div id="help" title= "<%= h(t('information.information2'))%>"></div>
  <h3>
    <%=t('home.activity')%>
    <div class="arrow_drop_box float_right_icon <%= 'hide' if @update_act %>">
      <%= image_tag("icons/dropico.png", :class=>"icon",:title=> t('information.expand')) %>
    </div>
  </h3>
</div>

<div class="whyte_wrapper <%= "hide" unless @update_act %>">

<div id="recent-activity">

  <% for interval in intervals(@all_contents) do -%>
    <% unless interval[:contents].empty? -%>
      <div id="line">
        <span class="bold"><%= t('updated') + " " + interval[:name] %></span>
      </div>
    <% end -%>

    <% interval[:contents].each do |content| -%>
      <% case content -%>
      <% when Post -%>
        <%= render :partial => "posts/unified_post" , :locals => {:thread => content.reload, :extended => false, :last => (interval[:contents].last == content), :show_author => true} %>
      <% when Event -%>
        <%= render :partial => "events/unified_event", :locals => {:event => content.reload, :last => (interval[:contents].last == content)} %>
      <% when News -%>
        <%= render :partial => "news/unified_news", :locals =>{:news => content.reload, :last => (interval[:contents].last == content)}%>
      <% when Attachment -%>
        <% content = content.reload -%>
        <%= render :partial => "attachments/unified_attachment", :locals =>{:attachment => content, :last => (interval[:contents].last == content), :show_author => true} if content.post.blank?%>
      <% else -%>
        <div>
          <%= t('unknown_content', :content => content.class) %>
        </div>
      <% end -%>
    <% end -%>
  <% end -%>

  <%= will_paginate @all_contents %>
  <br/>
</div>

</div>

</div>
