<%= content_for :javascript do  %>

  $("a#newroom_bbb_link").fancybox({
    'hideOnContentClick' : false,
    'frameWidth' : 450,
    'frameHeight' : 430
  });

  $("a#invite_bbb_link").fancybox({
    'hideOnContentClick' : false,
    'frameWidth' : 450,
    'frameHeight' : 430
  });

<% end %>

<div id="webconference-rooms">
  <div class="my-webconference-rooms">
    <h3>
      <%= t('webconference.my_webconference') %>
      <span class="fr">
        <%= link_to t('button.new_room'), newroom_home_path, :id => 'newroom_bbb_link', :class => 'basic_button small_button' %>
      </span>
    </h3>
    <span class="text">
      <% if @bbb_room.empty? %>
        <%= t('home.no_rooms') %>
      <% else %>
        <% @bbb_room.each do |room| %>
          <ul>
            <li>
              <span class="red_c"> <%= room.meeting_id %> </span>
              <span class="fr"> <%= link_to image_tag("icons/cancel.png"), bigbluebutton_server_room_path(@server, room), :confirm => 'Are you sure?', :method => :delete %> </span>
              <span class="fr"> <%= link_to t('home.rem_room'), bigbluebutton_server_room_path(@server, room), :confirm => 'Are you sure?', :method => :delete %> </span>
              <div class="clearer"></div>
              <div class="webconference-url-home"> <%= join_bigbluebutton_server_room_url(@server, room) %> </div>
              <div class="clearer"></div>
              <br>
              <%= link_to t('button.join'), join_bigbluebutton_server_room_path(@server, room), :class => 'small_button orange_button bigbluebutton_button rounded_button border_button'%>
              <%= link_to t('button.invite_bbb'), inviteroom_invite_path(:roomName => room.name), :id => 'invite_bbb_link', :class => 'small_button pale_button bigbluebutton_button rounded_button border_button'%>
            </li>
          </ul>
        <% end %>
      <% end %>
    </span>
  </div>
</div>

