<%= content_for :javascript do  %>

  $("a#newroom_bbb_link").fancybox({
    'hideOnContentClick' : false,
    'frameWidth' : 450,
    'frameHeight' : 430
  });

<% end %>

<div id="webconference-rooms">
  <div class="my-webconference-rooms">
    <h3>
      <%= t('webconference.my_webconference') %> 
      <span class="fr">
        <%= link_to t('button.new_room'), newroom_home_path, :id => 'newroom_bbb_link', :class => 'small_button orange_button bigbluebutton_button rounded_button'%>
      </span>
    </h3>
    <span class="text">
      <!-- arrumar view para receber as salas como listas modificar o css do screen. -->
      <% if @roomOpen %>
        <% @bbb_rooms.each do |rooms| %>
          <ul>
            <li>
              <!-- arrumar view para receber as salas. -->
              <span class="red_c"> <%= rooms[:meetingID] %> </span>
              <span class="fr"> <%= link_to image_tag("icons/cancel.png"), endroom_home_path(:id => rooms[:meetingID], :pw => rooms[:moderatorPW])  %> </span>
              <span class="fr"> <%= link_to t('home.rem_room'), endroom_home_path(:id => rooms[:meetingID], :pw => rooms[:moderatorPW]) %> </span>
              <div class="clearer"></div>
              <div class="webconference-url-home"></div>
              <div class="clearer"></div>
              <br>
              <%= link_to t('button.join.one'), joinroom_home_path(:id => rooms[:meetingID], :pw => rooms[:moderatorPW]), :id => 'join_bbb_link', :class => 'small_button orange_button bigbluebutton_button rounded_button border_button'%>
              <%= link_to t('button.invite_bbb'), newroom_home_path, :id => 'invite_bbb_link', :class => 'small_button pale_button bigbluebutton_button rounded_button border_button'%>
            </li>
          </ul>
        <% end %>
      <% else %>
        <%= home.no_rooms %>
      <% end %>
    </span>
  </div>
</div>
