<div id="webconference-rooms">
  <div class="my-webconference-rooms">
    <h3>
      <%= image_tag("icons/bbb_logo.png") %> <%= t('webconference.my_webconference') %>
    </h3>
    <div class="room_list">
      <% if @bbb_rooms.empty? %>
        <span class="updated"><%= t('home.no_rooms') %></span>
      <% else %>
        <ul>
        <% button_id = 0 %>
        <% @bbb_rooms.each do |room| %>
          <li>
            <%= link_to t('button.join'), join_bigbluebutton_room_path(room), :class => 'basic_button small_button orange_pale_button webconf-start-link' %>
            <%= webconf_mobile_icon_link(join_mobile_bigbluebutton_room_path(room)) %>
            <span class="room_name">
              <%= room.name %>
            </span>
            <span class="updated">
              <% if room.is_running? %>
                <% if room.participant_count == 0 %>
                  <% text = t('home.running_with.no_participants') %>
                <% else %>
                  <% text = t('home.running_with.participants', :count => room.participant_count) %>
                <% end %>
              <% else %>
                <% text = t('home.not_running') %>
              <% end %>
              <% text = "(" + text + ")" %>
              <%= text %>
            </span>
            <span class="float_right">
              <%= link_to t('button.invite'), inviteroom_invite_path(:type => "webconference", :room => room.to_param), :id => 'invite_bbb_link', :class => 'basic_button small_button pale_button'%>
              <%= link_to t('home.view_invite_url'), '#', :id => "invite_url_button-#{button_id}", :class => 'basic_button small_button invite_url_button pale_button'%>
              <%= link_to t('button.edit'), edit_bbb_room_user_path(current_user, :room => room.to_param), :id => "edit_bbb_room", :class => 'basic_button small_button pale_button' %>
            </span>
            <div class="invite_url url_share" id="invite_url-<%= button_id %>">
              <span class="only_url"><%= t('home.invite_url') + ":" %> </span>
              <span class="blue" id="invite_url_text-<%= button_id %>"><%= join_webconf_url(room) %></span>
              <%= clippy(:id => "invite_url_text-#{button_id}", :bg_color => "#FFFFFF").html_safe %>
            </div>

            <div class="clearer"></div>
          </li>

          <% button_id += 1 %>
        <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div id="success" class="hide">
</div>
