#user-spaces.content-block

  .content-block-header
    %h3= t('home.my_spaces')
    = info_icon t('home.my_spaces_tooltip')

  .content-block-middle.clearfix
    - if current_user.spaces.empty?
      %p.no-spaces
        = t('home.no_spaces', :link => spaces_path).html_safe
    - else
      %ul.space-list
        - current_user.spaces.each do |space|
          %li
            .space-logo
              - space_logo = logo(space, :size => "h32", :title => space.name).html_safe
              - if space.authorize? :read, :to => current_user
                = link_to space_path(space) do
                  = space_logo
              - else
                = space_logo
            .description-box
              - if space.authorize? :read, :to => current_user
                = link_to first_words(space.name, 20), space_path(space), :title => space.name, :class => "space-title"
              - else
                %span{:title => space.name, :class => "space-title"}= first_words(space.name, 20)
              %span.description= t('members', :count => space.actors.count)

  .content-block-footer
    = link_to t('space.all'), spaces_path, :class => 'all-spaces'
    = link_to t('space.create_own'), new_space_path, :class => "button orange"

