- running = @room.is_running?
- active_cls = running ? "active" : ""

#webconference-room{ :class => active_cls }

  .header
    %h3
      - if running
        - if @room.participant_count == 0
          - status = t('home.webconference.running_with.no_participants')
        - else
          - status = t('home.webconference.running_with.participants', :count => @room.participant_count)
      - else
        - status = t('home.webconference.not_running')
      = status.capitalize

  .invite-url
    -#.clippy
    -#  = clippy(:id => "invite-url-text", :bg_color => "#FFFFFF").html_safe
    %label= t('home.webconference.your_url')
    = text_field_tag 'invite-url-text', join_webconf_url(@room), :readonly => true
    - if running
      = icon_in_progress

  %ul.action-buttons
    %li
      .btn-group.webconf-join-group
        - join_text = running ? t('.join') : t('.start')
        - btn_class = running ? "btn-success" : "btn-primary"
        = link_to join_text, join_options_bigbluebutton_room_path(@room), :class => "btn btn-small open-modal #{btn_class}"
        - unless running
          = link_to join_bigbluebutton_room_path(@room), options_for_tooltip(t(".fast_start"), :class => "btn btn-small btn-primary webconf-start-link") do
            %i.icon-share-alt
    - if running
      %li= link_to t('.end'), end_bigbluebutton_room_path(current_user.bigbluebutton_room, :redir_url => home_path), options_for_tooltip(t('home.webconference.end_tooltip'), :confirm => t('are_you_sure'), :class => 'btn btn-small btn-danger')
    %li
      .btn-group
        .btn.btn-small.dropdown-toggle{ :"data-toggle" => "dropdown", :href => "#" }
          = t('.options')
          .caret
        %ul.dropdown-menu.pull-right
          %li
            = link_to join_mobile_bigbluebutton_room_path(@room), :class => "webconf-join-mobile-link no-icon" do
              %span= t('.join_mobile_full')
          %li.divider
          %li= link_to t('.invite'), inviteroom_invite_path(:type => "webconference", :room => @room.to_param), :class => 'open-modal'
          %li= link_to t('.preferences'), user_webconference_edit_path(current_user), :class => 'open-modal'
