#webconference-room.content-block

  %h3
    - if @room.is_running?
      = image_tag('icons/in_progress-16x16.gif', :class => 'in-progress-icon')
      - if @room.participant_count == 0
        - status = t('home.webconference.running_with.no_participants')
      - else
        - status = t('home.webconference.running_with.participants', :count => @room.participant_count)
    - else
      - status = t('home.webconference.not_running')
    = status.capitalize
    - t('webconference.my_webconference')

  - active_cls = @room.is_running? ? "active" : ""
  .webconference-footer{ :class => active_cls }

    .action-buttons
      -#= link_to t('configurations'), edit_bbb_room_user_path(current_user, :room => @room.to_param), :id => "edit_bbb_room", :class => 'button'
      -#= link_to t('button.invite'), inviteroom_invite_path(:type => "webconference", :room => @room.to_param), :id => 'invite_bbb_link', :class => 'button'
      - join_text = @room.is_running? ? t('webconference.join') : t('webconference.start_now')
      = link_to join_text, join_bigbluebutton_room_path(@room), :class => 'button green webconf-start-link'
      = webconf_mobile_icon_link(join_mobile_bigbluebutton_room_path(@room))
      = link_to '+', inviteroom_invite_path(:type => "webconference", :room => @room.to_param), :title => t('home.webconference.invite_tooltip'), :class => 'open-modal button tooltipped upwards'
      = link_to '...', edit_bbb_room_user_path(current_user, :room => @room.to_param), :title => t('home.webconference.config_tooltip'), :class => 'open-modal button tooltipped upwards'

    .config-buttons
    .invite-url
      .clippy
        = clippy(:id => "invite-url-text", :bg_color => "#FFFFFF").html_safe
      = label_tag 'invite-url-text', t('home.webconference.your_url')
      = text_field_tag 'invite-url-text', join_webconf_url(@room), :readonly => true
