<div class="webconf-rooms">
  <h3> <%= t('webconference.invite_webconference') %> </h3>
</div>

<%= form_for(:home, :url => inviteroom_home_path) do |f| %>

  <div class="webconf-rooms">
    <span class="text"><%= t('invite_people.room') %><span class="red_c"><%= @bbb_room[:meetingID] %></span></span>
    <div class="clearer"></div>
    <br>
    <div class="webconference-url"> <%= joinroom_home_url %> </div>
    <div class="clearer"></div>
    <br>
    <span class="text"><span class="red_c"><%= t('invite_people.member.other') %></span></span>
    <div class="clearer"></div>
    <div>
      <span class="text"><%= t('invite_people.name.one') %></span>
	    <%= f.text_field :name, :id=> "member_name", :size =>45 %>
      <%= link_to t('button.insert'), newroom_home_path, :id => 'newroom_bbb_link', :class => 'small_button pale_button bigbluebutton_button rounded_button'%>
    </div>
    <%= f.text_area :names, :id=> "member_names", :size=> "56x5", :disabled=>'disabled' %>
    <div class="clearer"></div>
    <div>
      <%= check_box("im", "selected", {}, "yes", "no") %>
      <%= "Internal Message" %> 
      <%= check_box("email", "selected", {}, "yes", "no") %>
      <%= "E-mail" %>
    </div>
    <br>
    <span class="text"><span class="red_c"><%= t('invite_people.member.non.other') %></span></span>
    <div class="clearer"></div>
    <div>
      <span class="text"><%= t('invite_people.email.other') %></span>
	    <%= f.text_field :email, :id=> "non_member_email", :size =>45 %>
    </div>
    <div class="clearer"></div>
    <br>
    <span class="text"><span class="red_c"> <%= t('invite_people.message.one') %> </span></span>
    <div class="clearer"></div>
    <%= f.text_area :message, :id=> "text_message", :size=> "56x5" %>
    <div class="clearer"></div>
    <span <%= link_to t('button.ok'), newroom_home_path, :id => 'newroom_bbb_link', :class => 'small_button pale_button bigbluebutton_button rounded_button'%>
  </div>

<% end %>
