<h3 class="dialog_title"> <%= t('webconference.new_webconference') %> </h3>

<%= form_for [@server, @room], :url => bigbluebutton_server_rooms_path(@server) do |f| %>
<div id="new-webconf-room">
  <div class="webconf-rooms">
    <%= hidden_field_tag :redir_url, home_path %>
    <%= f.hidden_field :owner_id %>
    <%= f.hidden_field :owner_type %>
    <%= f.hidden_field :logout_url %>
    <div class="field">
      <%= f.label :name %><%= f.text_field :name, :id => "room_name", :size => 20 %>
    </div>
    <div class="field">
      <%= f.label :private %><%= f.check_box :private, :id => "private" %>
    </div>
    <div id="new_room_private_area">
      <div class="field">
        <%= f.label :moderator_password %>
        <%= f.password_field :moderator_password, :id => "moderatorPW", :disabled => true %>
      </div>
      <div class="field">
        <%= f.label :attendee_password %>
        <%= f.password_field :attendee_password, :id => "attendeePW", :disabled => true %>
      </div>
    </div>
    <div class="float_right">
      <button type="submit" class="basic_button blue_button"><%=t('button.create')%></button>
    </div>
    <div class="clearer"></div>
  </div>
</div>
<% end %>
