<div class="webconf-rooms">
  <h3> <%= t('webconference.new_webconference') %> </h3>
</div>

<%= form_for [@server, @room], :url => bigbluebutton_server_rooms_path(@server) do |f| %>
  <div class="webconf-rooms">
    <p>
      <label for="Title"><%= f.label :name %>:</label>
      <%= f.text_field :name, :id => "room_name", :size => 45 %>
      <%= f.hidden_field :owner_id %>
      <%= f.hidden_field :owner_type %>
      <%= hidden_field_tag :redir_url, home_path %>
      <button type="submit" class="basic_button pale_button bugbluebutton_button rounded_button"><%=t('button.create')%></button>
    </p>
    <div class="clearer"></div>
  </div>
<% end %>
