= content_for :"upper-content" do
  = render :partial => "upper_content"

= content_for :sidebar do

  -# Inbox
  - unless @private_messages.empty?
    = render_sidebar_content_block('sidebar-inbox') do
      - unread_msgs = current_user.unread_private_messages.size
      .content-block-header
        = link_to t('inbox.unread_text', :count => unread_msgs), user_messages_path(current_user)
        = image_tag("icons/email.png", :class => "icon")

  -# Upcoming events
  = render_sidebar_content_block('sidebar-upcoming-events') do
    .content-block-header
      = image_tag("icons/date.png")
      %h3= t('calendar.my')
    .toolbar
      %span.event-timezone
        (#{t('timezone.one')}: GMT#{Time.zone.formatted_offset})
    .content-block-middle
      %span.event-category= t('today')
      = render 'events/sidebar_event_wrapper', :events => @today_events
      %span.event-category= t('event.upcoming.my_other')
      = render 'events/sidebar_event_wrapper', :events => @upcoming_events

  = render_sidebar_content_block('users-user-spaces') do
    .content-block-header
      %h3= t('home.my_spaces')
      = info_icon t('home.my_spaces_tooltip')
    .toolbar
      = link_to t('space.all'), spaces_path
      = link_to t('space.create_own'), new_space_path
    = render "users/user_spaces", :user => current_user

= render "users/recent_activity", :content => @all_contents

