<% # TODO: remove javascript to independent js files %>
<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $("input.home_menu_checkbox").click(function(){
    var contents;
    var value = this.value
    if ($.deparam.querystring().contents == null){
      contents = "<%=Space.contents.map(&:to_s).join(",")%>".split(",");
    }else{
      contents = $.deparam.querystring().contents.split(",");
    }

    if ($(this).attr("checked")){
      contents.push(value);
    }
    else{
      contents = jQuery.grep(contents, function (a) {
        return a != value;
      });
    }
    window.location=$.param.querystring("<%= home_path %>" + "?" + $.param.querystring(), "contents=" + contents.join(","));
  });

});
</script>
<% end %>

<%= content_for :"page-header" do %>
  <%= render_page_title t('home.my'), 'icons/my-home-64x64.png', { :transparent => true } %>
<% end %>

<%= content_for :sidebar do  %>

  <% if logged_in? %>
    <div class="sidebar-top-action-button">
      <%= link_to t('space.create_own'), new_space_path, :class => "button orange big" %>
      <%= render_clearer %>
    </div>
  <% end %>

  <%= render_sidebar_content_block('sidebar-upcoming-events') do %>
    <h3>
      <%= image_tag("icons/date.png") %>
      <%= t('calendar.my') %>
    </h3>

    <div class="content-block-content-wrapper">
      <span class="event-timezone">
        (<%= t('timezone.one') %>: GMT<%= Time.zone.formatted_offset %>)
      </span>

      <span class="event-category"><%= t('today') %></span>
      <%= render 'events/sidebar_event_wrapper', :events => @today_events %>

      <span class="event-category"><%= t('event.upcoming.my_other') %></span>
      <%= render 'events/sidebar_event_wrapper', :events => @upcoming_events %>
    </div>
  <% end %>

  <div id="home-inbox-full" class="margin-up">

    <div id="home-inbox-title">
      <h3>
        <%=image_tag("icons/email.png",:class=>"icon")%>
        <%= link_to t('inbox.my', :checked => PrivateMessage.inbox(current_user).select{|msg| !msg.checked}.size), user_messages_path(current_user), :id => "user_inbox_link" %>
      </h3>
    </div>

    <%if @private_messages.empty?%>
      <div class="next-events-section">
        <span><%=t("message.private.none")%></span>
      </div>
    <%else%>
      <%for private_message in @private_messages%>
        <%if @sender.present?%>
          <%@sender=User.find_with_disabled(private_message.sender_id)%>
          <div class="next-events-section">
            <div class="user-logo">
              <%= raw(link_logo(@sender,:size=>32, :url => user_path(@sender), :title=>@sender.login)) %>
            </div>
            <div class="home-inbox-message">
              <span class="home-inbox-topic"><%= link_to first_words(sanitize(private_message.title),25), user_messages_path(current_user, :message=>private_message.id) %></span>
              <br/>
              <%= sanitize(first_words(private_message.body,35)) %>
            </div>
          </div>
        <%else%>
          <div class="next-events-section">
            <div class="home-inbox-message">
              <span class="home-inbox-topic"><%= link_to first_words(sanitize(private_message.title),25), user_messages_path(current_user, :message=>private_message.id) %></span>
              <br/>
              <%= sanitize(first_words(private_message.body,35)) %>
            </div>
          </div>
        <%end%>
      <%end%>
    <%end%>
  </div>

<%end%>

<%= render :partial => "rooms" %>

<%= render :partial => "user_spaces", :locals => {:show_user =>current_user, :title=>t('space.my_spaces')} %>

<%= render :partial => "recent_activity" %>
