= content_for :page_header do
  = render :partial => "page_header"

= content_for :sidebar do

  -# Inbox
  - unless @private_messages.empty?
    = render_sidebar_content_block('sidebar-inbox') do
      - unread_msgs = current_user.unread_private_messages.size
      .content-block-header
        = link_to t('inbox.unread_text', :count => unread_msgs), user_messages_path(current_user)
        = image_tag("icons/email.png", :class => "icon")

  -# Upcoming events
  = render_sidebar_content_block('sidebar-upcoming-events') do
    .content-block-header
      = image_tag("icons/date.png")
      %h3= t('calendar.my')
    .toolbar
      %span.event-timezone
        (#{t('timezone.one')}: GMT#{Time.zone.formatted_offset})
    .content-block-middle
      %span.event-category= t('today')
      = render 'events/sidebar_events_simple', :events => @today_events
      %span.event-category= t('event.upcoming.my_other')
      = render 'events/sidebar_events_simple', :events => @upcoming_events

#user-space-list.content-block
  .content-block-header
    %h3= t('home.my_spaces')
    = info_icon t('home.my_spaces_tooltip')
    .toolbar
      = link_to t('.view_all_spaces'), spaces_path
      = link_to t('.create_space'), new_space_path, :class => "btn btn-mini btn-primary"
  .content-block-middle
    = render 'users/user_spaces', :user => current_user, :spaces => @user_spaces

#users-recent-activity.content-block
  .content-block-header
    %h3= t('recent.activity')
    = info_icon t('recent_activity.tooltip')
    .toolbar
      = link_to t('.view_all_activity'), activity_home_path
  #users-recent-activity-content.content-block-middle
    = render "users/recent_activity_content", :content => @all_contents, :paginate => false
