
<% content_for :headers do  -%>
  <%= javascript_include_tag 'jquery.filestyle', 'fckeditor/fckeditor' %>
<% end -%>

<% content_for :javascript do %>

/*
 *  Expand and collapse thread
 */
  extend_thread = function(id){
    $("#parent_" + id + " .extended_thread").show();
    $("#parent_" + id + " .extend_thread").hide();
    $("#parent_" + id + " .collapse_thread").show();
    $("#message-body-" + id).hide();
  }
	
  collapse_thread = function(id){
    $("#parent_" + id + " .extended_thread").hide();
    $("#parent_" + id + " .extend_thread").show();
    $("#parent_" + id + " .collapse_thread").hide();
    $("#message-body-" + id).show();
  }  
  
<% end %>


<% content_for :sidebar do  %>
  <div class="next-events">
     <div class="next-events-title">
       <p><strong><%=image_tag("icons/date.png",:class=>"icon")%> Upcoming Events </strong> <span class="small-font">(GMT <%= Time.zone.formatted_offset %> )</span></p>
     </div>
	<ul>
	  <div class="next-events-section">
	    <%if @today_events.empty?%>
	      <b>Today</b> You have no events<br/>
	    <%else%>
	      <b>Today</b>
	      <% for event in @today_events -%>
                <li class="event">
                  <%event_link="<h5 class="'up-event'">" + sanitize(event.title) + "</h5> <span class='small-font'>" + event.start_date.to_formatted_s(:short) + " - " + event.end_date.to_formatted_s(:short) + "</span>"%>
                  <%=link_to event_link, space_event_path(event.space,event)%>
                  <%=link_to "", space_event_path(event.space,event),:class=>"box-link"%>
                </li>
              <% end -%>
	    <%end%>
	  </div>
	  <div class="next-events-section">
	    <%if @tomorrow_events.empty?%>
	      <b>Tomorrow</b> You have no events<br/>
	    <%else%>
	      <b>Tomorrow</b>
	      <% for event in @tomorrow_events -%>
                <li class="event">
                  <%event_link="<h5 class="'up-event'">" + sanitize(event.title) + "</h5> <span class='small-font'>" + event.start_date.to_formatted_s(:short) + " - " + event.end_date.to_formatted_s(:short) + "</span>"%>
                  <%=link_to event_link, space_event_path(event.space,event)%>
                  <%=link_to "", space_event_path(event.space,event),:class=>"box-link"%>
                </li>
              <% end -%>
	    <%end%>
	  </div>
	  <div class="next-events-section">
	    <%if @week_events.empty?%>
	      <b>Next week</b> You have no events<br/>
	    <%else%>
	      <b>Next week</b>
	      <% for event in @week_events -%>
                <li class="event">
                  <%event_link="<h5 class="'up-event'">" + sanitize(event.title) + "</h5> <span class='small-font'>" + event.start_date.to_formatted_s(:short) + " - " + event.end_date.to_formatted_s(:short) + "</span>"%>
                  <%=link_to event_link, space_event_path(event.space,event)%>
                  <%=link_to "", space_event_path(event.space,event),:class=>"box-link"%>
                </li>
              <% end -%>
	    <%end%>
	  </div>
	  <div class="next-events-section">
	    <%if @upcoming_events.empty?%>
	      <b>Upcoming events</b> You have no events<br/>
	    <%else%>
	      <b>Upcoming events</b>
	      <% for event in @upcoming_events -%>
                <li class="event">
                  <%event_link="<h5 class="'up-event'">" + sanitize(event.title) + "</h5> <span class='small-font'>" + event.start_date.to_formatted_s(:short) + " - " + event.end_date.to_formatted_s(:short) + "</span>"%>
                  <%=link_to event_link, space_event_path(event.space,event)%>
                  <%=link_to "", space_event_path(event.space,event),:class=>"box-link"%>
                </li>
              <% end -%>
	    <%end%>
	  </div>
	</ul> 
	<br/>
  </div>
  
  <div id="home-inbox-full">
    <div id="home-inbox-title"><%=image_tag("icons/email.png",:class=>"icon")%><%= link_to t('inbox', :checked => PrivateMessage.inbox(current_user).select{|msg| !msg.checked}.size), user_messages_path(current_user), menu_options(:inbox, :id => "user_inbox_link")%></div>
    <% for private_message in @private_messages %>
      <%@sender=User.find_with_disabled(private_message.sender_id)%> 
      <div class="user-logo"><%=link_logo(@sender,:size=>32, :url => user_profile_path(@sender), :title=>@sender.login)%></div>  
      <div class="home-inbox-message">
        <span class="home-inbox-topic"> <%= link_to sanitize(private_message.title), user_messages_path(current_user)%></span><br/>
        <%= sanitize(first_words(private_message.body,35))%>
      </div>
      
    <% end %>
  </div>
<% end %>

<div id="posts">
  <%= will_paginate @all_in_all %><br/>
  <% for item in @all_in_all do %>	
	<%if item.class == Post %>
	  <%@space=item.space%>
	  <%= render :partial => "posts/thread" , :locals => {:in_home => true, :thread => item, :extended => false} %>
	<%elsif item.class == Event %>
	  <%@space=item.space%>
	  <%= render :partial => 'events/event_in_home', :locals => {:event=>item} %>
	<%elsif item.class == News %>
	  <%@space=item.space%>
	  <%@news_to_show = item%>
	  <%@news_position = 1 %>
	  <%@news=[]%>
	  <%= render :partial => 'spaces/news_in_home'%>
	<%else%>
	  I don't know what is a "<%item.class%>"
	<%end%>
  <% end %>
</div>
