<% # TODO: remove javascript to independent js files %>
<%= content_for :headers do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $("input.home_menu_checkbox").click(function(){
    var contents;
    var value = this.value
    if ($.deparam.querystring().contents == null){
      contents = "<%=Space.contents.map(&:to_s).join(",")%>".split(",");
    }else{
      contents = $.deparam.querystring().contents.split(",");
    }

    if ($(this).attr("checked")){
      contents.push(value);
    }
    else{
      contents = jQuery.grep(contents, function (a) {
        return a != value;
      });
    }
    window.location=$.param.querystring("<%= home_path %>" + "?" + $.param.querystring(), "contents=" + contents.join(","));
  });

});
</script>
<% end %>

<%= content_for :"page-header" do %>
  <% locals = { :page_title => t('home.my'), :logo => 'icons/my-home-64x64.png', :clean => true } %>
  <%= render :partial => 'layouts/page_title', :locals => locals %>
<% end %>

<%= content_for :sidebar do  %>

  <% if logged_in?%>
    <div class="button_wrapper">
      <%= link_to raw("<span>" + t('space.create_own') + "</span>"), new_space_path,:class => "new_space_link big_button orange_button"%>
    </div>
    <div class="clearer"></div>
  <%end%>

  <%if !(current_user.spaces.empty?)%>
    <%periods = select_periods(@events_of_user)%>
  <%else%>
    <%periods = [["today",[]], ["event.upcoming.my_other",[]],["event.upcoming.other_all",[]]]%>
  <%end%>

  <div class="next-events margin-up">
    <div class="next-events-title">
      <h3>
        <%=image_tag("icons/date.png",:class=>"icon") + " " + t('calendar.my')%>
        <span class="small-font">(GMT<%= Time.zone.formatted_offset %>)</span>
      </h3>
    </div>

    <%periods.each do |period|%>
      <div class="next-events-section">
        <%if (period[0]== "today") && (period[1].empty?)%>
          <span class="bold"><%= t(period[0])%></span>
          <%=t('event.no_events')%>
        <%elsif !period[1].empty?%>
          <span class="bold"><%= t(period[0])%></span>
          <ul>
            <% for event in period[1] -%>
              <li class="event">
                <% event_link="<span class='red'>" + sanitize(event.title) + "</span> <br/> <span class='small-font unified_date'>" + event.start_date.to_formatted_s(:short) + " - " + event.end_date.to_formatted_s(:short) + "</span>"%>
                <%= link_to raw(event_link), space_event_path(event.space,event) %>
                <%= link_to "", space_event_path(event.space,event),:class=>"box-link"%>
              </li>
            <%end%>
          </ul>
        <%end%>
      </div>
    <%end%>

  </div>

  <div id="home-inbox-full" class="margin-up">

    <div id="home-inbox-title">
      <h3>
        <%=image_tag("icons/email.png",:class=>"icon")%>
        <%= link_to t('inbox.my', :checked => PrivateMessage.inbox(current_user).select{|msg| !msg.checked}.size), user_messages_path(current_user), menu_options(:inbox, :id => "user_inbox_link")%>
      </h3>
    </div>

    <%if @private_messages.empty?%>
      <div class="next-events-section">
        <span><%=t("message.private.none")%></span>
      </div>
    <%else%>
      <%for private_message in @private_messages%>
        <%if @sender.present?%>
          <%@sender=User.find_with_disabled(private_message.sender_id)%>
          <div class="next-events-section">
            <div class="user-logo">
              <%= raw(link_logo(@sender,:size=>32, :url => user_path(@sender), :title=>@sender.login)) %>
            </div>
            <div class="home-inbox-message">
              <span class="home-inbox-topic"><%= link_to first_words(sanitize(private_message.title),25), user_messages_path(current_user, :message=>private_message.id) %></span>
              <br/>
              <%= sanitize(first_words(private_message.body,35)) %>
            </div>
          </div>
        <%else%>
          <div class="next-events-section">
            <div class="home-inbox-message">
              <span class="home-inbox-topic"><%= link_to first_words(sanitize(private_message.title),25), user_messages_path(current_user, :message=>private_message.id) %></span>
              <br/>
              <%= sanitize(first_words(private_message.body,35)) %>
            </div>
          </div>
        <%end%>
      <%end%>
    <%end%>
  </div>

<%end%>

<%= render :partial => "rooms" %>

<%= render :partial => "user_spaces", :locals => {:show_user =>current_user, :title=>t('space.my_spaces')} %>

<%= render :partial => "recent_activity" %>
