#components

  .section-title
    %h2= t('frontpage.components.title')
    .subtitle
      %span= t('frontpage.components.subtitle')

  .content-block

    .component.first
      .picture
        = image_tag('frontpage/bbb-screen-1.png', :size => '314x200')
        = image_tag('logos/bbb-36x36.png', :size => '36x36', :class => 'overlay')
      .description-container
        %h3.component-title
          = t('frontpage.components.bigbluebutton.title')
          %span.subtitle= t('frontpage.components.bigbluebutton.subtitle')
        .description
          %p= t('frontpage.components.bigbluebutton.description')
          %ul
            %li= link_to t('frontpage.components.bigbluebutton.link1'), "http://bigbluebutton.org"
            %li= link_to t('frontpage.components.bigbluebutton.link2'), "http://code.google.com/p/mconf/wiki/MconfBBB"

    .component
      .picture
        = image_tag('frontpage/mconf-mobile-photo-1.jpg', :size => '314x200')
        = image_tag('logos/android-36x36.png', :size => '36x36', :class => 'overlay')
      .description-container
        %h3.component-title
          = t('frontpage.components.mobile.title')
          %span.subtitle= t('frontpage.components.mobile.subtitle')
        .description
          %p= t('frontpage.components.mobile.description')
          %ul
            %li= link_to t('frontpage.components.mobile.link1'), "http://code.google.com/p/mconf/wiki/MconfMobile"
            %li= link_to t('frontpage.components.mobile.link2'), "https://picasaweb.google.com/108245856281359125408/BigBlueButtonForAndroidV03beta?feat=directlink"

    .component
      .picture
        = image_tag('frontpage/mconf-web-screen-1.png', :size => '314x200')
        = image_tag('logos/rails-36x36.png', :size => '36x36', :class => 'overlay')
      .description-container
        %h3.component-title
          = t('frontpage.components.portal.title')
          %span.subtitle= t('frontpage.components.mobile.subtitle')
        .description
          %p= t('frontpage.components.portal.description')
          %ul
            %li= link_to t('frontpage.components.portal.link1'), "http://code.google.com/p/mconf/wiki/MconfWeb"
            %li= link_to t('frontpage.components.portal.link2'), signup_path
