<div id="global-header-content">

  <div id="frontpage-logo">
    <a href="/" class="title"><%= t('mconf') %></a><span class="subtitle">.org</span>
  </div>

  <div id="registration-box">
    <span><%= t('frontpage.register_sentence') %></span>
    <div class="register_button">
      <a href="<%= signup_path %>" class="button orange big"><%= t('register.one') %></a>
    </div>
  </div>

  <div id="login-box">
    <%= t('login.login_desc') %>

    <%= form_tag session_url(:protocol => current_site.protocol), :class => "login_form" do -%>

      <%= text_field_tag 'login', params[:login] %>
      <label for="login"><%= t('login.email_or_login') %></label>

      <%= password_field_tag 'password', nil %>
      <label for="password"><%= t('login.password') %></label>

      <button type="submit" class="button"><%=t("login.one")%></button>
    <% end -%>

    <div class="action-links">
      <%= link_to t('user.lost_password'), lost_password_path %>
      <% if current_site.shib_enabled? %>
        <span>|</span>
        <%= link_to t('cafe.login'), shibboleth_path %>
      <% end %>
    </div>
  </div>

</div>
