#global-header

  #main-logo
    %a.title{:href => root_path}= t('mconf')
    %span.subtitle .org

  #registration-box
    %span= t('frontpage.register_sentence')
    .register_button
      %a.button.orange.big{:href => signup_path}= t('register.one')

  #login-box
    = t('login.login_desc')
    = simple_form_for :session, :url => session_url(:protocol => current_site.protocol) do |f|
      = f.text_field :login
      = f.label t('login.email_or_login')
      = f.password_field :password
      = f.label t('login.password')
      = f.button :submit, t("login.one")
    .action-links
      = link_to t('user.lost_password'), lost_password_path
      - if current_site.shib_enabled?
        = link_to t('cafe.login'), shibboleth_path, :class => 'shibboleth_login'
