<div id="most-active-spaces">

<!--
  <div class="space-information">
    <div id="space-information-none">Pass your mouse over a space below to view more about it...</div>
    <% spaces.each do |space| %>
      <div id="space-information-qui"><%= space.name %>: <%= space.users.count %> users, <%= space.unique_pageviews %> page views.</div>
    <% end %>
  </div>
-->

  <ul>
    <% spaces.each do |space| %>
      <li>
        <a href="<%= space_path(space) %>">
          <%= logo(space, :size=> 'h96', :title => sanitize(space.name)).html_safe %>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<%= render_clearer %>

