 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
  <link href="stylesheets/frontpage.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    
    <!--[if IE]> 
    <link href="stylesheets/ie.css?1242919478" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    
  </head>

  <body>
  <div id="site">
    <div id="home">
    <div id="header">
    <div id="logo">
		  <img alt="Gp-logo" height="80" src="images/gp-logo.jpg" width="80" />
		</div>
		
		<div id="search">
		  <h1>GLOBAL PROJECT</h1>
		</div>
		
		<div id="eu">
		  <img alt="Union_europea" height="48" src="images/flags/union_europea.jpg" width="72" />
		</div>

    </div>
    <div id="content">  
          <div id="main">
              
            
  
          <div class="about-wrapper">
      <h3 class="title">GLOBAL Description</h3>
      <div id="description">
      <p>
        Global Linkage Over BroadbAnd Links will provide a virtual conference centre using advanced communication technologies and concepts to support the promotion of e-infrastructure topics in Europe and around the world.
      </p>
      <p>
        One main goal of GLOBAL will be to allow and help research projects to disseminate their results and training events to a wider audience located in multiple geographical locations through the organization of virtual conferences. GLOBAL will provide a user-centric interface for planning, creation, announcement, coordination, content management and realisation of virtual conferences with open and wide participation. Through these virtual conferences the participating users will be able to exchange information on e-infrastructure development in their region, identify partners for future collaboration and exchange and discuss synergies between their running initiatives.
      </p>
      <p>
        The virtual conference events will provide advanced videoconferencing and collaboration tools and support to the participants. Each event will be recorded and stored on a repository together with documents and outcomes for future consultation. The virtual conference centre will provide three main functions focused on usability: a virtual auditorium, for planning, coordination and management of the virtual events, an event repository, to store the recordings and outcomes of the events, and a virtual corridor, which will support networking and partnership building amongst the participants.
      </p>
      <p>
        The project is supported by the European Commissions/ 7 FRAMEWORK PROGRAMME/THEME Capacities/Research Infrastructures.
      </p>
      </div>              
    </div>        

    <div class="about-wrapper">
      <h3 class="title">Project video</h3>
      <object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/-r1ZwmO-Vmc&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/-r1ZwmO-Vmc&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
    </div>
    
    <div class="about-wrapper">
      <h3 class="title">Photo Gallery</h3>
        <div class="pics">
          <img alt="Pic-gallery1" src="images/demo/pic-gallery1.jpg" title="GEANT2_1" />
        </div>
        <div class="pics">
          <img alt="Pic-gallery2" src="images/demo/pic-gallery2.jpg" title="GEANT2_2" />
        </div>
        <div id="end" class="pics">
          <img alt="Pic-gallery3" src="images/demo/pic-gallery3.jpg" title="GEANT2_3" />
        </div>
    </div>
        
      </div>
      
      <div id="sidebar">
          <div id="about-sidebar">
      <div id="go-vcc">
      	<a href="http://vcc.dit.upm.es"><img alt="Vcc-logo" src="images/vcc-logo.png" title="Virtual Conference Centre" /></a>
	  </div>
			<br/>
			
			<div class="global-posts">
				<%unless @latest_global_posts.empty?%>
					<h5><%=link_to ("Latest News", space_posts_url(@global,:host => current_site.domain))%></h5>	
					<%for post in @latest_global_posts%>
						<ul>
							<li>
								<%=link_to (sanitize(post.title), space_post_url(@global,post,:host => current_site.domain))%>
							</li>
							<li>
								<span class="updated"> Updated <%=time_ago_in_words(post.updated_at)%> ago</span>								
							</li>							
							<li>
								<%if post.text.size < 70%>
								  <%=sanitize(post.text)%>
								<%else%>									
									<%=sanitize(first_words(post.text,70))%> <%=link_to ("more >>", space_post_url(@global, post, :host => current_site.domain))%>
								<%end%>	
							</li>
					  </ul>	
					<%end%>
				<%end%>	
			</div>
			
			<div class="partners">
      <h5>Partners</h5>         
      <div>
        <ul>
          <li><a href="http://www.zsi.at/">Zentrum für Soziale Innovation (ZSI)</a></li>
          <li>Austria</li>
        </ul>
        <ul>
          <li><a href="http://www2.upm.es/institucional">U. Politécnica de Madrid (UPM)</a></li>
          <li>Spain</li>
        </ul>
        <ul>
          <li><a href="http://www.agora-2000.com/">Agora Systems S.A. (ASSA)</a></li>
          <li>Spain</li>
        </ul>
        <ul>
          <li><a href="http://www.redclara.net/">Cooperación Latino Americana de Redes Avanzadas (CLARA)</a></li>
          <li>Uruguay</li>
        </ul>
        <ul>  
          <li><a href="http://www.ucl.ac.uk/">University College London (UCL)</a></li>
          <li>United Kingdom</li>
        </ul>
        <ul>  
          <li><a href="http://www.ijs.si/ijsw/JSI">Jozef Stefan Institute (JSI)</a></li>
          <li>Slovenia</li>
        </ul>
        <ul>  
          <li><a href="http://www.ubuntunet.net/">Ubuntunet (Ubuntunet)</a></li>
          <li>Malawi</li>
        </ul>
      </div>
      
      </div>

      <div class="contact">
      <h5>Contact Information</h5>
        <ul>
          <li>Margit Hofer</li>
          <li>Zentrum für Soziale Innovation</li>
          <li>Linke Wienzeile 246</li>
          <li>1150 Wien</li>
          <li>email: hofer@zsi.at</li>
          <li>phone: +43/ 1 495 04 42 -  63</li>
        </ul>
      
      </div>
  </div>
          </div>
    </div>
      <div id="footer">
			  <ul>
			    <li id="trade_mark"><img alt="Bola_global_peque" class="icon" src="/images/bola_global_peque.png?1242226208" /> global-project.eu</li>
			  <li>-</li>
			  <li>All rights reserved</li>
			  </ul>
			</div>
      </div>

   </div>
  </body>
</html>

 
		