 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
  <link href="stylesheets/frontpage.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="stylesheets/galleriffic.css" type="text/css" />
    <%= javascript_include_tag 'jquery', 'application', 'jquery.livequery', 'jquery.fancybox', 'jquery.easing', 'jquery-ui', 'jquery.form' %>   
    <%= javascript_include_tag 'jquery.galleriffic.js'%>
    
    <!--[if IE]> 
    <link href="stylesheets/ie.css?1242919478" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    
  </head>

  <body>
  <div id="site">
    <div id="home">
    <div id="header">
    <div id="logo">
		  <img alt="Gp-logo" height="80" src="images/gp-logo.jpg" width="80" />
		</div>
		
		<div id="search">
		  <h1>GLOBAL PROJECT</h1>
		</div>
		
		<div id="eu">
		  <img alt="Union_europea" height="48" src="images/flags/union_europea.jpg" width="72" />
		</div>

    </div>
    <div id="content">  
          <div id="main">
              
            
  
          <div class="about-wrapper">
      <h3 class="title">GLOBAL Description</h3>
      <div id="description">
      <p>
        Global Linkage Over BroadbAnd Links will provide a virtual conference centre using advanced communication technologies and concepts to support the promotion of e-infrastructure topics in Europe and around the world.
      </p>
      <p>
        One main goal of GLOBAL will be to allow and help research projects to disseminate their results and training events to a wider audience located in multiple geographical locations through the organization of virtual conferences. GLOBAL will provide a user-centric interface for planning, creation, announcement, coordination, content management and realisation of virtual conferences with open and wide participation. Through these virtual conferences the participating users will be able to exchange information on e-infrastructure development in their region, identify partners for future collaboration and exchange and discuss synergies between their running initiatives.
      </p>
      <p>
        The virtual conference events will provide advanced videoconferencing and collaboration tools and support to the participants. Each event will be recorded and stored on a repository together with documents and outcomes for future consultation. The virtual conference centre will provide three main functions focused on usability: a virtual auditorium, for planning, coordination and management of the virtual events, an event repository, to store the recordings and outcomes of the events, and a virtual corridor, which will support networking and partnership building amongst the participants.
      </p>
      <p>
        The project is supported by the European Commissions/ 7 FRAMEWORK PROGRAMME/THEME Capacities/Research Infrastructures.
      </p>
      </div>              
    </div>        

    <div class="about-wrapper">
      <h3 class="title">Project video</h3>
      <object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/-r1ZwmO-Vmc&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/-r1ZwmO-Vmc&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
    </div>
    
    <div class="about-wrapper">
        <div id="container">
      <h3 class="title">Photo Gallery</h3>
       <div id="gallery" class="content">
      		<div id="controls" class="controls"></div>
		<div id="loading" class="loader"></div>
		<div id="slideshow" class="slideshow"></div>
		<div id="caption" class="embox"></div>
	</div>
      <div id="thumbs" class="navigation">
	  <ul class="thumbs noscript">
	        <li>
		<a class="thumb" href="images/demo/pic-gallery11.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery11-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery12.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery12-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery12-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery13.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery13-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery13-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery14.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery14-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery14-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery15.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery15-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery15-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery16.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery16-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery16-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery17.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery17-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery17-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery18.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery18-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery18-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery19.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery19-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery19-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery20.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery20-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery20-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery21.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery21-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery21-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery22.jpg" title="4th BELIEF International Symposium">
		    <img src="images/demo/pic-gallery22-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
		</a>
		<div class="caption">
		    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery22-original.jpg" target="_blank">Original Size</a></span>
		    16th & 17th July 2009<p>
		    São Paulo, Brazil<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery1.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery1-small.jpg" alt="GEANT2 A Global Leader thumbnail 1" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery2.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery2-small.jpg" alt="GEANT2 A Global Leader thumbnail 2" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery2-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery3.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery3-small.jpg" alt="GEANT2 A Global Leader thumbnail 3" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery3-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery4.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery4-small.jpg" alt="GEANT2 A Global Leader thumbnail 4" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery4-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery5.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery5-small.jpg" alt="GEANT2 A Global Leader thumbnail 5" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery5-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery6.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery6-small.jpg" alt="GEANT2 A Global Leader thumbnail 6" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery6-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery7.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery7-small.jpg" alt="GEANT2 A Global Leader thumbnail 7" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery7-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery8.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery8-small.jpg" alt="GEANT2 A Global Leader thumbnail 8" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery8-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery9.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery9-small.jpg" alt="GEANT2 A Global Leader thumbnail 9" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery9-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
		<li>
		<a class="thumb" href="images/demo/pic-gallery10.jpg" title="GEANT2 A Global Leader">
		    <img src="images/demo/pic-gallery10-small.jpg" alt="GEANT2 A Global Leader thumbnail 10" />
		</a>
		<div class="caption">
		    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery10-original.jpg" target="_blank">Original Size</a></span>
		    3-4 March 2008<p>
		    Bled Slovenia<p>
		</div>
		</li>
         </ul>
       </div>
       	<!-- End Advanced Gallery Html Containers -->
	<div style="clear: both;"></div>
      </div>
      
      
    </div>
        
      </div>
      
      <div id="sidebar">
          <div id="about-sidebar">
      <div id="go-vcc">
      	<a href="http://vcc.dit.upm.es"><img alt="Vcc-logo" src="images/vcc-logo1.png" title="Virtual Conference Centre" /></a>
	  </div>
			<br/>
			
			<div class="global-posts">
				<%unless @latest_global_posts.empty?%>
					<h5><span> <%=link_to (image_tag("icons/feed.png",:class=>"icon",:alt=>"RSS",:title=>"RSS"),formatted_space_posts_url(@global,:atom,:host => current_site.domain))%></span><%=link_to ("Latest News", space_posts_url(@global,:host => current_site.domain))%></h5>	
					<%for post in @latest_global_posts%>
						<ul>
							<li>
								<%=link_to (sanitize(post.title), space_post_url(@global,post,:host => current_site.domain))%>
							</li>
							<li>
								<span class="updated"> Updated <%=time_ago_in_words(post.updated_at)%> ago</span>								
							</li>							
							<li>
								<%if post.text.size < 70%>
								  <%=sanitize(post.text)%>
								<%else%>									
									<%=sanitize(first_words(post.text,70))%> <%=link_to ("more >>", space_post_url(@global, post, :host => current_site.domain))%>
								<%end%>	
							</li>
					  </ul>	
					<%end%>
				<%end%>	
			</div>
			
			<div class="partners">
      <h5>Partners</h5>         
      <div>
        <ul>
          <li><a href="http://www.zsi.at/">Zentrum für Soziale Innovation (ZSI)</a></li>
          <li>Austria</li>
        </ul>
        <ul>
          <li><a href="http://www2.upm.es/institucional">U. Politécnica de Madrid (UPM)</a></li>
          <li>Spain</li>
        </ul>
        <ul>
          <li><a href="http://www.agora-2000.com/">Agora Systems S.A. (ASSA)</a></li>
          <li>Spain</li>
        </ul>
        <ul>
          <li><a href="http://www.redclara.net/">Cooperación Latino Americana de Redes Avanzadas (CLARA)</a></li>
          <li>Uruguay</li>
        </ul>
        <ul>  
          <li><a href="http://www.ucl.ac.uk/">University College London (UCL)</a></li>
          <li>United Kingdom</li>
        </ul>
        <ul>  
          <li><a href="http://www.ijs.si/ijsw/JSI">Jozef Stefan Institute (JSI)</a></li>
          <li>Slovenia</li>
        </ul>
        <ul>  
          <li><a href="http://www.ubuntunet.net/">Ubuntunet (Ubuntunet)</a></li>
          <li>Malawi</li>
        </ul>
      </div>
      
      </div>

      <div class="contact">
      <h5><%= t('Contact_information') %></h5>
        <ul>
          <li>Margit Hofer</li>
          <li>Zentrum für Soziale Innovation</li>
          <li>Linke Wienzeile 246</li>
          <li>1150 Wien</li>
          <li><%= t('e-mail.one') %>: hofer@zsi.at</li>
          <li><%= t('phone') %>: +43/ 1 495 04 42 -  63</li>
        </ul>
      
      </div>
  </div>
          </div>
    </div>
      <div id="footer">
			  <ul>
			    <li id="trade_mark"><img alt="Bola_global_peque" class="icon" src="/images/bola_global_peque.png?1242226208" /> global-project.eu</li>
			  <li>-</li>
			  <li><%= t('All_rights_reserved') %></li>
			  </ul>
			</div>
      </div>

   </div>
   <script type="text/javascript">
			// We only want these styles applied when javascript is enabled
			$('div.navigation').css({'width' : '506px', 'float' : 'left','padding' : '0 10px 10px 10px', 'margin' : '0 22px'});
			$('div.content').css('display', 'block');

			// Initially set opacity on thumbs and add
			// additional styling for hover effect on thumbs
			var onMouseOutOpacity = 0.67;
			$('#thumbs ul.thumbs li').css('opacity', onMouseOutOpacity)
				.hover(
					function () {
						$(this).not('.selected').fadeTo('fast', 1.0);
					}, 
					function () {
						$(this).not('.selected').fadeTo('fast', onMouseOutOpacity);
					}
				);

			$(document).ready(function() {
				// Initialize Advanced Galleriffic Gallery
				var galleryAdv = $('#gallery').galleriffic('#thumbs', {
					delay:                  2000,
					numThumbs:              8,
					preloadAhead:           8,
					enableTopPager:         false,
					enableBottomPager:      true,
					imageContainerSel:      '#slideshow',
					controlsContainerSel:   '#controls',
					captionContainerSel:    '#caption',
					loadingContainerSel:    '#loading',
					renderSSControls:       true,
					renderNavControls:      true,
					playLinkText:           'Play Slideshow',
					pauseLinkText:          'Pause Slideshow',
					prevLinkText:           '&lsaquo; Previous Photo',
					nextLinkText:           'Next Photo &rsaquo;',
					nextPageLinkText:       'Next &rsaquo;',
					prevPageLinkText:       '&lsaquo; Prev',
					enableHistory:          false,
					autoStart:              false,
					onChange:               function(prevIndex, nextIndex) {
						$('#thumbs ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onTransitionOut:        function(callback) {
						$('#caption').fadeOut('fast');
						$('#slideshow').fadeOut('fast', callback);
					},
					onTransitionIn:         function() {
						$('#slideshow, #caption').fadeIn('fast');
					},
					onPageTransitionOut:    function(callback) {
						$('#thumbs ul.thumbs').fadeOut('fast', callback);
					},
					onPageTransitionIn:     function() {
						$('#thumbs ul.thumbs').fadeIn('fast');
					}
				});
			});
		</script>
  </body>
</html>

 
		