 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
  <link href="stylesheets/about.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="stylesheets/galleriffic.css" type="text/css" />
    <%= javascript_include_tag 'jquery', 'application', 'jquery.livequery', 'jquery.fancybox', 'jquery.easing', 'jquery-ui', 'jquery.form' %>   
    <%= javascript_include_tag 'jquery.galleriffic.js'%>
    
    <!--[if IE]> 
    <link href="stylesheets/ie.css?1242919478" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    
	<script type="text/javascript">
	  change_video = function(id){
	  	if(id==1){
			$(".video_properties").html('<h3 class="title video_title">Virtual Conference Centre</h3><object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/oCDR3TZCw3M&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/oCDR3TZCw3M&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>');
		}
		else if (id==2)
		{
			$(".video_properties").html('<h3 class="title video_title">Virtual Conference Centre</h3><embed name="player" src="http://stream3.dit.upm.es/reproductor/mediaplayer.swf?id=video_7_12_2009_10_25&amp;searchbar=false&amp;displayheight=443&amp;displaywidth=560&amp;autostart=true&amp;image=http://stream3.dit.upm.es/captures/video_7_12_2009_10_25_0.jpg&amp;bufferlength=3&amp;file=rtmp://stream3.dit.upm.es/venusStore/_definst_/" allowfullscreen="true" wmode="transparent" height="463" width="560">');
		}
		else if (id==3)
		{
			$(".video_properties").html('<h3 class="title video_title">Virtual Conference Centre</h3><embed name="player" src="http://stream3.dit.upm.es/reproductor/mediaplayer.swf?id=video_7_12_2009_12_45_0&amp;searchbar=false&amp;displayheight=443&amp;displaywidth=560&amp;autostart=true&amp;image=http://stream3.dit.upm.es/captures/video_7_12_2009_12_45_0.jpg&amp;bufferlength=3&amp;file=rtmp://stream3.dit.upm.es/venusStore/_definst_/" allowfullscreen="true" wmode="transparent" height="463" width="560">');
		}
		else
		{
			$(".video_properties").html('');
		}
		
	  };
	  
	 $(".play_icon").livequery('click',function(){
	   $(this).siblings("a").click();
	 });
	</script>
	
  </head>

  <body>
  <div id="site">
    <div id="home">
      <div id="header">
        <div id="logo">
		  <img alt="Gp-logo" height="80" src="images/gp-logo.jpg" width="80" />
		</div>
		
		<div id="search">
		  <h1>GLOBAL PROJECT</h1>
		</div>
	
		<div id="eu">
		  <img alt="Union_europea" height="48" src="images/flags/union_europea.jpg" width="72" />
		</div>
		
		<div id="about2">
		  <h3><%=link_to(t('about_global'),"http://www.global-project.eu/about2")%></h3>
		</div>

      </div>
  
	  <div id="content">  
        <div id="main">
          <div class="about-wrapper">
      	    <h3 class="title">GLOBAL Description</h3>
            <div id="description">
		      <p>
		        GLOBAL enables researchers in Europe and around the globe to set up and expand their own virtual community for exchanging the latests findings, present project results, sharing documents and media files, or simply to socialise and connect with each other by means of virtual conferencing.
		      </p>		      
		      <p>
		        Enter the <a href="http://vcc.dit.upm.es">Virtual Conference Centre</a> and find out more.
		      </p>
		      <p>
		        The short video below presents the highlights of the Virtual Conference Centre as well as its sponsor, the GLOBAL project.
		      </p>
		    </div>              
    	  </div>        

          <div class="about-wrapper video_properties">
		    <h3 class="title video_title">Virtual Conference Centre</h3>
			<object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/oCDR3TZCw3M&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/oCDR3TZCw3M&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
		  </div>
		  
    	  <div class="about-wrapper">
      	    <h3 class="title">User experience</h3>
			<p>Peter: It is great what this project does.</p>
			<p>John: I like it. They helped our project to disseminate our results.</p>
		  </div>
		  
		  <div class="about-wrapper">
		    <div id="container">
		      <h3 class="title">Event pictures</h3>
		      <div id="gallery" class="content">
			    <div id="controls" class="controls"></div>
				<div id="loading" class="loader"></div>
				<div id="slideshow" class="slideshow"></div>
				<div id="caption" class="embox"></div>
			  </div>
		      <div id="thumbs" class="navigation">
			    <ul class="thumbs noscript">
			      <li>
				    <a class="thumb" href="images/demo/pic-gallery11.jpg" title="4th BELIEF International Symposium">
				      <img src="images/demo/pic-gallery11-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery12.jpg" title="4th BELIEF International Symposium">
					  <img src="images/demo/pic-gallery12-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
				    <div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
			      <li>
					<a class="thumb" href="images/demo/pic-gallery13.jpg" title="4th BELIEF International Symposium">
					  <img src="images/demo/pic-gallery13-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery14.jpg" title="4th BELIEF International Symposium">
					   <img src="images/demo/pic-gallery14-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
			        </div>
	      		  </li>
			   	  <li>
					<a class="thumb" href="images/demo/pic-gallery15.jpg" title="4th BELIEF International Symposium">
					    <img src="images/demo/pic-gallery15-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
			       </li>
				   <li>
					<a class="thumb" href="images/demo/pic-gallery16.jpg" title="4th BELIEF International Symposium">
					    <img src="images/demo/pic-gallery16-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery17.jpg" title="4th BELIEF International Symposium">
					   <img src="images/demo/pic-gallery17-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
			   	  <li>
					<a class="thumb" href="images/demo/pic-gallery18.jpg" title="4th BELIEF International Symposium">
					    <img src="images/demo/pic-gallery18-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery19.jpg" title="4th BELIEF International Symposium">
					   <img src="images/demo/pic-gallery19-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
			   	  <li>
					<a class="thumb" href="images/demo/pic-gallery20.jpg" title="4th BELIEF International Symposium">
					    <img src="images/demo/pic-gallery20-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery21.jpg" title="4th BELIEF International Symposium">
					    <img src="images/demo/pic-gallery21-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery22.jpg" title="4th BELIEF International Symposium">
					    <img src="images/demo/pic-gallery22-small.jpg" alt="4th BELIEF International Symposium thumbnail" />
					</a>
					<div class="caption">
					    4th BELIEF International Symposium<p><span class="right-align"><a href="images/demo/pic-gallery11-original.jpg" target="_blank">Original Size</a></span>
					    16th & 17th July 2009</p>
					    <p>São Paulo, Brazil</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery1.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery1-small.jpg" alt="GEANT2 A Global Leader thumbnail 1" />
					</a>
					<div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery2.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery2-small.jpg" alt="GEANT2 A Global Leader thumbnail 2" />
					</a>
					<div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery3.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery3-small.jpg" alt="GEANT2 A Global Leader thumbnail 3" />
					</a>
					<div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery4.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery4-small.jpg" alt="GEANT2 A Global Leader thumbnail 4" />
					</a>
					<div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery5.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery5-small.jpg" alt="GEANT2 A Global Leader thumbnail 5" />
					</a>
					<div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery6.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery6-small.jpg" alt="GEANT2 A Global Leader thumbnail 6" />
					</a>
					<div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery7.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery7-small.jpg" alt="GEANT2 A Global Leader thumbnail 7" />
					</a>
					<div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery8.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery8-small.jpg" alt="GEANT2 A Global Leader thumbnail 8" />
					</a>
				    <div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery9.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery9-small.jpg" alt="GEANT2 A Global Leader thumbnail 9" />
					</a>
					<div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
				  <li>
					<a class="thumb" href="images/demo/pic-gallery10.jpg" title="GEANT2 A Global Leader">
					    <img src="images/demo/pic-gallery10-small.jpg" alt="GEANT2 A Global Leader thumbnail 10" />
					</a>
					<div class="caption">
						    GEANT2 A Global Leader<p><span class="right-align"><a href="images/demo/pic-gallery1-original.jpg" target="_blank">Original Size</a></span>
						    3-4 March 2008</p>
						    <p>Bled Slovenia</p>
					</div>
				  </li>
		        </ul>
		       </div>
		       	<!-- End Advanced Gallery Html Containers -->
				<div style="clear: both;"></div>
		    </div>  
		  </div>
        </div>
      
		<div id="sidebar">
		  <div id="about-sidebar">
			<div id="go-vcc">
			  <img alt="Vcc-logo" src="images/vcc-logo1.png" title="Virtual Conference Centre" />
			  <button type="button" onclick="location.href='http://vcc.dit.upm.es'"><%= image_tag("bola_global_peque.png",:class=>"icon")%> Go to Virtual Conference Centre</button>
			</div>
			<br/>			
			
			<div class="screencast">
			  <h5>Latest videos</h5> 			  
					
						
				<div id="carrusel">
				  <div id="carrusel_content">  
					  <div class="video_preview_sidebar" id="video_preview0">
					        <div class="video_thumbnail">
							  <%=link_to_function image_tag("global-video-thumbnail.jpg", :alt => t('agenda.entry.video')),'change_video(1)', :class=>"entry_video_link" %>
							  <span class="play_icon"></span>
							</div>
							<div class="video_description">
								<%=link_to_function  "GLOBAL Project video" ,'change_video(1)', :class=>"entry_video_link" %>			
							</div>
					  </div>
					  <div class="video_preview_sidebar" id="video_preview1">
					        <div class="video_thumbnail">
							  <%=link_to_function image_tag("http://stream3.dit.upm.es/captures/video_7_12_2009_10_25_0.jpg", :alt => t('agenda.entry.video')),'change_video(2)', :class=>"entry_video_link" %>
							  <span class="play_icon"></span>
							</div>
							<div class="video_description">
								<%=link_to_function  "5th Belief Symposium Welcome speech" ,'change_video(2)', :class=>"entry_video_link" %>
								<span class="unified_user">
									Happy Sithole  
								</span>			
							</div>
					  </div>
					  <div class="video_preview_sidebar" id="video_preview2">
					        <div class="video_thumbnail">
							  <%=link_to_function image_tag("http://stream3.dit.upm.es/captures/video_7_12_2009_12_45_0.jpg", :alt => t('agenda.entry.video')),'change_video(3)', :class=>"entry_video_link" %>
							  <span class="play_icon"></span>
							</div>
							<div class="video_description">
								<%=link_to_function  "Talk about \"CHPC computational platforms\"" ,'change_video(3)', :class=>"entry_video_link" %>
								<span class="unified_user">
									Dorah Thobye 
								</span>			
							</div>
					  </div>
					  
					  
					  
				  </div>
				
				</div>
			
			</div>

			<div id="global-links">
			  	<h5>Help and examples</h5>
				<div>
				<ul>
				  <li><a href="http://isabel.dit.upm.es/content/view/16/34/">About Isabel software</a></li>
				  <li><a href="http://vcc.dit.upm.es/spaces/global/events/5th-belief-symposium">VCC event example</a></li>
				  <li><a href="http://isabel.dit.upm.es/component/option,com_docman/task,doc_details/gid,936/Itemid,74/">Isabel event example</a></li>
				</ul>
			  </div>  
			</div>

			<div class="global-posts">
				<%unless @latest_global_posts.empty?%>
					<h5><span> <%=link_to (image_tag("icons/feed.png",:class=>"icon",:alt=>"RSS",:title=>"RSS"),formatted_space_posts_url(@global,:atom,:host => current_site.domain))%></span><%=link_to ("Latest News", space_posts_url(@global,:host => current_site.domain))%></h5>	
					<%for post in @latest_global_posts%>
					<ul>
						<li>
						  <%=link_to (sanitize(post.title), space_post_url(@global,post,:host => current_site.domain))%>
						</li>							
						<li>
						  <%if post.text.size < 70%>
							<%=sanitize(post.text)%>
						  <%else%>									
							<%=sanitize(first_words(post.text,70))%> <%=link_to ("more>>", space_post_url(@global, post, :host => current_site.domain))%>
						  <%end%>	
						</li>
					</ul>	
					<%end%>
				<%end%>	
			</div>
			
			
			<div class="contact">
			  <h5><%= t('contact_information') %></h5>
			  <ul>
				<li>Margit Hofer</li>
				<li>Zentrum für Soziale Innovation</li>
				<li>Linke Wienzeile 246</li>
				<li>1150 Wien</li>
				<li><%= t('e-mail.one') %>: hofer@zsi.at</li>
				<li><%= t('phone') %>: +43/ 1 495 04 42 -  63</li>
			  </ul>     
			</div>
			
	
		  </div>
		</div>		
	  
	  <div id="footer">
	    <ul>
	      <li id="trade_mark"><img alt="Bola_global_peque" class="icon" src="/images/bola_global_peque.png?1242226208" /> global-project.eu</li>
	      <li>-</li>
	      <li><%= t('all_rights_reserved') %></li>
	    </ul>
	  </div>
    </div>
   
  </div>
</div>
  <script type="text/javascript">
			// We only want these styles applied when javascript is enabled
			$('div.navigation').css({'width' : '506px', 'float' : 'left','padding' : '0 10px 10px 10px', 'margin' : '0 22px'});
			$('div.content').css('display', 'block');

			// Initially set opacity on thumbs and add
			// additional styling for hover effect on thumbs
			var onMouseOutOpacity = 0.67;
			$('#thumbs ul.thumbs li').css('opacity', onMouseOutOpacity)
				.hover(
					function () {
						$(this).not('.selected').fadeTo('fast', 1.0);
					}, 
					function () {
						$(this).not('.selected').fadeTo('fast', onMouseOutOpacity);
					}
				);

			$(document).ready(function() {
				// Initialize Advanced Galleriffic Gallery
				var galleryAdv = $('#gallery').galleriffic('#thumbs', {
					delay:                  2000,
					numThumbs:              8,
					preloadAhead:           8,
					enableTopPager:         false,
					enableBottomPager:      true,
					imageContainerSel:      '#slideshow',
					controlsContainerSel:   '#controls',
					captionContainerSel:    '#caption',
					loadingContainerSel:    '#loading',
					renderSSControls:       true,
					renderNavControls:      true,
					playLinkText:           'Play Slideshow',
					pauseLinkText:          'Pause Slideshow',
					prevLinkText:           '&lsaquo; Previous Photo',
					nextLinkText:           'Next Photo &rsaquo;',
					nextPageLinkText:       'Next &rsaquo;',
					prevPageLinkText:       '&lsaquo; Prev',
					enableHistory:          false,
					autoStart:              false,
					onChange:               function(prevIndex, nextIndex) {
						$('#thumbs ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onTransitionOut:        function(callback) {
						$('#caption').fadeOut('fast');
						$('#slideshow').fadeOut('fast', callback);
					},
					onTransitionIn:         function() {
						$('#slideshow, #caption').fadeIn('fast');
					},
					onPageTransitionOut:    function(callback) {
						$('#thumbs ul.thumbs').fadeOut('fast', callback);
					},
					onPageTransitionIn:     function() {
						$('#thumbs ul.thumbs').fadeIn('fast');
					}
				});
			});
	</script>
  </body>
</html>

 
		
