 <% content_for :javascript do  %>
    $("#search_space").click(function(){
    if(this.value == "Search space..."){
      this.value="";
    }
  });
 <%end%>
 
 <%content_for :logo do%>
 	<%= image_tag("vcc-logo-transparente1.png") %>
 <%end%>
 
 <%content_for :search do%>
  <% form_tag(spaces_path(), :method => 'get') do %>
      <%= text_field_tag :filter, "Search space...", :id => "search_space"  %>
      <%= image_submit_tag "buttons/go.png"%>
	  <!--<button>Go</button>-->
   <% end %>
 <%end%>

 <%content_for :sidebar do%>
		  <div class="join">
			<h2>Start now!</h2>
			<p>Create your own space.<br/>Share, Participate, Discuss.</p>
			<%=link_to image_tag("buttons/create_space_amarillo.png"),new_space_path(), :class => "new_space_link"%> 	
		  </div>

		  <div class="rel-users">
			<h5><img class="icon" src="images/icons/user.png" alt="icon"/> Active Users</h5>
			
			<div>
				<%for user in @relevant_users%>
				  <%if user.authorizes?([:read, :profile],:to=> current_user)%>
					  <%=link_to logo(user, {:size=>48, :title=> user.name }), user_profile_path(user)%>
					<%else%>
					  <%=logo(user, {:size=>48, :title=> user.name })%>
					<%end%> 
				<%end%>
			</div>
			
		  </div>

		  <div class="rcnt-posts">
			<h5><img class="icon" src="images/icons/comment.png"/> Recent comments </h5>
				<%for comment in @recent_posts%>
					<ul>
			  		<li><strong class="user_name"><%=sanitize(comment.author.name)%></strong><span class="updated"> updated <%=time_ago_in_words(comment.updated_at)%> ago</span>
			  			<p class="dark_blue"><%=sanitize(first_words(comment.text, 100))%>  <%= link_to "read more>>" ,space_post_path(comment.space,comment)%></p>
						
			  		</li>
												
					</ul>
				<%end%>			
			
		  </div>

 <%end%>
 
		  <div class="wrapper">
			<h3 class="title">Popular Spaces</h3>
			
			<!--<ul><li><img class="icon" src="images/icons/feed.png"/> <a href="#">Subscribe >></a></li></ul>-->
			<%for space in @popular_spaces%>
				<div id="<%= "end" if space==@popular_spaces[2]%>"  class="spc">
			  	<%=link_logo (space, :size=> 'front', :title => space.name)%>
			  	<p><%=sanitize(space.name)%></p>
				</div> 
			<%end%>					  		
		  </div>        

		  <div class="wrapper">
			<h3 class="title">Recent Spaces</h3>
			
			<!--<ul><li><img class="icon" src="images/icons/feed.png"/> <a href="#">Subscribe >></a></li></ul>-->			
			<%for space in @recent_spaces%>
				<div id="<%= "end" if space==@recent_spaces[2]%>"  class="spc">
			  	<%=link_logo (space, :size=> 'front',:title => space.name )%>
			  	<p><%=sanitize(space.name)%></p>
				</div> 
			<%end%>		  		
		  </div>
		  
		  <div class="wrapper right">
		  	<%=link_to image_tag("buttons/find_other_spaces.png"), spaces_path %>
		  		<!--<a href="#nogo" class="right">Find other spaces</a>-->
		  </div>
		  
		  <div class="wrapper">
  	
			<h3 class="title">Upcoming Events</h3>
			<!--<ul><li><img class="icon" src="images/icons/feed.png"/> <a href="#">Subscribe >></a></li></ul>-->
			<%for event in @recent_events%>
				<ul id="list-events">
					<li><a href="<%=space_event_path(event.space,event)%>"><img class="icon" src="images/icons/date.png"/><span class="red"> <%=sanitize(event.start_date.strftime("%d/%m/%Y"))%>  <%=sanitize(event.title)%></span> <span><%=sanitize(event.description.size >= 73 ? event.description.first(70) + "..." : event.description.first(70))  %></span></a></li>
				</ul>	
			<%end%>								  
			  
		  </div>
		
