 <%content_for :logo do%>
 	<%= image_tag("logo_small.png",:size=>"281x75") %>
 <%end%>
 
 <%content_for :search do%>
  <% form_tag(search_users_path(@space), :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	  <button>Search</button>
   <% end %>
 <%end%>

 <%content_for :sidebar do%>
		  <div class="join">
			<h2>Start now!</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<%=link_to image_tag("new-space.jpg"),new_space_path(), :class => "new_space_link"%> 	
		  </div>

		  <div class="rel-users">
			<h5><img class="icon" src="images/icons/user.png" alt="icon"/> Relevant Users</h5>
			
			<p>Sidebar! we can see the more relevant users</p>
			
			<div>
				<%for user in @relevant_users%>
					<%=logo(user, {:size=>48, :title=> user.name })%> 
				<%end%>
			</div>
			
		  </div>

		  <div class="rcnt-posts">
			<h5><img class="icon" src="images/icons/comment.png"/> Recent comments </h5>
				<%for comment in @recent_posts%>
					<ul>
			  		<li><strong><%=sanitize(comment.author.name)%></strong><span class="updated"> updated <%=time_ago_in_words(comment.updated_at)%> ago</span>
			  			<p><%=sanitize(comment.text).first(100)%></p>
			  		</li>
						<%= link_to "view complete comment >>", space_post_path(comment.space,comment)%>						
					</ul>
				<%end%>			
			
		  </div>

 <%end%>
 
		  <div class="wrapper">
			<h3>Popular Spaces</h3>
			
			<ul><li><img class="icon" src="images/icons/feed.png"/> <a href="#">Subscribe >></a></li></ul>
			<%for space in @popular_spaces%>
				<div id="<%= "end" if space==@popular_spaces[2]%>"  class="spc">
			  	<%=link_logo (space, :size=> 128, :title => space.name)%>
			  	<p><%=sanitize(space.name)%></p>
				</div> 
			<%end%>					  		
		  </div>        

		  <div class="wrapper">
			<h3>Recent Spaces</h3>
			
			<ul><li><img class="icon" src="images/icons/feed.png"/> <a href="#">Subscribe >></a></li></ul>			
			<%for space in @recent_spaces%>
				<div id="<%= "end" if space==@recent_spaces[2]%>"  class="spc">
			  	<%=link_logo (space, :size=>128,:title => space.name )%>
			  	<p><%=sanitize(space.name)%></p>
				</div> 
			<%end%>		  		
		  </div>
			
		  <div class="wrapper">
  	
			<h3>Incoming Events</h3>
			<ul><li><img class="icon" src="images/icons/feed.png"/> <a href="#">Subscribe >></a></li></ul>
			<%for event in @recent_events%>
				<ul id="list-events">
					<li><a href="<%=space_event_path(event.space,event)%>"><img class="icon" src="images/icons/date.png"/> <%=sanitize(event.start_date.strftime("%d/%m/%Y"))%>  <%=sanitize(event.title)%> <span><%=sanitize(event.description.size >= 78 ? event.description.first(75) + "..." : event.description.first(75))  %></span></a></li>
				</ul>	
			<%end%>								  
			  
		  </div>
		
