<% content_for :"global-header" do %>
  <%= render :partial => "global_header" %>
<% end %>

<div id="page-header">

  <div id="page-header-content">
    <div class="headline"><%= t('frontpage.project_description').html_safe %></div>

    <div class="links">
      <ul>
        <li>
          <a class="link-title" href="http://inf.ufrgs.br/prav/gtmconf"><%= t('frontpage.links.project_website') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.project_website_desc') %></span>
        </li>
        <li>
          <a class="link-title" href="https://github.com/mconf"><%= t('frontpage.links.source_code') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.source_code_desc') %></span>
        </li>
        <li>
          <a class="link-title" href="http://code.google.com/p/mconf"><%= t('frontpage.links.docs') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.docs_desc') %></span>
        </li>
      </ul>
    </div>
  </div>

</div>

<div id="content-middle">

  <div id="content-about">
    <h2>More about Mconf</h2>

    <div class="content-block">
      <%= image_tag('frontpage/bbb-screen-1.jpg') %>
      <h3>BigBlueButton</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales accumsan consectetur. Vivamus vulputate fermentum nisl, eget facilisis erat pellentesque eu. Sed eget tristique elit</p>
      <%= render_clearer %>
    </div>

    <div class="content-block">
      <%= image_tag('frontpage/mconf-mobile-photo-1.jpg') %>
      <h3>Mconf-Mobile e BBB-Android</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales accumsan consectetur. Vivamus vulputate fermentum nisl, eget facilisis erat pellentesque eu. Sed eget tristique elit</p>
      <%= render_clearer %>
    </div>

    <div class="content-block">
      <%= image_tag('frontpage/mconf-mobile-photo-1.jpg') %>
      <h3>Mconf-Web</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales accumsan consectetur. Vivamus vulputate fermentum nisl, eget facilisis erat pellentesque eu. Sed eget tristique elit</p>
      <%= render_clearer %>
    </div>
  </div>

  <div id="content-stats">
    <h2>Statistics</h2>

    <b><%= t('frontpage.stats.title') %></b> <%= t('frontpage.stats.text', :users => @stats[:users], :spaces => @stats[:spaces], :meetings => @stats[:meetings]) %>
  </div>

  <%= render_clearer %>

<!--
  <div id="public_spaces">
    <div class="spaces_left">
      <h2><%=t('frontpage.popular_spaces')%></h2>
      <% if @popular_spaces.empty? %>
        <br/>
        <%= t('frontpage.no_spaces') %>
      <% else %>
        <%= render :partial => 'space_list', :locals => { :spaces => @popular_spaces } %>
      <% end %>
    </div>
    <div class="spaces_right">
      <h2><%=t('frontpage.running_spaces')%></h2>
      <% if @running_spaces.empty? %>
        <br/>
        <%= t('frontpage.no_rooms') %>
      <% else %>
        <%= render :partial => 'space_list', :locals => { :spaces => @running_spaces } %>
      <% end %>
    </div>
  </div>
  <div class="clearer"><span>&nbsp;</span></div>
-->

</div>
