  <div id="content_top">

    <div id="content_top_container">
      <div class="registration">
        <span><%= t('frontpage.register_sentence') %></span><br/>
        <div class="join_button">
          <a href="<%= signup_path %>" class="basic_button medium_button orange_button"><span><%= t('register.one') %></span></a>
        </div>
      </div>
      <div class="description">
        <%= t('frontpage.project_description').html_safe %>
      </div>
      <div class="clearer"><span>&nbsp;</span></div>
    </div>

  </div>

<div id="content_container">

  <div id="bigbluebutton_rooms">
    <h2><%=t('frontpage.webconferences')%></h2>
    <p><%=t('frontpage.join_or_create')%></p>

    <h4><%=t('frontpage.meetings_in_progress')%></h4>

    <% if !@server.meetings.nil? && @server.meetings.select{ |m| m.is_running? }.count > 0 %>
      <div class="join_room">
        <!--<div class="input">
          <label>Your name:</label>
          <input type="text" name="username1" size="27"/>
        </div>-->
        <label>Meetings:</label>
        <ul class="meeting_list">
          <% @server.meetings.select{ |m| m.is_running? }.each do |room| %>
            <li>
              <% if room.new_record? %>
                <a href="<%= "http://mconfdev.inf.ufrgs.br/bigbluebutton/demo/create.jsp?action=invite&meetingID=#{room.meetingid}" %>" class="basic_button small_button blue_button"><span><%=t('frontpage.join_button')%></span></a>
              <% else %>
                <a href="<%= invite_bigbluebutton_server_room_path(@server.id, room) %>" class="basic_button small_button blue_button"><span><%=t('frontpage.join_button')%></span></a>
              <% end %>

              <!--<button type="submit" class="basic_button blue_button"><%=t('frontpage.join_button')%></button>-->
              <span class="red"><%= room.meetingid %>: </span><%= room.participant_count %> <%=t('frontpage.participants')%>
            </li>
          <% end %>
        </ul>

      </div>
    <% else %>
      <p><%=t('frontpage.no_rooms')%></p>
    <% end %>

    <h4><%=t('frontpage.create_room')%></h4>
    <div class="create_room">
      <form name="form2" method="get" action="http://mconfdev.inf.ufrgs.br/bigbluebutton/demo/create.jsp">
        <div class="input">
          <label><%= t('frontpage.your_name') %>:</label>
          <input type="text" name="username1" size="27"/>
        </div>
        <div class="input">
          <label><%= t('frontpage.room_name') %>:</label>
          <input type="text" name="roomname" size="27"/>
        </div>
        <div class="button_area">
          <button type="submit" class="basic_button blue_button" /><%=t('frontpage.create_button')%></button>
        </div>
        <input type="hidden" name="action" value="create">
      </form>
    </div>

  </div>

  <div id="public_spaces">
    <h2><%=t('frontpage.popular_spaces')%></h2>
    <ul>
      <% @popular_spaces.each do |space| %>
      <li>
        <div class="space_container">
          <h3><a href="<%=space_path(space)%>"> <%= space.name %> </a></h3>
          <a href="<%=space_path(space)%>"><%= logo(space, :size=> 'h64', :title => sanitize(space.name)).html_safe %></a>
          <div class="space_info">
            <ul>
              <li>
                <%=space.events.find(:all, :order => "start_date ASC").select{|e| e.start_date && e.start_date.future?}.count%> <%=t('frontpage.upcoming_events')%>
              </li>
              <li>
                <%=space.users.count%> <%=t('frontpage.members')%>
              </li>
              <li>
                <a href="<%=space_path(space)%>"><%=t('frontpage.more_info')%></a>
              </li>
            </ul>
          </div>
          <div class="space_webconference">
            <% room = space.bigbluebutton_room %>
            <div class="join_button">
              <a href="<%= space_invite_room_path(space, room) %>" class="basic_button medium_button blue_button"><span><%=t('frontpage.join_button')%></span></a>
            </div>
            <% count = (room.participant_count.nil?) ? 0 : room.participant_count %>
            <span><%= t('frontpage.participants_in', :count => count) %></span>
          </div>
          <div class="clearer">&nbsp;</div>
        </div>
      </li>
      <%end%>
    </ul>
  </div>

  <div class="clearer"><span>&nbsp;</span></div>

</div>

