<% content_for :"global-header" do %>
  <%= render :partial => "global_header" %>
<% end %>

<div id="page-header">

  <div id="page-header-content">
    <div class="headline"><%= t('frontpage.project_description').html_safe %></div>

    <div class="links">
      <ul>
        <li>
          <a class="link-title" href="http://inf.ufrgs.br/prav/gtmconf"><%= t('frontpage.links.project_website') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.project_website_desc') %></span>
        </li>
        <li>
          <a class="link-title" href="https://github.com/mconf"><%= t('frontpage.links.source_code') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.source_code_desc') %></span>
        </li>
        <li>
          <a class="link-title" href="http://code.google.com/p/mconf"><%= t('frontpage.links.docs') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.docs_desc') %></span>
        </li>
      </ul>
    </div>
  </div>

</div>

<div id="content-middle">
  <%= render :partial => "components" %>

  <div id="content-spaces">
    <div class="section-title">
      <h2>Most active spaces</h2>
      <div class="subtitle">
        <span>Spaces are groups for people with similar interests. </span><a href="<%= spaces_path %>">View the complete list...</a>
      </div>
      <%= render_clearer %>
    </div>
    <%= render :partial => 'space_list', :locals => { :spaces => @most_active_spaces } %>
  </div>

  <div id="content-stats">
    <div class="section-title">
      <h2>Statistics</h2>
      <div class="subtitle">
        <span>See how mconf.org is being used</span>
      </div>
      <%= render_clearer %>
    </div>

    <span><b>Spaces:</b> <%= @space_count %></span><br/>
    <span><b>Users:</b> <%= @user_count %></span><br/>
    <span><b>Events:</b> <%= @event_count %></span><br/>
    <b><%= t('frontpage.stats.title') %></b> <%= t('frontpage.stats.text', :users => 0, :spaces => 0, :meetings => 0) %>
  </div>


  <div id="content-features">
    <h2>Features</h2>
    <div class="content-block">
      <%= image_tag('frontpage/mconf-mobile-photo-1.jpg', :size => '25x25') %>
      Create your own webconferences for free.
    </div>
    <div class="content-block">
      <%= image_tag('frontpage/mconf-mobile-photo-1.jpg', :size => '25x25') %>
      Communicate with groups of people using audio, video, presentations, desktop sharing, and others.
    </div>
    <div class="content-block">
      <%= image_tag('frontpage/mconf-mobile-photo-1.jpg', :size => '25x25') %>
      Exchange information and share files inside spaces.
    </div>
    <div class="content-block">
      <%= image_tag('frontpage/mconf-mobile-photo-1.jpg', :size => '25x25') %>
      Access webconferences using Android devices.
    </div>
  </div>


<!--
      <div class="content-block">
        <%= image_tag('frontpage/icon-use-pb.png', :size => '40x40') %>
        <span class="link-title">Use Mconf</span>
        It's free but first you need to <a href="<%= signup_path %>">create an account</a>.
      </div>
      <div class="content-block">
        <%= image_tag('frontpage/icon-install-pb.png', :size => '40x40') %>
        <span class="link-title">Install Mconf</span>
        Learn how to install Mconf in your own servers.
      </div>
      <div class="content-block">
        <%= image_tag('frontpage/icon-collaborate-pb.png', :size => '40x40') %>
        <span class="link-title">Collaborate</span>
        Help us improve Mconf.
      </div>
      <div class="content-block">
        <%= image_tag('frontpage/icon-collaborate-pb.png', :size => '40x40') %>
        <span class="link-title">Anything else</span>
        Help us improve Mconf.
      </div>

-->



  <%= render_clearer %>

</div>
