 <% content_for :javascript do  %>
	title = "<%=t('search.space.dots')%>"
    $("#search_space").click(function(){
    if(this.value == title){
      this.value="";
    }
  });

    $("#search_space").blur(function(){
    if(this.value == ""){
      this.value= title;
    }
  });  
  
 <%end%>
 
 <%content_for :logo do%>
 	<%= image_tag("vcc-logo-transparente1.png") %>
 <%end%>
 
 <%content_for :search do%>
  <% form_tag(spaces_path(), :method => 'get') do %>
      <%= text_field_tag :filter, t('space.search'), :id => "search_space"  %>
	  <button type="submit"><%=t("button.go")%></button>
   <% end %>
 <%end%>

 <% content_for :sidebar do %>
		  <div class="join">
			<h2><%= t('getting_started') %></h2>
			<!--<p><%= t('share_participate_discuss') %></p>-->
			<div class="margin-up">
			  <%=link_to "<button class='create-space'>"+t("register.one")+"</button>",signup_path(), :class => "register_link"%>
			</div> 	
		  </div>

		  <div class="rel-users">
			<h5><img class="icon" src="images/icons/user.png" alt="icon"/> <%= t('user.active.other') %></h5>
			
			<div>
				<%for user in @relevant_users%>
				  <%if user.authorize?([:read, :profile],:to=> current_user)%>
					  <%=link_to logo(user, {:size=>48, :title=> user.name }), user_profile_path(user)%>
					<%else%>
					  <%=logo(user, {:size=>48, :title=> user.name })%>
					<%end%> 
				<%end%>
			</div>
			
		  </div>

		  <div class="rcnt-posts">
			<h5><img class="icon" src="images/icons/comment.png"/> <%= t('comment.recent.other') %></h5>
				<%for comment in @recent_posts%>
					<ul>
			  		  <li><strong class="user_name"><%=sanitize(comment.author.name)%></strong><span class="updated"> <%= t('updated_time_ago', :time => time_ago_in_words(comment.updated_at)) %></span>
			  			<p class="dark_blue"><%=sanitize(first_words(comment.text, 80))%>  <%= link_to t('read_more>>'), space_post_path(comment.space,comment)%></p>
					  </li>							
					</ul>
				<%end%>			
			
		  </div>

 <%end%>
 
		  <div class="wrapper">
			<h3 class="title"><%= t('space.popular.other') %></h3>
			
			<!--<ul><li><img class="icon" src="images/icons/feed.png"/> <a href="#">Subscribe >></a></li></ul>-->
			<%for space in @popular_spaces%>
				<div id="<%= "end" if space==@popular_spaces[2]%>"  class="spc">
			  	<%=link_logo (space, :size=> 'front', :title => space.name)%>
			  	<p><%=link_to(sanitize(space.name),space)%></p>
				</div> 
			<%end%>					  		
		  </div>        

		  <div class="wrapper">
			<h3 class="title"><%= t('space.recent.other') %></h3>
			
			<!--<ul><li><img class="icon" src="images/icons/feed.png"/> <a href="#">Subscribe >></a></li></ul>-->			
			<%for space in @recent_spaces%>
				<div id="<%= "end" if space==@recent_spaces[2]%>"  class="spc">
			  	<%=link_logo (space, :size=> 'front',:title => space.name )%>
			  	<p><%=link_to(sanitize(space.name),space)%></p>
				</div> 
			<%end%>		  		
		  </div>
		  
		  <div class="wrapper right">
            <button type="button" onclick="document.location='<%=spaces_path%>'"><%=t('button.other_spaces')%></button>
		  </div>
		  
		  <div class="wrapper">
  	
			<h3 class="title"><%= t('event.upcoming.other') %></h3>
			<!--<ul><li><img class="icon" src="images/icons/feed.png"/> <a href="#">Subscribe >></a></li></ul>-->
			<%for event in @recent_events%>
				<ul id="list-events">
					<li><a href="<%=space_event_path(event.space,event)%>"><img class="icon" src="images/icons/date.png"/><span class="red"> <%=sanitize(event.start_date.strftime("%d/%m/%Y"))%>  <%=sanitize(event.title)%></span> <span><%=sanitize(event.description.size >= 73 ? event.description.first(70) + "..." : event.description.first(70))  %></span></a></li>
				</ul>	
			<%end%>								  
			  
		  </div>
		
