<% content_for :"global-header" do %>
  <%= render :partial => "global_header" %>
<% end %>

<div id="page-header">

  <div id="page-header-content">
    <div class="headline">
      <% t('frontpage.project_description').html_safe %>
      Mconf is an open source webconference system powered by <a>BigBlueButton</a>. It is developed in the research group <a>PRAV</a> at <a>UFRGS</a> (Brazil), and funded by <a>RNP</a>. And this is the web portal that provides access to Mconf.
<!-- . It was developed based on Global Plaza and is being integrated with the webconference system BigBlueButton. -->
    </div>

    <div class="links">
      <ul>
        <li>
          <a class="link-title">PRAV</a><br/>
          <span class="link-description">Project website</span>
        </li>
        <li>
          <a class="link-title">GitHub</a><br/>
          <span class="link-description">Source code</span>
        </li>
        <li>
          <a class="link-title">Google Code</a><br/>
          <span class="link-description">Documentation and bug tracker</span>
        </li>
      </ul>
    </div>
  </div>

  <div style="clear:both"></div>

</div>

<div id="content_stats">
  <b><%= t('frontpage.stats.title') %></b> <%= t('frontpage.stats.text', :users => @stats[:users], :spaces => @stats[:spaces], :meetings => @stats[:meetings]) %>
</div>

<div id="content_container">

<!--
  <div id="public_spaces">
    <div class="spaces_left">
      <h2><%=t('frontpage.popular_spaces')%></h2>
      <% if @popular_spaces.empty? %>
        <br/>
        <%= t('frontpage.no_spaces') %>
      <% else %>
        <%= render :partial => 'space_list', :locals => { :spaces => @popular_spaces } %>
      <% end %>
    </div>
    <div class="spaces_right">
      <h2><%=t('frontpage.running_spaces')%></h2>
      <% if @running_spaces.empty? %>
        <br/>
        <%= t('frontpage.no_rooms') %>
      <% else %>
        <%= render :partial => 'space_list', :locals => { :spaces => @running_spaces } %>
      <% end %>
    </div>
  </div>
  <div class="clearer"><span>&nbsp;</span></div>

-->
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

