<%= content_for :search do %>
<%= render :partial => 'search/form' %>
<%end %>

<!--Above this, original frontpage -->

<!--
<head>
  <title>Global Plaza</tile>
</head>
-->

<!-- acr -->
 <div id="diretoNoBBB">
      <h2>Entrar na sala padrão</h2>
      <form NAME="form1" METHOD="GET" action="/bigbluebutton/demo/demo1.jsp">
        Seu nome:<br />
        <input type="text" id="username" name="username" size="25" />
        <input type="submit" value="Entrar"/> <br />
        <input type="hidden" name="action" value="create">
      </form>
      <br />    
      <h2>Criar uma sala</h2>
      <FORM NAME="form2" METHOD="GET" action="bigbluebutton/demo/create.jsp">
        Seu nome (será o nome da sala): <br />
	    <input type="text" name="username1" size="25" />
	    <input id="submit-button" type="submit" value="Criar sala" /><br />
      <input type="hidden" name="action" value="create"> <br />
      </FORM>
<br />
<br />

<h3 id="popRooms">Most popular rooms:</h3>

<ul>
<%if(@meeetings != nil)%> 
<%@onimeeetings.each { |x| %>
<li>
<a class="elink" href="http://bbb-mconf.no-ip.org/bigbluebutton/demo/create.jsp?action=invite&meetingID=<%=x[:meetingID]%>"> ENTER </a><span class="meeting"><%= x[:meetingID]%></span>
<%= x[:participantCount] %> participants
<%}%>
<%else%>
<p>No rooms online right now</p>
<%end%> 
</li>
</ul>
</div>


<div id="popularSpaces">
<% @popular_spaces.each do |space| %>
<span class="ruler">Space</span>
<ul>

  <li>
    <a href="none"> <%= space.name %> </a>
      <ul>
        <li>
          <%=space.events.find(:all, :order => "start_date ASC").select{|e| e.start_date && e.start_date.future?}.count%> Upcoming Events
        </li>
        <li>
          <%=space.users.count%> Members
        </li>
        <li>
          <a href="none">More information...</a>
        </li>
        <!--
        <li>
          <%= space.description %>
        </li>
        -->
      </ul>
    </li>

</ul>
<%end%>
</div>
<br />

<!--
<%= @popular_spaces.each do |space| %>
<br />
<br />
<%= space.users%>
<br />
<br />
<%= space.events%>
<%end%>
-->

<br />
<br />




<!-- /acr -->



<!-- From here,original frontpage

<div class="left column span-11 borde">
    <div id="left_espacio">
    </div>
    <div id="left_contenido">
        <div id="vcc_title">
            <%= t('frontpage.main_title') %>
            <span id="text_bottom_title">
                <br/>
                <%= t('frontpage.stats', :vc => Event.count, :vs => AgendaEntry.with_recording.count) %>
            </span>
        </div>
        <br/>
        <div id="share">
            <span><%=image_tag("../images/frontpage/share.gif") %></span>
            <span>
                <ul class="purple">
                    <li>
                    <%=image_tag("../images/frontpage/purple_sq.png") %><%= t('frontpage.share.sentence1') %>
                    </img>
                </li>
                <li><%=image_tag("../images/frontpage/purple_sq.png") %><%= t('frontpage.share.sentence2') %>
                </img>
            </li>
            <li>
            <%=image_tag("../images/frontpage/purple_sq.png") %><%= t('frontpage.share.sentence3') %>
            </img>
        </li>
        </ul>
    </span>
</div>
<div id="meet" class="no_float_left">
    <span><%=image_tag("../images/frontpage/meet.gif") %></span>
    <span class="no_float">
        <ul class="green">
            <li>
            <%=image_tag("../images/frontpage/green_sq.png") %><%= t('frontpage.meet.sentence1') %>
            </img>
        </li>
        <li><%=image_tag("../images/frontpage/green_sq.png") %><%= t('frontpage.meet.sentence2') %>
        </img>
    </li>
    <li>
    <%=image_tag("../images/frontpage/green_sq.png") %><%= t('frontpage.meet.sentence3') %>
    </img>
</li>
</ul>
</span>
</div>
<div id="collaborate" class="no_float_left">
    <span><%=image_tag("../images/frontpage/collaborate.gif") %></span>
    <span>
        <ul class="yellow">
            <li>
            <%=image_tag("../images/frontpage/yellow_sq.png") %><%= t('frontpage.collaborate.sentence1') %>
            </img>
        </li>
        <li><%=image_tag("../images/frontpage/yellow_sq.png") %><%= t('frontpage.collaborate.sentence2') %>
        </img>
    </li>
    <li>
    <%=image_tag("../images/frontpage/yellow_sq.png") %><%= t('frontpage.collaborate.sentence3') %>
    </img>
</li>
</ul>
</span>
</div>
<br/>
<div id="join_form" class="no_float_left">
    <%= link_to image_tag("join.gif", :alt=>"register"), signup_path, :class => "register_link" %>
</div>
</div>
</div>
<div class="right column span-12 borde">
    <div id="caracteristics">
        <span id ="video">
            <ul id="gallery">
                <li>
                    <img src="../images/frontpage/video_1_happy.jpg" alt="Happy Sithole - Belief" />
                    <div class="panel-content">
                        <a href="http://www.globalplaza.org/spaces/global/events/5th-belief-symposium?show_video=4">
                        	<img src="../images/frontpage/video_1_happy.jpg" alt="Happy Sithole - Belief" title="Happy Sithole - Belief" width="320" height="245" /></a>
                    </div>
                </li>
                <li>
                    <img src="../images/frontpage/video_2_kostas.jpg" alt="Kostas Glinos- Belief" title="Kostas Glinos- Belief"/>
                    <div class="panel-content">
                        <a href="http://www.globalplaza.org/spaces/global/events/5th-belief-symposium?show_video=13"><img src="../images/frontpage/video_2_kostas.jpg" alt="Kostas Glinos- Belief" title="Kostas Glinos- Belief" width="320" height="245"/></a>
                    </div>
                </li>
                <li>
                    <img src="../images/frontpage/video_3_colin.jpg" alt="Colin Wright - Belief" title="Colin Wright - Belief" />
                    <div class="panel-content">
                        <a href="http://www.globalplaza.org/spaces/global/events/5th-belief-symposium?show_video=66"><img src="../images/frontpage/video_3_colin.jpg" alt="Colin Wright - Belief" title="Colin Wright - Belief" width="320" height="245" /></a>
                    </div>
                </li>
                <li>
                    <img src="../images/frontpage/video_4_romilla.jpg" alt="Romilla Maharaj - Belief" title="Romilla Maharaj - Belief"/>
                    <div class="panel-content">
                        <a href="http://www.globalplaza.org/spaces/global/events/5th-belief-symposium?show_video=20"><img src="../images/frontpage/video_4_romilla.jpg" alt="Romilla Maharaj - Belief" title="Romilla Maharaj - Belief" width="320" height="245"/></a>
                    </div>
                </li>
            </ul>
        </span>
		<% global_space = Space.find_by_permalink("global")%>
        <ul>
            <li class="conferences">
                <%= link_to t('frontpage.elements.conferences'),search_all_path(:advanced => true,
                                                  :type => 'events',
                                                  :sort_mode => 'ascending',
                                                  :start_date => Time.now.strftime("%m/%d/%Y"),
                                                  :end_date =>(Time.now + 2.month).strftime("%m/%d/%Y"))%>
            </li>
            <li class="participants">
                <%= link_to t('frontpage.elements.participants'), space_users_path( global_space ? global_space : Space.first) %>
            </li>
            <li class="organizers">
                <%= link_to t('frontpage.elements.organizers'), space_users_path(global_space ? global_space : Space.first) %>
            </li>
            <li class="spaces">            	
                <%= link_to t('frontpage.elements.spaces'), spaces_path %>
            </li>
            <li class="comments">
                <%= link_to t('frontpage.elements.comments'), space_posts_path(global_space ? global_space : Space.first) %>
            </li>
            <li class="tags">
                <%= link_to t('frontpage.elements.tags'), space_attachments_path(global_space ? global_space : Space.first) %>
            </li>
            <li class="networks">
                <%= t('frontpage.elements.networks') %>
            </li>
        </ul>
    </div>
</div>
<div id="espacio_body_bottom">
</div>
-->

