<% content_for :"global-header" do %>
  <%= render :partial => "global_header" %>
<% end %>

<div id="page-header">

  <div id="page-header-content">
    <div class="headline"><%= t('frontpage.project_description').html_safe %></div>

    <div class="links">
      <ul>
        <li>
          <a class="link-title" href="http://inf.ufrgs.br/prav/gtmconf"><%= t('frontpage.links.project_website') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.project_website_desc') %></span>
        </li>
        <li>
          <a class="link-title" href="https://github.com/mconf"><%= t('frontpage.links.source_code') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.source_code_desc') %></span>
        </li>
        <li>
          <a class="link-title" href="http://code.google.com/p/mconf"><%= t('frontpage.links.docs') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.docs_desc') %></span>
        </li>
      </ul>
    </div>
  </div>

</div>

<div id="content-mconf">
  <%= render :partial => "components" %>

  <div class="content-left-wrapper">

    <div id="content-news">
      <div class="section-title">
        <h2><%= t('frontpage.news.title') %></h2>
        <%= render_clearer %>
      </div>
      <div class="news-box">
        <a href="stats.html"><%= image_tag('frontpage/mconf-graphics-screenshot.png', :size => '300x137') %></a>
        <%= t('frontpage.news.message') %>
        <ul>
          <li><%= t('frontpage.news.item1').html_safe %></li>
          <li><%= t('frontpage.news.item2').html_safe %></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="content-right-wrapper">

    <div id="content-searching-for">
      <div class="section-title">
        <h2><%= t('frontpage.searching_for.title') %></h2>
        <%= render_clearer %>
      </div>
      <div class="content-block">
        <%= image_tag('frontpage/icon-use-pb-40x40.png', :size => '40x40') %>
        <span class="link-title"><%= t('frontpage.searching_for.use.title') %></span>
        <span><%= t('frontpage.searching_for.use.message').html_safe %></span>
      </div>
      <div class="content-block">
        <%= image_tag('frontpage/icon-install-pb-40x40.png', :size => '40x40') %>
        <span class="link-title"><%= t('frontpage.searching_for.install.title') %></span>
        <span><%= t('frontpage.searching_for.install.message').html_safe %></span>
      </div>
      <div class="content-block">
        <%= image_tag('frontpage/icon-collaborate-pb-40x40.png', :size => '40x40') %>
        <span class="link-title"><%= t('frontpage.searching_for.collaborate.title') %></span>
        <span><%= t('frontpage.searching_for.collaborate.message').html_safe %></span>
      </div>
    </div>

  </div>

  <%= render_clearer %>
</div>

<div id="content-current-site">

  <div class="content-left-wrapper">
    <%= render :partial => 'space_list', :locals => { :spaces => @most_active_spaces } %>
  </div>

  <div class="content-right-wrapper">

    <div id="content-stats">
      <div class="section-title">
        <h2><%= t('frontpage.stats.title') %></h2>
        <div class="subtitle">
          <span><%= t('frontpage.stats.subtitle') %></span>
        </div>
        <%= render_clearer %>
      </div>

      <div class="data">
        <div class="content-block">
          <span class="param"><%= t('frontpage.stats.param_users') %></span>
          <span class="value"><%= @stats[:users] %></span>
        </div>
        <div class="content-block">
          <span class="param"><%= t('frontpage.stats.param_spaces') %></span>
          <span class="value"><%= @stats[:spaces] %></span>
        </div>
        <div class="content-block">
          <span class="param"><%= t('frontpage.stats.param_events') %></span>
          <span class="value"><%= @stats[:events] %></span>
        </div>
        <div class="content-block">
          <span class="param"><%= t('frontpage.stats.param_posts') %></span>
          <span class="value"><%= @stats[:posts] %></span>
        </div>
        <div class="content-block">
          <span class="param"><%= t('frontpage.stats.param_documents') %></span>
          <span class="value"><%= @stats[:documents] %></span>
        </div>
        <div class="content-block">
          <span class="param"><%= t('frontpage.stats.param_webconferences') %></span>
          <span class="value"><%= @stats[:webconferences] %></span>
        </div>
      </div>

    </div>

  </div>

  <%= render_clearer %>
</div>
