<div class="left column span-11 borde">         
		<div id="left_espacio"></div>
		<div id="left_contenido">
			<div id="vcc_title">VCC is a Free service for publishing and discovering videoconferences
				<span id="text_bottom_title"><br /> 50 videoconferences organized - 320 videos stored </span>
			</div>
			<br />
	
			<div id="share">
				<span><%=image_tag("../images/frontpage/share.gif")%></span>
				<span>
					<ul class="purple">
						<li><%=image_tag("../images/frontpage/purple_sq.png")%>Videoconference video and streaming</img></li>
						<li><%=image_tag("../images/frontpage/purple_sq.png")%>Documents, video and video repositories</img></li>
						<li><%=image_tag("../images/frontpage/purple_sq.png")%>Your contacts and relations</img></li>
					</ul>
				</span>
			</div>
	
			<div id="meet" class="no_float_left">
				<span><%=image_tag("../images/frontpage/meet.gif")%></span>
				<span class="no_float">
					<ul class="green">
						<li><%=image_tag("../images/frontpage/green_sq.png")%>Discover best online videoconferences</img></li>
						<li><%=image_tag("../images/frontpage/green_sq.png")%>Meet interesting people and groups</img></li>
						<li><%=image_tag("../images/frontpage/green_sq.png")%>Video chat your colleagues</img></li>
					</ul>
				</span>
			</div>
	
			<div id="collaborate" class="no_float_left">
				<span><%=image_tag("../images/frontpage/collaborate.gif")%></span>
				<span>
					<ul class="yellow">
						<li><%=image_tag("../images/frontpage/yellow_sq.png")%>Organize your projects and activities</img></li>
						<li><%=image_tag("../images/frontpage/yellow_sq.png")%>Participate in conferences and events</img></li>
						<li><%=image_tag("../images/frontpage/yellow_sq.png")%>Create your own space and conferences</img></li>
					</ul>
				</span>		
			</div>
	

			<br />
			<div id="join_form" class="no_float_left">								
				
					<%= link_to image_tag("join.gif", :alt=>"register"), signup_path, :class => "register_link" %>
			</div>
		</div>	

</div>

<div class="right column span-12 borde">
	<div id="caracteristics" >
				<span><img src="images/video.gif" alt="videos online" /></span>
				<br /><br />
				<ul>
				<li class="conferences">Conferences</li>
				<li class="participants">Participants</li>
				<li class="organizers">Organizers</li>
				<li class="spaces">Spaces</li>
				<li class="comments">Comments</li>
				<li class="tags">Tags</li>
				<li class="networks">Social Networks</li>
				</ul>
			</div>

</div>

<div id="espacio_body_bottom"></div>