<% content_for :"global-header" do %>
  <%= render :partial => "global_header" %>
<% end %>

<div id="page-header">

  <div id="page-header-content">
    <div class="headline"><%= t('frontpage.project_description').html_safe %></div>

    <div class="links">
      <ul>
        <li>
          <a class="link-title" href="http://inf.ufrgs.br/prav/gtmconf"><%= t('frontpage.links.project_website') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.project_website_desc') %></span>
        </li>
        <li>
          <a class="link-title" href="https://github.com/mconf"><%= t('frontpage.links.source_code') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.source_code_desc') %></span>
        </li>
        <li>
          <a class="link-title" href="http://code.google.com/p/mconf"><%= t('frontpage.links.docs') %></a><br/>
          <span class="link-description"><%= t('frontpage.links.docs_desc') %></span>
        </li>
      </ul>
    </div>
  </div>

</div>

<div id="content-mconf">
  <%= render :partial => "components" %>

  <div class="content-left-wrapper">

    <div id="content-news">
      <div class="section-title">
        <h2>News</h2>
        <%= render_clearer %>
      </div>
      <div class="news-box">
        <%= image_tag('frontpage/mconf-graphics-screenshot.png', :size => '300x137') %>
        Mconf is developing a monitor for BigBlueButton that will collect usage statistics and display it in nice graphics such as the one you're seeing in the picture.
        <ul>
          <li>Click here to see the experimental page with more graphics.</li>
          <li>Source code is at: here and here.</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="content-right-wrapper">

    <div id="content-searching-for">
      <div class="section-title">
        <h2>What are you searching for?</h2>
        <%= render_clearer %>
      </div>
      <div class="content-block">
        <%= image_tag('frontpage/icon-use-pb.png', :size => '40x40') %>
        <span class="link-title">Use Mconf</span>
        It's free but first you need to <a href="<%= signup_path %>">create an account</a>.
      </div>
      <div class="content-block">
        <%= image_tag('frontpage/icon-install-pb.png', :size => '40x40') %>
        <span class="link-title">Install Mconf</span>
        Learn how to install Mconf in your own servers.
      </div>
      <div class="content-block">
        <%= image_tag('frontpage/icon-collaborate-pb.png', :size => '40x40') %>
        <span class="link-title">Collaborate</span>
        Help us improve Mconf.
      </div>
    </div>

  </div>

  <%= render_clearer %>
</div>

<div id="content-current-site">

  <div class="content-left-wrapper">

    <div id="content-spaces">
      <div class="section-title">
        <h2>Public Spaces</h2>
        <div class="subtitle">
          <span>Spaces are discussion groups for people with similar interests. </span><a href="<%= spaces_path %>">View the complete list...</a>
        </div>
        <%= render_clearer %>
      </div>
      <%= render :partial => 'space_list', :locals => { :spaces => @most_active_spaces } %>
    </div>

  </div>

  <div class="content-right-wrapper">

    <div id="content-stats">
      <div class="section-title">
        <h2>Statistics</h2>
        <div class="subtitle">
          <span>Usage statistics for mconf.org</span>
        </div>
        <%= render_clearer %>
      </div>

      <div class="data">
        <div class="content-block">
          <span class="param">Users:</span>
          <span class="value"><%= @stats[:users] %></span>
        </div>
        <div class="content-block">
          <span class="param">Spaces:</span>
          <span class="value"><%= @stats[:spaces] %></span>
        </div>
        <div class="content-block">
          <span class="param">Events:</span>
          <span class="value"><%= @stats[:events] %></span>
        </div>
        <div class="content-block">
          <span class="param">Posts:</span>
          <span class="value"><%= @stats[:posts] %></span>
        </div>
        <div class="content-block">
          <span class="param">Documents:</span>
          <span class="value"><%= @stats[:documents] %></span>
        </div>
        <div class="content-block">
          <span class="param">Webconferences:</span>
          <span class="value"><%= @stats[:webconferences] %></span>
        </div>
      </div>

    </div>

  </div>

  <%= render_clearer %>

</div>
