 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Performance Indicators</title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
  <link href="stylesheets/about.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    
  <!--[if IE]> 
  <link href="stylesheets/ie.css?1242919478" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
	
  </head>

  <body>
  	<div id="site">
    <div id="home">
      <div id="header">
        <div id="logo">
		  <img alt="Gp-logo" height="80" src="images/gp-logo.jpg" width="80" />
		</div>
		
		<div id="search">
		  <h1>Performance Indicators</h1>
		</div>
		
		<div id="eu">
		  <img alt="Union_europea" height="48" src="images/flags/union_europea.jpg" width="72" />
		</div>

      </div>
  
	  <div id="content">  
        <div id="main">
        <%= link_to "<span>Back to GLOBAL webpage</span>", "http://global-project.eu", :class => "with_margin_down new_space_link big_button orange_button"%>

        <%= image_tag ("demo/Imagen1.png",:class=>"performance_imagen") %>
		<%= image_tag ("demo/Imagen3.png",:class=>"performance_imagen") %>
		<%= image_tag ("demo/Imagen5.png",:class=>"performance_imagen") %>
		<%= image_tag ("demo/Imagen7.png",:class=>"performance_imagen") %>
		<%= image_tag ("demo/Imagen9.png",:class=>"performance_imagen") %>
		<%= image_tag ("demo/Imagen11.png",:class=>"performance_imagen") %>
		
		<%= link_to "<span>Back to GLOBAL webpage</span>", "http://global-project.eu", :class => "new_space_link big_button orange_button"%>
		</div>
	  </div>
    </div>
  </div>
	
	
	
	
  
  </body>
</html>

 
		
