- content_for :navbar do
  #navbar
    #navbar-logo
      %a.title{:href => root_path}= image_tag 'logos/mconf-white-transp.png', :size => '231x120'

#content.container-fluid

  #headline
    - if current_site.description.blank?
      = t(".headline")
    - else
      = current_site.description

  #center-container
    #action-links
      - if current_site.registration_enabled?
        = link_to t('.register.title'), register_path, class: 'btn btn-primary btn-lg'
      %span= 'or'
      - if current_site.local_auth_enabled? || current_site.ldap_enabled?
        = link_to t('.login.title'), login_path, class: 'btn btn-primary btn-lg'

    %ul#action-links-extra
      - if current_site.local_auth_enabled?
        %li= link_to "Lost your password?", new_password_path(resource_name)
      - if current_site.certificate_login_enabled?
        %li= certificate_auth_link t('.login.certificate')
      - if current_site.shib_enabled?
        %li= link_to t('.login.federation'), shibboleth_path
