- content_for :navbar do
  #navbar
    #main-logo
      %a.title{:href => root_path}= image_tag 'logos/mconf-white-transp.png', :size => '231x120'

- content_for :page_header do
  - if current_site.name.blank?
    = t(".headline")
  - else
    - headline = current_site.name
    - unless current_site.description.blank?
      - headline += ": " + current_site.description
    = headline

#content

  - if current_site.local_auth_enabled? || current_site.ldap_enabled?
    #login-box.form-area
      %h2= t('.login.title')
      = render :partial => 'sessions/login_form'
      .action-links
        %ul
          - if current_site.shib_enabled?
            %li= link_to t('.login.federation'), shibboleth_path, :class => 'shibboleth_login'
          %li= link_to t('.login.lost_password'), new_user_password_path

  - if current_site.registration_enabled?
    #registration-box.form-area
      %h2= t('.register.title')
      = render :partial => 'registrations/signup_form'
