- content_for :"navbar" do
  #navbar
    #main-logo
      %a.title{:href => root_path}= image_tag 'logos/mconf-white-transp.png', :size => '231x120'

- content_for :"page-header" do
  = t("frontpage.headline")

#content

  #login-box.form-area
    %h2= t('login.login_desc')
    = render :partial => 'sessions/login_form'
    .action-links
      = link_to t('user.lost_password'), lost_password_path
      - if current_site.shib_enabled?
        = link_to t('cafe.login'), shibboleth_path, :class => 'shibboleth_login'

  #registration-box.form-area
    %h2= t('register.one')
    = render :partial => 'users/signup_form'
