- content_for :"global-header" do
  = render :partial => "global_header"

- content_for :"page-header" do
  #page-header
    .headline= t('frontpage.project_description').html_safe
    .links
      %ul
        %li
          %a.link-title{:href => "http://inf.ufrgs.br/prav/gtmconf"}= t('frontpage.links.project_website')
          %br/
          %span.link-description= t('frontpage.links.project_website_desc')
        %li
          %a.link-title{:href => "https://github.com/mconf"}= t('frontpage.links.source_code')
          %br/
          %span.link-description= t('frontpage.links.source_code_desc')
        %li
          %a.link-title{:href => "http://code.google.com/p/mconf"}= t('frontpage.links.docs')
          %br/
          %span.link-description= t('frontpage.links.docs_desc')

#content-mconf
  = render :partial => "components"
  #content-searching-for
    .section-title
      %h2= t('frontpage.searching_for.title')
    .content-block
      = image_tag('frontpage/icon-use-pb-40x40.png', :size => '40x40')
      .text
        %span.link-title
          %a{:href => signup_path}= t('frontpage.searching_for.use.title')
        %span= t('frontpage.searching_for.use.message').html_safe
    .content-block
      = image_tag('frontpage/icon-install-pb-40x40.png', :size => '40x40')
      .text
        %span.link-title
          %a{:href => "http://code.google.com/p/mconf/wiki/MconfInstallation"}= t('frontpage.searching_for.install.title')
        %span= t('frontpage.searching_for.install.message').html_safe
    .content-block
      = image_tag('frontpage/icon-collaborate-pb-40x40.png', :size => '40x40')
      .text
        %span.link-title
          %a{:href => "http://code.google.com/p/mconf/wiki/MconfCollaborate"}= t('frontpage.searching_for.collaborate.title')
        %span= t('frontpage.searching_for.collaborate.message').html_safe

#content-current-site
  = render :partial => 'space_list', :locals => { :spaces => @most_active_spaces }
