- content_for :navbar do

  #barra-brasil
    .barra
      %ul
        %li
          = link_to "", "http://www.acessoainformacao.gov.br", :class => "ai", :title => "Acesso à informação"
        %li
          = link_to "", "http://www.brasil.gov.br", :class => "brasilgov", :title => "Portal de Estado do Brasil"

  #barra-wrapper
    #barra
      #barra-chama
      #barra-links
        %ul
          %li= link_to "UFRGS", "http://www.ufrgs.br"

- content_for :page_header do
  = image_tag "ufrgs/logo.jpg", :size => "160x127", :class => "logo-ufrgs"

#content

  %h1#content-title
    = t(".service_name")

  #login
    #login-button
      = link_to shibboleth_path, :class => "btn btn-large btn-danger" do
        = t('.click_to_access').html_safe
      .observation= t('.accessible_to').html_safe

  #documentation
    %h3= t(".docs.title")
    %span= t(".docs.headline")
    %ul
      %li
        = t(".docs.link_index", :url => "http://www.ufrgs.br/cpd/servicos/redes-e-comunicacao/conferencia-via-web-1").html_safe
      %li
        = t(".docs.link_tutorials", :url => "http://www.ufrgs.br/cpd/servicos/redes-e-comunicacao/pasta-tutoriais/tutoriais-mconf/tutoriais-mconf").html_safe
      %li
        = t(".docs.link_moodle", :url => "https://moodle.ufrgs.br/suporte/assets/manual/Guia_do_Professor_Moodle_29.pdf").html_safe
