- plans = []
- Plan.all.each do |e| plans.push([e.name, e.id]) end

= minimal_form_for @subscription, :html => { :method => :post }, :url => subscriptions_path, wrapper: :vertical_form do |f|

  .field-group
    %h3= t('.customer_section')
    = f.fields_for :user do |u|
      = u.fields_for :profile do |p|
        = p.input :cpf_cnpj, required: true, placeholder: t('.cpf_cnpj')
        = p.input :organization, required: false, placeholder: t('.organization')

  .field-group
    %h3= t('.address_section')
    = f.fields_for :user do |u|
      = u.fields_for :profile do |p|
        = p.input :address, required: false, placeholder: t('.address')
        = p.input :city, required: false, placeholder: t('.city')
        = p.input :province, required: false, placeholder: t('.province')
        = p.input :country, as: :string, required: false, placeholder: t('.country')
        = p.input :zipcode, required: false, placeholder: t('.zipcode')
        = p.input :phone, required: false, placeholder: t('.phone')

    .alert.alert-gray
      = icon_info
      = t('.confirmation')

  -#.form-accept-terms.field-group
  -#  = check_box_tag :terms, 1, false, as: :boolean
  -#  = label_tag :terms, t('.terms').html_safe

  = f.button :wrapped, value: t(".subscribe")
