- page_title t('.title', name: @user.full_name)

= content_for :navbar_menu do
  = render "my/navbar_menu", user_spaces: @user_spaces

= content_for :sidebar do
  .sidebar-title= t('.title')

= content_for :sidebar_menu do
  = render :partial => 'users/menu'

#subscription-wrapper
  .container-fluid
    .header
      .resource-card
        .card-title= t('.subtitle')

      #subscription-rules
        .rule-block
          .rule-title= t('.rules_title').html_safe
          %p= t('.rules_text').html_safe
        .rule-block
          .rule-title= t('.pricing_title').html_safe
          %ul
            %li= t('.pricing_text1').html_safe
            %li= t('.pricing_text2').html_safe

    .body
      = render partial: 'subscription_form'
