<h3>Reply to Last-User's Post</h3>
  <div id="post-buttoms">
    <ul>
  	  <li>Comments</li>
	  <li>Photos</li>
	  <li>Docs</li>
    </ul>
  </div>
<% form_for(:post, :url => space_posts_path(@space), :html => { :multipart => true }) do |f| -%>

    <%= render :partial => "form_comment", :object => f %>
	<%= render :partial => "form_photo", :object => f %>
	<%= render :partial => "form_doc", :object => f %>
	<%= hidden_field_tag :parent_id, ""%>
    <%= submit_tag "Post Now!" %>
  <% end -%>