<% content_for :sidebar do  %>
  <%= render :partial => "home_sidebar" %>
<% end %>

<div id="pop-spaces" class="span-18">
	<h3>Popular Spaces <%=image_tag("ui/icons/feed.png")%></h3>
	<div class="span-6"><%=link_to(image_tag("ui/demo/belief.png", :size=>"226x170"))%></div>
	<div class="span-6"><%=link_to(image_tag("ui/demo/terena.png", :size=>"226x170"))%></div>
	<div class="span-6"><%=link_to(image_tag("ui/demo/sxsw.png", :size=>"226x170"))%></div>
</div>

<div id="rcnt-spaces" class="span-18">
	<h3>Recent Spaces <%=image_tag("ui/icons/feed.png")%></h3>
	<div class="span-6"><%=link_to(image_tag("ui/demo/sonar.png", :size=>"226x170"))%></div>
	<div class="span-6" ><%=link_to(image_tag("ui/demo/summercase.png", :size=>"226x170"))%></div>
	<div class="span-6"><%=link_to(image_tag("ui/demo/ted.png", :size=>"226x170"))%></div>
</div>

<div id="inc-events" class="span-18">
	<h3>Incoming Events <%=image_tag("ui/icons/feed.png")%></h3>
	
</div>