<% content_for :headers do  %>
  <%=javascript_include_tag :defaults%>
<%end%>

<% content_for :sidebar do  %>
  <div id="add_new_thread" >
    <%= render :partial => "new_thread" %>
  </div>
  <div id="add_new_reply" style = "display:none;">
    <%= render :partial => "new_reply" %>
  </div>
<% end %>

<b><%=link_to "Titulo"%></b>   Updated 3 minutes ago  <%=link_to "Reply"%>
		<div class="following_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario1</p>			
		</div>
		<div class="following_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario2</p>			
		</div>
		<div class="last_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario3</p>			
		</div>


<b><%=link_to "Titulo2"%></b>   Updated 3 minutes ago  <%=link_to "Reply"%>
		<div class="first_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario4</p>			
		</div>
		<div class="following_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario5</p>			
		</div>
		<div class="last_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario6</p>			
		</div>

		</br>