<% content_for :sidebar do  %>
  <%= render :partial => 'new_thread' %>
<% end %>

<b><%=link_to "Titulo"%></b>   Updated 3 minutes ago  <%=link_to "Reply"%>
	<div class="thread">
		<div class="following_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario1</p>			
		</div>
		<div class="following_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario2</p>			
		</div>
		<div class="last_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario3</p>			
		</div>
	</div>

<b><%=link_to "Titulo2"%></b>   Updated 3 minutes ago  <%=link_to "Reply"%>
	<div class="thread">
		<div class="first_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario4</p>			
		</div>
		<div class="following_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario5</p>			
		</div>
		<div class="last_post"> 						
		  <p><%=image_tag("legacy/avatar.png")%>commentario6</p>			
		</div>
	</div>
		</br>