//style_file_input();

logo_crop_form = $("#<%= form_id %>");

logo_crop_form.attr("action","<%= url_form %>");
$("#<%= form_id %> input[type=hidden][name=_method][value=put]").remove();
$("#<%= form_id %> input[type=image]").click(function(){
  if ($("#logo_media").val() == "") {
    alert("<%= t('select_image')%>");
    return false;
  }
});

logo_crop_form.ajaxForm(function(data) {

  $("#<%= container_id %>").append("<a id=\"logo_crop_submit_anchor\" href=\"#<%= container_id %>_content\"></a>");
  $("#<%= container_id %>").append("<div id=\"<%= container_id %>_content\">" + data + "</div>");
  $("#<%= container_id %>_content").width($("#croplogo").attr('width') + 20);

  $("#logo_crop_submit_anchor").fancybox({
    'hideOnContentClick' : false,
    'frameWidth' : 200,
    'frameHeight' : 200,
    'onComplete' : function(){
      //$("#for_lightbox").children().remove();
      var size;
      <% if defined? crop_size %>
        size = <%= crop_size %>;
      <% else %>
        if ($("#croplogo").attr("width") < $("#croplogo").attr("height")) {
          size = $("#croplogo").attr("width");
        } else {
          size = $("#croplogo").attr("height");
        }
      <% end %>
      $("#croplogo").Jcrop({
        onSelect: cropImage,
        onChange: cropImage,
        bgColor : 'white',
        aspectRatio: <%= aspect_ratio %>,
        setSelect: [size/4,size/4,3*size/4,3*size/4]
      });
    }
  }).click();
  <% if defined? on_success %>
    <%= on_success %>();
  <% end %>
});

/*
$("#logo_submit").click(function(){
    if($("#logo_media").val()==""){
        alert("<%=escape_javascript(t('logo.empty'))%>");
        return false;
    }
});
*/

function cropImage(c) {
    $("#crop_size_x").val(c.x);
    $("#crop_size_y").val(c.y);
    $("#crop_size_height").val(c.h);
    $("#crop_size_width").val(c.w);
    // c.x, c.y, c.x2, c.y2, c.w, c.h
};