-# To be displayed in a modal window

.modal-title
  = t('crop_image.title')

#crop-image-wrapper.modal-content
  .description= t('crop_image.description')
  = simple_form_for p_form_for, :url => p_form_url do |f|
    -# TODO: the aspect ratio can differ in other cases
    = image_tag image, :class => "cropable", :size => image_size, :"data-crop-aspect-ratio" => Avatar::ASPECT_RATIO_S
    = fields_for :crop_size do |fc|
      = fc.hidden_field :x
      = fc.hidden_field :y
      = fc.hidden_field :width
      = fc.hidden_field :height
    = f.button :submit, t("save"), :class => 'bordered'
