<div id="lightbox-logo" style="z-index:1">
  <span>
    <%= image_tag("bola_global_peque.png",:class=>"icon")%><%= @logo_crop_text %>
  </span>
</div>

<div id="crop-logo-lightbox-content">
  <%=image_tag @image, :id => "croplogo"%>
  
  <% form_for @form_for, :url => @form_url do |f| %>
    <% fields_for :crop_size do |fc|%>
      <%= fc.hidden_field :x %>
      <%= fc.hidden_field :y %>
      <%= fc.hidden_field :width %>
      <%= fc.hidden_field :height %>
    <%end%>
  
    <div class="margin-up">
      <button type="submit" class="blue_button basic_button"><%=t("button.go")%></button>    
    </div>
  
  <%end%>
</div> 

