<div class="event_video_title">
    <h3><%= t('screencast.sidebar.title') %></h3>
</div>
<div id="carrusel">
  <div id="carrusel_content">      
      <div class="video_preview_sidebar">
          <div class="video_thumbnail">             
              <%=link_to_function image_tag("screencast1.png", :alt => t('screencast.title1')),"load_screencast(1)", :class=>"entry_video_link" %>
              <span class="play_icon"></span>
          </div>
          <div class="video_description">
              <%=link_to_function  t('screencast.title1') , "load_screencast(1)", :class=>"entry_video_link" %>
          </div>
      </div>
	  <div class="video_preview_sidebar">
          <div class="video_thumbnail">             
              <%=link_to_function image_tag("screencast2.png", :alt => t('screencast.title2')),"load_screencast(2)", :class=>"entry_video_link" %>
              <span class="play_icon"></span>
          </div>
          <div class="video_description">
              <%=link_to_function  t('screencast.title2') , "load_screencast(2)", :class=>"entry_video_link" %>
          </div>
      </div>  
	  <div class="video_preview_sidebar">
          <div class="video_thumbnail">             
              <%=link_to_function image_tag("screencast3.png", :alt => t('screencast.title3')),"load_screencast(3)", :class=>"entry_video_link" %>
              <span class="play_icon"></span>
          </div>
          <div class="video_description">
              <%=link_to_function  t('screencast.title3') , "load_screencast(3)", :class=>"entry_video_link" %>
          </div>
      </div>	
	  <div class="video_preview_sidebar">
          <div class="video_thumbnail">             
              <%=link_to_function image_tag("screencast4.png", :alt => t('screencast.title4')),"load_screencast(4)", :class=>"entry_video_link" %>
              <span class="play_icon"></span>
          </div>
          <div class="video_description">
              <%=link_to_function  t('screencast.title4') , "load_screencast(4)", :class=>"entry_video_link" %>
          </div>
      </div>
	  <div class="video_preview_sidebar">
          <div class="video_thumbnail">             
              <%=link_to_function image_tag("screencast5.png", :alt => t('screencast.title5')),"load_screencast(5)", :class=>"entry_video_link" %>
              <span class="play_icon"></span>
          </div>
          <div class="video_description">
              <%=link_to_function  t('screencast.title5') , "load_screencast(5)", :class=>"entry_video_link" %>
          </div>
      </div>	  
  </div>
</div>