
		<% rounded() do %>

<h1><%= 'Editing role'%></h1>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @role %> |
<%= link_to 'Back', roles_path %>

  <%end%>
  


<%= render :partial =>'shared/sidebar'%>