
		<% rounded() do %>

<h1><%= t('role.editing') %></h1>

<%= form_for(@role) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit t('update') %>
  </p>
<% end %>

<%= link_to t('show'), @role %> |
<%= link_to t('back'), roles_path %>

  <%end%>
  


<%= render :partial =>'shared/sidebar'%>
