<% rounded() do %>

<p>
  <b><%= 'Name' %>:</b>
  <%=h @role.name %>
</p>

<p>
  <b><%= "Stage type" %>:</b> 
  <%=h @role.stage_type.humanize %>
</p>

<p>
<b><%= "Permissions" %>:</b><br/>

<% if @role.permissions.any? -%>
  <% @role.permissions.each do |permission| -%>
    <%= permission.title %><br />
  <% end -%>
<% else -%>
<%= "Role %s hasn't any permission" / @role.name %>
<% end -%>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>

  <%end%>


<%= render :partial =>'shared/sidebar'%>