
<% @page_title = "Roles" %>

<div id="yui-main">
<div class="yui-b main_column">
<% rounded(:class => "tips") do %>
<h3 class="title">Groups in the space <%=@container.name%></h3>

<%if @role.length==0%><br>
<%= "No Groups defined" %><br>

<%end%>
<% for role in @role%>

<%= link_to role.name, edit_group_path(:space, @container.id,role.id)%>  <%= link_to_remote 'Members' , :url=>( group_details_path(:space,@container.id, role.id))%>    <%= link_to 'Delete' , delete_group_path(:space, @container.id,role.id),:confirm => 'Are you sure?'%>  <br>
<br><%end%>




<%end%>

<div id="group_details">
	
</div>


</div>
</div>
<%= render :partial =>'shared/sidebar_users'%>