<% @page_title = "Profile" -%>
&nbsp;



<%= error_messages_for :profile %>

<% form_for(@profile) do |f| %>
<div align=center>
<table border=1 >
<tr>
<td class=headerDay align=center>User Profile:</td>

</tr>
<tr>
	<td class=user_info align=center><%= link_to 'View your Hcard' , hcard_path(@profile.id) , :method=> 'get'  %>
<%= link_to 'Export your Vcard' , vcard_path(@profile.id) , :method=> 'get'  %></td>

	</tr>
	<tr> <td class=user_info align=center> </td>
	</tr>
<tr><td class=user_info>
<%= render :partial => 'form', :locals => { :f => f } %>
</td>
</tr>
</table>
<table>
        <tr>
        <td>
        	<%= submit_tag 'Update' %>&nbsp;&nbsp;&nbsp;&nbsp;<input onclick=document.location="/" type="button" value="Back" />
        </td>
 </tr>
 </table>
<% end %>


