<div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%><%= t('avatar.crop') %></span></div>
<div id="crop-avatar-lightbox-content">
  <%=image_tag @image, :id => "croplogo"%>
	<% form_for [@user,@avatar], :url => user_avatar_path(@user) do |f| %>
	  <% fields_for :crop_size do |fc|%>
			<%= fc.hidden_field :x %>
	    <%= fc.hidden_field :y %>
	    <%= fc.hidden_field :width %>
	    <%= fc.hidden_field :height %>
		<%end%>
<div class="margin-up">
	<button type="submit"><%=t("button.go")%></button>	  
</div>
  <%end%>
</div>