<script type="text/javascript">
 $('#newTag img.tooltip_new_tag').livequery(function(){
   $(this).qtip({
    content: '<%=t("tooltip.tag")%>',
    show:  'mouseover',
    hide: { when: 'mouseout', fixed: true },
    style: 'mystyle'
    });
  });
</script>

<div class="newAttachment">
  <%= f.file_field :uploaded_data, :class => "file file_1", :size => 14 %>
	   <div id="newTag"><span><%=t('tag.new')%>: <%=image_tag("icons/help.png",:title=>"",:size=>"16x16",:class=>"tooltip_new_tag icon",:style=>"cursor:pointer")%></span></div>
     <div><%= f.select(:_tags, @space.tags.map{|u| u.name}, {}, {:multiple=>"multiple"})%></div>
</div>