<div id="posts">
	<% today = get_today_posts(threads) %>
	  <% today_last = today.last %>
	<% yesterday = get_yesterday_posts(threads) %>
	  <% yesterday_last = yesterday.last %>
	<% last_week = get_last_week_posts(threads) %>
	  <% last_week_last = last_week.last %>
	<% older = get_older_posts(threads) %>
	  <% older_last = older.last %>
	
  <%if today.empty? && yesterday.empty? && last_week.empty? && older.empty?%>
    <p><%= t('no_messages_in_wall') %></p>
  <%end%>
  
  <%unless today.empty?%>
    <div id="line">
		  <span class="bold">Today</span>
    </div>
  <%end%>
  <% today.each do |thread| -%>
    <%= render :partial => "thread" , :locals => {:thread => thread, :extended => false,:last => thread == today_last} %>
  <% end -%>
  
  <%unless yesterday.empty?%>
    <div id="line">
		  <span class="bold">Yesterday</span>
    </div>
  <%end%>
  <% yesterday.each do |thread| -%>
    <%= render :partial => "thread" , :locals => {:thread => thread, :extended => false,:last => thread == yesterday_last} %>
  <% end -%>
  
  <%unless last_week.empty?%>
    <div id="line">
		  <span class="bold">Last Week</span>
    </div>
  <%end%>
  <% last_week.each do |thread| -%>
    <%= render :partial => "thread" , :locals => {:thread => thread, :extended => false,:last => thread == last_week_last} %>
  <% end -%>
  
  <%unless older.empty?%>
    <div id="line">
		  <span class="bold">Old Items</span>
    </div>
  <%end%>
  <% older.each do |thread| -%>
    <%= render :partial => "thread" , :locals => {:thread => thread, :extended => false,:last => thread == older_last} %>
  <% end -%>
  
</div>
