<h3>Edit a comment</h3>
  <div id="post-buttoms">
    <ul>
  	  <li><%= link_to_function 'Comment', "new Element.hide('new_photo_form');new Element.hide('new_doc_form');"%></li>
	  <li><%= link_to_function 'Photos', "new Element.show('new_photo_form');new Element.hide('new_doc_form');"%></li>
	  <li><%= link_to_function 'Docs', "new Element.show('new_doc_form');new Element.hide('new_photo_form');"%></li>
	</ul>
  </div>
<% form_for(:post, :url => space_post_path(@space,@post), :html => { :multipart => true , :method => :put }) do |f| -%>
	
	<div id="new_photo_form" style="display: none;">
	  <%= render :partial => "posts/form_photo", :object => f %>
	</div>
	
	<div id="new_doc_form" style="display: none;">
	  <%= render :partial => "posts/form_doc", :object => f %>
	</div>
	<p>
    <%= f.text_area :text, :class => "span-6"%>
    </p>
    <%= submit_tag "Update" %>
  <% end -%>