<%  #Partial parameters default values
    post #Mandatory
%>

<%= content_for :javascript do %>
        $(".newAttach").livequery('click',function () {
          $(".newAttach1").show();
          var new_id = new Date().getTime();
          $(this).before( attachment.replace(/NEW_RECORD/g, new_id) );
                $("#post_attachments_attributes_"+new_id+"__tags").fcbkcomplete({
        cache: true,
        filter_case: false,
        filter_hide: true,
        firstselected: true,
        filter_selected: true,
        maxshownitems: 4,
        newel: true,
        complete_opts: true
    });
        }); 
<% end %>

<div id="edit_thread">

  <%# div title %>
        <% if post.event.present?%>
          <h3><%= t('comment.edit') %></h3>
        <% elsif post.parent_id.nil?%>
          <h3><%=link_to image_tag("arrow_right_up.png", :size=>"16x16",:title=>"Show Advanced Editor"), edit_space_post_path(@space, post), :id => "big_edit_thread", :class => "extract_form" %><%= t('thread.edit') %></h3>
        <%else%>
    <h3><%=link_to image_tag("arrow_right_up.png", :size=>"16x16",:title=>"Show Advanced Editor"), edit_space_post_path(@space, post), :id => "big_edit_thread", :class => "extract_form" %><%= t('comment.edit') %></h3>         
  <%end%>
        
        <%# Form %>
        <%= form_for(prepare_for_form(post),:html => { :multipart => true, :id => "edit-form"}) do |f| -%>  
    <div id="edit_post_content">
        <%=hidden_field_tag 'format', 'html'%>
                
                  <%# Title %>          
                        <%if post.parent_id.nil? && post.event.nil?%>
                    
                      <label for="Title"><%= t('title') %></label><br/>
                      <%= f.text_field :title, :size => 25, :class => "small_post_title" %>
                    
                  <%end%>
      
                        <%# Text %>             
            <label for="text"><%= t('text') %></label><br/>
            <%= small_post_text_area(post.text) %>
    </div>

                
                <%# Attachments%>
                <%= content_for :javascript do %>
     <%= "var attachment='#{ generate_template(f, :attachments, :partial => 'posts/attachment') }'" %>
    <% end %>
    
    <div id="new_attachment_form">
     <div id="cabinet">
        <div><span><%=t('delete.select')%></span></div>
                                <%= f.fields_for(:attachments) do |at_form| %>
          <% unless at_form.object.new_record? %>
                                        <div class="select_wrapper">
                                                <div class="select_left"><%= at_form.check_box '_delete' %></div>
                                                <div class="select_right">
                                                        <%=image_tag(logo_image_path(at_form.object, :size => at_form.object.thumbnail_size)) %>
              <%=at_form.object.filename%>
                                                </div>
                                        </div>
          <% end %>
        <%end %>
        </br>
     </div>
    </div>
    <p class ='newAttach1' <%= 'style="display: none;"'%> ><%= t('attachment.add') %></p>
                <div>
     <span class="newAttach"><%=t('attachment.new') %></span>
    </div>

    <%# Footer %>
          <button type="submit" class="basic_button blue_button"><%=t("button.update") %></button>
          <%unless post.event.present?%>  
                        <div class="float">
              <%= link_to t('thread.or_add_new'), space_posts_path(@space) %>
            </div>
                <%end%>
  <%end%>
</div>
