#post-edit
  .modal-header
    = modal_close_button
    %h3= t('thread.edit')

  #post-message
    = simple_form_for([@space, prepare_for_form(@post)], :html => { :multipart => true, :class => "single-column" }) do |f|
      .modal-body
        - unless @post.parent_id?
          = f.input :title, :label => false, :autofocus => true
        = f.input :text, :label => false, :as => :text
      .modal-footer.form-actions
        = f.button :wrapped, t("save"), :class => "btn btn-primary", :cancel_modal => true
