<h3>Edit a thread</h3>
  <div id="post-buttoms">
    <ul>
      <li><%= link_to 'Comment', space_posts_path(@space, :edit => params[:edit]) %></li>
      <li><%= link_to 'Photos', space_posts_path(@space, :edit => params[:edit], :form => 'photos') %></li>
      <li><%= link_to 'Docs', space_posts_path(@space, :edit => params[:edit], :form => 'docs') %></li>
	</ul>
  </div>
<% form_for([ @space, post ], :html => { :multipart => true }) do |f| -%>
  <p>
    <label for="Title">Title</label><br/>
    <%= f.text_field :title, :size => 25 %>
  </p>
	
  <div id="new_reply_photo_form" <%= 'style="display: none;"' if params[:form] != 'photos' %>>
    <%= render :partial => "posts/form_photo", :object => f %>
  </div>
	
  <div id="new_reply_doc_form" <%= 'style="display: none;"' if params[:form] != 'docs' %>>
    <%= render :partial => "posts/form_doc", :object => f %>
  </div>
	<p>
    <%= f.text_area :text, :class => "span-6"%>
    </p>
    <%= submit_tag "Update" %>
  <% end -%>
