<% content_for :javascript do %>
  $(".edit_thread_options").click(function(){
 	$(".edit_thread_options").removeClass("selected");
	$(this).addClass("selected");});
<% end %>

<div id="edit_thread">


  <h3><%=link_to image_tag("arrow_right_up.png", :size=>"16x16",:title=>"Show Advanced Editor"), edit_space_post_path(@space, post), :id => "big_edit_thread", :class => "extract_form" %><%= t('thread.edit') %></h3>

	<% form_for(prepare_for_form(post),:html => { :id => "edit-form"}) do |f| -%>
	  <div>
	    <label for="Title"><%= t('title') %></label><br/>
	    <%= f.text_field :title, :size => 25, :class => "small_post_title" %>
	  </div>
		  <label for="text"><%= t('text') %></label><br/>
 	    <%= small_post_text_area(@post.text) %>
	    <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
  <% end -%>
</div>	
