<p>
  <b>Title</b><br/>
  <%= form.text_field :title, :size => 50 %>
</p>

<p>
  <b>Text</b><br/>
  <%= fckeditor_textarea(:post, :text, :toolbarSet => 'Simple', :width => '685px', :height => '400px') %> 
</p>

<%= render :partial => 'attach' %>

<%if @post.parent_id %>
  <%= form.hidden_field :parent_id %>
<%else%>
  <p><label for="keywords">Tags:</label>
  <%= text_field_tag 'tags', @post.tag_list   %></p>
  <p>
  <b>Permissions</b><br />
    <%= form.check_box :public_read %><%= "Public Post" %>
  </p>
<%end%>