<%  #Partial parameters default values
    p_id ||= nil
    id ||= ""
    event ||= nil
%>

<div id="new_post">

  <% if event.present?%>
    <h3><%= t('comment.new') %></h3>
  <% elsif p_id.present?%>
    <h3>
      <%=t("reply_to")%>
      <span class="unified_posts"><%= post.title %></span>
    </h3>
  <%else%>
    <h3>
      <%= t('thread.add') %>
    </h3>
  <%end%>

  <%# Form %>

  <%= form_for(prepare_for_form(Post.new, :parent_id => p_id, :event => event), :html => { :multipart => true ,:id => id}) do |f| -%>
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :event_id %>

    <div id="new_post_content">
      <%# Post title - only for new threads %>
      <%if p_id.nil? && event.nil? %>
        <label for="Title"><%= t('title') %></label><br />
        <%= f.text_field :title, :size => 25, :class => "small_post_title"%>
      <%end%>

      <%# Post text %>
      <label for="text"><%= t('body') %></label><br />
      <%= small_post_text_area %>
    </div>

    <%# Attachments %>
    <% # TODO: remove javascript to independent js files %>
    <%= content_for :headers do %>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      <%= raw("var attachment='#{ generate_template(f, :attachments, :partial => 'posts/attachment') }'") %>
    });
    </script>
    <% end %>

    <p class ='newAttach1' style="display: none;" ><%= t('attachment.add') %></p>
    <div id="post-buttoms" class="actions">
      <ul>
        <li class ='newAttach add'><%= t('attachment.add')%></li>
        <li class ='newAttach new_one' style="display: none;"><%= t('attachment.new')%></li>
      </ul>
    </div>

    <%# Footer %>
    <button type="submit" class="basic_button blue_button "><%=t("button.post")%></button>
  <% end %>
</div>


