<h3><%=link_to image_tag("arrow_right_up.png", :size=>"16x16",:title=> t('show_advanced_editor')), new_space_post_path(@space), :id => "big_new_thread", :class => "extract_form"%><%= t('thread.add') %></h3>

<% form_for(prepare_for_form(Post.new), :html => { :multipart => true ,:id => "thread-form"}) do |f| -%>
  <div>
    <label for="Title"><%= t('title') %></label><br/>
    <%= f.text_field :title, :size => 25, :class => "small_post_title" %>
  </div>
	
  <div id="post-buttons" class="actions margin-up">
    <ul>
      <li><%= link_to t('comment.one'), space_posts_path(@space), { :id => 'new_comment_link',:class =>"new_thread_options #{"selected" if (!params[:form] || params[:form]=='')}" } %></li>
      <li><%= link_to t('photos'), space_posts_path(@space, :form => 'photos'), { :id => 'new_photo_link', :class =>"new_thread_options #{"selected" if params[:form]=='photos'}" } %></li>
      <li><%= link_to t('docs'), space_posts_path(@space, :form => 'docs'), { :id => 'new_doc_link',:class =>"new_thread_options #{"selected" if params[:form]=='docs'}" } %></li>
	</ul>
  </div>
  	
  <div id="new_photo_form" <%= 'style="display: none;"' if (params[:form] != 'photos' && params[:form] != 'docs') %>>
    <%= render :partial => "posts/form_attachments", :object => f %>
  </div>
 	<%= small_post_text_area %>
 	
        <%=link_to  t('advanced_editor'), new_space_post_path(@space), :id => "big_new_thread_link", :class => "extract_form"%>

    <button type="submit" class="basic_button blue_button"><%=t("button.create")%></button>
<% end -%>
