<% content_for :headers do  -%>
  <%= javascript_include_tag 'fckeditor/fckeditor'%>
<% end -%>

<% content_for :javascript do%>

  $("a.new_thread_big_options").livequery("click", function(){
    var route = $(this).attr("href");
    var oEditor = FCKeditorAPI.GetInstance('big_textarea') ;
    var data = oEditor.GetHTML();
    $.get(route,
          {authenticity_token: "<%=form_authenticity_token()%>",
           post_title: $(".big_post_title").val(),
           post_text: data
          },
          function(data){
            $("#new_thread_big").replaceWith(data);
            big_textarea();
            $(window).resize(); 
          }
        );
    return false;
  });
  
  big_textarea = function(){
    var oFCKeditor = new FCKeditor( 'big_textarea' ) ;
    oFCKeditor.BasePath = "/javascripts/fckeditor/" ;
    oFCKeditor.ToolbarSet = 'vccToolbar' ;
    oFCKeditor.ReplaceTextarea();
  }

<%end%>

<div id="new_reply">

<%=link_to "+", new_space_post_path(@space, :reply => post.id), :id => "big_new_reply", :class => "extract_form" %>

<h3>Reply to <%= post.title %></h3>
  <div id="post-buttoms" class="actions">
    <ul>
      <li><%= link_to 'Comment', get_reply_route(post), { :id => 'new_comment_link',:class =>"new_reply_options #{"selected" if (!params[:form] || params[:form]=='')}" } %></li>
      <li><%= link_to 'Photos', get_reply_route(post,'photos'),  { :id => 'new_photo_link',:class =>"new_reply_options #{"selected" if params[:form]=='photos'}" } %></li>
      <li><%= link_to 'Docs', get_reply_route(post,'docs'), { :id => 'new_doc_link',:class =>"new_reply_options #{"selected" if params[:form]=='docs'}" } %></li>
    </ul>
  </div>

<% form_for([ @space, Post.new ], :html => { :multipart => true, :id => "reply-form" }) do |f| -%>
	
  <div id="new_photo_form" <%= 'style="display: none;"' if (params[:form] != 'photos' && params[:form] != 'docs') %>>
    <%= render :partial => "posts/form_photo", :object => f %>
  </div>
  
    <%= f.text_area :text, :class => "small_post_text" %>
  
  <%if @show_view%>
    <%= hidden_field_tag :show, "true"%>
  <%end%>
  <%= hidden_field_tag "post[parent_id]", post.id%>
  <div class="float">
  <%= image_submit_tag "buttons/create.png" %>
  </div>
  <div class="float">
  <%= link_to 'or Add a new Thread', space_posts_path(@space) %>
  </div>
<% end -%>
</div>