<% content_for :javascript do %>
  $("#reply-form").submitWithAjax();
   $("#new_comment_link").addClass("selected");
 	$(".new_reply_options").click(function(){
 	$(".new_reply_options").removeClass("selected");
	$(this).addClass("selected");});
<% end %>
<div id="new_reply">
<h3>Reply to <%= post.title %></h3>
  <div id="post-buttoms" class="actions">
    <ul>
      <li><%= link_to 'Comment', space_posts_path(@space, :reply_to => post.id), { :id => 'new_comment_link',:class =>"new_reply_options" } %></li>
      <li><%= link_to 'Photos', space_posts_path(@space, :reply_to => post.id, :form => 'photos'), { :id => 'new_photo_link',:class =>"new_reply_options" } %></li>
      <li><%= link_to 'Docs', space_posts_path(@space, :reply_to => post.id, :form => 'docs'), { :id => 'new_doc_link',:class =>"new_reply_options" } %></li>
    </ul>
  </div>

<% form_for([ @space, Post.new ], :html => { :multipart => true, :id => "reply-form" }) do |f| -%>
	
  <div id="new_photo_form" <%= 'style="display: none;"' if params[:form] != 'photos' %>>
    <%= render :partial => "posts/form_photo", :object => f %>
  </div>
	
  <div id="new_doc_form" <%= 'style="display: none;"' if params[:form] != 'docs' %>>
    <%= render :partial => "posts/form_doc", :object => f %>
  </div>

  
    <%= f.text_area :text%>
  
  <%if @show_view%>
    <%= hidden_field_tag :show, "true"%>
  <%end%>
  <%= hidden_field_tag "post[parent_id]", params[:reply_to]%>
  <%= submit_tag "Post Now!" %> <%= link_to 'or Add a new Thread', space_posts_path(@space) %>
<% end -%>
</div>