<%  #Partial parameters default values
    p_id ||= nil
    id ||= ""
    event ||= nil
%>

<% content_for :javascript do %>
  $(".newAttach").livequery('click',function () {
	  $(".newAttach1").show();
		$(".newAttach.add").hide();
		$(".newAttach.new_one").show();
    var new_id = new Date().getTime(); 
    $(this).before( attachment.replace(/NEW_RECORD/g, new_id) );
    $("#post_attachments_attributes_"+new_id+"__tags").fcbkcomplete({
        cache: true,
        filter_case: false,
        filter_hide: true,
        firstselected: true,
        filter_selected: true,
        maxshownitems: 4,
        newel: true,
        complete_opts: true
    }); 
  }); 
<%end%>

<div id="new_post">
	
	<%# div title %>
	
	<% if event.present?%>
	  <h3><%= t('comment.new') %></h3>
	<% elsif p_id.present?%>
	  <h3><!--<%=link_to image_tag("arrow_right_up.png", :size=>"16x16",:title=>t('show_advanced_editor')), new_space_post_path(@space, :reply => post.id), :class => "big_new_reply extract_form" %>--><%=t("reply_to")%> <span class="unified_posts"><%= post.title %></span></h3>
	<%else%>
	  <h3><!--<%=link_to image_tag("arrow_right_up.png", :size=>"16x16",:title=> t('show_advanced_editor')),new_space_post_path(@space), :class => "big_new_thread_link extract_form"%>--><%= t('thread.add') %></h3>
	<%end%>
	
	<%# Form %>
	
	<%  form_for(prepare_for_form(Post.new, :parent_id => p_id, :event => event), :html => { :multipart => true ,:id => id}) do |f| -%>
		<%= f.hidden_field :parent_id %>
	  <%= f.hidden_field :event_id %>
		
		<div id="new_post_content">
	
			<%# Post title - only for new threads %>
			<%if p_id.nil? && event.nil? %>
	      <label for="Title"><%= t('title') %></label><br />
	      <%= f.text_field :title, :size => 25, :class => "small_post_title"%>
			<%end%>   
	    
			<%# Post text %>
			<label for="text"><%= t('body') %></label><br />
	    <%= small_post_text_area %>
	  </div>
	
	  <%# Attachments %>
	  <% content_for :javascript do%>
	    <%= "var attachment='#{ generate_template(f, :attachments, :partial => 'posts/attachment') }'" %>
	  <% end %>
	
		<p class ='newAttach1' <%= 'style="display: none;"'%> ><%= t('attachment.add') %></p>
	  <div id="post-buttoms" class="actions">
	    <ul>      
	      <li class ='newAttach add'><%= t('attachment.add')%></li>
				<li class ='newAttach new_one' <%= 'style="display: none;"'%> ><%= t('attachment.new')%></li>
	    </ul>
	  </div>
	
	  <%# Footer %>
	  <% if event.nil? && p_id.present?%>
	    <%=link_to t('advanced_editor'), new_space_post_path(@space, :reply => post.id), :class => "big_new_reply extract_form"%>
	  <%elsif event.nil?%>
	    <%=link_to  t('advanced_editor'), new_space_post_path(@space), :class => "big_new_thread_link extract_form margin-up" %>
	  <%end%>
		<button type="submit" class="basic_button blue_button"><%=t("button.post")%></button>
		<% if event.nil? && p_id.present?%>
		  <%= link_to t('thread.or_add_new'), space_posts_path(@space),:class=>"float" %>
		<%end%>
	<% end %> 		 
</div>

  
