<% content_for :javascript do%>
  <%= render :partial => 'posts/collapse_expand', :locals => { :selected_post => selected_post, :post => post } %>
<%end%>

  <!-- Author photo and name -->
	<div class="parent-post-logo">
	  <%if post.author.authorizes?([:read, :profile],:to=> current_user)%>
	    <%= link_logo(post.author, :size => 48, :url => user_profile_path(post.author), :title=>post.author.name) %>
	  <%else%>
	    <%=logo(post.author, :size=>48, :title=>post.author.name)%>
	  <%end%>
	</div>

	<div class="post-content">
   		<ul>
			<li class="person_title">
                        <%= link_to_if post.author.authorizes?([:read, :profile],:to=> current_user),
                                       post.author.name,
                                       user_profile_path(post.author)%>
			<span class="updated"> Updated <%=time_ago_in_words(post.updated_at)%> ago</span>
			</li>
   			<%if post.text.size < 500 || @show_view%>
	     	<li>
	     		<div class="post_text">
	     		<%=sanitize(auto_link(post_format(post.text)))%>
					</div>
	     	</li>
  		<%else%>
     <li id="collapsed_post_<%=post.id%>" style="display:none">
     	 <div class="post_text">
         <%=sanitize(first_words(auto_link(post.text),500))%>
         <%=link_to "more>>", "javascript:expand_post_#{post.id}()"%>
			 </div>
     </li>
  		</ul>
     <div id="expanded_post_<%=post.id%>">
     	 <div class="post_text">
         <%=sanitize(auto_link(post_format(post.text)))%>
		   </div>
     </div>
   <%end%>   
	</div> 
	 <div class="attachment">
   <%for attachment in post.attachments%>
      <%if attachment.post_thumbnail%>
        <%=link_to(image_tag(space_attachment_path(@space,attachment.post_thumbnail())), space_attachment_path(@space,attachment))%>
      <%else%>
        <%=image_tag(logo_image_path(attachment, :size => 32))%> <%=attachment.get_size()%> <%= link_to("Download file  " , space_attachment_path(@space,attachment))%>
      <%end%> 
   <%end%>
   </div>
