<% content_for :javascript do%>
  <%= render :partial => 'posts/collapse_expand', :locals => { :selected_post => selected_post, :post => post } %>
<%end%>

  <!-- Author photo and name -->
	
	<%if @show_view%>
	<div class="parent-post-logo">
	  <%if post.author.authorize?([:read, :profile],:to=> current_user)%>
	    <%= link_logo(post.author, :size => 32, :url => user_profile_path(post.author), :title=>post.author.name) %>
	  <%else%>
	    <%=logo(post.author, :size=>32, :title=>post.author.name)%>
	  <%end%>
	</div>
	<%end%>

  <div class="post-content">

			<%if @show_view%>
			<div class="person_title">
                        <%= link_to_if post.author.authorize?([:read, :profile],:to=> current_user),
                                       post.author.name,
                                       user_profile_path(post.author)%>
			<span class="updated"><%= t('updated_time_ago', :time => time_ago_in_words(post.updated_at)) %></span>
			</div>
			<%end%>	
	<%if post.text.size < 500 || @show_view%>

 		  <div class="post_text">
 		  <%=sanitize(auto_link(post_format(post.text)))%>
		  </div>

	<%else%>

     	  <div id="collapsed_post_<%=post.id%>" class="post_text" style="display:none">
            <%=sanitize(first_words(auto_link(post.text),500))%>
            <%=link_to t('more>>'), "javascript:expand_post_#{post.id}()"%>
	      </div>


    <div id="expanded_post_<%=post.id%>">
     	 <div class="post_text">
         <%=sanitize(auto_link(post_format(post.text)))%>
		   </div>
    </div>
   <%end%>
      
   <div class="attachment">
     <%for attachment in post.attachments%>
      <%if attachment.post_thumbnail%>
        <%=link_to(image_tag(space_attachment_path(@space,attachment.post_thumbnail())), space_attachment_path(@space,attachment))%>
      <%else%>
        <div>
		    <%=image_tag(logo_image_path(attachment, :size => 32))%>
		</div>
		
			<ul>
				<li><%=attachment.filename%></li>
				<li><%=attachment.get_size()%> <%= link_to("Download file  " , space_attachment_path(@space,attachment))%></li>
			</ul>
		
      <%end%> 
     <%end%>
   </div>
  </div>

