#post_with_children.thread
  .thread_content{:id => "parent_#{post.id}"}
    %ul.thread-action-links.visible-on-hover{ :"data-hover-tracked" => "parent_#{post.id}" }
      - if can?(:create_post, @space)
        %li= link_to t('reply').downcase, "#", { :"data-href" => reply_post_space_post_path(@space, post), :name => post.id, :title => t('comment.add'), :id => "post-reply" }
      - if can?(:update, @post)
        %li= link_to t('edit').downcase, get_edit_route(post), :title => t('edit')
      - if can?(:destroy, @post)
        %li= link_to t('remove').downcase, space_posts_path(@space,post), {:method => :delete, :title => t('delete.one'), :confirm => t('delete.confirm', :element => post.title) }
      - if user_signed_in? && post.spam != true
        %li= link_to t('spam.default').downcase, spam_lightbox_space_post_path(@space,post), { :name => post.id, :title => t('spam.report') }
    .thread-title
      %h2
        = image_tag("icons/comments.png")
        = @post.title
    .thread-text
      = render :partial => "posts/parent_post" , :locals => { :post =>  @post, :selected_post => false}
      - for comment in @posts
        - thread_class = cycle("thread-odd" , "thread-even")
        = render :partial => "post" , :locals => { :post =>  comment, :selected_post => false, :thread_class => thread_class}
