<%= content_for :javascript do%>
  
        <%= render :partial => 'posts/collapse_expand', :locals => { :selected_post => selected_post, :post => post } %>
        
<%end%>

<!-- this partial render a post with their links -->

<div class="post-wrapper">


<%= div_for(post, :class=>"post_moved") do%>

 
        <div class="post-logo">
          <%= raw(link_logo(post.author, :size => 22, :url => user_path(post.author), :title=>post.author.name)) %>
        </div>  
        <div class="post-content">
            <div id="edit" class="group_links">
            <%=link_to(image_tag("icons/exclamation.png", :alt => "Report Spam",:class=>"icon"), spam_lightbox_space_post_path(@space,post),{:name => post.id, :class => 'spam_link', :title => t('spam.report')}) if logged_in? && post.spam != true%> 
                <%=link_to(image_tag("icons/pencil.png", :alt => "edit comment",:class=>"icon"), get_edit_route(post),{:name => post.id, :class => 'edit_post_link', :title => t('comment.edit')}) if post.authorize?(:update, :to => current_user)%> 
                  <%=link_to(image_tag("icons/cancel.png", :alt => "delete",:class=>"icon"), space_post_path(@space,post), {:method => :delete, :class => 'delete_post_link', :title => t('comment.delete'), :confirm => t('delete.confirm', :element => t('comment.by', :author => post.author.name))}) if post.authorize?(:delete, :to => current_user)%> 
            </div>
          <ul>
                <li class="unified_user">
                <%= link_to(post.author.name, user_path(post.author),:class=>"unified_user") %>
                </li>
        <%if post.text.size < 120 %>
                  <li>
                        <div class="main_text">
                      <%=sanitize(auto_link(post_format(post.text)))%>
                                </div>
                  </li>
                <%else%>
                  <li id="collapsed_post_<%=post.id%>" style="display:none">
                        <div class="main_text">
                            <%=sanitize(truncate(auto_link(post.text),:length=>120))%>
                            <%=link_to t('more>>') , "javascript:expand_post_#{post.id}()"%>
                          </div>
                  </li>
                  <li id="expanded_post_<%=post.id%>">
                        <div class="main_text">
                            <%=sanitize(auto_link(post_format(post.text)))%>
                          </div>
                  </li>
                <%end%>
                <li class="attach">
                  <%for attachment in post.attachments%>
              <div><%=image_tag(logo_image_path(attachment, :size => '64'))%></div>
                        <ul class="small-font main_text">
                                <li><%=attachment.filename%></li>
                                  <li><%=attachment.get_size()%> <%= attachment_link(attachment, false)%></li>
                                </ul>   
                  <%end%>
                </li>
          </ul> 
         </div>
<%end%>
</div>
