<!-- this partial render a post with their links -->
<%div_for (post) do%>

  <%if current_user.fellows.include?(post.author) or space.authorizes?([:read, :performance],:to=> current_user)%>
	<div class="post-title">
	<h3><%= link_author(post, :size => 64, :url => user_profile_path(post.author)) %></h3>
    </div>
	<div class="group_links">
	  <ul class="edit-post">
	    <li><%=link_to("edit post " + image_tag("icons/comment-edit.png", :alt => "edit comment"), get_route(post), :title => "edit comment") if post.authorizes?(:update, :to => current_user)%></li>
	  </ul>
	</div>
	<%else%>
	<p><%=logo(post.author, :size=>48)%> <%=post.author.name%></p>
	<%end%>
 	
  <div class="post">
  <p>
   <%for attachment in post.attachments%>
      <%=image_tag(space_attachment_path(@space,attachment.post_thumbnail())) if attachment.post_thumbnail%>
   <%end%> 
   <%=sanitize(post.text)%>
  </p>
  <%=link_to("",:class=>"box-link")%>
  </div>
<%end%>
