- thread_class ||= nil
.thread{:id => "parent_#{post.id}", :class => "#{thread_class}"}
  .logo-in-thread
    = link_logo(post.author, :size => 22, :url => user_path(post.author), :title=>post.author.name).html_safe
  .thread-content
    %ul.thread-action-links.visible-on-hover{ :"data-hover-tracked" => "parent_#{post.id}" }
      - if post.authorize?(:update, :to => current_user)
        %li= link_to t('edit').downcase, "#", { :"data-href" => edit_post_path(post), :name => post.id, :title => t('edit'), :id => "post-edit" }
      - if post.authorize?(:delete, :to => current_user)
        %li= link_to t('remove').downcase, space_posts_path(post.space,post), {:method => :delete, :title => t('delete.one'), :confirm => t('delete.confirm', :element => post.title) }
      - if logged_in? && post.spam != true
        %li= link_to t('spam.default').downcase, spam_lightbox_space_post_path(post.space,post), { :name => post.id, :title => t('spam.report') }

    .thread-title
      = comment_icon t('post.home.one', :space => post.space.name)
      - if post.author
        = link_to post.author.name, user_path(post.author), { :class => "thread-author" }
    .thread-text
      %p= post.text