<% content_for :javascript do%>
  
	<%= render :partial => 'collapse_expand', :locals => { :selected_post => selected_post, :post => post } %>
	
<%end%>

<!-- this partial render a post with their links -->

<div class="post-wrapper">


<%div_for (post, :class=>"post_moved") do%>

 
	<div class="post-logo">
	  <%if post.author.authorizes?([:read, :profile],:to=> current_user)%>	
		<%= link_logo(post.author, :size => 22, :url => user_profile_path(post.author), :title=>post.author.name) %>
	  <%else%>
	    <%=logo(post.author, :size=>22, :title=>post.author.name)%>
	  <%end%>
	</div>	
	<div class="post-content">
	  <%if post.author.authorizes?([:read, :profile],:to=> current_user)%>
	    <div id="edit" class="group_links">
	    <%=link_to(image_tag("icons/exclamation.png", :alt => "Report Spam",:class=>"icon"), spam_lightbox_space_post_path(@space,post),{:name => post.id, :class => 'spam_link', :title => "Report Spam"}) if logged_in? && post.spam != true%> 
	  	<%=link_to(image_tag("icons/pencil.png", :alt => "edit comment",:class=>"icon"), get_edit_route(post),{:name => post.id, :class => 'edit_post_link', :title => "edit comment"}) if post.authorizes?(:update, :to => current_user)%> 
		  <%=link_to(image_tag("icons/cancel.png", :alt => "delete",:class=>"icon"), space_post_path(@space,post), {:method => :delete, :class => 'delete_post_link', :title => "delete comment", :confirm => "are you sure?"}) if post.authorizes?(:delete, :to => current_user)%> 
	    </div>
	  <%end%>
	  <ul>
	  	<li class="person_title">
                <%= link_to_if post.author.authorizes?([:read, :profile],:to=> current_user),
                               post.author.name,
                               user_profile_path(post.author)
                %>
	  	</li>
        <%if post.text.size < 120 %>
		  <li>
		    <%=sanitize(auto_link(simple_format(post.text)))%>
		  </li>
		<%else%>
		  <li id="collapsed_post_<%=post.id%>" style="display:none">
			<%=sanitize(first_words(auto_link(post.text),120))%>
			<%=link_to "more>>", "javascript:expand_post_#{post.id}()"%>
		  </li>
		  <li id="expanded_post_<%=post.id%>">
			<%=sanitize(auto_link(simple_format(post.text)))%>
		  </li>
		<%end%>
		<li class="attach">
		  <%for attachment in post.attachments%>
		    <%if attachment.post_thumbnail%>
		      <%=link_to(image_tag(space_attachment_path(@space,attachment.post_thumbnail())), space_attachment_path(@space,attachment))%>
		    <%else%>
		      <%=image_tag(logo_image_path(attachment, :size => 32))%> <%=attachment.get_size()%> <%= link_to("Download file  " , space_attachment_path(@space,attachment))%>
		    <%end%>	
		  <%end%>
		</li>
	  </ul> 
	 </div>
<%end%>
</div>
