<div id="post_with_children">
  <div id="parent_<%=@post.id%>">
  		<b><%=image_tag("icons/comment.png")%><%=link_to (@post.title, space_post_path(@space,@post))%></b>
		Updated <%=time_ago_in_words(@post.updated_at)%> ago  

		<%=link_to image_tag("icons/cancel.png", :alt => "delete" ), space_post_path(@space,@post),{ :class => 'delete_thread', :method => :delete, :title => "delete" }if @post.authorizes?(:delete, :to => current_user)%>
		<%=link_to image_tag("icons/pencil.png", :alt => "edit" ), get_edit_route(@post), {:name => @post.id, :class => 'edit_post_link', :title => "edit"} if @post.authorizes?(:update, :to => current_user) %>
		
		<div class="<%=@post.three_last_comment().first.parent_id!= nil ?  "open" : "close"%>">
      <%for comment in @posts%>
			  <%=render :partial => "post" , :locals => { :post =>  comment, :selected_post => false}%>
			<%end%>
		</div>
		</br>
	</div>
</div>

