<div id="post_with_children">
  <div id="parent_<%=@post.id%>" class="thread-title">
  	<div class="thread_options">
	  <ul>
	     <li><%=link_to(image_tag("icons/exclamation.png", :alt => t('spam.report'),:class=>"icon"), spam_lightbox_space_post_path(@space,post),{:name => post.id, :class => 'spam_link', :title => t('spam.report')}) if logged_in? && post.spam != true%></li> 
	     <li><%=link_to image_tag("icons/pencil.png", :alt => t('edit') ), get_edit_route(@post), {:name => @post.id, :class => 'edit_post_link', :title => t('edit')} if @post.authorize?(:update, :to => current_user) %></li>
	     <li><%=link_to image_tag("icons/cancel.png", :alt => t('delete.one') ), space_post_path(@space,@post),{ :class => 'delete_thread', :method => :delete, :title => t('delete.one') , :confirm => t('delete.confirm')}if @post.authorize?(:delete, :to => current_user)%></li>		
	  </ul>
	</div>
  	<h2><%=image_tag("icons/comments.png")%><%=link_to(@post.title, space_post_path(@space,@post))%>
	</h2>
	
  </div>

  <div class="thread-body">
  <%=render :partial => "posts/parent_post" , :locals => { :post =>  @post, :selected_post => false}%>
  </div>		
  <div class="odd-posts">
   <%for comment in @posts%>
	<%=render :partial => "post" , :locals => { :post =>  comment, :selected_post => false}%>
   <%end%>
  </div>

</div>

