<% content_for :javascript do%>
  
  <%= render :partial => 'posts/collapse_expand', :locals => { :selected_post => selected_post, :post => post } %>
  
<%end%>

<%div_for post do%>

   <p id="topic">Topic:  <%=link_to thread_title(post), space_post_path(post.space, thread(post)) if post.space.authorizes?([:read, :performance],:to=> current_user) %> in the space <%= post.authorizes?([:read, :content], :to =>current_user) ? link_to(post.space.name ,space_path(post.space)) : post.space.name %></p>

   <p id="collapsed_post_<%=post.id%>" style="display:none">
     <%=sanitize(first_words(post.text,200))%><br />
     <%=link_to "more>>", "javascript:expand_post_#{post.id}()" if post.text.size > 200%>
   </p>

   <p id="expanded_post_<%=post.id%>">
     <%=sanitize(post.text)%><br />
   </p>
<%end%>