<% content_for :javascript do%>
  
  <%= render :partial => 'posts/collapse_expand', :locals => { :selected_post => selected_post, :post => post } %>
  
<%end%>

<%div_for post do%>

   <p id="topic"><%= t('topic') %>:  <%=link_to thread_title(post), space_post_path(post.space, thread(post)) if post.space.authorize?([:read, :performance],:to=> current_user) %> in the space <%= post.authorize?([:read, :content], :to =>current_user) ? link_to(post.space.name ,space_path(post.space)) : post.space.name %></p>

   <%if post.text.size < 120 %>
      <li>
        <div class="post_text">
          <%=sanitize(auto_link(post.text))%>
        </div>
      </li>
    <%else%>
      <li id="collapsed_post_<%=post.id%>" style="display:none">
        <div class="post_text">
          <%=sanitize(first_words(auto_link(post.text),120))%>
          <%=link_to t('more>>'), "javascript:expand_post_#{post.id}()"%>
        </div>
      </li>
      <li id="expanded_post_<%=post.id%>">
        <div class="post_text">
          <%=sanitize(auto_link(simple_format(post.text)))%>
        </div>
      </li>
    <%end%>
<%end%>