<div id="parent_<%=thread.id%>" class="<%=cycle("even_thread" , "odd_thread")%>">
	
  <div class="thread-title">

	<div class="thread_options">
	  <ul>
	  	<li><%=link_to image_tag("icons/comments-add.png",:alt => "reply" ), space_posts_path(@space,:reply_to =>thread),{:name => thread.id, :class => 'reply_to_link', :title => "Add a new comment"}if @space.authorizes?([:create, :content],:to => current_user)%></li>
		<li><%=link_to image_tag("icons/cancel.png", :alt => "delete" ), space_post_path(@space,thread),{ :class => 'delete_thread', :confirm => "Do you want to delete this thread?", :method => :delete, :title => "delete" } if thread.authorizes?(:delete, :to => current_user)%></li>
		<li><%=link_to image_tag("icons/pencil.png", :alt => "edit",:class=>"icon" ), get_edit_route(thread),{:name => thread.id, :class => 'edit_post_link', :title => "edit"} if thread.authorizes?(:update, :to => current_user)%></li>
	  </ul>
	</div>
  	<h2><%=image_tag("icons/comment.png")%><%=link_to (first_words(thread.title, 20), space_post_path(@space,thread))if @space.authorizes?([:read, :content],:to => current_user)%>
		<span class="updated"> Updated <%=time_ago_in_words(thread.updated_at)%> ago</span>
	</h2>
  
  </div>

  <div class="thread-body">
  	<%=render :partial => "posts/parent_post" , :locals => { :post =>  thread, :selected_post => false}%>  	
  </div>

  <div class="comments-status">
    <%if thread.children.size==0 %>
		<%elsif thread.children.size==1 %>
		  Showing the only one comment of the thread.
		<%elsif thread.children.size<4%>
		  Showing the <%=thread.three_last_comment().size%> comments of the thread.
		<%else%>  	
  	  Showing last <%=thread.three_last_comment().size%> comments of <%=thread.children.size%>. <%=link_to ("Show all comments", space_post_path(@space,thread))if @space.authorizes?([:read, :content],:to => current_user)%>
		<%end%>
  </div>

	<div class="<%=thread.three_last_comment().size == 3 ?  "open" : "close"%>"> 
    <%for comment in thread.three_last_comment()%>
		  <%=render :partial => "posts/post" , :locals => { :post =>  comment, :selected_post => false}%>
	  <%end%>
	</div>
	
	<div class="add-new-comment">
		<%=link_to "add a new comment", space_posts_path(@space,:reply_to =>thread),{:name => thread.id, :class => 'reply_to_link', :title => "reply"}if @space.authorizes?([:create, :content],:to => current_user)%>
	</div>
</div>