%div.thread.thread-post{:class => "#{cycle("thread-even" , "thread-odd")}", :id => "parent_#{thread.id}"}
  .logo-in-thread
    = link_logo(thread.author, :size => 32, :url => user_path(thread.author), :title => thread.author.name).html_safe

  .thread-content

    %ul.thread-action-links.visible-on-hover{ :"data-hover-tracked" => "parent_#{thread.id}" }
      - if can?(:create_post, thread.space)
        %li= link_to t('reply').downcase, "#", { :"data-href" => reply_post_space_post_path(@space, thread), :name => thread.id, :title => t('comment.add'), :id => "post-reply" }
      - if can?(:update, thread)
        %li= link_to t('edit').downcase, get_edit_route(thread), :title => t('edit')
      - if can?(:destroy, thread)
        %li= link_to t('remove').downcase, space_posts_path(@space,thread), {:method => :delete, :title => t('delete.one'), :confirm => t('delete.confirm', :element => thread.title) }
      - if user_signed_in? && thread.spam != true
        %li= link_to t('spam.default').downcase, spam_lightbox_space_post_path(@space,thread), { :name => thread.id, :title => t('spam.report') }

    .thread-title
      = comment_icon t('post.home.one', :space => @space.name)
      - if thread.author
        = link_to thread.author.name, user_path(thread.author), { :class => "thread-author" }
      - if can?(:read, thread.space)
        = t('date.at')
        = link_to first_words(thread.title, 30), space_post_path(@space, thread)
      - if !thread.children.empty?
        = link_to_function t('thread.comments', :children => thread.children.size), "extend_thread(#{thread.id})", :class => "extend_thread", :style => "#{'display:none' if extended}"
      - if thread.attachments.any?
        = attachment_icon thread.attachments.first.filename
      %span.thread-updated-at= t('updated_time_ago', :time => time_ago_in_words(thread.updated_at))

    .thread-text
      .block-collapsed
        %p= first_words(thread.text, 100)
        - if thread.text.length > 100 or !thread.children.empty?
          %a.link-to-expand{:href => "parent_#{thread.id}"}= t('more')
      .block-expanded
        %p= thread.text
        - unless thread.children.size < 4
          .comments-status
            = t('thread.show_last_comment', :size => thread.three_last_comment().size, :children => thread.children.size)
            - if can?(:read, @space)
              = link_to(t('comment.show_all'), space_post_path(@space,thread))
        %div
          - for comment in thread.three_last_comment()
            = render :partial => "posts/post" , :locals => { :post =>  comment, :selected_post => false}
        %a.link-to-collapse{:href => "parent_#{thread.id}"}= t('less')