/* Remove notifications */
$(".notice").remove(); $(".success").remove(); $(".error").remove();

<%if @post.valid? && (!@attachment || (@attachment && @attachment.valid?))%>
	<%if params[:show]%>
	  $("#post_with_children").replaceWith("<%= escape_javascript(render(:partial => "post_with_children")) %>");
	  $(".pagination").replaceWith("<%= escape_javascript(will_paginate(@posts, :params => { :action => 'show', :id => @post.id })) %>");
	  $("#post_with_children").before('<div class="success"><%= escape_javascript(flash.delete(:success)) %></div>');
	  $("#<%= dom_id(@new_post) %>").effect("highlight", {}, 3000);
	<%else%>
	  $("#posts").replaceWith("<%= escape_javascript(render(:partial => "posts", :object => @posts)) %>");
	  $(".pagination").replaceWith("<%= escape_javascript(will_paginate(@posts)) %>");
	  $("#posts").before('<div class="success"><%= escape_javascript(flash.delete(:success)) %></div>');
	  $("#<%= dom_id(@post) %>").effect("highlight", {}, 3000);
	<%end%>
	
	<%if (@new_post || @post).parent_id.present?%>
	    $("#reply-form")[0].reset();
	<%else%>
	  $("#thread-form")[0].reset();
	<%end%>
<%else%>
  $("#posts").before('<div class="error"><%= escape_javascript(flash[:error]) %></div>');
<%end%>
