<div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%><%= t('vcc') %></span> > <%= t('thread.edit') %></div>

<% menu :posts %>

<div id="new_thread_big">
	<div id="feedback_form">	
		<% form_for(prepare_for_form(post), :id => "edit-form",:html => { :multipart => true }) do |f| -%>
		  <div>
		    <label for="Title"><%= t('title') %></label><br/>
		    <%= f.text_field :title, :size => 25, :class => "big_post_title" %>
		  </div>
		  <div id="big_textarea_div" >
		    <textarea id="big_textarea" name="post[text]" class="big_post_text"><%=params[:post_text]%></textarea>
		  </div>
		  <div class="margin-up"> 
		    <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
		  </div>
		<% end -%>
	</div>
</div>	
