<div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%><%= t('vcc') %></span> > <%= t('thread.edit') %></div>

<% menu :posts %>

<div id="new_thread_big">
	<div id="text_form">	
		<% form_for(prepare_for_form(post), :id => "edit-form",:html => { :multipart => true }) do |f| -%>
		 
   <% if @post.parent_id.nil?%>
			<div>
		    <label for="Title"><%= t('title') %></label><br/>
		    <%= f.text_field :title, :size => 25, :class => "big_post_title" %>
		  </div>
			<%end%>
		  <div id="big_textarea_div" >
		    <textarea id="big_textarea" name="post[text]" class="big_post_text"><%=params[:post_text]%></textarea>
		  </div>
		<!--	  <div id="new_attachment_form">
     <div id="cabinet">
        <% f.fields_for(:attachments) do |at_form| %>
          <% unless at_form.object.new_record? %>
            <%=image_tag(logo_image_path(at_form.object, :size => at_form.object.thumbnail_size)) %>
            <%=at_form.object.filename%>
            <%= at_form.check_box '_delete' %>
            <%= at_form.label '_delete', t('delete.one') %>
          <% end %>
        <%end %>
        </br>
      </div>
    </div>-->
<p class ='newAttach1' <%= 'style="display: none;"'%> ><%= t('attachment.add') %></p>
<div id="post-buttoms" class="actions">
    <ul>
      <li class ='newAttach add'>
          <%= t('attachment.add') %>
      </li>
      <li class ='newAttach new_one'<%= 'style="display: none;"' %>>
          <%= t('attachment.new') %>
      </li>
    </ul>
</div>
		  <div class="margin-up"> 
		    <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
		  </div>
		<% end -%>
	</div>
</div>	
