<% menu :posts %>
<% content_for :javascript do %>

$(".delete_thread").submitWithAjax();
 
$("#new_comment_link").click(function () { 
  $("#new_photo_form").hide();
  $("#new_doc_form").hide();
});
$("#new_comment_link").attr('href', '#');

$("#new_photo_link").click(function () {
  $("#new_photo_form").show(); 
  $("#new_doc_form").hide();
});
$("#new_photo_link").attr('href', '#');

$("#new_doc_link").click(function () {
  $("#new_photo_form").hide();
  $("#new_doc_form").show();
});
$("#new_doc_link").attr('href', '#');

<% end %>

<% content_for :search do  %>
  <% form_tag(search_posts_path(@space), :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= image_submit_tag "icons/magnifier.png", :class=>'go'%>
  <% end %>
<%end%>
<% content_for :sidebar do  %>
  <% unless space.users.include?(current_user) %>
  <div id="join">
    <% form_tag join_space_path(space) do %>
    <%= submit_tag("Join this Space") %>
    <% end %>
  </div>
  <% end %>
  <div class="space-desc">
	<h3>About <em><%=@space.name%></em></h3>
	<p><%=image_tag("test_small.jpg",:align=>"left")%><%= sanitize(space.description) if space.description.present? %></p>
  </div>	
<%if @space.authorizes?([:create, :content],:to => current_user)%>
	
  	<% if params[:reply_to]%>
    	<div id="new_reply">
      	<%= render :partial => "new_reply", :locals => { :post => Post.find(params[:reply_to]) } %>
    	</div>
  	<% elsif params[:edit] %>
    	<% post = Post.find(params[:edit]) %>
    	<% if post.parent_id %>
      	<div id="edit_reply">
        	<%= render :partial => "edit_reply", :locals => { :post => post } %>
      	</div>
    	<% else %>
      	<div id="edit_thread">
        	<%= render :partial => "edit_thread", :locals => { :post => post } %>
      	</div>
    	<% end %>
  	<%else%>
    	<div id="new_thread" >
      	<%= render :partial => "new_thread" %>
    	</div>
  	<%end%>  
	<% end %>
<% end %>

<%= render :partial => "posts", :object => @posts %>

<%= will_paginate @posts %>
