<% menu :posts %>
<% atom_link_header(space, Post.new) %>

<% content_for :headers do  -%>
  <%= javascript_include_tag 'jquery.filestyle'%>
<% end -%>

<% content_for :javascript do %>


/*
 *  New thread panel
 */

$("#thread-form").postsForm('<%= space_posts_url(@space) %>');

$(".new_thread_options").click(function(){
  $(".new_thread_options").removeClass("selected");
  $(this).addClass("selected");
});

style_file_input();

/*
 *  Reply panel
 */

$("#new_comment_link").livequery('click',function () { 
  $("#new_photo_form").hide();
	return false;
});

$("#new_photo_link").livequery('click',function () {
  $("#new_photo_form").show(); 
	return false;
});

$("#new_doc_link").livequery('click',function () {
  $("#new_photo_form").show();
	return false;
});

/*
 *  Replace with Ajax links
 */

$("a.reply_to_link").click(function(){
  var route = "<%= space_posts_path(@space) %>" + "/" + $(this).attr("name");
  $.get(route,
      {authenticity_token: "<%=form_authenticity_token()%>"},
      function(data){
        $("#sidebar").children("div:last").replaceWith(data);
				
				/* Reply panel javascript*/
				$("#reply-form").postsForm('<%= space_posts_url(@space) %>');
				
        $(".new_reply_options").click(function(){
        $(".new_reply_options").removeClass("selected");
        $(this).addClass("selected");});
				
				style_file_input();
      }
    );
	return false;
});

$("a.edit_post_link").click(function(){
  var route = "<%= space_posts_path(@space) %>" + "/" + $(this).attr("name") + "?edit=true";
  $.get(route,
      {authenticity_token: "<%=form_authenticity_token()%>"},
      function(data){
        $("#sidebar").children("div:last").replaceWith(data);
				
				 /*Edit thread*/
				 $("#edit-form").postsForm('<%= space_posts_url(@space) %>');

         $(".edit_thread_options").click(function(){
         $(".edit_thread_options").removeClass("selected");
         $(this).addClass("selected");});
				 
				 /*Edit reply*/
				 $(".edit_reply_options").click(function(){
			 	 $(".edit_reply_options").removeClass("selected");
		 		 $(this).addClass("selected");});
				 
				 style_file_input();
      }
    );
  return false;
});

	$("#space_search").click(function(){
	  if(this.value == "Search Posts..."){
		  this.value="";
		}
	});

<% end %>

<% content_for :search do  %>
  <% form_tag(search_posts_path(@space), :method => 'get') do %>
		<%= text_field_tag 'space_search',(params[:query] ? params[:query] :  "Search Posts...")%>
	  <%= image_submit_tag "buttons/search.png"%>
  <% end %>
<%end%>
<% content_for :sidebar do  %>
  <% unless space.users.include?(current_user) %>
  <div id="join">
    <% form_tag join_space_path(space) do %>
    <%= image_submit_tag("buttons/join-space.png") %>
    <% end %>
  </div>
  <% end %>
  <div class="space-desc">
	<h3>About <em><%=@space.name%></em></h3>
	  <p><%=image_tag(logo_path(@space, :size =>48), :align => "left")%><%= sanitize(space.description) if space.description.present? %></p>
	</div>	
<%if @space.authorizes?([:create, :content],:to => current_user)%>
	
  	<% if params[:reply_to]%>
      	<%= render :partial => "new_reply", :locals => { :post => Post.find(params[:reply_to]) } %>
  	<% elsif params[:edit] %>
    	<% post = Post.find(params[:edit]) %>
    	<% if post.parent_id %>
        	<%= render :partial => "edit_reply", :locals => { :post => post } %>
    	<% else %>
        	<%= render :partial => "edit_thread", :locals => { :post => post } %>
    	<% end %>
  	<%else%>
    	<div id="new_thread" >
      	<%= render :partial => "new_thread" %>
    	</div>
  	<%end%>  
	<% end %>
<% end %>
	<%= render :partial => "posts", :object => @posts %>
<%= will_paginate @posts %>
