<% content_for :search do  %>
  <% form_tag(search_posts_path(@space), :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= image_submit_tag "legacy/magnify2.png", :class=>'go'%>
  <% end %>
<%end%>

<% content_for :sidebar do  %>
  <% if params[:reply_to]%>
    <div id="new_reply">
      <% @parent_post = Post.find(params[:reply_to])%>	
      <%= render :partial => "new_reply" %>
    </div>
  <% elsif params[:edit] %>
    <% @post = Post.find(params[:edit])%>	
    <% if @post.parent_id %>
      <div id="edit_reply">
        <%= render :partial => "edit_reply" %>
      </div>
    <% else %>
      <div id="edit_thread">
        <%= render :partial => "edit_thread" %>
      </div>
    <% end %>
  <%else%>
    <div id="new_thread" >
      <%= render :partial => "new_thread" %>
    </div>
  <%end%>  
<% end %>


  <% for post in @posts -%>
  
  		<b><%=link_to (post.title, space_post_path(@space,post))%></b>
		Updated <%=time_ago_in_words(post.updated_at)%> ago  
		<%=link_to "Reply", space_posts_path(@space,:reply_to => post)%>
		<%=link_to "Delete", space_post_path(@space,post), :method => :delete%>
		<%if current_user = post.author%><%=link_to "edit", space_posts_path(@space,:edit_thread => post)%><%end%>
		
		<div class="<%=post.three_last_comment().first.parent_id!= nil ?  "open" : "close"%>"> 
			<%for comment in post.three_last_comment()%>
			
			  <p><%=image_tag("legacy/avatar.png")%>
			  <%for attachment in comment.attachments%>
			    <%=image_tag(space_attachment_path(@space,attachment.post_thumbnail())) if attachment.post_thumbnail%>
			  <%end%> 
			  <%=comment.text%>
			  <%if current_user = comment.author%><%=link_to "edit", space_posts_path(@space,:edit_comment => comment)%><%end%>
			  </p>
			<%end%>
		</div>
		</br>
  <% end -%>
  
  <%= will_paginate @posts %>

	

<% render :partial =>'shared/sidebars'%>
