= atom_link_header(space, @new_post, :title => h(t('post.other_in_space', :space => space.name)))

- spaces_menu_at :posts
= render :partial => 'spaces/menu'

= content_for :sidebar do
  - if can?(:create, @space.posts.build)
    = content_for :new_post do
      = render :partial => "new_post"

= render :partial => "collapsed_threads", :locals => {:threads => @posts}
= page_navigation_links @posts
