<% rounded() do %>
  <div><h1><%= name_format(@title, 40, "") %></h1></div>
  
  <div>
	<span> <%=link_to ("see expanded view", space_posts_path(@space, :expanded=>true))-%> </span>
  </div>
  
  <div>
	<form name="get_page" method="get">
	  <select selected="<%=params[:per_page]%>">
		<%for valor in [10,25,50,100]%>
		  <%if valor.to_s == params[:per_page]%>
			  <option value="<%=valor%>">Entries Shown: <%=valor%> </option>
		  <%else%>
			  <option value="<%=valor%>">Entries Shown: <%=valor%> </option>
		  <%end%>
		<%end%>			
	  </select>
	</form>	
  </div>	
  <br/><br/> 
  <% for post in @posts -%>
	<%if post.parent_id == nil%>
	
		<div>
    	  <%=show_post(post.entry,@space,"edit","destroy")%> 
		</div>
	<% end -%>
  <% end -%>
  <%= will_paginate @posts %>
<% end -%>
	

<%= render :partial =>'shared/sidebars'%>
