
<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
<h1><%= @title %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
  </tr>

<% for post in @posts -%>
  <tr>
    <td><%=link_to(sanitize(post.title), post_path(post)) %> (<%= post.container_posts.size %>)</td>
    <td><%= post.content.class %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post_url(post), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Comments', "#{ post_path(post) }#comments" %></td>
  </tr>
<% end -%>
</table>

<br />
<% end -%>
</div>
</div>
<%= render :partial =>'shared/sidebar'%>


