<div id="yui-main">
    <div class="yui-b main_column">
        <% rounded(:class => "tips") do %>
        <h1 class="title">New <%= @content.class.to_s %></h1>
        <%if @errors == true %>
        <% unless error_messages_for(:post_).blank? && error_messages_for(:content).blank? -%>
        <div class="errors">
            <%= error_messages_for :post %>
            <%= error_messages_for :content %>
            <!--Si hay un error al poner un Attachment, hay que poner el contenido a tipo artículo que es lo que coge por defecto -->
            <%@content= Article.new %>
        </div>
        <% end -%>
        <%@errors = false %>
        <%end %>
        <% form_for(:post, :url => @collection_path, :html => { :multipart => true }) do |f| -%>
        <%= render :partial => "posts/form", :locals => { :f => f, :action => :new } %>
        <%= submit_tag "Create" %>
        <% end -%>
        <% end -%>
    </div>
</div>
<%= render :partial =>'shared/sidebar' %>