#new-post
  .modal-header
    = modal_close_button
    %h3= t(".title")

  = simple_form_for [@space, @post], :html => { :class => 'single-column' } do |f|
    .modal-body
      = f.input :title, :label => false, :autofocus => true
      = f.input :text, :label => false, :as => :text
    .modal-footer.form-actions
      = f.button :wrapped, t("_other.send"), :class => "btn btn-primary", :cancel_modal => true
