
<div id="lightbox-logo"><span><%= image_tag("mconf_logo_small.png",:class=>"icon")%><%= t('vcc') %></span></div>

<div id="new_thread_big">
        <% menu :posts %>

          <!--<h3>New Thread</h3>-->
      <div id="text_form">
          <%= form_for(prepare_for_form(Post.new), :html => { :multipart => true ,:id => "thread-form"}) do |f| -%>
          
          <div>
              <label for="Title">
                  <%= t('title') %>
              </label>
              <br/>
              <%= f.text_field :title, :size => 25, :value => params[:post_title], :class => "big_post_title" %>
          </div>
         
          <div id="big_textarea_div">
              <%= f.text_area :text, :id => "big_textarea", :class => "big_post_text", :value => params[:post_text] %>
              <!--<textarea id="big_textarea" name="post[text]" class="big_post_text"><%=params[:post_text]%></textarea>-->
          </div>
          <p class ='newAttach1' style="display: none;"><%= t('attachment.add') %></p>
                                        <div id="post-buttoms" class="actions">
              <ul>
                  <li class ='newAttach add'>
                      <%= t('attachment.add') %>
                  </li>
                  <li class ='newAttach new_one' style="display: none;">
                      <%= t('attachment.new') %>
                  </li>
              </ul>
          </div>
          <div class="margin-up">
              <button type="submit" class="basic_button blue_button">
                  <%=t("button.send") %>
              </button>
          </div>
      </div>

         
        <% end -%>

</div>
