<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
<%= link_to_function 'New Comment', "new Element.toggle('new_comment_form'); document.location = '#new_comment_form'" %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', container_posts_url(:container_type => @container.class.to_s.tableize, :container_id => @container.id) %>

<p>
  <b>Title:</b>
  <%=sanitize @post.title %>
</p>

<% unless @post.description.blank? %>
<p>
  <b>Description:</b>
  <%=sanitize @post.description %>
</p>
<% end %>

<% unless @post.tag_list.blank? %>
<p>
  <b>Tags:</b>
  <%= @post.tag_list %>
</p>
<% end %>

<%= render :partial => "#{ @content.class.to_s.tableize }/#{ @content.class.to_s.underscore }", :object => @content %>

<%= link_to_function 'New Comment', "new Element.toggle('new_comment_form');" %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', container_posts_url(:container_type => @container.class.to_s.tableize, :container_id => @container.id) %>
<%end%>

<div id="new_comment_form" style="display: none;">
  <% @content.text = "" %>
  <% form_tag post_articles_path(@post) do -%>
    <b>Title</b><br />
    <%= text_field_tag :title %>
    </p>
    <p>
      <b>Body</b><br />
      <%= fckeditor_textarea(:content, :text, :toolbarSet => 'Simple', :width => '100%', :height => '400px') %>
    </p>
    <%= hidden_field_tag 'tag[add_tag]', "" %>
    <%= submit_tag "Create" %>
  <% end -%>
</div>

<% div_for :comments do %>
  <h2>Comments</h2>
  <%= render :partial => "posts/comment", :collection => @post.container_posts %>
<% end if @post.container_posts.any? -%>


</div>
</div>
<%= render :partial =>'shared/sidebar'%>
