<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
	<%= link_to 'New Comment', new_post_article_path(@post)%> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', container_posts_url(:container_type => @container.class.to_s.tableize, :container_id => @container.id) %>

<p>
  <b>Title:</b>
  <%=sanitize @post.title %>
</p>

<% unless @post.description.blank? %>
<p>
  <b>Description:</b>
  <%=sanitize @post.description %>
</p>
<% end %>

<% unless @post.tag_list.blank? %>
<p>
  <b>Tags:</b>
  <%= @post.tag_list %>
</p>
<% end %>

<%= render :partial => "#{ @content.class.to_s.tableize }/#{ @content.class.to_s.underscore }", :object => @content %>

<%= link_to 'New Comment', new_post_article_path(@post)%> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', container_posts_url(:container_type => @container.class.to_s.tableize, :container_id => @container.id) %>
<%end%>

<% div_for :comments do %>
  <h2>Comments</h2>
  <%= render :partial => "posts/comment", :collection => @post.container_posts %>
<% end if @post.container_posts.any? -%>


</div>
</div>
<%= render :partial =>'shared/sidebar'%>