<% content_for :sidebar do  %>
  <% params[:reply]=@post %>
  <%= render :partial => "new_comment" %>
<% end %>

<div id="thread_title">
  <h2><%=@post.title%></h2>
</div>


<div id="reply">
	<%=link_to "Delete", space_post_path(@space,@post), :method => :delete%>
</div>

<div id="thread_update">
  <h2>Updated <%=time_ago_in_words(@post.updated_at)%> ago</h2>
</div>


<div id="posts">
	<div class="box_closed"> 
	  <p><%=image_tag("legacy/avatar.png")%>
	  <%for attachment in @post.attachments%>
	    <%=image_tag(space_attachment_path(@space,attachment.post_thumbnail())) if attachment.post_thumbnail%>
	  <%end%>
	  <%=@post.text%></p>
	  <%for comment in @post.children%>			
	    <p><%=image_tag("legacy/avatar.png")%>			  
		<%for attachment in comment.attachments%>
		  <%=image_tag(space_attachment_path(@space,attachment.post_thumbnail())) if attachment.post_thumbnail%>
	    <%end%> <%=comment.text%></p>
	  <%end%>
	</div>
</div>
<%= will_paginate @posts %>
