<%= stylesheet_link_tag 'blog' %>


<div id="blog">
<%= render :partial => "#{ @content.class.to_s.tableize }/#{ @content.class.to_s.underscore }", :object => @content %>


<% post = Post.find(:first,:conditions => {:content_type => "Article"  , :content_id => @content.id})%>
<% @comments = Post.find(:all,:conditions => {:container_type => "Article"  , :container_id => post.content_id})%>

<div id="link">
<%= link_to 'New Comment', new_article_article_url(Article.find(post.container_id))%>
</div>
<div id="comment">
<div id="comment-header">Comentarios</div>
<%i=0%>
<% for comment in @comments %>

  <%i+=1%>
    <div id="comment-author"><%=i%># :Escrito por <%= User.find(comment.agent_id).name%> | 
	   <%= comment.created_at.to_s(:short) %>
	</div>
  
      <%= Article.find(comment.content_id).body%>
	


<%end%>
</div>
</div>
