<div class="faq-wrapper">
  <h3 class="title"><%=t('faq.title')%></h3>
  <div class="topics-section">
    <ol>
      <li><a href="#faq1"><%=t('faq.faq1.question')%></a></li>
      <li><a href="#faq2"><%=t('faq.faq2.question')%></a></li>
      <li><a href="#faq3"><%=t('faq.faq3.question')%></a></li>
      <li><a href="#faq4"><%=t('faq.faq4.question')%></a></li>
      <li><a href="#faq5"><%=t('faq.faq5.question')%></a></li>
      <li><a href="#faq6"><%=t('faq.faq6.question')%></a></li>
      <li><a href="#faq7"><%=t('faq.faq7.question')%></a></li>
      <li><a href="#faq8"><%=t('faq.faq8.question')%></a></li>
      <li><a href="#faq9"><%=t('faq.faq9.question')%></a></li>
      <li><a href="#faq10"><%=t('faq.faq10.question')%></a></li>
      <li><a href="#faq11"><%=t('faq.faq11.question')%></a></li>
      <li><a href="#faq12"><%=t('faq.faq12.question')%></a></li>
    </ol>
  </div>
  <div class="all-answers">
    <ol>
      <li><span class="question" id="faq1"><%=t('faq.faq1.question')%></span>
          <p><span class="answer"><%=t('faq.faq1.answer')%></span></p>
      </li>
      <li><span class="question" id="faq2"><%=t('faq.faq2.question')%></span>
          <p><span class="answer"><%=t('faq.faq2.answer')%></span></p>
      </li>
      <li><span class="question" id="faq3"><%=t('faq.faq3.question')%></span>
          <p><span class="answer"><%=t('faq.faq3.answer')%></span></p>
      </li>
      <li><span class="question" id="faq4"><%=t('faq.faq4.question')%></span>
          <p><span class="answer"><%=t('faq.faq4.answer')%></span></p>
      </li>
      <li><span class="question" id="faq5"><%=t('faq.faq5.question')%></span>
          <p><span class="answer"><%=t('faq.faq5.answer')%></span></p>
      </li>
      <li><span class="question" id="faq6"><%=t('faq.faq6.question')%></span>
          <p><span class="answer"><%=t('faq.faq6.answer')%></span></p>
      </li>
      <li><span class="question" id="faq7"><%=t('faq.faq7.question')%></span>
          <p><span class="answer"><%=t('faq.faq7.answer')%></span></p>
      </li>
      <li><span class="question" id="faq8"><%=t('faq.faq8.question')%></span>
          <p><span class="answer"><%=t('faq.faq8.answer')%></span></p>
      </li>
      <li><span class="question" id="faq9"><%=t('faq.faq9.question')%></span>
          <p><span class="answer"><%=t('faq.faq9.answer')%></span></p>
      </li>
      <li><span class="question" id="faq10"><%=t('faq.faq10.question')%></span>
          <p><span class="answer"><%=t('faq.faq10.answer')%></span></p>
      </li>
      <li><span class="question" id="faq11"><%=t('faq.faq11.question')%></span>
          <p><span class="answer"><%=t('faq.faq11.answer')%></span></p>
      </li>
      <li><span class="question" id="faq12"><%=t('faq.faq12.question')%></span>
          <p><span class="answer"><%=t('faq.faq12.answer')%></span></p>
      </li>
    </ol>     
  </div>
</div>