<div id="confirmation-dialog" class="modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>{{title}}</h3>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
      <div class="modal-footer">
        <div class="form-actions">
          <a class="btn btn-danger confirmation-dialog-confirm">{{confirm}}</a>
          {{or}}
          <a href="#" data-dismiss="modal">{{cancel}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
