#crop-modal
  .modal-header
    = modal_close_button
    %h3= @page

  .modal-body

    .jcrop-wrapper
      = image_tag @model.logo_image_url(:large), :class => 'cropable', :'data-crop-width' => @width, :'data-crop-aspect-ratio' => @aspect_ratio

    %input#aspect-ratio{:type => 'checkbox'}
      = t('.aspect_ratio')

  .modal-footer.form-actions
    -# TODO: use simple_form and add a 'cancel' button
    = form_for @model, :url => @url do |f|
      - %w[x y w h].each do |attribute|
        = f.hidden_field "crop_#{attribute}", :class => "crop-#{attribute}"
      = f.submit t('.crop_it'), :class => 'btn btn-primary'
