%h1= 'Crop Avatar'

.jcrop
  = image_tag @model.logo_image_url(:large), :id => "cropbox", :class => "cropable"

%h4= 'Preview'
#image_tag{ :style => "width:100px; height:100px; overflow:hidden" }
  .jcrop
    = image_tag @model.logo_image_url(:large), :id => "preview"

= form_for @model, :url => @url, :html => { :id => 'crop-form' } do |f|
  - %w[x y w h].each do |attribute|
    = f.hidden_field "crop_#{attribute}", :id => "crop_#{attribute}"
  .form-actions
    = f.submit "Crop"
