%p= t('.greeting', :email => @resource.email)

%p= t('.requested')

%p= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token)

%p= t('.ignore')

%p= t('.wont_change')