- user = @resource

.centralized
  %h1.title= t('_other.hi_name', name: user.first_name)
  .subtitle= t('.subject')

  %p= t('.requested')

  - url = edit_password_url(user, reset_password_token: @token)
  %p= link_to t('.redefine_password'), url, class: 'action-button'
  %p.observation= t('.copy_link', url: url)

  %p
    = t('.ignore')
    = t('.wont_change')
