.header_image
  #reset_pass

.header_message
  = t('.greeting', name: @resource.name)

%p= t('.requested')

- url = edit_password_url(@resource, reset_password_token: @token)
%p
  .button
    = link_to t('.redefine'), url

%p
  = t('.ignore')
  = t('.wont_change')
