%p
  .header_image
    =image_tag URI.join(root_url, "assets/mailer/new_password.png"), size: '494x263'
  .header_message
    = t('.greeting', name: @resource.name)

%p= t('.requested')

- url = edit_password_url(@resource, reset_password_token: @token)
%p
  .button
    = link_to t('.redefine'), url

%p
  = t('.ignore')
  = t('.wont_change')
