<% div_for invitation do %>

  <div class="invitation-logo">
    <%= invitation.candidate ? link_logo(invitation.candidate, :url => user_profile_path(invitation.candidate),:size => 32, :title=>invitation.candidate.name) : image_tag("avatars/undefined.png", :title => invitation.email)  %>
  </div>
  <div class="invitation-content">
    <ul>
    <%receiver = sanitize(invitation.candidate ? invitation.candidate_name : invitation.email)%>
    <li class="unified_user"><%=receiver%></li>
    <li class="main_text"><%= t('role.one') %>: <%= invitation.role && invitation.role.name %></li>
  </ul>    
  </div>
    <div class="group_links">
    <%=link_to image_tag("icons/cancel.png",:alt=>"delete",:class=>"icon"),invitation, :method => :delete,:confirm => t('delete.confirm', :element => ' ' + t('invitation.other') + ' ' + t('to') + ' ' + receiver),:title=>"delete"%>
  </div>
<% end %>
