<div id="new_invitation_div">
  <h3><%= t('event_invitation.new.other') %></h3>

  <%= error_messages_for :object => (@invitations || []) %>

  <% form_for Invitation.new, :url => polymorphic_path([ @space, Admission.new ], :action => :invitations) do |f| %>
    <p>
    <%= f.label :email, t('e-mail.other') %> <%= t('e-mail.commas')%><br />
    <%= f.text_field :email %>
    </p>

    <p>
    <%= f.label :role, t('role.one') %>
		<%= f.select :role_id, Space.roles.map{ |r| [ r.name, r.id ] } %>
    </p>

    <div class="margin-up">
      <button type="submit"><%=t('button.invite')%></button>
    </div>
  <% end %>
</div>
