<% menu :admin %>
<% content_for :sidebar do -%>
  <%= render :partial => 'new_invitation' %>
<% end -%>

<%= render :partial => 'spaces/admin_tabs' %>
<div id="admission">
<h3>Pending Join Requests</h3>
<% if @space.join_requests.pending.any? %>
  <div class="reqs">
  <% @space.join_requests.pending.each do |jr| %>
	  <!--<div class="join_request_element">-->
	 <div class="reqs-item">
	  <div class="invitation-logo">
		<%if jr.candidate.authorizes?([:read, :profile],:to=> current_user)%>
          <%= link_logo(jr.candidate, :url => user_profile_path(jr.candidate),:size=>32, :title=>jr.candidate.name) %>
		<%else%>
		  <%= logo(jr.candidate,:size=>32, :title=>jr.candidate.name) %>
		<%end%>
	  </div>
	  <div class="invitation-content">
	  	<span class="person_title"><%=sanitize(jr.candidate.name)%></span>
	    <div class="float">
		<% form_for [ @space, jr ] do |f| %>
		  <label class="person_title">Role:</label>
	      <%= f.select :role_id, Space.roles.map{ |r| [ r.name, r.id ] }, { :selected => Space.role("User").id } %>
	      <%= f.hidden_field :accepted, :value => true %>
	      <%= f.hidden_field :processed, :value => true %>
	      <%= f.submit "Accept" %>
	    <% end -%>
		</div>
		<div class="float">
	    <% form_for [ @space, jr ] do |f| %>
	      <%= f.hidden_field :processed, :value => true %>
	      <%= f.submit "Deny" %>
	    <% end -%>
		</div>
	  </div>
    </div>
  <% end -%>
  </div>
<% else -%>
  <p>There are no pending join requests.</p>
<% end -%>

<h3>Pending invitations</h3>
<% if @space.invitations.pending.any? %>
  <%= render :partial => 'invitation', :collection => @space.invitations.pending %>
<% else -%>
  <p>There are no pending invitations</p>
<% end -%>
</div>
