<div id="yui-main">
<div class="yui-b main_column">

<% @page_title = "Manage Resources" -%>
&nbsp;
<div align=center>
<table border=1 >
        <% if @machine && !error_messages_for(:machine).blank? -%>
        <div class="errors">
            <%= error_messages_for :machine %>
        </div>	
		<%end%>
<br>	
<tbody id="table_resources">
<tr>
<td class=headerDay align=center>Resource Nickname</td>
<td class=headerDay align=center>Resource Full Name</td>
<td class=headerDay align=center>Action</td>
</tr>
<%index = 0%>


<%for machine in @machines%>
<% form_tag(machine_path(machine), :method => :put) do %>
<tr id=<%="resource"+index.to_s%>>
<td>
<%= text_field("machine", "name", :value=>machine.name, :readonly => false) %>
</td>
<td>
<%= text_field("machine", "nickname", :value=>machine.nickname, :readonly => false) %>
</td>
<td>
<%= submit_tag "Edit" %>
<%end%>
<%= button_to "Delete", machine_path(machine), :method => :delete  %>
<%= button_to "Assign to all Users", machine_path(machine, :assign_to_everybody => true), :method => :put  %>
</td>
</tr>

<%end%>






<% form_tag(machines_path, :method => :post) do %>

<td>
<%= text_field("machine", "name", :readonly => false) %>
</td>
<td>
<%= text_field("machine", "nickname", :readonly => false) %>

</td>


<td id="solo_centrar">
<%= submit_tag "Add" %>
</td>

</tbody>

<%end%>

</table>
</div>


</div>
</div>

<%= render :partial =>'shared/sidebar'%>