- content_for :title do "#{current_site.name} - #{@event.name}" end

= content_for :page_header do
  .current-page-title
    .main-title= @event.name
    .sub-title
      - if @event.public
        .resource-visibility.public
          = icon_space_public
          = t(".public")
      - else
        .resource-visibility.private
          = icon_space_private
          = t(".private")
      - if @event.owner
        - if @event.owner.instance_of?(Space)
          = icon_space
          = t('.belongs_space', :space => @event.owner.name, :url => main_app.space_path(@event.owner)).html_safe
        - else
          = icon_user
          = t('.belongs_user', :user => @event.owner.name, :url => main_app.user_profile_path(@event.owner)).html_safe
