-# Locals:
-#   event (MwebEvents::Event): the target model
-#   is_participant (boolean): Whether the current user is a participant in the event or not

- unless event.nil?
  = content_tag(:div, :name => event.permalink, :class => "thread thread-event #{cycle("thread-even" , "thread-odd")} unified-event") do
    .logo-in-thread
      = event_logo_link(event, :title => sanitize(event.name), :class => "logo logo-event")

    .thread-content
      .thread-title
        -# - if is_participant
        -#   %span.is-member= t('.user_is_member')
        %span
          = link_to first_words(event.name, 80), mweb_events.event_path(event), :title => event.name, :class => "list-title"
      .thread-text
        .event-visibility
          - if event.public
            %span.visibility.public
              = icon_space_public()
              = t("mweb_events.events.index.public")
              - if event.past?
                = "|"
                = t('.closed')
          - else
            %span.visibility.private
              = icon_space_private()
              = t("mweb_events.events.index.private")
              - if event.past?
                = "|"
                = t('.closed')

        .event-description-date
          = t('.starts_at') + ':'
          = event.get_formatted_date

        %span= t('_other.participants', :count => event.participants.count)
