= render :partial => 'manage/menu'

#manage
  = error_messages_for :current_site

= simple_form_for :current_site, :url => site_path, :html => { :method => :put, :multipart => true, :class => 'single-column' } do |f|
  .left-column
    = f.input :name, :label => t('site.name'), :required => false
    = f.input :description, :label => t('site.description'), :required => false, :as => :text, :input_html => { :rows => 5 }
    = f.input :domain, :label => t('site.domain'), :required => false
    = f.input :email, :label => t('site.email'), :required => false, :hint => t('site.email_tip')
    = f.input :email_password, :label => t('site.email_password'), :required => false, :hint => t('site.email_password_tip')
    /<%= check_box_tag 'site_email_password_show' %><%= t('show_question') %>
    = f.input :locale, :label => t('site.locale'), :required => false, :collection => I18n.available_locales
    = f.input :signature, :label => t('site.signature'), :required => false, :as => :text, :input_html => { :rows => 5 }
    = f.input :ssl, :label => t('site.ssl'), :required => false, :as => :boolean, :hint => t('site.ssl_tip')
    = f.button :submit, t("button.update"), :class => "btn"

  .right-column
    = f.input :feedback_url, :label => t('site.feedback_url'), :required => false, :hint => t('site.feedback_url_tip', :default_url => webconf_feedback_index_path)
    = f.input :analytics_code, :label => t('site.analytics_code'), :required => false, :hint => t('site.analytics_code_tip')
    = f.input :exception_notifications, :label => t('site.exception_notifications'), :required => false, :as => :boolean, :hint => t('site.exception_notifications_tip')
    = f.input :exception_notifications_email, :label => t('site.exception_notifications_email'), :required => false, :hint => t('site.exception_notifications_email_tip')
    = f.input :exception_notifications_prefix, :label => t('site.exception_notifications_prefix'), :required => false
    = f.input :shib_enabled, :label => t('site.shib_enabled'), :required => false, :as => :boolean
    = f.input :shib_email_field, :label => t('site.shib_email_field'), :required => false, :hint => t('site.shib_email_field_tip')
    = f.input :shib_name_field, :label => t('site.shib_name_field'), :required => false, :hint => t('site.shib_name_field_tip')
    = f.input :chat_enabled, :label => t('site.chat_enabled'), :required => false, :as => :boolean
    = f.input :presence_domain, :label => t('site.chat_domain_field'), :required => false, :hint => t('site.chat_domain_field_tip')
    = f.input :xmpp_server, :label => t('site.chat_server_field'), :required => false, :hint => t('site.chat_server_field_tip')