<%= content_for :headers do %>
  <%= javascript_include_tag 'jquery.filestyle' %>
<% end %>

<%= content_for :javascript do %>
  $("input[type=file]").filestyle({
    image: "/images/buttons/browse.png",
    imageheight : 23,
    imagewidth : 63,
    width : 237
  });

 $('.tooltip_exception_notifications_email').qtip({
   content: '<%= escape_javascript(t('site.exception_notifications_email_tip')) %>',
   position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });

 $('.tooltip_ssl').qtip({
   content: '<%= escape_javascript(t('site.ssl_tip')) %>',
   position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });

 $('.tooltip_feedback_url').qtip({
   content: '<%= escape_javascript(t('site.feedback_url_tip', :default_url => webconf_feedback_index_path)) %>',
   position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });

 $('.tooltip_exception_notifications').qtip({
   content: '<%= escape_javascript(t('site.exception_notifications_tip')) %>',
   position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });

 $('.tooltip_shib_email_field').qtip({
   content: '<%= escape_javascript(t('site.shib_email_field_tip')) %>',
   position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });

 $('.tooltip_shib_name_field').qtip({
   content: '<%= escape_javascript(t('site.shib_name_field_tip')) %>',
   position: {adjust: { screen: true }},
   show:  'mouseover',
   hide: { when: 'mouseout', fixed: true },
   style: 'mystyle'
  });
<% end %>


  <%= render :partial => 'manage/menu' %>
<div id="manage">

  <%= error_messages_for :current_site %>

<%= form_for(:current_site, :url => site_path, :html => { :method => :put, :multipart => true }) do |f| %>
  <p>
    <%= f.label :name, t('site.name') %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, t('site.description') %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :domain, t('site.domain') %>
    <%= f.text_field :domain %>
  </p>

  <p>
    <%= f.label :email, t('site.email') %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :locale, t('site.locale') %>
    <%= f.select :locale, I18n.available_locales %>
  </p>

  <p>
    <%= f.label :signature, t('site.signature') %>
    <%= f.text_area :signature %>
  </p>

  <p>
    <%= f.label :ssl, t('site.ssl') %>
    <%= f.check_box :ssl %>
    <%= image_tag("icons/help.png",:title=>"",:size=>"16x16",:class=>"tooltip_ssl icon",:style=>"cursor:pointer").html_safe %>
  </p>

  <p>
    <%= f.label :feedback_url, t('site.feedback_url') %>
    <%= f.text_field :feedback_url %>
    <%= image_tag("icons/help.png",:title=>"",:size=>"16x16",:class=>"tooltip_feedback_url icon",:style=>"cursor:pointer").html_safe %>
  </p>

  <p>
    <%= f.label :exception_notifications, t('site.exception_notifications') %>
    <%= f.check_box :exception_notifications %>
    <%= image_tag("icons/help.png",:title=>"",:size=>"16x16",:class=>"tooltip_exception_notifications icon",:style=>"cursor:pointer").html_safe %>
  </p>

  <p>
    <%= f.label :exception_notifications_email, t('site.exception_notifications_email') %>
    <%= f.text_field :exception_notifications_email %>
    <%= image_tag("icons/help.png",:title=>"",:size=>"16x16",:class=>"tooltip_exception_notifications_email icon",:style=>"cursor:pointer").html_safe %>
  </p>

  <p>
    <%= f.label :exception_notifications_prefix, t('site.exception_notifications_prefix') %>
    <%= f.text_field :exception_notifications_prefix %>
  </p>

  <p>
    <%= f.label :shib_enabled, t('site.shib_enabled') %>
    <%= f.check_box :shib_enabled %>
  </p>

  <p>
    <%= f.label :shib_email_field, t('site.shib_email_field') %>
    <%= f.text_field :shib_email_field %>
    <%= image_tag("icons/help.png",:title=>"",:size=>"16x16",:class=>"tooltip_shib_email_field icon",:style=>"cursor:pointer").html_safe %>
  </p>

  <p>
    <%= f.label :shib_name_field, t('site.shib_name_field') %>
    <%= f.text_field :shib_name_field %>
    <%= image_tag("icons/help.png",:title=>"",:size=>"16x16",:class=>"tooltip_shib_name_field icon",:style=>"cursor:pointer").html_safe %>
  </p>

  <div id="site_button" class="margin-up">
        <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
  </div>
<% end %>
</div>
