<% content_for :headers do%>
  <%= javascript_include_tag 'jquery.filestyle' %>
<%end%>

<%content_for :javascript do%>
    $("input[type=file]").filestyle({ 
      image: "/images/buttons/browse.png",
      imageheight : 23,
      imagewidth : 63,
      width : 237
    });
<%end%>


  <%= render :partial => 'manage/menu' %>
<div id="manage">
  
  <%= error_messages_for :site %>

<% form_for(:site, :url => site_path, :html => { :method => :put, :multipart => true }) do |f| %>
  <p>
    <%= f.label :name, t('site.name') %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, t('site.description') %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :domain, t('site.domain') %>
    <%= f.text_field :domain %>
  </p>

  <p>
    <!--<%= f.label :ssl, t('site.ssl') %>-->
	<strong class="blue">SSL </strong>
    <%= f.check_box :ssl %>
  </p>

  <p>
    <%= f.label :email, t('site.email') %>
    <%= f.text_field :email %>
  </p>

  <p>
    <!--<%= f.label :exception_notifications, t('site.exception_notifications') %>-->
	<strong class="blue"><%= t('send_debug_emails') %> </strong>
    <%= f.check_box :exception_notifications %>
  </p>

  <p>
    <%= f.label :exception_notifications_email, t('site.exception_notifications_email') %>
    <%= f.text_field :exception_notifications_email %>
  </p>

  <div id="site_button" class="margin-up">  
	<button type="submit"><%=t("button.update")%></button>
  </div>
<% end %>
</div>
