<div id="yui-main">
<div class="yui-b main_column">
	
		<% rounded(:class => "tips") do %>

<h2><%= "Site configuration" %></h2>

  <p>
    <b><%= "Name" %></b>: 
    <%= sanitize current_site.name %>
  </p>

  <p>
    <b><%= "Description" %></b>: 
    <%= sanitize current_site.description %>
  </p>

  <p>
    <b><%= "Logotype" %></b>: 
	<br/>
    <%= image_tag("gp-logo.jpg") %>
  </p>

  <p>
    <b><%= "Domain" %></b>: 
    <%= sanitize current_site.domain %>
  </p>

  <p>
    <b><%= "SSL" %></b>: 
    <%= current_site.ssl? %>
  </p>

  <p>
    <b><%= "Email" %></b>: 
    <%= sanitize current_site.email %>
  </p>

  <p>
    <b><%= "Locale" %></b>: 
    <%= sanitize current_site.locale %>
  </p>

  <%= link_to "Edit", edit_site_path %>
  
  <%end%>
  
  </div>
</div>


<%= render :partial =>'shared/sidebar'%>
