= render :partial => 'manage/menu'

#manage
  = simple_form_for :current_site, :url => "", :html => { :class => 'form-inline' } do |f|
    = f.input :name, :label => t('site.name'), :disabled => true
    = f.input :description, :label => t('site.description'), :as => :text, :input_html => { :rows => 5 }, :disabled => true
    = f.input :domain, :label => t('site.domain'), :disabled => true
    = f.input :locale, :label => t('site.locale'), :collection => I18n.available_locales, :disabled => true
    = f.input :signature, :label => t('site.signature'), :as => :text, :input_html => { :rows => 5 }, :disabled => true
    = f.input :ssl, :label => t('site.ssl'), :as => :boolean, :disabled => true
    = f.input :feedback_url, :label => t('site.feedback_url'), :disabled => true
    = f.input :analytics_code, :label => t('site.analytics_code'), :disabled => true
    = f.input :smtp_login, :label => t('site.smtp_login'), :disabled => true
    = f.input :smtp_password, :label => t('site.smtp_password'), :disabled => true
    = f.input :smtp_sender, :label => t('site.smtp_sender'), :disabled => true
    = f.input :smtp_domain, :label => t('site.smtp_domain'), :disabled => true
    = f.input :smtp_server, :label => t('site.smtp_server'), :disabled => true
    = f.input :smtp_port, :label => t('site.smtp_port'), :disabled => true
    = f.input :smtp_use_tls, :label => t('site.smtp_use_tls'), :disabled => true
    = f.input :smtp_auto_tls, :label => t('site.smtp_auto_tls'), :disabled => true
    = f.input :smtp_auth_type, :label => t('site.smtp_auth_type'), :disabled => true
    = f.input :exception_notifications, :label => t('site.exception_notifications'), :as => :boolean, :disabled => true
    = f.input :exception_notifications_email, :label => t('site.exception_notifications_email'), :disabled => true
    = f.input :exception_notifications_prefix, :label => t('site.exception_notifications_prefix'), :disabled => true
    = f.input :shib_enabled, :label => t('site.shib_enabled'), :as => :boolean, :disabled => true
    = f.input :shib_email_field, :label => t('site.shib_email_field'), :disabled => true
    = f.input :shib_name_field, :label => t('site.shib_name_field'), :disabled => true
    = f.input :chat_enabled, :label => t('site.chat_enabled'), :as => :boolean, :disabled => true
    = f.input :presence_domain, :label => t('site.chat_domain_field'), :disabled => true
    = f.input :xmpp_server, :label => t('site.chat_server_field'), :disabled => true
    = link_to t('button.edit'), edit_site_path, :class => "btn"
