<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%= render :partial => 'manage/menu' %>

<div id="manage">
  <p>
    <label><%= t('site.name') %>:</label>
    <span class="value"><%= sanitize current_site.name %></span>
  </p>

  <p>
    <label><%= t('site.description') %>:</label>
    <span class="value"><%= sanitize current_site.description %></span>
  </p>

  <p>
    <label><%= t('site.domain') %>:</label>
    <span class="value"><%= sanitize current_site.domain %></span>
  </p>

  <p>
    <label><%= t('site.smtp_login') %>:</label>
    <span class="value"><%= sanitize current_site.smtp_login %></span>
  </p>

  <p>
    <label><%= t('site.smtp_password') %>:</label>
    <span class="value"><%= current_site.smtp_password.gsub(/./, "*") unless current_site.smtp_password.blank? %></span>
  </p>

  <p>
    <label><%= t('site.smtp_server') %>:</label>
    <span class="value"><%= current_site.smtp_server %></span>
  </p>

  <p>
    <label><%= t('site.smtp_domain') %>:</label>
    <span class="value"><%= current_site.smtp_domain %></span>
  </p>

  <p>
    <label><%= t('site.smtp_port') %>:</label>
    <span class="value"><%= current_site.smtp_port %></span>
  </p>

  <p>
    <label><%= t('site.smtp_use_tls') %>:</label>
    <span class="value"><%= current_site.smtp_use_tls? %></span>
  </p>

  <p>
    <label><%= t('site.smtp_auto_start_tls') %></label>
    <span class="value"><%= current_site.smtp_auto_tls? %></span>
  </p>

  <p>
    <label><%= t('site.smtp_auth_type') %>:</label>
    <span class="value"><%= current_site.smtp_auth_type %></span>
  </p>

  <p>
    <label><%= t('site.smtp_sender') %>:</label>
    <span class="value"><%= current_site.smtp_sender %></span>
  </p>

  <p>
    <label><%= t('site.locale') %>:</label>
    <span class="value"><%= sanitize current_site.locale %></span>
  </p>

  <p>
    <label><%= t('site.signature') %>:</label>
    <span class="value"><%= current_site.signature_in_html %></span>
  </p>

  <p>
    <label><%= t('site.ssl') %>:</label>
    <span class="value"><%= current_site.ssl? %></span>
  </p>

  <p>
    <label><%= t('site.analytics_code') %>:</label>
    <span class="value"><%= sanitize current_site.analytics_code %></span>
  </p>

  <p>
    <label><%= t('site.feedback_url') %>:</label>
    <span class="value"><%= sanitize current_site.feedback_url %></span>
  </p>

  <p>
    <label><%= t('site.exception_notifications') %>:</label>
    <span class="value"><%= current_site.exception_notifications? %></span>
  </p>

  <p>
    <label><%= t('site.exception_notifications_email') %>:</label>
    <span class="value"><%= sanitize current_site.exception_notifications_email %>
  </p>

  <p>
    <label><%= t('site.exception_notifications_prefix') %>:</label>
    <span class="value"><%= sanitize current_site.exception_notifications_prefix %>
  </p>

  <p>
    <label><%= t('site.shib_enabled') %>:</label>
    <span class="value"><%= current_site.shib_enabled %></span>
  </p>

  <p>
    <label><%= t('site.shib_email_field') %>:</label>
    <span class="value"><%= current_site.shib_email_field %></span>
  </p>

  <p>
    <label><%= t('site.shib_name_field') %>:</label>
    <span class="value"><%= current_site.shib_name_field %></span>
  </p>

  <div class="clearer"></div>

  <div id="site_button" class="button_wrapper">
    <%= link_to ("<span>" + t('button.edit') + "</span>").html_safe, edit_site_path,:class => "basic_button blue_button"%>
  </div>

</div>
