<%content_for :search do%>
  <div id="management-title">
	<h2 class="yellow">-<%= t('management.up') %>-</h2>
  </div>
<%end%>

	<%= render :partial => 'manage/menu' %>
<div id="manage">
  <p>
    <label><%= t('site.name') %>:</label>
    <span><%= sanitize site.name %></span>
  </p>

  <p>
    <label><%= t('site.description') %>:</label> 
    <span><%= sanitize site.description %></span>
  </p>

  <p>
    <label><%= t('site.domain') %>:</label> 
    <%= sanitize site.domain %>
  </p>

  <p>
    <label><%= t('site.ssl') %>:</label> 
    <%= site.ssl? %>
  </p>

  <p>
    <label><%= t('site.email') %>:</label> 
    <%= sanitize site.email %>
  </p>

  <p>
    <label><%= t('site.exception_notifications') %>:</label>
    <%= site.exception_notifications? %>
  </p>

  <p>
    <label><%= t('site.exception_notifications_email') %>:</label>
    <%= sanitize site.exception_notifications_email %>
  </p>
  
  <p>
    <label><%= t('site.signature') %>:</label>
    <%= site.signature_in_html %>
  </p>

  <div id="site_button">
	<%= link_to "<button>"+t('button.edit')+"</button>", edit_site_path %></div>
</div>