= render :partial => 'manage/menu'

= simple_form_for @site, :url => "", :html => { :class => 'single-column' } do |f|
  .left-column
    = f.input :name, :disabled => true
    = f.input :description, :as => :text, :input_html => { :rows => 5 }, :disabled => true
    = f.input :domain, :disabled => true
    = f.input :locale, :collection => available_locales, :disabled => true
    = f.input :timezone, :as => :time_zone, :disabled => true
    = f.input :signature, :as => :text, :input_html => { :rows => 5 }, :disabled => true
    = f.input :ssl, :as => :boolean, :disabled => true
    = f.input :feedback_url, :hint => t('simple_form.hints.site.feedback_url', :default_url => webconf_feedback_index_path), :disabled => true
    = f.input :webconf_auto_record, :as => :boolean, :disabled => true
    = f.input :analytics_code, :disabled => true
    = f.input :shib_enabled, :as => :boolean, :disabled => true
    = f.input :shib_email_field, :disabled => true
    = f.input :shib_name_field, :disabled => true
    = f.input :shib_principal_name_field, :disabled => true
    = f.input :shib_login_field, :disabled => true
    = f.input :shib_env_variables, :disabled => true
    = f.input :ldap_enabled, :disabled => true
    = f.input :ldap_host, :disabled => true
    = f.input :ldap_port, :disabled => true
    = f.input :ldap_user, :disabled => true
    = f.input :ldap_user_password, :as => :showable_password, :disabled => true
    = f.input :ldap_user_treebase, :disabled => true
    = f.input :ldap_username_field, :disabled => true
    = f.input :ldap_email_field, :disabled => true
    = f.input :ldap_name_field, :disabled => true
    = f.input :ldap_filter, :disabled => true
  .right-column
    = f.input :smtp_login, :disabled => true
    = f.input :smtp_password, :as => :showable_password, :disabled => true
    = f.input :smtp_sender, :disabled => true
    = f.input :smtp_domain, :disabled => true
    = f.input :smtp_server, :disabled => true
    = f.input :smtp_port, :disabled => true
    = f.input :smtp_use_tls, :disabled => true
    = f.input :smtp_auto_tls, :disabled => true
    = f.input :smtp_auth_type, :disabled => true
    = f.input :exception_notifications, :as => :boolean, :disabled => true
    = f.input :exception_notifications_email, :disabled => true
    = f.input :exception_notifications_prefix, :disabled => true
    = f.input :chat_enabled, :as => :boolean, :disabled => true
    = f.input :presence_domain, :disabled => true
    = f.input :xmpp_server, :disabled => true
    = f.input :external_help, :disabled => true
    = f.input :require_registration_approval, :as => :boolean, :disabled => true
    = f.input :registration_enabled, :as => :boolean, :disabled => true
    = f.input :events_enabled, :as => :boolean, :disabled => true
  .form-actions
    = link_to t('_other.edit'), edit_site_path, :class => "btn btn-primary"
