#invitation-email
  - unless @invitation.title.blank?
    .field
      %label= t('.message.subject') + ':'
      %span= @invitation.title
  - unless @invitation.description.blank?
    .field
      %label= t('.message.description') + ':'
      %span= @invitation.description

  - Time.use_zone(@time_zone) do
    - unless @invitation.starts_on.nil?
      .field
        %label= t('.message.start') + ':'
        %span= l @invitation.starts_on.in_time_zone
    - unless @invitation.ends_on.nil?
      .field
        %label= t('.message.end') + ':'
        %span= l @invitation.ends_on.in_time_zone
  .field
    - if Mconf::Modules.mod_enabled?('events') && @invitation.target.is_a?(MwebEvents::Event)
      %label= t('.message.url.event') + ':'
    - else
      %label= t('.message.url.other') + ':'
    %span= link_to @invitation.url_with_protocol, @invitation.url_with_protocol
