<% rounded() do %>
	
<title>Add Users to the Space</title>

<h1>Include registered users</h1>
<script>
	function register_admin(){
		document.register_user_form.user_role.value = "Admin";
		document.register_user_form.submit();
	}
	
	function register_user(){
		document.register_user_form.user_role.value = "User";
		document.register_user_form.submit();
	}
	
	function register_invited(){
		document.register_user_form.user_role.value = "Invited";
		document.register_user_form.submit();
	}

</script>
<br/>

	<% form_tag (space_performances_path(@space),  {:name=>'register_user_form',:style => "display: inline;", :method => :post}) do %>
		<div>
			<div>
				<%= select 'users',
				           'id',
				           User.find(:all).collect { |u| [ u.login, u.id ] },
				           {},
				           { :multiple => true,
				             :size     => 10 } %>
				<input type=hidden name="user_role" id="user_role" value="Invited"/>
				<input type=hidden name="from_app" id="from_app" value="true"/>
			</div>
			<%end%>
			
			<div>
				<%if @space.authorizes?(current_user, [:create , :Performance]) && (@space.role_for?(current_user, :name => 'Admin') || current_user.superuser == true)%>
				<%= link_to_function "Register as Admin", "register_admin()" %><br/>
				<%end%>
				<%if @space.authorizes?(current_user, [:create , :Performance]) %>
				<%= link_to_function "Register as User",:onclick=>"register_user()" %><br/>
				<%= link_to_function "Register as Invited",:onclick=>"register_invited()"%><br/>		
				<%end%>
			</div>
			
		</div>
<%end%>


<% rounded() do %>

<div>

	<div>
		<% form_tag(space_performance_path(@space, current_agent),  {:name=>'remove_admin_form',:style => "display: inline;", :method => :delete})  do %>
		
		<div>
			<span>Admin</span>
			<%= select 'users',
			           'id',
			           @space.get_users_with_role("Admin").collect { |u| [ u.login, u.id ] },
			           {},
			           { :multiple => true,
			             :size     => 10 } %>
		    <input type=hidden name="user_role" id="user_role" value="Admin"/>
			<input type=hidden name="remove_from_space" id="remove_from_space" value="true"/>
		<%if @space.authorizes?(current_user, [:delete , :Performance])%>
		<div>
			<%= link_to_function "Remove",:onclick=>"document.remove_admin_form.submit()", :class => "secund" %><br/>	
		</div>
		<%end%>
		</div>	
		
		<%end%>
	</div>

	<div>
		<% form_tag(space_performance_path(@space, current_agent),  {:name=>'remove_user_form',:style => "display: inline;", :method => :delete})  do %>		
		<div>
			<span>User</span>
			<%= select 'users',
			           'id',
			           @space.get_users_with_role("User").collect { |u| [ u.login, u.id ] },
			           {},
			           { :multiple => true,
			             :size     => 10 } %>
		    <input type=hidden name="user_role" id="user_role" value="User"/>
			<input type=hidden name="remove_from_space" id="remove_from_space" value="true"/>
				<%if @space.authorizes?(current_user, [:delete , :Performance])%>
		<div >
			<%= link_to_function "Remove",:onclick=>"document.remove_user_form.submit()", :class => "secund" %><br/>	
		</div>
		<%end%>
		</div>	
		<%end%>
	</div>

	<div>
		<% form_tag(space_performance_path(@space, current_agent),  {:name=>'remove_invited_form',:style => "display: inline;", :method => :delete})  do %>
		<div>
		<span>Invited</span>
			<%= select 'users',
			           'id',
			           @space.get_users_with_role("Invited").collect { |u| [ u.login, u.id ] },
			           {},
			           { :multiple => true,
			             :size     => 10 } %>
		    <input type=hidden name="user_role" id="user_role" value="Invited"/>
			<input type=hidden name="remove_from_space" id="remove_from_space" value="true"/>
		<%if @space.authorizes?(current_user, [:delete , :Performance])%>
		<div>
			<%= link_to_function "Remove",:onclick=>"document.remove_invited_form.submit()", :class => "secund" %><br/>	
		</div>
		<%end%>
		</div>	
		<%end%>
	</div>

</div>

<%end%>

<%= render :partial =>'shared/sidebar_users'%>
