<div class="agenda_edit_hours_entry" >
  <a id="edit_entry_anchor" name="edit_entry_anchor" ></a>
  <% form_for (prepare_for_form(@agenda_entry), :url=>space_event_agenda_agenda_entry_path(@space, @event, @agenda_entry), :html => {:method => :put, :multipart => true, :name => "agenda_entry_edit_form"}) do |f| %>
    <input type="hidden" id="entry_day" name="entry_day" value="<%=@agenda_entry.event_day%>">
    <div class='javascript'>
      <div class="margin-up"><label for="end_time" class="main_text"><%= t('agenda.entry.start_time') %></label><br/>
        <%if @agenda_entry.start_time.past?%>
          <%= f.datetime_select :start_time, :default => @agenda_entry.start_time, :disabled => true%>
        <%else%>
          <%= f.datetime_select :start_time, :default => @agenda_entry.start_time%>
        <%end%>
      </div>
      
			<div class="margin-up"><label for="duration" class="main_text"><%= t('agenda.entry.duration') %></label><br/>
        <select name="agenda_entry[duration]">
          <%= duration_options_for_select 180, 5, @agenda_entry.duration/60.to_i %>
        </select>
      </div>
      
      <input id="agenda_entry_setting_times" type="hidden" size="30" name="agenda_entry[setting_times]" value="true"/>
    </div>
		<div class="margin-up">
      <input type="button" id="edit_entry_button" value="<%=t("button.update")%>" class="basic_button blue_button"/>
      <input type="button" value="<%=t('close')%>" id="<%=@day%>" class="agenda_edit_close basic_button blue_button"/>
    </div>
  <% end %>		
</div>	