<% content_for :javascript do%>
  $("input.close2").click(function(){   
    $(".agenda_edit_entry").empty();
	var id = $(this).attr('id');
    $('#add_buttons'+ id).show();
  }); 
  
  <%if params[:show_day]%>
    <%@day=params[:show_day]%>
	$("#add_buttons"+<%=@day%>).hide();
  <%end%>
  
  var destination_edit = $('#edit_entry_anchor').offset().top;
  $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination_edit}, 1100, function() {
    window.location.hash = '#edit_entry_anchor';
  });
<%end%>

<div class="agenda_edit_entry" >
  <a id="edit_entry_anchor" name="edit_entry_anchor" ></a>
	<div id="agenda_blue_title" class="margin-up">
    <h3 class="blue"><%=t('agenda.entry.edit')%></h3>
  </div>
	
	<div id="new_entry_content">
  <% form_for (prepare_for_form(@agenda_entry), :url=>space_event_agenda_agenda_entry_path(@space, @event, @agenda_entry), :html => {:method => :put, :multipart => true, :name => "agenda_entry_edit_form"}) do |f| %>

    <% content_for :agenda_attachments do%>
      <%= "eventAttachment='#{ generate_template(f,:attachments) }'" %>
    <% end %>
		<%unless @event.past? && @event.is_virtual?%>
      <div class="margin-up"><label for="title" id="agenda_title_label"><%= t('agenda.entry.title') %></label><br/>
	  
        <div class='error' id = "error_title" style = "display:none"><%= escape_javascript(t('agenda.error.omit_title')) %></div>
	  
        <%= f.text_field :title %>
      </div>
    <%end%>
    <div class="margin-up">
      <label for="speakers"><%= t('agenda.entry.speakers') %></label><br/>
      <select id="speakers_name_edit" multiple="multiple" name="speakers[name][]">
        <%if @agenda_entry.speakers!=nil%>
          <%=options_for_select_with_class_selected(@agenda_entry.speakers.split(", "), @agenda_entry.speakers.split(", "))%>
        <%end%>
        <%=options_for_select_with_class_selected(@space.users.map{|u| u.login}, @agenda_entry.actors.map{|u| u.login})%>
      </select>
    </div>
  
    <div class="margin-up"><label for="description"><%= t('description') %></label><br/>
    <%= f.text_area :description, :size => "85x7" %></div> 
 <!--
    <div class="margin-up" id="record_block">
      <%= f.check_box :recording %>
      <%= f.label :recording %>
	<span id="cannot_exclude"> - <%= t('agenda.entry.cannot_exclude') + " " + AgendaEntry::MINUTES_NOT_EXCLUDED.to_s + " " + t('agenda.entry.minutes')%>.</span>
    </div>
 -->
    <div class="margin-up"><label for="attachment"><%= t('attachment.other') %></label><br/></div>
		  <p class ='newAttach2' <%= 'style="display: none;"'%> ><%= t('attachment.add') %></p>

		 <div id="entry_attachment">
        <div class="new_attachment_form">
          <% f.fields_for(:attachments) do |at_form| %>
            <% unless at_form.object.new_record? %>
              <%=image_tag(logo_image_path(at_form.object, :size => at_form.object.thumbnail_size)) %>
              <%=at_form.object.filename %>
              <%= at_form.check_box '_delete' %>
              <%= at_form.label '_delete', t('delete.one') %>
            <% end %>
          <%end %>
        </br>
      </div>
    </div>    
    <span class="newAttachEvent"><%=t('attachment.new') %></span>
	<%if @event.vc_mode==Event::VC_MODE.index(:in_person)%>		
      

    <div class="margin-up">
    	<div id="help" title="<%= h(t('agenda.entry.embed_help')) %>"></div>
			<label for="embedded_video"><%= t('agenda.entry.embedded_video') %></label><br/>
        <%= f.text_area :embedded_video, :size => "25x5" %>
	  </div>
	<%else%>	   
	   <%unless @event.past?%>	
	     <%if @agenda_entry.past?%>
		   <div id="help" title="<%= t('agenda.entry.options.help2') %>"></div>
		 <%elsif @agenda_entry.is_happening_now?%>
		   <div id="help" title="<%= t('agenda.entry.options.help3') %>"></div>
		 <%else%>
		   <div id="help" title="<%= t('agenda.entry.options.help') %>"></div>
		 <%end%>         
		 <div class="margin-up">
           <label for="embedded_video" class="main_text">
               <%= t('agenda.entry.options.title') %>
           </label>
           <br/>
           <div class="checkbox_event">
               <%=f.check_box :streaming,:class=>"icon", :checked => @agenda_entry.streaming?, :disabled => @agenda_entry.past? ? true:false %>
               <label for="entry_streaming" class="label_izquierda">
                   <%= t('agenda.entry.options.streaming') %>
               </label>
           </div>
           <div class="checkbox_event">
               <%=f.check_box :recording,:class=>"icon", :checked => @agenda_entry.recording?, :disabled => (@agenda_entry.past? || @agenda_entry.is_happening_now?) ? true:false %>
               <label for="entry_recording" class="label_izquierda">
                   <%= t('agenda.entry.options.recording') %>
               </label>
           </div>
       </div>
	   <%end%>	
	<%end%>
    <div class="margin-up">
			<input type="button" id="edit_entry_button" value="<%=t("button.finish")%>" class="basic_button blue_button"/>
      <input type="button" value="<%=t('close')%>" id="<%=@day%>" class="agenda_edit_close close2 basic_button blue_button"/>
    </div>
		
  <% end %>
	</div>
  <br/>
</div>


<%content_for :javascript do%>
    <%= yield :agenda_attachments%>
<%end%>

