
<% content_for :javascript do%>

  $('.title_name_and_hour').click(function(){
    $(this).parent().parent().children(".agenda_entry_description").toggle("slow");
  });
  
  
  <%for i in (0..@event.days-1)%>
    $('#date<%=i%>').click(function(){
      <%for e in (0..@event.days-1)%>
        $('#date<%=e%>').removeClass("selected");
        $('#agenda_page<%=e%>').hide();
      <%end%>
      $(this).addClass("selected");
      $('#agenda_page<%=i%>').show();
    });
    
    $('#add_entry<%=i%>').click(function(){
      $('#add_entry<%=i%>').hide();
      $('#new_agenda_entry').show();
      $('#entry_day').val("<%=i%>");
    });
    
  <%end%>
  
  <%if params[:show_day] %>
     $('#date<%=params[:show_day]%>').addClass("selected");
    $('#agenda_page<%=params[:show_day]%>').show();
  <%else%>
    $('#date0').addClass("selected");
    $('#agenda_page0').show();
  <%end%>
  
  
<%end%>

<div id="agenda_tabs">
<ul>
<%for i in (0..@event.days-1)%>
  <li id="date<%=i%>" class="date"><%=(@event.start_date+i.day).strftime("%A %d %b")%></li>
<%end%>
</ul>
</div>

<%for i in (0..@event.days-1)%>
  <div id="agenda_page<%=i%>" class="agenda_tab" style="display:none">
  <%if @event.agenda.agenda_entries_for_day(i).empty?%>
	  <div id="no_entries" class="main_text">
	  	<%=t("event.agenda.no_entries")%>
		  <%if event.authorize?(:update, :to => current_user)%>
		    <a href='#' id="add_entry<%=i%>"><%=t("event.agenda.add_entry")%></a>
      <%end%>
	  </div>
	<%else%>
	  <%for entry in @event.agenda.agenda_entries_for_day(i)%>
      <%=render :partial =>"agenda_entries/show", :locals =>{:agenda_entry => entry, :expanded => @event.agenda.agenda_entries_for_day(i).size < 4 }%>
    <%end%>
    <%if event.authorize?(:update, :to => current_user)%>
      <button class='create-space margin-up' id="add_entry<%=i%>"><%=t("agenda.add_entry")%></button>
    <%end%>
	<%end%>
  </div>  
<%end%>