<div id="agenda_tabs">
  <ul>
    <%for i in (0..@event.days-1)%>
      <li id="date<%=i%>" class="date"><%=(@event.start_date+i.day).strftime("%A %d %b")%></li>
    <%end%>
  </ul>
</div>

<%for i in (0..@event.days-1)%>
  <div id="agenda_page<%=i%>" class="agenda_tab" style="display:none">
    <%array_entries = @event.agenda.agenda_entries_for_day(i)%>
	<%if array_entries.empty?%>
	  <div id="no_entries" class="main_text">
	  	<%=t("event.agenda.no_entries")%>
		  <%if event.authorize?(:update, :to => current_user)%>
		    <a href='#' id="add_entry<%=i%>"><%=t("event.agenda.add_entry")%></a>
      <%end%>
	  </div>
	<%else%>	  
	  <%for entry in array_entries%>
        <%=render :partial =>"agenda_entries/show", :locals =>{:agenda_entry => entry, :expanded => true }%>
      <%end%>
      <%if event.authorize?(:update, :to => current_user)%>
        <div class="margin-up"><button class='basic_button blue_button' id="add_entry<%=i%>"><%=t("agenda.add_entry")%></button></div>
      <%end%>
	<%end%>
  </div>  
<%end%>