<%content_for :headers do%>
  <%= javascript_include_tag 'jquery.timeentry' %>
<%end%>

<h1>New agenda entry</h1>

<% form_for(@agenda_entry, :url=>space_event_agenda_agenda_entries_path(@space, @event), :html => {:method => :post}) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :speakers %><br />
    <%= f.text_field :speakers %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <div class="without_javascript">
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  </div>
 
  <p id="p_record">
    <%= f.check_box :record %>
    <%= f.label :record %>
	<span id="cannot_exclude"> - <%= t('agenda.entry.cannot_exclude') + " " + AgendaEntry::MINUTES_NOT_EXCLUDED.to_s + " " + t('agenda.entry.minutes')%>.</span>

  </p>
  <p>
    <button type="submit" class='create-space' id="add_entry_button"><%=t("button.create")%></button>
  </p>
<% end %>

