<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href='scorm.css' media='screen, projection' rel='stylesheet' type='text/css' />
</head>

<body>
	<div id="space">
		<div id="header">
			<div id="topic_title" align="center"><span><%=entry.title%></span></div><div id="logo"></div>
			<a href="http://www.globalplaza.org"> <img alt="GlobalPlaza" src="vcc-logo-transparente1.png" ></a>
		</div>
		<div id="content">
			<div id="main">
				<div id="wrapper">		
					<div id="event_recordings" class="margin-up">
						<div id="recordings_title"><h3 class="blue"><%=link_to(entry.title,space_event_url(entry.space, entry.event, :show_video=> entry.id))%>   </h3></div>
						<div id="recordings_content">	  
							<div id="videos">
								<div class="video_full">
									<%=entry.video_player("640","480")%>
								</div>  
							</div>
						</div>
					</div>
				</div>		
			</div>
			<div id="summary">
				<div class="doc-attach margin-up">
					<div class="doc-attach-title">
						<h3> <%=t('summary')%> </h3>
					</div> 
					<div class="doc-attach-section">
						<ul>
							<li class="doc"><%=t('agenda.entry.speakers')%>:<span class="unified_user"><%=entry_speakers(entry)%></span></li>
							<li class="doc"><%=t('agenda.entry.description')%>:<span class="main_text"><%=entry.description %></span></li>
						</ul>
					</div>
				</div>	  
			</div>	  			
			<div id="sidebar">
				<div class="doc-attach margin-up">
					<div class="doc-attach-title">
						<h3> <%=t('agenda.entry.documents')%>: </h3>
					</div> 
					<div class="doc-attach-section">
						<ul>							
				         <% entry.attachments.each  do |a| %>
						   <li class="doc">
                             <%= link_to(a.filename , Event.remove_accents(a.filename))%>
						   </li>
	                     <%end %>							
						</ul>
					</div>
				</div>	  
			</div>
		</div>
	</div>
</body></html>
