<div class="agenda_entry margin-up"> <!--class="profile-box"-->
  
	<div class="session_wrapper1">
	  <!--<div class="title_name_and_hour">
      Time:
    </div>-->
    <div class="event_hour">
      <%=t('time.from').capitalize%>
		</div>
	  <div class="event_month">
      <%=h agenda_entry.start_time.strftime("%H:%M") %>
    </div>
		<div class="event_hour">
			<%=t('time.to')%>
		</div>
		<div class="event_month">
			<%=h agenda_entry.end_time.strftime("%H:%M") %>
		</div>
	</div>
	
	<div class="session_wrapper2">
		<div class="entry_title">
	    <ul class="group_links group_agenda_links">
	      <%if agenda_entry.recording? then%>
		      <%=image_tag("icons/16/play.png", :alt => t('agenda.entry.has_video'), :title=>t('agenda.entry.has_video'), :class=>"entry_video_link") %>
	      <%end%>
			
        <%unless agenda_entry.attachments.empty?%> 
          <%=image_tag ("icons/attach.png", :title=>t('agenda.entry.has_attachment'))%>
        <%end%>
			       
        <input type="hidden" class="entry_day" value="<%=day%>">
		  </ul>
	
	    <div class="title_name_and_hour">
	      <!--<span class="entry_hour">
	        <%=h agenda_entry.start_time.strftime("%H:%M") %> <%=t('to')%> <%=h agenda_entry.end_time.strftime("%H:%M") %>
	      </span>-->
	      <span class="entry_name">
	        <%=sanitize(agenda_entry.title) %>
	      </span>
	    </div>
	
	  </div>
	
	  <div class="agenda_entry_description"> 
	    <%if agenda_entry.past? && agenda_entry.recording?%>
		  
	      <div class="video_preview" id="video_preview<%=agenda_entry.id.to_s%>">
	        <%if !agenda_entry.video_thumbnail.present?%>
	          <%=link_to_function image_tag("default_background.jpg", :alt => t('agenda.entry.video')),'request_video('+agenda_entry.id.to_s+')', :class=>"entry_video_link" %>
	        <%else%>
	          <%=link_to_function image_tag(agenda_entry.video_thumbnail, :alt => t('agenda.entry.video')),'request_video('+agenda_entry.id.to_s+')', :class=>"entry_video_link" %>
	        <%end%>
	        <span class="play_icon"></span>
	      </div>	

      <%end%>

	    <ul class="agenda_list_content">
	      <li class="unified_user">  
	        <%=entry_speakers(agenda_entry)%>        
	      </li>
		  
	      <li><%=sanitize(simple_format(agenda_entry.description)) %></li>
	      <% agenda_entry.attachments.each  do |a| %>
	        <%=image_tag(logo_image_path(a, :size => a.thumbnail_size)) %>
			<%= attachment_link(a) %>
	      <%end %>
		</ul>
      <div class="agenda_entry_video">
	      <div class="button_wrapper video_hide video_preview_right" id="video_hide<%=agenda_entry.id.to_s%>" style="display:none">
	        <%=link_to ("<span class='video_list'>Video List</span>"), space_event_path(@space, @event, :show_video => agenda_entry.id), {:id=>"view_recordings",:class=>"grey_button basic_button",:title => t('event.view_related_rec')} %>
	        <%=link_to_function '<span>Hide video</span>','hide_video('+agenda_entry.id.to_s+')', :class=>"hide_video_link grey_button basic_button" %>
	      </div>
		    <div id="agenda_entry_video<%=agenda_entry.id%>" class="agenda_entry_video"></div>
	  </div>
	</div>

  </div>
	  
  <%if params[:edit_entry].to_i== agenda_entry.id%>
    <%@agenda_entry=agenda_entry%>
	<%=render :partial=> "agenda_entries/edit"%>
  <%end%>
  
</div>

<div id="attachment<%=agenda_entry.id%>" class="attachment_show"></div>