<div class="agenda_entry margin-up"> <!--class="profile-box"-->
  <div class="entry_title">
      <ul class="group_links group_agenda_links">
        <%if agenda_entry.recording? then%>
	  	    <%=image_tag("icons/16/play.png", :alt => t('agenda.entry.has_video'), :title=>t('agenda.entry.has_video'), :class=>"entry_video_link") %>
        <%end%>
		<%unless agenda_entry.attachments.empty?%> 
          <%=image_tag ("icons/attach.png", :title=>t('agenda.entry.has_attachment'))%>
        <%end%>
        
		<li><%=link_to_function(image_tag("icons/clock.png", :alt=>t('edit_hours'), :title => t('edit_hours')), "return false;", :class=>"edit_hours_entry", :name=>agenda_entry.id.to_s) if (@event.authorize?(:update, :to => current_user) || agenda_entry.authorize?(:update, :to => current_user)) && agenda_entry.can_edit_hours? %></li>
        <li><%=link_to_function(image_tag("icons/pencil.png", :alt => t('edit'), :title => t('edit')) , "return false;", :class=>"edit_entry", :name=>agenda_entry.id.to_s) if @event.authorize?(:update, :to => current_user) || agenda_entry.authorize?(:update, :to => current_user) %></li>
        <li><%=link_to(image_tag("icons/cancel.png", :alt => t('delete.one')) , space_event_agenda_agenda_entry_path(@space, @event, agenda_entry), :method => :delete, :title => t('agenda.del_entry'), :confirm => t('delete.confirm', :element=>agenda_entry.title)) if (@event.authorize?(:update, :to => current_user) || agenda_entry.authorize?(:delete, :to => current_user)) && !agenda_entry.is_happening_now? %></li>
		<input type="hidden" class="entry_day" value="<%=day%>">
	  </ul>

    <div class="title_name_and_hour">
      <span class="entry_hour">
        <%=h agenda_entry.start_time.strftime("%H:%M") %> <%=t('to')%> <%=h agenda_entry.end_time.strftime("%H:%M") %>
      </span>
      <span class="entry_name">
        <%=sanitize(agenda_entry.title) %>
      </span>
    </div>

  </div>

  <div class="agenda_entry_description" <%if !expanded %> style="display:none" <%end%>> 
    <%if agenda_entry.past? && agenda_entry.recording?%>
	  
      <div class="video_preview" id="video_preview<%=agenda_entry.id.to_s%>">
        <%if !agenda_entry.video_thumbnail.present?%>
          <%=link_to_function image_tag("default_background.jpg", :alt => t('agenda.entry.video')),'request_video('+agenda_entry.id.to_s+')', :class=>"entry_video_link" %>
        <%else%>
          <%=link_to_function image_tag(agenda_entry.video_thumbnail, :alt => t('agenda.entry.video')),'request_video('+agenda_entry.id.to_s+')', :class=>"entry_video_link" %>
        <%end%>
        <span class="play_icon"></span>
      </div>

      <div class="video_hide video_preview_right" id="video_hide<%=agenda_entry.id.to_s%>" style="display:none">
        <%=link_to_function 'Hide video','hide_video('+agenda_entry.id.to_s+')', :class=>"hide_video_link" %>
      </div>
    <%end%>
    <ul class="agenda_list_content">
      <li class="unified_user">  
      	<%=entry_speakers(agenda_entry)%>        
      </li>
	  
      <li><%=sanitize(simple_format(agenda_entry.description)) %></li>
      <% agenda_entry.attachments.each  do |a| %>
        <%=image_tag(logo_image_path(a, :size => a.thumbnail_size)) %>
				<%= link_to(a.filename , space_attachment_path(@space,a, :format => a.format))%>
        
      <%end %>
		     </ul>
    <div id="agenda_entry_video<%=agenda_entry.id%>" >		
    </div>
		
  </div>
  <%unless @event.vc_mode==Event::VC_MODE.index(:in_person)%>
    <div id="entry_options_show">
      <%if agenda_entry.recording?%>
	    <%=image_tag("icons/world.png", :title=> t('agenda.entry.help.recording'), :class=>"icon fade")%>
	  <%end%>
	  <%if agenda_entry.streaming?%>
	    <%=image_tag("right.png", :title=> t('agenda.entry.help.streaming'), :class=>"icon fade")%>
	  <%end%>
	</div>
  <%end%>
  
	<%if params[:edit_entry].to_i== agenda_entry.id%>
	  <%@agenda_entry=agenda_entry%>
	  <%=render :partial=> "agenda_entries/edit"%>
	<%end%>
	
</div>
