<div class="agenda_entry" class="profile-box">

  <div class="entry_title">
      <ul class="group_links group_agenda_links">
        <%if agenda_entry.attachment then%>
	  	<%=image_tag ("icons/attach.png",:title=>agenda_entry.attachment.filename,:class=>"icon")%>
	    <%end%>
        <li><%=link_to_function(image_tag("icons/pencil.png", :alt => t('edit'), :title => t('edit'),:class=>"icon") , "return false;", :class=>"edit_entry", :name=>agenda_entry.id.to_s) if agenda_entry.authorize?(:update, :to => current_user) || event.authorize?(:update, :to => current_user) %></li>
        <li><%=link_to(image_tag("icons/cancel.png", :alt => t('delete.one'),:class=>"icon") , space_event_agenda_agenda_entry_path(@space, @event, agenda_entry), :method => :delete, :title => t('agenda.del_entry'), :confirm => t('delete.confirm', :element=>agenda_entry.title)) if agenda_entry.authorize?(:delete, :to => current_user) || event.authorize?(:update, :to => current_user) %></li>
      </ul>

    <div class="title_name_and_hour">
      <span class="entry_hour">
        <%=h agenda_entry.start_time.strftime("%H:%M") %> <%=t('to')%> <%=h agenda_entry.end_time.strftime("%H:%M") %>
      </span>
      <span class="entry_name">
        <%=h agenda_entry.title %>
      </span>
    </div>

  </div>

  <div class="agenda_entry_description" <%if !expanded %> style="display:none" <%end%>> 
    <ul class="agenda_list_content">
      <li><span class="person_title"><%=t('agenda.entry.speakers')%>:</span>  
      <%isfirst=true%>
      <%agenda_entry.actors.each do |speaker|%>
          <%if isfirst%>
            <%isfirst=false%>
          <%else%>
            ,
          <%end%>
          <%=speaker.authorize?([:read, :profile],:to=> current_user) ? link_to(highlight(speaker.name,@query),user_profile_path(speaker),:class=>"unified_user"): ("<span class='unified_user'>" + sanitize(highlight(speaker.name,@query) + "</span>"))%>
        <%end%>
        <%if agenda_entry.speakers && !agenda_entry.speakers.empty?%>
          <%unless isfirst%>
            ,
          <%end%>
          <%= agenda_entry.speakers %>
        <%end%>
      <li><span class="person_title"><%=t('agenda.entry.description')%>:</span>  <%=h agenda_entry.description %></li>
      <%if agenda_entry.attachment then%>
			  <li><span class="person_title"><%=t('attachment.one')%>:</span> <%= link_to( agenda_entry.attachment.filename , polymorphic_path(agenda_entry.attachment, :format => agenda_entry.attachment.format))%></li>
      <%end%>
    </ul>
  </div>

</div>

