<div class="agenda_edit_entry" >
  <a id="edit_entry_anchor" name="edit_entry_anchor" ></a>
  <div class="agenda_blue_title"><%=t('agenda.entry.edit')%></div>

  <% form_for (prepare_for_form(@agenda_entry), :url=>space_event_agenda_agenda_entry_path(@space, @event, @agenda_entry), :html => {:method => :put, :multipart => true}) do |f| %>

    <div class="margin-up"><label for="title" id="agenda_title_label"><%= t('agenda.entry.title') %></label><br/>
    <%= f.text_field :title %></div>
  
    <div class="margin-up">
      <label for="speakers"><%= t('agenda.entry.speakers') %></label><br/>
      <select id="speakers_name_edit" multiple="multiple" name="speakers[name][]">
        <%if @agenda_entry.speakers!=nil%>
          <%=options_for_select_with_class_selected(@agenda_entry.speakers.split(", "), @agenda_entry.speakers.split(", "))%>
        <%end%>
        <%=options_for_select_with_class_selected(@space.users.map{|u| u.login}, @agenda_entry.actors.map{|u| u.login})%>
      </select>
    </div>
  
    <div class="margin-up"><label for="description"><%= t('description') %></label><br/>
    <%= f.text_area :description, :size => "34x7" %></div>
  
    <input type="hidden" id="entry_day" name="entry_day" value="<%=day_for(@event, @agenda_entry)%>">
  
    <div class='javascript'>
      <%= t('agenda.entry.start_time') %><br/>
      <input type='time' id='start_timepicker_agenda' name='agenda_entry[start_time]' class='timepicker small-font' value='<%= @agenda_entry.start_time.present? ? @agenda_entry.start_time.strftime("%H:%M") : DateTime.now.strftime("%H:%M") %>'><br/>   
      <%= t('agenda.entry.end_time') %><br/>
      <input type='time' id='end_timepicker_agenda' name='agenda_entry[end_time]' class='timepicker small-font' value='<%= @agenda_entry.end_time.present? ? @agenda_entry.end_time.strftime("%H:%M") : DateTime.now.strftime("%H:%M") %>'>
    </div>
 <!--
    <div class="margin-up" id="record_block">
      <%= f.check_box :record %>
      <%= f.label :record %>
	<span id="cannot_exclude"> - <%= t('agenda.entry.cannot_exclude') + " " + AgendaEntry::MINUTES_NOT_EXCLUDED.to_s + " " + t('agenda.entry.minutes')%>.</span>
    </div>
 -->
    <div class="margin-up"><label for="attachment"><%= t('attachment.one') %></label><br/>
      <%if @agenda_entry.attachment then%>
        <%= link_to( @agenda_entry.attachment.filename , polymorphic_path(@agenda_entry.attachment, :format => @agenda_entry.attachment.format, :version => @agenda_entry.attachment.version))%>
				<%=link_to(image_tag("icons/cancel.png", :alt => t('delete.one'),:class=>"icon") , space_event_agenda_agenda_entry_attachment_path(@space, @event, @agenda_entry), :method => :delete, :title => t('attachment.delete'), :confirm => t('delete.confirm', :element=>@agenda_entry.attachment.filename)) if @agenda_entry.authorize?(:delete, :to => current_user) || @event.authorize?(:update, :to => current_user) %>
      <%end%>
			<% f.fields_for :attachment do |attachment_form| %>
        <%= attachment_form.file_field :uploaded_data %>
        <div class="margin-up"><label for="attachment_tags"><%= t('tag.attachment') %></label><br/>
        <%= attachment_form.tags_select()%></div>
      <%end%>
    </div>
  
    <div class="margin-up">
      <button type="submit"><%=t("button.update")%></button>
      <input type="button" value="<%=t('close')%>" class="agenda_edit_close"/>
    </div>
  <% end %>
  <br/>
</div>

