<script type=="text/javascript">
alert("entra");
$(document).ready(function() {
		alert("carga");
  <%= render :partial => 'agenda_entries/timepicker.js.erb' %>
});
</script>

<h1>Edit Agenda Entry</h1>
<% form_for(@agenda_entry, :url=>space_event_agenda_agenda_entry_path(@space, @event, @agenda_entry), :html => {:method => :put}) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :speakers %><br />
    <%= f.text_field :speakers %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <div class='javascript'>
	<%="Start hour"%><br/>
	<input type='time' id='start_timepicker_agenda' name='agenda_entry[start_time]' class='timepicker small-font' value='<%= @agenda_entry.start_time.present? ? @agenda_entry.start_time.strftime("%H:%M") : DateTime.now.strftime("%H:%M") %>'><br/>   
	<%="End hour"%><br/>
	<input type='time' id='end_timepicker_agenda' name='agenda_entry[end_time]' class='timepicker small-font' value='<%= @agenda_entry.end_time.present? ? @agenda_entry.end_time.strftime("%H:%M") : DateTime.now.strftime("%H:%M") %>'>
  </div>


  <p id="p_record">
    <%= f.check_box :record %>
    <%= f.label :record %>
	<span id="cannot_exclude"> - <%= t('agenda.entry.cannot_exclude') + " " + AgendaEntry::MINUTES_NOT_EXCLUDED.to_s + " " + t('agenda.entry.minutes')%>.</span>
  </p>
  <p>
    <%= f.submit 'Update'%>
  </p>
<% end %>
