<%= content_for :headers do%>
  <%= javascript_include_tag 'jquery/jquery.fcbkcomplete' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %>
<%end%>

<%= content_for :javascript do%>

        $("#speakers_name").fcbkcomplete({
    cache: true,
    filter_case: false,
    filter_hide: true,
    firstselected: true,
    filter_selected: true,
    maxshownitems: 4,
    newel: true
  });

        $(".newAttachEvent").click(function () {
          var new_id = new Date().getTime();
          $(this).before( eventAttachment.replace(/NEW_RECORD/g, new_id) );
          $(".newAttach2").show();

          // Applies tags to the attachment
          $("#agenda_entry_attachments_attributes_" + new_id + "__tags").fcbkcomplete({
              cache: true,
              filter_case: false,
              filter_hide: true,
              firstselected: true,
              filter_selected: true,
              maxshownitems: 4,
              newel: true,
              complete_opts: true
          });

        });

  $('.vid_type_radio').change(function(){
        update_video_type_status();
  });

  update_video_type_status = function(){
  if($("#agenda_entry_video_type_0").is(':checked'))  {
          $('#video_upload_div').hide();
      $('#video_embed_div').hide();
        }
        else if($("#agenda_entry_video_type_1").is(':checked'))  {
      $('#video_upload_div').hide();
      $('#video_embed_div').show();
        }
        else if($("#agenda_entry_video_type_2").is(':checked'))  {
      $('#video_embed_div').hide();
          $('#video_upload_div').show();
        }
        else if($("#agenda_entry_video_type_3").is(':checked'))  {
      $('#video_upload_div').hide();
      $('#video_embed_div').hide();
        }
  };

  //call update_video_type_status when loading
  update_video_type_status();
<%end%>

<div class="agenda_edit_entry" >
  <a id="edit_entry_anchor" name="edit_entry_anchor" ></a>
  <div id="agenda_blue_title" class="margin-up">
    <h3 class="blue"><%=t('agenda.entry.edit')%></h3>
  </div>

  <div id="new_entry_content">
    <%= form_for(prepare_for_form(@agenda_entry), :url=>space_event_agenda_agenda_entry_path(@space, @event, @agenda_entry), :html => {:method => :put, :multipart => true, :name => "agenda_entry_edit_form", :autocomplete=>"off"}) do |f| %>

      <%= content_for :agenda_attachments do%>
        <%= "eventAttachment='#{ generate_template(f,:attachments) }'" %>
      <% end %>

      <div class="margin-up"><label for="divider"><%= t('agenda.divider.one') %></label> <%=image_tag('icons/help.png',:class=>'icon tooltipped upwards',:title=>t('tooltip.divider'))%><br/>
        <%= f.text_field :divider %>
      </div>

      <div class="margin-up"><label for="title" id="agenda_title_label"><%= t('agenda.entry.title') %>*</label><br/>
        <div class='error' id = "error_title" style = "display:none"><%= escape_javascript(t('agenda.error.omit_title')) %></div>
        <%= f.text_field :title %>
                                *<%= t('mandatory_field') %>
      </div>

      <div class="margin-up">
        <label for="speakers"><%= t('agenda.entry.speakers') %></label><br/>
        <select id="speakers_name" multiple="multiple" name="speakers[name][]">
          <%if @agenda_entry.speakers!=nil%>
            <%=options_for_select_with_class_selected(@agenda_entry.speakers.split(", "), @agenda_entry.speakers.split(", "))%>
          <%end%>
          <%=options_for_select_with_class_selected(@space.users.map{|u| [u.full_name, u.login]}, @agenda_entry.actors.map{|u| u.login})%>
        </select>
      </div>

      <div class="margin-up"><label for="description"><%= t('description') %></label><br/>
        <%= f.text_area :description, :size => "85x7" %>
      </div>

      <div id="entry_attachment">
        <div class="new_attachment_form">
          <%= fields_for(:attachments) do |at_form| %>
            <% unless at_form.object.new_record? %>
              <%=image_tag(logo_image_path(at_form.object, :size => at_form.object.thumbnail_size)) %>
              <%=at_form.object.filename %>
              <%= at_form.check_box '_delete' %>
              <%= at_form.label '_delete', t('delete.one') %>
            <% end %>
          <%end %>
          </br>
        </div>
      </div>
      <span class="newAttachEvent"><%=t('attachment.add') %></span>

    <%if !@event.is_in_person?%>
      <div class="checkbox_event">
        <%=f.check_box :cm_streaming,:class=>"icon", :checked => @agenda_entry.cm_streaming?, :disabled => @agenda_entry.past? ? true:false %>
        <label for="entry_streaming" class="label_izquierda">
          <%= t('agenda.entry.options.streaming') %>
        </label>
                <%if @agenda_entry.past?%>
                  <%=image_tag('icons/help.png',:class=>'icon tooltipped upwards',:title=>t('tooltip.help4'))%>
                <%elsif @agenda_entry.is_happening_now?%>
                  <%=image_tag('icons/help.png',:class=>'icon tooltipped upwards',:title=>t('tooltip.help5'))%>
                <%end%>
      </div>
   <%end%>

   <%unless @event.recording_type == Event::RECORDING_TYPE.index(:none)%>
      <div id="video_type_radio_buttons" class="margin-up">
        <label for="video_type"><%= t('agenda.entry.label_title_video_type') %></label><br/>
                <% for vid_type in AgendaEntry::VIDEO_TYPE do %>
              <%if @event.is_in_person? && vid_type == :automatic %>
                    <%next%>
                  <%end%>
                  <div><%= f.radio_button :video_type, AgendaEntry::VIDEO_TYPE.index(vid_type), :class=>"vid_type_radio"%>
              <label for="<%=('video_type_' + vid_type.to_s)%>"><%= t( 'agenda.entry.label_' + vid_type.to_s ) %></label>
              <%=image_tag('icons/help.png',:class=>'icon tooltipped upwards',:title=>t('tooltip.label_' + vid_type.to_s)) %>
              </div>
        <% end%>
     </div>
   <%end%>


      <div class="margin-up" id="video_embed_div" style="display:none">
        <div id="help" title="<%= h(t('tooltip.embed_help')) %>" class="tooltipped upwards"></div>
        <label for="embedded_video"><%= t('agenda.entry.embedded_video') %></label><br/>
        <%= f.text_area :embedded_video, :size => "25x5" %>
      </div>



          <div class="margin-up" id="video_upload_div" style="display:none">
                <p> <%=t("agenda.entry.upload_video")%>  </p>
                         <%= f.fields_for(:attachment_video) do |at_form| %>

                         <%= at_form.file_field :uploaded_data %>
                        <div id="break"></div>
                        <% unless at_form.object.new_record? %>
                                      <%= at_form.label '_video_name', t('video_attachment.video_name') %>:
                          <%= at_form.object.filename %>

                          <%= at_form.check_box '_delete' %>
                          <%= at_form.label '_delete', t('video_attachment.delete') %>
                                                  <%=image_tag('icons/help.png',:class=>'icon tooltipped upwards',:title=>t('tooltip.video_upload_explanation')) %>

                        <% end %>

                         <% end %>
          </div>


      <ul class="margin-up event_form_buttons">
        <li><button type="submit" id="edit_entry_button" class="basic_button blue_button" style="float:left"><%=t("button.accept")%></button></li>
                        <%if params[:one_step]%>
                            <input type="hidden" id="one_step" name="one_step" value="true">
                                <li><%=link_to "<span>" + t('button.cancel') + "</span>" , space_event_path(@space, @event), :class=>"blue_button basic_button"%></li>
                        <%else%>
                                <li><%=link_to "<span>" + t('button.cancel') + "</span>" , edit_space_event_agenda_path(@space, @event), :class=>"blue_button basic_button"%></li>
                        <%end%>
      </ul>

    <% end %>



  </div>
  <br/>
</div>


<%= content_for :javascript do%>
    <%= yield :agenda_attachments%>
<%end%>
