<h1>Listing agenda_entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>

<% @agenda_entries.each do |agenda_entry| %>
  <tr>
    <td><%=h agenda_entry.title %></td>
    <td><%=h agenda_entry.description %></td>
    <td><%=h agenda_entry.start_time %></td>
    <td><%=h agenda_entry.end_time %></td>
    <td><%= link_to 'Show', agenda_entry %></td>
    <td><%= link_to 'Edit', edit_agenda_entry_path(agenda_entry) %></td>
    <td><%= link_to 'Destroy', agenda_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New agenda_entry', new_agenda_entry_path %>