.left-column
  #user-info
    .user-avatar
      = logo_image(current_user, :size => '128', :title => current_user.name)
      - if current_user.superuser?
        = icon_superuser(:title => t('admin.one'))
    .user-data
      %span.user-name= current_user.name
      %span.user-email= current_user.email
      %span.user-organization= current_user.profile.organization
    .user-links
      %ul
        %li.last
          = link_to user_path(current_user) do
            = icon_profile()
            = t('profile.one')
        %li
          = link_to edit_user_path(current_user) do
            = icon_account()
            = t('account')
        %li
          = link_to my_activity_path do
            = icon_activity()
            = t('.activity_list')

.right-column
  = render :partial => "webconference_room"
