// Locals:
//   user_spaces (array of Space): spaces the user is a member of

.resource-card.user
  .avatar
    = logo_image(current_user, :size => '300', :title => current_user.name)
    - if current_user.superuser?
      = icon_superuser(:title => t('admin.one'))
  .data
    %span.data-main{ title: current_user.name }= current_user.name
    %span.data-other{ title:current_user.email }= current_user.email
    - unless current_user.profile.organization.blank?
      %span.data-other{ title: current_user.profile.organization }= current_user.profile.organization

#sidebar-menu
  %ul
    %li{ home_sidebar_menu_select_if(:home) }
      = link_to main_app.my_home_path do
        = t(".menu.home")
    %li{ home_sidebar_menu_select_if(:activity) }
      = link_to my_activity_path do
        = t(".menu.activity")
    %li{ home_sidebar_menu_select_if(:meetings) }
      = link_to my_recordings_path do
        = t(".menu.meetings")
    %li{ home_sidebar_menu_select_if(:spaces) }
      = link_to "/my-spaces" do
        = t(".menu.spaces")
