// Locals:
//   user_spaces (array of Space): spaces the user is a member of

= render 'shared/user_card', user: current_user

#sidebar-menu
  %ul
    %li{ home_sidebar_menu_select_if(:home) }
      = link_to main_app.my_home_path do
        = t(".menu.home")
    %li{ home_sidebar_menu_select_if(:activity) }
      = link_to my_activity_path do
        = t(".menu.activity")
    %li{ home_sidebar_menu_select_if(:meetings) }
      = link_to my_meetings_path do
        = t(".menu.meetings")
