// Locals:
//   user_spaces (array of Space): spaces the user is a member of

#user-info
  .user-avatar
    = logo_image(current_user, :size => '300', :title => current_user.name)
    - if current_user.superuser?
      = icon_superuser(:title => t('admin.one'))
  .user-data
    %span.user-name{ title: current_user.name }= current_user.name
    %span.user-email{ title:current_user.email }= current_user.email
    - unless current_user.profile.organization.blank?
      %span.user-organization{ title: current_user.profile.organization }= current_user.profile.organization

%ul#main-sidebar-menu
  %li{ home_sidebar_menu_select_if(:home) }
    = link_to main_app.my_home_path do
      = t(".menu.webconf_room")
  %li{ home_sidebar_menu_select_if(:activity) }
    = link_to my_activity_path do
      = t(".menu.activity")
  %li{ home_sidebar_menu_select_if(:inbox) }
    = link_to main_app.messages_path do
      = t(".menu.inbox", unread: current_user.unread_private_messages.size)
  %li
    = link_to edit_user_path(current_user) do
      = t(".menu.account")
  %li
    = link_to user_path(current_user) do
      = t(".menu.profile")

#user-spaces
  %h3= t(".spaces.title")
  = render "spaces/list_view", :spaces => user_spaces, :user_spaces => user_spaces
  = link_to t(".spaces.view_all"), spaces_path, :class => "btn btn-sm btn-default col-xs-12"
  = link_to t(".spaces.create"), new_space_path, :class => "btn btn-sm btn-primary col-xs-12"
