= page_title t('.title')

%h3.description
  = t('.description')

.interesting-links
  %span= t('.interesting_links')

  %ul
    - if Mconf::Modules.mod_enabled?('events')
      %li= link_to t('.events_list'), events_path
      %span &#149;

    %li= link_to t('.spaces_list'), spaces_path
