#edit-webconference-room

  .modal-header
    = modal_close_button
    %h3= t('bbb_room.edit')

  -# TODO: this should be a form to current_user, with a simple_fields_for :bigbluebutton_room
  -#   inside it.
  = simple_form_for @room, :html => { :class => "single-column" } do |f|
    .modal-body
      = hidden_field_tag :redir_url, @redir_url
      = f.input :private, :hint => t('simple_form.hints.user.bigbluebutton_room.private')
      = f.input :moderator_key, :as => :showable_password, :hint => t('simple_form.hints.user.bigbluebutton_room.moderator_key')
      = f.input :attendee_key, :as => :showable_password, :hint => t('simple_form.hints.user.bigbluebutton_room.attendee_key')
      - unless @room.dial_number.blank?
        = f.input :dial_number, as: :string, disabled: true
        - welcome_msg = t("bigbluebutton_rails.rooms.default_welcome_msg_dial_number", :name => "%%CONFNAME%%", :voice_number => "%%DIALNUM%%")
      - else
        - welcome_msg = t("bigbluebutton_rails.rooms.default_welcome_msg", :name => "%%CONFNAME%%")
      = f.input :welcome_msg, :as => :text, :hint => t('simple_form.hints.user.bigbluebutton_room.welcome_msg'), :placeholder => welcome_msg
      = f.input :default_layout do
        = f.select :default_layout, @room.available_layouts_for_select, :include_blank => t('.layout_empty_option')
      = f.input :presenter_share_only, :as => :boolean, :hint => t('simple_form.hints.user.bigbluebutton_room.presenter_share_only')
      = f.input :auto_start_video, :as => :boolean, :hint => t('simple_form.hints.user.bigbluebutton_room.auto_start_video')
      = f.input :auto_start_audio, :as => :boolean, :hint => t('simple_form.hints.user.bigbluebutton_room.auto_start_audio')
    .modal-footer.form-actions
      = f.button :wrapped, t("save"), :class => "btn btn-primary", :cancel_modal => true
