#edit-webconference-room

  .modal-header
    = modal_close_button
    %h3= t('bbb_room.edit')

  -# TODO: this should be a form to current_user, with a simple_fields_for :bigbluebutton_room
  -#   inside it.
  = simple_form_for @room, :html => { :class => "single-column" } do |f|
    .modal-body
      = hidden_field_tag :redir_url, @redir_url
      = f.input :private, :hint => t('simple_form.hints.user.bigbluebutton_room.private')
      = f.input :moderator_password, :as => :showable_password, :label => t('bbb_room.moderatorPW'), :hint => t('simple_form.hints.user.bigbluebutton_room.moderator_password')
      = f.input :attendee_password, :as => :showable_password, :label => t('bbb_room.attendeePW'), :hint => t('simple_form.hints.user.bigbluebutton_room.attendee_password')
      = f.input :welcome_msg, :as => :text, :hint => t('simple_form.hints.user.bigbluebutton_room.welcome_msg'), :placeholder => t("bigbluebutton_rails.rooms.default_welcome_msg", :name => "%%CONFNAME%%", :voice_number => "%%DIALNUM%%")
      = f.input :default_layout do
        = f.select :default_layout, @room.get_available_layouts, :include_blank => t('.layout_empty_option')
      = f.input :presenter_share_only, :as => :boolean, :hint => t('simple_form.hints.user.bigbluebutton_room.presenter_share_only')
      = f.input :auto_start_video, :as => :boolean, :hint => t('simple_form.hints.user.bigbluebutton_room.auto_start_video')
      = f.input :auto_start_audio, :as => :boolean, :hint => t('simple_form.hints.user.bigbluebutton_room.auto_start_audio')
    .modal-footer.form-actions
      = f.button :wrapped, t("save"), :class => "btn btn-primary", :cancel_modal => true
