- page_title t('home.my')

- home_sidebar_menu_at(:home)

= content_for :sidebar do
  = render "my/sidebar", user_spaces: @user_spaces

= render "shared/webconference_join", room: @room

-# TODO: #1087 make it look good for a new user (no recs, no meetings yet)

#user-meetings-recordings.content-block
  %h3= t(".past_meetings.title")
  -# = icon_info t('recent_activity.tooltip')

  #users-recent-activity-content.content-block-middle
    = render :partial => 'shared/recording_list', locals: { meetings: @meetings, show_authors: false, redir_to: my_home_path }
  .content-block-footer.content-block-footer-fancy
    .content-block-footer-middle
      = link_to t('.past_meetings.view_more'), my_recordings_path

#user-spaces.content-block
  %h3= t(".spaces.title")
  .content-block-middle
    = render "spaces/list_view", :spaces => @user_spaces, :user_spaces => @user_spaces
  .content-block-footer.content-block-footer-fancy
    .content-block-footer-middle
      = link_to t(".spaces.view_all"), spaces_path(my_spaces: true)
      %span= t(".spaces.or")
      - if can?(:create, Space)
        = link_to t(".spaces.create"), new_space_path
