= content_for :page_header do
  = render :partial => "page_header"

= content_for :sidebar do

  -# Inbox
  - unless @private_messages.empty?
    = render_sidebar_content_block('sidebar-inbox') do
      - unread_msgs = current_user.unread_private_messages.size
      .content-block-header
        = link_to t('inbox.unread_text', :count => unread_msgs), messages_path
        - cls = unread_msgs > 0 ? "active"  : ""
        = icon_message(:class => cls)

  -# Upcoming events
  - if mod_enabled?("events")
    = render_sidebar_content_block('sidebar-upcoming-events') do
      .content-block-header
        = icon_event()
        %h4= t('calendar.my')
      .toolbar
        %span.event-timezone
          (#{t('timezone.one')}: GMT#{Time.zone.formatted_offset})
      .content-block-middle
        %span.event-category= t('.events.today')
        = render 'events/sidebar_events_simple', :events => @today_events
        %span.event-category= t('.events.other')
        = render 'events/sidebar_events_simple', :events => @upcoming_events

- unless current_user.confirmed?
  #user-notifications.alert.alert-warning
    = t('.not_confirmed', :url => new_user_confirmation_path).html_safe

#user-space-list.content-block
  .content-block-header
    %h3= t('home.my_spaces')
    = icon_info t('home.my_spaces_tooltip')
    .toolbar
      = link_to new_space_path, :class => "btn btn-mini btn-primary" do
        = t('.create_space')
  .content-block-middle
    = render 'users/user_spaces', :user => current_user, :spaces => @user_spaces
  .content-block-footer
    = link_to t('.view_all_spaces'), spaces_path

#users-recent-activity.content-block
  .content-block-header
    %h3= t('recent.activity')
    = icon_info t('recent_activity.tooltip')
  #users-recent-activity-content.content-block-middle
    = render "users/recent_activity_content", :content => @all_contents, :paginate => false
  .content-block-footer
    = link_to t('.view_all_activity'), my_activity_path
