- page_title t('.title')

- home_navbar_menu_at(:home)
= content_for :navbar_menu do
  = render "my/navbar_menu", user_spaces: @user_spaces

- if current_user.bigbluebutton_room.meetings.count.zero?
  #user-new-home
    %h1= t('.hi', name: current_user.first_name)
    %h2= t('.no_meetings_headline', users_number: Rails.application.config.free_attendee_limit)
    %h2= link_to join_webconf_url(current_user.bigbluebutton_room), join_webconf_url(current_user.bigbluebutton_room)
    #empty-home-logo

- elsif current_user.bigbluebutton_room.meetings.count > 0 && (current_user.subscription.blank? || current_user.subscription.try(:disabled))
  #user-free-home
    %h1= t('.subscribe_promo')

    #cards
      .promo-card
        #content-strip.container-fluid
          #room-users-logo
          %h5.title=t('.rooms_users_title')
          %h5=t('.rooms_users')
      .promo-card
        #content-strip.container-fluid
          #integration-logo
          %h5.title=t('.integration_title')
          %h5=t('.integration')
      .promo-card
        #content-strip.container-fluid
          #personalization-logo
          %h5.title=t('.personalization_title')
          %h5=t('.personalization')
    #plans-button
      = link_to t('.plans_button'), plans_subscription_path, class: "btn btn-primary"

- else
  #user-subscriber-home
    %h1= t('.hi', name: current_user.first_name)
    %h4= t('.subscribed_home')
    %h4= t('.subscribed_link')
    %h4= link_to join_webconf_url(current_user.bigbluebutton_room), join_webconf_url(current_user.bigbluebutton_room)
    #subscriber-home-logo
