- page_title t('.title')
- home_navbar_menu_at(:meetings)

= content_for :navbar_menu do
  = render "my/navbar_menu", user_spaces: @user_spaces

-# if @meetings.count > 0
= content_for :sidebar do
  .sidebar-title= t('.history')
= content_for :sidebar_menu do
  %ul
    %li{ class: "#{'active' if params[:recordedonly] == 'false' }" }
      = link_to my_meetings_path(recordedonly: 'false') do
        - if params[:recordedonly] == 'false'
          = icon_sidebar_arrow
        = t(".recordedonly_false")

    %li{ class: "#{'active' if params[:recordedonly].nil? }" }
      = link_to  my_meetings_path do
        - if params[:recordedonly].nil?
          = icon_sidebar_arrow
        = t(".recordedonly_true")

- cls = @meetings.count <= 0 ? 'empty' : ''
#my-meetings{ class: cls }
  - if @meetings.count > 0

    #my-meetings-list
      = render partial: 'shared/recording_list', locals: { meetings: @meetings, show_authors: false, redir_to: my_meetings_path }

  - else
    -if params[:recordedonly] == 'false'
      %h2= t('.no_meetings_headline')
    -else
      %h2= t('.no_recordings_headline')
    #no-meetings-logo
