<%if request.xhr?%>
  <div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%><%= t('vcc') %></span></div>
<%else%>
  <h3 id="feedback_no_lightbox"><%= t('feedback.send_us') %></h3>
<%end%>

<%form_tag(feedback_index_path()) do -%>
  <div id="feedback_form">
	<p class="note">
		<%= t('feedback.note') %>
	</p>
	<p>
      <label for="subject"><%= t('title') %>:</label>
      <%= text_field_tag 'subject',params[:subject].present? ? params[:subject] : nil, :size => 25 %>
    </p>
	
	<p>
    <label for="body"><%= t('body') %>:</label>
    <%= text_area_tag 'body', params[:body].present? ? params[:body] : nil,:id => "feedback_textarea" %>
  </p>
	
	<%if logged_in?%>		
		<%= hidden_field_tag 'from',current_user.email%>	
	<%else%>		
		<p>
    	<label for="from"><%= t('e-mail.one') %>:</label>
			<%= text_field_tag 'from', params[:from].present? ? params[:from] : nil, :size =>25 %>    
  	</p>
	<%end%>
      <button type="submit" class="basic_button blue_button"><%=t("feedback.send")%></button>
	</div>
<% end -%>
