<% if @room.new_record? %>
  <% url = bigbluebutton_server_rooms_path(@server) %>
<% else %>
  <% url = bigbluebutton_server_room_path(@server, @room) %>
<% end %>

<%= form_for [@server, @room], :url => url do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %><%= t('rooms.form.msg1') %></h2>
      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>
  <div class="field">
    <color><b><%= f.label :name %></b></color><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <color><b><%= f.label :meetingid %></b></color><br />
    <%= f.text_field :meetingid %>
  </div>
  <div class="field">
    <color><b><%= f.label :randomize_meetingid %></b></color><br />
    <%= f.check_box :randomize_meetingid %>
  </div>
  <div class="field">
    <color><b><%= f.label :private %></b></color><br />
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <color><b><%= f.label :attendee_password %></b></color><br />
    <%= f.text_field :attendee_password %>
  </div>
  <div class="field">
    <color><b><%= f.label :moderator_password %></b></color><br />
    <%= f.text_field :moderator_password %>
  </div>
  <div class="field">
    <color><b><%= f.label :welcome_msg %></b></color><br />
    <%= f.text_field :welcome_msg %>
  </div>
  <div class="field">
    <color><b><%= f.label :logout_url %></b></color><br />
    <%= f.text_field :logout_url %>
  </div>
  <div class="field">
    <color><b><%= f.label :dial_number %></b></color><br />
    <%= f.text_field :dial_number %>
  </div>
  <div class="field">
    <color><b><%= f.label :voice_bridge %></b></color><br />
    <%= f.text_field :voice_bridge %>
  </div>
  <div class="field">
    <color><b><%= f.label :max_participants %></b></color><br />
    <%= f.text_field :max_participants %>
  </div><br />
  <div class="actions">
    <button type="submit" class="basic_button medium_button pale_button"><%=t('button.confirm')%></button>
  </div>
<% end %>
