#webconference-invite

  .modal-header
    = modal_close_button
    %h3= "Invite people to a meeting"

  = simple_form_for :invite, :url => send_invitation_bigbluebutton_room_path(room), :html => { :class => 'single-column' } do |f|

    .modal-body
      .invitation-header
        %span= "Inviting people to a meeting in:"
        %span.meeting-url= join_webconf_url(room)

      = f.input :users, :as => :string, :autofocus => true
      = f.input :starts_on, :as => :string
      = f.input :ends_on, :as => :string
      -#= f.text_area :duration, :id => "starts_in", :placeholder => "Starts on..."
      -#= f.select :role, options_for_select([["5 min", "5"], ["Student", "s"]])

      .invitation-message.well
        = icon_help "This is a simplified view of how the message will look like when sent to the recipients."
        %p= t('notifier.webconference_invite_email.message.header', :sender => current_user.name, :email_sender => current_user.email).html_safe
        %p= t('notifier.webconference_invite_email.message.join', :invite_url => join_webconf_url(room)).html_safe
        - if room.private
          %p= t('notifier.webconference_invite_email.message.password', :password => room.attendee_password).html_safe
        %p= t('notifier.webconference_invite_email.message.custom_message', :sender => current_user.name).html_safe
        = f.input :message, :as => :text, :label => false

    .modal-footer.form-actions
      = f.button :wrapped, t('_other.send'), :class => "btn btn-primary", :cancel_modal => true
