%table.room-table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th= t('.table.room_name')
      %th= t('.table.room_meetingid')
      %th= t('.table.links')
  %tbody
    - rooms.each do |room|
      %tr
        %td= link_to room.name, bigbluebutton_room_path(room)
        %td= room.meetingid
        %td
          %ul.access-links
            %li= link_to t('_other.details'), bigbluebutton_room_path(room), :class => "btn btn-mini"
            %li= link_to t('_other.edit'), edit_bigbluebutton_room_path(room), :class => "btn btn-mini"
