<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<% end %>

<%= render :partial => 'manage/menu' %>
<div id="manage">
  <br/>
  <div id="bbbrails_rooms_links">
    <%= link_to 'Back to server', @server, :class => 'basic_button small_button pale_button' %>
    <%= link_to 'Back to server list', bigbluebutton_servers_path, :class => 'basic_button small_button pale_button' %>
    <%= link_to 'New room', new_bigbluebutton_server_room_path, :class => 'basic_button small_button pale_button' %>
  </div>

  <ul id="bbbrails_rooms_list">
    <% @rooms.each do |room| %>
      <li>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:server_id) %></label> <%= room.server_id %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:meetingid) %></label> <%= room.meetingid %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:randomize_meetingid) %></label> <%= room.randomize_meetingid %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:name) %></label> <%= room.name %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:private) %></label> <%= room.private %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:attendee_password) %></label> <%= room.attendee_password %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:moderator_password) %></label> <%= room.moderator_password %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:welcome_msg) %></label> <%= room.welcome_msg %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:logout_url) %></label> <%= room.logout_url %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:dial_number) %></label> <%= room.dial_number %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:voice_bridge) %></label> <%= room.voice_bridge %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:max_participants) %></label> <%= room.max_participants %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:external) %></label> <%= room.external %></div>
        <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:param) %></label> <%= room.param %></div>
        <div class="field"><label>Access</label>
          <%= link_to 'Show', bigbluebutton_server_room_path(@server, room), :class => 'basic_button small_button pale_button' %>
          <%= link_to 'Join', join_bigbluebutton_server_room_path(@server, room), :class => 'basic_button small_button pale_button' %>
          <%= link_to 'Invite', invite_bigbluebutton_server_room_path(@server, room), :class => 'basic_button small_button pale_button' %>
          <%= link_to 'Mobile Join', join_mobile_bigbluebutton_server_room_path(@server, room), :class => 'basic_button small_button pale_button' %>
          <%= link_to 'Edit', edit_bigbluebutton_server_room_path(@server, room), :class => 'basic_button small_button pale_button' %>
          <%= link_to 'End', end_bigbluebutton_server_room_path(@server, room), :confirm => 'Are you sure?', :class => 'basic_button small_button pale_button' %>
          <%= link_to 'Destroy', bigbluebutton_server_room_path(@server, room), :confirm => 'Are you sure?', :method => :delete, :class => 'basic_button small_button pale_button' %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
