= page_title t(".title", :name => @room.name).html_safe

- if bigbluebutton_user.nil?
  - username = params[:user].nil? ? "" : params[:user][:name]
- else
  - username = bigbluebutton_user.name

= render partial: "invite_header", locals: { room: @room, page: 2 }

#webconf-room-invite

  = simple_form_for :bigbluebutton_room, url: join_bigbluebutton_room_path(@room), html: { class: 'single-column' } do |f|

    .form-group
      = hidden_field_tag "user[name]", username
      %h3= username
      - unless user_signed_in?
        .change-name= link_to 'wrong name? change it', join_webconf_path(@room)

    - if @user_role == :key
      .form-group.form-password
        %label= t(".field_password")
        = password_field_tag "user[key]", "", autofocus: true, class: "string form-control"

    .form-actions
      = f.button :submit, t("join"), class: "btn btn-primary"
