= render_page_title t(".title", :name => @room.name).html_safe

- if bigbluebutton_user.nil?
  - username = params[:user].nil? ? "" : params[:user][:name]
- else
  - username = bigbluebutton_user.name

= render :partial => "invite_header", :locals => { :page => 2 }

#webconf-room-invite

  #webconf-room-join

    = simple_form_for :bigbluebutton_room, :url => join_bigbluebutton_room_path(@room), :html => { :class => 'single-column' } do |f|
      .input
        %label= t(".field_name")
        - unless username.blank?
          -# add this so it is submitted even if the input below is disabled
          = hidden_field_tag "user[name]", username
          = text_field_tag "", username, :readonly => true, :disabled => true, :class => "string"
        - else
          = text_field_tag "user[name]", "", :autofocus => true, :class => "string"
      - if @user_role == :password
        .input
          %label= t(".field_password")
          - if username.blank?
            = password_field_tag "user[password]", "", :class => "string"
          - else
            = password_field_tag "user[password]", "", :autofocus => true, :class => "string"
      = f.button :submit, t("join"), :class => "btn btn-primary"
