= render_page_title t(".title", :name => @room.name).html_safe

= render :partial => "invite_header", :locals => { :page => 1 }

#webconf-room-userid

  #webconf-room-userid-member
    .container
      %h3.title= t(".member.title")

      - if current_site.shib_enabled?
        #shib-login
          #login-button
            = link_to shibboleth_path, :class => "btn btn-large btn-danger" do
              = t('.member.click_here').html_safe
            .observation= t('.member.accessible_to').html_safe

  - if current_site.unauth_access_to_conferences?
    #webconf-room-userid-non-member
      .container
        %h3.title= t(".non_member.title")

        = simple_form_for @room, :url => invite_bigbluebutton_room_path(@room), :method => "get" do |f|
          .input
            %label= t(".non_member.name")
            = text_field_tag "user[name]", "", :required => true
          = f.button :submit, t(".non_member.next"), :class => "btn btn-primary"
