<script type="text/javascript">

function ajax_request() {
  $.ajax({
    url: "<%= running_bigbluebutton_room_url(@room, :format => 'json') %>",
    dataType: 'json',
    error: function(xhr_data) {
      $("#meeting_status").html("<request error>.");
      setTimeout(function() { ajax_request(); }, 10000);
    },
    success: function(xhr_data) {
      if (xhr_data.running == 'false') {
        $("#meeting_status").html("<%= t('rooms.not_running') %>");
      } else {
        $("#meeting_status").html("<%= t('rooms.running') %>");
      }
      setTimeout(function() { ajax_request(); }, 10000);
    },
    contentType: 'application/json'
  });
}

$(document).ready(function(){
  ajax_request();
});

</script>

<div id="identification">
  <div class="title">
    <span><%= t('rooms.identified.title', :room => @room.name).html_safe %></span>
  </div>
  <div id="body">
    <div id="left" class="no_border">
      <div class="title_join">
        <p class="status"><%= t('rooms.invite.status') %><span id="meeting_status">-</span> (<a href="javascript:ajax_request();"><%= t('rooms.refresh') %></a>)</p>
      </div>
      <% unless params[:user].nil? %>
        <% nickname = params[:user][:name] %>
      <% end %>
      <%= form_tag join_bigbluebutton_room_path(@room, :mobile => params[:mobile]) do %>
      <div class="field">
        <%= t('rooms.invite.name') %><br />
        <% if bigbluebutton_user.nil? %>
          <%= hidden_field_tag "user[name]", nickname, :size => 30, :readonly => true %>
          <%= text_field_tag "nickname", nickname, :size => 30, :disabled => true, :readonly => true %>
        <% else %>
          <%= text_field_tag "user[name]", bigbluebutton_user.name, :size => 30, :readonly => true, :disabled => true %>
        <% end %>
      </div>
      <% if @user_role == :password %>
      <div class="field">
        <%= t('rooms.invite.cod_room') %><br />
        <%= password_field_tag "user[password]", "", :size => 30 %>
      </div>
      <% end %>
      <br><br><br>
      <div class="submit_area">
        <button type="submit" class="basic_button blue_button"><%=t('join')%></button>
      </div>
      <% end %>
    </div>
    <div id="right">
      <div id="webconf-room-device-type">
        <div class="invite-desktop <%= params[:mobile] ? '' : 'active' %>">
          <div class="description">
            <% unless params[:mobile] %>
            <div class="selected">
              <%= t('rooms.invite.selected') %>
            </div>
            <% end %>
            <div class="text">
              <%= t('rooms.invite.desktop').html_safe %><br>
              <%= t('rooms.invite.click_to_select', :url => invite_bigbluebutton_room_path(@room, :user => {:name => nickname})).html_safe %>
            </div>
          </div>
        </div>
        <div class="invite-mobile <%= params[:mobile] ? 'active' : '' %>">
          <div class="description">
            <% if params[:mobile] %>
            <div class="selected">
              <%= t('rooms.invite.selected') %>
            </div>
            <% end %>
            <div class="text">
              <%= t('rooms.invite.mobile').html_safe %><br>
              <%= t('rooms.invite.click_to_select', :url => invite_bigbluebutton_room_path(@room, :user => {:name => nickname}, :mobile => true)).html_safe %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
