= render_page_title t(".title", :name => @room.name).html_safe

= render :partial => "invite_header", :locals => { :page => 1 }

#webconf-room-userid

  #webconf-room-userid-member
    .container
      %h3.title= t(".member.title")

      = simple_form_for "user", :url => user_session_path do |f|
        .input
          %label= t(".member.email_or_username")
          = text_field_tag "user[login]", "", :required => true, :autofocus => true
          %label= t(".member.password")
          = password_field_tag "user[password]", "", :required => true
        = f.button :submit, t(".login"), :class => "btn btn-primary"

      .action-links
        %ul
          - if current_site.shib_enabled?
            %li= link_to t('.login_federation'), shibboleth_path, :class => 'shibboleth_login'
          - if current_site.certificate_login_enabled?
            %li= certificate_auth_link(t('.login_certificate'),true)

  - if current_site.unauth_access_to_conferences?
    #webconf-room-userid-non-member
      .container
        %h3.title= t(".non_member.title")

        = simple_form_for @room, :url => invite_bigbluebutton_room_path(@room), :method => "get" do |f|
          .input
            %label= t(".non_member.name")
            = text_field_tag "user[name]", "", :required => true
          = f.button :submit, t(".non_member.next"), :class => "btn btn-primary"
