<h3 class="dialog_title">Mobile access to <%= @room.name %></h3>

<div id="webconference_join_mobile_dialog">
  <a href="<%= @join_url %>"><%= t('webconference.join_mobile.direct_link') %></a><br><br/>
  <span><%= t('webconference.join_mobile.scan_code') %></span><br/>
  <img src="<%= qrcode_url(@join_url) %>"/>
</div>



