%h1= t('.title', :room => @room.name)

#webconference-join-mobile-dialog
  = link_to t('.direct_link').html_safe, @join_url, :class => "btn btn-primary btn-block btn-large"
  .join-options
    .download-application
      = link_to mobile_google_play_link, :class => "mobile-download-image" do
        = image_tag mobile_google_play_image, :alt => t('custom_bigbluebutton_rooms.invite.mobile.download'), :title => t('custom_bigbluebutton_rooms.invite.mobile.download')
      %span= t('custom_bigbluebutton_rooms.invite.mobile.details', :url => mobile_google_play_link).html_safe

  .qr-code
    %label= t('.scan_code')
    = image_tag qrcode_url(@qrcode_url, '150x150'), :size => '150x150'
  .sip-number
    %label= t('.sip_number', :number => @room.voice_bridge).html_safe
