%h3
  = t('webconference.join_mobile.title', :room => @room.name)

#webconference_join_mobile_dialog
  = link_to t('webconference.join_mobile.direct_link').html_safe, @join_url
  %br
  %br
  %span
    = t('webconference.join_mobile.scan_code')
    %br
  = image_tag qrcode_url(@qrcode_url, '200x200'), :size => '200x200'
  %span
    %br
    = t('webconference.join_mobile.sip_number', :number => @room.voice_bridge).html_safe



