= render :partial => 'manage/menu'

= content_for :sidebar do
  = render 'shared/webconf_index_links'

%h1= t('.creating_new_room')
= render 'custom_bigbluebutton_rooms/form', :editing => true, :room => @room
