<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%= render :partial => 'manage/menu' %>

<div id="manage">
  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:meeting_name) %>:</label>
    <span class="value"><%= @room.name %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:server_id) %>:</label>
    <span class="value"><%= @room.server_id %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:meetingid) %>:</label>
    <span class="value"><%= @room.meetingid %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:randomize_meetingid) %>:</label>
    <span class="value"><%= @room.randomize_meetingid %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:private) %>:</label>
    <span class="value"><%= @room.private %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:attendee_password) %>:</label>
    <span class="value"><%= @room.attendee_password %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:moderator_password) %>:</label>
    <span class="value"><%= @room.moderator_password %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:welcome_msg) %>:</label>
    <span class="value"><%= @room.welcome_msg %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:logout_url) %>:</label>
    <span class="value"><%= @room.logout_url %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:dial_number) %>:</label>
    <span class="value"><%= @room.dial_number %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:voice_bridge) %>:</label>
    <span class="value"><%= @room.voice_bridge %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:max_participants) %>:</label>
    <span class="value"><%= @room.max_participants %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:external) %>:</label>
    <span class="value"><%= @room.external %></span>
  </p>

  <p>
    <label><%= BigbluebuttonRoom.human_attribute_name(:param) %>:</label>
    <span class="value"><%= @room.param %></span>
  </p>

  <br/><br/>
  <%= link_to t('edit'), edit_bigbluebutton_room_path(@room), :class => 'basic_button medium_button blue_button' %>
  <%= link_to t('join'), join_bigbluebutton_room_path(@room), :class => 'basic_button medium_button blue_button' %>
  <%= link_to 'Invite', invite_bigbluebutton_room_path(@room) %>
  <%= link_to 'Mobile Join', join_mobile_bigbluebutton_room_path(@room) %>
  <%= link_to 'End', end_bigbluebutton_room_path(@room), :confirm => 'Are you sure?' %>
  <%= link_to t('destroy'), bigbluebutton_room_path(@room), :confirm => t('are_you_sure'), :method => :delete, :class => 'basic_button medium_button blue_button' %>
  <br/><br/>
  <%= link_to t('back'), bigbluebutton_rooms_path, :class => 'basic_button small_button blue_button' %>
</div>
