#edit-webconference-room

  .modal-header
    = modal_close_button
    %h3= t('.subtitle')

  = simple_form_for @room, :html => { :class => "single-column",  autocomplete: 'off' } do |f|
    .modal-body

      = hidden_field_tag :redir_url, @redir_url
      = disable_autocomplete_for('bigbluebutton_room[name]')
      = f.input :name, :as => :string, :hint => t('simple_form.hints.user.bigbluebutton_room.name')

      -# - if can?(:change_url, @room)
      -#   = disable_autocomplete_for('bigbluebutton_room[slug]')
      -#   = f.input :slug, :as => :string, :hint => t('simple_form.hints.user.bigbluebutton_room.url'), :wrapper => :vertical_input_group do
      -#     = content_tag :span, webconf_url_prefix, class: "input-group-addon"
      -#     = f.input_field :slug, class: "form-control"

      .form-group.room-visibility
        = f.input :private, hint: t('simple_form.hints.user.bigbluebutton_room.private'), wrapper: :label_only, label: t('.visibility')
        = f.input :private, as: :hidden
        .room-visibility-options
          .btn-group{ 'data-toggle': "buttons" }

            - cls = !@room.private ? 'active' : nil
            .btn.btn-primary{ class: cls, 'data-attr-value': '0' }
              - checked = !@room.private ? 'checked' : nil
              %input{ type: 'radio', checked: checked }
              = t('.public')

            - cls = @room.private ? 'active' : nil
            .btn.btn-primary{ class: cls, 'data-attr-value': '1' }
              - checked = @room.private ? 'checked' : nil
              %input{ type: 'radio', checked: checked }
              = t('.private')

          = f.input :attendee_key, as: :showable_password, label: false

      = f.input :default_layout do
        = f.select :default_layout, @room.available_layouts_for_select, { :include_blank => t('.layout_empty_option') }, { :class => "form-control" }
      - unless @room.dial_number.blank?
        -# = f.input :dial_number, as: :string, disabled: true
        - welcome_msg = t("bigbluebutton_rails.rooms.default_welcome_msg_dial_number", :name => "%%CONFNAME%%", :voice_number => "%%DIALNUM%%")
      - else
        - welcome_msg = t("bigbluebutton_rails.rooms.default_welcome_msg", :name => "%%CONFNAME%%")
      = f.input :welcome_msg, :as => :text, :hint => t('simple_form.hints.user.bigbluebutton_room.welcome_msg'), :placeholder => welcome_msg
    .modal-footer.form-actions
      = f.button :wrapped, t("save"), :cancel_modal => true
