- @server.meetings.each do |room|
  .meeting-wrapper{:class => cycle('thread-odd', 'thread-even') }
    .meeting-title
      - if room.is_running?
        .label.label-info.status
          = t('bigbluebutton_rails.servers.activity.running')
      - else
        .label.label-important.status
          = t('bigbluebutton_rails.servers.activity.not_running')
      - unless room.new_record?
        %ul.meeting-links
          %li= link_to t('_other.details'), bigbluebutton_room_path(room), :class => "btn btn-mini"
      %h3
        = room.name
        = "(ID: #{room.meetingid})"

    .meeting-time
      - unless room.start_time.nil?
        = t('bigbluebutton_rails.servers.activity.started_at', :time => room.start_time.strftime("%F, %R UTC%z"))
        <br/>
      - unless room.end_time.nil?
        = t('bigbluebutton_rails.servers.activity.ended_at', :time => room.end_time.strftime("%F, %R UTC%z"), :forcibly => room.has_been_forcibly_ended)

    .meeting-attendees
      - unless room.attendees.count == 0
        = t('bigbluebutton_rails.servers.activity.participants', :total => room.participant_count, :mods => room.moderator_count)
        %table.table.table-bordered.table-condensed
          %thead
            %tr
              %th= t('bigbluebutton_rails.attendees.role')
              %th= t('bigbluebutton_rails.attendees.id')
              %th= t('bigbluebutton_rails.attendees.name')
          %tbody
            - room.attendees.each do |attendee|
              %tr
                %td= attendee.role
                %td= attendee.user_id
                %td= attendee.full_name
