<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %><%= t('servers.form.msg1') %></h2>
      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>
  <div class="field">
    <b><%= f.label :name %></b><br/>
    <%= f.text_field :name %>
  </div><br/>
  <div class="field">
    <b><%= f.label :url %></b><br/>
    <%= f.text_field :url %>
  </div><br/>

  <div class="field">
    <b><%= f.label :salt %></b><br/>
    <%= f.text_field :salt %>
  </div><br/>
  <div class="field">
    <b><%= f.label :version %></b><br/>
    <%= f.text_field :version %>
  </div><br/>
  <div class="field">
    <b><%= f.label :param %></b><br/>
    <%= f.text_field :param %>
  </div><br/>
  <div class="actions">
    <button type="submit" class="basic_button medium_button pale_button"><%=t('button.confirm')%></button>
  </div>
<% end %>
