-# locals:
-#   editing (boolean): allow editing of this form?
-#   server (Server): the target bigbluebutton_server model

= simple_form_for server, :html => { :class => 'single-column' } do |f|
  - if !editing
    = f.input :id, :disabled => true
  = f.input :name, :disabled => !editing
  = f.input :url, :disabled => !editing
  = f.input :secret, :disabled => !editing
  = f.input :version, :disabled => true
  = f.input :param, :disabled => !editing
  - if editing
    - if server.new_record?
      - cancel_route = nil
    - else
      - cancel_route = bigbluebutton_server_path(server)
    = f.button :wrapped, :cancel => cancel_route, :value => t("_other.save")
  - else
    - unless server.new_record?
      .form-actions
        = link_to t('_other.edit'), edit_bigbluebutton_server_path(server), :class => "btn btn-primary"
