.webconf-server{:class => "#{cycle("thread-even" , "thread-odd")}"}
  .server-links
    %label= t('bigbluebutton_rails.servers.index.access_links')
    = link_to t('bigbluebutton_rails.view_rooms'), rooms_bigbluebutton_server_path(server)
    = link_to t('bigbluebutton_rails.activity_monitor'), activity_bigbluebutton_server_path(server)
    = link_to t('destroy'), bigbluebutton_server_path(server), :confirm => t('are_you_sure'), :method => :delete
    = link_to t('edit'), edit_bigbluebutton_server_path(server)
  = simple_form_for server, :html => { :class => 'form-inline' } do |f|
    = f.input :name, :required => false, :disabled => true
    = f.input :url, :required => false, :disabled => true
    = f.input :salt, :required => false, :disabled => true
    = f.input :version, :required => false, :disabled => true
    = f.input :param, :required => false, :disabled => true
