= render :partial => 'manage/menu'

= content_for :sidebar do
  = render 'custom_bigbluebutton_servers/server_links', :server => @server

%h1= t('.title')

%h3= t('.information')
%ul.server-information
  %li= @server.name
  %li= @server.url

#server-activity-wrapper
  %h3
    = t('.activity')
    .comments
      = "(#{t('.automatically_updated')})"
    .label.label-important.label-updated= t(".updated")
  #server-activity-content{ :"data-update-url" => activity_bigbluebutton_server_path(@server, :update_list => true) }
    = render :partial => 'activity_list'
