<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%= render :partial => 'manage/menu' %>

<div id="manage">
  <%= render 'form' %>
  <br/>
  <%= link_to t('back'), bigbluebutton_servers_path, :class => 'basic_button blue_button small_button' %>
</div>
