<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<% end %>

<%= render :partial => 'manage/menu' %>

<div id="manage">
  <br/>
  <div id="bbbrails_servers_links">
    <%= link_to("View rooms list", bigbluebutton_rooms_path, :class => 'basic_button medium_button blue_button') %>
    <%= link_to(t('bigbluebutton_rails.servers.index.new_server'), new_bigbluebutton_server_path, :class => 'basic_button medium_button blue_button') %>
    <%= link_to("New room", new_bigbluebutton_room_path, :class => 'basic_button medium_button blue_button') %>
  </div>

  <% @servers.each do |server| %>
    <div class="bbbrails_server">
      <label><%= BigbluebuttonServer.human_attribute_name(:name) %></label> <span class="value"><%= server.name %></span>
      <label><%= BigbluebuttonServer.human_attribute_name(:url) %></label> <span class="value"><%= server.url %></span>
      <label><%= BigbluebuttonServer.human_attribute_name(:salt) %></label> <span class="value"><%= server.salt %></span>
      <label><%= BigbluebuttonServer.human_attribute_name(:version) %></label> <span class="value"><%= server.version %></span>
      <label><%= BigbluebuttonServer.human_attribute_name(:param) %></label> <span class="value"><%= server.param %></span>

      <label><%= t('bigbluebutton_rails.servers.index.access_links') %></label>
      <div class="value">
        <%= link_to t('bigbluebutton_rails.servers.index.view_rooms'), rooms_bigbluebutton_server_path(server), :class => 'basic_button small_button blue_button' %>
        <%= link_to t('bigbluebutton_rails.servers.index.activity_monitor'), activity_bigbluebutton_server_path(server), :class => 'basic_button small_button blue_button' %>
        <%= link_to t('edit'), edit_bigbluebutton_server_path(server), :class => 'basic_button small_button blue_button' %>
        <%= link_to t('destroy'), bigbluebutton_server_path(server), :confirm => t('are_you_sure'), :method => :delete, :class => 'basic_button small_button blue_button' %>
      </div>

      <div class="clearer"></div>
    </div>
  <% end %>
</div>
