= content_for :sidebar do
  = render 'shared/webconf_index_links'

%h3= t('.list_of_servers')
%table.server-table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th= t('.table.server_name')
      %th= t('.table.url')
      %th= t('.table.links')
  %tbody
    - @servers.each do |server|
      %tr
        %td= link_to server.name, bigbluebutton_server_path(server)
        %td= server.url
        %td
          %ul.access-links
            %li= link_to t('_other.edit'), edit_bigbluebutton_server_path(server), :class => "btn btn-mini"
