= render :partial => 'manage/menu'

= content_for :sidebar do
  = render 'shared/webconf_index_links'

%h3= t('.creating_new_server')
= render 'custom_bigbluebutton_servers/form', :editing => true, :server => @server
