<script type="text/javascript">
  $(document).ready(function() {
    $("#publish-recordings-input").keyup(function() {
      var recordings = $("#publish-recordings-input").val();
      var url = "<%= publish_recordings_bigbluebutton_server_path(@server) %>";
      if (recordings.trim() != "") {
        url = url + "?recordings=" + recordings;
      }
      $("#publish-recordings-link").attr("href", url);
    });
    $("#unpublish-recordings-input").keyup(function() {
      var recordings = $("#unpublish-recordings-input").val();
      var url = "<%= unpublish_recordings_bigbluebutton_server_path(@server) %>";
      if (recordings.trim() != "") {
        url = url + "?recordings=" + recordings;
      }
      $("#unpublish-recordings-link").attr("href", url);
    });
  });
</script>

<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%= render :partial => 'manage/menu' %>

<div id="manage">
  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:id) %>:</label>
    <span class="value"><%= @server.id %></span>
  </p>

  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:name) %>:</label>
    <span class="value"><%= @server.name %></span>
  </p>

  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:url) %>:</label>
    <span class="value"><%= @server.url %></span>
  </p>

  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:salt) %>:</label>
    <span class="value"><%= @server.salt %></span>
  </p>

  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:version) %>:</label>
    <span class="value"><%= @server.version %></span>
  </p>

  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:param) %>:</label>
    <span class="value"><%= @server.param %></span>
  </p>

  <br/><br/>
  <label>Recordings:</label>
  <div style="clear:both">
    <%= link_to t('bigbluebutton_rails.servers.recordings.fetch'), fetch_recordings_bigbluebutton_server_path(@server), :confirm => 'Are you sure?', :method => :post %>
  </div>
  <div style="clear:both">
    <%= text_field_tag t('bigbluebutton_rails.servers.recordings.publish'), '', :id => 'publish-recordings-input', :size => 10 %>
    <%= link_to 'Publish recordings', publish_recordings_bigbluebutton_server_path(@server), :confirm => 'Are you sure?', :method => :post, :id => 'publish-recordings-link' %>
  </div>
  <div style="clear:both">
    <%= text_field_tag t('bigbluebutton_rails.servers.recordings.unpublish'), '', :id => 'unpublish-recordings-input', :size => 10 %>
    <%= link_to 'Unpublish recordings', unpublish_recordings_bigbluebutton_server_path(@server), :confirm => 'Are you sure?', :method => :post, :id => 'unpublish-recordings-link' %>
  </div>

  <br/><br/>
  <%= link_to t('edit'), edit_bigbluebutton_server_path(@server), :class => 'basic_button medium_button blue_button' %>
  <%= link_to t('bigbluebutton_rails.view_rooms'), rooms_bigbluebutton_server_path(@server), :class => 'basic_button medium_button blue_button' %>
  <%= link_to t('bigbluebutton_rails.view_recordings'), recordings_bigbluebutton_server_path(@server), :class => 'basic_button medium_button blue_button' %>
  <%= link_to t('bigbluebutton_rails.activity_monitor'), activity_bigbluebutton_server_path(@server), :class => 'basic_button medium_button blue_button' %>
  <%= link_to t('destroy'), bigbluebutton_server_path(@server), :confirm => t('are_you_sure'), :method => :delete, :class => 'basic_button medium_button blue_button' %>
  <%= link_to t('room.other'), bigbluebutton_rooms_path, :class => 'basic_button medium_button blue_button' %>

  <br/><br/>
  <%= link_to t('back'), bigbluebutton_servers_path, :class => 'basic_button small_button blue_button' %>
</div>
