<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<%= render :partial => 'manage/menu' %>

<div id="manage">
  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:name) %>:</label>
    <span class="value"><%= @server.name %></span>
  </p>

  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:url) %>:</label>
    <span class="value"><%= @server.url %></span>
  </p>

  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:salt) %>:</label>
    <span class="value"><%= @server.salt %></span>
  </p>

  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:version) %>:</label>
    <span class="value"><%= @server.version %></span>
  </p>

  <p>
    <label><%= BigbluebuttonServer.human_attribute_name(:param) %>:</label>
    <span class="value"><%= @server.param %></span>
  </p>

  <br/><br/>
  <%= link_to t('edit'), edit_bigbluebutton_server_path(@server), :class => 'basic_button medium_button blue_button' %>
  <%= link_to 'View rooms', rooms_bigbluebutton_server_path(@server), :class => 'basic_button medium_button blue_button' %>
  <%= link_to 'Activity monitor', activity_bigbluebutton_server_path(@server) %>
  <%= link_to 'Destroy', bigbluebutton_server_path(@server), :confirm => t('are_you_sure'), :method => :delete %>
  <%= link_to t('room.other'), bigbluebutton_rooms_path, :class => 'basic_button medium_button blue_button' %>
  <br/><br/>
  <%= link_to t('back'), bigbluebutton_servers_path, :class => 'basic_button small_button blue_button' %>
</div>
