#navbar

  #main-logo
    %a.title{:href => root_path}= t('mconf')
    %span.subtitle .org

  %ul#navbar-left-links
    - if logged_in?
      %li
        = image_tag('icons/my-home-16x16.png', :size => '16x16', :class => 'icon')
        = link_to t('home.my'), home_path
      %li= link_to t('inbox.one', :checked => current_user.unread_private_messages), user_messages_path(current_user)
      - if current_user.superuser?
        %li= link_to t('space.all'), spaces_path
        %li.last= link_to t('manage'), site_path
      - else
        %li.last= link_to t('space.all'), spaces_path

  %ul#navbar-right-links
    - if logged_in?
      %li.last.user-info.dropdown
        .user-avatar
          = link_logo(current_user, :size => "22", :url => user_path(current_user), :title => current_user.name).html_safe
          - if current_user.superuser?
            .superuser-icon.tooltipped.downwards{:title => t('superuser')}
        .user-name
          %span= current_user.name
    - else
      %li.last= link_to t('login.one'), login_path
      %li= link_to t('register.one'), signup_path

-# TODO: dropdown with info about the user
-#
-# %li= link_to t('profile.one'), user_path(current_user)
-# %li= link_to t('account'), edit_user_path(current_user)
-# %li= link_to t('logout', :user => current_user.name), logout_path
-#
-#  - if logged_in?
-#    #page-header-right
-#      .user-avatar
-#        = link_logo(current_user, :size => "64", :url => user_path(current_user), :title => current_user.name).html_safe
-#        - if current_user.superuser?
-#          .superuser-icon.tooltipped.leftwards{:title => t('superuser')}
-#      .user-info
-#        %span.main-info= current_user.name
-#        %span
-#          = link_to(current_user.email, "mailto: #{current_user.email}")
-#        %span= current_user.profile.organization unless current_user.profile.organization.nil?
