#navbar-logo
  - url = user_signed_in? ? main_app.my_home_path : main_app.root_path
  -# %a.title{:href => url}= current_site.name
  %a.title{:href => url}
    -# = image_tag "logos/mconf-color-transp.png", size: "54x28"
    = image_tag "logos/mconf-white-transp.png", size: "54x28"
    -#= image_tag "logos/mconf-ico-color-transp.png", size: "32x32"

#navbar-left
  %ul
    - if user_signed_in?
      %li
        = link_to main_app.my_home_path do
          = t('home.my')
      - if mod_enabled?("spaces")
        %li= link_to t('space.all'), main_app.spaces_path
      - if mod_enabled?("events")
        %li= link_to t('.events'), events_path
      - if can?(:manage, @site)
        %li
          = link_to main_app.manage_path do
            = t('.manage')
    - else
      -# for anonymous users
      %li= link_to t('space.all'), main_app.spaces_path
      - if mod_enabled?("events")
        %li= link_to t('.events'), events_path

#navbar-right
  %ul#navbar-right-links
    - if user_signed_in?
      %li.last.dropdown
        .chip.dropdown-user.dropdown-toggle{ data: { toggle: 'dropdown' } }
          = logo_image(current_user, size: '32', class: "logo-user")
          %span.username= current_user.profile.first_names
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          %li
            .observation= current_user.name
          %li.divider{ role: 'separator' }
          %li= link_to t(".account"), main_app.edit_user_path(current_user)
          %li= link_to t(".profile"), main_app.edit_user_profile_path(current_user)
          %li.divider{ role: "separator"}
          %li= link_to t('logout', :user => current_user.name), main_app.logout_path

    - else
      - if current_site.local_auth_enabled? || current_site.ldap_enabled?
        %li.last= link_to t('.login'), main_app.login_path
      - if current_site.registration_enabled?
        %li= link_to t('.register'), main_app.register_path
