#main-logo
  - url = user_signed_in? ? main_app.my_home_path : main_app.root_path
  %a.title{:href => url}= current_site.name

%ul#navbar-left-links
  - if user_signed_in?
    %li
      = link_to main_app.my_home_path do
        = icon_home()
        = t('home.my')
    %li
      = link_to main_app.messages_path do
        = t('.inbox')
        - if current_user.unread_private_messages.size > 0
          .label.label-important= current_user.unread_private_messages.size
    %li= link_to t('space.all'), main_app.spaces_path
    - if mod_enabled?("events")
      %li= link_to t('.events'), mweb_events.events_path
    - if current_user.superuser?
      %li
        = link_to main_app.site_path do
          = icon_superuser()
          = t('.manage')

  - else
    -# for anonymous users
    %li= link_to t('space.all'), main_app.spaces_path
    - if mod_enabled?("events")
      %li= link_to t('.events'), mweb_events.events_path

-# the right menu is not shown in the home page
- if at_home?
  %ul#navbar-right-links
    %li.last
      = link_to main_app.logout_path do
        = icon_logout()
        = t('logout', :user => current_user.name)
- else
  %ul#navbar-right-links
    - if user_signed_in?
      %li.dropdown.user-info-dropdown.last

        -# small user information in the navbar
        .user-info.dropdown-toggle{ :"data-toggle" => "dropdown" }
          .user-avatar
            = link_logo_image(current_user, :size => '32', :url => main_app.user_path(current_user), :title => current_user.name, :class => "logo-user")
          %span.user-name= current_user.name
          %b.caret

        -# dropdown menu opened when clicking in the dropdown
        .dropdown-menu.arrow-right
          .user-info-big
            .user-avatar
              = link_logo_image(current_user, :size => '128', :url => main_app.user_path(current_user), :title => current_user.name, :class => "logo-user")
            .user-data
              = link_to(current_user.name, main_app.user_path(current_user))
              = link_to(current_user.email, "mailto: #{current_user.email}")
              %span= current_user.profile.organization unless current_user.profile.organization.nil?
          .user-links
            %ul
              %li= link_to t('logout', :user => current_user.name), main_app.logout_path
              %li= link_to t('account'), main_app.edit_user_path(current_user)
              %li
                = t('profile.one') + ":"
                %span
                  = link_to t('view'), main_app.user_path(current_user)
                  = "/ "
                  = link_to t('edit'), main_app.edit_user_profile_path(current_user)

    - else
      %li.last= link_to t('.login'), main_app.login_path
      %li= link_to t('.register'), main_app.register_path
