<div id="footer">

  <div class="float_left">
    <ul>
      <li><span id="trade_mark"><%= t('mconf') %></span> <%= t('all_rights_reserved') %>.</li>
      <li>-</li>
      <li>
        <div id="support_select">
          <%= link_to(image_tag("icons/help.png", :class=>"icon") + " " + t('help'), help_path) %>
        </div>
      </li>
      <li>-</li>
      <li><%= link_to(t('feedback.send_us'), new_feedback_path(), :id => "feedback_link" )%></li>
    </ul>
  </div>

  <div class="float_right" style="clear:right;">
    <%= t('footer.built_on_top_of').html_safe %>
  </div>

  <div class="float_left" style="clear:left;">
    <ul>
      <li><%= t('footer.find_us') %>:</li>
      <li><a href="http://www.inf.ufrgs.br/prav/gtmconf"><%= t('footer.website') %></a></li>
      <li>-</li>
      <li><a href="http://code.google.com/p/mconf"><%= t('footer.gcode') %></a></li>
      <li>-</li>
      <li><a href="https://github.com/mconf"><%= t('footer.github') %></a></li>
    </ul>
  </div>

  <div class="float_right" style="clear:right;">
    <div id="application_revision">
      <%= t('version.one') + ": " %>
      <a href="<%= github_link_to_revision(application_revision) %>">
        <%= application_version + "/" + application_branch + "/" + application_revision %>
      </a>
    </div>
  </div>

  <div class="clearer"></div>

  <div class="languages">
    <%= t('translate.change') %>:
    <% links = [] %>
    <% for locale in (I18n.available_locales) -%>
      <% image_tag("flags/" + locale.to_s + ".png", :title=>locale.to_s) %>
      <% links << link_to(t('locales.' + locale.to_s), session_locale_path(:new_locale => locale.to_s), :method => :post) %>
    <% end -%>
    <%= links.join(" - ").html_safe %>
  </div>

</div>
