#footer
  #footer-left
    #footer-copyright
      = t('.copyright', site: current_site.name, year: Time.now.year)
    #footer-powered
      = image_tag "logos/mconf-ico-color-transp.png", size: "14x14"
      = t('.links.powered_by')
      = link_to "mconf.org", "http://mconf.org"
      - if user_signed_in? && current_user.superuser?
        %span.current-version
          = ' - ' + t('.current_version') + ': '
          = application_version
          = link_to github_link_to_revision(application_revision) do
            = application_revision

  #footer-right

    - if available_locales.count > 1
      #footer-languages.dropup
        .btn.btn-default.dropdown-toggle{ data: { toggle: 'dropdown' } }
          - locale = I18n.locale
          - flag = image_tag("flags/" + locale.to_s + ".png", title: locale.to_s)
          = flag + ' ' + locale_i18n(locale)
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          - available_locales.each do |locale|
            - if locale.to_s != I18n.locale.to_s
              %li
                - flag = image_tag("flags/" + locale.to_s + ".png", title: locale.to_s)
                - name = locale_i18n(locale)
                = link_to main_app.session_locale_path(lang: locale.to_s), method: :post do
                  = flag + ' ' + name

    %ul#footer-links
      - unless current_site.external_help.blank?
        %li= link_to(t('.links.help'), current_site.external_help)
      - if user_signed_in?
        %li= link_to t('.links.feedback'), main_app.new_feedback_path, :id => "feedback_link", :class => "open-modal"
