- cls_sidenav = sidenav_visible? ? 'with-sidenav' : 'without-sidenav'
#footer{ class: cls_sidenav }
  #footer-left
    %ul#footer-links
      - unless current_site.terms_url.blank?
        %li= link_to(t('.links.terms').upcase, current_site.terms_url)
      - unless current_site.external_help.blank?
        %li= link_to(t('.links.help').upcase, current_site.external_help)
      - if user_signed_in?
        %li= link_to t('.links.feedback').upcase, main_app.new_feedback_path, :id => "feedback_link", :class => "open-modal"

  #footer-right

    - if available_locales.count > 1
      #footer-languages.dropup
        .btn.btn-default.dropdown-toggle{ data: { toggle: 'dropdown' } }
          - locale = I18n.locale
          - flag = image_tag("flags/" + locale.to_s + ".png", title: locale.to_s, width: "22px", height: "15px")
          = flag + ' ' + locale_i18n(locale).mb_chars.upcase
          %span= icon_dropdown_up(options={class: 'hidden'})
          %span= icon_dropdown_down
        %ul.dropdown-menu.dropdown-menu-right
          - available_locales.each do |locale|
            - if locale.to_s != I18n.locale.to_s
              %li
                - flag = image_tag("flags/" + locale.to_s + ".png", title: locale.to_s, width: "22px", height: "15px")
                - name = locale_i18n(locale)
                = link_to main_app.session_locale_path(lang: locale.to_s), method: :post do
                  = flag + ' ' + name.mb_chars.upcase
