
<div id="footer">
  <ul>
  	<li id="trade_mark"><%=image_tag("bola_global_peque.png",:class=>"icon")%><%= t('vcc') %></li>
	<li>-</li>
	<li><%= t('all_rights_reserved') %></li>
	<li>-</li>
	<li><%=link_to(t('help'), root_path)%></li>
	<li>-</li>
	<li><%=link_to(t('support.one'), root_path)%></li>
	<li>-</li>
	<li><%=link_to(t('feedback.send_us'), new_feedback_path(), :id => "feedback_link" )%></li>	
  </ul>
</div>
