
<div id="footer">
  <ul>
  	<li id="trade_mark"><%=image_tag("bola_global_peque.png",:class=>"icon")%><%= t('vcc') %></li>
	<li>-</li>
	<li><%= t('all_rights_reserved') %></li>
	<li>-</li>
	<li><%=link_to(t('help'), root_path)%></li>
	<li>-</li>
	<li><%=link_to(t('support'), root_path)%></li>
	<li>-</li>
	<li><%=link_to(t('admin.one'), root_path)%></li>	
  </ul>
</div>
