#footer-wrapper
  #footer
    #footer-content
      #footer-left.col-xs-7
        %ul
          %li= t('.copyright', site: current_site.name, year: Time.now.year)
          - unless current_site.external_help.blank?
            %li= link_to(t('.links.help'), current_site.external_help)
          - if user_signed_in?
            %li= link_to t('.links.feedback'), main_app.new_feedback_path, :id => "feedback_link", :class => "open-modal"
          %li= link_to t('.links.statistics'), main_app.show_statistics_path
        #footer-powered
          = image_tag "logos/mconf-ico-color-transp.png", size: "14x14"
          = t('.links.powered_by')
          = link_to "mconf.org", "http://mconf.org"
          %span.current-version
            = "&#149;".html_safe
            = t('.current_version') + ": "
            = link_to github_link_to_revision(application_revision) do
              = application_version + "/" + application_branch + "/" + application_revision

      #footer-right.col-xs-5
        - available_locales.each_slice(3) do |locales|
          %ul
            - locales.each do |locale|
              %li
                - flag = image_tag("flags/" + locale.to_s + ".png", :title => locale.to_s)
                - text = t('locales.' + locale.to_s)
                - link = link_to(text, main_app.session_locale_path(:l => locale.to_s), :method => :post)
                = (flag + " " + link).html_safe
