
<div id="footer">
	
  <ul>
  	<li id="trade_mark"><%=image_tag("bola_global_peque.png",:class=>"icon")%><%= t('vcc') %></li>
	<li>-</li>
	<li><%= t('all_rights_reserved') %></li>
	<li>-</li>
	<li><%=link_to(t('help_support'), help_path)%></li>
<!--
	<li>-</li>
	<li><%=link_to(t('help'), help_path)%></li>
	<li>-</li>
	<li><%=link_to(t('support.one'), new_feedback_path(), :id => "feedback_link" )%></li>
-->
	<li>-</li>
	<li><%=link_to(t('feedback.send_us'), new_feedback_path(), :id => "feedback_link" )%></li>
	<li>-</li>
	<li><%=link_to(t('about_global'),"http://www.global-project.eu")%></li>
	<li>-</li>
	<li>
		<div id="language_select">
		  <%=link_to ("<span>" + t('language') + "</span>"),'dropup', {:id=>"language_select", :class=>"language_select",:title => t('translate.change')} %>
		  <ul id="language_menu" style="display:none">					  
		      <% for locale in (I18n.available_locales) -%>
		      <li><%= link_to image_tag("flags/" + locale.to_s + ".png", :title=>locale.to_s) + " " + locale.to_s, session_locale_path(:new_locale => locale.to_s), :method => :post %> </li>  
		      <% end -%>
		  </ul>
		</div>
	</li>
  </ul>
</div>


<!--
<div id="footerFront">
	<div class="banner_footer">
		<a href="index.htm"><img src="/images/UE.gif" id="logo_UE"  alt="" /></a>
		<span>Virtual Conference Centre 2010 </span>
		
         <%=link_to("About Us","http://www.global-project.eu", :class=>"a_border")%>
         <a href="#" class="a_border" >Advertising</a>
         <a href="#" class="a_border" >Developers</a>
         <a href="#" class="a_border" >Conditions</a>	         	         	         
         <a href="#" class="a_border" >Find Videconferences</a>
         <a href="#" class="a_border" >Privacy</a>	         	         
         <%=link_to(t('help'), help_path)%>	 
		</ul>        
	</div>
</div>
-->
