#upper-footer-wrapper
  #upper-footer
    #footer-logo
      = link_to current_site.name, "/", :class => 'title'
      %span= t('footer.copyright', :site => current_site.name)
    .link-group
      %h3= t('footer.links.title')
      %ul
        %li= link_to(t('footer.links.help'), help_path)
        %li= link_to(t('footer.links.feedback'), new_feedback_path(), :id => "feedback_link" )
        %li= link_to(t('footer.links.statistics'), "/stats.html" )
    .link-group
      %h3= t('footer.find_us')
      %ul
        %li= link_to t('footer.website'), "http://www.inf.ufrgs.br/prav/gtmconf"
        %li= link_to t('footer.gcode'), "http://code.google.com/p/mconf"
        %li= link_to t('footer.github'), "https://github.com/mconf"
    .link-group.footer-languages
      = link_to 'http://code.google.com/p/mconf/wiki/MconfWebLocalization' do
        = info_icon t('translate.help_us'), :class => 'help-translate-icon'
      %h3= t('translate.change')
      - I18n.available_locales.each_slice(3) do |locales|
        %ul
          - locales.each do |locale|
            %li
              - flag = image_tag("flags/" + locale.to_s + ".png", :title => locale.to_s)
              - text = t('locales.' + locale.to_s)
              - link = link_to(text, session_locale_path(:new_locale => locale.to_s), :method => :post)
              = (flag + " " + link).html_safe
    .link-group.footer-sponsors
      %h3= t('footer.sponsors.title')
      %ul
        %li
          = image_tag("logos/rnp_small.jpg")
          = link_to t('footer.sponsors.rnp').html_safe, "http://www.rnp.br"
        %li
          = image_tag("logos/prav_small.png")
          = link_to t('footer.sponsors.prav').html_safe, "http://www.inf.ufrgs.br/prav"

#lower-footer-wrapper
  #lower-footer
    .version-info
      = t('footer.built_on_top_of').html_safe
    .current-version
      = t('footer.current_version') + ": "
      = link_to github_link_to_revision(application_revision) do
        = application_version + "/" + application_branch + "/" + application_revision
