<div id="global-wrapper">
  <div id="global">
	  <ul id="prefs">
        <% if logged_in? %>
				<% if current_user.superuser?%><li><%=link_to "Manage", site_path%></li><%end%>
	      <li><%= link_to "Inbox (#{PrivateMessage.inbox(current_user).select{|msg| !msg.checked}.size})", user_messages_path(current_user), menu_options(:inbox, :id => "user_inbox_link")%></li>
	  	  <li><%= link_to "Profile", user_profile_path(current_user), menu_options(:profile)%></li>
        <li><%= link_to "Preferences", edit_user_path(current_user), menu_options(:preferences) %></li>
	  	  <li><%= link_to "Logout (#{current_user.name})", logout_path %></li>
	    <% else %>
	  	<li><%= link_to 'Log in', login_path, :id => "login_link" %></li>
	    <% end %>
	</ul>
    <span id="global-logo"><%= image_tag("bola_global_peque.png",:class=>"icon")%><a href="/">Virtual Conference Centre</a></span>
    <span id="feedback"><%=link_to ("Send us feedback!", new_feedback_path(), :id => "feedback_link" )%></span>
	<span id="about"><%=link_to ("About GLOBAL" ,"http://www.global-project.eu")%></span>



  </div>
  
  
</div>
