<div id="global-wrapper">
  <div id="global">
	  <ul id="prefs">
        <% if logged_in? %>
	      <li><%= link_to "Inbox (#{PrivateMessage.inbox(current_user).select{|msg| !msg.checked}.size})", user_messages_path(current_user), menu_options(:inbox, :id => "user_inbox_link")%></li>
	  	  <li><%= link_to "Profile", user_profile_path(current_user), menu_options(:profile)%></li>
          <li><%= link_to "Preferences", edit_user_path(current_user), menu_options(:preferences) %></li>
	  	  <li><%= link_to "Logout (#{current_user.name})", logout_path %></li>
	    <% else %>
	  	<li><%= link_to 'Log in', login_path, :id => "login_link" %></li>
	    <% end %>
	</ul>
    <span id="global-logo"><%= image_tag("bola_global_peque.png",:class=>"icon")%><a href="/">Virtual Conference Centre</a></span>
    <span id="feedback"><%=mail_to ("enrique.barra@agora-2000.com" ,"Send us feedback!" )%></span>
	<span id="about"><%=link_to ("About GLOBAL" ,about_path())%></span>



  </div>
  
  
</div>
