<div id="logo">
	<ul>
		<li id="name_app">global-project</li>
		<% if logged_in? %>
		<li id="user_account"><%= current_user.login %></li>
		<% end %>
	</ul>
</div>

<div id="prefs">
	<ul>
	  	<% if logged_in? %>
		    <li><%= link_to "Inbox (#{PrivateMessage.find(:all).select{|msg| msg.receiver_id == current_user and !msg.checked}.size})", user_messages_path(current_user)%></li>
		    <li><%= link_to "Profile", user_profile_path(current_user)%></li>
		    <li>Preferences</li>
		    <li><%= link_to 'Logout', logout_path %></li>	
		<% else %>
			<li><%= link_to 'Log in', login_path %></li>
		<% end %>
	</ul>
</div>

