 <div id="logo">
	<% if space %>
	    <%= link_logo(space, :size => 256) %>
	<%else%>
		<%= image_tag("logo_small2.png",:size=>"255x68") %>
	<% end %>
</div>

<div id="search">
  <%= yield :search %>
</div>

<div id="prefs">
	<ul>
    <% if logged_in? %>
	    <li><%= link_to "Inbox (#{PrivateMessage.find_all_by_receiver_id(current_user).select{|msg| !msg.checked}.size})", user_messages_path(current_user), menu_options(:inbox, :id => "user_inbox_link")%></li>
	  	<li><%= link_to "Profile", user_profile_path(current_user), menu_options(:profile)%></li>
                <li><%= link_to "Preferences", edit_user_path(current_user), menu_options(:preferences) %></li>
	  	<li><%= link_to "Logout (#{current_user.name})", logout_path %></li>
	  <% else %>
	  	<li><%= link_to 'Log in', login_path, :id => "login_link" %></li>
	  <% end %>
	</ul>
</div>
