<% if space && space.id!=nil%>
 	  <div id="logo">
	    <%= link_logo(space, :size => "h64", :title=>space.name) %>
	  </div>
<%else%>
	<div id="vcc-logo">
		<%= link_to image_tag("vcc-logo-transparente1.png",:size=>"192x68"), root_path %>
	</div>
<% end %>
<div id="name-space">
	<%if space && space.id!=nil%>
	<%if space.name.size > 20%>
		<span id="small-title"><%=link_to(sanitize(first_words(space.name,30)),space_path(space), menu_options(:home))%></span>
	<%else%>
		<span><%=link_to(sanitize(space.name),space_path(space), menu_options(:home))%></span>
	<%end%>
	<%end%>
</div>

<div id="eu">
	<%=image_tag("flags/union_europea.jpg", :size=>"72x48")%>
</div>

<div id="search">
  <%= render :partial => 'search/form' %>
</div>