<div id="name-space">
  <%if space && space.id!=nil%>
    <%if space.name.size > 20%>
      <span id="small-title"><%=link_to(sanitize(first_words(space.name,30)),space_path(space), menu_options(:home))%></span>
    <%else%>
      <span><%=link_to(sanitize(space.name),space_path(space), menu_options(:home))%></span>
    <%end%>
  <% else %>
    <div id="page_header_title">
      <%= t('help_page.header_title') %>
    </div>
  <%end%>
</div>

<%= render :partial => 'layouts/header_logo' %>

<div id="search">
  <%= render :partial => 'search/form' %>
</div>