<div class="help-info">
  <div class="help-title">
    <h3><%=image_tag("icons/information.png",:class=>"icon",:title=>t('help_title.info')) + "  " + t('help_title.topics')%> </h3>
  </div>    
  <div class="topics-section">
	<ul>
	  <li><%=link_to(t('help_title.about_vcc'),:action=>"index")%>
	  <li><%=link_to(t('help_title.create_user'),:action=>"createuser")%>
	  <li><%=link_to(t('help_title.logging'),:action=>"logging")%>
	  <li><%=link_to(t('help_title.create_space'),:action=>"createspace")%>
	  <li><%=link_to(t('help_title.new_doc'),:action=>"newdocument")%>
	  <li><%=link_to(t('help_title.create_post'),:action=>"createpost")%>
	  <li><%=link_to(t('help_title.create_event'),:action=>"newevent")%>
	  <li><%=link_to(t('help_title.create_meeting'),:action=>"newmeeting")%>
	  <li><%=link_to(t('help_title.create_VM'),:action=>"newvirtualmeeting")%>
          <li><%=link_to(t('help_title.create_VC'),:action=>"newvirtualcongress")%>
	  <li><%=link_to(t('help_title.define_agenda'),:action=>"define_agenda")%>
	</ul>					     
  </div>
</div>      
