	<div id="home_menu">  
	  <div id="show">
	    <%=t('show')%>:
	    <%= check_box_tag "checkposts","checkposts",true%><%= label_tag "Posts"%>  <%= check_box_tag "events","events",true%><%= label_tag "Events" %><%= check_box_tag "news","news",true%><%= label_tag "News"%><%= check_box_tag "attachments","attachments",true%><%= label_tag "Attachments"%>
	  </div>
	  <div id="help" title= "<%= h(t('information.information2'))%>"></div>
	  	<h3><%=t('home.activity')%></h3>
	</div>
