<div id="logo">
        <%= raw(link_logo(current_user,:size => "64",:url => user_path(current_user),:title=>current_user.name)) %>
</div>

<div id="name-home">
  <span id="small-title"><%= link_to(image_tag("icons/MyHome3.png", :class=>"icon") + " " + t('home.my')) %></span>
</div>

<%= render :partial => 'layouts/header_logo' %>

<!--<%= render :partial => 'special_message'%>-->

<div id="search">
  <%= yield :search %>
</div>


