- if @space && @space.id != nil
  - member_or_superuser = (current_user && (@space.actors.include?(current_user) || current_user.superuser?))
  - if @space.public? || member_or_superuser
    #page-menu
      %ul
        %li= link_to t('home.one').capitalize, space_path(@space), spaces_menu_select_if(:home)
        %li= link_to t('webconference.one').capitalize, space_webconference_path(@space), spaces_menu_select_if(:webconference)
        %li= link_to t('post.wall').capitalize, space_posts_path(@space), spaces_menu_select_if(:posts)
        %li= link_to t('event.other').capitalize, space_events_path(@space), spaces_menu_select_if(:events)
        - if @space.authorize?([:read, :performance], :to => current_user)
          %li= link_to t('people').capitalize, space_users_path(@space), spaces_menu_select_if(:people)
        - if @space.repository?
          %li= link_to t('repository.one').capitalize, space_attachments_path(@space), spaces_menu_select_if(:repository)
        - if @space.role_for?(current_user, :name => 'Admin') || current_user.superuser?
          %li= link_to t('admin.one').capitalize, edit_space_path(@space), spaces_menu_select_if(:admin, :class => "admin danger-text")
