- url = user_signed_in? ? main_app.my_home_path : main_app.root_path
%a#navbar-logo{:href => url}

#navbar-right
  %ul#navbar-right-links
    - if user_signed_in?
      -# TODO: link, context based link and localization
      - room = current_user.bigbluebutton_room

      %li.navbar-conf-panel
        = link_to join_bigbluebutton_room_path(room), class: "btn-navbar tooltipped webconf-join-link", title: t('.conference_play_tooltip') do
          = icon_conference_play
        - if can?(:user_edit, room)
          = link_to user_edit_bigbluebutton_room_path(room), class: "btn-navbar open-modal tooltipped", title: t('.conference_config_tooltip') do
            = icon_options
        - if can?(:create_meeting, room)
          = link_to invitation_bigbluebutton_room_path(room), class: "btn-navbar open-modal tooltipped", title: t('.conference_invite_tooltip') do
            = icon_invitation
        = copy_room_url_icon 'invite-url-text', join_webconf_url(room), readonly: true, class: "btn-navbar open-modal tooltipped"

      %li.navbar-user-chip.dropdown.last
        .navbar-user-toggle.dropdown-toggle{ data: { toggle: 'dropdown' } }
          = logo_image(current_user, size: '128', class: "logo-user")
          - if current_user.subscription.present? && !current_user.subscription.disabled?
            .premium.tooltipped= icon_stars
        %ul.navbar-user-menu.dropdown-menu.dropdown-menu-right
          %li
            .observation= current_user.full_name
          %li.divider{ role: 'separator' }
          %li
            = link_to  main_app.user_path(current_user) do
              = icon_options
              = t(".account")
          %li.divider{ role: "separator"}
          %li
            = link_to main_app.logout_path do
              = icon_logout
              = t('logout', :user => current_user.name)

    - else
      - if current_site.local_auth_enabled? || current_site.ldap_enabled?
        %li{ sessions_menu_select_if(:login) }= link_to t('.login'), main_app.login_path
      - if current_site.registration_enabled?
        %li{ sessions_menu_select_if(:register) }= link_to t('.register'), main_app.register_path

- if user_signed_in?
  #navbar-left
    %ul#navbar-left-links
      - if mod_enabled?("spaces")
        %li= link_to t('space.all'), main_app.spaces_path
      - if mod_enabled?("events")
        %li= link_to t('.events'), events_path
      - if can?(:manage, @site)
        %li
          = link_to main_app.manage_path do
            = t('.manage')

- else
  #navbar-left.anonymous
    %ul#navbar-left-links
      -# for anonymous users
      - if mod_enabled?("spaces")
        %li= link_to t('space.all'), main_app.spaces_path
      - if mod_enabled?("events")
        %li= link_to t('.events'), events_path

- if content_for?(:navbar_menu)
  #navbar-menu
    = yield :navbar_menu
