<%if space %>
<div id="space_logo" class="span-24 last">
  <%= link_logo(space, :size => 96) %>
</div>
<%end%>

<div id="spaces_select" class="span-6">
  <select id="space_select" name="space">
    <% Space.all.each do |space| %>
    
    <option value="<%= space_path(space) %>"><%= space.name %></option>
    <% end %>
  </select>
</div>

<%if space %>
<div id="nav_bar" class="span-12">
  <ul>
	  <li><%=link_to "Home", space_path(space)%></li>
	  <li><%=link_to "Posts", space_posts_path(space)%></li>
	  <li><%=link_to "Events", space_events_path(space)%></li>
	  <li><%=link_to "People", space_users_path(space)if space.authorizes?([:read, :performance], :to => current_user)%></li>
 
<!--La tab de Admin sólo se muestra a los admin  -->
  
    <li><%=link_to "Admin", edit_space_path(space) if space.role_for?(current_user, :name => 'Admin')%></li>
  </ul>
</div>



  <div id="search">
    <%= yield :search %>
  </div>
<%end%>
