<%if space %>
<ul>

<li>
	
<div id="spaces_select">
  <select id="space_select" name="space">
    <% Space.all.each do |space| %>
    
    <option value="<%= space_path(space) %>"><%= space.name %></option>
    <% end %>
  </select>
</div>

</li>

<li>


<div id="nav_bar">	
  <ul>
	  <li><%=link_to "Home", space_path(space)%></li>
	  <li><%=link_to "Posts", space_posts_path(space)%></li>
	  <li><%=link_to "Events", space_events_path(space)%></li>
	  <li><%=link_to "People", space_users_path(space)%></li>
 
<!--La tab de Admin sólo se muestra a los admin  -->
  
    <li><%=link_to "Admin"%></li>
  </ul>
</div>


</li>

<li>
  <div id="search">
    <%= yield :search %>
  </div>
</li>
</ul>
<%end%>