- transparent ||= nil
- logo ||= nil

= content_for :"page-title" do
  - unless logo.nil?
    .current-page-logo{ :class => transparent ? 'clean' : '' }
      = image_tag(logo, :title => page_title)
    .current-page-title
      = page_title
    .current-title-extra
      - if content_for?(:"page-title-extra")
        = yield :"page-title-extra"
  - else
    .current-page-extra
      - if content_for?(:"page-title-extra")
        = yield :"page-title-extra"
    %h1= page_title
