<% unless params[:action]=='index' && params[:controller]=='spaces'%>
  <%= link_to( image_tag("buttons/create-space.png"), new_space_path,:class => "new_space_link")%>
<%end%>

<ul>
  <% if authenticated? && current_user.spaces.any? %>
    <h3 class="selector_title"><%= "My Spaces" %></h3>
    <% current_user.spaces.each do |s| %>
      <li><%= link_to(s.name, s, (@space == s ? { :class => "selected" } : {})) %></li>
    <% end -%>
  <% else -%>
  <% public_spaces = Space.public.all(:order => :name ) %>
	  <% if public_spaces.any? %>
	    <h3 class="selector_title"><%= "Public Spaces" %></h3>
	    <% public_spaces.each do |s| %>
	      <li><%= link_to(s.name, s, (@space == s ? { :class => "selected" } : {})) %></li>
	    <% end -%>
	  <% end -%>
	<% end -%>
</ul>

<% if !(params[:action]=='index' && params[:controller]=='spaces')%>
  <%=link_to "Show all spaces", spaces_path %>
<%end%>
