<% unless params[:action]=='index' && params[:controller]=='spaces'%>
  <%= link_to "<button class='create-space'>"+t('space.create_own')+"</button>", new_space_path,:class => "new_space_link"%>
<%end%>

<ul class="first_ul">
	<%@global = Space.find_by_name("GLOBAL")%>
	<%if @global.present?%>
		<h3 class="selector_title"><%= t('space.main') %></h3>
		<%if @space == @global%>
			<li class="selected vip-space"><%= link_to(@global.name, @global, :class => "selected") %></li>
		<%else%>
	  	<li class="vip-space"><%= link_to(@global.name, @global) %></li>
		<%end%>
	<%end%>	
</ul>
<ul>
  <% if authenticated? && current_user.spaces.any? %>
  	
	<div id="help"></div>
	<h3 class="selector_title"><%= "My Spaces" %></h3>
	<div class="w-background">
    <% (current_user.spaces - [@global]).each do |s| %>
		  <%if @space == s %>
        <li class="selected"><%= link_to(s.name, s, :class => "selected") %></li>
			<%else%>
			  <li><%= link_to(s.name, s) %></li>
			<%end%>
    <% end -%>
	</div>
  <% else -%>
  <% public_spaces = Space.public.all(:order => :name ) %>
	  <% if public_spaces.any? %>
	    <h3 class="selector_title"><%= "Public Spaces" %></h3>
	    <% (public_spaces - [@global]).each do |s| %>
	      <%if @space == s %>
          <li class="selected"><%= link_to(s.name, s, :class => "selected") %></li>
        <%else%>
          <li><%= link_to(s.name, s) %></li>
        <%end%>
	    <% end -%>
	  <% end -%>
	<% end -%>
</ul>

<% if !(params[:action]=='index' && params[:controller]=='spaces')%>
  <%=link_to t("space.show_all"), spaces_path, :class=>"blue bold"%>
<%end%>
