<% unless params[:action]=='index' && params[:controller]=='spaces'%>
  <%= link_to( image_tag("buttons/create_space_amarillo.png"), new_space_path,:class => "new_space_link")%>
<%end%>

<ul>
  <% if authenticated? && current_user.spaces.any? %>
    <h3 class="selector_title"><%= "My Spaces" %></h3>
    <% current_user.spaces.each do |s| %>
		  <%if @space == s %>
        <li class="selected"><%= link_to(s.name, s, :class => "selected") %></li>
			<%else%>
			  <li><%= link_to(s.name, s) %></li>
			<%end%>
    <% end -%>
  <% else -%>
  <% public_spaces = Space.public.all(:order => :name ) %>
	  <% if public_spaces.any? %>
	    <h3 class="selector_title"><%= "Public Spaces" %></h3>
	    <% public_spaces.each do |s| %>
	      <%if @space == s %>
          <li class="selected"><%= link_to(s.name, s, :class => "selected") %></li>
        <%else%>
          <li><%= link_to(s.name, s) %></li>
        <%end%>
	    <% end -%>
	  <% end -%>
	<% end -%>
</ul>

<% if !(params[:action]=='index' && params[:controller]=='spaces')%>
  <%=link_to "Show all spaces", spaces_path %>
<%end%>
