- if @space && @space.id != nil
  .current-page-logo
    = logo_image(@space, :size => "84x64", :title => @space.name)
  .current-page-title.space-page
    - if @space.name.size > 60
      .main-title.small-title
        = sanitize(first_words(@space.name, 60))
    - else
      .main-title= sanitize(@space.name)
    - if @space.public
      .resource-visibility.public
        = icon_space_public
        = t(".public")
    - else
      .resource-visibility.private
        = icon_space_private
        = t(".private")
    - if user_signed_in? && @space.users.include?(current_user)
      %span.user-is-member
        = icon_is_member
        = t(".is_member")
