-# Default layout
= content_for :base_content do
  - if sidenav_visible?
    #sidenav= render :partial => "layouts/sidenav"

  - cls_sidenav = sidenav_visible? ? 'with-sidenav' : 'without-sidenav'
  #site{ class: cls_sidenav }
    #navbar
      = render :partial => 'layouts/navbar'

    - if content_for?(:content_notification)
      #content-notification
        = yield :content_notification

    #content

      - if content_for?(:sidebar) || content_for?(:sidebar_menu)
        #sidebar
          = yield :sidebar
          - if content_for?(:sidebar_menu)
            #sidebar-menu
              = yield :sidebar_menu

      #content-middle

        -# an internal menu for the page to navigate through sub-pages
        - if content_for?(:page_menu)
          #page-menu
            = yield :page_menu

        -# a list of actions for this page (e.g. destroy resource)
        - if content_for?(:page_actions)
          #page-actions
            = yield :page_actions

        -# the actual page content
        = yield

    #footer-pusher

  = render :partial => "layouts/footer"
  = render :partial => "layouts/analytics"
  = render :partial => "layouts/notifications"

= render :file => 'layouts/base'
