<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= yield :title %></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
    <%= yield :headers %>

    <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "style", :media => "screen, projection" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <!--[if IE]> 
    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
    <![endif]-->

    <%= javascript_include_tag 'jquery', 'application' %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :javascript %>
      }
    </script>
  </head>

	<body>
	  
	  <div id="site" class="container showgrid">
		  <div id="header" class="span-24 last">
		    <%= render :partial => "layouts/header" %>
		  </div>
		  
		  <div id="navigation" class="span-24 last">
		    <%= render :partial => "layouts/navigation" %>
		  </div>
		  
		  <div id="content" class="span-24 last">
		    <div id="main" class="span-18">
		      <%= yield %>
		    </div>
		    
		    <div id="sidebar" class="span-6 last">
		      <%= yield :sidebar %>
		    </div>
		  </div>
		  
		  <div id="footer" class="span-24 last">
		    <%= render :partial => "layouts/footer" %>
		  </div>    
	  </div>
	</body>
</html>
