!!! Strict
%html{:lang => I18n.locale.to_s}

  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %title= content_for?(:title) ? yield(:title) : current_site.name
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}

    = stylesheet_link_tag "application_print", :media => "print"
    = stylesheet_link_tag "application", :media => "screen, projection"
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    -# Automatically includes js's and css's for the current controller and action
    - stylesheet_link_tags_for_action
    - javascript_include_tags_for_action

    -unless Rails.env == "production"
      :css
        .translation_missing {
          color: purple;
          background-color: red;
        }

    = yield :headers

  %body
    #site
      #global-header-wrapper
        = render :partial => 'layouts/application_global_header'
      #page-header-wrapper
        = render :partial => "layouts/application_header"
        = render_clearer
      #content-wrapper
        = render :partial => "layouts/notifications"
        #content
          #content-middle
            -# TODO: Maybe remove this menu from the layout and add a yield :menu
            = render :partial => "layouts/menu"
            = yield
          - if content_for?(:sidebar)
            #sidebar
              = yield :sidebar
          = render_clearer
      = render :partial => "layouts/footer"
    = render :partial => "layouts/analytics"
