<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= yield :title %></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
		<%= stylesheet_link_tag "screen", :media => "screen, projection" %>
		<%= stylesheet_link_tag "style", :media => "screen, projection" %>
		<%= stylesheet_link_tag "print", :media => "print" %>
    <!--[if IE]> 
      <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
    <![endif]-->
	</head>

	<body>
	  
	  <div id="site" class="container showgrid">
		  <%= render :partial => "layouts/header" %>
		  <%= render :partial => "layouts/navigation" %>
		  <%= yield %>
		  <%= render :partial => "layouts/footer" %>
	  </div>
	</body>
</html>