= content_for :base_content do
  #site
    #navbar-wrapper
      #navbar
        = render :partial => 'layouts/application_navbar'

    #page-header-wrapper
      #page-header
        - if content_for?(:page_header)
          = yield :page_header
        - else
          = render :partial => "layouts/spaces_page_title"
        - if content_for?(:page_menu)
          #page-menu
            = yield :page_menu

    #content-wrapper
      #content
        #content-middle
          = yield
        - if content_for?(:sidebar)
          #sidebar
            = yield :sidebar

    #footer-pusher

  = render :partial => "layouts/footer"

  = render :partial => "layouts/analytics"
  = render :partial => "layouts/notifications"
  = render :partial => "shared/copy_modal"

= render :file => 'layouts/base'
