<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= content_for?(:title) ? yield(:title) : current_site.name %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <%= stylesheet_link_tag "application_print", :media => "print" %>
    <%= stylesheet_link_tag "application", :media => "screen, projection" %>
    <!--[if IE]>
    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield :headers %>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :javascript %>
      })
    </script>

  </head>

  <body>
    <div id="site">
      <%= render :partial => "layouts/global_clean" %>
      <%= yield %>
      <%= render :partial => "layouts/footer" %>
    </div>

    <%= render :partial => "layouts/analytics" %>
  </body>

</html>
