<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= yield :title %></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
    <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "calendar", :media => "screen, projection" %>
    <%= stylesheet_link_tag "jquery.fancybox", :media => "screen, projection" %>
	  <%= stylesheet_link_tag "timeentry", :media => "screen, projection" %>
	  <%= stylesheet_link_tag "print", :media => "print" %>
		
    <!--[if IE]> 
    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
    <![endif]-->

    <%= javascript_include_tag 'jquery', 'application', 'jquery.livequery', 'jquery.fancybox', 'jquery.easing', 'jquery-ui', 'jquery.form' %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= render :partial => 'layouts/ready.js.erb' %>
        <%= yield :javascript %>
      })
    </script>
		
		<%= yield :headers %>
  </head>

	<body>
	  <div id="site">
		  <%= render :partial => "layouts/global" %>

		  <div id="space">
		    <div id="header">
		      <%= render :partial => "layouts/header" %>
		    </div>

		    <div id="content">
		      <div id="selector">
  		      <%= render :partial => "layouts/selector" %>
		      </div>
		      
		      <div id="main">
		        <div id="menu">
		          <%= render :partial => "layouts/menu" %>
		        </div>
		        
		        <% flash.each do |name, msg| %>
		          <div class="<%= name %>"><%= msg %></div>
            <% end %>

     		    <%= yield %>
		      </div>      
		      
        </div>
            
		    <div id="footer">
		      <%= render :partial => "layouts/footer" %>  
		    </div>
		  </div>
	  </div>
	</body>
</html>
