!!! Strict
%html{:lang => I18n.locale.to_s}

  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %title= content_for?(:title) ? yield(:title) : current_site.name
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}

    = stylesheet_link_tag "application_print", :media => "print"
    = stylesheet_link_tag "application", :media => "screen, projection"
    = stylesheet_link_tag "errors", :media => "screen, projection"
    = stylesheet_link_tag "_development" unless Rails.env == "production"

    /[if IE]
      // HTML5 shim, for IE6-8 support of HTML elements
      /[if lt IE 9]
        = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    = csrf_meta_tag
    = yield :headers

  %body{ :class => "errors" }
    #site
      #navbar-wrapper
        #navbar
          = render :partial => 'layouts/application_navbar'
      #content-wrapper
        #content
          = render :partial => "errors/default_content"
          = yield
      = render :partial => "layouts/footer_simple"

    = render :partial => "layouts/analytics"
    = render :partial => "layouts/notifications"

    -# Javascript placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = javascript_include_tag "errors"
