<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= content_for?(:title) ? yield(:title) : current_site.name %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <%= stylesheet_link_tag "application_print", :media => "print" %>
    <%= stylesheet_link_tag "application", :media => "screen, projection" %>
    <%= stylesheet_link_tag "faq_temp", :media => "screen, projection" %>
    <% unless Rails.env == "production" %>
      <style type="text/css">
        .translation_missing {
          color: purple;
          background-color: red;
        }
      </style>
    <% end %>

    <!--[if IE]>
    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
                <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :javascript %>
      })
    </script>
  </head>

  <body>
    <div id="site">
      <%= render :partial => "layouts/application_global_header" %>
      <div id="faq">
        <div id="header">
          <%= render :partial => "layouts/faq_header" %>
        </div>
        <div id="content">
          <div id="main">
            <% flash.each do |name, msg| %>
              <div class="<%= name %>"><%= msg.html_safe %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render :partial => "layouts/footer" %>
    </div>

    <%= render :partial => "layouts/analytics" %>
  </body>
</html>
