!!! Strict
%html{:lang => I18n.locale.to_s}

  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %title= content_for?(:title) ? yield(:title) : current_site.name
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}

    = stylesheet_link_tag 'application_print', :media => 'print'
    = stylesheet_link_tag 'frontpage', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'frontpage_ie.css', :media => 'screen, projection'
    = javascript_include_tag 'frontpage'
    = csrf_meta_tag

    -unless Rails.env == "production"
      :css
        .translation_missing {
          color: purple;
          background-color: red;
        }

    = yield :headers

  %body
    #site
      #global-header-wrapper
        = yield :"global-header"
      #content-wrapper
        = render :partial => "layouts/notifications"
        #content
          = yield
      = render :partial => "layouts/footer"
    = render :partial => "layouts/analytics"
