!!! Strict
%html{:lang => I18n.locale.to_s}

  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %title= content_for?(:title) ? yield(:title) : current_site.name
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}

    = stylesheet_link_tag 'layouts/application_print', :media => 'print'
    = stylesheet_link_tag 'layouts/frontpage', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'layouts/frontpage_ie.css', :media => 'screen, projection'
      // HTML5 shim, for IE6-8 support of HTML elements
      /[if lt IE 9]
        = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tag

    -unless Rails.env == "production"
      :css
        .translation_missing {
          color: purple;
          background-color: red;
        }

    = yield :headers

  -# TODO: why can't this data-spy be called from the js? (see frontpage/show.js)
  %body{ :"data-spy" => "scroll", :"data-target" => "#subnav", :"data-offset" => "80" }
    #site
      #navbar-wrapper
        = yield :"navbar"
      #content-wrapper
        = render :partial => "layouts/notifications"
        = yield
      = render :partial => "layouts/footer"
    = render :partial => "layouts/analytics"

    // Javascript placed at the end of the document so the pages load faster
    = javascript_include_tag 'layouts/frontpage'
