!!! Strict
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    = stylesheet_link_tag "mailers", :media => "screen, projection"
    = yield :headers
  %body{:class => "#{@mailer_name} #{@mail_name}"}
    #logo
      = link_to root_url do
        = image_tag URI.join(root_url, image_path('MconfTec.png')), size: '364x120'
    #message-box
      = yield
    #footer
      .social-links
        %p
          %span= t('.social')
          = link_to "https://www.facebook.com/mconftecnologia/" do
            = image_tag URI.join(root_url, image_path('ico-facebook.png')), size: '30x30'
          = link_to "https://www.linkedin.com/company/15257740" do
            = image_tag URI.join(root_url, image_path('ico-linkedin.png')), size: '30x30'
      %p= t('.signature').html_safe
