!!! Strict
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    = stylesheet_link_tag "mailers", :media => "screen, projection"
    = yield :headers
  %body{:class => "#{@mailer_name} #{@mail_name}"}
    .header-logo
      #mconf-com

    .message-body
      = yield
      .footer_message
        %label= t('.question')
        .contact= t('.e_mail')
      .image_footer
        #facebook= link_to(" ", t('.facebook'))
        #linkedin= link_to(" ",t('.linkedin'))
        #medium= link_to(" ",t('.medium'))
    .footer
      %label= t('.footer_title')
      %label= t('.adress')
      %label= t('.phone')
      .cancel= t('.unsubscribe')