<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= yield :title %></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
    <% if current_user.chat_activation %>
      <script type="text/javascript" charset="utf-8">
        if (window == window.top) {
          window.location.replace("<%= url_for :controller => 'p', :action => 'index', :only_path => true %>");
        }
      </script>
    <% end %>
                    
    <%= stylesheet_link_tag "common", :media => "screen, projection" %>
    <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "lightbox", :media => "screen, projection" %>
    <%= stylesheet_link_tag "calendar", :media => "screen, projection" %>
    <%= stylesheet_link_tag "jquery.fancybox", :media => "screen, projection" %>
    <%= stylesheet_link_tag "jquery.jcrop", :media => "screen, projection" %>
    <%= stylesheet_link_tag "timeentry", :media => "screen, projection" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "token-input-facebook", :media => "screen, projection" %>
                
    <!--[if IE]> 
    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
    <![endif]-->
    <script type="text/javascript">
      if (navigator.userAgent.indexOf('Mac') != -1) { 
         document.write("<link href='/stylesheets/mac.css' media='screen, projection' rel='stylesheet' type='text/css' />"); 
      }
    </script>

    <%= javascript_include_tag 'rails.js',   'jquery', 'application', 'jquery.livequery', 'jquery.fancybox', 'jquery.easing', 'jquery-ui', 'jquery.form','jquery.qtip-1.0.0-rc3', 'jquery.tokeninput' %>
    <%= csrf_meta_tag %>
    <%= yield :headers %>
                
          <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
                <%= render :partial => 'layouts/ready.js.erb' %>
        <%= yield :javascript %>
                <%if params[:controller]=="events" && (params[:action]=="new" || params[:action]=="edit")%>             
                         $("#little_triangle").addClass("triangle_first_step");
                         $("#second_step_logo").addClass("with_opacity");
                         $("#third_step_logo").addClass("with_opacity");
                <%end%>
                                
                <%if (params[:controller]=="agendas" || params[:controller]=="agenda_entries") && params[:action]=="edit"%>             
                        $("#little_triangle").addClass("triangle_second_step"); 
                        $("#first_step_logo").addClass("with_opacity");
                        $("#third_step_logo").addClass("with_opacity");
                <%end%>                             
                                        
                <%if params[:step]=="3"%>
                        $("#little_triangle").addClass("triangle_third_step");
                        $("#first_step_logo").addClass("with_opacity");
                        $("#second_step_logo").addClass("with_opacity");                        
                <%end%>         
                
      })
    </script>
        
  </head>

        <body>
          <div id="site">
                  <%= render :partial => "layouts/global" %>
                  <div id="space">
                    <div id="header">
                <div id="eu">
                  <%=image_tag("flags/union_europea.jpg", :size=>"72x48")%>
                </div>
                                        <div id="all_steps">
                                
                                <%if params[:controller]=="events" && params[:action]=="new"%>          
                              <div id="first_step_logo"><h2 class="blue">Create event</h2></div>
                                <%else%>
                                  <div id="first_step_logo"><h2 class="blue">Edit event</h2></div>
                                <%end%>
                                    
                                    <div id="second_step_logo"><h2 class="blue">Define program</h2></div>       
                                    <div id="third_step_logo"><h2 class="blue">Invite people</h2></div>
                            </div>      
                                        <span id="little_triangle" class="triangle_css"/>                 
                    </div>
                    <div id="content">                
                      <div id="main">
            <% flash.each do |name, msg| %>
              <div class="<%= name %>"><%= msg.html_safe %></div>
            <% end %>
                        <%= yield %>
                            </div>
                      <div id="sidebar">
                        <%= yield :sidebar %>
          </div>
        </div>
              <%= render :partial => "layouts/footer" %>  
            </div>
          </div>
                                
        </body>
</html>
