<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<%= javascript_include_tag :defaults %>
    <title><%= yield :title %></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
    <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
		<%= stylesheet_link_tag "translate", :media => "screen, projection" %>
 	  <%= stylesheet_link_tag "print", :media => "print" %>
		
    <!--[if IE]> 
    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
    <![endif]-->

<!-- Translate Javascript-->

		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">
      google.load("language", "1");

      function getGoogleTranslation(id, text, from_language, to_language) {
        text = text.replace(/\{\{/, '__').replace(/\}\}/, '__')
        google.language.translate(text, from_language, to_language, function(result) {
          if (!result.error) { 
            result_text = result.translation.unescapeHTML().gsub(/__(.+)__/, function(match){
              return '{{' + match[1] + '}}';
            });
            Form.Element.setValue(id, result_text);
          }
        });

    }

    /*
    prototypeUtils.js from http://jehiah.com/
    Licensed under Creative Commons.
    version 1.0 December 20 2005

    Contains:
    + Form.Element.setValue()
    + unpackToForm()

    */

    /* Form.Element.setValue("fieldname/id","valueToSet") */
    Form.Element.setValue = function(element,newValue) {
        element_id = element;
        element = $(element);
        if (!element){element = document.getElementsByName(element_id)[0];}
        if (!element){return false;}
        var method = element.tagName.toLowerCase();
        var parameter = Form.Element.SetSerializers[method](element,newValue);
    }

    Form.Element.SetSerializers = {
      input: function(element,newValue) {
        switch (element.type.toLowerCase()) {
          case 'submit':
          case 'hidden':
          case 'password':
          case 'text':
            return Form.Element.SetSerializers.textarea(element,newValue);
          case 'checkbox':
          case 'radio':
            return Form.Element.SetSerializers.inputSelector(element,newValue);
        }
        return false;
      },

      inputSelector: function(element,newValue) {
        fields = document.getElementsByName(element.name);
        for (var i=0;i<fields.length;i++){
          if (fields[i].value == newValue){
            fields[i].checked = true;
          }
        }
      },

      textarea: function(element,newValue) {
        element.value = newValue;
      },

      select: function(element,newValue) {
        var value = '', opt, index = element.selectedIndex;
        for (var i=0;i< element.options.length;i++){
          if (element.options[i].value == newValue){
            element.selectedIndex = i;
            return true;
          }        
        }
      }
    }

    function unpackToForm(data){
       for (i in data){
         Form.Element.setValue(i,data[i].toString());
       }
    }

</script>

    <script type="text/javascript">
      if (navigator.userAgent.indexOf('Mac') != -1) { 
         document.write("<link href='/stylesheets/mac.css' media='screen, projection' rel='stylesheet' type='text/css' />"); 
      }
    </script>

  </head>

	<body>
	  <div id="site">
		  <%= render :partial => "layouts/global" %>

		  <div id="space">
		    <div id="header">
		      <%= render :partial => "layouts/header" %>
		    </div>

    <div id="container">
        <% [:notice, :error].each do |message| %>
          <%if flash[message] %>
          <div id="<%= message %>">
              <span><%= h(flash[message]) if flash[message] %></span>
          </div>
          <% end %>
        <% end %>
    <%= yield %>
    </div>

        </div>
	  <%= render :partial => "layouts/footer" %>  
	  </div>	  

	  </div>
		
	</body>
</html>
